<%= form_for(@admin_general,:html => {:id => 'general_form_account' },:remote => true) do |f| %>
  <%= f.hidden_field :service2, :value => "test2" %>
  <div class="row">
    <div class = "col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :acc_currency,"Account Currency *" %>
        <%= f.text_field :acc_currency,:class => "form-control" %>
        <span id="generalacccurrency_error" class="error_list" style="display:none;"></span>
      </div><br />
    </div>
    <div class = "col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :show_currency,"Show Currency *" %>
        <%= f.text_field :show_currency,:class => "form-control" %>
        <span id="generalshowcurrency_error" class="error_list" style="display:none;"></span>
      </div><br />
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary btn-sm" %> &nbsp;&nbsp;
    <%= link_to 'Skip  >>',admin_general_edit_social_spec_path(@admin_general), :class => "underline",:remote => true %>
  </div>
<% end %>
<script>
  $("#general_form_account").submit(function(){ 
    var general_acc_curr=$("#admin_general_acc_currency").val();
    var general_show_curr=$("#admin_general_show_currency").val();
    $("#generalacccurrency_error").css("display","block");
    $("#generalacccurrency_error").html("");
    $("#generalshowcurrency_error").css("display","block");
    $("#generalshowcurrency_error").html("");
    var g=1;
    var h=1;
    if(general_acc_curr==""){
      $("#generalacccurrency_error").css("display","block");
      $("#generalacccurrency_error").html("Enter your Account Currency");
      g=0;
    }
    if(general_show_curr==""){
      $("#generalshowcurrency_error").css("display","block");
      $("#generalshowcurrency_error").html("Enter your Show Currency");
      h=0;
    }
    if(g==1 && h==1){
      return true;
    }
    else{
      return false;
    }
  });
</script>