<%= form_for(@admin_general,:html => {:id => 'general_form_seo' },:remote => true) do |f| %>
  <%= f.hidden_field :service1, :value => "test1" %>
  <div class="field">
    <%= f.label :page_title,"Default Page Title *" %>
    <%= f.text_field :page_title,:class => "form-control" %>
    <span id="generaltitle_error" class="error_list" style="display:none;"></span>
  </div><br />
  <div class="field">
    <%= f.label :meta_des,"Default Meta Description *" %>
    <%= f.text_area :meta_des,:class => "form-control" %>
    <span id="generaldesc_error" class="error_list" style="display:none;"></span>
  </div><br />
  <div class="field">
    <%= f.label :a_text,"Paste Google Analytics code" %>
    <%= f.text_area :a_text,:class => "form-control" %>
    <span id="generalgoogle_error" class="error_list" style="display:none;"></span>
  </div><br />
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary btn-sm" %> &nbsp;&nbsp;
    <%= link_to '<< Previous',admin_general_edit_acc_spec_path(@admin_general),:remote => true , :class => "underline" %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Skip  >>',admin_general_edit_social_spec_path(@admin_general), :class => "underline",:remote => true %>
  </div>
<% end %>
<script>
$("#general_form_seo").submit(function(){ 
      var general_page_title=$("#admin_general_page_title").val();
      var general_meta_des=$("#admin_general_meta_des").val();
      $("#generaltitle_error").css("display","block");
      $("#generaltitle_error").html("");
      $("#generaldesc_error").css("display","block");
      $("#generaldesc_error").html("");
      var g=1;
      var h=1;
      if(general_page_title==""){
        $("#generaltitle_error").css("display","block");
        $("#generaltitle_error").html("Enter Your Default Page Title");
        g=0;
      }
      if(general_meta_des==""){
        $("#generaldesc_error").css("display","block");
        $("#generaldesc_error").html("Enter Your Default Meta Description");
        h=0;
      }
      if(g==1 && h==1){
        return true;
      }
      else{
        return false;
      }
    });

</script>