<%= form_for(@admin_general,:html => {:id => 'general_form' },:remote => true) do |f| %>
  <% if @admin_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_general.errors.count, "error") %> prohibited this admin_general from being saved:</h2>
      <ul>
      <% @admin_general.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :service, :value => "test" %>
  <div class="row">
    <div class = "col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :fb_link,"Facebook Link" %>
        <%= f.text_field :fb_link,:class => "form-control" %>        
      </div><br />
    </div>
    <div class = "col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :tw_link,"Twitter Link" %>
        <%= f.text_field :tw_link,:class => "form-control" %>
      </div><br />
    </div>
  </div>
  <div class="row">
    <div class = "col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :gp_link,"Google Plus" %>
        <%= f.text_field :gp_link,:class => "form-control" %>        
      </div><br />
    </div>
    <div class = "col-sm-6 col-xs-12">
      <div class="field">
        <%= f.label :pt_link,"Pinterest" %>
        <%= f.text_field :pt_link,:class => "form-control" %>
      </div><br />
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary btn-sm" %>&nbsp;&nbsp;
    <%= link_to '<< Previous',admin_general_edit_acc_spec_path(@admin_general), :class => "underline",:remote => true %>&nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Skip  >>',admin_general_edit_seo_spec_path(@admin_general), :class => "underline" ,:remote => true %>
  </div>  
<% end %>