<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li><i class="ace-icon fa fa-cogs"></i>&nbsp;&nbsp;<%= link_to "Generals", admin_generals_path, :remote => true %></li>
    <li class="active">Edit Store Details</li>
  </ul><!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
</div><br/> 

  <div class="page-content" >
      
      <!-- flash start --> 
      <div class="flash_message_panel" >
        <%= render partial: "layouts/shared/flash_msg" %> 
      </div>
      <!-- flash end -->
       <%= form_for(@admin_general,:html => {:id => 'general_form_store12' }) do |f| %>
              
          <div class ="row ">
            <div class="col-xs-12 col-sm-3">
              <label class="text-info fs14" > Store Details </label><br /><br />
              <p class="text_justify">Edit your store information. The store name shows up on your storefront, while the title and meta description help define how your store shows up on search engines.</p>
            </div>
            <div class="col-xs-12 col-sm-9">
                <% if @admin_general.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@admin_general.errors.count, "error") %> prohibited this admin_general from being saved:</h2>
                    <ul>
                    <% @admin_general.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="field">
              <%= f.label :store_name, "Name", :class => "label-color" %>    
              <%= f.text_field :store_name,:class => "form-control" %>
              <span id="generalname_error" class="error_list" style="display:none;"></span>
            </div><br />
            <div class="row">
              <div class = "col-sm-6 col-xs-12">
                <div class="field">
                  <%= f.label :account_email,"Account Email", :class => "label-color" %>
                  <%= f.text_field :account_email,:class => "form-control" %>
                  <span id="generalaccmail_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
              <div class = "col-sm-6 col-xs-12">
                <div class="field">
                  <%= f.label :com_email,"Customer Email", :class => "label-color" %>
                  <%= f.text_field :com_email,:class => "form-control",:rows => 40, :cols => 120 %>
                  <span id="generalcommail_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
            </div>  <br />  
            <div class="row">
              <div class = "col-sm-6 col-xs-12">
                <div class="field">
                  <%= f.label :legal_name,"Legal Name of Bussiness", :class => "label-color" %>
                  <%= f.text_field :legal_name,:class => "form-control" %>
                  <span id="generallegal_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
              <div class = "col-sm-6 col-xs-12">
                <div class="field">
                  <%= f.label :category_level,"Category Level", :class => "label-color" %>
                  <%= f.number_field :category_level,:class => "form-control",:min => 1,:max => 3 %>
                  <span id="category_level_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
            </div><br/>
            <div class="row">
              <div class = "col-sm-3 col-xs-6">
                <div class="field">
                  <%= f.label :min_order,"Minimum Order Cost", :class => "label-color" %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <%= f.check_box :min_order,:class=>"ace", :id => "min_feature" %>
                    <span class="lbl label-color"> </span>
                  </label>
                  <div id="cost_tag" style="<% f.object.min_order ? 'display:none' : ''%>">
                    <label>
                      <%= f.text_field :min_cost,:class=>"ace" ,:placeholder => "minimum order cost"%>
                    </label> 
                  </div>
                  <span id="general_min_cost_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
              <div class = "col-sm-3 col-xs-6 ">
                <div class="field pull-right">
                  <%= f.label :cod_preference,"Cash on Delivery", :class => "label-color" %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <%= f.check_box :cod_preference,:class=>"ace" %>
                    <span class="lbl label-color"> </span>
                  </label>
                  <span id="generallegal_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
              <div class = "col-sm-3 col-xs-12 ">
                <div class="field">
                  <%= f.label :fixed_rate,"Fixed Rate", :class => "label-color" %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <%= f.check_box :fixed_rate,:class=>"ace" %>
                    <span class="lbl label-color"> </span>
                  </label>
                  <span id="generallegal_error" class="error_list" style="display:none;"></span>
                </div>
              </div>
            </div><br/>
            
            <%= f.fields_for :addresses do |builder| %>
              <%= f.label :avatar,"Add Logo", :class => "label-color" %> 
              <label class="ace-file-input">
                <%= f.file_field :avatar,:id => "id-input-file-2" %>
                  <span class="ace-file-container" data-title="Choose">
                    <span class="ace-file-name" data-title="No File ...">
                      <i class=" ace-icon fa fa-upload"></i>
                    </span>
                  </span>
              </label>
              <fieldset class=""><br/>    
                <%= builder.label :country, "Country",:class => "label-color" %><br/>
                 <%= builder.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form-control country1 coun shipping_country_select_box blue_textbox",:title => "Country" } %>  
                <span id="country100_error" class="error_list" style="display:none;"></span>
                <%= builder.label :state, "State",:style => "", :class => "form-margin label-color" %><br/>
                <%= builder.select(:state, [builder.object.state], {:prompt => "Select State",:selected => builder.object.state}, { :class => 'form-control blue_textbox state1 stat ' ,:style=> "margin-bottom:10px;"}) %>
                <span id="states100_error" class="error_list" style="display:none;"></span>
                </span>
                <%= builder.label :add_line2, "District, City",:style => "", :class => "label-color form-margin" %>
                <%= builder.select(:add_line2, [builder.object.add_line2], {:prompt => "Select City",:selected => builder.object.state}, { :class => 'form-control input-text city1 dist ' }) %>
                <span id="address102_error" class="error_list" style="display:none;"></span>
                <%= builder.label :c_code, "Pin Code",:style => "", :class => "form-margin label-color" %><br/>
                <%= builder.select(:c_code, [builder.object.c_code], {:prompt => "Select Pincode"}, { :class => 'form-control code1 ' }) %>     
                <span id="pin100_error" class="error_list" style="display:none;"></span>
                  <%= builder.label :add_line1, "Door No & Street, Town",:class => "form-margin label-color" %><br/>
                  <%= builder.text_area :add_line1,:class => "form-control doorno1 blue_textbox", :id => "address101" %><br/>
                <span id="address101_error" class="error_list" style="display:none;"></span>
                <%= builder.label :phone, "Contact Number",:class => "label-color" %><br/>
                <%= builder.text_field :phone,:class => "form-control blue_textbox phone1", :id => "cnumber100" %><br/>
                <span id="cnumber100_error" class="error_list" style="display:none;"></span><br />
              </fieldset>
            <% end %><br/>
            <div class="actions">
              <%= f.submit "Save", :class => "btn btn-sm btn-primary" %>
            </div>
         </div>  
      <% end %>
    </div>
    
<script>
$("#id-input-file-2").change(function() {
        str = $(this).val();
        arr = str.split("^/\*\/");
        strFine = arr[arr.length-1];
        $(".ace-file-name").attr( "data-title", strFine );
    });
  var checkbox = document.getElementById('min_feature');
  var cost_div = document.getElementById('cost_tag');
  checkbox.onchange = function() {
     if(this.checked) {
       cost_div.style['display'] = 'block';
     } else {
       $("#admin_general_min_cost").val(" ");
       cost_div.style['display'] = 'none';
     }
  };

$("#general_form_store12").submit(function(){
      var generalname=$("#admin_general_store_name").val();      
      var generalaccmail=$("#admin_general_account_email").val();
      var generalcommail=$("#admin_general_com_email").val();
      var generallegal=$("#admin_general_legal_name").val();
      var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i; 
      var form_address101=$("#address101").val();
      var form_address102=$(".city1").val();
      var form_states100=$(".state1").val(); 
      var form_country=$(".country1").val();
      var form_pin=$(".code1").val();
      var form_mobile1=$("#cnumber100").val();
      var alphaNumeric = /^[0-9]{5,10}$/;
      var alphaNumeric1 = /^[0-9]{10,21}$/;  
      $("#generalname_error").css("display","block");
      $("#generalname_error").html("");      
      $("#generalaccmail_error").css("display","block");
      $("#generalaccmail_error").html("");
      $("#generalcommail_error").css("display","block");
      $("#generalcommail_error").html("");
      $("#generallegal_error").css("display","block");
      $("#generallegal_error").html(""); 
      $("#address101_error").css("display","block");    
      $("#address101_error").html("");
      $("#address102_error").css("display","block");    
      $("#address102_error").html(""); 
      $("#states100_error").css("display","block");    
      $("#states100_error").html("");   
      $("#country100_error").css("display","block");    
      $("#country100_error").html("");
      $("#pin100_error").css("display","block");    
      $("#pin100_error").html("");
      $("#cnumber100_error").css("display","block");    
      $("#cnumber100_error").html("");
       $("#general_min_cost_error").css("display","block");
      $("#general_min_cost_error").html("");        
      var a=1;
      var b=1;
      var c=1;
      var d=1;
      var e=1;
      var f=1;
      var g=1;
      var h=1;
      var i=1;
      var j=1;
      if($("#min_feature").is(':checked')){
         if($("#admin_general_min_cost").val() == ""){
             $("#general_min_cost_error").css("display","block");
             $("#general_min_cost_error").html("Enter the cost");
             a= 0;
         }
      }
      if(generalname==""){
        $("#generalname_error").css("display","block");
        $("#generalname_error").html("Enter your Store Name");
        a=0;
      }      
      if(generalaccmail==""){
        $("#generalaccmail_error").css("display","block");
        $("#generalaccmail_error").html("Enter Your Account Email");
        b=0;
      }
      else if (!(testEmail.test(generalaccmail))){
        $("#generalaccmail_error").css("display","block");
        $("#generalaccmail_error").html("enter a valid email id"); 
        b=0;
      }
      if(generalcommail==""){
        $("#generalcommail_error").css("display","block");
        $("#generalcommail_error").html("Enter Your Customer Email");
        c=0;
      }
      else if (!(testEmail.test(generalcommail))){
        $("#generalcommail_error").css("display","block");
        $("#generalcommail_error").html("enter a valid email id"); 
        c=0;
      }
      if(generallegal==""){
        $("#generallegal_error").css("display","block");
        $("#generallegal_error").html("Enter your Legal Name");
        d=0;
      }
      if(form_country==''){
      $("#country100_error").css("display","block");
      $("#country100_error").html("Select The Country");
      e=0;
      }
      else if(form_states100==''){
      $("#states100_error").css("display","block");
      $("#states100_error").html("Select The State");
      f=0;
      }
      else if(form_address102==''){
      $("#address102_error").css("display","block");
      $("#address102_error").html("Enter The District, City");
      g=0;
      }
      else if(form_pin==''){
      $("#pin100_error").css("display","block");
      $("#pin100_error").html("Select The PinCode");
      h=0;
      } 
      if(form_address101==''){
      $("#address101_error").css("display","block");
      $("#address101_error").html("Enter The Door No & Street, Town");
      i=0;
      }
      if(form_mobile1==''){
      $("#cnumber100_error").css("display","block");
      $("#cnumber100_error").html("Enter The Mobile Number");
      j=0;
      }   
      
      if(a==1 && b==1 && c==1 && d==1 && e==1 && f==1 && g==1 && h==1 && i==1 && j==1){
        $('select').prop("disabled", false);
        return true;
      }
      else{
        return false;
      }
    });

</script>


<script>
      jQuery(".shipping_country_select_box").chosen();
      jQuery(".shipping_country_select_box").change(function(){
        var country_val = jQuery(this).val();
        jQuery.ajax({
           url: '<%= admin_find_state_city_pincode_path %>',
           data: {'country_id':country_val},
           type: 'GET',
           success: function(data, event, status, xhr) {
             //alert("hi");
           },
           error: function(data, event, status, xhr) {
             
           }
         });
      });
       jQuery(".state1").change(function(){
        var country_val = jQuery(this).val();
        jQuery.ajax({
           url: '<%= admin_find_state_city_pincode_path %>',
           data: {'state_id':country_val},
           type: 'GET',
           success: function(data, event, status, xhr) {
             //alert("hi");
           },
           error: function(data, event, status, xhr) {
             
           }
         });
      });
        jQuery(".city1").change(function(){
        var country_val = jQuery(this).val();
        jQuery.ajax({
           url: '<%= admin_find_state_city_pincode_path %>',
           data: {'city_id':country_val},
           type: 'GET',
           success: function(data, event, status, xhr) {
             //alert("hi");
           },
           error: function(data, event, status, xhr) {
             
           }
         });
      });
      </script>