    
<% if @admin_generals.present? %>
  <div class="breadcrumbs" id="breadcrumbs">
    <!-- breadcrumb start -->
    <ul class="breadcrumb">
      <li class="active"><i class="ace-icon fa fa-cogs"></i>&nbsp;&nbsp; General Details</li>
    </ul><!-- breadcrumb end -->
    <!-- button panel start -->
    <div class="pull-right">
    </div>
    <!-- button panel end --> 
  </div><br/>

  <!-- Page Content start -->
  <div class="page-content">

    <!-- flash start --> 
      <div class="flash_message_panel">
        <%= render partial: "layouts/shared/flash_msg" %> 
      </div>
    <!-- flash end -->

    <div class="searchable_content1">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
          <% @admin_generals.take(1).each do |general| %>
          <div class="col-xs-6 col-sm-6 pricing-box">
            <!-- Store Details start -->
            <div class="widget-box widget-color-blue">
              <div class="widget-header">
                <h5 class="widget-title bigger lighter cursive-font">Store Details</h5>
                <%= link_to '',edit_admin_general_path(Admin::General.first), :class => "ace-icon fa fa-pencil bigger-130 mar8 pull-right white",:remote => true %> 
              </div>

              <div class="widget-body" style="min-height:510px;">
                <div class="widget-main">
                  <ul class="list-unstyled spaced2">
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Store Name</label></div>
                          <div class="col-sm-8">
                            <%= general.store_name %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Account Email</label></div>
                          <div class="col-sm-8">
                            <%= general.account_email %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Customer Email</label></div>
                          <div class="col-sm-8">
                            <%= general.com_email %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Legal Business Name</label></div>
                          <div class="col-sm-8">
                            <%= general.legal_name %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Category Level</label></div>
                          <div class="col-sm-8">
                            <%= general.category_level %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Fixed Rate</label></div>
                          <div class="col-sm-8">
                            <%= general.fixed_rate %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> COD Preference</label></div>
                          <div class="col-sm-8">
                            <%= general.cod_preference %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Minium Order Value Preference</label></div>
                          <div class="col-sm-8">
                            <%= general.min_order %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <% if general.min_order %>
                      <li style="border-bottom:1px solid #eee;">
                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-4 label-color"><label> Minimum Order Value</label></div>
                            <div class="col-sm-8">
                              <%= general.min_cost %>
                            </div>
                          </div>
                        </div>
                      </li>
                    <% end %>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Logo</label></div>
                          <div class="col-sm-8">
                            
                              <div class="img-rounded">
                                <%= image_tag general.avatar.url(:medium),:class => "img-responsive img-thumbnail" %>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    </li>
                    <% if general.addresses.present? %>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Address</label></div>
                          <div class="col-sm-8">
                            <% general.addresses.each do |address| %><br />
                              <%= address.add_line1 %>,
                              <%= address.add_line2 %><br />
                              <%= address.state %>,
                              <%= address.country %>-
                              <%= address.c_code %><br />
                              <%= address.phone %><br />
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <% end %>
                  </ul>

                  
                </div>
              </div>
            </div>
            <!-- Store Details end -->
          </div>
          <div class="col-xs-6 col-sm-6 pricing-box">
            <!-- Account Details start -->
            <div class="widget-box widget-color-grey">
              <div class="widget-header">
                <h5 class="widget-title bigger lighter cursive-font">Account Details</h5>
                <%= link_to '',admin_general_edit_acc_spec_path(Admin::General.first,:current_tab => "tabfield1",:current_tab_val => 2), :class => "ace-icon fa fa-pencil bigger-130 mar8 pull-right white",:remote => true %> 
               
              </div>

              <div class="widget-body">
                <div class="widget-main">
                  <ul class="list-unstyled spaced2">
                    <% if general.acc_currency.present? ||  general.show_currency.present? %>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Account Currency</label></div>
                          <div class="col-sm-8">
                            <%= general.acc_currency.present? ? general.acc_currency : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Show Currency</label></div>
                          <div class="col-sm-8">
                            <%= general.show_currency.present? ? general.show_currency : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <% else %>
                       <li style="">
                      <div class="row text-center">
                        <%= link_to "ADD ACCOUNT DETAILS", admin_general_edit_acc_spec_path(Admin::General.first,:current_tab => "tabfield1",:current_tab_val => 2),:remote => true,:style=>"color:grey" %>
                        </div>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div><br/>
            <!-- Account Details end -->
            <!-- Social Media Details start -->
            <div class="widget-box widget-color-green">
              <div class="widget-header">
                <h5 class="widget-title bigger lighter cursive-font">Social Media  Details</h5>
                <%= link_to '',admin_general_edit_social_spec_path(Admin::General.first,:current_tab => "tabfield2",:current_tab_val => 3), :class => "ace-icon fa fa-pencil bigger-130 mar8 pull-right white",:remote => true %> 
                
               
              </div>

              <div class="widget-body">
                <div class="widget-main">
                  <ul class="list-unstyled spaced2">
                    <% if general.fb_link.present? ||   general.tw_link.present? ||  general.gp_link.present? || general.pt_link.present? %>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>FaceBook Link</label></div>
                          <div class="col-sm-8">
                              <%= general.fb_link.present? ?  general.fb_link : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Twitter Link</label></div>
                          <div class="col-sm-8">
                              <%= general.tw_link.present? ?  general.tw_link : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Google Plus Link</label></div>
                          <div class="col-sm-8">
                              <%= general.gp_link.present? ? general.gp_link : 'Not yet updated'%>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Pinterest Link</label></div>
                          <div class="col-sm-8">
                              <%= general.pt_link.present? ? general.pt_link : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <% else %>
                    <li style="">
                    <div class="row text-center">
                      <%= link_to "ADD SOCIAL MEDIA DETAILS",admin_general_edit_social_spec_path(Admin::General.first,:current_tab => "tabfield2",:current_tab_val => 3),:remote => true,:class=>"text-success" %>
                      </div>
                      </li>
                      <%  end %>
                  </ul>
                </div>
              </div>
            </div><br/>
            <!-- Social Media Details end -->
            <!-- SEO Details start -->
            <div class="widget-box widget-color-dark">
              <div class="widget-header">
                <h5 class="widget-title bigger lighter cursive-font">SEO Details</h5>
                <%= link_to '',admin_general_edit_seo_spec_path(Admin::General.first,:current_tab => "tabfield3",:current_tab_val => 4), :class => "ace-icon fa fa-pencil bigger-130 mar8 pull-right white",:remote => true %>   
              </div>

              <div class="widget-body">
                <div class="widget-main">
                  <ul class="list-unstyled spaced2">
                    <% if general.page_title.present? ||   general.meta_des.present? ||  general.a_text.present?  %>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Page Title</label></div>
                          <div class="col-sm-8">
                            <%= general.page_title.present? ? general.page_title : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"><label> Meta Description</label></div>
                          <div class="col-sm-8">
                            <% if general.present? %>
                              <% if general.meta_des.present? %>
                                <%= general.meta_des.html_safe %>
                              <% else %>
                                 <%= 'Not yet updated' %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Google Analytics Code</label></div>
                          <div class="col-sm-8">
                            <%= general.a_text.present? ? general.a_text : 'Not yet updated' %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <% else %>
                    <li style="">
                    <div class="row text-center">
                      <%= link_to "ADD SEO DETAILS",admin_general_edit_seo_spec_path(Admin::General.first,:current_tab => "tabfield3",:current_tab_val => 4),:remote => true,:color=>"#404040" %>
                      </div>
                      </li>
                      <%  end %>
                  </ul>
                </div>
              </div>
            </div>
            <!-- SEO Details start -->
          </div>
          <% end %>
        </div><!-- /.row -->
  </div> <br/>
  <!-- Page Content End -->
<% else %>
  <div class="breadcrumbs" id="breadcrumbs">
    <!-- breadcrumb start -->
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <%= link_to "Home", root_path %>
      </li>
      <li class="active">General Details</li>
    </ul><!-- breadcrumb end -->
    <!-- button panel start -->
    <div class="pull-right">
    </div>
    <!-- button panel end --> 
  </div><br/>
  <div class="row text-center">
    <%= link_to "ADD GENERAL DETAILS", new_admin_general_path,:remote => true %>
  </div>
<% end %>
      </div>
      </div>


      <style>
      label{
        font-family: -webkit-pictograph !important;
        font-size:12px;
      }
      </style>