
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-cogs"></i>&nbsp;&nbsp; Add Store Details </li>
  </ul><!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
</div><br/>
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class ="row ">
  	<div class="col-xs-12 col-sm-3">
  		<strong class="text-info fs14"> Store Details </strong><br /><br />
  		<p class="text_justify">Edit your store information. The store name shows up on your storefront, while the title and meta description help define how your store shows up on search engines.</p>
  	</div>
    <div class="col-xs-12 col-sm-9">
      <%= render 'form' %><br/><br/>	
    </div>	
  </div>		
</div>
