<!-- multistep form -->
<%= form_for(@admin_general,:html => {:id => 'msform',:multipart => true },:remote => true) do |f| %>
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Store Details</li>
		<li>Add Logo</li>
		<li>Account Details</li>
		<li>Social Media Details</li>
		<li>SEO Details</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Create your Store</h2>
		
	  <div class="row">
	    
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
			    <%= f.label :store_name, "Store Name" %>    
			    <%= f.text_field :store_name,:class => "form-control" %>
			    <span id="generalname_error" class="error_list" style="display:none;"></span>
			  </div><br />
	      
	    </div>
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :legal_name,"Legal Name of Bussiness" %>
	        <%= f.text_field :legal_name,:class => "form-control" %>
	        <span id="generallegal_error" class="error_list" style="display:none;"></span>
	      </div>
	    </div>
	  </div><br/>
	  <div class="row">
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :account_email,"Account Email" %>
	        <%= f.text_field :account_email,:class => "form-control" %>
	        <span id="generalaccmail_error" class="error_list" style="display:none;"></span>
	      </div>
	    </div>
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :com_email,"Customer Email" %>
	        <%= f.text_field :com_email,:class => "form-control",:rows => 40, :cols => 120 %>
	        <span id="generalcommail_error" class="error_list" style="display:none;"></span>
	      </div>
	    </div>
	  </div>  <br />
	  <div class="field">
        <%= f.label :category_level,"Category Level" %>
        <%= f.select :category_level, options_for_select(["Select.", "1","2", "3"]), :class => "category_level" %>
        <span id="category_level_error" class="error_list" style="display:none;"></span>
      </div>
		<input type="button" name="next" class="next action-button" id="general_form_store12" value="Next" />
	</fieldset>

	<fieldset>
		
    	<%= f.file_field :avatar %> 
    		  
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>

	<fieldset>
		<h2 class="fs-title">Account Details</h2>
		<div class="row">
		    <div class = "col-sm-6 col-xs-12">
		      <div class="field">
		        <%= f.label :acc_currency,"Account Currency *" %>
		        <%= f.text_field :acc_currency,:class => "form-control" %>
		        <span id="generalacccurrency_error" class="error_list" style="display:none;"></span>
		      </div><br />
		    </div>
		    <div class = "col-sm-6 col-xs-12">
		      <div class="field">
		        <%= f.label :show_currency,"Show Currency *" %>
		        <%= f.text_field :show_currency,:class => "form-control" %>
		        <span id="generalshowcurrency_error" class="error_list" style="display:none;"></span>
		      </div><br />
		    </div>
		  </div>
		  
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title"> Social Media Details</h2>
		<h3 class="fs-subtitle">Your presence on the social network</h3>
	  <div class="row">
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :fb_link,"Facebook Link" %>
	        <%= f.text_field :fb_link,:class => "form-control" %>        
	      </div><br />
	    </div>
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :tw_link,"Twitter Link" %>
	        <%= f.text_field :tw_link,:class => "form-control" %>
	      </div><br />
	    </div>
	  </div>
	  <div class="row">
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :gp_link,"Google Plus" %>
	        <%= f.text_field :gp_link,:class => "form-control" %>        
	      </div><br />
	    </div>
	    <div class = "col-sm-6 col-xs-12">
	      <div class="field">
	        <%= f.label :pt_link,"Pinterest" %>
	        <%= f.text_field :pt_link,:class => "form-control" %>
	      </div><br />
	    </div>
	  </div>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">SEO Details</h2>
		<h3 class="fs-subtitle">We will never sell it</h3>
		<div class="field">
	    <%= f.label :page_title,"Default Page Title *" %>
	    <%= f.text_field :page_title,:class => "form-control" %>
	    <span id="generaltitle_error" class="error_list" style="display:none;"></span>
	  </div><br />
	  <div class="field">
	    <%= f.label :meta_des,"Default Meta Description *" %>
	    <%= f.text_area :meta_des,:class => "form-control" %>
	    <span id="generaldesc_error" class="error_list" style="display:none;"></span>
	  </div><br />
	  <div class="field">
	    <%= f.label :a_text,"Paste Google Analytics code" %>
	    <%= f.text_area :a_text,:class => "form-control" %>
	    <span id="generalgoogle_error" class="error_list" style="display:none;"></span>
	  </div><br />
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<%= f.submit "Save", :class => "btn btn-primary" %>
		
	</fieldset>
<% end %>

<style>

/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #000;
	text-transform: uppercase;
	font-size: 9px;
	width: 24.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #000;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}





</style>
<script>
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'transform': 'scale('+scale+')'});
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".submit").click(function(){
	return false;
})

</script>