<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border">    
	<div class="pull-right">
	<%= link_to 'Edit Shop Details',edit_admin_general_path(@admin_general), :class => "btn btn-primary btn-sm" %> 
	</div>
	  <h3>General Details</h3>		  
</div>
<br/>  
<div class="row"> 
  <div class="col-sm-12 col-xs-12">
  	<div class="panel panel-info">
  		<div class="panel-body"><br/>
  			<% @admin_generals.each do |general| %>
    			<div class="row info-borders">
      			<div class="col-sm-2 col-xs-6 text-info">
        				<strong>Store Name </strong>
      			</div>
            <div class="col-sm-10 col-xs-6">
              <%= general.store_name %>
            </div>
        </div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Page Title </strong>
          	</div>
          	<div class="col-sm-10 col-xs-6">
            	<%= general.page_title %>
          	</div>
        	</div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Meta Description </strong>
          	</div>
          	<div class="col-sm-10 col-xs-6">
          		<% if general.present? %>
          		<% if general.meta_des.present? %>
            	<%= general.meta_des.html_safe %>
            	<% end %>
            	<% end %>
          	</div>
        	</div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Google Analytics Code </strong>
          	</div>
          	<div class="col-sm-10 col-xs-6">
            	<%= general.a_text %>
          	</div>
        	</div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Account Email </strong>
          	</div>
          	<div class="col-sm-10 col-xs-6">
            	<%= general.account_email %>
          	</div>
        	</div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Customer Email </strong>
          	</div>
          	<div class="col-sm-10 col-xs-6">
            	<%= general.com_email %>
          	</div>
        	</div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Legal Business Name </strong>
          	</div>
          	<div class="col-sm-4 col-xs-6">
            	<%= general.legal_name %>
          	</div>
            <div class="col-sm-2 col-xs-6 text-info">
              <strong>Category Level </strong>
            </div>
            <div class="col-sm-4 col-xs-6 text-info">
              <%= general.category_level %>
            </div>
        	</div><br/><br/>
        	<div class="row info-borders">
          	<div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Logo </strong>
          	</div>
          	<div class="col-sm-10 col-xs-6">
              	<% if general.images.present? %>
            			<div class="img-rounded">
              				<%= image_tag general.images.first.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:180px;height:140px;" %>
            			</div>
         			<% end %>  
          	</div>
        	</div><br/><br/>
        	<div class="row info-borders">
            <div class="col-sm-2 col-xs-6 text-info">
           	<strong>Account Currency </strong>
            </div>
            <div class="col-sm-10 col-xs-6">
            	<%= general.acc_currency %>
            </div>
        	</div><br/><br/>
        	<div class="row info-borders">
            <div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Show Currency </strong>
            </div>
            <div class="col-sm-10 col-xs-6">
            	<%= general.show_currency %>
            </div>
        	</div><br/><br/>
        	<% if general.term_use.present? %>
          	<div class="row info-borders">
              <div class="col-sm-2 col-xs-6 text-info">
             	 <strong> Term Of Use </strong>
              </div>
              <div class="col-sm-10 col-xs-6">
              	<%= general.term_use.html_safe %>
              </div>
          	</div><br/><br/>
        	<% end %>
        	<% if general.privacy.present? %>
        	<div class="row info-borders">
            <div class="col-sm-2 col-xs-6 text-info">
           	 <strong> Privacy </strong>
            </div>
            <div class="col-sm-10 col-xs-6">
            	<%= general.privacy.html_safe %>
            </div>
        	</div><br/><br/>
        	<% end %>
        	<% if general.security.present? %>
        	<div class="row info-borders">
            <div class="col-sm-2 col-xs-6 text-info">
           	 <strong> Security </strong>
            </div>
            <div class="col-sm-10 col-xs-6">
            	<%= general.security.html_safe %>
            </div>
        	</div><br/><br/>
        	<% end %>
        	<div class="row">
        	  <% if general.addresses.present? %>
        	    <div class="col-sm-2 col-xs-6 text-info">
           	 <strong>Address</strong>
            </div>
        	    <div class="col-sm-10 col-xs-6">
          	  <% general.addresses.each do |address| %><br />
				  <%= address.add_line1 %>,
				  <%= address.add_line2 %><br />
				  <%= address.state %>,
				  <%= address.country %>-
				  <%= address.c_code %><br />
				  <%= address.phone %><br />
			  <% end %>
		    </div>
		  <% end %>  
		</div> 
	    </div> 
        	<% end %>  

    		</div>
    	</div>
  </div><br/>
</div>	  
  








