<%= form_for(@admin_shipping_specific_pincode) do |f| %>
  <% if @admin_shipping_specific_pincode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_specific_pincode.errors.count, "error") %> prohibited this admin_shipping_specific_pincode from being saved:</h2>

      <ul>
      <% @admin_shipping_specific_pincode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shipping_specific_country_id %><br>
    <%= f.number_field :shipping_specific_country_id %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
