<h1>Listing admin_shipping_specific_pincodes</h1>

<table>
  <thead>
    <tr>
      <th>Shipping specific country</th>
      <th>Pincode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_shipping_specific_pincodes.each do |admin_shipping_specific_pincode| %>
      <tr>
        <td><%= admin_shipping_specific_pincode.shipping_specific_country_id %></td>
        <td><%= admin_shipping_specific_pincode.pincode %></td>
        <td><%= link_to 'Show', admin_shipping_specific_pincode %></td>
        <td><%= link_to 'Edit', edit_admin_shipping_specific_pincode_path(admin_shipping_specific_pincode) %></td>
        <td><%= link_to 'Destroy', admin_shipping_specific_pincode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping specific pincode', new_admin_shipping_specific_pincode_path %>
