<p id="notice"><%= notice %></p>

<p>
  <strong>Shipping specific country:</strong>
  <%= @admin_shipping_specific_pincode.shipping_specific_country_id %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @admin_shipping_specific_pincode.pincode %>
</p>

<%= link_to 'Edit', edit_admin_shipping_specific_pincode_path(@admin_shipping_specific_pincode) %> |
<%= link_to 'Back', admin_shipping_specific_pincodes_path %>
