
  
<!-- form start -->

<%= tinymce_assets %>
<%= tinymce %>
<%= form_for(@admin_page,:html => {:id => 'page_form1',:class => "validate_this_form" }, :remote => true) do |f| %>
  <div class="form-horizontal">
    <div class="">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <% if @admin_page.errors.any? %>
            <div id="new_error_explanation">
              <h2><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>
              <ul>
              <% @admin_page.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <div class="fields">
              <div class="row">
                <div class="col-sm-5 col-xs-12">
                  <div class="form-group form_group_admin_page_page_name">
                    <label for="inputError" class="col-xs-12 col-sm-12 control-label no-padding-right label-color" style="text-align:left;">Page Name*</label>
                    <div class="col-xs-12 col-sm-12">
                      <span class="block input-icon input-icon-right" >
                        <%= f.text_field :page_name,:class => "blue_textbox width-100 validate_this",:data => {validate_ajax_url: admin_check_page_name_exist_path}, :placeholder => "Page Name" %>
                      </span>
                      <div class="help-block" id="admin_page_page_name_error1"> </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <div class="form-group form-group12 form_group_page_type">
                    <label for="inputError" class="col-xs-12 col-sm-12 control-label no-padding-right label-color" style="text-align:left;">Page Type*</label>
                    <div class="col-xs-12 col-sm-12">
                      <span class="block input-icon input-icon-right">
                       <%= f.select :page_type, options_for_select(["Page Content","Page Link"]), {:prompt => "Select Page Type" },:class => "form-control blue_textbox width-100 validate_this",:style => "width:100%;", :id => "page_type"%>
                      </span>
                      <div class="help-block" id="page_type_error1"> </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2"> 
                </div>
              </div>
              <div class="form-group form_group_name page_link_hide">
                <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color" style="text-align:left;">Page Link*</label>
                <div class="col-xs-12 col-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      https://
                    </span>
                    <span class="block input-icon input-icon-right">
                    <%= f.text_field :page_link, :class => "blue_textbox form-control   width-100 validate_this", :id => "page_link", :placeholder => "Example : www.example.com" %><br />
                    </span>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <span class="help-button help-button-new col-xs-12 col-sm-1 col-md-1" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
                  <div class="help-block" id="page_link_error1"> </div>
                </div>
              </div>
              <div class="form-group form_group_name page_content_hide">
                <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color" style="text-align:left;">Page Content*</label>
                <div class="col-xs-12 col-sm-10">            
                  <span class="block input-icon input-icon-right">
                    <%= f.text_area :page_content, :class => "tinymce validate_this" %><br />
                  </span>
                  <div class="help-block" id="page_content_error1"> </div>
                </div>
                <div class="col-xs-12 col-sm-2"> 
                  <span class="help-button help-button-new col-xs-12 col-sm-1 col-md-1" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
                  <div class="help-block" id="admin_page_page_content_error1"> </div>
                </div>
              </div>
              <div class="form-group form_group_name">
                <label for="inputError" class="col-xs-12 col-sm-1 control-label no-padding-right label-color" style="text-align:left;">Visibility</label>
                <div class="col-xs-12 col-sm-10">
                  <label>
                    <%= f.check_box :active,:class=>"ace ace-switch ace-switch-4" %>
                    <span class="lbl labelonoff" style="margin-top: 5px;"></span>
                  </label>
                </div>
                <div class="col-xs-12 col-sm-2"> 
                </div>
              </div>
            </div>
            <%= f.submit "Create Page", :class => "btn btn-success btn-sm" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<!-- form end -->
<script>
$(document).ready(function(){
  $(".page_content_hide").hide();
  $(".page_link_hide").hide();
  var criteria = $("#admin_page_page_type").val();
$( "#page_type" ).change(function() {
  var criteria = $("#page_type").val();
  if (criteria == "Page Content"){
    $("#page_link").removeClass( "validate_this");
    $(".page_link_hide").hide();
    $(".page_content_hide").show();

  }
  if (criteria == "Page Link"){
    $("#admin_page_page_content").removeClass( "validate_this");
    $(".page_link_hide").show();
    $(".page_content_hide").hide();
    
  }
});
$('#admin_page_page_name').bind('keypress', function (event) {
  var regex = new RegExp("^[a-zA-Z0-9_ -]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
     event.preventDefault();
     return false;
  }
});
});
$(function () {
  $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });
})
</script>
