<div class="modal-body"> 
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
          <div class="profile-info-name"> Page Name </div>

          <div class="profile-info-value">
            <span class="editable editable-click" id="username"><%= @admin_page.page_name %></span>
          </div>
        </div>

        <div class="profile-info-row">
          <div class="profile-info-name"> Page type </div>

          <div class="profile-info-value">
            <span class="editable editable-click" id="username"><%= @admin_page.page_type %></span>
          </div>
        </div>
        <% if @admin_page.page_link.present? %>
        <div class="profile-info-row">
          <div class="profile-info-name"> Page Link</div>

          <div class="profile-info-value">
            <span class="editable editable-click" id="country"><%= @admin_page.page_link %></span>
          </div>
        </div>
        <% end %>

        <% if @admin_page.page_content.present? %>
        <div class="profile-info-row">
          <div class="profile-info-name"> Page Content</div>

          <div class="profile-info-value">
            <span class="editable editable-click" id="country"><%= @admin_page.page_content.html_safe %></span>
          </div>
        </div>
        <% end %>
        <div class="profile-info-row">
          <div class="profile-info-name"> Active </div>

          <div class="profile-info-value">
            <span class="editable editable-click" id="age"><%= @admin_page.active %></span>
          </div>
        </div>

       
      </div>
    </div>
  </div><br/>
  
</div>