<!-- Pages edit start -->
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-book" style="color:#616060"></i>&nbsp;&nbsp;<%= link_to 'Pages'.html_safe, admin_pages_path,:class=>"for_page_load",:remote => true %>
    </li>
    <li class="active">Edit <%= @admin_page.page_name %></li>
  </ul>
</div>  
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" style="padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <!-- header start -->
  <div class="page-header">
    <h4>
      Edit <%= @admin_page.page_name %> Page
    </h4>
  </div>
  <!-- header end -->
    <!-- form start -->
  <%= form_for(@admin_page,:html => {:id => 'page_form1',:class => "validate_this_form" },:remote => true) do |f| %>
    <div class="form-horizontal">
      <div class="">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <% if @admin_page.errors.any? %>
              <div id="new_error_explanation">
                <h2><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>
                <ul>
                <% @admin_page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
              <div class="fields">
                <div class="row">
                <div class="col-sm-5 col-xs-12">
                  <div class="form-group form_group_admin_page_page_name">
                    <label for="inputError" class="col-xs-12 col-sm-12 control-label no-padding-right label-color" style="text-align:left;">Page Name*</label>
                    <div class="col-xs-12 col-sm-12">
                      <span class="block input-icon input-icon-right" >
                        <%= f.text_field :page_name,:class => "blue_textbox width-100 validate_this",:data => {validate_ajax_url: admin_check_page_name_exist_path, validate_ajax_except: f.object.id }, :placeholder => "Page Name" %>
                      </span>
                      <div class="help-block" id="admin_page_page_name_error1"> </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <div class="form-group form-group12 form_group_page_type">
                    <label for="inputError" class="col-xs-12 col-sm-12 control-label no-padding-right label-color" style="text-align:left;">Page Type*</label>
                    <div class="col-xs-12 col-sm-12">
                      <span class="block input-icon input-icon-right">
                        <%= f.select :page_type, options_for_select(["Page Content","Page Link"],f.object.page_type),{}, :class => "form-control blue_textbox width-100 validate_this",:style => "width:100%;", :id => "page_type" %>
                      </span>
                      <div class="help-block" id="page_type_error1"> </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2"> 
                </div>
              </div>
                
                
                    <div class="form-group form_group_name page_link_hide">
                      <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color" style="text-align:left;">Page Link*</label>

                      <div class="col-xs-12 col-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon">
                            https://
                          </span>
                          <span class="block input-icon input-icon-right">
                          <%= f.text_field :page_link, :class => "blue_textbox width-100 #{ f.object.page_link.present? ? "validate_this" : "" }", :id => "page_link", :placeholder => "Example : www.example.com/" %>
                          </span>
                        </div>
                        
                      </div>
                      <div class="col-xs-12 col-sm-2">
                        <span class="help-button help-button-new col-xs-12 col-sm-1 col-md-1" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
                        <div class="help-block" id="page_link_error1"> </div>
                        </div>
                    </div>
                    <div class="form-group form_group_name page_content_hide">
                      <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color" style="text-align:left;">Page Content*</label>
                      <div class="col-xs-12 col-sm-10">            
                        <span class="block input-icon input-icon-right">
                          <%= f.text_area :page_content, :class => "tinymce #{ f.object.page_content.present? ? "validate_this" : "" }" %><br />
                        </span>
                      </div>
                      <div class="col-xs-12 col-sm-2"> 
                        <span class="help-button help-button-new col-xs-12 col-sm-1 col-md-1" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
                        <div class="help-block" id="page_content_error1"> </div>
                      </div>
                    </div>
                    <div class="form-group form_group_name">
                      <label for="inputError" class="col-xs-12 col-sm-1 control-label no-padding-right label-color" style="text-align:left;">Visibility</label>
                      <div class="col-xs-12 col-sm-10">
                        <label>
                          <%= f.check_box :active,:class=>"ace ace-switch ace-switch-4" %>
                          <span class="lbl labelonoff" style="margin-top: 5px;"></span>
                        </label>
                      </div>
                    </div>
                      
              </div>
              <%= f.submit "Update Page", :class => "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- form end --> 
</div>
<!-- Pages ecit end -->

  
<%= tinymce_assets %>
<%= tinymce %>
<script>
$(document).ready(function(){
   $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });

  var criteria = $("#page_type").val();
  if (criteria == "Select Page Type."){
    $(".page_link_hide").hide();
    $(".page_content_hide").hide();
  }
  if (criteria == "Page Content"){
    $(".page_link_hide").hide();
    $(".page_content_hide").show();
  }
  if (criteria == "Page Link"){
    $(".page_link_hide").show();
    $(".page_content_hide").hide();
  }
  $( "#page_type" ).change(function() {
    var criteria = $("#page_type").val();
    if (criteria == "Page Content"){
      $("#page_link").removeClass( "validate_this");
      $(".page_link_hide").hide();
      $(".page_content_hide").show();
    }
    if (criteria == "Page Link"){
      $("#admin_page_page_content").removeClass( "validate_this");
      $(".page_link_hide").show();
      $(".page_content_hide").hide();
    }
  });
  $('#admin_page_page_name').bind('keypress', function (event) {
  var regex = new RegExp("^[a-zA-Z0-9_-]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
     event.preventDefault();
     return false;
  }
});
});
</script>


