<!-- Pages index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-book"></i>&nbsp;&nbsp;Pages</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Create Page', new_admin_page_path  , :class => "for_page_load",:style => "color:#fff;",:remote => true %>
    </span>
  </div>
  <!-- button panel end --> 
</div> <br/>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel " >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class="row" style="min-height:455px;">  
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content1">
        
         <span class="for_fullscreen1" style="display:none;">for fullscreen</span>
          <% if @admin_pages.present? %>
            <%= form_for('Page', :as => 'pagess', :url => delete_selected_page_admin_pages_path,:remote => true) do |f| %>
              <div class="table-header bigger lighter cursive-font">
                PAGES LIST
                <span class="pull-right" style="margin-right:5px;">
                  <button type="submit" class="btn btn-success1 btn-xs" data-toggle="tooltip" data-placement="left" title="Delete The Selected Pages"><i class="ace-icon glyphicon glyphicon-trash"></i></button>
                  
                </span>  
              </div>
              <div id="" class="dataTables_wrapper form-inline no-footer">
                <table id="pages_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>Page name</th>
                      <th>Page type</th>
                      <th>Page link</th>
                      <th>Page content</th>
                      <th>Status</th>
                      <th></th>
                      <th>
                        <input type="checkbox" id="selectAll" value="selectAll" class="ace">
                        <span class="lbl"></span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admin_pages.each do |admin_page| %>
                    <tr>
                      <td style = "text-transform: capitalize;">
                        <%= admin_page.page_name %>
                      </td>
                      <td><%= admin_page.page_type %></td>
                      <td>
                        <% if admin_page.page_link.present? %>
                          <%= sanitize(admin_page.page_link, :tags=>[]).truncate(30, :separator => " ").html_safe %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if admin_page.page_content.present? %>
                          <%= sanitize(admin_page.page_content, :tags=>[]).truncate(50, :separator => " ").html_safe %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                      <td>
                        <% if admin_page.active == true %>
                          <span class="label arrowed-in-right hidden-xs hidden-sm arrowed    label-success">Visible</span>
                        <% else %>
                          <span class="label arrowed-in-right hidden-xs hidden-sm arrowed label-warning">InVisible</span>
                        <% end %>
                      </td>
                      <td>
                        <div class="action-buttons">
                          <%= link_to '', admin_page,:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                          <%= link_to '', edit_admin_page_path(admin_page),:class => "markthis for_page_load glyphicon glyphicon-pencil edit_button_color",:remote => true %>
                          <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_page, method: :delete, data: { confirm: 'Are you sure?' },:class => "markthis delete_button_color",:remote => true  %>
                        </div>
                      </td>
                      <td class="first-column">
                        <%= check_box_tag 'ids[]', admin_page.id, false, :class => 'table-row-checkbox ace' %>
                        <span class="lbl"></span>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>  
              </div>
            <% end %>  
          <% else %>
            <div class="row">
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
              <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
              <h3> No Page </h3>
              Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
              <span class="markthis btn btn-xs btn-success create_button">
                <span class="glyphicon-plus bigger-110"></span>
                <%= link_to 'Add New Page', new_admin_page_path  , :class => "",:style => "color:#fff;",:remote => true %>
              </span>
              </div>
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
            </div>
          <% end %>
      </div> 
    </div>
  </div>
</div>  
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" >
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<script>
$(".for_fullscreen1").click(function(){
  $(".widget-modal-box").addClass("fullscreen2");
  $("body").addClass('modal-open');
  $(".widget-modal-box").show();
  if(($(".modal-backdrop").length == 0) && !($(".widget-modal-box").hasClass("fullscreen"))){
    $("body").append('<div class="modal-backdrop fade in"></div>');
  }
});
jQuery(function() {
  var aoColumnDefs = [
        {
            "aTargets": [5,6],
            "bSortable": false
        }
    ];
    var dataTable = $('#pages_table').dataTable({
      "iDisplayLength": 25,
      "aoColumnDefs": aoColumnDefs
    });
});
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
})
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style>
.btn-success1, .btn-success1:hover{
  background-color:#307ECC!important;
  border-color: #307ECC!important;
}
</style>