<!-- Pages new start -->
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis">
    <i class="ace-icon fa fa-book" style="color:#616060"></i>&nbsp;&nbsp;<%= link_to 'Pages'.html_safe, admin_pages_path,:class=>"for_page_load",:remote => true %>
    </li>
    <li class="active">New Page</li>
  </ul>
</div>  
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" style="padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <!-- header start -->
	<div class="page-header">
	  <h4>
	    Create New Page
	  </h4>
	</div>
	<!-- header end -->
  <%= render 'form' %><br />		
</div>
<!-- Pages new end -->