<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis">
    <i class="ace-icon fa fa-book" style="color:#616060"></i>&nbsp;&nbsp;<%= link_to 'Pages'.html_safe, admin_pages_path,:class=>"for_page_load",:remote => true %>
    </li>
    <li class="active"><%= @admin_page.page_name %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    
  </div>
  <!-- button panel end --> 
 
</div>
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" style="padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <!-- header start -->
  <div class="page-header">
    <h4>
      <% if @admin_page.page_content.present? %>
        <div style="text-transform: capitalize;">
          <%= @admin_page.page_name %> Page Details
        </div>
      <% else %>
      <div style="text-transform: capitalize;">
       <%= @admin_page.page_name %> Link
       </div>
      <% end %>
    </h4>
  </div>
  <p>
    <% if @admin_page.page_content.present? %>
      <div style="text-transform: capitalize;">
        <%= @admin_page.page_content.html_safe %>
      </div>
    <% else %>
      <div class="text-center" style="padding: 50px;">
      <%= @admin_page.page_link %>
      </div>
    <% end %>
  </p>

  <!-- header end -->   
</div>
