<%= form_for(@admin_package_task,:url => admin_warehouse_dashboard_package_task_path(@warehouse,@admin_package_task)) do |f| %>
  <% if @admin_package_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_package_task.errors.count, "error") %> prohibited this admin_package_task from being saved:</h2>
      <ul>
      <% @admin_package_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :task_number %><br>
    <%= f.text_field :task_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
