<div class=" panel-heading"> 
  <div class="row">
    <div class="col-sm-2 col-xs-2 text-info bold">Consignment Number</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Created At</div>
    <div class="col-sm-1 col-xs-2 text-info bold">Confirmation</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Shipping Company</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Tracking No</div>
    <div class="col-sm-1 col-xs-2 text-info bold"> Status
    </div>
    <div class="col-sm-1 col-xs-1 text-info bold"></div>
  </div>
</div> 
<div class="panel-body top_space">
  <% @admin_package_task.consignments.each do |consignment| %>
    <div class="row hoverd">
      <div class="col-sm-2 col-xs-2">
        <%= link_to consignment.consignment_number, admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse,@admin_package_task,consignment),:remote => true %>&nbsp; &nbsp;  (<%= consignment.consignment_cost %>)
      </div>
      <div class="col-sm-2 col-xs-2">
        <%= consignment.created_at.strftime("%I:%M %p %d %b %Y") %>
      </div>
      <div class="col-sm-1 col-xs-1">
        <% if consignment.conform == true %>
          <span class = "text-success glyphicon glyphicon-ok"></span>
        <% else %>
          <%= link_to '', admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse,@admin_package_task,consignment),:class => "text-danger glyphicon glyphicon-remove",:remote => true  %>
        <% end %>
      </div>
      <%= form_for(consignment ,:url => admin_warehouse_dashboard_consignment_path(@warehouse, consignment),:html => {:class => 'package_task_dispatch'}) do |f| %>
        <div class="col-sm-2 col-xs-2">
          <% if consignment.conform == true && !consignment.token_no.present? %>
            <%= f.collection_select :logistic_id, Admin::Logistic.all, :id, :name,{ :prompt => "Select Logistic" },:class => " edit_admin_logistics_#{consignment.id}  logistic_selection" , :id => "bluedart_selection_class_#{consignment.id}", :prompt => "Select Logistic"%>
          <% else %>
            <%= f.collection_select :logistic_id, Admin::Logistic.all, :id, :name,{ :prompt => "Select Logistic" },:class => "edit_admin_logistics_#{consignment.id}" , :disabled => "disabled" %>
          <% end %>
          <span id="edit_admin_logistics_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= f.text_field :tracking,:class => "form-control edit_admin_tracking_#{consignment.id}",:type => "text", :disabled => !(consignment.conform && consignment.token_no == "") %>
          <span id="edit_admin_tracking_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
        </div>
        <div class="col-sm-2 col-xs-2">
              <%= f.radio_button :delivery_status, 'true',:class => "edit_admin_delivery_true_#{consignment.id}",:disabled => !consignment.check_for_delivery_status_visibility %>&nbsp;&nbsp;&nbsp;<strong>Delivered</strong><br/></script>

              <%= f.date_field :delivery_date,:class => "form-control edit_admin_delivery_date_#{consignment.id}",:style => "width:107%;display:none;" %>
              <span id="edit_admin_delivery_date_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
            <%= f.radio_button :delivery_status, 'false',:disabled => !consignment.check_for_delivery_status_visibility,:class => "edit_admin_delivery_false_#{consignment.id}" %>

            &nbsp;&nbsp;&nbsp;<strong>Failed</strong><br/>
            <%= f.text_field :reason,:class => "form-control edit_admin_delivery_reason_#{consignment.id}",:style => "width:150%;display:none;" %>
            <span id="edit_admin_delivery_reason_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
        </div>
        <div class="col-sm-1 col-xs-2">
          <%= f.submit "UPDATE",:disabled => !consignment.conform ,:class => "btn btn-primary btn-xs"%>
        </div>
      <% end %>
    </div>   
    <% if consignment.logistic.present? %>
      <% if consignment.logistic.name == "Blue Dart" %>
         <div class="row bluedart_class_<%=  consignment.id %>" >
      <% else %>
         <div class="row bluedart_class_<%=  consignment.id %>" style="display:none;">
      <% end %>
    <% else %>
       <div class="row bluedart_class_<%=  consignment.id %>" style="display:none;">
    <% end %>
       <div class="col-sm-5 col-xs-5 infobox-container">
            <% if consignment.token_no.present? && consignment.pickup_status %>
          
            <% xml = Nokogiri::XML(open("https://www.bluedart.com/servlet/RoutingServlet?handler=tnt&action=custawbquery&loginid=MAA02979&format=xml&lickey=b69b08b818932a53896020c44365be23&verno=1.3&scan=1&awb=awb&numbers=#{consignment.awb_no}")) %>
                    <div class="infobox infobox-blue infobox-small infobox-dark" style="max-width: 100%;width: 45%;">
                      

                      <div class="infobox-data" style="max-width: 100%;">
                        <div class="infobox-content" style="font-size:10px;">Status</div>
                        <div class="infobox-content" style="font-size:10px;">
                        <% xml.xpath("ShipmentData").each do |game| %>
                           <%= game.at("Shipment").at("Status").text() %>
                       <% end %></div>
                      </div>
                    </div>
                    <div class="infobox infobox-green infobox-small infobox-dark" style="max-width: 100%;width: 45%;">

                      <div class="infobox-data" style="max-width: 100%;">
                        <div class="infobox-content" style="font-size:10px;">ExpectedDeliveryDate</div>
                        <div class="infobox-content" style="font-size:10px;">
                        <% xml.xpath("ShipmentData").each do |game| %>

                           <%= game.at("Shipment").at("ExpectedDeliveryDate").present? ? game.at("Shipment").at("ExpectedDeliveryDate").text() : ''%>
                       <% end %></div>
                      </div>
                    </div>

                    <% coll = xml.css("ShipmentData") %>
                   
                   <%" hi"%><br/><br/>
                      <% coll.css("Scans").children.each do |item| %>
                    <div class="infobox infobox-green" style="width:90%">
                      <div class="infobox-icon">
                        <i class="ace-icon fa fa-truck"></i>
                      </div>

                      
                      <div class="infobox-data">
                      
                         <span class="infobox-data-number" style="font-size:10px"> 
                              <%= item.children.at("ScanDate").present? ? item.at("ScanDate").text() : '-' %> <%= item.children.at("ScanTime").present? ? item.at("ScanTime").text() : '-' %>
                          </span>
                          <div class="infobox-content" style="font-size:10px">
                              <%= item.children.at("ScannedLocation").present? ? item.at("ScannedLocation").text() : '-' %>
                          </div>
                      </div>
                     

                      <div class="stat stat-success" style="font-size:9px;"><%= item.children.at("Scan").present? ? item.at("Scan").text() : '-' %></div>
                    </div>
                     <% end %>
                    <div class="space-6"></div>


                    

                    
            <% end %>
       </div>
       <div class="col-sm-7 col-xs-7">
            <div class="widget-box widget-color-blue">
                  <div class="widget-header">
                    <h5 class="widget-title bigger lighter">Blue Dart</h5>
                  </div>

                  <% if  consignment.pickup_status == nil && !consignment.token_no.present? %>
                    <%= form_for(consignment ,:url => admin_warehouse_dashboard_consignment_path(@warehouse, consignment),:html => {:class => 'package_task_dispatch1'}) do |f| %>
                    <div class="widget-body">
                      <div class="widget-main">
                        <ul class="list-unstyled spaced2">
                          <li>
                           <span style="margin-right:7%">Shipment Type</span>
                            <% if consignment.conform == true %>
                              <% @outcome = consignment.bluedart_locationfinder(consignment.order.shipping_address.pincode) %>
                                <% if @outcome.class == String %>
                                    Invalid
                                <% else %>
                                  <%= f.select :product_code, options_for_select(@outcome.first) %><br/><br/>
                                  <%= f.hidden_field :area_code,:value => @outcome.last %>
                                  <%= f.hidden_field :logistic_id,:value => 1 %>
                                <% end %>
                            <% end %>
                          </li>

                          <li>       
                            <span style="margin-right:10%">Pickup Date</span>                          
                            <%= f.text_field :pickup_date,:id => "date_foo"%>
                            <% @test_time = @admin_package_task.closing_time.strftime("%H:%M") %>
                          </li>
                        </ul>
                      </div>

                      <div>
                           <%= f.submit "Initiate Pickup".html_safe,:disabled => !consignment.conform ,:class => "btn btn-block btn-inverse"%>
                      </div>
                    </div>
                   <% end %>
                  <% else %>
                       <div class="widget-body">
                        <div class="widget-main">
                          <ul class="list-unstyled spaced2">
                            <li>
                             <%= form_for(consignment ,:url => admin_warehouse_dashboard_consignment_path(@warehouse, consignment),:html => {:class => 'package_task_dispatch1'}) do |f| %> 
                             <span style="margin-right:7%">Pickup Date</span>
                               <%= consignment.pickup_date.strftime("%I:%M %p %d %b %Y") %>

                              <%= f.hidden_field :cancel,:value => true %>
                              <% if consignment.pickup_status != true %>
                              <%= f.submit "Cancel".html_safe,:disabled => !consignment.conform ,:class => "pull-right btn btn-block btn-xs btn-danger",:style => "width:10%"%>
                              <% end %>
                               <% end %>
                            </li>

                            <li>   
                            <%= form_for(consignment ,:url => admin_warehouse_dashboard_consignment_path(@warehouse, consignment),:html => {:class => 'package_task_dispatch1'}) do |f| %>    
                              <span style="margin-right:5.3%">Pickup Status</span>     
                                                   
                                 <%= f.radio_button :pickup_status, 'true',:class => "edit_admin_delivery_true_#{consignment.id}",:disabled => !consignment.check_for_delivery_status_visibility %>&nbsp;&nbsp;&nbsp;<strong>Picked</strong>&nbsp;&nbsp;&nbsp;
                                <%= f.radio_button :pickup_status, nil,:disabled => !consignment.check_for_delivery_status_visibility,:class => "edit_admin_delivery_false_#{consignment.id}" %>&nbsp;&nbsp;&nbsp;<strong>Not Picked</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                <%= f.submit "UPDATE".html_safe,:disabled => !consignment.conform ,:class => "btn btn-block btn-xs btn-inverse pull-right",:style => "width:14%"%>
                              
                            </li>
                            <% end %>
                             <li>   
                                
                             </li>
                          </ul>
                          
                        </div>
                      </div>
                 <% end %>
                </div>
       </div>
       <div class="col-sm-2 col-xs-2">
       </div>
    </div>       
  <% end %>
</div>


<script>
$(".logistic_selection").change(function(){
  var selection_class = $(this).attr("id").replace("selection_class","class");
  if($(this).find(":selected").text() == "Blue Dart"){
    $("." + selection_class).css("display","block");
  }
  else{
     $("." + selection_class).css("display","none");
  }
});
</script>

<script>
$('#date_foo').appendDtpicker({
  "futureOnly": true,
 "maxTime":"<%= @test_time %>"
});
</script>