<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="pull-right">
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <li class="markthis"><%= link_to "Tasks", admin_warehouse_dashboard_package_tasks_path(@warehouse),:remote => true %></li>
        <li class="markthis"><%= link_to @admin_package_task.task_number, admin_warehouse_dashboard_package_task_path(@warehouse,@admin_package_task),:remote => true %></li>
        <li class="active">Edit Task</li>
      </ol>
    </div>
  </div>
</div><br/>
<% flag = 0 %>
<%= form_for(@admin_package_task,:url => admin_warehouse_dashboard_package_task_path(@warehouse,@admin_package_task),:html => {:id => 'move_to_package_form' }) do |f| %>   
  <div class="panel-body top_space"><br/>
    <%= f.fields_for :package_tasks_consignments do |builder| %> 
      <% if builder.object.consignment.conform == false %>
        <% flag = 1 %>
        <fieldset>
          <div class="row hoverd">
            <div class="col-sm-2 col-xs-2">
              <%= link_to builder.object.consignment.consignment_number, admin_warehouse_dashboard_consignment_path(@warehouse,builder.object) %>&nbsp &nbsp
            </div>
            <div class="col-sm-2 col-xs-2">
              <%= builder.object.consignment.order.user.email %>
            </div>
            <div class="col-sm-2 col-xs-2">
              <%= builder.object.consignment.order.order_number %>
            </div>
            <div class="col-sm-2 col-xs-2">
              <%= builder.object.consignment.consignment_cost %>
            </div>
            <div class="col-sm-2 col-xs-1">
              <%= builder.hidden_field :_destroy,:class => "" %>
              <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
            </div>
          </div>
        </fieldset>
      <% end %>         
    <% end %><br/>
    <% if flag == 1 %>
      <div class="row">
        <%= f.submit "Update Task" ,:class => "btn btn-primary btn-sm"  %>
      </div>
    <% end %>
  </div> 
<% end %>
<% if flag == 1 %>
  <div class="row text-center text-muted">
    Sorry YOu Cant Edit This Task
  </div>
<% end %>
