<!-- wrap start -->
<div class="warp2">
  <!-- header start -->
 <div class="page-title">
    <h2>My Vouchers</h2>
  </div>
  <!-- header end-->
  <div class="sidebar1">
    <div class="options">
      <div class="overview" style="padding:0px;">
        <div class="mobile-apps"><br />
          <!-- voucher list start -->
          <% if @vouchers.present? %>
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5 text-center">
                  <i class="glyphicon glyphicon-file huge1"></i>
                  <br />
                </div>
                <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7 ">
                  <br />
                  <h4  class=" c666 f-bold  pt6 pb6">You Have ₹ <%= '%.2f' % @vouchers.last.voucher_amount %> Balance In Voucher</h4>
                  <br />
                  <p style = "font-size:12px;color:#fff;"  class=" c666 f-bold  pt6 pb6">Your Voucher Balance is ₹ <%= @vouchers.last.voucher_amount %>. You can redeem your voucher value against your next purchase.</p>
                </div>
              </div>
            </div>
          <% else %>  
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5 text-center">
                  <i class="glyphicon glyphicon-file huge1"></i>
                  <br />
                </div>
                <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7">
                  <br />
                  <h4 class=" c666 f-bold  pt6 pb6">You Have ₹ 0 Balance In Voucher</h4>
                  <br />
                  <p style = "font-size:12px;color:#fff;" class=" c666 f-bold  pt6 pb6">Your Voucher Balance is ₹ 0. You can redeem your voucher value against your next purchase.</p>
                </div>
              </div>
            </div>
          <% end %>
          <!-- voucher list end -->
        </div>
      </div>
    </div>  
  </div>  
  <% if @vouchers.present? %>
  <table class="data-table" id="my-orders-table">
    <colgroup>
      <col width="">
      <col width="">
      <col>
      <col width="1">
      <col width="1">
      <col width="20%">
    </colgroup>
    <thead>
      <tr class="first last">
        <th class=" c666 f-bold fs11 pt6 pb6">Voucher No </th>
        <th class=" c666 f-bold fs11 pt6 pb6">Date</th>
        <th class=" c666 f-bold fs11 pt6 pb6">Credit / Debit</th>
        <th class=" c666 f-bold fs11 pt6 pb6"><span class="nobr">Revocation</span></th>
        <th class=" c666 f-bold fs11 pt6 pb6"><span class="nobr">Voucher Amount</span></th>
      </tr>
    </thead>
    <tbody>
      <% if @vouchers.present? %>
         <% @vouchers.each do | voucher | %>
          <tr class="first last odd">
            <td class=" c666 f-bold fs11 pt6 pb6"><%= voucher.id %></td>
            <td class=" c666 f-bold fs11 pt6 pb6"><span class="nobr"><%= voucher.created_at.strftime("%d/%b/%Y") %></span></td>
              <% if voucher.credit.present? %>
                <td class=" c666 f-bold fs11 pt6 pb6">
                  <%= '%.2f' % voucher.credit %> / Credit</h5>
                </td>
                <td class=" c666 f-bold fs11 pt6 pb6">
                  <% if voucher.refund_revocation_id.present? %>
                    Refund Revocation
                  <% else %>
                    Replacement Revocation
                  <% end %>
                </td>                              
              <% else %>
                <td class=" c666 f-bold fs11 pt6 pb6"><%= '%.2f' % voucher.debit %> / Debit</td>
                <td class=" c666 f-bold fs11 pt6 pb6">
                  <% if voucher.order_id.present? %>
                    <%= voucher.order.order_number  %>
                  <% end %>
                </td> 
              <% end %>
            <td class=" c666 f-bold fs11 pt6 pb6"><span class="">₹ <%=  '%.2f' % voucher.voucher_amount %> </span></td>
          </tr>
        <% end %> 
      <% else %>
        <div class="sidebar1">
          <div class="options">
            <div class="overview" style="padding:0px;">
              <div class="mobile-apps">
                 <div class="row">
                    <div class="col-sm-12 col-xs-12">
                      <div class="col-sm-5 text-center">
                        <br />
                        <i class="glyphicon glyphicon-list-alt huge1"></i>
                        <br />
                      </div>
                      <div class="col-sm-7">
                        <br />
                        <h4>You Have ₹ 0 Order Items</h4>
                        <br />
                        <p style = "font-size:12px;color:#fff;">Your Voucher Balance is ₹ 0. You can redeem your voucher value against your next purchase.</p>
                        
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>        
      <% end %>    
    </tbody>
  </table>
  <% end %>
</div> 
<!-- wrap end -->
