<!-- container start-->
<div class="container box"> 
  <div class="row">  
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">  
      <%= render partial: "layouts/shared/user_sidebar" %>  
    </div> 
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <!-- voucher show start-->
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-1  text-info bold">Voucher Number</div>
            <div class="col-sm-2 col-xs-4 text-info bold">Notes</div>
            <div class="col-sm-2 col-xs-2  text-info bold">Voucher Cost</div>
            
            <div class="col-sm-2 hidden-xs text-info bold">Credit </div>
            <div class="col-sm-2 hidden-xs text-info bold">Debit</div>
            <div class="col-sm-2 col-xs-4 text-info bold">Created_date</div>
          </div>
        </div>
        <div class="panel-body top_space">
        <% if @vouchers.present? %>
          <div class="row hoverd">
            <% @vouchers.each do | voucher | %>
              <div class="col-sm-2 col-xs-1 "><%=voucher.id %></div>
              <div class="col-sm-2 col-xs-1 "><%=voucher.notes %></div>
              <div class="col-sm-2 col-xs-2"><%= voucher.voucher_amount %></div>
              <div class="col-sm-2 hidden-xs"><%= voucher.credit %></div>
              <div class="col-sm-2 hidden-xs"><%= voucher.debit %></div>
              <div class="col-sm-2 col-xs-4 "><%= voucher.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %> </div>
            <% end %>
          </div>
        <%end %>
        </div>
      </div>
      <!-- voucher show end-->
    </div>  
    </div>
  </div>
</div>
<!-- container end-->