$ = jQuery.noConflict();
$(".profile_show2").html('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/vouchers/vouchers_index_show")) %>'); 
window.history.pushState('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/vouchers/vouchers_index_show")) %>', null, "<%= user_vouchers_path(current_user) %>" );

window.onpopstate =  function(event) {
  $(".profile_show2").html(event.state);
}
