<% @pincode = Admin::Pincode.find(country_id) %>
<%= country_id %>
<fieldset class="center"> 
    <%= f.text_field :pincode,:value => @pincode.pincode,:readonly => "readonly" %>
    <%= f.check_box :availability %><br/>
</fieldset>           

