<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">Create New Plan</h4>
</div>
<!-- modal header end -->
  
<!-- form start -->
<%= form_for(@admin_availability_plan,:html => {:id => '',:class => "validate_this_form" },:remote => true) do |f| %>
  <div class="modal-body category_modal_body">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <% if @admin_availability_plan.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_availability_plan.errors.count, "error") %> prohibited this admin_availability_plan from being saved:</h2>

            <ul>
            <% @admin_availability_plan.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <div class="form-group form_group_admin_availability_plan_name">
        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Plan Name</label>
        <div class="col-xs-12 col-sm-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :name,:class => "blue_textbox width-100 validate_this",:data => {validate_ajax_url: admin_check_plan_name_exist_path} %>
          </span>
          <div class="help-block" id="adminadmin_availability_plan_name_error1"> </div>
        </div>
      </div>
      </div>
    </div>
  </div>
   <div class="modal-footer">
    <%= f.submit "Save", :class => "btn btn-success btn-sm" %>
  </div>
<% end %>
<!-- form end -->


