<!-- container start -->
<div class="container" style="min-height:360px;">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="page-title">
        <h1 style="text-align:left;padding-bottom:0px;">
          About us
        </h1> 
      </div>
      <!-- page content -->
      Ranees presents you an extensive collection of sarees, salwars and tunics in vibrant colors and intricate designs. We cater to the trendy as well as the traditional woman in you.
    </div>
  </div>
</div>
<!-- container end -->

<style>
.page-title{
  border-bottom: 2px dotted #111;
     margin: 0 0 15px;
     padding: 0 0 4px;
}
</style>