<div class="container min_height box-reviews"><br/>
    <div class="page-title" style="border-bottom:2px dotted #2ecc71 !important">
	    <h3 style="color: #2ecc71"> Any Queries?</h2>
	  </div><br/>
	<% if current_user.present? %>
      <div class="col-sm-6 col-md-6 col-xs-12 form-list">
      
        <%= form_for(Support::Ticket.new) do |f| %>
				  <div class="">
				    <label for="subject">Subject<span class="required">*</span></label><br/>
				    <%= f.select :subject, options_for_select(["General", "Order", "Voucher"]),{ :prompt => 'Select' }, :class => " help_subject",:style=>"height:38px;width:95%;padding:8px;font-size:13px;" %> 
				    <span id="help_subject_error1" class="error_list" style="display:none;"></span>
				  </div>
				  <div class=" reason_field" style="margin-top:12px;">
				    <label for="reason">Reason<span class="required">*</span></label><br/>
				    <%= f.select :reason, options_for_select(["Refund", "Replacement", "Consignment Cancel","Order Status","Consignment Status"]),{ :prompt => 'Select' }, :class => " help_reason",:style=>"height:38px;width:95%;padding:8px;font-size:13px;" %> 
				    <span id="help_reason_error1" class="error_list" style="display:none;"></span><br>
				  </div>
				  <div class=" order_number_field" style="margin-top:12px;">
				    <label for="order Number">Order Number<span class="required">*</span></label><br/>
				    <%= f.text_field :order_number,:class => "input-text help_order_number",:style=>"width:95% !important;" %>
				    <span id="help_order_number_error1" class="error_list" style="display:none;"></span><br/>
				  </div>
				  <div class=" consignment_number_field"style="margin-top:12px;">
				    <label for="consignment Number">Consignment Number</label><br/>
				    <%= f.text_field :consignment_number,:class => "input-text help_consignment_number",:style=>"width:95% !important;"   %>
				    <span id="help_consignment_number_error1" class="error_list" style="display:none;"></span><br/>
				  </div>
				  <%= f.hidden_field :user_id,:value => current_user.id %>
				  <%= f.hidden_field :status,:value => "up" %>
				  <div class="" style="margin-top:12px;">
				    <label for="Body">Body<span class="required">*</span></label><br/>
				    <%= f.text_area :body,:class => "help_body" %>
				    <span id="help_body_error1" class="error_list" style="display:none;"></span>
				  </div><br/><br/>
				  <div class="row">
				    <div class="col-sm-4">
				      <%= f.submit "SUBMIT",:class => " button btn-add" %>
				    </div>
				  </div>
				<% end %>
			</div>
  <% else %>
      <div class="col-sm-6 col-md-6 col-xs-12 form-list">
	      <%= form_for(Support::Ticket.new,:html => {:id => 'general_help_form' }) do |f| %>
		  <div class="">
		    <label for="subject">Subject<span class="required">*</span></label><br/>
		    <%= f.text_field :name,:class => "input-text  help_name",:style=>"width:95% !important;"  %>
		    <span id="help_name_error1" class="error_list" style="display:none;"></span>
		  </div>
		  <div class=""  style="margin-top:0px;">
		    <label for="Email">Email<span class="required">*</span></label><br/>
		    <%= f.text_field :email,:class => "input-text  help_email",:style=>"width:95% !important;"  %>
		    <span id="help_email_error1" class="error_list" style="display:none;"></span>
		  </div>
		  <div class="field">
		    <%= f.hidden_field :status,:value => "up"  %>
		  </div>
		  <div class="field">
		    <%= f.hidden_field :subject,:value => "General"  %>
		  </div>
		  <div class=""  style="margin-top:0px;">
		    <label for="Body">Body<span class="required">*</span></label><br/>
		    <%= f.text_area :body,:class => "help_body" %>
		    <span id="help_body_error1" class="error_list" style="display:none;"></span>
		  </div><br/>
		  <div class="row">
		    <div class="col-sm-4">
		    <%= f.submit "SUBMIT",:class => " btn btn-add" %>
		    </div>
		  </div>
		<% end %>
	</div>
	<% end %>
	<div class="account-login col-sm-6 col-md-6 col-xs-12">
	<fieldset class="col2-set" style="">
          <div class="col-2 " style="min-height:257px;width:100%;border-radius:130px;padding-top:15%"> 
            <strong>Instructions</strong>    
            <div class="content">
	         <p >Do let us know of any issues and queries using the form given here. Use the 'Subject' Section to choose the category to which your query comes under.&nbsp;Use the 'body' section to give a brief description about your query/issue. Include as many specifics as you can.</p>
            </div>
          </div>
          </fieldset>
          </div>
</div><br/>


<script>
  jQuery(".reason_field").hide();
  jQuery(".order_number_field").hide();
  jQuery(".consignment_number_field").hide();
  jQuery(".help_reason").hide();
  jQuery(".help_order_number").hide();
  jQuery(".help_consignment_number").hide();
  jQuery('.new_support_ticket').on('change', '.help_subject', function(event){
    if(jQuery(this).val() == "Order"){
      jQuery(".reason_field").show();
      jQuery(".order_number_field").show();
      jQuery(".consignment_number_field").show();
      jQuery(".help_reason").show();
      jQuery(".help_order_number").show();
      jQuery(".help_consignment_number").show();
    }
    else{
     jQuery(".reason_field").hide();
      jQuery(".order_number_field").hide();
      jQuery(".consignment_number_field").hide();
      jQuery(".help_reason").hide();
      jQuery(".help_order_number").hide();
      jQuery(".help_consignment_number").hide();
    }
  });

  jQuery("#general_help_form").submit(function(){
    var name = jQuery(".help_name").val();
    var email = jQuery(".help_email").val();
    var body = jQuery(".help_body").val();
    jQuery("#help_name_error1").html("");
    jQuery("#help_email_error1").html("");
    jQuery("#help_body_error1").html("");
    var a = 1;
    var b = 1;
    var c = 1;
    if(name == ""){
      jQuery("#help_name_error1").css("display","block");
      jQuery("#help_name_error1").html("Please enter the name");
      a = 0;
    }
    if(email == ""){
      jQuery("#help_email_error1").css("display","block");
      jQuery("#help_email_error1").html("Please enter the email");
      b = 0;
    }
    if(body == ""){
      jQuery("#help_body_error1").css("display","block");
      jQuery("#help_body_error1").html("Please enter the body");
      c = 0;
    }
    if(a == 1 && b == 1 && c == 1){
      return true;
    }
    else
    {
      return false;
    }
  });

   jQuery(".new_support_ticket").submit(function(){
    var subject = jQuery(".help_subject").val();
    var order_number = jQuery(".help_order_number").val();
    var consignment_number = jQuery(".help_consignment_number").val();
    var reason = jQuery(".help_reason").val();
    var body = jQuery(".help_body").val();
    jQuery("#help_subject_error1").css("display","none");
    jQuery("#help_order_number_error1").css("display","none");
    jQuery("#help_consignment_number_error1").css("display","none");
    jQuery("#help_reason_error1").css("display","none");
    jQuery("#help_body_error1").css("display","none");
    jQuery("#help_subject_error1").html("");
    jQuery("#help_order_number_error1").html("");
    jQuery("#help_consignment_number_error1").html("");
    jQuery("#help_reason_error1").html("");
    jQuery("#help_body_error1").html("");
    var a = 1;
    var b = 1;  
    var c = 1;
    var d = 1;
    if(subject == ""){
       jQuery("#help_subject_error1").css("display","block");
       jQuery("#help_subject_error1").html("Please select the subject");
      a = 0;
    }
    else if(subject == "Order"){
      if(reason == ""){
        jQuery("#help_reason_error1").css("display","block");
        jQuery("#help_reason_error1").html("Please enter the reason");
        b = 0;
      }
      else if(reason == "Consignment Status" || reason == "Order Status" || reason == "Replacement"){
        if(consignment_number == ""){
        jQuery("#help_consignment_number_error1").css("display","block");
        jQuery("#help_consignment_number_error1").html("Please enter the reason");
        b = 0;
      }
      }
      if(order_number == ""){
        jQuery("#help_order_number_error1").css("display","block");
        jQuery("#help_order_number_error1").html("Please enter the order number");
        c = 0;
      }
    }
    if(body == ""){
      jQuery("#help_body_error1").css("display","block");
      jQuery("#help_body_error1").html("Please enter the message");
      d = 0;
    }
    if(a == 1 && b == 1 && c == 1 && d == 1){
      return true;
    }
    else
    {
      return false;
    }
  });

</script>

<style>
.error_list{
  color:red;
  margin-bottom: -25px;
}
.form-list label {
position: relative;
z-index: 0;
font-weight: normal;
color: #777;
display: inline;
}
label{
	font-size: 14px;
      color: #777;
}
.btn-add{
padding: 8px 12px !important;
display: inline;
background: #fff;
font-family: 'Roboto', sans-serif;
border: 1px #ddd solid;
background: #fff;
padding: 6px 12px;
transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
</style>