<!-- container start -->
<div class="container" style="min-height:360px;">
	<div class="row">
		<div class="col-sm-12 col-xs-12" style="text-align: justify;">
			<div class="page-title">
				<h1 style="text-align:left;padding-bottom:0px;">
					<%= @page.page_name.capitalize %>
				</h1> 
			</div>
			<!-- page content -->
			<%= simple_format( @page.page_content) %>
		</div>
	</div>
</div>
<!-- container end -->

<style>
.page-title{
	border-bottom: 2px dotted #111;
     margin: 0 0 15px;
     padding: 0 0 4px;
}
</style>