<div class="container min_height">
	<div class="row">
		<div class="col-sm-12">
		<div class="col-sm-12">
		<br />
			<% if general.present? %>
				<% if general.privacy.present? %>
					
					<%= general.privacy.html_safe %>
				<% else %>
				<div class="text-center">
					<%= image_tag 'under.png' %>
					</div>
				<% end %>
			<% else %>
			<div class="text-center">
				<%= image_tag 'under.png' %>
				</div>
			<% end %>
			</div>
        </div>
    </div>
</div>