<%= form_for(@admin_replacement_revocation_item) do |f| %>
  <% if @admin_replacement_revocation_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_replacement_revocation_item.errors.count, "error") %> prohibited this admin_replacement_revocation_item from being saved:</h2>

      <ul>
      <% @admin_replacement_revocation_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :replacement_revocation_id %><br>
    <%= f.number_field :replacement_revocation_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br>
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :per_qty_price %><br>
    <%= f.text_field :per_qty_price %>
  </div>
  <div class="field">
    <%= f.label :actual_price %><br>
    <%= f.text_field :actual_price %>
  </div>
  <div class="field">
    <%= f.label :shipping_cost %><br>
    <%= f.text_field :shipping_cost %>
  </div>
  <div class="field">
    <%= f.label :tax %><br>
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
