<h1>Listing admin_replacement_revocation_items</h1>

<table>
  <thead>
    <tr>
      <th>Replacement revocation</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Variant</th>
      <th>Per qty price</th>
      <th>Actual price</th>
      <th>Shipping cost</th>
      <th>Tax</th>
      <th>Reason</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_replacement_revocation_items.each do |admin_replacement_revocation_item| %>
      <tr>
        <td><%= admin_replacement_revocation_item.replacement_revocation_id %></td>
        <td><%= admin_replacement_revocation_item.price %></td>
        <td><%= admin_replacement_revocation_item.qty %></td>
        <td><%= admin_replacement_revocation_item.variant_id %></td>
        <td><%= admin_replacement_revocation_item.per_qty_price %></td>
        <td><%= admin_replacement_revocation_item.actual_price %></td>
        <td><%= admin_replacement_revocation_item.shipping_cost %></td>
        <td><%= admin_replacement_revocation_item.tax %></td>
        <td><%= admin_replacement_revocation_item.reason %></td>
        <td><%= admin_replacement_revocation_item.status %></td>
        <td><%= link_to 'Show', admin_replacement_revocation_item %></td>
        <td><%= link_to 'Edit', edit_admin_replacement_revocation_item_path(admin_replacement_revocation_item) %></td>
        <td><%= link_to 'Destroy', admin_replacement_revocation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Replacement revocation item', new_admin_replacement_revocation_item_path %>
