<p id="notice"><%= notice %></p>

<p>
  <strong>Replacement revocation:</strong>
  <%= @admin_replacement_revocation_item.replacement_revocation_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_replacement_revocation_item.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @admin_replacement_revocation_item.qty %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @admin_replacement_revocation_item.variant_id %>
</p>

<p>
  <strong>Per qty price:</strong>
  <%= @admin_replacement_revocation_item.per_qty_price %>
</p>

<p>
  <strong>Actual price:</strong>
  <%= @admin_replacement_revocation_item.actual_price %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @admin_replacement_revocation_item.shipping_cost %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @admin_replacement_revocation_item.tax %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @admin_replacement_revocation_item.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_replacement_revocation_item.status %>
</p>

<%= link_to 'Edit', edit_admin_replacement_revocation_item_path(@admin_replacement_revocation_item) %> |
<%= link_to 'Back', admin_replacement_revocation_items_path %>
