<%= form_for(@admin_shipping_country) do |f| %>
  <% if @admin_shipping_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_country.errors.count, "error") %> prohibited this admin_shipping_country from being saved:</h2>
      <ul>
        <% @admin_shipping_country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
