<%= form_for @block_list, :url => admin_role_block_lists_path(@role),:html => {:id => 'blocks_form' } do |f| %>
  <span id="urlsd" style="display:none;">new</span>
  <% if @block_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block_list.errors.count, "error") %> prohibited this block_list from being saved:</h2>
      <ul>
      <% @block_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/><br/>
  <div class="field">
    <%= f.label :con_name,"Controller Name" %><br>
    <%= f.select :con_name, options_for_select(Array[*ApplicationController.descendants.collect {|v,i| [v,v] }]),{ :prompt => 'Select' }, :class => "form-control width controller_name" %>
    <span id="controller_name_error1" class="error_list" style="display:none;"></span>
  </div><br />
  <div class="field met_field">
    <%= f.label :met_name,"Method Name" %><br>
    <%= f.select :met_name, options_for_select(""),{}, :class => "form-control width action_name" %>
    <span id="action_name_error1" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="actions">
    <%= f.submit "Block", :class => "btn btn-primary"%>
  </div>
<% end %>

