<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-binoculars home-icon"></i>&nbsp;&nbsp;<%= link_to "Roles", admin_roles_path,:remote => true %></li>
    <li class="markthis"><%= link_to @role.name.capitalize , admin_role_path(@role),:remote => true %></li>
    <li class="active">Edit Block List</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

  <div class="page-content">
    <!-- flash start --> 
    <div class="flash_message_panel" >
      <%= render partial: "layouts/shared/flash_msg" %> 
    </div>
    <!-- flash end -->
    <div class ="row">
      <div class="col-xs-12 col-sm-8">
               <div class="widget-container-col ui-sortable">
          <div class="widget-box widget-color-blue ui-sortable-handle">
            <div class="widget-header">
              <h5 class="widget-title lighter bigger  cursive-font">Edit Block List</h5>
              <div class="widget-toolbar">
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main">
                 <%= form_for @block_list, :url => admin_role_block_list_path(@role, @block_list),:html => {:id => 'blocks_form'},:remote => true do |f| %>
                  <span id="urlsd" style="display:none;">edit</span>
                  <br/><br/> 
                  <div class="row">
                    <div class="col-sm-2 col-xs-12">
                      <%= f.label :con_name, "Controller",:class => "label-color" %><br>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                      <%= f.select :con_name, options_for_select(Array[*ApplicationController.descendants.collect {|v,i| [v,v] }], {:selected =>  @block_list.con_name}),{ :prompt => 'Select' }, :class => "form-control blue_textbox  controller_name" %>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                       <span id="controller_name_error1" class="error_list" style="display:none;"></span>
                    </div>
                </div><br />
                  <div class="row">
                    <div class="col-sm-2 col-xs-12">
                      <%= f.label :met_name, "Method",:class => "label-color" %><br>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                      <%= f.select :met_name, options_for_select(Array[*@block_list.con_name.constantize.action_methods.collect { |w,j| w }], {:selected =>  @block_list.met_name}),{ :prompt => 'Select' }, :class => "form-control blue_textbox  action_name" %>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                         <span id="action_name_error1" class="error_list" style="display:none;"></span>
                    </div>
                </div><br />
                  <br/>
                  <div class="actions">
                    <%= f.submit "Update Blocklist", :class => "btn btn-primary btn-sm" %>    
                  </div>
                <% end %><br/>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>

