<%= render partial: "layouts/shared/flash_msg" %>    
<div class="border">
  <div class="pull-right">
  <% if check_link(new_admin_role_block_list_path(@role)) %>
  <%= link_to 'New Block List', new_admin_role_block_list_path(@role) , :class => "btn btn-success"%>
  <% end %></div>
  <h3>Listing Block Lists</h3>
</div><br/>
<div class="panel panel-default">
  <div class=" panel-heading">
    <div class="row">
      <div class="col-sm-5 text-primary">Controller Name</div>
      <div class="col-sm-3 text-primary">Method name</div>
      <div class="col-sm-2 text-primary">Edit</div>
      <div class="col-sm-2 text-primary">Delete</div>
    </div>
  </div>
  <div class="panel-body">
    <% @block_lists.each do |block_list| %>
      <div class="row hoverd">
        <div class="col-sm-5 col-xs-8"><%= block_list.con_name %></div>
        <div class="col-sm-3 col-xs-2"><%= block_list.met_name %></div>
        <div class="col-sm-2 col-xs-1">
        <% if check_link(edit_admin_role_block_list_path(@role, block_list)) %>
          <a class="glyphicon glyphicon-pencil text-success" href="<%= edit_admin_role_block_list_path(@role, block_list) %>"></a>
        <% end %>
        </div>
        <div class="col-sm-2 col-xs-1">
        <% if check_link(admin_role_block_list_path(@role, block_list)) %>
          <%= link_to '', admin_role_block_list_path(@role, block_list), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger" %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

