<%= render partial: "layouts/shared/flash_msg" %>    
<div class="border">
	<% if check_link(admin_role_block_lists_path(@role)) %>
	  <%= link_to 'List Block List', admin_role_block_lists_path(@role), :class => "btn btn-primary btn-sm pull-right" %>
	<% end %>
	<h3>New block_list</h3>
</div>	
<ol class="breadcrumb">
	<% if check_link(admin_roles_path) %>
	  <li><%= link_to "Roles", admin_roles_path %></li>
	<% end %>
	<% if check_link(admin_role_path(@role)) %>
	  <li><%= link_to 'Show Roles', admin_role_path(@role) %></li>
	<% end %>
	<li class="active">New Block List</li>
</ol>
<%= render 'form' %><br />		

