<div class="container box"> 
  <div class="row">  
    <div class="col-xs-12 col-sm-9">
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-1  text-info bold">Voucher Number</div>
            <div class="col-sm-2 col-xs-4 text-info bold">Notes</div>
            <div class="col-sm-2 col-xs-2  text-info bold">Voucher Cost</div>
            
            <div class="col-sm-2 hidden-xs text-info bold">Credit </div>
            <div class="col-sm-2 hidden-xs text-info bold">Debit</div>
            <div class="col-sm-2 col-xs-4 text-info bold">Created_date</div>
          </div>
        </div>
        <div class="panel-body top_space">
        <% if @vouchers.present? %>
          <div class="row hoverd">
            <% @vouchers.each do | voucher | %>
              <div class="col-sm-2 col-xs-1 "><%=voucher.id %></div>
              <div class="col-sm-2 col-xs-1 "><%=voucher.notes %></div>
              <div class="col-sm-2 col-xs-2"><%= voucher.voucher_amount %></div>
              <div class="col-sm-2 hidden-xs"><%= voucher.credit %></div>
              <div class="col-sm-2 hidden-xs"><%= voucher.debit %></div>
              <div class="col-sm-2 col-xs-4 "><%= voucher.created_at %> </div>
          </div>
        <%end %>
        </div>
      </div>
    </div>  
  </div>
</div>