

<section class="main-container col1-layout ">
  <div class="main container">                              
    <div class="account-login">
      <div class="page-title">
        <h2>Resend Confirmation Instructions</h2>
      </div> <!--page-title-->
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <fieldset class="col2-set">
          <strong>Retrieve your password here</strong>
          <div class="content">        
            <p>Please enter your email address below. You will receive a link to reset your password.</p>
            <ul class="form-list">
            <li>
            <label for="email_address">Email Address<em class="required">*</em></label>
            <div class="input-box">
            <%= f.email_field :email, :autofocus => true, :autofocus => true, :class => "input-text required-entry validate-email", :placeholder => "Enter Your Mail id" %>
            </div>
            </li>
            </ul>
          </div>  <!--content-->

          <p class="required">* Required Fields</p>
          <button type="submit" title="Submit" class="button submit"><span>Submit</span></button>
          <a href="<%= new_user_session_path %>"><small>« </small>Back to Login</a>
          
        </fieldset>  <!--col2-set-->
      <% end %>
    </div>  <!--account-login-->
  </div><!--main-container-->
</section>

