<%= form_for @admin_tax_country, :url => admin_tax_plan_tax_countries_path(@admin_tax_plan) do |f| %>
  <%= f.label :country_id, "Country" %><br />
  <%= f.collection_select :country_id, Admin::Country.all, :id, :name,{:prompt => "Select Country"}, :class =>"form-control question1"  %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>