<div class="row">
	<div class="col-xs-12 col-sm-2 left">
    <%= render partial: "layouts/shared/admin_sidebar" %>
	</div>
	<div class="col-xs-12 col-sm-10 top50">
		<%= render partial: "layouts/shared/flash_msg" %>  
		<div class="border">
		  <div class="pull-right">		  	
				<%= link_to 'List Country', admin_tax_plan_tax_country_path(@admin_tax_plan,@admin_tax_country) , :class => "btn btn-primary btn-sm" %>
					
			</div>
			<h3>Editing Tax country</h3>
		</div><br />
    <div class="col-xs-12 col-sm-6">
			<%= render 'form' %><br/><br/>	
    </div>	
	</div>
</div>









