<h1>Listing admin_tax_countries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tax_countries.each do |admin_tax_country| %>
      <tr>
        <td><%= link_to 'Show', admin_tax_plan_tax_country_path(@admin_tax_plan,admin_tax_country) %></td>
        <td><%= link_to 'Edit',edit_admin_tax_plan_tax_country_path(@admin_tax_plan,admin_tax_country) %></td>
        <td><%= link_to 'Destroy', admin_tax_plan_tax_country_path(@admin_tax_plan,admin_tax_country), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax country', new_admin_tax_plan_tax_country_path(@admin_tax_plan) %>
