<%= form_for(@admin_shipping_policy) do |f| %>
  <% if @admin_shipping_policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_policy.errors.count, "error") %> prohibited this admin_shipping_policy from being saved:</h2>

      <ul>
      <% @admin_shipping_policy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :all_country %><br>
    <%= f.check_box :all_country %>
  </div>
  <div class="form-group form_group_admin_shipping_policy_free_free row">
      <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Policy</label>
      <div class="col-xs-12 col-sm-4" style="margin-left: -15px;">
        <label>
          <%= f.radio_button :policy, "free" ,:class=>"ace for_policy_based" %>
          <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Free</span>
        </label><br/>
        <label>
          <%= f.radio_button :policy, "flat" ,:class=>"ace for_policy_based flat_cost" %>
          <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Flat</span>
        </label>
        <%= f.text_field :cost,:placeholder => "Cost" %>
        <br/>
        <label>
          <%= f.radio_button :policy, "variable_based" ,:class=>"ace for_policy_based variable_based" %>
          <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Variable Based</span>
        </label><br/>
        <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
      </div>
    </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-success btn-sm"  %>
  </div>
<% end %>
