<% @pincode = Admin::Pincode.find(country_id) %>
<fieldset class="center"> 
  <%= f.text_field :pincode,:value => @pincode.pincode,:readonly => "readonly" %>
    <% @shipping_weights.each do |shipping_weight| %>
	    <% @shipping_weight = shipping_weight %>
	    <%= f.fields_for :shipping_weights do |builder1| %>
	      <%= render  'shipping_weight_fields', f: builder1, country_id: @shipping_weight.id %>
	    <% end %>
	  <% end %>
	  <% @shipping_prices.each do |shipping_price| %>
	    <% @shipping_price = shipping_price %>
	    <%= f.fields_for :shipping_prices do |builder1| %>
	      <%= render  'shipping_price_fields', f: builder1, country_id: @shipping_price.id %>
	    <% end %>
	  <% end %>
</fieldset> 