<!-- Pages index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-ship"></i> Shipping Policy</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <% unless @admin_shipping_policies.present? %>
      <span class="markthis btn btn-xs btn-success create_button">
        <span class="glyphicon-plus bigger-110"></span>
        <%= link_to 'Create Policy', new_admin_shipping_policy_path  , :class => "",:style => "color:#fff;",:remote => true %>
      </span>
    <% end %>
  </div>
  <!-- button panel end --> 
</div> <br/>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" style="padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class="row" style="min-height:455px;">  
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content1">
          <% if @admin_shipping_policies.present? %>
            <%= form_for('Page', :as => 'pagess', :url => delete_selected_page_admin_pages_path,:remote => true) do |f| %>
              <div class="table-header bigger lighter cursive-font">
                Shipping Policy
                <span class="pull-right" style="margin-right:5px;">
                </span>  
              </div>
              <div id="" class="dataTables_wrapper form-inline no-footer">
                <table id="pages_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>All country</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admin_shipping_policies.each do |admin_shipping_policy| %>            
                    <tr>
                      <td style = "text-transform: capitalize;">
                        <%= admin_shipping_policy.all_country %>
                      </td>
                      <td>
                        <span class="label label-sm label-success"><%= admin_shipping_policy.policy %></span>
                      </td>
                      <td>
                        <div class="action-buttons">
                          <%= link_to '', admin_shipping_policy,:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color" %>
                          <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_shipping_policy, method: :delete, data: { confirm: 'Are you sure?' },:class => "markthis delete_button_color",:remote => true  %>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>  
              </div>
            <% end %>  
          <% else %>
            <div class="row">
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
              <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
              <h3> No Shipping Policy </h3>
              Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
              <span class="markthis btn btn-xs btn-success create_button">
                <span class="glyphicon-plus bigger-110"></span>
                <%= link_to 'Create New Policy', new_admin_shipping_policy_path  , :class => "",:style => "color:#fff;",:remote => true %>
              </span>
              </div>
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
            </div>
          <% end %>
      </div> 
    </div>
  </div>
</div>  
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" >
      
    </div>
  </div>
</div>
<!-- Modal Window End-->