<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis"><%= link_to "Shipping Policy", admin_shipping_policies_path,:remote => true  %></li>
    <li class="active">new</li>
  </ul>
</div>


<div class="page-content">  
  <!-- flash start --> 
  <%= render 'form' %>
</div>