<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-ship"></i> <%= link_to "Shipping Policy", admin_shipping_policies_path,:remote => true  %></li>
    <li class="active">show</li>
  </ul>
  <div class="nav-search" id="nav-search">
  <span class="markthis">
    <%= link_to ' Delete', @admin_shipping_policy, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-xs gly",:remote => true  %></span>
  </div>
</div>

<span class="current_id" style="display:none"><%= @admin_shipping_policy.id %></span> 
<span class="for_url" style="display:none">
  <%= admin_shipping_policy_find_shipping_policy_shipping_weight_path(@admin_shipping_policy) %>
</span>

<div class="page-content">  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 
  
  <% unless @admin_shipping_policy.all_country %>
    <% @admin_shipping_policy.shipping_specific_countries.each do |shipping_specific_country| %>
      <% if shipping_specific_country.persisted? %>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
          <%= link_to shipping_specific_country.country.name, admin_shipping_policy_shipping_specific_country_path(@admin_shipping_policy , shipping_specific_country),:remote => true %>
          </div>
        </div><br/>
      <% end %>
    <% end %>
  <% end %>

  <div class="widget-box">
    <div class="widget-header widget-header-blue widget-header-flat">
      <h4 class="widget-title lighter">New Item Wizard</h4>
    </div>
    <div class="widget-body">
      <div class="widget-main" style="background:white;">
        <%= form_for(@admin_shipping_policy,:html => {:id => 'shipping_policy_form',:class => "validate_this_form" },:remote => true) do |f| %>
          <div id="fuelux-wizard-container" class="complete">
            <div>
              <ul class="steps">
                <li data-step="1" class="active">
                  <span class="step">1</span>
                  <span class="title">Validation states</span>
                </li>

                <li data-step="2" class="">
                  <span class="step">2</span>
                  <span class="title">Alerts</span>
                </li>

                <li data-step="3" class="">
                  <span class="step">3</span>
                  <span class="title">Payment Info</span>
                </li>
              </ul>
            </div>

            <hr>

            <div class="step-content pos-rel">
              <div class="step-pane active" data-step="1">
                <div class="form-group form_group_admin_availability_plan_all_country row">
                  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Country</label>
                  <div class="col-xs-12 col-sm-4">
                    <label>
                      <%= f.check_box :all_country,:class=>"ace ace-switch ace-switch-4" %>
                      <span class="lbl labelonoff"></span>
                    </label>
                    <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
                  </div>
                  <span class="help-button help-button-new col-xs-12 col-sm-3 col-md-3" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
                </div>
                <div class="form-group form_group_admin_shipping_policy_free_free row">
                  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Policy</label>
                  <div class="col-xs-12 col-sm-4" style="margin-left: -15px;">
                    <label>
                      <%= f.radio_button :policy, "free" ,:class=>"ace for_policy_based" %>
                      <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Free</span>
                    </label><br/>
                    <label>
                      <%= f.radio_button :policy, "flat" ,:class=>"ace for_policy_based flat_cost" %>
                      <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Flat</span>
                    </label>
                    <%= f.text_field :cost,:placeholder => "Cost" %>
                    <br/>
                    <label>
                      <%= f.radio_button :policy, "variable_based" ,:class=>"ace for_policy_based variable_based" %>
                      <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Variable Based</span>
                    </label><br/>
                    <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
                  </div>
                </div>
                <div class="add_policy_shipping_weight">
                  <% if @admin_shipping_policy.shipping_weights.length > 1 %>
                    <%= f.fields_for :shipping_weights do |builder1| %>
                      <fieldset class="center"> 
                        <%= builder1.text_field :range,:readonly => "readonly" %>
                        <%= builder1.text_field :cost %>
                      </fieldset>
                    <% end %>
                  <% else %>
                    <% @shipping_weights.each do |shipping_weight| %>
                      <%= f.fields_for :shipping_weights do |builder1| %>
                        <fieldset class="center"> 
                          <%= builder1.text_field :range,:value => shipping_weight.range,:readonly => "readonly" %>
                          <%= builder1.text_field :cost %>
                        </fieldset>
                      <% end %> 
                    <% end %>
                  <% end %>
                </div><br/>
                <div class="add_policy_shipping_price">
                  <% if @admin_shipping_policy.shipping_prices.length > 1 %>
                    <%= f.fields_for :shipping_prices do |builder1| %>
                      <fieldset class="center"> 
                        <%= builder1.text_field :range,:readonly => "readonly" %>
                        <%= builder1.text_field :cost %>
                      </fieldset>
                    <% end %>
                  <% else %>
                    <% @shipping_prices.each do |shipping_price| %>
                      <%= f.fields_for :shipping_prices do |builder1| %>
                        <fieldset class="center"> 
                          <%= builder1.text_field :range,:value => shipping_price.range,:readonly => "readonly" %>
                          <%= builder1.text_field :cost %>
                        </fieldset>
                      <% end %> 
                    <% end %>
                  <% end %>
                </div>
              </div>
              <%= f.fields_for :shipping_specific_countries do |builder| %>
                <% unless builder.object.persisted? %>
                  <div class="step-pane shipping_specific_countries" data-step="2">
                    <div>
                      <div class="form-group row form_group_admin_availability_plan_country_id">
                        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Select Country</label>
                        <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left:0px;">
                            <%= builder.collection_select :country_id, @country_list, :id, :name, { :prompt => "Select Country" }, { :class => "form-control blue_textbox country_chosen validate_this",:id => "admin_availability_plan_country_id" }  %>
                          <div class="help-block" id="admin_availability_plan_country_id_error1"> </div>
                        </div>
                      </div>
                      <div class="form-group row form_group_admin_availability_plan_all_place">
                        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Place</label>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                          <label>
                            <%= builder.check_box :all_place,:class=>"ace ace-switch ace-switch-4 all_place_switch" %>
                            <span class="lbl labelonoff"></span>
                          </label>
                          <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
                        </div>
                        <span class="help-button help-button-new col-xs-12 col-sm-2 col-md-2" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
                      </div>
                      <div class="form-group form_group_admin_availability_plan_all_country country_policy_field row">
                        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Policy</label>
                        <div class="col-xs-12 col-sm-4" style="margin-left: -15px;">
                          <label>
                            <%= builder.radio_button :policy, "free" ,:class=>"ace for_country_policy_based" %>
                            <span class="lbl">Free</span>
                          </label><br/>
                          <label>
                            <%= builder.radio_button :policy, "flat" ,:class=>"ace for_country_policy_based flat_costs" %>
                            <span class="lbl">Flat</span>
                          </label>
                          <%= builder.text_field :cost,:placeholder => "Cost",:class => "add_policy_country_cost" %><br/>
                          <label>
                            <%= builder.radio_button :policy, "variable_based" ,:class=>"ace for_country_policy_based country_variable_based" %>
                            <span class="lbl">Variable Based</span>
                          </label><br/>
                          <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
                        </div>
                      </div>
                      <div class="add_country_policy_shipping_weight">
                      </div><br/>
                      <div class="add_country_policy_shipping_price">
                      </div>
                    </div>
                  </div>
                  <div class="step-pane" data-step="3">
                    <div class="add_pincode_policy_shipping_weight">
                    </div><br/>
                    <div class="add_pincode_policy_shipping_price">
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

        <% end %><hr>
        <div class="wizard-actions">
          <button class="btn btn-prev wizard-btn-previous">
            <i class="ace-icon fa fa-arrow-left"></i>
            Prev
          </button>

          <button class="btn btn-success btn-next wizard-btn-next" data-last="Finish">Next<i class="ace-icon fa fa-arrow-right icon-on-right"></i></button>
        </div>
      </div><!-- /.widget-main -->
    </div><!-- /.widget-body -->
  </div>
</div>



<script>
if($(".variable_based").is(':checked') && $("#admin_shipping_policy_all_country").is(':checked')){
  $(".add_policy_shipping_weight").show();
  $(".add_policy_shipping_price").show();
}
else{
  $(".add_policy_shipping_weight").hide();
  $(".add_policy_shipping_price").hide();
}
$("#admin_shipping_policy_cost").hide();
$(".add_policy_country_cost").hide();
$(".for_policy_based").click(function(){
  $(".for_policy_based").prop( "checked", false );
  $(this).prop( "checked", true );
  if($(this).hasClass("flat_cost")){
    $("#admin_shipping_policy_cost").show();
  }
  else{
    $("#admin_shipping_policy_cost").hide();
    $("#admin_shipping_policy_cost").val("");
  }
  if($(this).hasClass("variable_based")){
    $(".add_policy_shipping_weight").show();
    $(".add_policy_shipping_price").show();
  }
  else{
    $(".add_policy_shipping_weight").hide();
    $(".add_policy_shipping_price").hide();
  }
});
$(".for_country_policy_based").click(function(){
  $(".for_country_policy_based").prop( "checked", false );
  $(this).prop( "checked", true );
  if($(this).hasClass("flat_costs")){
    $(".add_policy_country_cost").show();
  }
  else{
    $(".add_policy_country_cost").hide();
    $(".add_policy_country_cost").val("");
  }
  if($(this).hasClass("country_variable_based")){
    var current_val = $(".country_chosen").val()
    var current_id = $(".current_id").html();
    var url = $(".for_url").html();
    $(".country_chosen").blur();
    if(current_val != ''){
      $.ajax({
        url: url,
        data: {'id': current_id,'country_id': current_val},
        type: 'GET',
        success: function(data, event, status, xhr) {
          //alert("hi");
        },
        error: function(data, event, status, xhr) {
          
        }
      });
    }
    else{
      $(".country_chosen").blur();
      $(this).prop( "checked", false );
    }
  }
  else{
    $(".add_country_policy_shipping_weight").html(" ");
    $(".add_country_policy_shipping_price").html(" ");
  }
});
$(".country_chosen").chosen();
if($("#admin_shipping_policy_all_country").is(':checked')){
  $(".form_group_admin_shipping_policy_free_free").show();
  $(".wizard-btn-next").html("SAVE")
  $(".wizard-btn-next").addClass("submit_form")
  $("li[data-step='2']").addClass("complete");
  $("li[data-step='3']").addClass("complete");
}
else{
  $(".form_group_admin_shipping_policy_free_free").hide();
}
$("#admin_shipping_policy_all_country").click(function(){
  if($(this).is(':checked')){
    $(".form_group_admin_shipping_policy_free_free").show();
    $(".wizard-btn-next").addClass("submit_form")
    $(".wizard-btn-next").html("SAVE")
    $("li[data-step='2']").addClass("complete");
    $("li[data-step='3']").addClass("complete");
  }
  else{
    $(".add_policy_shipping_weight").hide();
    $(".add_policy_shipping_price").hide();
    $(".form_group_admin_shipping_policy_free_free").hide();
    $("#admin_shipping_policy_cost").hide();
    $("#admin_shipping_policy_cost").val("");
    $(".for_policy_based").prop( "checked", false );
    $(".wizard-btn-next").removeClass("submit_form")
    $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
    $("li[data-step='2']").removeClass("complete");
    $("li[data-step='3']").removeClass("complete");
  }
})
$(".all_place_switch").click(function(){
  if($(this).is(':checked')){
    $(".country_policy_field").show();
    $(".wizard-btn-next").addClass("submit_form")
    $(".wizard-btn-next").html("SAVE")
    $("li[data-step='3']").addClass("complete");
  }
  else{
    $(".add_country_policy_shipping_weight").html("");
    $(".add_country_policy_shipping_price").html("");
    $(".country_policy_field").hide();
    $(".for_country_policy_based").prop( "checked", false );
    $(".wizard-btn-next").removeClass("submit_form")
    $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
    $("li[data-step='3']").removeClass("complete");
    var country_val = $(".country_chosen").val();
    var current_id = $(".current_id").html();
    var url = $(".for_url").html();
    if(country_val != ""){
      $(".country_chosen").blur();
      $.ajax({
        url: url,
        data: {'id': current_id,'country_id': country_val,'pincode':'pincode'},
        type: 'GET',
        success: function(data, event, status, xhr) {
          //alert("hi");
        },
        error: function(data, event, status, xhr) {
          
        }
      });
    }
    else{
      $(".country_chosen").blur();
    }
  }
})

$(function () {
  $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });
})
$(".wizard-btn-previous").attr("disabled","disabled");
$(".wizard-btn-previous").click(function(){
  var data_step = $(".step-pane.active").attr("data-step");
  $("li[data-step='" + data_step +"']").removeClass("active");
  $("li[data-step='" + data_step +"']").removeClass("complete");
  $("div[data-step='" + data_step +"']").removeClass("active");
  var prev_step = parseInt(data_step) - 1
  if(prev_step == 1){
    if($("#admin_availability_plan_all_country").is(':checked')){
      $(".wizard-btn-next").addClass("submit_form")
      $(".wizard-btn-next").html("SAVE")
      $("li[data-step='2']").addClass("complete");
      $("li[data-step='3']").addClass("complete");
    }
    else{
     $(".wizard-btn-next").removeClass("submit_form")
     $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>") 
     $("li[data-step='2']").removeClass("complete");
     $("li[data-step='3']").removeClass("complete");
    }
    $(".wizard-btn-previous").attr("disabled","disabled");
  }
  $("li[data-step='" + prev_step +"']").addClass("active");
  $("div[data-step='" + prev_step +"']").addClass("active");
  $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
});
$(".wizard-btn-next").click(function(){
  var data_step = $(".step-pane.active").attr("data-step");
  var next_step = parseInt(data_step) + 1
  if($(this).hasClass("submit_form")){
    if(data_step == 1){
      $(".shipping_specific_countries").html("");
    }
    else if(data_step == 2){
      $(".add_pincode_policy_shipping_weight").html("")
    }
    $("#shipping_policy_form").submit();
  }
  else{
    if(data_step < 3){
      if(next_step < 3 || $(".country_chosen").val() != ""){
      $("li[data-step='" + data_step +"']").removeClass("active");
      $("li[data-step='" + data_step +"']").addClass("complete");
      $("div[data-step='" + data_step +"']").removeClass("active");

      $("li[data-step='" + next_step +"']").addClass("active");
      $("div[data-step='" + next_step +"']").addClass("active");
      $(".wizard-btn-previous").removeAttr("disabled");
      if(next_step == 2){
        if($(".all_place_switch").is(':checked')){
          $("li[data-step='3']").addClass("complete");
        }
        else{
          $("li[data-step='3']").removeClass("complete");         
        }
      }
      }
      else if(next_step == 3){
        $(".country_chosen").blur();
      }
      if(next_step == 3 && $(".country_chosen").val() != ""){
        $(".wizard-btn-next").html("Finish")
      }
      else{
        $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
      }
    }
    else{
      $("#shipping_policy_form").submit();
    }
  }
    if(next_step == 2){
      if($(".all_place_switch").is(':checked')){
        $(".wizard-btn-next").addClass("submit_form")
        $(".wizard-btn-next").html("SAVE")
        $("li[data-step='3']").addClass("complete");
      }
      else{
        $(".wizard-btn-next").removeClass("submit_form")
        $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
        $("li[data-step='3']").removeClass("complete");
      }
    }
});
  

  $("#shipping_policy_form").submit(function(){
    var all_country = $("#admin_shipping_policy_all_country").is(':checked');
    var all_country_policy = $(".for_policy_based").is(':checked');
    var flat_country_cost = $(".flat_cost").is(':checked');
    var all_place = $(".all_place_switch").is(':checked');
    var all_policy = $(".for_country_policy_based").is(':checked');
    var flat_cost = $(".flat_costs").is(':checked');  
    var variant_based = $(".variable_based").is(':checked');
    var country_variant_based = $(".country_variable_based").is(':checked');
    var flag = 1;
    var flag1 = 1;

    if(all_country){
      if(all_country_policy){
        if(flat_country_cost){
          if($("#admin_shipping_policy_cost").val() == ""){
            $(".cost_country_error").html("enter the cost");
            flag1 = 0; 
          }
        }
      }
      else{
        flag1 = 0;
      }
    }
    else if(all_place){
      if(all_policy){
        if(flat_cost){
          if($(".add_policy_country_cost").val() == ""){
            $(".cost_error").html("enter the cost");
            flag = 0; 
          }
        }
      }
      else{
        $(".policy_error").html("select the policy");
        flag = 0; 
      }
    }
    if(flag == 1 && flag1 == 1){
      if(all_country){
        if(!variant_based){
          $(".add_policy_shipping_weight").html("");
          $(".add_policy_shipping_price").html("");
        }
        $(".admin_shipping_specific_pincodes").html("");
        $(".shipping_policies_fields").html("");
      }
      else if(all_place){
        if(!country_variant_based){
          $(".shipping_policies_fields").html("");
        }
        $(".add_policy_shipping_weight").html("");
        $(".add_policy_shipping_price").html("");
        $(".admin_shipping_specific_pincodes").html("");
      }
      else{
        $(".add_policy_shipping_weight").html("");
        $(".add_policy_shipping_price").html("");
        $(".shipping_policies_fields").html("");
      }
      return true;
    }
    else{
      return false;
    }
  });


  $('#shipping_policy_form').on('click', '.add_fields', function(event) {
    var app = $(this).html();   
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');   
    if(app == "Add Images"){      
      appclass = "add_images";      
      $(this).before($(this).data('fields').replace(regexp, time));       
    }     
    else{
     $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });
</script>