<div class="warp2">
  <div class="page-title">
    <h2>Change Password</h2>
  </div>
 
  <div class="dashboard">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,:id => "edit_signup", :class => "validate_this_form" }) do |f| %>
       <%= devise_error_messages! %>
      <div class="fieldset">
        <input name="form_key" type="hidden" value="WASsSJoIjHwdgi9v">
        
        <ul class="form-list">
          
          <li>
            <label for="email" class="c666 f-bold  pt6 pb6">Email Address<em class="required">*</em></label>
            <div class="input-box">
              <%= f.email_field :email, :autofocus => true,:class => "input-text required-entry validate-email validate_this",:placeholder => "Email",:id=>"email2", readonly: true%><br/>
              <div class="help-block required" id="email2_error1"> </div>
            </div>
          </li
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>>
          <li>
              <label for="current_password" class="c666 f-bold  pt6 pb6">Current Password<em class="required">*</em></label>
              <div class="input-box">
                 <%= f.password_field :current_password, :autocomplete => "off",:class => "input-text required-entry validate_this",:placeholder => "Enter Old Password",:id => "password2"%>
                <div class="help-block required" id="password2_error1"> </div> 
              </div>
          </li>
          <li>
                  <label for="password" class="c666 f-bold  pt6 pb6">New Password<em class="required">*</em></label>
                  <div class="input-box">
                    <%= f.password_field :password,:class => "input-text required-entry validate_this",:placeholder => "Enter New password",:id=>"confirm_password2"%>
                    <div class="help-block required" id="confirm_password2_error1"> </div>  
                  </div>
                  </li>
                  <li>
                  <label for="confirmation" class="c666 f-bold  pt6 pb6">Confirm New Password<em class="required">*</em></label>
                  <div class="input-box">
                    <%= f.password_field :password_confirmation,:class => "input-text required-entry validate_this",:placeholder => "ReEnter New Password",:id=>"confirm_password3"%>
                    <div class="help-block required" id="confirm_password3_error1"> </div> 
                  </div>
          </li>
        </ul>
      </div>

      <div class="buttons-set">
          <p class="required">* Required Fields</p>
          <%= f.submit "Update Profile",:class => "btn btn-default btn-sm" %>
      </div>
    <% end %>
  </div>
</div>


<style>
  .form-list input.input-text{
    width:97%;
  }
  .alert {
  margin-top: 20px;
  padding: 9px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  }
</style>

<script>
 $ = jQuery.noConflict();

$(".validate_this_form").submit(function(){ 
    //alert("yes");
    var error = true; 
    $(".validate_this_form :input.validate_this").each(function(){
      if($(this).triggeringfunction()){
        if($(this).attr("data-error") == "exist"){
          error = false;
        }
      }
    });
    return error;
  });

  $(".validate_this").blur(function() {
    var current_field_id = $(this).attr("id");
    var validate_presence = true;
    var validate_msg;
    var validate_length = false;
    var validate_min_length_error;
    var validate_ajax = false;
    var validate_ajax_url;
    var validate_ajax_except;


    if($(this).data('validate-presence') == false){
      validate_presence = $(this).data('validate-presence');
    }
    if($(this).data('validate-min-length') || $(this).data('validate-max-length')){
      validate_length = true;
      if($(this).data('validate-min-length')){
        validate_min_length_val = $(this).data('validate-min-length');
      }
      if($(this).data('validate-max-length')){
        validate_max_length_val = $(this).data('validate-max-length');
      }
    }
    if($(this).data('validate-msg')){
      validate_msg = $(this).data('validate-msg');
    }
    else{
      validate_msg = "Should not be nil"
    }
    if($(this).data('validate-ajax-url')){
      validate_ajax_url = $(this).data('validate-ajax-url');
      validate_ajax = true;
    }

    if($(this).data('validate-ajax-except')){
      validate_ajax_except = $(this).data('validate-ajax-except');
    }

    var current_field_success_icon_class = current_field_id + "_success_icon"
    var current_field_error_icon_class = current_field_id + "_error_icon"
    var current_field_form_group_class = "form_group_" + current_field_id
    var current_field_error_class = current_field_id + "_error1" 

    if(validate_presence == true){
      if($(this).val() == ""){
        $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        $(this).removeData("errors");
        $(this).data("errors", "existjfvfvvhvh"); 
      }
      else{
        if(validate_length == true){
          return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          $this = $(this);
          var current_field_val = $(this).val();
          if(validate_ajax){
            $.ajax({
              url: validate_ajax_url,
              data: {'fieldValue': current_field_val,'validate_ajax_except': validate_ajax_except},
              type: 'GET',
              dataType:'json',
              success: function(data) {
                $.each(data, function(index, element) {
                  if (index == "brand_exist"){
                    if(element == false){
                      validate_msg = "name already exist"
                      $this.errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
                    }
                    else{
                      $this.successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
                    }
                  }
                })
              }
            });
          }
          else{
            $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
          }
        }
      }
    }
    else{
      if(validate_length == true){
        return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
      }
    }
  });

  (function( $ ){
    $.fn.validatelenghtfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        var validate_min_length_error = false;
        var validate_max_length_error = false;
        if($(this).data('validate-min-length')){
          if($(this).val().length < $(this).data('validate-min-length')){
            validate_min_length_error = true
          }
          else{
            validate_min_length_error = false
          }
        }
        if($(this).data('validate-max-length')){
          if($(this).val().length > $(this).data('validate-max-length')){
            validate_max_length_error = true
          }
          else{
            validate_max_length_error = false
          }
        }
        if(validate_min_length_error == false && validate_max_length_error == false){
          $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          if(validate_min_length_error == true){
            validate_msg = "Should be atleast " + $(this).data('validate-min-length') + " characters"
          }
          else{
            validate_msg = "Should not exceed " + $(this).data('validate-max-length') + " characters"
          }
          $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        }
        return this;
    }; 
    $.fn.successfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        $(this).removeClass("blue_textbox");
        $("." + current_field_form_group_class).removeClass("has-error");
        $("." + current_field_form_group_class).addClass("has-success");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove();   
        $(this).after('<i class="ace-icon fa fa-check-circle" id ="' + current_field_success_icon_class + '"></i>');
        $("#" + current_field_error_class).html(" "); 
        $(this).removeData("error");
        $(this).attr("data-error","notexist");
        return "notexist";
    }; 
    $.fn.errorfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg) {
        $(this).removeClass("blue_textbox");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove(); 
        $(this).after('<i class="ace-icon fa fa-times-circle" id ="' + current_field_error_icon_class + '"></i>');
        $("." + current_field_form_group_class).removeClass("has-success");
        $("." + current_field_form_group_class).addClass("has-error");
        $("#" + current_field_error_class).html(validate_msg); 
        $(this).removeData("error");
        $(this).attr("data-error","exist");
        return "exist";
    }; 
    $.fn.triggeringfunction = function(){
      //alert($(this).trigger("blur").data("errors"));
      return $(this).trigger("blur");
    };
  })( jQuery );
</script>