<!-- signup flash -->
  <div id="signup_flash"></div>
<!-- signup flash finish -->
<div class="space-6"></div>
<!-- signup box start -->
 
    <div class="widget-body">
      <div class="widget-main">
          <!-- signup form start --> 
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:remote => true ,:html => {:id => 'signsup' }) do |f| %>
              
              <fieldset>
                <label class="block">
                  <span class="block input-icon input-icon-right">
                    <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder =>"Email Id",:id=>"email2" %>
                    <span id="email_error1" class="error_list" style="display:none;"></span>
                    
                    <i class=" ace-icon fa fa-envelope"></i>
                  </span>
                </label>
                <% if resource.password_required? %>
                  <label class="block">
                    <span class="block input-icon input-icon-right">
                     <%= f.password_field :password, :class => "form-control " ,:placeholder =>"Password",:id=>"password2" %>
                      <span id="password_error1" class="error_list" style="display:none;"></span>
                      <i class="ace-icon fa fa-lock "></i>
                    </span>
                  </label>
                  
                  <label class="block">
                    <span class="block input-icon input-icon-right">
                      <%= f.password_field :password_confirmation, :class => "form-control",:placeholder => "Re Enter Password",:id=>"confirm_password2"%>
                        <span id="confirm_error1" class="error_list" style="display:none;"></span>
                      <i class="ace-icon fa fa-retweet"></i>
                    </span>
                  </label>
                <% end %>
                

                <div class="space-24"></div>
                <div class="">
                <!-- reset field start -->
                  <button type="reset" class="width-30 pull-left btn btn-primary btn-sm">
                    <i class="ace-icon fa fa-refresh"></i>
                    <span class="bigger-110 hidden-xs">Reset</span>
                  </button>
                <!-- reset field finish -->
                  <button type="sumbit" class="width-40 pull-right btn btn-primary btn-sm" name="signedup">
                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                    <span class="bigger-110 hidden-xs">Sign up</span>
                  </button>
                  
                  
                </div>
              </fieldset>
            <% end %>
          <!-- signup form end --> 
      </div>
    </div><!-- /.widget-body -->
<!-- signup box finish --> 
<style>
#signup_flash > .container_flash > .alert_class {
position: relative !important;
}
.width-40 {
  width:40% !important;
}
</style>

