$ = jQuery.noConflict();
$(".profile_show2").html("<%= escape_javascript (render(:partial => 'edit_show')) %>"); 

window.history.pushState('<%= escape_javascript (render(:partial => "devise/registrations/edit_show")) %>', "Title", "<%= edit_user_registration_path %>" );


window.onpopstate =  function(event) {
  $(".profile_show2").html(event.state);
}
