<!-- wrap start -->
<div class="warp2">
  <!-- header start -->
   <div class="page-title">
    <h2>My Wishlist Item</h2>
  </div>
  <!-- header end-->
  <div class="sidebar1">
    <div class="options">
      <div class="overview" style="padding:0px;">
        <div class="mobile-apps"><br />
          <!-- wishlist start -->
            <% if @wishlist.present? %>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5 text-center">
                    <i class="glyphicon glyphicon-heart huge1"></i>
                    <br />
                  </div>
                  <div class="col-sm-7 col-xs-12 col-md-7 col-lg-7">
                    <br />
                    <h4 class="c666 f-bold  pt6 pb6">You Have <%= @wishlist.wishlist_items.count  %> Items In Wishlist</h4>
                    <br />
                    <p class="c666 f-bold pt6 pb6" style = "font-size:12px;color:#fff;">A list of items that will soon make it to your Shopping Cart!</p>
                  </div>
                </div>
              </div> 
            <% else %>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5 text-center">
                    <i class="glyphicon glyphicon-heart huge1"></i>
                    <br />
                  </div>
                  <div class="col-sm-7 col-xs-12 col-md-7  col-lg-7">
                    <br />
                    <h4 class="txt-up c666 f-bold  pt6 pb6">You Have 0 Balance In Wishlist</h4>
                    <br />
                    <p class="txt-up c666 f-bold  pt6 pb6" style = "font-size:12px;color:#fff;">A list of items that will soon make it to your Shopping Cart!</p>
                  </div>
                </div>
              </div>
            <% end %>
          <!-- wishlist end --> 
            
        </div>
      </div>  
    </div>  
  </div> 
  <% if @wishlist.present? %>
  <% if @wishlist.wishlist_items.first.present? %>
    <table class="data-table" id="my-orders-table">
      <colgroup>
        <col width="">
        <col width="">
        <col>
        <col width="1">
        <col width="1">
        <col width="20%">
      </colgroup>
      <thead>
        <tr class="first last">
          <th class="txt-up c666 f-bold fs11 pt6 pb6">Image</th>
          <th class="txt-up c666 f-bold fs11 pt6 pb6" style="width: 40%;">Product</th>
          <th class="txt-up c666 f-bold fs11 pt6 pb6">Price</th>
          <th class="txt-up c666 f-bold fs11 pt6 pb6"><span class="nobr">Add To Cart</span></th>
          <th class="txt-up c666 f-bold fs11 pt6 pb6"><span class="nobr">Remove</span></th>
        </tr>
      </thead>
      <tbody>
        <% if @wishlist.present? %>

          <% @wishlist.wishlist_items.each do |wishlist_item| %>
            <% variant = Admin::Variant.find(wishlist_item.variant_id) %>
            <% product = Admin::Product.find(variant.product_id) %>
            <% if ((product.status) && (product.visibility) && (variant.status) && (variant.visible))%>
              <tr class="first last odd ">
                <td><%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb)%></td>
                <td class="c666 f-bold fs11 pt6 pb6">
                  <%= link_to variant.name.capitalize, section_product_show_path(product.categories.first.id,product),:class =>"txt-up"%><br /><br />
                  <%= sanitize(product.description, :tags=>[]).truncate(120, :separator => " ").html_safe %>
                </td>
                
                <td class=" c666 f-bold fs11 pt6 pb6"><span class="txt-up c666 f-bold fs11 pt6 pb6 ">₹ <% @selling_price = Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first %> <%=   '%.2f' % @selling_price.selling_price %> </span></td>
                
                <td class="a-center last  c666 f-bold fs11 pt6 pb6">
                   <% if variant.find_balance_qty.to_i != 0 || variant.product.unavail_purchase == true %>
                    <% if current_cart.present? %>
                      <%= link_to "<span class='glyphicon glyphicon-shopping-cart'></span>".html_safe, carts_path(CartItem.new, :pid => variant.product.id, :variant_id => variant.id,:selling_price => @selling_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"margin-left:0px;color:#fff !important;" %>          
                    <% else %>
                      <%= link_to '<span class="cart_icon">Add to Cart</span>'.html_safe, carts_path(CartItem.new, :pid => variant.product.id, :variant_id => @variant.id,:selling_price => @selling_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"margin-left:0px;color:#fff !important;" %>
                    <% end %>
                  <% end %>
                </td>
                <td class=" c666 f-bold fs11 pt6 pb6"><%= link_to "", user_wishlist_item_path(@user , wishlist_item,:show => 'yes'), :class => "glyphicon glyphicon-remove remove_from_wishlist_button_#{ variant.id}", method: :delete, data: { confirm: 'Are you sure?'},:remote => true %></td>
              </tr>
            <% end %> 
          <% end %>
        <% end %>    
      </tbody>
    </table>
    <% end %>
  <% end %>  
</div>  
<!-- wrap end -->
<script>
jQuery('.remove_from_wishlist').click(function(){
  var button = jQuery(this).attr('id').replace('wishlist','wishlist_button');
  jQuery("." + button).click();
});
</script>
<style>
a.button.btn-cart:before{
content: "";
font-family: "FontAwesome";
font-size: 15px;  
color:#333;
}
</style>