<div class="modal-header" style="color:green;">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">
    <% @cart = current_cart %>
    CART (<%= @cart.cart_items.count %>)
    <% cart_link = cart_path(@cart) %>
  </h4>
</div> 
<% if @cart.cart_items.present? %>  
  
  <div class="modal-body" > 
    <div class="row ">
      <div class="col-sm-3 col-xs-2">PRODUCT IMAGE</div>
      <div class="col-sm-2 col-xs-2">ITEM</div>
      <div class="col-sm-1 col-xs-1">QTY</div>
      <div class="col-sm-3 col-xs-2">PRICE</div>
      <div class="col-sm-2 col-xs-2">SUBTOTAL</div>
      <div class="col-sm-1 col-xs-1"></div>
    </div><br/>
    <div class="row">
      
    <div class="col-sm-12 col-xs-12"><div class="row cart_borders"></div></div>
    </div><br/>
    <% current_cart.cart_items.each do |cart_item| %> 
      <% variant = Admin::Variant.find(cart_item.variant_id)%>
      <% product = Admin::Product.find(variant.product_id) %>
        <% if ((product.status) && (product.visibility) && (variant.status) && (variant.visible))%>
          <% highlight_class = '' %>
          <% error_msg = ''%>
          <% if @cart.present? %>
            <% if @cart.pincode.present? %>
              <% if product.unavail_purchase == false %>
                <% if  balance_qty(variant).to_i == 0 %>
                  <% shipping_error_msg = '' %>
                  <% highlight_class = 'bg-warning wrong' %>
                  <% error_msg = '<span class="text-warning">Out Of Stock</span>' %>
                <% elsif balance_qty(variant).to_i < cart_item.qty %>
                  <% shipping_error_msg = '' %>
                  <% highlight_class = 'bg-warning wrong' %>
                  <% avail_qty = balance_qty(variant) %>
                  <% error_msg = "<span class='text-warning qty_error' rel='popover' data-content='Available quantity: #{avail_qty} '>Out Of Stock</span>" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% highlight_class = 'bg-warning wrong' %>
          <% error_msg = '<span class="text-warning">Product Not Available</span>' %>
        <% end %>
        <% if @final_cost.present? %>
          <%  @final_cost.each do |final_cost| %>
            <% if final_cost.id == cart_item.id %>
              <% highlight_class = 'bg-warning wrong' %>
              <% error_msg = "<span class='text-warning'>UnAvailable for #{@main_param} </span>" %>
            <% end %>
          <% end %>
        <% end %>
      <div class="row cart_row <%= highlight_class %>">
        <div class="col-sm-3 col-xs-4">
          <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "", :style => "" %></div>
        <div class="col-sm-2 col-xs-2"><%= variant.name %></div>
        <div class="col-sm-1">
          <span class="quantity">
            <%= best_in_place cart_item, :qty, type: :select, :collection => [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10]],:data => {:urls => "#{cart_link}"},:class => "quantity" %>
          </span>
        </div>
        <div class="col-sm-3 col-xs-3"><strong>Rs. <%= cart_item.per_qty_price %></strong><br/>
        
        <%= error_msg.html_safe %></div>
        <div class="col-sm-2"><strong>Rs. <%= cart_item.price %></strong></div>
        <div class="col-sm-1 col-xs-1"><%= link_to " ", cart_item, method: :delete, data: { :remote => true },:class => "glyphicon glyphicon-remove text-warning" %></div>
      </div><br/>
    <% end %>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6 col-xs-6" style="">
          <div class="result_val pull-left"></div><br/>
          <% if @cart.cart_availability_list.class == String %>
          <% else %>
            <%= form_tag find_cart_availability_path, :method => 'get',:id => 'get_shipping_cost',:remote => true  do %>
              <%= collection_select(:user, :id, @cart.cart_availability_list, :id, :name, {:prompt=>true}, {:class=>'my-custom-class pull-left',:id => 'shipping_country_select'})  %>
              <%= hidden_field_tag :cart_id ,@cart.id %>
              <span class="append_pincode pull-left"></span>
              <%= submit_tag "Submit", :name => nil,:class => "pull-left",:style => "background: #c53232;border-radius: 0px;width: 76px;color:white;height:29px;" %><br/>
              <span class="shipping_country_select_error" style="color:#c53232;"></span>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="col-sm-6 col-xs-6">
            <strong class=" pull-left"><h4>Amount Payable :</h4></strong>
          </div>
          <div class="col-sm-6 col-xs-6">
            <span class=" pull-left">
            <h4>Rs. <%= @total_price %></h4>
            </span>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-sm pull-left" data-dismiss="modal">CONTINUE SHOPPING</button>
          </div>
          <div class="col-sm-6 col-xs-6">
            <% if @cart.present? %>
              <% if confirm_cart(@cart) %>
                <% if current_user.present? %>
                  <%= link_to 'PLACE ORDER', cart_path(@cart), :method => 'get', :class => "btn btn-success btn-sm pull-right cart_color", :style => "padding:8px;margin-right: 91px;" %>
                <% else %>
                  <%= link_to 'PLACE ORDER', new_user_session_path, :class => "btn btn-success btn-sm pull-right cart_color", :style => "padding:8px;margin-right: 91px;" %>
                <% end %>
              <% else %>
                <button type="button" class="btn btn-success btn-xs qty_error pull-right" rel='popover' data-content='There are some discrepancies in cart.Please correct that issues and place the order' style = "margin-right: 91px;" >PLACE ORDER</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <div class="row text-center text-muted"><strong>Sorry Your Cart Is Empty</strong></div><br/>
  <div class="row text-center"><button type="button" class="btn btn-success btn-sm" data-dismiss="modal">CONTINUE SHOPPING</button></div>
<% end %>


<script>
  $(".cart_signup_click").click(function(){
    $.cookie("trigger_cart", 1);
    $("#myModal1").hide();
  });
</script>
<style>

select {
margin-left: -12px;
}
</style>
