<colgroup>
  <col>
  <col width="1">
</colgroup>
<tfoot>
  <tr>
    <td style="" class="a-left" colspan="1"><strong>Grand Total</strong></td>
    <td style="" class="a-right"><strong><span class="price">₹ <%= @total_cross_price.present? ?  '%.2f' % @total_cross_price :  '%.2f' % @total_price %></span></strong></td>
  </tr>
</tfoot>
<tbody>
  <tr>
    <td style="" class="a-left" colspan="1">Subtotal    </td>
    <td style="" class="a-right"><span class="price">₹ <%=  '%.2f' % @total_price %></span></td>
  </tr>
  <% if @total_cross_price.present? %>
    <tr>
		  <td style="" class="a-left" colspan="1">
		    Shipping &amp; Handling 
		  </td>
		  <td style="" class="a-right">
		    <span class="price">₹ <%=  '%.2f' % @total_shipping_cost %></span>
		  </td>
		</tr>
		<tr>
		  <td style="" class="a-left" colspan="1">
		    Tax
		  </td>
		  <td style="" class="a-right">
		    <span class="price">₹ <%=  '%.2f' % @tax_price %></span>
		  </td>
		</tr>
	<% end %>
</tbody>