<form action="" method="post">
  <input name="form_key" type="hidden" value="euNXHjYiKoJrdj6z">
  <fieldset>
    <table id="shopping-cart-table" class="data-table cart-table">
      <colgroup><col width="1">
        <col>
        <col width="1">
        <col width="1">
        <col width="1">
        <col width="1">
        <col width="1">
      </colgroup>
      <thead>
        <tr class="first last">
          <th rowspan="1">&nbsp;</th>
          <th rowspan="1" style="width: 60%;">
            <span class="nobr"><strong>Product Name</strong></span>
          </th>
          <th rowspan="1"></th>
          <th class="a-center" colspan="1">
            <span class="nobr"><strong>Unit Price</strong></span>
          </th>
          <th rowspan="1" class="a-right">
            <strong>Qty</strong><strong>
          </th>
          <th class="a-center" colspan="1"><strong>Subtotal</strong></th>
          <th rowspan="1" class="a-center">&nbsp;</th>
        </tr>
      </thead>
      <tfoot>
        <tr class="first last">
          <td colspan="50" class="a-right last">
            <button type="button" title="Continue Shopping" class="button btn-continue" onclick="setLocation('<%= root_path %>')"><span><span>Continue Shopping</span></span></button>
            <button type="button" name="update_cart_action" value="update_qty" title="Update Cart" class="button btn-update" onclick="setLocation('<%= cart_path(current_cart)%>')" ><span><span>Update Cart</span></span></button>
            <button type="button" name="update_cart_action" value="empty_cart" title="Clear Cart" class="button btn-empty" id="empty_cart_button" onclick="setLocation('<%= cart_empty_cart_path(current_cart) %>')" data-method="delete"><span><span>Clear Cart</span></span></button>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <% variant = Admin::Variant.find(cart_item.variant_id)%>
          <% product = Admin::Product.find(variant.product_id) %>
          <% @section = product.categories.first.id %>
          <tr class="first last odd">
            <td class="image hidden-table">
              <a href="<%= section_product_show_path(@section,product) %>" title="<%= variant.name %>" class="product-image">
                <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "", :style => "" , :width => "75", :height => "75" , :alt => variant.name  %>
              </a>
            </td>
            <td>
              <h2 class="product-name">
                <a><%= variant.name %></a>
              </h2>
		          <% if @final_cost.present? %>
		            <% if @final_cost.class == "CartItem" %>
			            <% @final_cost.each do |final_cost| %>
			              <% if final_cost.id == cart_item.id %>
			                <p class="item-msg error">* UnAvailable for #{@main_param}.</p>
			              <% end %>
			            <% end %>
			          <% end %>
		          <% end %>
            </td>
            <td class="a-center hidden-table">
            </td>
            <td class="a-right hidden-table">
              <span class="cart-price">
                <span class="price">₹ <%= '%.2f' % cart_item.per_qty_price %></span>                
              </span>
            </td>
            <td class="a-right movewishlist" style="width:5%;text-align:center">
              <div class="" >
              <input type="number" class="qty_increase" value="<%= cart_item.qty %>" min="1" max="10" data-id="<%= cart_item.qty %>" data-urls = "<%= cart_item_path(cart_item.id) %> " style="width:98%">
              </div>
            </td>
            <td class="a-right movewishlist">
              <span class="cart-price">
                <span class="price">₹ <%=  '%.2f' % cart_item.price %></span>                            
              </span>
            </td>
            <td class="a-center last">
              <a href="<%= cart_item_path(cart_item) %>" data-method ="delete" title="Remove item" class="button remove-item" style="color:#fff !important;">
                <span><span>Remove item</span></span>
              </a>
            </td>
          </tr>
        <% end %>                              
      </tbody>
    </table>
    <span class="urll" style="display:none;"><%= cart_path(current_cart) %></span>
  <script type="text/javascript">decorateTable('shopping-cart-table')</script>
</fieldset>
</form>
<style>
.quantity {
padding: 10px;
border: 1px solid #e7f5f8;
}
</style>
<script>
jQuery('.qty_increase').change(function(){
  var url = jQuery(this).data('urls');
  var view = jQuery(this).val();
  var id =  jQuery(this).data('id');
   jQuery.ajax({
    url: '../../' + url,
    data: {'view':view,'id':id}, 
    dataType:'json',
    type: 'PUT',
    success: function(data, status, xhr) {
     if(data.message != '')
    {
      alert( data.message );
    }
         jQuery.ajax({
      url: '../../' +  jQuery(".urll").html() ,
      data: {},
      type: 'GET',
      success: function(data, event, status, xhr) {
        //return alert(data);
      },
      error: function(data, event, status, xhr) {
      }
    }); 
    },
    error: function(data, event, status, xhr) {
    }
  }); 
});
jQuery('.best_in_place').best_in_place();
jQuery(".qty_error").popover({
  placement:'top'
});
jQuery('.quantity .best_in_place').bind("ajax:success", function(data, status, xhr){ 
  var url = jQuery(this).data('urls');
  var view = jQuery(this).data('view');
  var obj = jQuery.parseJSON( status );
    if(obj.message != '')
    {
      //alert( obj.message );
    }
  jQuery.ajax({
    url: '../../' + url,
    data: {'view':view},
    type: 'GET',
    success: function(data, event, status, xhr) {
      //return alert(data);
    },
    error: function(data, event, status, xhr) {
    }
  }); 
});
</script>