<% @cart = current_cart %>
<% cart_link = cart_path(@cart) %>
<div class="page-content">
<div class="widget-box">
  <div class="widget-body">
    <%= link_to '', cart_path(@cart,:view => 1), :method => 'get', :class => "btn btn-success btn-sm pull-right cart_color refresh_cart_show_summary", :style => "display:none;", :remote => true %>
    <div class="widget-main" style="background:white;">
      <div>
        <div id="fuelux-wizard-container" class="complete">
          <div>
            <ul class="steps">
              <li data-step="1" class="active">
                <span class="step">1</span>
                <span class="title">Shipping Address</span>
              </li>

              <li data-step="2" class="">
                <span class="step">2</span>
                <span class="title">Cart</span>
              </li>

              <li data-step="3" class="">
                <span class="step">3</span>
                <span class="title">Payment Info</span>
              </li>
            </ul>
          </div>

          <hr>

          <div class="step-content pos-rel">
            <div class="step-pane active" data-step="1">
              <div>
                
                <div class="col-sm-12 col-xs-12">
                  <div class="load_address">
                    <%= render partial: "load_address" %>
                  </div>
                </div>
              </div>
            </div>
   
            <div class="step-pane" data-step="2">
              <div>
                <div class="order-summary">
                  <%= render partial: "cart_order_summary" %>
                </div>
              </div>
            </div>


            <div class="step-pane" data-step="3">
              <div>
                <div class="tabbable tabs-left">
                  <ul class="nav nav-tabs" id="myTab3">
                    <li class="active">
                      <a data-toggle="tab" href="#home3">
                        <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                        ONLINE
                      </a>
                    </li>
                    <% if general.cod_preference == true %>
                    <li>
                      <a data-toggle="tab" href="#profile3">
                        <i class="blue ace-icon fa fa-user bigger-110"></i>
                        COD
                      </a>
                    </li>
                    <% end %>
                  </ul>

                  <div class="tab-content" style="border: 1px solid #C5D0DC;">
                    <div id="home3" class="tab-pane in active" style="text-align: center;width:99%;">
                    <br ><br >
                      
                      <div class=""><br/><br/> 
                        <% if current_user.vouchers.first.present? %>
                        <div class="row">

                            <div class="col-sm-2">
                          <strong>Apply Voucher</strong>
                          </div>
                          <div class="col-sm-2">
                          <%= check_box 'vocher', 1 , {:data => {:url => "#{cart_payment_path(current_cart.id)}"},:class => "apply_vocher_box ace"}, 1, 'false' %>
                          <span class="lbl"></span>
                          </div>
                          <div class="col-sm-5 vocher_deduct">
                          </div>
                        </div><br/><br/>
                        <% end %>
                        <div class="payment-cont">
                        <%= render partial: "payment" %> 
                        </div>
                      </div> 
                      <script>
                      jQuery(function() {
                        $(".apply_vocher_box").click(function(){

                          var url = $(this).data('url');
                          var $self = $(this);
                          if( $self.is(':checked') ){
                            var voucher = 1;
                          }
                          else{
                            var voucher = 0;
                          }
                          $.ajax({
                            url: url,
                            data: {"voucher" : voucher },
                            type: 'GET',
                            success: function(data, event, status, xhr) {
                              //$(".checkboxs").prop( "checked", false );
                              //$( this ).find( '.checkboxs' ).prop( "checked", true );
                            },
                            error: function(data, event, status, xhr) {
                              
                            }
                          });
                        });
                      });
                      </script>
                     
                     
                    </div>
                    <% if general.cod_preference == true %>
                    <div id="profile3" class="tab-pane" style="text-align: center;width:99%;">
                     
                      <%= render partial: "cod" %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="wizard-actions">
        <div class="load_address11">
        <%= render partial: "prev_next" %>
        </div>
      </div>

    </div><!-- /.widget-main -->
  </div><!-- /.widget-body -->
</div>
</div>





<script>
$(".country_chosen").chosen();
if($("#admin_availability_plan_all_country").is(':checked')){
  $(".wizard-btn-next").html("SAVE")
  $(".wizard-btn-next").addClass("submit_form")
}
$("#admin_availability_plan_all_country").click(function(){
  if($(this).is(':checked')){
    $(".wizard-btn-next").addClass("submit_form")
    $(".wizard-btn-next").html("SAVE")
  }
  else{
   $(".wizard-btn-next").removeClass("submit_form")
   $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
  }
})
$(".all_place_switch").click(function(){
  if($(this).is(':checked')){
    $(".wizard-btn-next").addClass("submit_form")
    $(".wizard-btn-next").html("SAVE")
  }
  else{
   $(".wizard-btn-next").removeClass("submit_form")
   $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
  }
})

$(function () {
  $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });
})
$(".wizard-btn-previous").attr("disabled","disabled");
$(".wizard-btn-previous").click(function(){
  var data_step = $(".step-pane.active").attr("data-step");
  $("li[data-step='" + data_step +"']").removeClass("active");
  $("li[data-step='" + data_step +"']").removeClass("complete");
  $("div[data-step='" + data_step +"']").removeClass("active");
  var prev_step = parseInt(data_step) - 1
  if(prev_step == 1){
    if($("#admin_availability_plan_all_country").is(':checked')){
      $(".wizard-btn-next").addClass("submit_form")
      $(".wizard-btn-next").show();
      $(".wizard-btn-next").html("SAVE")
    }
    else{
      $(".wizard-btn-next").show();
     $(".wizard-btn-next").removeClass("submit_form")
     $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
    }
    $(".wizard-btn-previous").attr("disabled","disabled");
  }
  $("li[data-step='" + prev_step +"']").addClass("active");
  $("div[data-step='" + prev_step +"']").addClass("active");
  $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
  $(".wizard-btn-next").show();
});
$(".wizard-btn-next").click(function(){
  var data_step = $(".step-pane.active").attr("data-step");
  var next_step = parseInt(data_step) + 1
  if($(this).hasClass("submit_form")){
    $("#availability_plan_form").submit();
  }
  else{
    if(data_step < 3){
      if(next_step == 2){
        $(".refresh_cart_show_summary").click();
      }
      $("li[data-step='" + data_step +"']").removeClass("active");
      $("li[data-step='" + data_step +"']").addClass("complete");
      $("div[data-step='" + data_step +"']").removeClass("active");

      $("li[data-step='" + next_step +"']").addClass("active");
      $("div[data-step='" + next_step +"']").addClass("active");
      $(".wizard-btn-previous").removeAttr("disabled");
      if(next_step == 3){
        $(".wizard-btn-next").hide();
        //$(".wizard-btn-next").html("Finish")
      }
      else{
        $(".wizard-btn-next").show();
        $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
      }
    }
    else{
      $("#availability_plan_form").submit();
    }
  }
    if(next_step == 2){
      $(".refresh_cart_show_summary").click();
      if($(".all_place_switch").is(':checked')){
        $(".wizard-btn-next").show();
        $(".wizard-btn-next").addClass("submit_form")
        $(".wizard-btn-next").html("SAVE")
      }
      else{
      $(".wizard-btn-next").show();
       $(".wizard-btn-next").removeClass("submit_form")
       $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
      }
    }
});

$(".country_chosen").change(function(){
  var current_val = $(this).val()
  var current_id = $(".current_id").html();
  var url = $(".for_url").html();
  $.ajax({
      url: url,
      data: {'id': current_id,'country_id' : current_val},
      type: 'GET',
      success: function(data, event, status, xhr) {
        //alert("hi");
      },
      error: function(data, event, status, xhr) {
        
      }
    });
});


  $('#availability_plan_form').on('click', '.add_fields', function(event) {
    var app = $(this).html();   
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');   
    if(app == "Add Images"){      
      appclass = "add_images";      
      $(this).before($(this).data('fields').replace(regexp, time));       
    }     
    else{
     $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });
</script>




<script>
$('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});

$("#new_shipping_address").submit(function() {  
    var form_whname=$("#shipping_address_name").val();   
    var form_address101=$("#shipping_address_add_line1").val();
    var form_address102=$("#shipping_address_add_line2").val();
    var form_states100=$("#shipping_address_state").val(); 
    var form_country=$("#shipping_address_country").val();
    var form_pin=$("#shipping_address_pincode").val();
    var form_mobile1=$("#shipping_address_phone").val();
    var alphaNumeric = /^[0-9]{5,10}$/;
    var alphaNumeric1 = /^[0-9]{10,21}$/;    
    var a=1; 
    var b=1;
    var c=1; 
    var d=1;
    var e=1;
    var f=1;
    var g=1;
    $("#warehousename100_error").css("display","block");    
    $("#warehousename100_error").html(""); 
    $("#address101_error").css("display","block");    
    $("#address101_error").html("");
    $("#address102_error").css("display","block");    
    $("#address102_error").html(""); 
    $("#states100_error").css("display","block");    
    $("#states100_error").html("");   
    $("#country100_error").css("display","block");    
    $("#country100_error").html("");
    $("#pin100_error").css("display","block");    
    $("#pin100_error").html("");
    $("#cnumber100_error").css("display","block");    
    $("#cnumber100_error").html("");
    if(form_whname==''){
    $("#warehousename100_error").css("display","block");
    $("#warehousename100_error").html("Enter The Name");
    a=0;
    }
    if(form_country==''){
    $("#country100_error").css("display","block");
    $("#country100_error").html("Select The Country");
    e=0;
    }
    else if(form_states100==''){
    $("#states100_error").css("display","block");
    $("#states100_error").html("Select The State");
    d=0;
    }
    else if(form_address102==''){
    $("#address102_error").css("display","block");
    $("#address102_error").html("Enter The District, City");
    c=0;
    }
    else if(form_pin==''){
    $("#pin100_error").css("display","block");
    $("#pin100_error").html("Select The PinCode");
    f=0;
    } 
    if(form_address101==''){
    $("#address101_error").css("display","block");
    $("#address101_error").html("Enter The Door No & Street, Town");
    b=0;
    }
    if(form_mobile1==''){
    $("#cnumber100_error").css("display","block");
    $("#cnumber100_error").html("Enter The Mobile Number");
    g=0;
    }
    else if((!alphaNumeric1.test(form_mobile1))){
    $("#cnumber100_error").css("display","block");
    $("#cnumber100_error").html("Enter The Valid Mobile Number");
    g=0;
    }   
    if(a==1 && b==1 && c==1 && d==1 && e==1 && f==1 && g==1){
      $('select').prop("disabled", false);
    return true;
    }
    else{
    return false;
    }
  }); 
</script>

<style>
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev    { left: -100%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev    { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .prev    { left: -25%; }  
}
.tabs-left > .nav-tabs{
  margin-right:0px;
}
.tab-content > .tab-pane{
  border-bottom:none !important;
}
</style>