    
<!-- Cart order summary page start -->
<% @cart = current_cart %>
<% cart_link = cart_path(@cart) %> 
<% if @cart.shipping_addresses.present? %>
   <div class="modal-body" > 
    <div class="row ">
      <div class="col-sm-3 col-xs-2">PRODUCT IMAGE</div>
      <div class="col-sm-2 col-xs-2">ITEM</div>
      <div class="col-sm-1 col-xs-1">QTY</div>
      <div class="col-sm-3 col-xs-2">PRICE</div>
      <div class="col-sm-2 col-xs-2">SUBTOTAL</div>
      <div class="col-sm-1 col-xs-1"></div>
    </div><br/>
    <div class="row">
      
    <div class="col-sm-12 col-xs-12"><div class="row cart_borders"></div></div>
    </div><br/>
    <% current_cart.cart_items.each do |cart_item| %> 
      <% variant = Admin::Variant.find(cart_item.variant_id)%>
      <% product = Admin::Product.find(variant.product_id) %>
        <% if ((product.status) && (product.visibility) && (variant.status) && (variant.visible))%>
          <% highlight_class = '' %>
          <% error_msg = ''%>
          <% if @cart.present? %>
            <% if @cart.pincode.present? %>
              <% if product.unavail_purchase == false %>
                <% if  balance_qty(variant).to_i == 0 %>
                  <% shipping_error_msg = '' %>
                  <% highlight_class = 'bg-warning wrong' %>
                  <% error_msg = '<span class="text-warning">Out Of Stock</span>' %>
                <% elsif balance_qty(variant).to_i < cart_item.qty %>
                  <% shipping_error_msg = '' %>
                  <% highlight_class = 'bg-warning wrong' %>
                  <% avail_qty = balance_qty(variant) %>
                  <% error_msg = "<span class='text-warning qty_error' rel='popover' data-content='Available quantity: #{avail_qty} '>Out Of Stock</span>" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%if @final_cost.class == String %>
          <% elsif @final_cost.present? &&  %>
            <%  @final_cost.each do |final_cost| %>
              <% if final_cost.id == cart_item.id %>
                <% highlight_class = 'bg-warning wrong' %>
                <% error_msg = "<span class='text-warning'>UnAvailable for #{@main_param} </span>" %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% highlight_class = 'bg-warning wrong' %>
          <% error_msg = '<span class="text-warning">Product Not Available</span>' %>
        <% end %>
      <div class="row cart_row <%= highlight_class %>">
        <div class="col-sm-3 col-xs-4">
          <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "", :style => "" %></div>
        <div class="col-sm-2 col-xs-2"><%= variant.name %></div>
        <div class="col-sm-1">
          <span class="quantity">
            <%= best_in_place cart_item, :qty, type: :select, :collection => [1,2,3,4,5,6,7,8,9,10],:data => {:urls => "#{cart_link}",:view => "show"},:class => "quantity" %>
          </span>
        </div>
        <div class="col-sm-3 col-xs-3"><strong><% if cart_item.per_qty_price.present? %> Rs. <%= cart_item.per_qty_price %><% end%></strong><br/>
         
        <%= error_msg.html_safe %></div>
        <div class="col-sm-2"><strong>Rs. <%= cart_item.price %></strong></div>
        <div class="col-sm-1 col-xs-1"><%= link_to "", cart_item_path(cart_item,:show => 'yes'), :class => "glyphicon text-warning glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?'},:remote => true %></div>
      </div><br/>
      
    <% end %>
    <div class="row  order_bottom">
      <div class="col-sm-2 col-xs-10">
       
      </div>
      <div class="col-sm-6 col-xs-10"></div>
      <div class="col-sm-4 col-xs-10 text-center"><span class="text-muted pull-left">TOTAL :  </span><strong class="fs14 pull-right">RS. <%= @total_price %></strong></div>
    </div>
    <% if @tax_price.present? %>
      <div class="row  order_bottom">
      <div class="col-sm-2 col-xs-10">
      </div>
      <div class="col-sm-6 col-xs-10"></div>
      <div class="col-sm-4 col-xs-10 text-center"><span class="text-muted pull-left">TAX:  </span><strong class="fs14 pull-right">RS. <%= @tax_price %></strong></div></div>
    <% end %>
    <% if @final_cost.class == String %>
      <div class="row  order_bottom">
      <div class="col-sm-2 col-xs-10">
      </div>
      <div class="col-sm-6 col-xs-10"></div>
      <div class="col-sm-4 col-xs-10 text-center"><span class="text-muted pull-left">SHIPPING COST:  </span><strong class="fs14 pull-right">RS. <%= @total_shipping_cost %></strong></div></div>
    <% end %>
    <% if @total_cross_price.present? %>
      <div class="row  order_bottom">
      <div class="col-sm-2 col-xs-10">
      </div>
      <div class="col-sm-6 col-xs-10"></div>
      <div class="col-sm-4 col-xs-10 text-center"><span class="text-muted pull-left">AMOUNT PAYABLE :  </span><strong class="fs14 pull-right">RS. <%= @total_cross_price %></strong></div>
    <% end %>
    <%= link_to 'Continue Shopping', root_path, :class => "btn-xs btn btn-success"%>
  </div>
   
<% end %>
<!-- Cart order summary page end -->

<script>
$( "#target_scroll1" ).scroll();
</script>
<style>
select {
margin-left: -12px;
}
</style>