 <% if @voucher.present? %>
	<% @for_total = @total_cross_price %>
	<% @order_cost = @total_cross_price %>
	<% if @total_cross_price > @voucher.voucher_amount %>
	  <% @total_cross_price = @total_cross_price - @voucher.voucher_amount %>
	  <% @voucher_cost = @voucher.voucher_amount %>
	<% elsif @total_cross_price < @voucher.voucher_amount %>
	  <% @voucher_cost = @total_cross_price %>
	  <% @total_cross_price = 0 %>
	<% end %>
<% end %>
<% if general.cod_preference %>
	<div class="row ">
		<div class="col-sm-12 col-xs-12 fs14">
		  <div class="col-sm-5 col-lg-5 col-xs-12">
		    <p class="text-center" style="font-size:10px;color:#666666;">Pay with cash when your order is delivered</p><br /><br />
	  		<% if @cod_unavail_item[0].nil? %>
	    		<%= form_for "order",:url => user_orders_path(current_user, Admin::Order.new),:remote => true,:html => { :id => "check_captcha" } do |f| %>
	      		<div class="captcha_failure_msg"></div>
	      		<span class="captchas"><%= show_simple_captcha %></span>
			      <%= f.hidden_field  :total_price,:value =>@total_cross_price %>
			      <%= f.hidden_field  :total,:value =>@total_cross_price %>
			      <%= f.hidden_field  :payment_mode,:value => "COD"  %>
			      <% if @voucher.present? %>
			        <%= f.hidden_field  :voucher_amount,:value => @voucher_cost %>
			        <%= f.hidden_field  :total_price,:value =>@order_price %>
			        <%= f.hidden_field  :total,:value =>@total_cross_price %>
			      <% else %>
			        <%= f.hidden_field  :total_price,:value =>@total_cross_price %>
			        <%= f.hidden_field  :total,:value =>@total_cross_price %>
			      <% end %>
			      <br /><br /><br />
			      <button type="submit" class=" cart_color btn btn-warning btn-sm order_submit_button" onclick="$('#loading1111').show();">ORDER NOW</button>
			      <div id="loading1111" style="display:none;margin-top:-200px;">
			    	<%= image_tag 'loading111.gif', :style => "border:none !important;" %><p class="we">cancel Loading</p>
			      </div>
			    <% end %><br/><br/>
			  <% end %>
		  </div>

		  <div class="col-sm-7 col-lg-7 col-xs-12">
		    
		  </div>

		  
    </div>
  </div> 
	<% if @cod_unavail_item[0].present? %>
		<div class="row">
		  <div class="col-sm-3"></div>
		  <div class="col-sm-7">
			<div class="panel panel-warning">
			  <div class="panel-heading">
			  <strong>Following item(s) in your cart do not have Cash on delivery option.</strong></div>
		        <div class="panel-body">
		          <% @cod_unavail_item.each do | cod_unavail_item | %>
		            <div class="row">
		              <% @variant = Admin::Variant.find(cod_unavail_item.variant_id) %>		
		              <div class="col-sm-3">
			            <strong><%= @variant.name %></strong>
			          </div>
			          <div class="col-sm-6">COD unavailable for this product</div>
			        </div><br/>
		          <% end %>
		        </div>
		    </div>
		  </div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-sm-3"></div>
	</div><br/>
<% end %>	