<% @cart = current_cart %>
<% cart_link = cart_path(@cart) %>
<div >
  
  <div class="address" >
    <div id="target_scroll" >
      <% if current_user.shipping_address.present? %>
        <div id="liquid1" class="liquid" style="height:238px !important;">
          <span class="previous"></span>
          <div class="wrapper" style="height:238px !important;">
            <ul style="height:250px !important;">
              <% current_user.shipping_address.order('created_at DESC').each do |address| %>
                <%= content_tag_for(:li, address, :class => "shipping_update",:data => {:url => user_shipping_address_path(current_user,address)}) do %>
                  <div class="row">
                    <div class="col-sm-12 col-xs-12">
                      <% if @cart.shipping_addresses.present? %>
                        <% if @cart.shipping_addresses.first.present? %>
                          <% if @cart.shipping_addresses.first.id == address.id %>
                            <div class="widget-box1" style="padding:10px;">
                              <h6 class="widget-title bigger lighter" style="text-transform:uppercase;"><%= address.name %></h6>
                              <% hidden_field_tag("cart_shipping", address.id , :class => "hidden_val") %>  
                              <hr>
                              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                              &nbsp;<%= address.add_line1 %><br />
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= address.add_line2 %> - <%= address.pincode %><br />
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= address.state %>, <%= address.country %><br />
                              <span class="glyphicon glyphicon-earphone"></span>
                              &nbsp;<%= address.phone %><br /><br />
                              <% if @cart.shipping_addresses.first.present? %>
                                <a href="#" class="btn btn-block  btn-xs <%= @cart.shipping_addresses.first.id == address.id ? "btn-success" : "btn-default" %>">
                                  <i class="ace-icon glyphicon glyphicon-film"></i>
                                  <span class=""><%= @cart.shipping_addresses.first.id == address.id ? "Default Shipping Address" : "Save  As A Default Address" %></span>
                                </a>
                              <% end %>
                            </div>
                          <% else %>
                            <div class="widget-box1" style="padding:10px;">
                              <h6 class="widget-title bigger lighter"  style="text-transform:uppercase;" ><%= address.name %></h6>
                              <% hidden_field_tag("cart_shipping", address.id , :class => "hidden_val") %>
                              <hr>
                              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                              &nbsp;<%= address.add_line1 %><br />
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= address.add_line2 %> - <%= address.pincode %><br />
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= address.state %>, <%= address.country %><br />
                              <span class="glyphicon glyphicon-earphone"></span>
                              &nbsp;<%= address.phone %><br /><br />
                              <% if @cart.shipping_addresses.first.present? %>
                                <a href="#" class="btn btn-block  btn-xs <%= @cart.shipping_addresses.first.id == address.id ? "btn-success" : "btn-default" %>">
                                  <i class="ace-icon glyphicon glyphicon-film"></i>
                                  <span class=""><%= @cart.shipping_addresses.first.id == address.id ? "Default Shipping Address" : "Save  As A Default Address" %></span>
                                </a>
                              <% end %>
                            </div>
                            
                          <% end %>
                        <% else %>
                          <div class="widget-box1" style="padding:10px;">
                            <h6 class="widget-title bigger lighter"  style="text-transform:uppercase;"><%= address.name %></h6>
                            <% hidden_field_tag("cart_shipping", address.id , :class => "hidden_val") %>
                            <hr>
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                              &nbsp;<%= address.add_line1 %><br />
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= address.add_line2 %> - <%= address.pincode %><br />
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= address.state %>, <%= address.country %><br />
                              <span class="glyphicon glyphicon-earphone"></span>
                              &nbsp;<%= address.phone %><br /><br />
                            <% if @cart.shipping_addresses.first.present? %>
                              <a href="#" class="btn btn-block btn-xs <%= @cart.shipping_addresses.first.id == address.id ? "btn-success" : "btn-default" %>">
                                <i class="ace-icon glyphicon glyphicon-film"></i>
                                <span class=""><%= @cart.shipping_addresses.first.id == address.id ? "Default Shipping Address" : "Save  As A Default Address" %></span>
                              </a>
                            <% end %>  
                          </div>
                          
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
          <span class="next"></span>
        </div>      
      <% else %>
        <span class="text-muted"></span>
      <% end %>
    </div>
   
  </div>
    <div class="col-sm-12 col-xs-12 text-center">
      <br /><br /><br />

   <hr>

      <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal_address">    Add New Address     </button><br /><br /><br />
  </div>
</div>  

<script>
$( "#target_scroll" ).scroll();
</script>
<script>
$('.pics').cycle({ 
fx:    'fade', 
speed:  2500 
});
$(document).ready(function() {
  $('#liquid1').liquidcarousel({height:300, duration:1, hidearrows:false});
  $('#liquid').liquidcarousel({
height: 300,    //the height of the list
duration: 1,    //the duration of the animation
hidearrows: true  //hide arrows if all of the list items are visible
});
  
});

$("img.lazy").lazyload();
</script>
<style>

.liquid .previous, .liquid .next{
  margin-top:36px;
}
#liquid1 > .wrapper  > ul > li{

}
.widget-box1{
  border:1px solid #eee;
}
.widget-box1:hover{
  border:1px solid #000;
}


hr {
margin-top: 16px;
margin-bottom: 16px;
border: 0;
border-top: 1px solid #eee;
}

</style>
<div class="modal fade" id="ship_address_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="ship_address_edit1">
            
    </div>
  </div>
</div>


<div class="modal fade" id="myModal_address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter a New Address</h4>
      </div>
      <div class="modal-body">

        
        <%= form_for(@new_shipping_address ,:url => user_shipping_addresses_path(current_user.id),:remote => true, :id => "new_shipping_address") do |f| %>
          <%= f.hidden_field :useraddress, :value => "shipaddress" %>
          <%= f.hidden_field :user2_id, :value => "shipaddress" %>
          
            <div class=  "row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :name, "Name",:class => "control-label form-margin" %>
                </div>
                <div class = "col-sm-6 col-xs-12">
                <%= f.text_field :name,:class => "form-control form-width form-margin" %>
                <span id="warehousename100_error" class="error_list" style="display:none;"></span>
              </div>
            </div> 
            <div class=  "row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :name, "Door Number",:class => "control-label form-margin" %>
              </div>
                <div class = "col-sm-6 col-xs-12">
                <%= f.text_field :add_line1,:class => "form-control form-width form-margin" %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :country, "Country",:class => "control-label form-margin" %>
              </div>
              <div class = "col-sm-6 col-xs-12">
                <%= f.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form-control form-width country1 coun", :style => "margin-left:0px;" } %>
                <span id="country100_error" class="error_list" style="display:none;"></span>
              </div>
            </div>
            <div class="row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :state, "State",:class => "control-label form-margin",:style => "" %>
              </div>
                <div class = "col-sm-6 col-xs-12">
                <%= f.grouped_collection_select :state, Admin::Country.order(:name), :states , :name , :name, :name, { :prompt => "Select State" }, { :class => "form-control form-width state1 stat form-margin",:style => "margin-left:0px;",:disabled => "disable" } %>
                <span id="states100_error" class="error_list" style="display:none;"></span>
              </div>
            </div>
            <div class=  "row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :add_line2, "District, City",:class => "form-margin control-label",:style => "margin-left:0px;" %>
            </div>
                <div class = "col-sm-6 col-xs-12">
                <%= f.grouped_collection_select :add_line2, Admin::State.order(:name), :district_cities , :name , :name, :name, { :prompt => "Select City" }, { :class => "form-control form-width city1  form-margin dist1",:style => "margin-left:0px;",:disabled => "disable" } %>
                <span id="address102_error" class="error_list" style="display:none;"></span>
              </div>
            </div>
            <div class=  "row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :pincode, "Pin Code",:class => "control-label form-margin",:style => "" %>
              </div>
                <div class = "col-sm-6 col-xs-6">
                <%= f.grouped_collection_select :pincode, Admin::DistrictCity.order(:name), :pincodes , :name , :pincode, :pincode, { :prompt => "Select Pincode" }, { :class => "form-control form-width code1 form-margin",:style => "margin-left:0px;",:disabled => "disable" } %>
                <span id="pin100_error" class="error_list" style="display:none;"></span>
              </div>
            </div>
            <div class=  "row">
              <div class = "col-sm-3 col-xs-12">
                <%= f.label :phone, "Contact Number",:class => "control-label form-margin" %>
              </div>
                <div class = "col-sm-6 col-xs-6">
                <%= f.text_field :phone,:class => "form-control form-width phone1 form-margin" %>
                <span id="cnumber100_error" class="error_list" style="display:none;"></span><br />
              </div>
            </div>  
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="col-sm-6 col-xs-6">  
                  </div>
                  <div class="col-sm-6 col-xs-6">  
                    <div class="actions"> 
                      <%= f.submit "Save Address", :class => "btn btn-succees btn-xs" %>
                    </div>
                  </div>
                </div>
              </div>
              <br /><br />

        <% end %>
      </div>      
    </div>
  </div>
</div>

