<% @cart = current_cart %>
<% cart_link = cart_path(@cart) %>
<div class="table-responsive">
<table class="table table-bordered" style="margin-top:-16px;">
  
    <tr>
      <th class="p3 text-center" style="color:#666666;">Variant</th>
      <th class="p3 text-center" style="color:#666666;">Qty</th>
      <th class="p3 text-center" style="color:#666666;">Price (Rs)</th>
      <th class="p3 text-center" style="color:#666666;">Remove</th>
    </tr>
   
    
    <% @cart.cart_items.each do |cart_item| %>
      <% variant = Admin::Variant.find(cart_item.variant_id) %>
      <% product = Admin::Product.find(variant.product_id) %>
      <% if ((product.status) && (product.visibility) && (variant.status) && (variant.visible))%>
        <% highlight_class = '' %>
        <% error_msg = ''%>
        <% if @cart.pincode.present? && general_fixed_rate == false %>
          <% shipping_cost = Admin::Product.shipping_cost(@cart.pincode, product, variant) %>
          <% if  shipping_cost.status == false %>
            <% shipping_error_msg = '' %>
            <% highlight_class = 'bg-warning wrong' %>
            <% error_msg = '<span class="text-warning">Shipping Unavailable</span>' %>
          <% end %>
          <% if product.unavail_purchase == false %>
            <% if  balance_qty(variant).to_i == 0 %>
              <% shipping_error_msg = '' %>
              <% highlight_class = 'bg-warning wrong' %>
              <% error_msg = '<span class="text-warning">Out Of Stock</span>' %>
            <% elsif balance_qty(variant).to_i < cart_item.qty %>
              <% shipping_error_msg = '' %>
              <% highlight_class = 'bg-warning wrong' %>
              <% avail_qty = balance_qty(variant) %>
              <% error_msg = "<span class='text-warning qty_error' rel='popover' data-content='Available quantity: #{avail_qty} '>Out Of Stock</span>" %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% highlight_class = 'bg-warning wrong' %>
        <% error_msg = '<span class="text-warning">Product Not Available</span>' %>
      <% end %>
      <div class="<%= highlight_class %>">
        <tr>
          <th class="text-center" style ="font-weight:normal;color:#666666;">
            <%= variant.name.capitalize %>
          </th>
          <th class="text-center" style ="font-weight:normal;color:#666666;">
            <%= cart_item.qty %>                      
          </th>
          <th class="text-center" style ="font-weight:normal;color:#666666;">
            
            
              <% if cart_item.per_qty_price.present? %><%= cart_item.price %> <% end %>
            
          </th>
          <th class="text-center">
           <%= link_to "", cart_item_path(cart_item,:payment => 'yes'), :class => "glyphicon text-warning glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?'},:remote => true %>
          </th>
        </tr>
      </div><br/>
    <% end %>
    <tr></tr><br/><tr>
      <% if @voucher.present? %>
      <td><strong> voucher</strong></td>
      <td></td>
      <td><strong>Rs. <%= @voucher_cost %></strong></td>
      <% end %>
    </tr>
 
    <tr>
      <th colspan="2"  class="text-center">Total Price    
      </th>
      <th colspan="2" class="text-center" style="color:#666666;"><%= @total_price %></th>
    </tr>
</table>
</div>