<table class="data-table linearize-table" id="checkout-review-table">
  <colgroup>
    <col>
    <col width="1">
    <col width="1">
    <col width="1">
  </colgroup>
  <thead>
    <tr class="first last">
      <th rowspan="1">Product</th>
      <th colspan="1" class="a-right">Price</th>
      <th rowspan="1" class="a-right">Qty</th>
      <th colspan="1" class="a-right">Subtotal</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="first">
      <td style="" class="a-left" colspan="3">Subtotal</td>
      <td style="" class="a-right last"><span class="price">₹ <%=  '%.2f' % @total_price %></span></td>
    </tr>
    <tr>
      <td style="" class="a-left" colspan="3">
        Shipping &amp; Handling  
      </td>
      <td style="" class="a-right last">
        <span class="price">₹ <%=  '%.2f' % @total_shipping_cost %></span>    
      </td>
    </tr>
    <tr>
      <td style="" class="a-left" colspan="3">
        Tax    
      </td>
      <td style="" class="a-right last">
        <span class="price">₹ <%=  '%.2f' % @tax_price %></span>    
      </td>
    </tr>
    <tr class="last">
      <td style="" class="a-left" colspan="3">
        <strong>Grand Total</strong>
      </td>
      <td style="" class="a-right last">
        <strong><span class="price">₹ <%=  '%.2f' % @total_cross_price %></span></strong>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <% variant = Admin::Variant.find(cart_item.variant_id)%>
      <% product = Admin::Product.find(variant.product_id) %>
      <tr class="first odd">
        <td><h3 class="product-name"><%= variant.name %></h3></td>
        <td class="a-right" data-rwd-label="Price">
          <span class="cart-price">
            <span class="price">₹ <%=  '%.2f' % cart_item.per_qty_price %></span>            
          </span>
        </td>
        <td class="a-right" data-rwd-label="Qty"><%= cart_item.qty %></td>
        <!-- sub total starts here -->
        <td class="a-right last" data-rwd-label="Subtotal">
          <span class="cart-price">
            <span class="price">₹ <%=  '%.2f' % cart_item.price %></span>            
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>