<% if @voucher.present? %>
	<% @for_total = @total_cross_price %>
	<% @order_cost = @total_cross_price %>
	<% if @total_cross_price > @voucher.voucher_amount %>
	  <% @total_cross_price = @total_cross_price - @voucher.voucher_amount %>
	  <% @voucher_cost = @voucher.voucher_amount %>
	<% elsif @total_cross_price < @voucher.voucher_amount %>
	  <% @voucher_cost = @total_cross_price %>
	  <% @total_cross_price = 0 %>
	<% end %>
<% end %>
<% if @total_cross_price == 0 && @voucher.present? %>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="panel panel-default site-head">
		  <div class="panel-heading site-head"><strong>PLACE ORDER</strong></div>
			<div class="panel-body">
				<div class="col-sm-3"></div>
				<div class="col-sm-8 ">
		      Amount Payable on delivery<strong> Rs. <%= @total_cross_price %></strong>
		      <%= form_for "order",:url => user_orders_path(current_user, Admin::Order.new),:remote => true,:html => { :id => "check_captcha" } do |f| %>
		        <div class="captcha_failure_msg"></div>
		        <span class="captchas"><%= show_simple_captcha %></span>
		        <%= f.hidden_field  :total_price,:value =>@total_cross_price %>
		        <%= f.hidden_field  :total,:value =>@total_cross_price %>
		          <%= f.hidden_field  :voucher_amount,:value => @voucher_cost %>
		          <%= f.hidden_field  :total_price,:value =>@order_price %>
		          <%= f.hidden_field  :total,:value =>@total_cross_price %>
		          <%= f.hidden_field  :payment_mode,:value => "V"  %>
		        <button type="submit" class="btn btn-warning btn-sm order_submit_button" onclick="$('#loading1111').show();">ORDER NOW</button>
		        <div id="loading1111" style="display:none;margin-top:-200px;">
		      	<%= image_tag 'loading111.gif', :style => "border:none !important;" %><p class="we">cancel Loading</p>
		        </div>
		      <% end %><br/><br/>
		    </div>
	    </div>
    </div>
  </div>
</div>
<% else %>
<% if @total_cross_price.present? %>
  <% @total_price = @total_cross_price %>
<% end %>
<% unless @voucher_cost.present? %>
  <% @voucher_cost = 0 %>
<% end %>
<% if @cart.shipping_addresses.first.present? %>
<div class="row">
  <div class="col-sm-12 col-xs-12">
        <div class="row" style="text-align:center;height:100px;padding-top:50px;padding-bottom:50px">
          <% payment_form_for_payu 'nzP2KA', 'E1Ts871Z',
          :txnid => @a.pop,
          :amount => @total_price,
          :productinfo => 'Book',
          :firstname => @cart.shipping_addresses.first.name,
          :email => current_user.email,
          :phone => @cart.shipping_addresses.first.phone,
          :voucher_amount => @voucher_cost,
          :surl => "http://www.ranees.in" + cart_payu_callback_path(@cart.id),
          :furl => "http://www.ranees.in" + cart_payu_callback_path(@cart.id),
          :html => { :id => 'payment-form'} %>
        </div>
      </div>
</div>
<% end %>
<% end %>


<style>
input[type=submit] {
-webkit-appearance: button;
  cursor: pointer;
  background: #2ECC71 !important;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
</style>