 <% if current_cart.shipping_addresses.present? %>
  <%= link_to 'PROCEED TO PAY', cart_payment_path(current_user.cart), :method => 'get', :class => "btn btn-warning btn-sm cart_color" %>
<% else %>
  <button type="button" class="btn btn-warning btn-sm qty_error" rel='popover' data-content='Please select the Shipping Address'>PROCEED TO PAY</button>
<% end %>
