
  <fieldset>
    <dl class="sp-methods" id="checkout-payment-method-load">
      <dt>
        <input id="p_method_checkmo" value="COD" type="radio" name="payment_method" title="COD" onclick="payment.switchMethod('checkmo')" class="radio" autocomplete="off">
        <label for="p_method_checkmo" style="color:#504A4A;">COD </label>
      </dt>
      <dt>
        <input id="p_method_ccsave" value="CC" type="radio" name="payment_method" title="Online Payment" onclick="payment.switchMethod('ccsave')" class="radio" autocomplete="off" checked>
        <label for="p_method_ccsave" style="color:#504A4A;">Online Payment</label>
      </dt>
    </dl>
  </fieldset>