<br />
<strong>Enter a new shipping address</strong>
<br />
<%= form_for(@new_shipping_address ,:url => user_shipping_addresses_path(current_user.id),:remote => true) do |f| %>
	<div class=  "row">
		<div class = "col-sm-3 col-xs-12">
		  <%= f.label :name, "Name",:class => "control-label form-margin" %>
	    </div>
	    <div class = "col-sm-6 col-xs-12">
			<%= f.text_field :name,:class => "form-control form-width form-margin" %>
			<span id="warehousename100_error" class="error_list" style="display:none;"></span>
		</div>
	</div> 
	<div class=  "row">
		<div class = "col-sm-3 col-xs-12">
			<%= f.label :name, "Door Number",:class => "control-label form-margin" %>
		</div>
	    <div class = "col-sm-6 col-xs-12">
			<%= f.text_field :add_line1,:class => "form-control form-width form-margin" %>
		</div>
	</div>
	<br />
	<div class="row">
		<div class = "col-sm-3 col-xs-12">
			<%= f.label :country, "Country",:class => "control-label form-margin" %>
		</div>
	  <div class = "col-sm-6 col-xs-12">
			<%= f.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form-control form-width country1 coun" } %>
			<span id="country100_error" class="error_list" style="display:none;"></span>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 col-xs-12">
			<%= f.label :state, "State",:class => "control-label form-margin",:style => "" %>
		</div>
	    <div class = "col-sm-6 col-xs-12">
			<%= f.grouped_collection_select :state, Admin::Country.order(:name), :states , :name , :name, :name, { :prompt => "Select State" }, { :class => "form-control form-width state1 stat form-margin",:style => "",:disabled => "disable" } %>
			<span id="states100_error" class="error_list" style="display:none;"></span>
		</div>
	</div>
	<div class=  "row">
		<div class = "col-sm-3 col-xs-12">
			<%= f.label :add_line2, "District, City",:class => "form-margin control-label",:style => "" %>
	</div>
	    <div class = "col-sm-6 col-xs-12">
			<%= f.grouped_collection_select :add_line2, Admin::State.order(:name), :district_cities , :name , :name, :name, { :prompt => "Select City" }, { :class => "form-control form-width city1  form-margin dist1",:style => "",:disabled => "disable" } %>
			<span id="address102_error" class="error_list" style="display:none;"></span>
		</div>
	</div>
	<div class=  "row">
		<div class = "col-sm-3 col-xs-12">
			<%= f.label :pincode, "Pin Code",:class => "control-label form-margin",:style => "" %>
		</div>
	    <div class = "col-sm-6 col-xs-6">
			<%= f.grouped_collection_select :pincode, Admin::DistrictCity.order(:name), :pincodes , :name , :pincode, :pincode, { :prompt => "Select Pincode" }, { :class => "form-control form-width code1 form-margin",:style => "",:disabled => "disable" } %>
			<span id="pin100_error" class="error_list" style="display:none;"></span>
		</div>
	</div>
	<div class=  "row">
		<div class = "col-sm-3 col-xs-12">
			<%= f.label :phone, "Contact Number",:class => "control-label form-margin" %>
		</div>
	    <div class = "col-sm-6 col-xs-6">
			<%= f.text_field :phone,:class => "form-control form-width phone1 form-margin" %>
			<span id="cnumber100_error" class="error_list" style="display:none;"></span><br />
		</div>
	</div>
	<div class=  "row">
		<div class = "col-sm-3 col-xs-3">
			
		</div>
	    <div class = "col-sm-6 col-xs-6">
			<div class="actions cart_color "> 
			  <%= f.submit "Save Address", :class => "cart_color btn btn-sm save fl  cursor", :id => "save_address_button" ,:style => "color:#fff;"  %>
			</div>
		</div>
	</div>
<% end %>



<script>

$("#new_shipping_address").submit(function() {  
    var form_whname=$("#shipping_address_name").val();   
    var form_address101=$("#shipping_address_add_line1").val();
    var form_address102=$("#shipping_address_add_line2").val();
    var form_states100=$("#shipping_address_state").val(); 
    var form_country=$("#shipping_address_country").val();
    var form_pin=$("#shipping_address_pincode").val();
    var form_mobile1=$("#shipping_address_phone").val();
    var alphaNumeric = /^[0-9]{5,10}$/;
    var alphaNumeric1 = /^[0-9]{10,15}$/;    
    var a=1; 
    var b=1;
    var c=1; 
    var d=1;
    var e=1;
    var f=1;
    var g=1;
    $("#warehousename100_error").css("display","block");    
    $("#warehousename100_error").html(""); 
    $("#address101_error").css("display","block");    
    $("#address101_error").html("");
    $("#address102_error").css("display","block");    
    $("#address102_error").html(""); 
    $("#states100_error").css("display","block");    
    $("#states100_error").html("");   
    $("#country100_error").css("display","block");    
    $("#country100_error").html("");
    $("#pin100_error").css("display","block");    
    $("#pin100_error").html("");
    $("#cnumber100_error").css("display","block");    
    $("#cnumber100_error").html("");
    if(form_whname==''){
    $("#warehousename100_error").css("display","block");
    $("#warehousename100_error").html("Enter The Name");
    a=0;
    }
    if(form_country==''){
    $("#country100_error").css("display","block");
    $("#country100_error").html("Select The Country");
    e=0;
    }
    else if(form_states100==''){
    $("#states100_error").css("display","block");
    $("#states100_error").html("Select The State");
    d=0;
    }
    else if(form_address102==''){
    $("#address102_error").css("display","block");
    $("#address102_error").html("Enter The District, City");
    c=0;
    }
    else if(form_pin==''){
    $("#pin100_error").css("display","block");
    $("#pin100_error").html("Select The PinCode");
    f=0;
    } 
    if(form_address101==''){
    $("#address101_error").css("display","block");
    $("#address101_error").html("Enter The Door No & Street, Town");
    b=0;
    }
    if(form_mobile1==''){
    $("#cnumber100_error").css("display","block");
    $("#cnumber100_error").html("Enter The Mobile Number");
    g=0;
    }
    else if((!alphaNumeric1.test(form_mobile1))){
    $("#cnumber100_error").css("display","block");
    $("#cnumber100_error").html("Enter The Valid Mobile Number");
    g=0;
    }   
    if(a==1 && b==1 && c==1 && d==1 && e==1 && f==1 && g==1){
    	$('select').prop("disabled", false);
    return true;
    }
    else{
    return false;
    }
  }); 
</script>
<style>

</style>