
  <div class="main container">  
    <% if current_cart.cart_items.count > 0 %>                            
      <div class="cart">
        <div class="page-title">
          <h2>Shopping Cart</h2>
        </div>       
        <div class="table-responsive cart_list_summary">
          <%= render partial: "#{$client_name}_standard_view/carts/cart_list" %>
        </div>

     <!-- BEGIN CART COLLATERALS -->


  <div class="cart-collaterals row"> 
  <!-- BEGIN COL2 SEL COL 1 -->

    <!-- BEGIN TOTALS COL 2 -->
    <div class="col-sm-4">
      <div class="shipping">
        <h3>Estimate Shipping and Tax</h3>
        <div class="shipping-form">
           <%= form_tag find_cart_extra_cost_path, :method => 'get',:id => 'shipping-zip-form',:remote => true  do %>
            <p>Enter your destination to get a shipping estimate.</p>
            <ul class="form-list">
              <li>
                <label for="country" class="required"><em>*</em>Country</label>
                <div class="input-box">
                  <% if @cart.cart_availability_list.class == String %>
                    <%= collection_select(:user, :id, Admin::Country.all, :id, :name, {:prompt=>true}, {:class=>'my-custom-class validate-select country_select_option ',:id => 'country'})  %>
                    <%= hidden_field_tag :cart_id ,@cart.id %> 
                  <% else %>
                    <%= collection_select(:user, :id, @cart.cart_availability_list, :id, :name, {:prompt=>true}, {:class=>'my-custom-class validate-select country_select_option',:id => 'country'})  %>
                    <%= hidden_field_tag :cart_id ,@cart.id %> 
                  <% end %> 
                  <div class="validation-advice" id="advice-validate-select-country"></div>                
                </div>
                 <span class="please-wait pincode-please-wait" id="billing-please-wait" style="display: none;">
                 <%= image_tag "opc-ajax-loader.gif" ,:alt => "Loading next step...", :title => "Loading next step..." ,:class => "v-middle"%> Loading....       
                </span>
              </li>
              <li>
                <label for="postcode" class="postal_label"></label>
                <div class="input-box append_pincode">
                    
                </div>
              </li>
            </ul>
            <div class="buttons-set11">
              <button type="submit" title="Get a Quote" class="button get-quote"><span>Get a Quote</span></button>
            </div> <!--buttons-set11-->
          <% end %>
          <% if @cart.cart_availability_list.class == String %>

          <% else %>
          <% end %>
          <dl class="sp-methods">
            <dd>
              <ul>
                <li>
                  <label for="s_method_flatrate_flatrate">
                  <span class="price result_val"></span>
                  </label>
                </li>
              </ul>
            </dd>
          </dl>
          
        </div>
      </div>
    </div>   

    <div class="col-sm-4">    
      <div class="discount">
        
      </div> <!--discount--> 
    </div> <!--col-sm-4-->

    <div class="totals col-sm-4">
      <h3>Shopping Cart Total</h3>
      <div class="inner">
        <table id="shopping-cart-totals-table" class="table shopping-cart-table-total">
          <%= render partial: "#{$client_name}_standard_view/carts/cart_total" %>
        </table>
        <ul class="checkout">           
          <li>
            <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout" onclick="window.location='<%= current_user.present? ? cart_payment_path(current_cart) : user_session_path %>';" style="color:#fff !important;"><span>Proceed to Checkout</span></button>
          </li><br>
          <br>
        </ul>                
      </div><!--inner-->
    </div> <!--col-sm-4-->
  </div> <!--cart-collaterals-->

  </div>  <!--cart-->
  <% else %>
    <div class="cart">
      <div class="page-title">
        <h2>Shopping Cart is Empty</h2>
      </div>
      <div class="cart-empty">
        <p>You have no items in your shopping cart.</p>
        <p> <a href="<%= root_path %>">Click here  to continue shopping.</a></p>
      </div>
    </div>
  <% end %>
</div><!--main-container-->

      <style type="text/css">
/*  update google Font  */
.toplinks div.links div a,.mini-cart .basket a,.sale-top-left,.new-label,.sale-label,.product-view #product-img-box .new-label.new-top-left,.product-view #product-img-box .new-label.new-top-right,.product-view #product-img-box .sale-label.sale-top-left,.product-view #product-img-box .sale-label.sale-top-right,.main-col .pdt-nav > li,.magik-producttabs .magik-pdt-container .magik-pdt-nav .pdt-nav > li,.magik-producttabs ul.pdt-list li.item a.thumb span.quick-view span,.products-grid .item .item-inner .item-info .info-inner .item-title a,.ratings .rating-links a,.products-grid .actions button.button.btn-cart span,.col-item .info .info-inner .item-title a,.small-pr-slider span.quick-view span,.col-item a.thumb span.quick-view span,.col-item .item-title a,.new_title h2,.latest-blog a,.blog-img a.info,.our-features-box .feature-box,.cat-img-title .cat-heading,.button, .btn, .button-inverse, .button-vote, .sidebar .button, .sidebar .btn, .dropdown .dropdown-menu .button, .buttons-set .back-link a, .scrolltop, .button-tabs li a,.block .block-title,.side-nav-categories .block-title,.box-category ul li a,.box-category > ul > li a.active,.box-category > ul > li ul li a,.page-title h1, .page-title h2,.col-main,.one-page-checkout .active .step-title,.one-page-checkout .step-title .number,.one-page-checkout .step-title h3,.one-page-checkout .active .step-title h3,.group-select .require,.data-table th,.data-table thead th, .data-table thead td, .data-table tfoot th, .data-table tfoot td, .cart .totals table th, .cart .totals table td,.col2-set h5,.col2-set h4,.block-layered-nav .block-subtitle,.sidebar,.sidebar .block-layered-nav .price,.sidebar .link-cart, .sidebar .link-reorder, .block .actions a,.block-tags .actions a.view-all,.ajax-checkout a,.sidebar .block-cart .block-subtitle,.block-related .price-box .old-price .price,.block-related a.link-cart,.block-related a.link-cart:hover,ol#compare-items li a.product-name span,.block-viewed li span,#recently-viewed-items .product-name a,.block-compared li span,#recently-compared-items .product-name a,.block-poll label,.block-poll .label,.block-subscribe .input-text:focus,.block-company li span,.products-list .product-name a,.products-list .product-shop .desc,.products-list .product-shop p,.add-to-links span,.products-list .product-shop button.button span,.products-grid .actions button.button.btn-cart span,a.button.detail-bnt span,.product-view .product-name h1,.product-view .short-description h2,.product-view .short-description p,.product-view .add-to-links span,.product-view .product-shop .add-to-links .link-compare,.product-view .product-shop .add-to-box .add-to-cart label,.product-view .product-shop .product-options-bottom .add-to-cart label,#product-tabs > dt,.product-tabs li a,.product-tabs li.active a,.form-add-tags button.button,#customer-reviews .page-title h2,#customer-reviews .form-list li label,a.button.view-all,.box-reviews .form-add h3,#product-review-table th, #product-review-table td,#customer-reviews .form-list li label,.category-products ul.products-grid li.item a.thumb span.quick-view span,#shopping-cart-table .product-name,.totals h3,.cart-collaterals h3,.crosssel h2,#wishlist-table .product-name,.checkout-progress li,.page-title_multi h2,.page-not-found h2,.page-not-found h3,.page-not-found .btn-home,.newsletter-wrap input[type="text"],footer .footer-inner h3,footer h4,button.button.btn-cart span,.button, .btn, .button-inverse, .button-vote, .sidebar .button, .sidebar .btn, .dropdown .dropdown-menu .button, .buttons-set .back-link a, .scrolltop, .button-tabs li a,.special-pro .block-title{ font-family: 'Roboto',  sans-serif !important;  } 


</style>

<script>



jQuery(".country_select_option").change(function(){
  jQuery("#pincode_pincode").val('');
  jQuery(".price result_val").html('');
  jQuery(".pincode-please-wait").css("display","block");
  jQuery("#shipping-zip-form").submit();
});
jQuery("#shipping-zip-form").submit(function() { 
  if(jQuery(".country_select_option").val() == ""){
    jQuery("#advice-validate-select-country").html('Please select an option.');
    return false;
  }
  else{
    jQuery("#advice-validate-select-country").html('');
    return true;
  }
});
</script>

<style>
button.button{
  color:#222 !important;
}
button.button:hover{
  color:#fff !important;
}
</style>