<% if @voucher.present? %>
  <% @for_total = @total_cross_price %>
  <% @order_cost = @total_cross_price %>
	<% if @total_cross_price > @voucher.voucher_amount %>
	  <% @total_cross_price = @total_cross_price - @voucher.voucher_amount %>
	  <% @voucher_cost = @voucher.voucher_amount %>
	<% elsif @total_cross_price < @voucher.voucher_amount %>
	  <% @voucher_cost = @total_cross_price %>
	  <% @total_cross_price = 0 %>
	<% end %>
	<td colspan="1">
	  <strong>Amount Payable</strong>
	</td>
	<td class="a-left" colspan="3"><%= @for_total %><span class="text-muted">(Cart Price)</span> <strong> - </strong> <%= @voucher_cost %><span class="text-muted">(voucher Amount)</span></td>
	<td class="a-right last">₹ <strong> <%= @total_cross_price %></strong></td>
<% end %>
