<%= form_for @cart, :url => cart_path(@cart) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>
      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.text_field :qty,:class => "form-control",:id => "statename" %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Update Cart" , :class => "btn btn-primary"%>
  </div>
<% end %>