<div class="row">  
    <div class="col-xs-12 col-sm-2 left">
        <%= render partial: "layouts/shared/admin_sidebar" %>
    </div>

    <div class="col-xs-12 col-sm-10">
      <div class="border">      
        <h3>Carts</h3>
      </div><br/>
      <div class="col-xs-12 col-sm-12">    
      <div class="col-xs-12 col-sm-12">
        <div class="row ship_form">
        <%= search_form_for(@search, :url => admin_carts_path ,:html => {:id => 'search_form_for',:class => 'search_form_for'})  do |f| %><br/>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="col-sm-10 col-xs-12">
                  <%= f.label :user_email_cont, "User Email contains" %>
                  <%= f.text_field :user_email_cont,:class => "form-control" %>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="col-sm-10 col-xs-12">
                  <%= f.label :location_cont %>
                  <%= f.search_field :location_cont,:class => "form-control" %>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="col-sm-10 col-xs-12">
                  <%= f.label :ip_cont %>
                  <%= f.search_field :ip_cont,:class => "form-control" %>
                </div>
              </div>
            </div><br/>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="col-sm-10 col-xs-12">
                  <%= f.label :pincode_cont %>
                  <%= f.search_field :pincode_cont,:class => "form-control" %>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <%= f.submit "Search" , :id => "search1_form",:class => "btn btn-primary" %>
              </div>
            </div><br/>
          <% end %>
      </div><br/>    
        <div class="panel panel-default">
          <div class=" panel-heading">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-primary">Cart</div>
              <div class="col-sm-3 col-xs-2 text-primary">User</div>
              <div class="col-sm-2 col-xs-2 text-primary">Location</div>
              <div class="col-sm-2 col-xs-2 text-primary">IP Address</div>
              <div class="col-sm-2 col-xs-2 text-primary">Pincode</div>
              <div class="col-sm-1 col-xs-2 text-primary">Cart Items Count</div>
            </div>
          </div>
          <div class="panel-body top_space">
            <% @carts.each do |cart| %>
              <div class="row hoverd">
                <div class="col-sm-2 col-xs-2"><%= link_to cart.id, admin_carts_show_path(cart) %></div>   
                <div class="col-sm-3 col-xs-2">
                  <% if cart.user_id.present? %>
                    <%= User.where(:id => cart.user_id).first.email %>
                    <% profile = Profile.where(:user_id => cart.user_id).first %>
                    <%if profile.present?%>
                      (<%= profile.f_name %>)
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm-2 col-xs-2"><%= cart.location %></div>
                <div class="col-sm-2 col-xs-2"><%= cart.ip %></div>
                <div class="col-sm-2 col-xs-2">
                  <% if cart.pincode.present? %>
                    <%= cart.pincode %>
                  <% end %>
                </div>
                <div class="col-sm-1 col-xs-3 text-center ">
                  <%= cart.cart_items.count  %>
                </div>
              </div>          
            <% end %>
          </div>
        </div>
      </div>
    </div>  
  </div>
  

