<div class="container_flash">
  <% flash.each do |name, msg| %>
    <% if name.to_s == "error" %>
      <div class="alert alert-danger msg_content">
        <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a> 
      </div>
    <% elsif name.to_s == "notice" %>
        <a class="close close_this_alert" data-dismiss="alert">×</a>
      <div class="alert alert-success msg_content">
        <%= msg %>
      </div>
    <% elsif name.to_s == "warning" %>
      <div class="alert alert-warning msg_content">
        <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a>
      </div>
    <% else %>
      <div class="alert alert-info msg_content">
        <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a>
      </div>
    <% end %>
  <% end %>
</div>
  