<div class=""> 
  <div class="container">
    <!-- start header menu -->
    <ul class="megamenu skyblue" style="margin-left: 0px;">
        <li><%= link_to 'Home',root_path, :class=>"color1", :style => "text-transform: uppercase;padding-left:16px;"%></li>
        <% @sections.roots.limit(3).sort_by(&:sort_order).each do |section| %>
          <li class="markthis">
            <% if section.children.present? %>
                  <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                    <% if children_section.status == true %>
                      <%= link_to h(children_section.name), section_path(children_section), :class => "color1", :style => "text-transform: uppercase;" %>
                      <div class="megapanel">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="col-sm-8">
                            <div class="col1">
                            <div class="h_nav">
                              <% if children_section.children.present? %>
                                <ul>
                                  <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
                                    <li class="markthis">
                                      <div class="row" style="padding-top:5px;">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2 img_color text-muted">
                                              <%= image_tag 'category_right.png'%>
                                            </div>
                                            <div class="col-sm-9" style="">
                                              <%= link_to h(sub_children_section.name), section_path(sub_children_section), :style => "margin-left:-15px;font-size:13px;color:#555;" %>
                                            </div>
                                        </div>
                                        
                                      </div>
                                    </li>
                                  <% end %>
                                  <br />
                                  
                                </ul>
                              <% end %>
                            </div>
                          </div>
                            </div>
                            <div class="col-sm-4">
                            <div class="col-sm-12">
                              <% children_section.images.where(:type_of_image => "Title").take(1).each do |first_image| %>
                                <%= image_tag first_image.avatar.url,:class => "img-responsive " %>
                              <% end %>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col2"></div>
                          <div class="col1"></div>
                          <div class="col1"></div>
                          <div class="col1"></div>
                          <div class="col1"></div>
                        </div>
                      </div>
                    <% end %>
                    
                  <% end %>
                <% end %>
          </li> 
        <% end %>
      </ul>
     <div class="clear"></div>
  </div>
</div>
<script>jQuery(document).ready(function(){jQuery(".megamenu").megamenu();});</script>

