<%= form_for(@admin_shipping_specific_country) do |f| %>
  <% if @admin_shipping_specific_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_specific_country.errors.count, "error") %> prohibited this admin_shipping_specific_country from being saved:</h2>

      <ul>
      <% @admin_shipping_specific_country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :all_place %><br>
    <%= f.check_box :all_place %>
  </div>
  <div class="field">
    <%= f.label :free %><br>
    <%= f.check_box :free %>
  </div>
  <div class="field">
    <%= f.label :flat %><br>
    <%= f.check_box :flat %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :variable_based %><br>
    <%= f.check_box :variable_based %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.number_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :shipping_policy_id %><br>
    <%= f.number_field :shipping_policy_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
