<% @shipping_weight = Admin::WeightRange.find(country_id) %>
<fieldset class="center"> 
    <%= f.text_field :range,:value => @shipping_weight.range,:readonly => "readonly" %>
    <%= f.text_field :cost %>
</fieldset> 