<fieldset class="center"> 
  <%= f.text_field :pincode,:readonly => "readonly" %>
  <%= f.fields_for :shipping_weights do |builder| %>
	<fieldset class="center"> 
    <%= builder.text_field :range,:readonly => "readonly" %>
    <%= builder.text_field :cost %>
	</fieldset> 
  <% end %>
</fieldset> 
