<% @shipping_price = Admin::PriceRange.find(country_id) %>
<fieldset class="center"> 
    <%= f.text_field :range,:value => @shipping_price.range,:readonly => "readonly" %>
    <%= f.text_field :cost %>
</fieldset> 