<h1>Listing admin_shipping_specific_countries</h1>

<table>
  <thead>
    <tr>
      <th>All place</th>
      <th>Free</th>
      <th>Flat</th>
      <th>Cost</th>
      <th>Variable based</th>
      <th>Country</th>
      <th>Shipping policy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_shipping_specific_countries.each do |admin_shipping_specific_country| %>
      <tr>
        <td><%= admin_shipping_specific_country.all_place %></td>
        <td><%= admin_shipping_specific_country.free %></td>
        <td><%= admin_shipping_specific_country.flat %></td>
        <td><%= admin_shipping_specific_country.cost %></td>
        <td><%= admin_shipping_specific_country.variable_based %></td>
        <td><%= admin_shipping_specific_country.country_id %></td>
        <td><%= admin_shipping_specific_country.shipping_policy_id %></td>
        <td><%= link_to 'Show', admin_shipping_specific_country %></td>
        <td><%= link_to 'Edit', edit_admin_shipping_specific_country_path(admin_shipping_specific_country) %></td>
        <td><%= link_to 'Destroy', admin_shipping_specific_country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping specific country', new_admin_shipping_specific_country_path %>
