<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis"><%= link_to "Shipping Policy", admin_shipping_policy_path(@admin_shipping_policy),:remote => true  %></li>
    <li class="active"><%= @admin_shipping_specific_country.country.name %></li>
  </ul>
  <div class="nav-search" id="nav-search">
    <span class="markthis">  
    </span>
  </div>
</div>

<span class="current_id" style="display:none"><%= @admin_shipping_policy.id %></span> 
<span class="for_url" style="display:none">
  <%= admin_shipping_policy_find_shipping_policy_shipping_weight_path(@admin_shipping_policy) %>
</span>

<div class="page-content">  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 

  <%= form_for(@admin_shipping_specific_country, :url => admin_shipping_policy_shipping_specific_country_path(@admin_shipping_policy,@admin_shipping_specific_country) ,:html => {:id => 'shipping_policy_country_form',:class => "validate_this_form" }) do |f| %>
    <div class="form-group row form_group_admin_availability_plan_all_place">
      <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Place</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <label>
          <%= f.check_box :all_place,:class=>"ace ace-switch ace-switch-4 all_place_switch" %>
          <span class="lbl labelonoff"></span>
        </label>
        <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
      </div>
      <span class="help-button help-button-new col-xs-12 col-sm-2 col-md-2" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
    </div>
    <div class="form-group form_group_admin_shipping_policy_free_free form_group_admin_availability_plan_all_country country_policy_field row">
      <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Policy</label>
      <div class="col-xs-12 col-sm-4" style="margin-left: -15px;">
        <label>
          <%= f.radio_button :policy, "free" ,:class=>"ace for_country_policy_based" %>
          <span class="lbl">Free</span>
        </label><br/>
        <label>
          <%= f.radio_button :policy, "flat" ,:class=>"ace for_country_policy_based flat_costs" %>
          <span class="lbl">Flat</span>
        </label>
        <%= f.text_field :cost,:placeholder => "Cost",:class => "add_policy_country_cost" %>
        <span class="cost_error"></span><br/>
        <label>
          <%= f.radio_button :policy, "variable_based" ,:class=>"ace for_country_policy_based country_variable_based" %>
          <span class="lbl">Variable Based</span>
        </label><br/>
        <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
      </div> 
      <span class="policy_error"></span>
    </div>
    <div class="shipping_policies_fields">
      <% if @admin_shipping_specific_country.shipping_weights.present?  %> 
        <%= f.fields_for :shipping_weights do |builder| %>
          <fieldset class="center"> 
            <%= builder.text_field :range,:readonly => "readonly" %>
            <%= builder.text_field :cost %><br/>
          </fieldset>
        <% end %>
        <%= f.fields_for :shipping_prices do |builder| %>
          <fieldset class="center"> 
            <%= builder.text_field :range,:readonly => "readonly" %>
            <%= builder.text_field :cost %><br/>
          </fieldset>
        <% end %>
      <% else %>
        <% @shipping_weights.each do |shipping_weight| %>
          <%= f.fields_for :shipping_weights do |builder| %>
            <fieldset class="center"> 
              <%= builder.text_field :range,:value => shipping_weight.range,:readonly => "readonly" %>
              <%= builder.text_field :cost %><br/>
            </fieldset>
          <% end %>
        <% end %>
        <% @shipping_prices.each do |shipping_price| %>
          <%= f.fields_for :shipping_prices do |builder| %>
            <fieldset class="center"> 
              <%= builder.text_field :range,:value => shipping_price.range,:readonly => "readonly" %>
              <%= builder.text_field :cost %><br/>
            </fieldset>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="admin_shipping_specific_pincodes">
      <% if @admin_shipping_specific_country.shipping_specific_pincodes.present? && !@admin_shipping_specific_country.all_place %> 
        <%= f.fields_for :shipping_specific_pincodes do |builder| %>
          <%= render  'shipping_specific_pincode_fields', f: builder, country_id: builder.object.id  %>
        <% end %>
      <% else %>
        <%= f.fields_for :shipping_specific_pincodes do |builder| %>
          <% @admin_shipping_specific_country.country.pincodes.each do |pincode| %>
            <% @pincode = pincode %>
            <fieldset class="center"> 
            <%= builder.text_field :pincode,:value => pincode.pincode ,:readonly => "readonly" %> 
            <% @shipping_weights.each do |shipping_weight| %>
              <%= builder.fields_for :shipping_weights do |builder1| %>
                <fieldset class="center"> 
                <%= builder1.text_field :range,:value => shipping_weight.range,:readonly => "readonly" %>
                <%= builder1.text_field :cost %><br/>
                </fieldset>
              <% end %>
            <% end %>
            <% @shipping_prices.each do |shipping_price| %>
              <%= builder.fields_for :shipping_prices do |builder1| %>
                <fieldset class="center"> 
                <%= builder1.text_field :range,:value => shipping_price.range,:readonly => "readonly" %>
                <%= builder1.text_field :cost %><br/>
                </fieldset>
              <% end %>
            <% end %>
            </fieldset>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= f.submit "Save", :class => "btn btn-success btn-sm" %>
  <% end %>

</div>



<script>
if($(".all_place_switch").is(':checked')){
  $(".form_group_admin_shipping_policy_free_free").show();
  $(".admin_shipping_specific_pincodes").hide();
}
else{
  $(".form_group_admin_shipping_policy_free_free").hide();
  $(".admin_shipping_specific_pincodes").show();
}
if($(".flat_costs").is(':checked')){
  $(".add_policy_country_cost").show();
}
else{
  $(".add_policy_country_cost").hide();
}
if($(".country_variable_based").is(':checked')){
  $(".shipping_policies_fields").show();
}
else{
  $(".shipping_policies_fields").hide();
}
$(".for_country_policy_based").click(function(){
  if($(this).hasClass("country_variable_based")){
    $(".shipping_policies_fields").show();
  }
  else{
    $(".shipping_policies_fields").hide();
  }
  if($(this).hasClass("flat_costs")){
    $(".add_policy_country_cost").show();
  }
  else{
    $(".add_policy_country_cost").hide();
  }
});

$(".all_place_switch").click(function(){
  if($(this).is(':checked')){
    $(".form_group_admin_shipping_policy_free_free").show();
    $(".admin_shipping_specific_pincodes").hide();
  }
  else{
    $(".admin_shipping_specific_pincodes").show();
    $(".form_group_admin_shipping_policy_free_free").hide();
    $(".for_country_policy_based").prop( "checked", false );
    $(".add_policy_country_cost").hide();
    $(".shipping_policies_fields").hide();
  }
});




$("#shipping_policy_country_form").submit(function(){
  var all_place = $(".all_place_switch").is(':checked');
  var all_policy = $(".for_country_policy_based").is(':checked');
  var flat_cost = $(".flat_costs").is(':checked');
  var variant_based = $(".country_variable_based").is(':checked');
  var flag = 1;
  if(all_place){
    if(all_policy){
      if(flat_cost){
        if($(".add_policy_country_cost").val() == ""){
          $(".cost_error").html("enter the cost");
          flag = 0; 
        }
      }
    }
    else{
      $(".policy_error").html("select the policy");
      flag = 0; 
    }
  }
  if(flag == 1){
    if(all_place){
      if(!variant_based){
        $(".shipping_policies_fields").html("");
      }
      $(".admin_shipping_specific_pincodes").html("");
    }
    else{
      $(".shipping_policies_fields").html("");
    }
    return true;
  }
  else{
    return false;
  }
});
</script>