<%= form_for(@admin_order_revocation) do |f| %>
  <% if @admin_order_revocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_order_revocation.errors.count, "error") %> prohibited this admin_order_revocation from being saved:</h2>

      <ul>
      <% @admin_order_revocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :revocation_cost %><br>
    <%= f.text_field :revocation_cost %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :revocation_mode %><br>
    <%= f.text_field :revocation_mode %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :compensate %><br>
    <%= f.text_field :compensate %>
  </div>
  <div class="field">
    <%= f.label :bank_account_id %><br>
    <%= f.number_field :bank_account_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
