<%= form_for @permission, :url => admin_permissions_path,:html => {:id => 'new_permission' },:remote => true do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation" class="change_error_explanation">
      <h2>
        <%= "#{pluralize(@permission.errors.count, "error")} prohibited this admin_permission from being saved:" %>
      </h2>
      <ul>
        <% @permission.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %><br/>  
  <div class="field">
    <%= f.label :email, "Email",:class => "label-color" %>   
    <%= f.text_field :email, :class => "form-control blue_textbox",:id=> "permission_email" %>
    <span id="email_perror" class="error_list" style="display:none;"></span>
  </div><br />
  <div class="field">
    <%= f.label :role_id, "Role",:class => "label-color"   %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.collection_select :role_id, @roles, :id, :name , {:prompt => "Select Role"}, :class =>"form-control blue_textbox roles_val"%>
    <span id="role_perror" class="error_list" style="display:none;"></span>
  </div><br/><br/>  
  <div class="actions">
    <%= f.submit "Invite", :class => "btn btn-success btn-sm" %>    
  </div>
<% end %>
