<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">EDIT  <%= @permission.email %></h4>
</div>
<!-- modal header end -->

  <!-- form start -->
<%= form_for @permission, :url => admin_permission_path(@permission),:html => {:id => ''},:remote => true do |f| %>
  <div class="modal-body category_modal_body">
    <% if @permission.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@admin_permission.errors.count, "error")} prohibited this admin_permission from being saved:" %>
        </h2>
        <ul>
          <% @permission.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %><br/>
    <% if @permission.active == false %>    
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <%= f.label :email, "Email",:class => "label-color"   %> 
        </div>   
        <div class="col-sm-5 col-xs-6">   
          <%= f.text_field :email, :class => "form-control blue_textbox",:id=> "permission_email" %>
        </div>
        <div class="col-sm-2 col-xs-6">   
          <span id="email_perror" class="error_list" style="display:none;"></span>
        </div>
      </div>
    <% end %><br />
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :role_id, "Role Name",:class => "label-color"   %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      </div>   
      <div class="col-sm-5 col-xs-6"> 
        <%= f.collection_select :role_id, @roles, :id, :name ,{}, :class =>"form-control blue_textbox"%>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="margin-bottom:-11px;">
    <%= f.submit "Change Permission", :class => "btn btn-sm btn-primary" %>
  </div>
<% end %>
<!-- form end -->