<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"> <i class="ace-icon fa fa-binoculars "></i>&nbsp;&nbsp; Permissions</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">
  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="searchable_content1">
    <div class="row">
      <div class="col-xs-12 col-sm-8"> 
        <% if @permissions.present? %>
          <div class="table-header bigger lighter cursive-font">Permission List
          </div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
             <div class="table-responsive">
            <table id="permissions_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
              <thead>
                <tr>
                  <th>Email Id</th>
                  <th>Role</th>
                  <th>Created at</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @permissions.each do |permission| %>
                <tr>
                  <td>
                   <%=  permission.email %>
                  </td>
                  <td>
                    <%= permission.role.name %>
                  </td>
                  <td>
                    <%= permission.created_at.strftime("%d %b %Y")  %>
                  </td>
                  <td>
                    <% if permission.active == true %>
                      <span class="label label-sm label-success">Active</span>
                    <% else %>
                      <span class="label label-sm label-warning">Inactive</span>
                    <% end %>
                  </td>
                  <td>
                    <div class="action-buttons">
                    <div class="hidden-sm hidden-xs btn-group">
                       <%= link_to '', edit_admin_permission_path(permission),:class => "markthis glyphicon glyphicon-pencil edit_button_color",:remote => true %> 
                    </div>
                    <% if permission.active != true  %> 
                      <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, delete_admin_permission_path(permission), method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger",:remote => true %>
                    <% end %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 widget-container-col ui-sortable">
          <div class="widget-box widget-color-green ui-sortable-handle">
            <div class="widget-header">
              <h5 class="widget-title bigger lighter cursive-font">Invite New User</h5>
              <div class="widget-toolbar">
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main">
                <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div> 
      </div>
</div>

<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="width: 100%;margin-left: -5%;">
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [3,4],
      "bSortable": false
    }
  ];
  var dataTable = $('#permissions_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>
