<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">CREATE NEW SHIPPING PLAN</h4>
</div>
<!-- modal header end -->

<!-- form start -->
<%= form_for(@admin_shipping_plan,:remote => true ,:html => {:id => 'shipping_form' }) do |f| %>
  <div class="modal-body category_modal_body">
  <% if @admin_shipping_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_plan.errors.count, "error") %> prohibited this admin_shipping_plan from being saved:</h2>
    <ul>
      <% @admin_shipping_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul> 
    </div>
  <% end %><br/>
  <div class="fields">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <%= f.label :name, "Shipping Plan Name",:class => "label-color" %>
        <%= f.text_field :name, :class =>"form-control blue_textbox" %><br/>
        <span id="ship_name_error" class="error_list" style="display:none;"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <%= f.label :criteria, "Based on criteria",:class => "label-color" %>
        <%= f.select :criteria, options_for_select(["Select","Weight", "Volume", "Price"],"Select Criteria"),{}, :class =>"form-control target_criteria blue_textbox" %>
        <span id="ship_criteria_error" class="error_list" style="display:none;"></span>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="col-sm-4 col-xs-6">
          <%= f.label :range_from, "From ", :id => "from_range4",:class => "label-color label_text_from_range" %>
            <label id ="from_range3" class="label-color"> From <%= general ? general.acc_currency : "Rupees" %></label>
                        
            <%= f.text_field :range_from, :class =>"form-control blue_textbox" %>
            <span id="ship_range_from_error" class="error_list" style="display:none;"></span>
          </div>
        <div class="col-sm-4 col-xs-6">
          <%= f.label :range_from, "From ", :id => "upto_range4",:class => "label-color label_text_to_range" %>
          <label id ="upto_range3" class="label-color"> Upto <%= general ? general.acc_currency : "Rupees" %></label>    
          
          <%= f.text_field :range_upto, :class =>"form-control blue_textbox" %>
          <span id="ship_range_upto_error" class="error_list" style="display:none;"></span>
        </div>
      </div>
    </div><br/>
  </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Create Shipping Plan",:class => "btn btn-sm btn-success" %>
  </div>
<% end %>


<script>
  $(".target_criteria").change(function(){
    var current_value = $(this).val();
    if(current_value == "Weight"){
      $("#from_range3").hide();
      $("#upto_range3").hide();
      $("#from_range4").show();
      $("#upto_range4").show();
      $(".label_text_from_range").html("From KG");
      $(".label_text_to_range").html("Upto KG");
    }
    else if(current_value == "Volume"){
      $("#from_range3").hide();
      $("#upto_range3").hide();
      $("#from_range4").show();
      $("#upto_range4").show();
      $(".label_text_from_range").html("From Metric Cube");
      $(".label_text_to_range").html("Upto Metric Cube");
    }
    else if(current_value == "Price"){
      $("#from_range4").hide();
      $("#upto_range4").hide();
      $("#from_range3").show();
      $("#upto_range3").show();
    }
  });
</script>