<% country_count = 1 %> 
<% @country_flag = 1%>
<div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
  <% if @admin_shipping_countries.present? %>
    <% @admin_shipping_countries.each do |admin_shipping_country| %>
    <% state_count = 1 %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#faq-1-<%= @country_flag %>" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
        <i class="pull-right ace-icon fa fa-chevron-down" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
        <i class="ace-icon fa fa-sort-amount-desc"></i>
        &nbsp; <%= admin_shipping_country.country.name %>
      </a>
      <%= link_to '<i class="ace-icon glyphicon glyphicon-cog"></i>'.html_safe, admin_shipping_plan_shipping_country_path(@admin_shipping_plan, admin_shipping_country) , remote: true , "data-toggle" => "tooltip", "data-placement" => "left" ,:title => "Add States" , class: "pull-right text-success", style: "margin-top: -24px;margin-right:60px;" %>
        <%= link_to '<i class="ace-icon glyphicon glyphicon-trash"></i>'.html_safe, admin_shipping_plan_shipping_country_path(@admin_shipping_plan, admin_shipping_country), :class => "pull-right text-danger", method: :delete, data: { confirm: 'Are you sure?You want to remove the country' },style: "margin-top: -24px;margin-right:40px;" %>
    </div>
    <div class="panel-collapse collapse" id="faq-1-<%= @country_flag %>" aria-expanded="true">
      <div class="panel-body">
        <div id="faq-list-nested-1" class="panel-group accordion-style1 accordion-style2">
          <% if admin_shipping_country.shipping_states.present? %>
            <% admin_shipping_country.shipping_states.each do |admin_shipping_state| %>
              <% city_count = 1 %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a href="#faq-list-<%= @country_flag %>-sub-<%= state_count %>" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
                    <i class="smaller-80 middle ace-icon fa fa-plus" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                    <%= admin_shipping_state.state.name %>
                  </a>
                  <%= link_to '<i class="ace-icon glyphicon glyphicon-cog"></i>'.html_safe, admin_shipping_plan_shipping_country_shipping_state_path(@admin_shipping_plan, admin_shipping_country,admin_shipping_state) , remote: true, "data-toggle" => "tooltip", "data-placement" => "left" ,:title => "Add city" , class: "pull-right text-success",:style => "margin-top:-24px;margin-right: 20px;" %>&nbsp;&nbsp;&nbsp; 
                  <%= link_to '<i class="ace-icon glyphicon glyphicon-trash"></i>'.html_safe, admin_shipping_plan_shipping_country_shipping_state_path(@admin_shipping_plan, admin_shipping_country,admin_shipping_state), :class => "pull-right text-danger", method: :delete, data: { confirm: 'Are you sure?You want to remove the country' },:style => "margin-top:-24px;" %>
                </div>
                <div class="panel-collapse collapse " id="faq-list-<%= @country_flag %>-sub-<%= state_count %>" aria-expanded="true">
                  <div class="timeline-items">
                  <% admin_shipping_state.shipping_cities.each do |admin_shipping_city| %>
                    <div class="timeline-item clearfix">
                      <div class="widget-box ">
                        <div class="widget-header widget-header-small">
                          <h5 class="widget-title smaller"><%= admin_shipping_city.district_city.name %></h5>
                          <span class="widget-toolbar no-border">
                            <%= link_to '<i class="ace-icon glyphicon glyphicon-trash"></i>'.html_safe, admin_shipping_plan_shipping_country_shipping_state_shipping_city_path(@admin_shipping_plan, admin_shipping_country,admin_shipping_state,admin_shipping_city), :class => "text-danger", method: :delete, data: { confirm: 'Are you sure?You want to remove the country' } %>  
                          </span>
                          <span class="widget-toolbar ">
                            <%= link_to '<i class="ace-icon glyphicon glyphicon-cog"></i>'.html_safe, admin_shipping_plan_shipping_country_shipping_state_shipping_city_path(@admin_shipping_plan, admin_shipping_country,admin_shipping_state,admin_shipping_city) , remote: true , class: "text-success", "data-toggle" => "tooltip", "data-placement" => "left" ,:title => "Config Price and COD" %> 
                          </span>
                        </div>
                        <div class="widget-body">
                          <div class="widget-main">
                            <% if admin_shipping_city.shipping_costs.present? %>    
                              <div class="panel panel-warning">
                                <div class="panel-heading">
                                  <div class="row">
                                    <div class="col-sm-4 col-xs-4"><strong>Pincode</strong>
                                    </div>
                                    <div class="col-sm-4 col-xs-4"><strong>Cost</strong>
                                    </div>
                                    <div class="col-sm-4 col-xs-4"><strong>COD</strong>
                                    </div>
                                  </div>
                                </div>
                                <div class="panel-body">  
                                <% admin_shipping_city.shipping_costs.each do |admin_shipping_cost| %>                                    
                                    <div class="row borders">
                                      <div class="col-sm-4 col-xs-4"><%= admin_shipping_cost.pincode.pincode %>
                                      </div>
                                      <div class="col-sm-4 col-xs-4"><%= admin_shipping_cost.cost %>
                                      </div>
                                      <div class="col-sm-4 col-xs-4">
                                        <% if admin_shipping_cost.cod == true %>
                                          <span class="glyphicon glyphicon-ok"></span>
                                        <% else %>
                                          <span class="glyphicon glyphicon-remove"></span>
                                        <% end %>
                                      </div>
                                    </div><br/> 
                                    <% end %>                                    
                                </div>
                              </div>
                            <% end%>
                          </div>
                        </div>
                      </div>
                    </div>                         
                  <% end %>
                </div>
              </div>
              </div><% state_count+= 1 %>   
            <% end %>       
            <% country_count+= 1 %>
          <% end %><% @country_flag += 1 %>
        </div>
      </div>
    </div>
  </div><% end %>
  <% end %>
</div>


