
         
<% if @param.present? %>
  <%= search_form_for(@search,:url => admin_shipping_plans_path,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
   <span style="display:none" class= "for_count">
      <%= count %> 
  </span> 
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => admin_shipping_plans_path,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />

<div class="panel panel-default">
  <div class=" panel-heading">
    <div class="row">
      <div class="col-sm-3 col-xs-3 text-info bold">Name</div>
      <div class="col-sm-3 col-xs-3 text-info bold">Criteria</div>
      <div class="col-sm-5 col-xs-5 text-info bold">Range</div>
      <div class="col-sm-1 col-xs-1 text-info bold">Edit</div>
    </div>
  </div>
  <div class="panel-body top_space">
    <% @admin_shipping_plans.each do |admin_shipping_plan| %>
      <div class="row hoverd">
        <div class="col-sm-3 col-xs-3"><%= link_to_if(check_link(admin_shipping_plan_path(admin_shipping_plan)),admin_shipping_plan.name, admin_shipping_plan) %></div>
        <div class="col-sm-3 col-xs-3 index_criteria"><%= admin_shipping_plan.criteria %></div>
        <div class="col-sm-5 col-xs-5"><%= admin_shipping_plan.range_from %>-<%= admin_shipping_plan.range_upto %>         
          <% cri = admin_shipping_plan.criteria %>
          <% if cri == "Volume" %>
            Metric Cube
          <% elsif cri == "Weight"%>
            KG
          <% else %>
            <%= general.acc_currency %>
          <% end %>                 
        </div>
        <div class="col-sm-1 col-xs-1"><a class="glyphicon glyphicon-pencil text-success" href="<%= edit_admin_shipping_plan_path(admin_shipping_plan) %>"></a></div>
      </div>
    <% end %>
  </div>
</div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>