<div class="col-sm-12 col-xs-12 text-center">
	<fieldset class="bg-success center">
	  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
	  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/> 
	  <div class="row">
	    <div class="col-sm-2 col-xs-12">
		  <%= f.label :state_id, "State" %>
		  </div>
		  <div class="col-sm-3 col-xs-12">
		  <%= f.grouped_collection_select :state_id, Admin::Country.order(:name), :states , :name , :name, :name, { :prompt => "Select State" }, { :class => "form-control form-width sat" } %>
		  </div>
		</div>
		<span id="answer_error1" class="error_list" style="display:none;"></span><br/>
		  <%= f.fields_for :shipping_cities do |builder| %>
	        <%= render 'shipping_city_fields', :f => builder %>
	    <% end %>
	    <%= link_to_add_fields "Add Shipping Cities", f, :shipping_cities %>
	</fieldset><br/>
</div>