<div class="col-sm-12 col-xs-12">
	<fieldset class="bg-danger text-center">
	  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
	  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/>
	  <div class="row">
	    <div class="col-sm-2 col-xs-12">
			  <%= f.label :city_id, "City" %><br />
	    </div>
	    <div class="col-sm-3 col-xs-12">
	      <%= f.collection_select :city_id, Admin::DistrictCity.all, :id, :name,{:prompt => "Select City"}, :class =>"form-control question1"  %>
	    </div>
	</div>
	<span id="answer_error1" class="error_list" style="display:none;"></span><br/>
	  <%= f.fields_for :shipping_costs do |builder| %>
        <%= render 'shipping_cost_fields', :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add Shipping Cost", f, :shipping_costs %>
  </fieldset><br/>
</div>
