<div class="col-sm-12 col-xs-12">
  <fieldset class="bg-info center text-center">
	  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
	  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/>
	  <div class="row">
	    <div class="col-sm-2 col-xs-12">
			  <%= f.label :cost, "Cost" %>
		  </div>
		  <div class="col-sm-3 col-xs-12">
		    <%= f.text_field :cost, :class =>"form-control question1"  %>
		  </div>
		</div></br>
	  <div class="row">
	    <div class="col-sm-2 col-xs-12"> 
		    <%= f.label :pincode, "Pincode" %>
		  </div>
		  <div class="col-sm-3 col-xs-12"> 
		    <%= f.collection_select :pincode, Admin::Pincode.all, :id, :pincode,{:prompt => "Select Pincode"}, :class =>"form-control question1 text-center"  %>
		  </div>
		</div></br>
		<span id="answer_error1" class="error_list" style="display:none;"></span><br/>
  </fieldset><br/>
</div>