<fieldset class="bg-warning text-center">
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/> 
  <div class="row">
    <div class="col-sm-2 col-xs-12">
	    <%= f.label :country_id, "Country" %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= f.collection_select :country_id, Admin::Country.all, :id, :name,{:prompt => "Select Country"}, :class =>"form-control shipping_country1"  %>
    </div>
  </div>
  <div class="test">
  </div>
  <span id="country_error1" class="error_list" style="display:none;"></span><br/>
  <%= f.fields_for :shipping_states do |builder| %>
    <%= render 'shipping_state_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Shipping States", f, :shipping_states %>
</fieldset><br/>