<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-home home-icon"></i>Shipping Plans</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to 'Add Shipping Plan', new_admin_shipping_plan_path , :class => "btn btn-sm btn-success",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div>


<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" style="height: 70px;padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="row ">
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content2">
        <% if @admin_shipping_plans.present? %>
          <div class="table-header">
            SHIPPING PLAN LIST
          </div>
          <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
            <table id="ship_plans_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Criteria</th>
                  <th>Range</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @admin_shipping_plans.each do |admin_shipping_plan| %>
                  <tr>
                    <td>
                     <%= link_to_if(check_link(admin_shipping_plan_path(admin_shipping_plan)),admin_shipping_plan.name, admin_shipping_plan) %>
                    </td>
                    <td>
                      <%= admin_shipping_plan.criteria %>
                    </td>
                    <td>
                      <%= admin_shipping_plan.range_from %>-<%= admin_shipping_plan.range_upto %>         
                      <% cri = admin_shipping_plan.criteria %>
                      <% if cri == "Volume" %>
                        Metric Cube
                      <% elsif cri == "Weight"%>
                        KG
                      <% else %>
                        <% if general.acc_currency.present? %>
                          <%= general.acc_currency %>
                        <% end %>
                      <% end %>                 
                    </td>
                    <td>
                      <%= link_to '<i class="ace-icon fa fa-pencil bigger-130"></i>'.html_safe,edit_admin_shipping_plan_path(admin_shipping_plan),:class => "text-success",:remote => true %> 
                      <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_shipping_plan, method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger",:remote => true %>  
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>      
    </div>
  </div>
</div>


<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="width: 140%;margin-left: -20%;">
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [3],
      "bSortable": false
    }
  ];
  var dataTable = $('#ship_plans_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>






