<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i><%= link_to "Shipping Plans", admin_shipping_plans_path,:remote => true %></li>
    <li class="active"><%= @admin_shipping_plan.name %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
      Add a country
    </button>  
  </div>
  <!-- button panel end --> 
 
</div>  

<div class="page-content">

  <!-- flash start --> 
  <div class="flash_message_panel" style="height: 70px;padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="row">
    <div class="list_cities">
      <%= render 'list_countries' %>
    </div>
  </div>
  
</div>
  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title label-color" id="myModalLabel">Add A Country</h4>
      </div>
      <div class="modal-body"> 
      <%= form_for(@admin_shipping_country, :url => admin_shipping_plan_shipping_countries_path(@admin_shipping_plan),:remote => true ,:html => {:id => 'shipping_form' }) do |f| %>
        <% if @filter_countries_results.present? %>
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              <%= f.label :country_id, "Country",:class => "label-color" %>
            </div>
            <div class="col-sm-5 col-xs-12">
              <%= f.collection_select :country_id, @filter_countries_results, :id, :name,{:prompt => "Select Country"}, :class =>"form-control shipping_country1 blue_textbox"  %>
              <span id="shipping_country1" class="error_list" style="display:none;"></span>
            </div>
          </div>
        <% else %>
          <div class="row text-center">
            <strong>No Other Countries To Add</strong>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Add Country", :class => "btn btn-primary"%>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade gggg" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="myModal10_id">
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="myModal2_id">
    </div>
  </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="myModal3_id">
    </div>
  </div>
</div>