<style type="text/css">
  .simple_captcha{border: 1px solid #ccc; padding: 5px !important;}
  .simple_captcha,
  .simple_captcha div{display: table;}
  .simple_captcha
  {
    border: 1px solid #ccc;
    margin: 10px !important;
    padding: 10px !important;
    width:100%;
  }
  .simple_captcha .simple_captcha_image{
    width:100%;
    margin-bottom:10px;
  }
  .simple_captcha .simple_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
  }
  .simple_captcha .simple_captcha_label{display:none;}
  .simple_captcha .simple_captcha_field input{
    border: #e6e6e6 solid 1px;
    border-radius: 2px;
    padding: 5px;
  }
  .simple_captcha_refresh_button{
    padding:1px 0px 0px 38px !important;
  }
</style>
 
<div class='simple_captcha'>
<div class="row">
  <div class="col-sm-12">
  <div class="col-sm-6">
  <div class='simple_captcha_image'>
    <%= simple_captcha_options[:image] %>
  </div>
  </div>
  <div class="col-sm-6">
  <div class='simple_captcha_refresh_button '>
    <%= simple_captcha_options[:refresh_button] %>
  </div>
  </div>
  </div>
</div>
  
  <div class="row">
  <div class="col-sm-12">
  <div class='simple_captcha_field'>
    <%= simple_captcha_options[:field] %>
  </div>
  </div>
  </div>

  <div class='simple_captcha_label'>
    <%= simple_captcha_options[:label] %>
  </div>

  
</div>
