<!-- Pages index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-book"></i>&nbsp;&nbsp;&nbsp;COD Policy</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Create Plan', new_admin_cod_policy_path  , :class => "",:style => "color:#fff;",:remote => true %>
    </span>
  </div>
  <!-- button panel end --> 
</div> <br/>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class="row" style="min-height:455px;">  
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content1">
          <% if @admin_cod_policies.present? %>
              <div class="table-header bigger lighter cursive-font">
                COD Policy List
                <span class="pull-right" style="margin-right:5px;">
                </span>  
              </div>
              <div class="table-responsive">
              <div id="" class="dataTables_wrapper form-inline no-footer">
                <table id="pages_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>All Country</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admin_cod_policies.each do |admin_cod_policy| %>
                    <tr>
                      <td style = "text-transform: capitalize;">
                        <% if admin_cod_policy.all_country == true %>
                          <span class="label label-sm label-success">Available</span>
                        <% else %>
                          <span class="label label-sm label-warning">Unavailable</span>
                        <% end %>
                      </td>
                      <td>
                        <% if admin_cod_policy.cod_availability == true %>
                          <span class="label label-sm label-success">Active</span>
                        <% else %>
                          <span class="label label-sm label-warning">Inactive</span>
                        <% end %>
                      </td>
                      <td>
                        <div class="action-buttons">
                          <%= link_to '', admin_cod_policy,:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>  
              </div>
              </div>
          <% else %>
            <div class="row">
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
              <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
              <h3> No Availability </h3>
              Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
              <span class="markthis btn btn-xs btn-success create_button">
                <span class="glyphicon-plus bigger-110"></span>
                <%= link_to 'Create New Plan', new_admin_cod_policy_path  , :class => "",:style => "color:#fff;",:remote => true %>
              </span>
              </div>
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
            </div>
          <% end %>
      </div> 
    </div>
  </div>
</div>  
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" >
      
    </div>
  </div>
</div>
<!-- Modal Window End-->