<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-book"></i>&nbsp;&nbsp;&nbsp;COD Policy</li>
  </ul>
  <div class="nav-search" id="nav-search">
    <span class="markthis">  </span>
  </div>
</div>

<span class="current_id" style="display:none"><%= @admin_cod_policy.id %></span>
<span class="for_url" style="display:none"><%= admin_cod_policy_find_cod_country_pincode_with_id_path(@admin_cod_policy)%>
</span>

<div class="page-content">  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 
  
  <% @admin_cod_policy.cod_specific_countries.each do |admin_cod_specific_country| %>
    <% if admin_cod_specific_country.all_place != true %>
		  <div class="row">
		    <div class="col-xs-12 col-sm-3">
	      <%= link_to admin_cod_specific_country.country.name, admin_cod_policy_cod_specific_country_path(@admin_cod_policy , admin_cod_specific_country) %>
	      </div>
		  </div><br/>
		<% end %>
  <% end %>

  <div class="widget-box">
		<div class="widget-header widget-header-blue widget-header-flat">
			<h4 class="widget-title lighter">New Item Wizard</h4>
	  </div>
	  <div class="widget-body">
			<div class="widget-main" style="background:white;">
			  <%= form_for(@admin_cod_policy,:html => {:id => 'availability_plan_form',:class => "validate_this_form" },:remote => true) do |f| %>
					<div id="fuelux-wizard-container" class="complete">
						<div>
							<ul class="steps">
								<li data-step="1" class="active">
									<span class="step">1</span>
									<span class="title">Validation states</span>
								</li>

								<li data-step="2" class="">
									<span class="step">2</span>
									<span class="title">Alerts</span>
								</li>

								<li data-step="3" class="">
									<span class="step">3</span>
									<span class="title">Payment Info</span>
								</li>
							</ul>
						</div>

						<hr>

						<div class="step-content pos-rel">
							<div class="step-pane active" data-step="1">
		            <div class="form-group form_group_admin_availability_plan_all_country">
					        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Country</label>
					        <div class="col-xs-12 col-sm-4">
					          <label>
		                  <%= f.check_box :all_country,:class=>"ace ace-switch ace-switch-4" %>
		                  <span class="lbl labelonoff"></span>
		                </label>
					          <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
					        </div>
		              <span class="help-button help-button-new col-xs-12 col-sm-3 col-md-3" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
					      </div>
							</div>
		          <%= f.fields_for :cod_specific_countries do |builder| %>
		            <% unless builder.object.persisted? %>
									<div class="step-pane" data-step="2">
										<div>
										  <div class="form-group row form_group_admin_availability_plan_country_id">
								        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Select Country</label>
								        <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left:0px;">
								            <%= builder.collection_select :country_id, @country_list, :id, :name, { :prompt => "Select Country" }, { :class => "form-control blue_textbox country_chosen validate_this",:id => "admin_availability_plan_country_id" }  %>
								          <div class="help-block" id="admin_availability_plan_country_id_error1"> </div>
								        </div>
							        </div>
							        <div class="form-group row form_group_admin_availability_plan_all_place">
								        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Place</label>
								        <div class="col-xs-12 col-sm-5 col-md-5">
								          <label>
				                    <%= builder.check_box :all_place,:class=>"ace ace-switch ace-switch-4 all_place_switch" %>
				                    <span class="lbl labelonoff"></span>
				                  </label>
								          <div class="help-block" id="adminadmin_availability_plan_all_country_error1"> </div>
								        </div>
				                <span class="help-button help-button-new col-xs-12 col-sm-2 col-md-2" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
							        </div>
										</div>
									</div>
				          <div class="step-pane" data-step="3">
				            <div class="add_order_pincodes_field" style="">
					            <%= builder.fields_for :cod_specific_pincodes do |builder1| %>
				                <%= render  'cod_specific_pincode_fields', f: builder1, country_id: 65536  %>
					            <% end %>
				            </div>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>

	      <% end %><hr>
				<div class="wizard-actions">
					<button class="btn btn-prev wizard-btn-previous">
						<i class="ace-icon fa fa-arrow-left"></i>
						Prev
					</button>

					<button class="btn btn-success btn-next wizard-btn-next" data-last="Finish">Next<i class="ace-icon fa fa-arrow-right icon-on-right"></i></button>
				</div>
	    </div><!-- /.widget-main -->
		</div><!-- /.widget-body -->
  </div>
</div>


<script>
$(".country_chosen").chosen();
if($("#admin_cod_policy_all_country").is(':checked')){
	$(".wizard-btn-next").html("SAVE")
	$(".wizard-btn-next").addClass("submit_form")
	$("li[data-step='2']").addClass("complete");
  $("li[data-step='3']").addClass("complete");
}
$("#admin_cod_policy_all_country").click(function(){
	if($(this).is(':checked')){
    $(".wizard-btn-next").addClass("submit_form")
	  $(".wizard-btn-next").html("SAVE")
	$("li[data-step='2']").addClass("complete");
	  $("li[data-step='3']").addClass("complete");
	}
	else{
   $(".wizard-btn-next").removeClass("submit_form")
   $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
	$("li[data-step='2']").removeClass("complete");
   $("li[data-step='3']").removeClass("complete");
	}
})
$(".all_place_switch").click(function(){
	if($(this).is(':checked')){
    $(".wizard-btn-next").addClass("submit_form")
    $(".wizard-btn-next").html("SAVE")
    $("li[data-step='3']").addClass("complete");
	}
	else{
   $(".wizard-btn-next").removeClass("submit_form")
   $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
   $("li[data-step='3']").removeClass("complete");
	}
})

$(function () {
  $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });
})
$(".wizard-btn-previous").attr("disabled","disabled");
$(".wizard-btn-previous").click(function(){
  var data_step = $(".step-pane.active").attr("data-step");
  $("li[data-step='" + data_step +"']").removeClass("active");
  $("li[data-step='" + data_step +"']").removeClass("complete");
  $("div[data-step='" + data_step +"']").removeClass("active");
  var prev_step = parseInt(data_step) - 1
  if(prev_step == 1){
  	if($("#admin_cod_policy_all_country").is(':checked')){
	    $(".wizard-btn-next").addClass("submit_form")
	    $(".wizard-btn-next").html("SAVE")
			$("li[data-step='2']").addClass("complete");
	    $("li[data-step='3']").addClass("complete");
		}
		else{
	   $(".wizard-btn-next").removeClass("submit_form")
	   $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")	
	   $("li[data-step='2']").removeClass("complete");
     $("li[data-step='3']").removeClass("complete");
		}
  	$(".wizard-btn-previous").attr("disabled","disabled");
  }
  $("li[data-step='" + prev_step +"']").addClass("active");
  $("div[data-step='" + prev_step +"']").addClass("active");
  $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
});
$(".wizard-btn-next").click(function(){
  var data_step = $(".step-pane.active").attr("data-step");
  var next_step = parseInt(data_step) + 1
  if($(this).hasClass("submit_form")){
    $("#availability_plan_form").submit();
  }
  else{
	  if(data_step < 3){
	  	if(next_step < 3 || $(".country_chosen").val() != ""){
		  $("li[data-step='" + data_step +"']").removeClass("active");
		  $("li[data-step='" + data_step +"']").addClass("complete");
		  $("div[data-step='" + data_step +"']").removeClass("active");

		  $("li[data-step='" + next_step +"']").addClass("active");
		  $("div[data-step='" + next_step +"']").addClass("active");
		  $(".wizard-btn-previous").removeAttr("disabled");
		  if(next_step == 2){
        if($(".all_place_switch").is(':checked')){
          $("li[data-step='3']").addClass("complete");
        }
        else{
          $("li[data-step='3']").removeClass("complete");        	
        }
		  }
		  }
      else if(next_step == 3){
      	$(".country_chosen").blur();
      }
		  if(next_step == 3 && $(".country_chosen").val() != ""){
		  	$(".wizard-btn-next").html("Finish")
		  }
		  else{
		  	$(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
		  }
	  }
	  else{
	  	$("#availability_plan_form").submit();
	  }
	}
		if(next_step == 2){
	    if($(".all_place_switch").is(':checked')){
		    $(".wizard-btn-next").addClass("submit_form")
		    $(".wizard-btn-next").html("SAVE")
        $("li[data-step='3']").addClass("complete");
			}
			else{
		    $(".wizard-btn-next").removeClass("submit_form")
		    $(".wizard-btn-next").html("Next<i class='ace-icon fa fa-arrow-right icon-on-right'></i>")
        $("li[data-step='3']").removeClass("complete");
			}
	  }
});

$(".country_chosen").change(function(){
	var current_val = $(this).val()
	var current_id = $(".current_id").html();
	var url = $(".for_url").html();
  $.ajax({
      url: url,
      data: {'id': current_id,'country_id' : current_val},
      type: 'GET',
      success: function(data, event, status, xhr) {
        //alert("hi");
      },
      error: function(data, event, status, xhr) {
        
      }
    });
});

</script>