<% @products.each do |product| %>
  <% if product.status== true %>
    <div class="col-sm-3 col-xs-6 product_hover ">
      <% if product.images.sort_by(&:sort_order).present? %>
        <div class="img-rounded">
          <a href="<%= product_show_path(@section,product) %>">
            <%= image_tag product.images.sort_by(&:sort_order).first.avatar.url,:class => "img-responsive img-rounded", :style => "width:176px;height:205px;" %>
          </a>
        </div>
      <% end %>
      <span class="pro_name"><%= product.name %></span><br/>
      <span class="pro_desc">
        <%= sanitize(product.description, :tags=>[]).truncate(20, :separator => " ").html_safe %>
      </span><br/><br/>
      <span><strong>RS .
        <%= Admin::Inventory.where(:variant_id => product.variants.sort_by(&:sort_order).first.id).order('selling_price DESC').first.selling_price %>
      </strong></span>
	</div>
  <% end %>
<% end %>