<% @cart = current_cart %> 
<% cart_link = cart_path(@cart) %>
<!-- start Check Variant Present Or Not -->
<% if @variant.present? %>
  <% @selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
  <!-- start pincode Present Or Not -->
    	<div class="col-sm-4 col-xs-12 col-md-4 col-lg-4 text-center">
		    <!-- Price Details -->
			  <% if @variant.strike_rate.present? %>
		      <strong class="price_size">
		        <% if @variant.strike_rate > @selling_price %>
		          Original Price:<strike> Rs. <%= @variant.strike_rate %> </strike></br>
		        <% end %>
		      </strong>  
		    <% end %>
		    <strong class="f22">
		    Rs. <%= @selling_price %><br />
		    </strong>
		    <span class="" style="font-size:10px;color:#FD8484;">
		      Exclusive of Selling Price and Tax
		    </span>
		    <!-- Price Details end-->
			  
		</div>
		<div class="col-sm-8 col-xs-12 col-md-8 col-lg-8">


		  <!-- Start cart Button -->
		  <% if @variant.find_balance_qty.to_i != 0 || @product.unavail_purchase == true %>
	      <% if @cart.present? %>
	        <%= link_to image_tag('addtocart.jpg'), carts_path(CartItem.new, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :remote => true, :class =>"addcartbutton" %>		      
			  <% else %>
			    <%= link_to image_tag('addtocart.jpg'), carts_path(CartItem.new, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :remote => true, :class =>"addcartbutton" %>
			  <% end %>
			<% end %>
			<!-- end cart Button --><br/><br/>

		  <!-- Start Get Rate Form Details -->
		  <div class="get_rate_show">
		    <div class="result_val"> </div>
					<% if @variant.find_variant_availability.class == Fixnum || @variant.find_variant_availability.class == Float ||  @variant.find_variant_availability.class == String %>
					  <strong><%= @variant.find_product_shipping_cost %></strong>
					<% else %>
					  <%= form_tag find_variant_shipping_cost_path, :method => 'get',:id => 'get_shipping_cost',:remote => true  do %>
					    <%= collection_select(:user, :id, @variant.find_product_shipping_cost, :country_id, :country_name, {:prompt=>true}, {:class=>'my-custom-class',:id => 'shipping_country_select'})  %>
					    <%= hidden_field_tag :variant_id ,@variant.id %>
					    <span class="append_pincode"></span>
					    <%= submit_tag "Submit", :name => nil,:class => "",:style => "background: #c53232;border-radius: 0px;width: 76px;color:white;height:29px;" %><br/>
					    <span class="shipping_country_select_error" style="color:#c53232;"></span>
					  <% end %>
					<% end %> 
		    <%= @price  %>
		  </div>
		  <!-- end Get Rate Form Details -->
		</div><br/>
  <!-- end pincode Present Or Not -->
<% end %>
<!-- end Check Variant Present Or Not -->
<style>
.pincode_field{
	width: 125px;
height: 19px;
line-height: 19px;
border: 1px solid #ccc;
border-right: 0;
outline: 0;
/* border-radius: 2px 0 0 2px; */
/* -webkit-box-shadow: 0 3px 3px #e8e8e8 inset; */
-moz-box-shadow: 0 3px 3px #e8e8e8 inset;
box-shadow: 0 3px 3px #e8e8e8 inset;
}
</style>