<%= @cart.cart_shipping_cost %>
<div class="result_val"> </div>
<% if @variant.find_product_shipping_cost.class == Fixnum || @variant.find_product_shipping_cost.class == Float %>
  <strong>Shipping Cost <%= @variant.find_product_shipping_cost %></strong>
<% else %>
  <%= form_tag find_variant_shipping_cost_path, :method => 'get', :remote => true,:id => 'get_shipping_cost'  do %>
    <%= collection_select(:user, :id, @variant.find_product_shipping_cost, :country_id, :country_name, {:prompt=>true}, {:class=>'my-custom-class',:id => 'shipping_country_select'})  %>
    <%= hidden_field_tag :variant_id ,@variant.id %>
    <span class="append_pincode"></span>
    <%= submit_tag "Submit", :name => nil,:class => "",:style => "background: #c53232;border-radius: 0px;width: 76px;color:white;height:29px;" %><br/>
    <span class="shipping_country_select_error" style="color:#c53232;"></span>
  <% end %>
<% end %>
<% cart_link = cart_path(@cart) %>
<% @check_pincode= Admin::Pincode.where(:pincode => @pincode).first %>
<% if @check_pincode.present? %>
  <% @shipping = Admin::Product.shipping_cost(@pincode, @product, @variant) %>
    <% unless @shipping == "" %>
      <% @shipping_status = @shipping.status %>
      <% @shipping_values = @shipping.cost %>
      <% @product_price = @variant.user_price(@pincode) %>
      <% if @shipping_status != false %>
        <span class="price_size">  
          <% @tax_cost = @product_price - (@shipping_values + @selling_price) %>
          <span class="shipping-font txt-up ">Pincode - <span class="txt-up "><%= @pincode %></span>
          <a onclick="show_rate()" style="cursor:pointer;"> change</a></span>
          <p style="font-size:10px;color:#FD8484;">(Shipping Cost + Tax = Total) - ( <%= @shipping_values %> + <%= @tax_cost %> = Rs. <%= @product_price %>)</p>
          <% if @variant.find_balance_qty.to_i != 0 || @product.unavail_purchase == true %>
            <% if @cart.present? %>
              <%= link_to image_tag('addtocart.jpg'), carts_path(CartItem.new,:id => @cart.id, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:shipping_cost => @shipping_values, :tax => @tax_cost, :actual_cost=> @selling_price), :method => 'post', :remote => true,:class => "addcartbutton " %>
            <% else %>
              <%= link_to image_tag('addtocart.jpg'), carts_path(CartItem.new, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:shipping_cost => @shipping_values, :tax => @tax_cost, :actual_cost=> @selling_price), :method => 'post', :remote => true, :class =>"addcartbutton " %>        
            <% end %>
          <% end %>
        </span>
        
      <% else %>
        <span class="text-muted">Shipping Unavailable For this Pincode</span><a onclick="show_rate()" style="cursor:pointer;"> change</a><br/> <button type="button" class="btn btn-warning btn-lg qty_error" rel='popover' data-content='Sorry Shipping  Unavailable For this Pincode' style="opacity:.65">ADD TO CART</button>
      <% end %>
    <% else %>
      <span class="text-muted">Shipping Unavailable For this Pincode</span><a onclick="show_rate()" style="cursor:pointer;"> change</a><br/> <br/><button type="button" class="btn btn-warning btn-lg qty_error" rel='popover' data-content='Sorry Shipping  Unavailable For this Pincode' style="opacity:.65">ADD TO CART</button>
    <% end %>
<% else %>
  <span class="text-muted">Shipping Unavailable For this Pincode</span><a onclick="show_rate()" style="cursor:pointer;"> change</a><br/> <br/><button type="button" class="btn btn-warning btn-lg qty_error" rel='popover' data-content='Sorry Shipping  Unavailable For this Pincode' style="opacity:.65">ADD TO CART</button>
<% end %>


<script>
$(".qty_error").popover({
  placement:'top'
});


$("#get_shipping_cost").submit(function(){
  if($("#shipping_country_select").val() == ""){
    $(".shipping_country_select_error").html("select the country");
  }
  else{
    $(".shipping_country_select_error").html("");
  }
});
</script>