<%= search_form_for @searchs, url: searchs_sections_path, method: :get,:remote => true,:class=>"product_search" do |f| %>
  <%= f.hidden_field :section_id,:value => @section.id %>
    <ul class="hi" style="margin-left:0px;margin-top:8px;"><br/>
       <div class="row" style="margin:0px;">
         <div class="layout">
          <div class="layout-slider" style="width: 100%">

            <% if params[:q].present?%>
                 <span style="display: inline-block; width: 100%; padding: 0 5px;color:#000;"><input id="Slider1" type="slider" name="price" value="<%= params[:q][:inventories_selling_price_gt] %>;<%= params[:q][:inventories_selling_price_lt] %>" style="color:#000;" />
            <% else %>
                 <span style="display: inline-block; width: 100%; padding: 0 5px;color:#000;"><input id="Slider1" type="slider" name="price" value="200;30000" style="color:#000;" />
            <% end %>

              <%= f.hidden_field :inventories_selling_price_gt,:value => '',:id => "high_price" %>
              <%= f.hidden_field :inventories_selling_price_lt,:value => '',:id => "low_price" %>
            </span>
          </div>
        </div>
    </div><br/>
     <div class="block-title">Filter By</div><br/>
      <li class="dropdown123" style="list-style: none;">
        <a href="#" data-toggle="dropdown123">TYPE <i class="icon-arrow"></i></a>
        <ul class="dropdown123-menu show" style="border:1px solid #7B2A2A;">
          <% @types = Array.new %>
            <% @section.products.where(:status => true,:visibility => true).each do |product| %>
              <% @types += product.types %>
            <% end %>
          <div id="target_scroll" style="overflow-y: scroll;overflow-x: hidden; width: 100%; height: 180px;">  
          <% @types.uniq.each do |type| %>
          <li>
            <div class="row" style="padding:4px;">
              
                <div class="col-sm-12 col-xs-12" style="text-transform: capitalize;">
                <% if params[:q].present? %>
                   <% if  params[:q][:types_id_eq_any].present? %>
                      <% if params[:q][:types_id_eq_any].include? "#{type.id}" %>
                          <%= check_box_tag('q[types_id_eq_any][]', type.id , true, :class => "checkbox ace ") %><span class="lbl"> &nbsp;&nbsp;&nbsp;&nbsp;<%= type.name %></span>
                      <% else %>
                          <%= check_box_tag('q[types_id_eq_any][]', type.id , false, :class => "checkbox ace ") %><span class="lbl"> &nbsp;&nbsp;&nbsp;&nbsp;<%= type.name %></span>
                      <% end %>
                   <% else %>
                       <%= check_box_tag('q[types_id_eq_any][]', type.id , false, :class => "checkbox ace ") %><span class="lbl"> &nbsp;&nbsp;&nbsp;&nbsp;<%= type.name %></span>
                   <% end %>
                <% else %>
                <%= check_box_tag('q[types_id_eq_any][]', type.id , false, :class => "checkbox ace ") %><span class="lbl"> &nbsp;&nbsp;&nbsp;&nbsp;<%= type.name %></span>
                <% end %>
                </div>
              
            </div>
          </li>
          <% end %>
          </div>
        </ul>
      </li>
    
      <br />
     
    </ul>
<% end %>

<style>

</style><script>

jQuery("#Slider1").slider({ from: 1, to: 30000, step: 50, smooth: true, round: 0, dimension: "&nbsp;", skin: "plastic" });

jQuery( "#target_scroll" ).scroll();

jQuery( ".jslider-pointer" ).mouseup(function() {
    var url = "<%= root_url %>"; 
    url1 = url + 'sections/searchs?' + jQuery(this).closest('form').serialize()
    window.history.pushState("object or string", "Title", url1);
   jQuery('#low_price').closest('form').submit(); 
});

</script>