
<%= search_form_for @search, url: sections_path do |f| %>
  <div class="fields">
	  <%= f.label :name_cont %>          
	  <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>