<% @section.children.each do |child|%>
  <div class="category-products">
      <ul class="products-grid first last odd">
        <% if child.present? %><% @product_flag = 1 %>
          <% child.products.each do |product| %>
            <% if product.status== true && product.visibility == true && product.return_due.present? %>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <div class="item-inner">
                  <div class="item-img">
                     <div class="item-img-info">
                        <% if product.images.present? %>                    
                          <a href="<%= section_product_show_path(@section,product) %>">
                            <%= image_tag similar_image(product).avatar.url(:medium), "data-original" =>  similar_image(product).avatar.url(:medium), :class =>"class1 #{@product_flag > 6 ? '' : ' '} img-responsive"%>
                          </a>                    
                        <% end %>
                          <% @variant = product.variants.order(sort_order: :asc).first %>
                        
                          <% if product.promote == "l" %>
                            <div class="new-label new-top-left">New</div>
                          <% elsif product.promote == "t" %>
                            <div class="new-label new-top-left">Trend</div>
                          <% elsif product.promote == "o" %>
                            <div class="new-label new-top-left">Offer</div>
                          <% elsif @variant.find_balance_qty.to_i == 0 && product.unavail_purchase != true %>
                                <div class="sale-label  new-top-right">SOLD</div>
                          <% else %>  

                          <% end %>
                        <div class="item-box-hover">
                          <div class="box-inner">
                            <div class="actions">
                              <div class="add_cart">  
                                <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
                                  <% if @cart.present? %>
                                    <%= link_to ''.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart", :style => "padding: 8px 12px;"  %>         
                                  <% else %>

                                    <%= link_to '', carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart", :style => "padding: 8px 12px;" %>
                                  <% end %>
                                  <style>
                                  .products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
                                      content: "";
                                      font-family: "FontAwesome";
                                      font-size: 15px;
                                  }
                                  </style>
                                <% end %>
                              </div> <!--add-to-cart-->      
                             
                              
                              <div class="product-detail-bnt">
                                 <a href="<%= section_product_show_path(@section,product) %>" title="view" class="button detail-bnt" data-fancybox-type="ajax" style="margin-left:12px;"><span>view</span></a>
                              </div> <!--product-detail-bnt-->
                              <span class="add-to-links">

                                <span class="wishlist wishlist_view">
                                  <% if current_user.present? %>
                                    <% variant = product.variants.order(sort_order: :asc).first %>
                                    <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
                                      <%= form_for(Wishlist.new) do |f| %>
                                        <%= f.hidden_field :section,:value => @section.id  %>
                                        <%= f.hidden_field :user_id,:value => current_user.id  %>
                                        <%= f.hidden_field :test,:value => "test"  %>
                                        <%= f.hidden_field :variant_id,:value => variant.id %>
                                        <br />
                                        <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
                                      <% end %>
                                      <style>
                                        .products-grid .box-inner .actions .add-to-links .wishlist .link-wishlist:before {
                                          content: "\f004";
                                          }
                                        .products-grid .box-inner .actions .add-to-links .link-wishlist {
                                            color: #000;
                                            font-family: 'FontAwesome';
                                            font-size: 14px;
                                            font-weight: normal;
                                            margin: 0;
                                            padding: 8px 12px;
                                            text-decoration: none;
                                            background-color: #f8f8f8;
                                            display: inline-block;
                                            transition: all 0.3s linear;
                                            -moz-transition: all 0.3s linear;
                                            -webkit-transition: all 0.3s linear;
                                            margin-right: 8px;
                                            border-radius: 3px;
                                            }
                                            .products-grid .box-inner .actions .add-to-links .link-wishlist:before {
                                            content: "\f004";
                                            }

                                      </style>
                                    <% else %>
                                      <a href="" class="link-wishlist" title="Already Saved" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                      <style>
                                      .products-grid .box-inner .actions .add-to-links a.link-wishlist{
                                        color:#2ecc71;
                                      }
                                      </style>
                                    <% end %>
                                  <% else %>
                                    <a href="" class="link-wishlist" title="Add to Wishlist" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                  <% end %>
                                </span>
                              </span> <!--add-to-links-->
                           </div> <!--actions--><br> <br />
                         </div> <!--box-inner-->
                       </div> <!--item-box-hover-->
                     </div> <!--item-img-info-->
                  </div> <!--item-img-->
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title">
                         <a href="" title="<%= product.name %>"> <%= product.name %> </a>
                      </div> <!--item-title-->
                      <div class="item-content">      
                        <div class="item-price">
                          <div class="price-block">
                            <div class="price-box">
                              <span class="regular-price" id="product-price-2">
                                <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div> <!--item-content-->
                    </div><!--info-inner-->
                  </div><!--item-info-->       
                </div> <!--item-inner-->
              </li><% @product_flag += 1 %>
            <% end %>
          <% end %>
        <% else %>
          <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
            <div class="item-inner">
              <div class="item-img">
                 <div class="item-img-info">
                   <a class="product-image" href="#" title="">
                   <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
                   </a>
                   <div class="new-label new-top-left"> New </div>
                   <div class="item-box-hover">
                     <div class="box-inner">
                       <div class="actions">
                         <div class="add_cart">
                            <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                         </div> <!--add_cart-->  
                          
                          <div class="product-detail-bnt">
                             <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
                          </div> <!--product-detail-bnt-->
                          <span class="add-to-links">
                            <a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
                            <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a>
                          </span> <!--add-to-links-->
                       </div> <!--actions-->
                     </div> <!--box-inner-->
                   </div> <!--item-box-hover-->
                 </div> <!--item-img-info-->
              </div> <!--item-img-->
              <div class="item-info">
                <div class="info-inner">
                  <div class="item-title">
                     <a href="" title=""> Product Name </a>
                  </div> <!--item-title-->
                  <div class="item-content">      
                    <div class="item-price">
                      <div class="price-block">
                        <div class="price-box">
                          <span class="regular-price" id="product-price-2">
                            <span class="price">Price</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> <!--item-content-->
                </div><!--info-inner-->
              </div><!--item-info-->       
            </div> <!--item-inner-->
          </li>
        <% end %>
      </ul>
    </div>
  <% child.children.each do |gchild|%>
    <div class="category-products">
      <ul class="products-grid first last odd">
        <% if gchild.present? %><% @product_flag = 1 %>
          <% gchild.products.each do |product| %>
            <% if product.status== true && product.visibility == true && product.return_due.present? %>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <div class="item-inner">
                  <div class="item-img">
                     <div class="item-img-info">
                        <% if product.images.present? %>                    
                          <a href="<%= section_product_show_path(@section,product) %>">
                            <%= image_tag similar_image(product).avatar.url(:medium), "data-original" =>  similar_image(product).avatar.url(:medium), :class =>"class1 #{@product_flag > 6 ? ' ' : ' '} img-responsive"%>
                          </a>                    
                        <% end %>
                          <% @variant = product.variants.order(sort_order: :asc).first %>
                        
                          <% if product.promote == "l" %>
                            <div class="new-label new-top-left">New</div>
                          <% elsif product.promote == "t" %>
                            <div class="new-label new-top-left">Trend</div>
                          <% elsif product.promote == "o" %>
                            <div class="new-label new-top-left">Offer</div>
                          <% elsif @variant.find_balance_qty.to_i == 0 && product.unavail_purchase != true %>
                              <div class="sale-label  new-top-right">SOLD</div>

                          <% else %>  

                          <% end %>
                        <div class="item-box-hover">
                          <div class="box-inner">
                            <div class="actions">
                              <div class="add_cart">  
                                <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
                                  <% if @cart.present? %>
                                    <%= link_to ''.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart", :style => "padding: 8px 12px;"  %>         
                                  <% else %>

                                    <%= link_to '', carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart", :style => "padding: 8px 12px;" %>
                                  <% end %>
                                  <style>
                                  .products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
                                      content: "";
                                      font-family: "FontAwesome";
                                      font-size: 15px;
                                  }
                                  </style>
                                <% end %>
                              </div> <!--add-to-cart-->      
                             
                              
                              <div class="product-detail-bnt">
                                 <a href="<%= section_product_show_path(@section,product) %>" title="view" class="button detail-bnt" data-fancybox-type="ajax" style="margin-left:12px;"><span>view</span></a>
                              </div> <!--product-detail-bnt-->
                              <span class="add-to-links">

                                <span class="wishlist wishlist_view">
                                  <% if current_user.present? %>
                                    <% variant = product.variants.order(sort_order: :asc).first %>
                                    <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
                                      <%= form_for(Wishlist.new) do |f| %>
                                        <%= f.hidden_field :section,:value => @section.id  %>
                                        <%= f.hidden_field :user_id,:value => current_user.id  %>
                                        <%= f.hidden_field :test,:value => "test"  %>
                                        <%= f.hidden_field :variant_id,:value => variant.id %>
                                        <br />
                                        <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;" ></button>
                                      <% end %>
                                      <style>
                                        .products-grid .box-inner .actions .add-to-links .wishlist .link-wishlist:before {
                                          content: "\f004";
                                          }
                                        .products-grid .box-inner .actions .add-to-links .link-wishlist {
                                            color: #000;
                                            font-family: 'FontAwesome';
                                            font-size: 14px;
                                            font-weight: normal;
                                            margin: 0;
                                            padding: 8px 12px;
                                            text-decoration: none;
                                            background-color: #f8f8f8;
                                            display: inline-block;
                                            transition: all 0.3s linear;
                                            -moz-transition: all 0.3s linear;
                                            -webkit-transition: all 0.3s linear;
                                            margin-right: 8px;
                                            border-radius: 3px;
                                            }
                                            .products-grid .box-inner .actions .add-to-links .link-wishlist:before {
                                            content: "\f004";
                                            }

                                      </style>
                                    <% else %>
                                      <a href="" class="link-wishlist" title="Already Saved" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                      <style>
                                      .products-grid .box-inner .actions .add-to-links a.link-wishlist{
                                        color:#2ecc71;
                                      }
                                      </style>
                                    <% end %>
                                  <% else %>
                                    <a href="" class="link-wishlist" title="Add to Wishlist" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                  <% end %>
                                </span>
                              </span> <!--add-to-links-->
                           </div> <!--actions--><br> <br />
                         </div> <!--box-inner-->
                       </div> <!--item-box-hover-->
                     </div> <!--item-img-info-->
                  </div> <!--item-img-->
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title">
                         <a href="" title="<%= product.name %>"> <%= product.name %> </a>
                      </div> <!--item-title-->
                      <div class="item-content">      
                        <div class="item-price">
                          <div class="price-block">
                            <div class="price-box">
                              <span class="regular-price" id="product-price-2">
                                <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div> <!--item-content-->
                    </div><!--info-inner-->
                  </div><!--item-info-->       
                </div> <!--item-inner-->
              </li><% @product_flag += 1 %>
            <% end %>
          <% end %>
        <% else %>
          <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
            <div class="item-inner">
              <div class="item-img">
                 <div class="item-img-info">
                   <a class="product-image" href="#" title="">
                   <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
                   </a>
                   <div class="new-label new-top-left"> New </div>
                   <div class="item-box-hover">
                     <div class="box-inner">
                       <div class="actions">
                         <div class="add_cart">
                            <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                         </div> <!--add_cart-->  
                          
                          <div class="product-detail-bnt">
                             <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
                          </div> <!--product-detail-bnt-->
                          <span class="add-to-links">
                            <a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
                            <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a>
                          </span> <!--add-to-links-->
                       </div> <!--actions-->
                     </div> <!--box-inner-->
                   </div> <!--item-box-hover-->
                 </div> <!--item-img-info-->
              </div> <!--item-img-->
              <div class="item-info">
                <div class="info-inner">
                  <div class="item-title">
                     <a href="" title=""> Product Name </a>
                  </div> <!--item-title-->
                  <div class="item-content">      
                    <div class="item-price">
                      <div class="price-block">
                        <div class="price-box">
                          <span class="regular-price" id="product-price-2">
                            <span class="price">Price</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> <!--item-content-->
                </div><!--info-inner-->
              </div><!--item-info-->       
            </div> <!--item-inner-->
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<div class="category-products">
      <ul class="products-grid first last odd">
        <% if @products.present? %><% @product_flag = 1 %>
          <% @products.each do |product| %>
            <% if product.status== true && product.visibility == true && product.return_due.present? %>
              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                <div class="item-inner">
                  <div class="item-img">
                     <div class="item-img-info">
                        <% if product.images.present? %>                    
                          <a href="<%= section_product_show_path(@section,product) %>">
                            <%= image_tag similar_image(product).avatar.url(:medium), "data-original" =>  similar_image(product).avatar.url(:medium), :class =>"class1 #{@product_flag > 6 ? ' ' : ' '} img-responsive"%>
                          </a>                    
                        <% end %>
                          <% @variant = product.variants.order(sort_order: :asc).first %>
                        
                          <% if product.promote == "l" %>
                            <div class="new-label new-top-left">New</div>
                          <% elsif product.promote == "t" %>
                            <div class="new-label new-top-left">Trend</div>
                          <% elsif product.promote == "o" %>
                            <div class="new-label new-top-left">Offer</div>
                          <% elsif @variant.find_balance_qty.to_i == 0  && product.unavail_purchase != true %>
                                <div class="sale-label  new-top-right">SOLD</div>
                          <% else %>  

                          <% end %>
                        <div class="item-box-hover">
                          <div class="box-inner">
                            <div class="actions">
                              <div class="add_cart">  
                                <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
                                  <% if @cart.present? %>
                                    <%= link_to ''.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart", :style => "padding: 8px 12px;"  %>         
                                  <% else %>

                                    <%= link_to '', carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart", :style => "padding: 8px 12px;" %>
                                  <% end %>
                                  <style>
                                  .products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
                                      content: "";
                                      font-family: "FontAwesome";
                                      font-size: 15px;
                                  }
                                  </style>
                                <% end %>
                              </div> <!--add-to-cart-->      
                             
                              
                              <div class="product-detail-bnt">
                                 <a href="<%= section_product_show_path(@section,product) %>" title="view" class="button detail-bnt" data-fancybox-type="ajax" style="margin-left:12px;"><span>view</span></a>
                              </div> <!--product-detail-bnt-->
                              <span class="add-to-links">

                                <span class="wishlist wishlist_view">
                                  <% if current_user.present? %>
                                    <% variant = product.variants.order(sort_order: :asc).first %>
                                    <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
                                      <%= form_for(Wishlist.new) do |f| %>
                                        <%= f.hidden_field :section,:value => @section.id  %>
                                        <%= f.hidden_field :user_id,:value => current_user.id  %>
                                        <%= f.hidden_field :test,:value => "test"  %>
                                        <%= f.hidden_field :variant_id,:value => variant.id %>
                                        <br />
                                        <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
                                      <% end %>
                                      <style>
                                        .products-grid .box-inner .actions .add-to-links .wishlist .link-wishlist:before {
                                          content: "\f004";
                                          }
                                        .products-grid .box-inner .actions .add-to-links .link-wishlist {
                                            color: #000;
                                            font-family: 'FontAwesome';
                                            font-size: 14px;
                                            font-weight: normal;
                                            margin: 0;
                                            padding: 8px 12px;
                                            text-decoration: none;
                                            background-color: #f8f8f8;
                                            display: inline-block;
                                            transition: all 0.3s linear;
                                            -moz-transition: all 0.3s linear;
                                            -webkit-transition: all 0.3s linear;
                                            margin-right: 8px;
                                            border-radius: 3px;
                                            }
                                            .products-grid .box-inner .actions .add-to-links .link-wishlist:before {
                                            content: "\f004";
                                            }

                                      </style>
                                    <% else %>
                                      <a href="" class="link-wishlist" title="Already Saved" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                      <style>
                                      .products-grid .box-inner .actions .add-to-links a.link-wishlist{
                                        color:#2ecc71;
                                      }
                                      </style>
                                    <% end %>
                                  <% else %>
                                    <a href="" class="link-wishlist" title="Add to Wishlist" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                  <% end %>
                                </span>
                              </span> <!--add-to-links-->
                           </div> <!--actions--><br> <br />
                         </div> <!--box-inner-->
                       </div> <!--item-box-hover-->
                     </div> <!--item-img-info-->
                  </div> <!--item-img-->
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title">
                         <a href="" title="<%= product.name %>"> <%= product.name %> </a>
                      </div> <!--item-title-->
                      <div class="item-content">      
                        <div class="item-price">
                          <div class="price-block">
                            <div class="price-box">
                              <span class="regular-price" id="product-price-2">
                                <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div> <!--item-content-->
                    </div><!--info-inner-->
                  </div><!--item-info-->       
                </div> <!--item-inner-->
              </li><% @product_flag += 1 %>
            <% end %>
          <% end %>
        <% else %>
          <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
            <div class="item-inner">
              <div class="item-img">
                 <div class="item-img-info">
                   <a class="product-image" href="#" title="">
                   <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
                   </a>
                   <div class="new-label new-top-left"> New </div>
                   <div class="item-box-hover">
                     <div class="box-inner">
                       <div class="actions">
                         <div class="add_cart">
                            <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                         </div> <!--add_cart-->  
                          
                          <div class="product-detail-bnt">
                             <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
                          </div> <!--product-detail-bnt-->
                          <span class="add-to-links">
                            <a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
                            <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a>
                          </span> <!--add-to-links-->
                       </div> <!--actions-->
                     </div> <!--box-inner-->
                   </div> <!--item-box-hover-->
                 </div> <!--item-img-info-->
              </div> <!--item-img-->
              <div class="item-info">
                <div class="info-inner">
                  <div class="item-title">
                     <a href="" title=""> Product Name </a>
                  </div> <!--item-title-->
                  <div class="item-content">      
                    <div class="item-price">
                      <div class="price-block">
                        <div class="price-box">
                          <span class="regular-price" id="product-price-2">
                            <span class="price">Price</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> <!--item-content-->
                </div><!--info-inner-->
              </div><!--item-info-->       
            </div> <!--item-inner-->
          </li>
        <% end %>
      </ul>
    </div>


<style>
.btn-cart{
  border:none;
}
.btn-cart:hover{
  background:#2ecc71;
  color:#fff;
}
</style>