<div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">  
      
        <div class="col-sm-6 col-xs-6">
        <div class="col-sm-3">
          <div id="gal1"> 
            <% @images.take(4).each do |image| %>
              <a href="#" data-image="<%= image.avatar.url(:large) %>" data-zoom-image="<%= image.avatar.url(:large) %>"> 
              <%= image_tag image.avatar.url(:large),:style => "width:100%;" %>
              </a> 
            <% end %>
          </div>
        </div>
        <div class="col-sm-9">
          <%= image_tag @images.first.avatar.url(:large),:class => "img-responsive img-thumbnail", :style => "width:100%;border:1px solid #ccc;",:id => "zoom_03", data: {'zoom-image' =>  @images.first.avatar.url(:large) } %>
        </div>
      
      </div>
        <div class="col-sm-6 col-xs-6">
          <div class="row borders">
            <div class="col-sm-12">
              <strong class="labels">
                <div class="f22">
                  <%= @product.name %>
                </div><br />
              </strong>
                <%= sanitize(@product.description, :tags=>[]).truncate(120, :separator => " ").html_safe %>
                <% if @variant.find_balance_qty.to_i <= 0 && @product.unavail_purchase == false %>
                  (Out Of Stock)
                <% end %>
            </div>
          </div><br/><br/>
          
          <div class="col-sm-12 col-xs-12">
          <div class="render_get_rate">
              <%= render 'get_rate' %>
            </div> 
          </div>
        </div>
        </div>
      </div><br/>
    <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4 col-xs-6">
        
      </div>
      <div class="col-sm-8 col-xs-6">
      </div>
      </div>
    </div><br/><br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10">
           <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="qwe active" style="border-bottom:none;"><a href="#home13" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
              <li role="presentation" style="border-bottom:none;" class="qwe"><a href="#profile13" aria-controls="profile" role="tab" data-toggle="tab">Additional</a></li>
             
            </ul>
            <div class="tab-content tab_design">
              <div role="tabpanel" class="tab-pane active "  style="background:none;border-bottom:none;"id="home13">
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                    <br />
                    <p><%= @product.description.html_safe %>
                    <br />
                </div>
                 
              </div>
              </div>
              <div role="tabpanel" class="tab-pane" style="background:none;border-bottom:none;" id="profile13">         
                <div class="row">
                  <div class="col-sm-12">
                  <div class="col-sm-2">
                    <span class="labels"><strong>TYPE</strong></span>
                  </div>
                  <div class="col-sm-10">
                    <strong><%= @product.types.map{|type| type.name }.join(",")%></strong>
                  </div>
                </div>
              </div><br/>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-2">
                    <span class="labels"><strong>BRAND</strong></span>
                  </div>
                  <div class="col-sm-10">
                    <strong><%= @product.brand.name %></strong>
                  </div>
                </div>
              </div><br/>
              <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                      <span class="labels"><strong>SKU</strong></span>
                    </div>
                    <div class="col-sm-10">
                      <strong><%= @variant.name %></strong>
                    </div>
                  </div>
              </div><br/>
              <% @product_questions.each do |product_question|  %>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="col-sm-2">
                          <span class="labels">
                            <strong>
                                <%= product_question.question %>
                            </strong>
                          </span>
                      </div>
                      <div class="col-sm-10">
                          <strong><%= product_question.product_properties.where( 'variant_id' => @variant.id).first.answer %></strong>
                      </div>
                    </div>
                  </div><br/>
              <% end %>
              </div>
             
            </div>

          </div>
        </div>
        <div class="col-sm-2">
          <div class="row">
             <div class="col-sm-12">
               
                    <div class="block-title">
                      <strong>Select Variant</strong>
                    </div>
                   
              </div>
                <div class = "col-sm-12">
               <div  id="slider3">
                      <div class="thumbelina-but vert top">&#708;</div>
                      <ul style="width:100%;">
                          <% @other_variants.each do |variant| %>
                                <% if variant.find_balance_qty.to_i > 0 %>
                               <li class="text-center">
                                   <div class="col-sm-12" style ="height:130px;">
                                     <%= link_to image_tag(variant.images.sort_by(&:sort_order).first.avatar.url(:medium)), section_product_show_path(:id => @section.id , :productid => @product.id, :variant_id => variant.id), :class => 'img-responsive variant_images', :remote => true %><br/>
                                     </div>
                                     <br /><br /><br /><br />
                                     <div class="col-sm-12" style ="height:30px;">
                                    <%= variant.name %><br />
                                   
                                    </div>
                                 </li>
                               
                                <br />
                              <% end %>
                            <% end %>
                      </ul>
                      <div class="thumbelina-but vert bottom">&#709;</div>
            </div>
               
        </div>
      </div>
    </div>

      <script type="text/javascript">
            
            $(function(){
                
                
                
                $('#slider3').Thumbelina({
                    orientation:'vertical',         // Use vertical mode (default horizontal).
                    $bwdBut:$('#slider3 .top'),     // Selector to top button.
                    $fwdBut:$('#slider3 .bottom')   // Selector to bottom button.
                });
              
            })
        </script> 
        