<% @selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
<div class="product-view" itemscope="" itemtype="http://schema.org/Product" itemid="#product_base">

<div id="messages_product_view"></div>
<div class="product-essential">
  <div class="product-img-box col-sm-5 col-xs-12 bounceInRight animated"> 
    <div class="product-image">
		  <div class="original-image">
		    <a href="<%= @images.first.avatar.url(:original) %>" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20" style="position: relative; display: block;">
		      <img itemprop="image" id="image" src="<%= @images.first.avatar.url(:medium) %>" alt="<%= @product.name %>" title="<%= @product.name %>" style="display: block;">
		      <div class="cloud-zoom-lens" style="z-index: 98; position: absolute; width: 295.7371428571428px; height: 295.7371428571428px; opacity: 0; left: 0px; top: 0px; background-position: 0px 0px;"></div>
		    </a> 
		    <div class="mousetrap" style="z-index: 999; position: absolute; width: 458px; height: 458px; left: 0px; top: 0px; cursor: auto; background-image: url('');"></div>
		    <div id="cloud-zoom-big" class="cloud-zoom-big" style=" background-image: url('<%= @images.first.avatar.url(:medium) %>'); background-position: 0px 0px;"></div>
		  </div>
		  <div class="flexslider flexslider-thumb">
		    <div class="flex-viewport" style="overflow: hidden; position: relative;">
			    <ul class="previews-list slides" style="width: 1400%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px);">
				    <% @images.each do |image| %>
				      <li style="width: 76px; float: left; display: block;">
				        <a href="<%= image.avatar.url(:original) %>" class="cloud-zoom-gallery image" rel="useZoom: 'zoom1', smallImage: '<%= image.avatar.url(:medium) %>' " title="Women Casual Wear">
				            <img class="zoom-tiny-image" itemprop="image" src="<%= image.avatar.url(:thumb) %>" draggable="false">
                                 <h5 class="h2">
                                 <% if image.alt_text.present? %>
                                    <% @alt_text = image.alt_text %>
                                 <% elsif %>
                                     <% @alt_text = image.avatar_file_name.split(".").first %>
                                 <% end %>
                                 <% if @alt_text.length == 4 %>
                                 <span style="padding:5px 22px;">
                                 <%= @alt_text %>
                                 </span >
                                 <% elsif @alt_text.length == 5%>
                                   <span style="padding:5px 23px;">
                                 <%= @alt_text %>
                                 </span>
                                 <% else %>
                                 <span style="padding:5px 17px;">
                                 <%= @alt_text %>
                                 </span>
                                 <% end %></h5>
				        </a>
				      </li>
				    <% end %>
			    </ul>
			  </div>
			  <ul class="flex-direction-nav">
			    <li><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li>
			    <li><a class="flex-next" href="#"></a></li>
			  </ul>
		  </div>
		</div> <!--product-image--><!-- End light box -->           
    <div class="clear"></div>
  </div>
  <div class="no-display">
    <input type="hidden" name="product" value="27">
    <input type="hidden" name="related_product" id="related-products-field" value="">
  </div>
  <div class="product-shop col-sm-7 col-xs-12 bounceInUp animated">
      <div class="product-next-prev">
        <% if @previous_product.present? %>
          <a class="product-next" title="Next" href="<%= section_product_show_path( @section, @previous_product) %>"><span></span></a>
        <% end %>
        <% if @next_product.present? %>
        <a class="product-prev" title="Previous" href="<%= section_product_show_path( @section, @next_product) %>"><span></span></a>
        <% end %>
      </div> <!--product-next-prev-->
	    <div class="product-name">
		    <h1 itemprop="name"><%= @variant.name %></h1>
	    </div> <!--product-name-->
      <div class="short-description">  
	      <h2>Quick Overview</h2> 
	      <p><%= sanitize(@product.description, :tags=>[]).truncate(1300, :separator => " ").html_safe %></p>
	    </div>
      <meta itemprop="ratingValue" content="73"> 
			<meta itemprop="reviewCount" content="1"> 
			<meta itemprop="bestRating" content="100"> 
			<meta itemprop="worstRating" content="0">
      <div class="ratings" style="<%= current_user.present? ? '' : 'padding-bottom: 6px;' %>">
        <div class="add-to-links" style="<%= current_user.present? ? 'margin-bottom: 6px;' : '' %>">
          <span class="wishlist wishlist_view">
              <% if current_user.present? %>
							  <% if current_user.check_for_wishlist_item_presence(@variant.id) %>
							  	<%= form_for(@wishlist,:remote => true) do |f| %>
								    <%= f.hidden_field :user_id,:value => current_user.id  %>
								    <%= f.hidden_field :variant_id,:value => @variant.id %>								
								    <a class="link-wishlist" title="Add To Wishlist" style="cursor:pointer;"><span class="hidden-xs">Add To Wishlist</span></a>
								  <% end %>
							  <% else %>
							    <a class="link-wishlist exist" style="cursor:pointer;color:#2ecc71;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
							  <% end %>
							<% else %>
							  <a class="link-wishlist" style="cursor:pointer;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
							<% end %>
            </span>
        </div>
      </div>
      <%if @variant.find_balance_qty.to_i > 0 %>
        <p class="availability in-stock pull-left" style="margin-left:30%"> <span>In stock</span></p>
      <% else %>
        <p class="availability out-of-stock pull-left" style="margin-left:30%"> <span>SOLD</span></p>
      <% end %>
      <p class="fb-share-button pull-right" data-href="<%= request.path %>" data-layout="button_count" style="margin-top: -47px;margin-right: 0px;vertical-align:top;zoom:1;*display:inline"></p>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
          <div class="price-block">
			      <div class="price-box">
			        <span class="regular-price" id="product-price-27">
			          <span class="price">₹ <%= '%.2f' % @selling_price %></span>
			        </span>
			      </div>
			    </div>
			    <div class="add-to-box">                      
            <div class="add-to-cart">  
              <% if @variant.find_balance_qty.to_i != 0 || @product.unavail_purchase == true %>
					      <% if @cart.present? %>
					        <%= link_to '<span class="cart_icon">Add to Cart</span>'.html_safe, carts_path(CartItem.new, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"margin-left:0px;color:#fff !important;" %>		      
							  <% else %>
							    <%= link_to '<span class="cart_icon">Add to Cart</span>'.html_safe, carts_path(CartItem.new, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"margin-left:0px;color:#fff !important;" %>
							  <% end %>
							<% end %>
            </div> <!--add-to-cart--> 
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
          <% if @other_variants.first.present? %>
            <div class="block block-list block-cart" style="padding-bottom: 0px;margin-bottom: 0px;">
			        <div class="block-title" style="padding-top:0px;">
			          Also Available In   
			        </div>
			        <div class="block-content" style="padding-top:15px;">
							  <form accept-charset="UTF-8" action="<%= section_product_show_path(:id => @section.id , :productid => @product.id) %>" data-remote="true" method="get">
							    <%= collection_select(:variant_id, :id, @other_variants, :id, :name, {:prompt=>true}, {:class=>'variant_select_option',:style => "width:100%"})  %>
							  </form>
			        </div>
			      </div>
		      <% end %>
        </div>
      </div>
      <% if @variant.find_variant_availability.class == Fixnum || @variant.find_variant_availability.class == Float ||  @variant.find_variant_availability.class == String %>
			<% else %>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="block block-list block-cart" style="padding-bottom: 0px;margin-bottom: 0px;">
			        <div class="block-title" style="padding-top:0px;">
			          Availability 
			        </div>
			        <div class="block-content" style="padding-top:15px;">
                <%= form_tag find_variant_shipping_cost_path, :method => 'get',:id => 'get_shipping_cost',:remote => true  do %>
							    <%= collection_select(:user, :id, @variant.find_product_shipping_cost, :country_id, :country_name, {:prompt=>true}, {:class=>'my-custom-class country_select_option',:id => 'shipping_country_select',:style=>"width:100%"})  %>
							    <%= hidden_field_tag :variant_id ,@variant.id %>
							    <span class="append_pincode"></span>
							    <%= submit_tag "Check Availability", :name => nil,:class => "pull-right",:style => "background: #2ecc71;border-radius: 0px;color:white;height:29px;" %><br/>
							    <span class="shipping_country_select_error" style="color:#c53232;"></span>
							  <% end %>
					      <div class="result_val"> </div>
					    </div>
					  </div>
          </div>
        </div>    
      <% end%>       
      <!-- Magik Social Share-->
			<div class="social">      
		    <ul class="link">
		    </ul>
			</div>
      </div> <!--product-shop-->  
    </div> <!--product-essential-->
	</div> <!--product-view-->
  <div class="product-collateral col-sm-12 col-xs-12 bounceInUp animated">
    <!-- Tabs -->
    <div class="col-sm-12 wow bounceInUp animated" style=" -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">
      <ul class="nav nav-tabs product-tabs" id="product-detail-tab">
        <li id="product_tabs_description" class="tabLink active first"><a href="javascript:void(0)" style="padding-left: 0px;">Product Description</a></li>
      </ul>

    <div class="tab-content" id="productTabContent">
      <div class="tabcontent" id="product_tabs_description_contents">
        <div class="product-tabs-content-inner clearfix box-reviews">
	        <div class="std">
		        <%= @product.description.html_safe %>
		      </div>

			    <div class="box-reviews2">
			      <h5 style="font-weight:bold;">Properties</h5>
			      <div class="box visible">
			        <ul>
			          <li>
			            <table class="ratings-table">
			              <colgroup><col width="1"><col>
			              </colgroup>
			              <tbody>
			                <tr>
			                  <th>Type</th>
			                  <td>
			                    <div class="">
			                      <div class="" style="width:80%;">
			                      	<%= @product.types.map{|type| type.name }.join(",")%>
			                      </div>
			                    </div>
			                  </td>
			                </tr>
			                <% @product_questions.each do |product_question|  %>
			                  <tr>
				                  <th><%= product_question.question %></th>
				                  <td>
				                    <div class="">
				                      <div class="" style="width:80%;">
				                      	<%= product_question.product_properties.where( 'variant_id' => @variant.id).first.answer %>
				                      </div>
				                    </div>
				                  </td>
				                </tr>
			                <% end %>
			              </tbody>
			            </table>
			            <div class="review">
			              <h6>SKU - <%= @variant.sku %></h6>
			              <small>
			                viewed by                     /
			                20 peoples                
			              </small>
			            </div> <!--review-->
			          </li>
			        </ul>
			      </div><!--box visible-->
			      <div class="actions">
			        <a type="button" id="hide_review" class="button view-all" style="display:none" onclick="HideDiv()"><span>Hide</span></a>
			      </div> <!--actions-->
        </div> <!--box-reviews2-->
        </div>
      </div>
  </div> <!--tab-content-->

</div> <!--col-sm-12 wow bounceInUp animated-->
</div>
<script type="text/javascript">
//<![CDATA[
Varien.Tabs = Class.create();
Varien.Tabs.prototype = {
  initialize: function(selector) {
    var self=this;
    $$(selector+' a').each(this.initTab.bind(this));
  },

  initTab: function(el) {
      el.href = 'javascript:void(0)';
      if ($(el.parentNode).hasClassName('active')) {
        this.showContent(el);
      }
      el.observe('click', this.showContent.bind(this, el));
  },

  showContent: function(a) {
    var li = $(a.parentNode), ul = $(li.parentNode);
    ul.select('li', 'ol').each(function(el){
      var contents = $(el.id+'_contents');
      if (el==li) {
        el.addClassName('active');
        contents.show();
      } else {
        el.removeClassName('active');
        contents.hide();
      }
    });
  }
}
new Varien.Tabs('.product-tabs');
//]]>
</script>
<script>
	jQuery(".country_select_option").change(function(){
	  jQuery("#pincode_pincode").val('');
	  jQuery(".price result_val").html('');
	  jQuery("#get_shipping_cost").submit();
	});

	jQuery(".variant_select_option").change(function(){
		if(jQuery(this).val() != ""){
			var form = jQuery(this).closest("form");
		  form.submit();
		}
		else{

		}
	});

	jQuery(document).ready(function(){
	  jQuery(document).on("click",".link-wishlist",function(){
	    var form = jQuery(this).closest("form");
	    //console.log(form);
	    form.submit();
	  });
	});
  window.fbAsyncInit = function() {
    FB.init({
      appId      : ' 314922028632772',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<style>
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.h2 { 
   position: absolute; 
   bottom: -7px; 
   left: -37; 
   width: 100%; 
}
.h2 span { 
   color: white; 
   font: bold 12px Helvetica, Sans-Serif; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px 15px; 
   display: inline;
  background-attachment: fixed;
}
.row:before{
  display:block !important;
  content: none !important;
}
.main.container:before{
   display:block !important;
   content: none !important;
}
.fb_iframe_widget{
    display:inline-block !important;
    margin:0 10px 0 0 !important;
    border:none;
    overflow:hidden;
}
</style>