<div class="top_box">
  <div class="grid_img">
    <div class="css3">
      <% if product.images.present? %>                    
        <a href="<%= section_product_show_path(@section,product) %>">
          <%= image_tag similar_image(product).avatar.url(:medium),:class => "img-responsive", :style => "width:100%;" %>
        </a>                    
      <% end %>
    </div>
      <% if current_user.present? %>
          <% variant= product.variants.order(sort_order: :asc).first %>
          <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
            <div class="mask1" style="left:150px;top:150px;">
              <div class="info">
                <a href="<%= section_product_show_path(@section,product) %>" style="color:#fff;">buy</a>
              </div>
              
            </div>
            <div class="mask1" style="left:45px;top:150px;">                        
              <% if current_user.present? %>
                <% variant= product.variants.order(sort_order: :asc).first %>
                <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
                  <%= form_for(Wishlist.new,:remote => true) do |f| %>
                    <%= f.hidden_field :show_page,:value => 1  %>
                    <%= f.hidden_field :user_id,:value => current_user.id  %>
                    <%= f.hidden_field :test,:value => "test"  %>
                    <%= f.hidden_field :variant_id,:value => variant.id %>
                  <div class="info wishlist_save">
                    <%= f.submit "SAVE",:class => "button" %>
                  </div>
                  <% end %>
                <% else %>
                  <span class="glyphicon glyphicon-heart wishlist" style="color:red;"><br /><br />WishList</span>
                <% end %>
              <% end %>
             
            </div>
          <% else %>
            <div class="mask1" style="left:95px;top:150px;">
              <div class="info">
                <a href="<%= section_product_show_path(@section,product) %>" style="color:#fff;">buy</a>
              </div>
              
            </div>
            
          <% end %>
      <% else %>
        <div class="mask1" style="left:95px;top:150px;">
              <div class="info">
                <a href="<%= section_product_show_path(@section,product) %>" style="color:#fff;">buy</a>
              </div>
              
            </div>
      <% end %>
  </div>
  <h3 class="m_1 text-center">
    <div class="row borders-top">
      <div class="col-sm-12">
        <div class="col-sm-3" style="padding-left:1px;padding-top:1px;">
          <span class="glyphicon glyphicon-new-window" style="color:red;"><br /><br />share</span>
        </div>
        <div class="col-sm-6 border-left">
          <div class="price text-center"><br />Rs. <%= product.inventories.first.selling_price %><br /><br />
          </div>
        </div>
        <div class="col-sm-3" style="padding-right:1px;padding-top:1px;">
          <% if current_user.present? %>
            <% variant= product.variants.order(sort_order: :asc).first %>
            <% unless current_user.check_for_wishlist_item_presence(variant.id) %> 
              <span class="glyphicon glyphicon-heart wishlist" style="color:red;"><br /><br />WishList</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-sm-12">
      <br />
        <%= product.name %>
      </div>
    </div>
  </h3>
</div>