<div class="top_box ">
  <div class="grid_img">
    <div class="css3">
      <% if @product.images.present? %>                    
        <a href="<%= section_product_show_path(@section,@product) %>">
          <%= image_tag "/assets/loading.gif", "data-original" => similar_image(@product).avatar.url(:medium), :class =>"class1 lazy img-responsive", :style => "width:100%;"%>
        </a>                    
      <% end %>
    </div>
      <% if current_user.present? %>
          <% variant = @product.variants.order(sort_order: :asc).first %>
          <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
            <!-- buy button & save button wishlists start -->
            <div class="mask1" style="left:150px;top:150px;">
              <div class="info">
                <a href="<%= section_product_show_path(@section,@product) %>" style="color:#fff;">buy</a>
              </div>
            </div>
            <div class="mask1" style="left:45px;top:150px;">                
              <% if current_user.present? %>
                <% variant = @product.variants.order(sort_order: :asc).first %>
                <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
                  <%= form_for(Wishlist.new,:remote => true) do |f| %>
                    <%= f.hidden_field :section,:value => @section.id  %>
                    <%= f.hidden_field :user_id,:value => current_user.id  %>
                    <%= f.hidden_field :test,:value => "test"  %>
                    <%= f.hidden_field :variant_id,:value => variant.id %>
                  <div class="info wishlist_save">
                    <%= f.submit "SAVE",:class => "button" %>
                  </div>
                  <% end %>
                <% else %>
                  <span class="glyphicon glyphicon-heart wishlist" style="color:red;"><br /><br />WishList</span>
                <% end %>
              <% end %>
            </div>
            <!-- buy button & save button wishlists end  -->
          <% else %>
            <!-- buy button start -->
            <div class="mask1" style="left:95px;top:150px;">
              <div class="info">
                <a href="<%= section_product_show_path(@section,@product) %>" style="color:#fff;">buy</a>
              </div>
            </div>
            <!-- buy button  end -->
          <% end %>
      <% else %>
      <!-- buy button start -->
        <div class="mask1" style="left:150px;top:150px;">
          <div class="info">
            <a href="<%= section_product_show_path(@section,@product) %>" style="color:#fff;">buy</a>
          </div>
        </div>
            
        <div class="mask1" style="left:45px;top:150px;">
          <div class="info">
            <a href="<%= new_session_path(resource_name) %>" style="color:#fff;">save</a>
          </div>
        </div>
        <!-- buy button  end -->
      <% end %>
  </div>
  <!-- product name & price  start -->
  <h3 class="m_1 text-center">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <%= @product.name %>
        <% if current_user.present? %>
          <% variant= @product.variants.order(sort_order: :asc).first %>
          <% unless current_user.check_for_wishlist_item_presence(variant.id) %> 
            <span class="glyphicon glyphicon-heart wishlist" style="color:red;"></span>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-center" style="text-transform: none;padding-top:10px;">
        <b>Rs. <%= '%.2f' % @product.inventories.first.selling_price %></b>
      </div>
    </div>
    
  </h3>
  <!-- product name & price  end -->
</div>

<script>
$("img.lazy").lazyload();
</script>