<% if current_user.present? %>
  <% if current_user.check_for_wishlist_item_presence(@variant.id) %>
  	<%= form_for(@wishlist,:remote => true) do |f| %>
	    <%= f.hidden_field :user_id,:value => current_user.id  %>
	    <%= f.hidden_field :variant_id,:value => @variant.id %>
      <button class="btn btn-primary1 btn-xs" type="submit" style="color:#fff;"><span class="glyphicon glyphicon-heart">		</span>
	      Add to Wishlist
	    </button>
	  <% end %>
  <% else %>
    <a class="link-wishlist exist" style="cursor:pointer;color:#2ecc71;" title="Add To Wishlist"><span>Added To Wishlist</span></a>
  <% end %>
<% end %>