<% if current_user.present? %>
<% variant = product.variants.order(sort_order: :asc).first %>
<% if current_user.check_for_wishlist_item_presence(variant.id) %> 
  <%= form_for(Wishlist.new,:remote => true) do |f| %>
    <%= f.hidden_field :section,:value => @section.id  %>
    <%= f.hidden_field :user_id,:value => current_user.id  %>
    <%= f.hidden_field :test,:value => "test"  %>
    <%= f.hidden_field :variant_id,:value => variant.id %>
    
    <%= f.submit "SAVE",:class => "link-wishlist",  :title=>"Add To Wishlist", :style=>"cursor:pointer;" %>
  <% end %>
<% else %>
  <span class="glyphicon glyphicon-heart wishlist" style="color:red;"><br /><br />WishList</span>
<% end %>
<% end %>