<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ul>
           <li class="home">
              <a href="www.ranees.in" title="Go to Home Page">Home</a>
                <span>—› </span>
           </li>
           <li class="category1271">
              <strong>Collections</strong>
           </li>
        </ul>
      </div> <!--row-->
    </div> <!--container-->
  </div>
  <section class="main-container col2-left-layout bounceInUp animated">
  <!-- Version 2 -->
     <div class="page-header">
        <div class="container">
           <div class="row">
              <div class="col-xs-12">
                 <h2>Collections</h2>
              </div>
           </div>
        </div>
     </div>
  <!-- Version 2 -->
   <div class="container">
      <div class="row">
         <div class="col-main col-sm-9 col-sm-push-3">
           <article class="col-main">
               <!-- Version 2 -->


       <div class="category-description std">
          <div class="category-description std">
            <div class="slider-items-products">
              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col1"> 
                  
                  <!-- Item -->
                  <% if @sections_slider_images.present? %>
                      <% @sections_slider_images.sort_by(&:sort_order).each do |slider_image| %>
                         <div class="item"> <a href="#x"><%= image_tag slider_image.avatar.url(:large) %></a>
                          <div class="cat-img-title cat-bg cat-box">
                            <h2 class="cat-heading"><%= slider_image.title %></h2>
                            <p><%= slider_image.description %></p>
                          </div>
                        </div>
                      <% end %>
                  <% else %>
                      <div class="item"> <a href="#x"><%= image_tag 'women_banner.png' %></a>
                        <div class="cat-img-title cat-bg cat-box">
                          <h2 class="cat-heading">Category Banner</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                      <!-- End Item --> 
                      
                      <!-- Item -->
                      <div class="item"> <a href="#x"><%= image_tag 'women_banner1.png' %></a> </div>
                      <!-- End Item --> 
                  <% end %>
                  
                </div>
              </div>
            </div>
          </div>        </div>

<!-- BEGIN CATEGORY PRODUCTS -->
<div class="category-products">
      <ul class="products-grid first last odd">     
          <% @section_products.each do |product| %>
            <% if  product.promote == 'l' || product.promote == 't' || product.promote == 'o'%>
             <% variant= product.variants.order(sort_order: :asc).first %>
            <% @section = product.categories.first.id %>
            <% image=variant.images.order(sort_order: :asc).first %>
            <% @selling_price = Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first.selling_price %>
             <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
               <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info">
                        <a class="product-image" href="<%= section_product_show_path(@section,product) %>" title="<%= product.name %>"><%= image_tag image.avatar.url(:medium),:class => "img-responsive",:alt => "#{ product.name }" %>
                         </a>
                          <div class="new-label new-top-left">
                              <% if product.promote == 'l' %>
                                 New
                              <% elsif product.promote == 't' 
                                %>
                                  Trend
                              <% elsif product.promote == 'o'
                                 Offer 
                                %>
                              <% end %>
                          </div>
                        <div class="item-box-hover">
                            <div class="box-inner"> 
                              <div class="actions">
                                <div class="add_cart">
                                    <% if variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
                                      <% if @cart.present? %>
                                        <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => variant.id,:selling_price =>@selling_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>          
                                      <% else %>
                                        <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => variant.id,:selling_price => @selling_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>
                                      <% end %>
                                    <% end %>
                                 </div>
                                <div class="product-detail-bnt">
                                   <span class="wishlist wishlist_view ">
                                      <% if current_user.present? %>
                                        <% if current_user.check_for_wishlist_item_presence(variant.id) %>
                                          <%= form_for(Wishlist.new) do |f| %>
                                            <%= f.hidden_field :section,:value => @section  %>
                                            <%= f.hidden_field :user_id,:value => current_user.id  %>
                                            <%= f.hidden_field :test,:value => "test"  %>
                                            <%= f.hidden_field :variant_id,:value => variant.id %>
                                            <br />
                                            <button type="submit" class="link-wishlist" title="Add to Wishlist" ></button>
                                          <% end %>
                                          
                                        <% else %>
                                          <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
                                        <% end %>
                                      <% else %>
                                        <a class="link-wishlist button" style="cursor:pointer;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
                                      <% end %>
                                    </span>
                                   <a href="<%= section_product_show_path(@section,product) %>" class="button detail-bnt" title="View" style="padding:8px 12px;" ><span>Views</span></a>
                                </div>  
                              </div>
                           </div>
                        </div>
                      </div>
                  </div>
                  <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title">
                           <a href="<%= section_product_show_path(@section,product) %>" title="<%= product.name %>"> <%= product.name %>  </a>
                        </div> <!--item-title-->
                        <div class="item-content">      
                          <div class="item-price">
                            <div class="price-block">
                              <div class="price-box">
                                <span class="regular-price" id="product-price-2"> 
                                  <span class="price">₹  <%= '%.2f' % product.inventories.first.selling_price %></span>
                                </span> 
                              </div>
                            </div>
                          </div>
                        </div> <!--item-content-->
                      </div><!--info-inner-->
                    </div><!--item-info-->   
                </div>
            </li>
            <% end %>
          <% end %>  
        </ul>        
   <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
   </div> <!--category-products-->

<!--div class="toolbar-bottom">
    </div-->



        
    </article>
        </div>
   <% @general = Admin::General.first %>
<% @n = @general ? @general.category_level : 3 %>       
  <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
     <aside class="col-left sidebar">
         <!-- BEGIN SIDE-NAV-CATEGORY -->  
        <div class="side-nav-categories">
           <div class="block-title">Categories</div><!--block-title-->
           <!-- BEGIN BOX-CATEGORY -->  
           <div class="box-content box-category">
           <ul>
              <% @sections.roots.sort_by(&:sort_order).each do |section| %>
                   <li class="markthis"> <%= link_to h(section.name), section_path(section) %>
                      <% if @n > 1 %>
                         <% if section.children.present? %>
                           <% unless @n < 3 %>
                              <span class="subDropdown minus"></span> 
                                <ul class="level0_1271" style="display:block">
                                  <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                                     <% if children_section.status == true %>
                                        <li class="level1">
                                           <%= link_to h(children_section.name), section_path(children_section),:class => "" %>
                                            <% if @n > 2 %>
                                                <% if children_section.children.present? %>
                                                  <ul class="level1" style="display:none">
                                                    <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
                                                       <li class="level2">
                                                            <%= link_to h(sub_children_section.name), section_path(sub_children_section) %>
                                                        </li> 
                                                    <% end %>
                                                  </ul>
                                                <% end %>
                                             <% end %>
                                        </li>
                                     <% end %>
                                  <% end %>
                               </ul>
                           <% end %>
                         <% end %>
                      <% end %>
                   </li>
              <% end %>
           </ul><!--level0-->
</div><!--box-content box-category-->
</div><!--side-nav-categories-->
<div class="block block-layered-nav">
    <div class="block-title">
        Shop By    </div>
    <div class="block-content">
        <p class="block-subtitle">Shopping Options</p>
            <dl id="narrow-by-list">
                <dt class="odd">Category</dt>
                    <dd class="odd">
                      <ol>
                      <% @sections.roots.sort_by(&:sort_order).each do |section| %>
                         <% if @n > 1 %>
                           <% if section.children.present? %>
                             <% unless @n < 3 %>
                                <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                                       <% if children_section.status == true %>
                                           <% if @n > 2 %>
                                                  <% if children_section.children.present? %>
                                                     <% children_section.sort_by(&:sort_order).each do |sub_children_section| %>
                                                         <li>
                                                             <a href="<%= section_path(sub_children_section)  %>"><%= sub_children_section.name %> <span class="count">(<%= sub_children_section.products.count %>)</span></a>
                                                          </li>
                                                     <% end %>
                                                  <% end %>
                                            <% end %>
                                        <% else %>
                                            <li>
                                               <a href="<%= section_path(children_section)  %>"><%= children_section.name %> <span class="count">(<%= children_section.products.count %>)</span></a>
                                            </li>
                                        <% end %>
                                <% end %>
                              <% end %>
                            <% else %>
                                <li>
                                   <a href="<%= section_path(section)  %>"><%= section.name %> <span class="count">(<%= section.products.count %>)</span></a>
                                </li>
                           <% end %>
                          <% end %>
                          <li>
                               <a href="<%= section_path(section)  %>"><%= section.name %> <span class="count">(<%= section.products.count %>)</span></a>
                            </li>
                      <% end %>
                      </ol>
                      </dd>
                </dl>
            </div>
</div>




</div>
</div>
</aside>
</div>
</div>
</article>
</div>
</div>
</div>
</section>











<style>


@media (min-width: 0px) and (max-width: 768px){
  .marginclass{
 
}
.slider_height{
  height:275px;
}
.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container{
  height:30% !important;
}
}

@media (min-width: 768px) { 
.marginclass{
  margin-left:0px !important;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .marginclass{
  margin-left:0px !important;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .marginclass{
  margin-left:0px !important;
}

}

</style>
 <style>
      .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
          content: "";
          font-family: "FontAwesome";
          font-size: 15px;
      }
      .item-box-hover .box-inner .product-detail-bnt a.button.detail-bnt:before{
        content: "\f002";
        font-family: 'FontAwesome';
        font-size: 15px;
      }
      </style>