<div class="container">
  <div class="row">
    <div class="col-sm-3 col-sm-3">
      <br />    
      <div id="sidebar">
        <% a = 0 %>
        <% b = 0 %>
        <% c = 0 %>
        <% d = 0 %>
        <ul id="sideManu" class="nav nav-tabs nav-stacked">
          <% @sections.roots.each do |section| %>
            <li style="height:20%;">
              <div class="col-sm-3 sidebar_color">
                <span id="subMenu<%= a %>" class="glyphicon glyphicon-play subMenu">
                </span>
              </div>
              <div class="col-sm-9">
                <%= link_to h(section.name), section_path(section) %>
              </div>
              <ul id="sideManu" class="nav nav-tabs nav-stacked">
                <% if section.children.present? %>
                  <% section.children.each do |children_section|%>
                    <div class="subMenu_show<%= a %>" style="display:none;">
                      <li>
                        <div class="col-sm-3 sidebar_color1">
                          <span id="parent<%= a %><%= b %>" class="glyphicon glyphicon-star parent">                       
                          </span>
                        </div>
                        <div class="col-sm-9">
                          <%= children_section.name %>
                        </div>
                        <ul id="sideManu" class="nav nav-tabs nav-stacked">
                          <div class="parent_show<%= a %><%= b %>" style="display:none;">
                            <% if children_section.children.present? %>
                              <% children_section.children.each do |sub_children_section| %>  
                              <li>
                                <div class="col-sm-3 sidebar_color1">
                                  <span class="glyphicon glyphicon-th parent">             
                                  </span>
                                </div>
                                <div class="col-sm-9">
                                  <%= link_to h(sub_children_section.name), section_path(sub_children_section) %>
                                </div>                  
                              </li>
                              <% end %>                                              
                            <% end %>                        
                          </div>
                        </ul>
                      </li>
                    </div>
                    <% b += 1 %> 
                  <% end %>
                <% a += 1 %>
                <% end %>
              </ul>
            </li>            
          <% end %> 
        </ul>
      </div>
    </div>
    <div class="col-sm-9 col-sm-9">     
      <br />
      <% @sections.roots.each do |section| %>
        <div class="row text-center ">
          <div class="col-sm-12">
            <div class="main_head">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-9">
                    <strong><%= section.name.upcase %> Category</strong>
                  </div>
                  <div class="col-sm-3">
                    <div class="pull-rigth">
                      <span id="viewchild<%= d %>" class="viewchild">View Child Category
                      </span>                      
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>                 
        <div class="list_main_cat"><br/>
          <div class="row">
            <div class="second_level" >
              <% section.children.each do |children_section| %>
                <div class="viewchild_show<%= d %>" style="display:none;">
                  <div class="col-sm-2 col-xs-2 ">
                    <span class="second_level_name">
                      <%= link_to h(children_section.name), section_path(children_section) %>
                    </span>
                    <br/><br/>
                    <div class="second_level_hide">
                      <% if children_section.children.present? %>
                        <% children_section.children.each do |sub_children_section| %>
                          <div class="row second_level_show">
                          <%= link_to h(sub_children_section.name), section_path(sub_children_section) %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% d+=1 %>
            </div>
          </div>
        </div>
      <% end %>     
    </div>
  </div>
</div>




<script>
$( document ).ready(function() {
  $(".subMenu").click(function(){    
       $("." + ($(this).attr('id').replace('subMenu','subMenu_show'))).toggle();    
    });   
  $(".parent").click(function(){    
       $("." + ($(this).attr('id').replace('parent','parent_show'))).toggle();    
    }); 
  $(".viewchild").click(function(){    
     $("." + ($(this).attr('id').replace('viewchild','viewchild_show'))).toggle();    
  });  
});
</script>