
<% @general = Admin::General.first %>
<% @n = @general ? @general.category_level : 3 %>
<% if @section.children.present? %>
  <% if @section.ancestors.present? %>
    <!-- Start Title And Description -->

			<% if @section.page_title.present? %>
				<% content_for :title do %><%= @section.page_title %><% end %>
			<% end %>

			<% if @section.meta_description.present? %>
				<% content_for :description do %><%= @section.meta_description.html_safe %><% end %>
			<% end %>


		<!-- End Title And Description -->

		<div class="breadcrumbs">
    	<div class="container">
      	<div class="row">
					<ul>
	  	      <li class="home">
	      		  <a href="<%= root_path %>" title="Go to Home Page">Home</a>
	      	    <span>—› </span>
	      	  </li>
	      	  
	  	      <li class="category1271">
	      		  <strong><%= @section.name %></strong>
	      	  </li>
	  	    </ul>
        </div> <!--row-->
      </div> <!--container-->
    </div>
    <!--breadcrumbs-->

    <!-- BEGIN Main Container col2-left -->
    <section class="main-container col2-left-layout bounceInUp animated">
    <!-- Page Header -->
    	<div class="page-header">
      	<div class="container">
					<div class="row">
					  <div class="col-xs-12">
					    <h2><%= @section.name %></h2>
					  </div>
					</div>
        </div>
      </div>

      <div class="container">
      	<div class="row">
	      	<div class="col-main col-sm-9 col-sm-push-3">
	      	  <article class="col-main">

	      	    <!-- Category Slider Start -->
	      	    <div class="category-description std">
			          <div class="category-description std">
			            <div class="slider-items-products">
			              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
			                <div class="slider-items slider-width-col1 owl-carousel owl-theme" style="opacity: 1; display: block;"> 
			                  
			                  <!-- Item -->
			                  <% if @section.general_images.present? %>
				                   <% @section.general_images.each do |general_image| %>
		                        <div class="item">
		                          <a href="#x">
		                            <%= image_tag general_image.avatar.url %>
		                          </a>
					                    <div class="cat-img-title cat-bg cat-box">
					                      <h2 class="cat-heading"><%= general_image.title %></h2>
					                      <p><%= sanitize(general_image.description, :tags=>[]).truncate(100, :separator => " ").html_safe %></p>
					                    </div>
					                  </div>
						              <% end %>
						              
		                    <% else %> 
		                      <div class="owl-wrapper-outer">
		                        <div class="owl-wrapper" style="width: 3392px; left: 0px; display: block;">
		                          <div class="owl-item" style="width: 848px;"> 
		                            <div class="item">
				                          <a href="#x">
				                            <%= image_tag 'slider_first.png' %>
				                          </a>
							                    <div class="cat-img-title cat-bg cat-box">
							                      <h2 class="cat-heading">Title</h2>
							                      <p>Description</p>
							                    </div>
							                  </div>
		                          </div>
		                        </div>
		                      </div>    

	                      <% end %>
			                  <!-- End Item --> 
				                <div class="owl-controls clickable">
				                  <div class="owl-buttons">
				                    <div class="owl-prev"><a class="flex-prev"></a></div>
				                    <div class="owl-next"><a class="flex-next"></a></div>
				                  </div>
				                </div>
				              </div>
				            </div>
			            </div>
			          </div>
			        </div>
			        <!-- Category Slider End -->

			        <!-- Toolbar Start -->
			        <div class="toolbar">
        				<div class="sorter">
                	<div class="view-mode">
                    <span id="grid_show" title="Grid" class="button-grid"></span>&nbsp;
                    <span id="list_show" title="List" class="button-list1  "></span>&nbsp;
        					</div>
    						</div> <!--sorter-->
							</div>
							<!-- Toolbar End -->

							<!-- BEGIN CATEGORY PRODUCTS -->
							<ol class="products-list" id="" style="width:100%;">
							  <% if @products.present? %>
							     <% @product_flag = 1 %>
								  <% @products.each do |product| %>
						  			<% if product.status== true && product.visibility == true && product.return_due.present? %>
						  				<style>
						  				.products-list .product-shop .btn-cart, .products-list .product-shop .btn-cart:hover{
						  					padding:1px 12px;
						  				}
						  				</style>
										  <li class="item">
								        <!-- BEGIN PRODUCT IMAGE -->
								          <div class="product-image">
								            <a href="<%= section_product_show_path(@section,product) %>">
										          <%= image_tag similar_image(product).avatar.url(:thumb), :class =>"class1 #{@product_flag > 6  ? ' ' : ' '} img-responsive", :style => "width:237px;height:237px;"%>
										        </a>     
								          </div> <!--product-image-->
								          <!-- BEGIN PRODUCT SHOP -->
								          <div class="product-shop">
								            <h2 class="product-name">
								              <a href="" title="<%= product.name %>"> <%= product.name %> </a>
								            </h2>
								            <div class="desc std">
								              <p><%= product.description.html_safe %></p>
								              <p><a href="" class="link-learn">Learn More</a></p>
								            </div> <!--desc std-->
			                			<div class="price-block">
			    										<div class="price-box">
			                          <span class="regular-price" id="product-price-2">
			                            <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
			                          </span>
			        								</div>
														</div>
			            						<!-- BEGIN ACTIONS -->
			          						<div class="actions"> 
			                        <div class="add-to-cart"> 
			                          <% @variant = product.variants.order(sort_order: :asc).first %> 
							                  <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
														      <% if @cart.present? %>
														        <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"margin-left:0px" %>		      
																  <% else %>
																    <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"margin-left:0px" %>
																  <% end %>
																<% end %>
							                </div> <!--add-to-cart-->      
			                        
			            						<span class="add-to-links">
			                          <span class="wishlist wishlist_view">
						                      <% if current_user.present? %>
																	  <% if current_user.check_for_wishlist_item_presence(@variant.id) %>
																	    <%= form_for(Wishlist.new) do |f| %>
										                    <%= f.hidden_field :section,:value => @section.id  %>
										                    <%= f.hidden_field :user_id,:value => current_user.id  %>
										                    <%= f.hidden_field :test,:value => "test"  %>
										                    <%= f.hidden_field :variant_id,:value => @variant.id %>
										                    <br />
										                    <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
										                  <% end %>
																	  	
																	  <% else %>
																	    <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
																	  <% end %>
																	<% else %>
																	  <a class="link-wishlist button" style="cursor:pointer;display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
																	<% end %>
						                    </span>
			                          <a href="<%= section_product_show_path(@section,product) %>" class="button link-compare" title="View"><span>View</span></a>
			                        </span> <!--add-to-links-->
			          						</div> <!--actions-->

			          					</div> <!--product-shop-->
			        				</li><% @product_flag += 1 %>	
			        			<% end %>
			        		<% end %>	
			        	<% end %>			
							</ol>

							<!-- BEGIN CATEGORY PRODUCTS -->
							<div class="search_result product_grid1">
							  <% @section.children.each do |child|%>
								  <div class="category-products">
								      <ul class="products-grid first last odd">
								        <% if child.present? %>
								          <% @product_flag = 1 %>	
								          <% child.products.each do |product| %>
								            <% if product.status== true && product.visibility == true && product.return_due.present? %>
								              <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
								                <div class="item-inner">
								                  <div class="item-img">
								                     <div class="item-img-info">
								                        <% if product.images.present? %>                    
								                          <a href="<%= section_product_show_path(@section,product) %>">
								                             <%= image_tag similar_image(product).avatar.url(:medium), "data-original" =>  similar_image(product).avatar.url(:medium), :class =>"class1  img-responsive"%>
								                          </a>                    
								                        <% end %>
								                          <% @variant = product.variants.order(sort_order: :asc).first %>
								                          <% if product.promote == "l" %>
								                            <div class="new-label new-top-left">New</div>
								                          <% elsif product.promote == "t" %>
								                            <div class="new-label new-top-left">Trend</div>
								                          <% elsif product.promote == "o" %>
								                            <div class="new-label new-top-left">Offer</div>
								                          <% elsif @variant.find_balance_qty.to_i == 0 && product.unavail_purchase != true %>
								                             <div class="sale-label  new-top-right">SOLD</div>
								                          <% else %>  
                                                                             
								                          <% end %>
								                        <div class="item-box-hover">
								                          <div class="box-inner">
								                            <div class="actions">
								                              <div class="add_cart">  
								                                <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
								                                  <% if @cart.present? %>
								                                    <%= link_to ''.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart", :style => "padding: 8px 12px;"  %>         
								                                  <% else %>

								                                    <%= link_to '', carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart", :style => "padding: 8px 12px;" %>
								                                  <% end %>
								                                  <style>
								                                  .products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
								                                      content: "";
								                                      font-family: "FontAwesome";
								                                      font-size: 15px;
								                                  }
								                                  </style>
								                                <% end %>
								                              </div> <!--add-to-cart-->      
								                             
								                              
								                              <div class="product-detail-bnt">
								                                 <a href="<%= section_product_show_path(@section,product) %>" title="view" class="button detail-bnt" data-fancybox-type="ajax" style="margin-left:12px;"><span>view</span></a>
								                              </div> <!--product-detail-bnt-->
								                              <span class="add-to-links">

								                                <span class="wishlist wishlist_view">
								                                  <% if current_user.present? %>
								                                    <% variant = product.variants.order(sort_order: :asc).first %>
								                                    <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
								                                      <%= form_for(Wishlist.new) do |f| %>
								                                        <%= f.hidden_field :section,:value => @section.id  %>
								                                        <%= f.hidden_field :user_id,:value => current_user.id  %>
								                                        <%= f.hidden_field :test,:value => "test"  %>
								                                        <%= f.hidden_field :variant_id,:value => variant.id %>
								                                        <br />
								                                        <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
								                                      <% end %>
								                                      <style>
								                                        .products-grid .box-inner .actions .add-to-links .wishlist .link-wishlist:before {
								                                          content: "\f004";
								                                          }
								                                        .products-grid .box-inner .actions .add-to-links .link-wishlist {
								                                            color: #000;
								                                            font-family: 'FontAwesome';
								                                            font-size: 14px;
								                                            font-weight: normal;
								                                            margin: 0;
								                                            padding: 8px 12px;
								                                            text-decoration: none;
								                                            background-color: #f8f8f8;
								                                            display: inline-block;
								                                            transition: all 0.3s linear;
								                                            -moz-transition: all 0.3s linear;
								                                            -webkit-transition: all 0.3s linear;
								                                            margin-right: 8px;
								                                            border-radius: 3px;
								                                            }
								                                            .products-grid .box-inner .actions .add-to-links .link-wishlist:before {
								                                            content: "\f004";
								                                            }

								                                      </style>
								                                    <% else %>
								                                      <a href="" class="link-wishlist" title="Already Saved" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
								                                      <style>
								                                      .products-grid .box-inner .actions .add-to-links a.link-wishlist{
								                                        color:#2ecc71;
								                                      }
								                                      </style>
								                                    <% end %>
								                                  <% else %>
								                                    <a href="" class="link-wishlist" title="Add to Wishlist" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
								                                  <% end %>
								                                </span>
								                              </span> <!--add-to-links-->
								                           </div> <!--actions--><br> <br />
								                         </div> <!--box-inner-->
								                       </div> <!--item-box-hover-->
								                     </div> <!--item-img-info-->
								                  </div> <!--item-img-->
								                  <div class="item-info">
								                    <div class="info-inner">
								                      <div class="item-title">
								                         <a href="" title="<%= product.name %>"> <%= product.name %> </a>
								                      </div> <!--item-title-->
								                      <div class="item-content">      
								                        <div class="item-price">
								                          <div class="price-block">
								                            <div class="price-box">
								                              <span class="regular-price" id="product-price-2">
								                                <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
								                              </span>
								                            </div>
								                          </div>
								                        </div>
								                      </div> <!--item-content-->
								                    </div><!--info-inner-->
								                  </div><!--item-info-->       
								                </div> <!--item-inner-->
								              </li>
								            <% @product_flag += 1 %>	
								            <% end %>
								          <% end %>
								        <% else %>
								          <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
								            <div class="item-inner">
								              <div class="item-img">
								                 <div class="item-img-info">
								                   <a class="product-image" href="#" title="">
								                   <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
								                   </a>
								                   <div class="new-label new-top-left"> New </div>
								                   <div class="item-box-hover">
								                     <div class="box-inner">
								                       <div class="actions">
								                         <div class="add_cart">
								                            <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
								                         </div> <!--add_cart-->  
								                          
								                          <div class="product-detail-bnt">
								                             <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
								                          </div> <!--product-detail-bnt-->
								                          <span class="add-to-links">
								                            <a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
								                            <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a>
								                          </span> <!--add-to-links-->
								                       </div> <!--actions-->
								                     </div> <!--box-inner-->
								                   </div> <!--item-box-hover-->
								                 </div> <!--item-img-info-->
								              </div> <!--item-img-->
								              <div class="item-info">
								                <div class="info-inner">
								                  <div class="item-title">
								                     <a href="" title=""> Product Name </a>
								                  </div> <!--item-title-->
								                  <div class="item-content">      
								                    <div class="item-price">
								                      <div class="price-block">
								                        <div class="price-box">
								                          <span class="regular-price" id="product-price-2">
								                            <span class="price">Price</span>
								                          </span>
								                        </div>
								                      </div>
								                    </div>
								                  </div> <!--item-content-->
								                </div><!--info-inner-->
								              </div><!--item-info-->       
								            </div> <!--item-inner-->
								          </li>
								        <% end %>
								      </ul>
								    </div>

								<% end %>
								
  						</div>
  						<!-- end CATEGORY PRODUCTS -->
	      	  </article>
	      	</div>
	      	<div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
	      	  <!-- BEGIN SIDE-NAV-CATEGORY -->
	      	  <aside class="col-left sidebar">
	      	    <div class="side-nav-categories">
								<div class="block-title">Categories</div><!--block-title-->
								<!-- BEGIN BOX-CATEGORY -->  
									<div class="box-content box-category">
										<ul>
										  <% @sections.roots.limit(6).sort_by(&:sort_order).each do |section| %>
										    <li>
												  <a href="<%= section_path(section) %>"><%= section.name %></a>
												  <% if @n >1  %>
				                    <span class="subDropdown plus"></span>
				                   <% end %>
	                				<% if @n > 1 %>
          									<% if section.children.present? %>
              								<% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
				           							<ul class="level0_1271" style="display:none">
				                          <li class="level1">
				                						<a href="<%= section_path(children_section) %>">
				                							<%= children_section.name %>
									                  </a>
									                	
									                	<% if @n > 2 %>
									                	  <span class="subDropdown minus"></span>
                      								<% if children_section.children.present? %>
						                            <ul class="level1" style="display:none">
						                              <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
							                              <li class="level2">
							                								<a href="<%= section_path(sub_children_section) %>"> <%= sub_children_section.name %></a>
							                         			</li> <!--level2-->
						                         			<% end %>
						                         		</ul>
						                         	<% end %>	
						                        <% end %>	 		
				                          </li>
				                        </ul> 
				                      <% end %> 
				                    <% end %> 
				                  <% end %>      
												</li>
										  <% end %>
										</ul>
									</div>
								<!-- End BOX-CATEGORY -->  	
							</div>	
							<div class="block block-layered-nav ">
			                      <%= render "#{$client_name}_custom_view/sections/product_search_form" %>
						  </div>  
						</aside>	
	      	  <!-- end SIDE-NAV-CATEGORY -->
	      	</div>
	      </div>
	    </div>  	
    </section>

	<% else %>

		<!-- Start Title And Description -->
			<% if @section.page_title.present? %>
				<% content_for :title do %><%= @section.page_title %><% end %>
			<% end %>
			<% if @section.meta_description.present? %>
				<% content_for :description do %><%= @section.meta_description.html_safe %><% end %>
			<% end %>
		<!-- End Title And Description -->

		<div class="breadcrumbs">
    	<div class="container">
      	<div class="row">
					<ul>
	  	      <li class="home">
	      		  <a href="<%= root_path %>" title="Go to Home Page">Home</a>
	      	    <span>—› </span>
	      	  </li>
	      	  
	  	      <li class="category1271">
	      		  <strong><%= @section.name %></strong>
	      	  </li>
	  	    </ul>
        </div> <!--row-->
      </div> <!--container-->
    </div>
    <!--breadcrumbs-->

    <!-- BEGIN Main Container col2-left -->
    <section class="main-container col2-left-layout bounceInUp animated">
    <!-- Page Header -->
    	<div class="page-header">
      	<div class="container">
					<div class="row">
					  <div class="col-xs-12">
					    <h2><%= @section.name %></h2>
					  </div>
					</div>
        </div>
      </div>

      <div class="container">
      	<div class="row">
	      	<div class="col-main col-sm-9 col-sm-push-3">
	      	  <article class="col-main">

	      	    <!-- Category Slider Start -->
	      	    <div class="category-description std">
			          <div class="category-description std">
			            <div class="slider-items-products">
			              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
			                <div class="slider-items slider-width-col1 owl-carousel owl-theme" style="opacity: 1; display: block;"> 
			                  
			                  <!-- Item -->
			                  <% if @section.general_images.present? %>
				                   <% @section.general_images.each do |general_image| %>
		                        <div class="item">
		                          <a href="#x">
		                            <%= image_tag general_image.avatar.url %>
		                          </a>
					                    <div class="cat-img-title cat-bg cat-box">
					                      <h2 class="cat-heading"><%= general_image.title %></h2>
					                      <p><%= sanitize(general_image.description, :tags=>[]).truncate(100, :separator => " ").html_safe %></p>
					                    </div>
					                  </div>
						              <% end %>
						              
		                    <% else %> 
		                      <div class="owl-wrapper-outer">
		                        <div class="owl-wrapper" style="width: 3392px; left: 0px; display: block;">
		                          <div class="owl-item" style="width: 848px;"> 
		                            <div class="item">
				                          <a href="#x">
				                            <%= image_tag 'slider_first.png' %>
				                          </a>
							                    <div class="cat-img-title cat-bg cat-box">
							                      <h2 class="cat-heading">Title</h2>
							                      <p>Description</p>
							                    </div>
							                  </div>
		                          </div>
		                        </div>
		                      </div>    

	                      <% end %>
			                  <!-- End Item --> 
				                <div class="owl-controls clickable">
				                  <div class="owl-buttons">
				                    <div class="owl-prev"><a class="flex-prev"></a></div>
				                    <div class="owl-next"><a class="flex-next"></a></div>
				                  </div>
				                </div>
				              </div>
				            </div>
			            </div>
			          </div>
			        </div>
			        <!-- Category Slider End -->

			        <!-- Toolbar Start -->
			        <div class="toolbar">
        				<div class="sorter">
                	<div class="view-mode">
                    <span id="grid_show" title="Grid" class="button-grid"></span>&nbsp;
                    <span id="list_show" title="List" class="button-list1   list_showing"></span>&nbsp;
        					</div>
    						</div> <!--sorter-->
							</div>
							<!-- Toolbar End -->

							<!-- BEGIN CATEGORY PRODUCTS -->
							<ol class="products-list " id="" style="width:100%;">
							  <% if @products.present? %>
						  			<% @product_flag = 1 %>
								  <% @products.each do |product| %>
						  			<% if product.status== true && product.visibility == true && product.return_due.present? %>
						  				<style>
						  				.products-list .product-shop .btn-cart, .products-list .product-shop .btn-cart:hover{
						  					padding:1px 12px;
						  				}
						  				</style>
										  <li class="item">
								        <!-- BEGIN PRODUCT IMAGE -->
								          <div class="product-image">
								            <a href="<%= section_product_show_path(@section,product) %>">
										          <%= image_tag similar_image(product).avatar.url(:thumb), :class =>"class1  img-responsive", :style => "width:237px;height:237px;"%>
										        </a>     
								          </div> <!--product-image-->
								          <!-- BEGIN PRODUCT SHOP -->
								          <div class="product-shop">
								            <h2 class="product-name">
								              <a href="" title="<%= product.name %>"> <%= product.name %> </a>
								            </h2>
								            <div class="desc std">
								              <p><%= product.description.html_safe %></p>
								              <p><a href="" class="link-learn">Learn More</a></p>
								            </div> <!--desc std-->
			                			<div class="price-block">
			    										<div class="price-box">
			                          <span class="regular-price" id="product-price-2">
			                            <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
			                          </span>
			        								</div>
														</div>
			            						<!-- BEGIN ACTIONS -->
			          						<div class="actions"> 
			                        <div class="add-to-cart"> 
			                          <% @variant = product.variants.order(sort_order: :asc).first %> 
							                  <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
														      <% if @cart.present? %>
														        <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"margin-left:0px" %>		      
																  <% else %>
																    <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"margin-left:0px" %>
																  <% end %>
																<% end %>
							                </div> <!--add-to-cart-->      
			                        
			            						<span class="add-to-links">
			                          <span class="wishlist wishlist_view">
						                      <% if current_user.present? %>
																	  <% if current_user.check_for_wishlist_item_presence(@variant.id) %>
																	    <%= form_for(Wishlist.new) do |f| %>
										                    <%= f.hidden_field :section,:value => @section.id  %>
										                    <%= f.hidden_field :user_id,:value => current_user.id  %>
										                    <%= f.hidden_field :test,:value => "test"  %>
										                    <%= f.hidden_field :variant_id,:value => @variant.id %>
										                    <br />
										                    <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
										                  <% end %>
																	  	
																	  <% else %>
																	    <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
																	  <% end %>
																	<% else %>
																	  <a class="link-wishlist button"  style="cursor:pointer;display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
																	<% end %>
						                    </span>
			                          <a href="<%= section_product_show_path(@section,product) %>" class="button link-compare" title="View"><span>View</span></a>
			                        </span> <!--add-to-links-->
			          						</div> <!--actions-->

			          					</div> <!--product-shop-->
			        				</li><% @product_flag += 1 %>
			        			<% end %>	
			        		<% end %>	
			        	<% end %>			
							</ol>
							<div class="search_result product_grid1">
								<%= render '#{$client_name}_custom_view/sections/show_wishlist' %>
  						</div>
  						<!-- end CATEGORY PRODUCTS -->
	      	  </article>
	      	</div>
	      	<div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
	      	  <!-- BEGIN SIDE-NAV-CATEGORY -->
	      	  <aside class="col-left sidebar">
	      	    <div class="side-nav-categories">
								<div class="block-title">Categories</div><!--block-title-->
								<!-- BEGIN BOX-CATEGORY -->  
									<div class="box-content box-category">
										<ul>
										  <% @sections.roots.limit(6).sort_by(&:sort_order).each do |section| %>
										    <li>
												  <a href="<%= section_path(section) %>"><%= section.name %></a>
												  <% if @n >1  %>
				                    <span class="subDropdown plus"></span>
				                   <% end %>
	                				<% if @n > 1 %>
          									<% if section.children.present? %>
              								<% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
				           							<ul class="level0_1271" style="display:none">
				                          <li class="level1">
				                						<a href="<%= section_path(children_section) %>">
				                							<%= children_section.name %>
									                  </a>
									                	
									                	<% if @n > 2 %>
									                	  <span class="subDropdown minus"></span>
                      								<% if children_section.children.present? %>
						                            <ul class="level1" style="display:none">
						                              <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
							                              <li class="level2">
							                								<a href="<%= section_path(sub_children_section) %>"> <%= sub_children_section.name %></a>
							                         			</li> <!--level2-->
						                         			<% end %>
						                         		</ul>
						                         	<% end %>	
						                        <% end %>	 		
				                          </li>
				                        </ul> 
				                      <% end %> 
				                    <% end %> 
				                  <% end %>      
												</li>
										  <% end %>
										</ul>
									</div>
								<!-- End BOX-CATEGORY -->  	
							</div>	
							<div class="block block-layered-nav ">
						    <%= render "#{$client_name}_custom_view/sections/product_search_form" %>
						  </div>  
						</aside>	
	      	  <!-- end SIDE-NAV-CATEGORY -->
	      	</div>
	      </div>
	    </div>  	
    </section>

	<% end %>


<% else %>	

  <!-- Start Title And Description -->
		<% if @section.page_title.present? %>
			<% content_for :title do %><%= @section.page_title %><% end %>
		<% end %>
		<% if @section.meta_description.present? %>
			<% content_for :description do %><%= @section.meta_description.html_safe %><% end %>
		<% end %>
	<!-- End Title And Description -->

	<div class="breadcrumbs">
    	<div class="container">
      	<div class="row">
					<ul>
	  	      <li class="home">
	      		  <a href="<%= root_path %>" title="Go to Home Page">Home</a>
	      	    <span>—› </span>
	      	  </li>
	      	  
	  	      <li class="category1271">
	      		  <strong><%= @section.name %></strong>
	      	  </li>
	  	    </ul>
        </div> <!--row-->
      </div> <!--container-->
    </div>
    <!--breadcrumbs-->

    <!-- BEGIN Main Container col2-left -->
    <section class="main-container col2-left-layout bounceInUp animated">
    <!-- Page Header -->
    	<div class="page-header">
      	<div class="container">
					<div class="row">
					  <div class="col-xs-12">
					    <h2><%= @section.name %></h2>
					  </div>
					</div>
        </div>
      </div>

      <div class="container">
      	<div class="row">
	      	<div class="col-main col-sm-9 col-sm-push-3">
	      	  <article class="col-main">


			         <!-- Toolbar Start -->
			        <div class="toolbar">
        				<div class="sorter">
                	<div class="view-mode">
                    <span id="grid_show" title="Grid" class="button-grid"></span>&nbsp;
                    <span id="list_show" title="List" class="button-list1   list_showing button button-active button-list"></span>&nbsp;
        					</div>
    						</div> <!--sorter-->
							</div>
							<!-- Toolbar End -->

							<!-- BEGIN CATEGORY PRODUCTS -->
							<div class="search_result">
							<!-- BEGIN CATEGORY PRODUCTS -->
							
								<div class="category-products">
								<ol class="products-list " id="products-list" style="width:100%;">
							  <% if @products.present? %><% @product_flag = 1 %>
								  <% @products.each do |product| %>
						  			<% if product.status== true && product.visibility == true && product.return_due.present? %>
						  				<style>
						  				.products-list .product-shop .btn-cart, .products-list .product-shop .btn-cart:hover{
						  					padding:1px 12px;
						  				}
						  				</style>
										  <li class="item">
								        <!-- BEGIN PRODUCT IMAGE -->
								          <div class="product-image">
								            <a href="<%= section_product_show_path(@section,product) %>">
										          <%= image_tag similar_image(product).avatar.url(:thumb), :class =>"class1 #{@product_flag > 6 ? ' ' : ' '} img-responsive", :style => "width:237px;height:237px;"%>
										        </a>     
								          </div> <!--product-image-->
								          <!-- BEGIN PRODUCT SHOP -->
								          <div class="product-shop">
								            <h2 class="product-name">
								              <a href="" title="<%= product.name %>"> <%= product.name %> </a>
								            </h2>
								            <div class="desc std">
								              <p><%= product.description.html_safe %></p>
								              <p><a href="" class="link-learn">Learn More</a></p>
								            </div> <!--desc std-->
			                			<div class="price-block">
			    										<div class="price-box">
			                          <span class="regular-price" id="product-price-2">
			                            <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
			                          </span>
			        								</div>
														</div>
			            						<!-- BEGIN ACTIONS -->
			          						<div class="actions"> 
			                        <div class="add-to-cart"> 
			                          <% @variant = product.variants.order(sort_order: :asc).first %> 
							                  <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
														      <% if @cart.present? %>
														        <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"margin-left:0px" %>		      
																  <% else %>
																    <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"margin-left:0px" %>
																  <% end %>
																<% end %>
							                </div> <!--add-to-cart-->      
			                        
			            						<span class="add-to-links">
			                          <span class="wishlist wishlist_view">
						                      <% if current_user.present? %>
																	  <% if current_user.check_for_wishlist_item_presence(@variant.id) %>
																	    <%= form_for(Wishlist.new) do |f| %>
										                    <%= f.hidden_field :section,:value => @section.id  %>
										                    <%= f.hidden_field :user_id,:value => current_user.id  %>
										                    <%= f.hidden_field :test,:value => "test"  %>
										                    <%= f.hidden_field :variant_id,:value => @variant.id %>
										                    <br />
										                    <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
										                  <% end %>
																	  	
																	  <% else %>
																	    <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
																	  <% end %>
																	<% else %>
																	  <a class="link-wishlist button" style="cursor:pointer;display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
																	<% end %>
						                    </span>
			                          <a href="<%= section_product_show_path(@section,product) %>" class="button link-compare" title="View"><span>View</span></a>
			                        </span> <!--add-to-links-->
			          						</div> <!--actions-->

			          					</div> <!--product-shop-->
			        				</li><% @product_flag += 1 %>
			        			<% end %>	
			        		<% end %>	
			        	             <% end %>			
							</ol>
	  							<ul class="products-grid first last odd" id="products-grid">
	  							  <% if @products.present? %><% @product_flag = 1 %>
		  							  <% @products.each do |product| %>
					        			<% if product.status== true && product.visibility == true && product.return_due.present? %>
					        			  <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
				  							    <div class="item-inner">
				                      <div class="item-img">
				                         <div class="item-img-info">
					                          <% if product.images.present? %>                    
															        <a href="<%= section_product_show_path(@section,product) %>">
															          <%= image_tag  similar_image(product).avatar.url(:medium), "data-original" => similar_image(product).avatar.url(:medium), :class =>"class1 #{@product_flag > 6 ? ' ' : ' '} img-responsive"%>
															        </a>                    
															      <% end %>
                                <% @variant = product.variants.order(sort_order: :asc).first %>
					                          
					                            <% if product.promote == "l" %>
					                              <div class="new-label new-top-left">New</div>
					                            <% elsif product.promote == "t" %>
					                              <div class="new-label new-top-left">Trend</div>
					                            <% elsif product.promote == "o" %>
					                              <div class="new-label new-top-left">Offer</div>
					                          <% elsif @variant.find_balance_qty.to_i == 0 && product.unavail_purchase != true %>
					                                <div class="sale-label  new-top-right">SOLD</div>

					                            <% else %>  

					                            <% end %>
				                            <div class="item-box-hover">
				                              <div class="box-inner">
				                                <div class="actions">
                              <div class="add_cart">  
                                <% if @variant.find_balance_qty.to_i != 0 || product.unavail_purchase == true %>
                                  <% if @cart.present? %>
                                    <%= link_to ''.html_safe, carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart", :style => "padding: 8px 12px;"  %>         
                                  <% else %>

                                    <%= link_to '', carts_path(CartItem.new, :pid => product.id, :variant_id => @variant.id,:selling_price => @product_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart", :style => "padding: 8px 12px;" %>
                                  <% end %>
                                  <style>
                                  .products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
                                      content: "";
                                      font-family: "FontAwesome";
                                      font-size: 15px;
                                  }
                                  </style>
                                <% end %>
                              </div> <!--add-to-cart-->      
                             
                              
                              <div class="product-detail-bnt">
                                 <a href="<%= section_product_show_path(@section,product) %>" title="view" class="button detail-bnt" data-fancybox-type="ajax" style="margin-left:12px;"><span>view</span></a>
                              </div> <!--product-detail-bnt-->
                              <span class="add-to-links">

                                <span class="wishlist wishlist_view">
                                  <% if current_user.present? %>
                                    <% variant = product.variants.order(sort_order: :asc).first %>
                                    <% if current_user.check_for_wishlist_item_presence(variant.id) %> 
                                      <%= form_for(Wishlist.new) do |f| %>
                                        <%= f.hidden_field :section,:value => @section.id  %>
                                        <%= f.hidden_field :user_id,:value => current_user.id  %>
                                        <%= f.hidden_field :test,:value => "test"  %>
                                        <%= f.hidden_field :variant_id,:value => variant.id %>
                                        <br />
                                        <button type="submit" class="link-wishlist" title="Add to Wishlist" style="margin-bottom:10px;margin-top:-15px;margin-left:-4px;"></button>
                                      <% end %>
                                      <style>
                                        .products-grid .box-inner .actions .add-to-links .wishlist .link-wishlist:before {
                                          content: "\f004";
                                          }
                                        .products-grid .box-inner .actions .add-to-links .link-wishlist {
                                            color: #000;
                                            font-family: 'FontAwesome';
                                            font-size: 14px;
                                            font-weight: normal;
                                            margin: 0;
                                            padding: 8px 12px;
                                            text-decoration: none;
                                            background-color: #f8f8f8;
                                            display: inline-block;
                                            transition: all 0.3s linear;
                                            -moz-transition: all 0.3s linear;
                                            -webkit-transition: all 0.3s linear;
                                            margin-right: 8px;
                                            border-radius: 3px;
                                            }
                                            .products-grid .box-inner .actions .add-to-links .link-wishlist:before {
                                            content: "\f004";
                                            }

                                      </style>
                                    <% else %>
                                      <a href="" class="link-wishlist" title="Already Saved" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                      <style>
                                      .products-grid .box-inner .actions .add-to-links a.link-wishlist{
                                        color:#2ecc71;
                                      }
                                      </style>
                                    <% end %>
                                  <% else %>
                                    <a href="" class="link-wishlist" title="Add to Wishlist" style="display: block;margin-left: 38.5%;margin-bottom: 10px;width: 40px;"><span>Add to Wishlist</span></a>
                                  <% end %>
                                </span>
                              </span> <!--add-to-links-->
                           </div> <!--actions-->
				                             </div> <!--box-inner-->
				                           </div> <!--item-box-hover-->
				                         </div> <!--item-img-info-->
				                      </div> <!--item-img-->
				                      <div class="item-info">
				                        <div class="info-inner">
				                          <div class="item-title">
				                             <a href="" title="<%= product.name %>"> <%= product.name %> </a>
				                          </div> <!--item-title-->
				                          <div class="item-content">      
				                            <div class="item-price">
				                              <div class="price-block">
				                                <div class="price-box">
				                                  <span class="regular-price" id="product-price-2">
				                                    <span class="price">₹ <%= '%.2f' % product.inventories.first.selling_price %></span>
				                                  </span>
				                                </div>
				                              </div>
				                            </div>
				                          </div> <!--item-content-->
				                        </div><!--info-inner-->
				                      </div><!--item-info-->       
				                    </div> <!--item-inner-->
					                </li><% @product_flag += 1 %>
					        			<% end %>
				        			<% end %>
			        			<% else %>
			        			  <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
		  							    <div class="item-inner">
		                      <div class="item-img">
		                         <div class="item-img-info">
		                           <a class="product-image" href="#" title="">
		                           <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
		                           </a>
		                           <div class="new-label new-top-left"> New </div>
		                           <div class="item-box-hover">
		                             <div class="box-inner">
		                               <div class="actions">
		                                 <div class="add_cart">
		                                    <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
		                                 </div> <!--add_cart-->  
		                                  
		                                  <div class="product-detail-bnt">
		                                     <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
		                                  </div> <!--product-detail-bnt-->
		                                  <span class="add-to-links">
		                                    <a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
		                                    <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a>
		                                  </span> <!--add-to-links-->
		                               </div> <!--actions-->
		                             </div> <!--box-inner-->
		                           </div> <!--item-box-hover-->
		                         </div> <!--item-img-info-->
		                      </div> <!--item-img-->
		                      <div class="item-info">
		                        <div class="info-inner">
		                          <div class="item-title">
		                             <a href="" title=""> Product Name </a>
		                          </div> <!--item-title-->
		                          <div class="item-content">      
		                            <div class="item-price">
		                              <div class="price-block">
		                                <div class="price-box">
		                                  <span class="regular-price" id="product-price-2">
		                                    <span class="price">Price</span>
		                                  </span>
		                                </div>
		                              </div>
		                            </div>
		                          </div> <!--item-content-->
		                        </div><!--info-inner-->
		                      </div><!--item-info-->       
		                    </div> <!--item-inner-->
			                </li>
			        			<% end %>
	  							</ul>
	  						</div>
  						</div>
  						<!-- end CATEGORY PRODUCTS -->
	      	  </article>
	      	</div>
	      	<div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
	      	  <!-- BEGIN SIDE-NAV-CATEGORY -->
	      	  <aside class="col-left sidebar">
	      	    <div class="side-nav-categories">
								<div class="block-title">Categories</div><!--block-title-->
								<!-- BEGIN BOX-CATEGORY -->  
									<div class="box-content box-category">
										<ul>
										  <% @sections.roots.limit(6).sort_by(&:sort_order).each do |section| %>
										    <li>
												  <a href="<%= section_path(section) %>"><%= section.name %></a>
												  <% if @n >1  %>
				                    <span class="subDropdown plus"></span>
				                   <% end %>
	                				<% if @n > 1 %>
          									<% if section.children.present? %>
              								<% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
				           							<ul class="level0_1271" style="display:none">
				                          <li class="level1">
				                						<a href="<%= section_path(children_section) %>">
				                							<%= children_section.name %>
									                  </a>
									                	
									                	<% if @n > 2 %>
									                	  <span class="subDropdown minus"></span>
                      								<% if children_section.children.present? %>
						                            <ul class="level1" style="display:none">
						                              <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
							                              <li class="level2">
							                								<a href="<%= section_path(sub_children_section) %>"> <%= sub_children_section.name %></a>
							                         			</li> <!--level2-->
						                         			<% end %>
						                         		</ul>
						                         	<% end %>	
						                        <% end %>	 		
				                          </li>
				                        </ul> 
				                      <% end %> 
				                    <% end %> 
				                  <% end %>      
												</li>
										  <% end %>
										</ul>
									</div>
								<!-- End BOX-CATEGORY -->  	
							</div>	
							<div class="block block-layered-nav ">
						    <%= render "#{$client_name}_custom_view/sections/product_search_form" %>
						  </div>  
						</aside>	
	      	  <!-- end SIDE-NAV-CATEGORY -->
	      	</div>
	      </div>
	    </div>  	
    </section>
<% end %>		
<style>
.breadcrumbs {
padding: 10px 0px 10px 36px;
}
</style>
<script>
  
jQuery('.checkbox').on('change',function(){
   var url = "<%= root_url %>"; 
    url1 = url + 'sections/searchs?' + jQuery(this).closest('form').serialize()
    window.history.pushState("object or string", "Title", url1);
  jQuery(this).closest('form').submit();
});
jQuery(".mini-cart").mouseover(function() {
  jQuery(".top-cart-content").css("display","block")
});
jQuery(".mini-cart").mouseout(function() {
  jQuery(".top-cart-content").css("display","none")
});

 jQuery(document).ready(function(){
   jQuery( ".products-list" ).css("display","none");
   jQuery( ".product_grid" ).css("display","");
   jQuery( "#grid_show").click(function() {
   	 jQuery( "#products-grid" ).css("display","block");
      jQuery( "#products-list" ).css("display","none");
      jQuery('#grid_show').addClass( "button-active" );
      jQuery('#grid_show').addClass( "button" );
     jQuery('#list_show').removeClass( "button-active" );
     jQuery('#list_show').removeClass( "button" );
   });
   jQuery( "#list_show").click(function() {
   	 jQuery( "#products-list" ).css("display","block");
      jQuery( "#products-grid" ).css("display","none");
      jQuery('#list_show').addClass( "button-active" );
      jQuery('#list_show').addClass( "button" );
     jQuery('#grid_show').removeClass( "button-active" );
     jQuery('#grid_show').removeClass( "button" );
   });
 });
 jQuery("img.lazy").lazyload();
</script>


<style>
.fixed_filter{
	position:fixed;
	width:20%;
	top:70px;
}
</style>