
<% @selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
<section class="main-container col1-layout ">
	<div class="main container">                              
    <div class="col-main">
	    <div class="row variant_view">   
      <!-- Endif Next Previous Product -->
        <%= render "#{$client_name}_custom_view/sections/variants_view" %>
      </div> <!--product-collateral-->
<!-- BEGIN CATEGORY PRODUCTS -->
<div class="related-slider col-lg-12 col-xs-12 bounceInDown animated">
<div class="slider-items-products">
  <div class="slider-items-products">
    <div class="new_title center">
        <h2><span>Related Products</span></h2>
    </div> <!--new_title center-->
    <div id="related-products-slider" class="product-flexslider hidden-buttons">
      <div class="slider-items slider-width-col4 products-grid owl-carousel owl-theme" style="opacity: 1; display: block;"> 
        <!-- Item -->
      <% @related_products.each do |related_product|%>
        <% variant= related_product.variants.where(:visible => true , :status => true).order(sort_order: :asc).first %>
        <% @section = related_product.categories.first.id %>
        <% if variant.present? %>
        <% image=variant.images.order(sort_order: :asc).first %>
        <% @selling_price = Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first.selling_price %>
        <div class="item">
          <div class="item-inner">
            <div class="item-img">
              <div class="item-img-info">
                <a class="product-image" href="<%= section_product_show_path(related_product.categories.where(:status => true, :active => true).first.id,related_product) %>" title="Printed Pleated Tank Dress">
                  <img class="img-responsive" alt="Printed Pleated Tank Dress" src="<%= similar_image(related_product).avatar.url(:medium) %>">
                </a>
                <% if related_product.promote == 'l'%>
                  <div class="new-label new-top-left"> New </div>   
                <% end %>            
                <div class="item-box-hover">
                  <div class="box-inner">
                     <!-- BEGIN ACTIONS -->
                        <div class="actions"> 
                          <div class="add_cart">  
                            <% if variant.find_balance_qty.to_i != 0 || related_product.unavail_purchase == true %>
                              <% if @cart.present? %>
                                <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => related_product.id, :variant_id => variant.id,:selling_price =>@selling_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>          
                              <% else %>
                                <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => related_product.id, :variant_id => variant.id,:selling_price => @selling_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>
                              <% end %>
                            <% end %>
                          </div> <!--add-to-cart-->      
                          
                          <span class=" product-detail-bnt">
                            <span class="wishlist wishlist_view ">
                              <% if current_user.present? %>
                                <% if current_user.check_for_wishlist_item_presence(variant.id) %>
                                  <%= form_for(Wishlist.new) do |f| %>
                                    <%= f.hidden_field :section,:value => @section  %>
                                    <%= f.hidden_field :user_id,:value => current_user.id  %>
                                    <%= f.hidden_field :test,:value => "test"  %>
                                    <%= f.hidden_field :variant_id,:value => variant.id %>
                                    <br />
                                    <button type="submit" class="link-wishlist" title="Add to Wishlist" ></button>
                                  <% end %>
                                  
                                <% else %>
                                  <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
                                <% end %>
                              <% else %>
                                <a class="link-wishlist button" style="cursor:pointer;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
                              <% end %>
                            </span>
                            <a href="<%= section_product_show_path(@section,related_product) %>" class="button detail-bnt" title="View" style="padding:8px 12px;" ><span>Views</span></a>
                          </span> <!--add-to-links-->
                        </div> <!--actions-->

                    
                  </div> <!--box-inner-->
                </div> <!--item-box-hover-->
              </div> <!--item-img-info-->
            </div> <!--item-img-->
            <div class="item-info">
              <div class="info-inner">
                <div class="item-title">
                  <a href="<%= section_product_show_path(@section,related_product) %>" title="<%= related_product.name %>">
                    <%= related_product.name %>             
                  </a>
                </div> <!--item-title-->
                <div class="item-content">
                  <div class="item-price">
                    <div class="price-block">
                      <div class="price-box">
                        <span class="regular-price" id="product-price-9">
                          <span class="price"> ₹ <%= '%.2f' % Admin::Inventory.where(:variant_id => related_product.variants.where(:visible => true ,:status => true).first.id).order('selling_price DESC').first.selling_price %></span>                                  
                        </span>
                      </div>
                    </div>
                  </div>
                </div> <!--item-content-->
              </div><!--info-inner-->
            </div><!--item-info-->       
          </div> <!--item-inner-->
        </div> 
        <% end %>
      <% end %>
    
  
</div><!--slider-items-products-->
</div>
</div><!--related-pro wow bounceInUp animated-->
   


  <!-- end related product -->


      
                


      
</div>
</div> <!--col-main-->




  <!-- end related product -->

	       </div><!--main-container-->
      </section>
  <!-- Home Page IndeX_Box Start -->
		<div class="top-banner-section wow bounceInUp animated animated" style="visibility: visible;">
		  <div class="container">
		    <div class="row">
		      <% if @index_box_images.present? %>
		        <% @n = 1 %>
		        <% @index_box_images.take(4).sort_by(&:sort_order).each do |slider_image| %>
		          <% unless (@n % 2 == 0) %>
		            <div class="col-lg-3 col-sm-3 col-xs-6">
		              <div class="col add-banner1">
		              <%= image_tag slider_image.avatar.url, :style=>"height:165px;"%>
		                <div class="top-b-text" style="margin-top: -165px;">
		                  <strong><%= slider_image.title %></strong> <%= slider_image.alt_text %>
		                </div>
		              </div>
		            </div>
		          <% else %>
		            <div class="col-lg-3 col-sm-3 col-xs-6">
		              <div class="col add-banner1">
		              <%= image_tag slider_image.avatar.url, :style=>"height:165px;"%>
		                <div class="" style="margin-top: -118px;text-align:center;">
		                  <strong><%= slider_image.title %></strong> <%= slider_image.alt_text %>
		                </div>
		              </div>
		            </div>
		          <% end %>
		          <% @n +=1 %>
		        <% end %> 
		        <% count = 4 %>
		        <% default = count - @index_box_images.take(4).length %>
		        <% default.times do %>
		          <div class="col-lg-3 col-sm-3 col-xs-6">
		            <div class="col free-shipping">
		                <strong>Image Title</strong> Image Alt Text
		            </div>
		          </div>
		        <% end %> 
		      <% else %>  
	          <div class="col-lg-3 col-sm-3 col-xs-6">
	            <div class="col free-shipping">
                <strong>Image Title</strong> Image Alt Text
	            </div>
	          </div>
	          <div class="col-lg-3 col-sm-3 col-xs-6">
	            <div class="col free-shipping">
	                <strong>Image Title</strong> Image Alt Text
	            </div>
	          </div>
	          <div class="col-lg-3 col-sm-3 col-xs-6">
	            <div class="col free-shipping">
	                <strong>Image Title</strong> Image Alt Text
	            </div>
	          </div>
	          <div class="col-lg-3 col-sm-3 col-xs-6">
	            <div class="col free-shipping">
	                <strong>Image Title</strong> Image Alt Text
	            </div>
	          </div>
		      <% end %>
		    </div>
		  </div>
		</div>
  <!-- Home Page IndeX_Box Start -->

<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);

  
</script>
         

<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function(button, url) {
      if (this.validator.validate()) {
        var form = this.form;
        var oldUrl = form.action;

        if (url) {
         form.action = url;
       }
       var e = null;
       try {
        this.form.submit();
      } catch (e) {
      }
      this.form.action = oldUrl;
      if (e) {
        throw e;
      }

      if (button && button != 'undefined') {
        button.disabled = true;
      }
    }
  }.bind(productAddToCartForm);

  productAddToCartForm.submitLight = function(button, url){
    if(this.validator) {
      var nv = Validation.methods;
      delete Validation.methods['required-entry'];
      delete Validation.methods['validate-one-required'];
      delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                  if (methodName.match(/^validate-datetime-.*/i)) {
                    delete Validation.methods[methodName];
                  }
                }

                if (this.validator.validate()) {
                  if (url) {
                    this.form.action = url;
                  }
                  this.form.submit();
                }
                Object.extend(Validation.methods, nv);
              }
            }.bind(productAddToCartForm);
    //]]>
    </script>
 <style>
      .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
          content: "";
          font-family: "FontAwesome";
          font-size: 15px;
      }
      .item-box-hover .box-inner .product-detail-bnt a.button.detail-bnt:before{
        content: "\f002";
        font-family: 'FontAwesome';
        font-size: 15px;
      }
      .fb_iframe_widget{
          display:inline-block !important;
          margin:0 10px 0 0 !important;
          border:none;
          overflow:hidden;
      }
      </style>
