<% if session[:trigger_modal].present? %>
  <script type="text/javascript">
    alert("super");
    $(".trigger_cart_modal_window").click();
  </script>
  <% session[:trigger_modal]= nil %>
<% end %>
<% @cart = current_cart %>
<% cart_link = cart_path(@cart) %>
<div class="container" style="height:520px;"><br/>
  <div class="main">  
	  <div class="row">
		  <div class="">  
				<div class="col-sm-6 col-xs-12">
				  <div class="col-sm-12">
				  <%= image_tag @images.first.avatar.url(:large),:class => "img-responsive ", :style => "width:100%;",:id => "", data: {'zoom-image' =>  @images.first.avatar.url(:large) } %>
				  </div>
				</div>
		    <div class="col-sm-6 col-xs-12">
		      <div class="row ">
		      	<div class="col-sm-12 ">
			        <strong class="labels">
			        <div class="f22">
		            <%= @product.name %>
			        <span class="wishlist">
				      <%= render 'wishlist' %>
		              </span>
			        </div><br />
			        </strong>
			        
			        <%= sanitize(@product.description, :tags=>[]).truncate(120, :separator => " ").html_safe %>&nbsp;
		              <div class="fb-share-button" data-href="<%= request.path %>" data-layout="button_count"></div> 
			          <% if @variant.find_balance_qty.to_i <= 0 && @product.unavail_purchase == false %>
			            (Out Of Stock)
			        <% end %>
			        <br /><br />
		        </div>
		      </div>
		      <div class="col-sm-12 col-xs-12">
		        <div class="render_get_rate">
		          <div class="col-sm-12 col-xs-12">
							  <div class="row">
							    <strong class="price_size labels" style="font-size:24px;">
							      RS. <%= @selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
							      <% if @product.cod == false %><br/>
							        <%= " COD UnAvailable For This Product" %>
							      <% end %>
							    </strong>
							  </div><br/><br/>
							  <div class="row"> 
							  	<div class="col-sm-12 col-xs-6">
									  <div class="row get_rate_show ">
											<% if @variant.find_balance_qty.to_i != 0 || @product.unavail_purchase == true %>
	                      <% if @cart.present? %>
	                        <%= link_to image_tag('addtocart.jpg'), carts_path(CartItem.new,:id => @cart.id, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:shipping_cost => 0.0, :tax => 0.0, :actual_cost=> @selling_price), :method => 'post', :remote => true,:class => "addcartbutton " %>
	                      <% else %>
	                        <%= link_to image_tag('addtocart.jpg'), carts_path(CartItem.new, :pid => @product.id, :variant_id => @variant.id,:selling_price => @product_price,:shipping_cost => 0.0, :tax => 0.0, :actual_cost=> @selling_price), :method => 'post', :remote => true, :class =>"addcartbutton " %>       
	                      <% end %>
	                    <% end %>
									  </div>
							    </div>
							  </div>
			      </div> 
		      </div>
		    </div> 
		  </div>
	  </div><br/><br/><br/>
	</div>
</div>

  
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog cart_dialog">
  <div class="modal-content border" id="myModal1_id">
  </div>
  </div>
</div>
</div>

<style>
#gallery_01 img{border:2px solid white;} 
.active img{border:2px solid #333 !important;} 
</style>
<script type="text/javascript">
  $(function(){
    $('#slider3').Thumbelina({
        orientation:'vertical',         // Use vertical mode (default horizontal).
        $bwdBut:$('#slider3 .top'),     // Selector to top button.
        $fwdBut:$('#slider3 .bottom')   // Selector to bottom button.
    });
  
});



    window.fbAsyncInit = function() {
      FB.init({
        appId      : ' 314922028632772',
        xfbml      : true,
        version    : 'v2.1'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    


</script>  