

<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">Create New Brand</h4>
</div>
<!-- modal header end -->
  
<!-- form start -->
<%= form_for(@brand,:html => {:id => 'brand_form1',:class => "validate_this_form" },:remote => true) do |f| %>
  <div class="modal-body category_modal_body">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
      <% if @brand.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
          <ul>
          <% @brand.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>  
        </div>
      <% end %>
      <div class="form-group form_group_admin_brand_name">
        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Brand Name</label>
        <div class="col-xs-12 col-sm-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :name,:class => "blue_textbox width-100 validate_this",:data => {validate_ajax_url: admin_check_brand_name_exist_path} %>
          </span>
          <div class="help-block" id="admin_brand_name_error1"> </div>
        </div>
      </div>
      <div class="form-group form_group_admin_brand_description">
        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Description</label>
        <div class="col-xs-12 col-sm-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_area :description,:class => "blue_textbox width-100 validate_this" %>
          </span>
          <div class="help-block" id="admin_brand_description_error1"> </div>
        </div>
      </div>
      </div>
    </div>
  </div>
   <div class="modal-footer" style="margin-bottom:-11px;">
    <%= f.submit "Save", :class => "btn btn-success btn-sm" %>
  </div>
<% end %>
<!-- form end -->



