
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><i class="ace-icon fa fa-tags"></i>&nbsp;&nbsp;<%= link_to "Brands", admin_brands_path,:remote => true %></li>
    <li class="active"><%= @brand.name.capitalize %></li>
  </ul>
  <!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-primary create_button">
      <span class="glyphicon glyphicon-pencil"></span>
      <%= link_to 'Edit Brand', edit_admin_brand_path(@brand), :style => "color:#fff;",:remote => true %>
    </span>
    <% unless @brand.products.first.present? %>
      <span class="markthis btn btn-xs btn-danger create_button">
        <span class="ace-icon fa fa-bolt bigger-"></span>
        <%= link_to ' Delete', @brand, method: :delete, data: { confirm: 'Are you sure?' },:style => "color:#fff;",:remote => true %>
      </span>
    <% end %>
  </div>
  <!-- button panel end --> 
</div> 
<!-- page content start -->
<div class="page-content">
  <!-- flash start --> 
    <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->
  <div class="page-header">
    <h4 style="margin-bottom:0px;">
      <%= @brand.name %>
    </h4>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p><%= @brand.description %></p>
      <!-- product list under brand start -->
      <% if @products.present? %>
        
        <%= form_for('Brand', :as => 'brands', :url => delete_selected_admin_brands_path,:remote => true) do |f| %>
          <div class="table-header">
          List of Products
          <span class="pull-right" style="margin-right:5px;">
            <%= button_tag(type: 'submit', class: "btn btn-success btn-xs") do %>
              <i class="ace-icon glyphicon glyphicon-trash"></i>
            <% end %>
          </span>
        </div>
          <%= f.hidden_field :brand_id, :value => @brand.id %>
           <div class="table-responsive">
            <table id="brands_show" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" id="selectAll" value="selectAll" class="ace">
                    <span class="lbl"></span>
                  </th>
                  <th>Product Type</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td class="first-column">
                      <%= check_box_tag 'ids[]', product.id, false, :class => 'table-row-checkbox ace' %>
                      <span class="lbl"></span>
                    </td>
                    <td>
                      <%= product.types.map { |type| type.name }.join(",") %>
                    </td>
                    <td>
                      <a href="<%= admin_product_path(product) %>" target="_blank"> <%= product.name %></a>
                    </td>
                    <td>
                      <%= sanitize(product.description, :tags=>[]).truncate(50, :separator => " ").html_safe %>
                    </td>
                    <td>
                      <% if product.status == true %>
                        <span class="label label-sm label-success">Active</span>
                      <% else %>
                        <span class="label label-sm label-warning">Inactive</span>
                      <% end %>
                    </td>
                    <td>
                      <div class="action-buttons">
                        <a href="<%= edit_admin_product_path(product) %>" class="glyphicon glyphicon-pencil edit_button_color" target="_blank"></a>
                        
                        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, remove_product_from_brand_admin_brands_path(:id => @brand.id,:product_id => product.id), data: { confirm: 'Are you sure?' },:remote => true,:class => "delete_button_color" %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table></div>
        <% end %>    
      <% else %>
        <div class="row">
          <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
          </div>
          <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
          <h4> No Products </h4>
          Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
          <span class="markthis btn btn-xs btn-success create_button">
            <span class="glyphicon-plus bigger-110"></span>
            <%= link_to 'Add New Product', new_admin_product_path  , :class => "",:style => "color:#fff;", :target => "_blank" %>
          </span>
          </div>
          <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
          </div>
        </div>
        <br/>
      <% end %>
      <!-- product list under brand end -->
    </div>
  </div>
</div>
<!-- page content end -->
<!-- Modal Window Start-->
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal9_id">
     
    </div>
  </div>
</div>
<!-- Modal Window End-->
<style>
.btn-success, .btn-success:hover{
background-color:#307ECC!important;
border-color: #307ECC!important;
}
</style>

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [5,0],
      "bSortable": false
    }
  ];
  var dataTable = $('#brands_show').dataTable({
    "iDisplayLength": 25,
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});
</script>




