<h1>Listing admin_cod_specific_countries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_cod_specific_countries.each do |admin_cod_specific_country| %>
      <tr>
        <td><%= link_to 'Show', admin_cod_specific_country %></td>
        <td><%= link_to 'Edit', edit_admin_cod_specific_country_path(admin_cod_specific_country) %></td>
        <td><%= link_to 'Destroy', admin_cod_specific_country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cod specific country', new_admin_cod_specific_country_path %>
