
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis"><%= link_to "COD Policy", admin_cod_policy_path(@admin_cod_policy),:remote => true  %></li>
    <li class="active"><%= @admin_cod_specific_country.country.name %></li>
  </ul>
  <div class="nav-search" id="nav-search">
    <span class="markthis">  
    </span>
  </div>
</div>

<span class="current_id" style="display:none"><%= @admin_cod_policy.id %></span> 
<span class="for_url" style="display:none">
</span>

<div class="page-content">  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 

  <%= form_for(@admin_cod_specific_country, :url => admin_cod_policy_cod_specific_country_path(@admin_cod_policy,@admin_cod_specific_country) ,:html => {:id => 'shipping_policy_country_form',:class => "validate_this_form" }) do |f| %>
    <div class="form-group row form_group_admin_availability_plan_all_place">
      <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Place</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <label>
          <%= f.check_box :all_place,:class=>"ace ace-switch ace-switch-4 all_place_switch" %>
          <span class="lbl labelonoff"></span>
        </label>
        <div class="help-block" id="admin_availability_plan_all_country_error1"> </div>
      </div>
      <span class="help-button help-button-new col-xs-12 col-sm-2 col-md-2" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
    </div>
    <div class="admin_shipping_specific_pincodes">
      <% if @admin_cod_specific_country.cod_specific_pincodes.present? && !@admin_cod_specific_country.all_place %> 
        <%= f.fields_for :cod_specific_pincodes do |builder| %>
			    <%= builder.text_field :pincode,:readonly => "readonly" %>
			    <%= builder.check_box :cod_availability %><br/>
        <% end %>
      <% else %>
        <%= f.fields_for :cod_specific_pincodes do |builder| %>
          <% @admin_cod_specific_country.country.pincodes.each do |pincode| %>
            <% @pincode = pincode %>
            <fieldset class="center"> 
            <%= builder.text_field :pincode,:value => pincode.pincode ,:readonly => "readonly" %> 
            </fieldset>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= f.submit "Save", :class => "btn btn-success btn-sm" %>
  <% end %>

</div>



<script>
if($(".all_place_switch").is(':checked')){
  $(".form_group_admin_shipping_policy_free_free").show();
  $(".admin_shipping_specific_pincodes").hide();
}
else{
  $(".form_group_admin_shipping_policy_free_free").hide();
  $(".admin_shipping_specific_pincodes").show();
}

$(".all_place_switch").click(function(){
  if($(this).is(':checked')){
    $(".form_group_admin_shipping_policy_free_free").show();
    $(".admin_shipping_specific_pincodes").hide();
  }
  else{
    $(".admin_shipping_specific_pincodes").show();
    $(".form_group_admin_shipping_policy_free_free").hide();
    $(".for_country_policy_based").prop( "checked", false );
    $(".add_policy_country_cost").hide();
    $(".shipping_policies_fields").hide();
  }
});




$("#shipping_policy_country_form").submit(function(){
  var all_place = $(".all_place_switch").is(':checked');
  var flag = 1;
  if(all_place){
  	$(".admin_shipping_specific_pincodes").html("");
  }
  return true;
});
</script>