<h1>Listing admin_types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_types.each do |admin_type| %>
      <tr>
        <td><%= link_to 'Show', admin_type %></td>
        <td><%= link_to 'Edit', edit_admin_type_path(admin_type) %></td>
        <td><%= link_to 'Destroy', admin_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type', new_admin_type_path %>
