<%= form_for(@admin_refund_revocation_item) do |f| %>
  <% if @admin_refund_revocation_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_refund_revocation_item.errors.count, "error") %> prohibited this admin_refund_revocation_item from being saved:</h2>

      <ul>
      <% @admin_refund_revocation_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :refund_revocation_id %><br>
    <%= f.number_field :refund_revocation_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br>
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :per_qty_price %><br>
    <%= f.text_field :per_qty_price %>
  </div>
  <div class="field">
    <%= f.label :actual_price %><br>
    <%= f.text_field :actual_price %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :refund_amount %><br>
    <%= f.text_field :refund_amount %>
  </div>
  <div class="field">
    <%= f.label :ship_dt %><br>
    <%= f.check_box :ship_dt %>
  </div>
  <div class="field">
    <%= f.label :tax_dt %><br>
    <%= f.check_box :tax_dt %>
  </div>
  <div class="field">
    <%= f.label :TDR_td %><br>
    <%= f.check_box :TDR_td %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
