<h1>Listing admin_refund_revocation_items</h1>

<table>
  <thead>
    <tr>
      <th>Refund revocation</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Variant</th>
      <th>Per qty price</th>
      <th>Actual price</th>
      <th>Reason</th>
      <th>Refund amount</th>
      <th>Ship dt</th>
      <th>Tax dt</th>
      <th>Tdr td</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_refund_revocation_items.each do |admin_refund_revocation_item| %>
      <tr>
        <td><%= admin_refund_revocation_item.refund_revocation_id %></td>
        <td><%= admin_refund_revocation_item.price %></td>
        <td><%= admin_refund_revocation_item.qty %></td>
        <td><%= admin_refund_revocation_item.variant_id %></td>
        <td><%= admin_refund_revocation_item.per_qty_price %></td>
        <td><%= admin_refund_revocation_item.actual_price %></td>
        <td><%= admin_refund_revocation_item.reason %></td>
        <td><%= admin_refund_revocation_item.refund_amount %></td>
        <td><%= admin_refund_revocation_item.ship_dt %></td>
        <td><%= admin_refund_revocation_item.tax_dt %></td>
        <td><%= admin_refund_revocation_item.TDR_td %></td>
        <td><%= admin_refund_revocation_item.status %></td>
        <td><%= link_to 'Show', admin_refund_revocation_item %></td>
        <td><%= link_to 'Edit', edit_admin_refund_revocation_item_path(admin_refund_revocation_item) %></td>
        <td><%= link_to 'Destroy', admin_refund_revocation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Refund revocation item', new_admin_refund_revocation_item_path %>
