<p id="notice"><%= notice %></p>

<p>
  <strong>Refund revocation:</strong>
  <%= @admin_refund_revocation_item.refund_revocation_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_refund_revocation_item.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @admin_refund_revocation_item.qty %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @admin_refund_revocation_item.variant_id %>
</p>

<p>
  <strong>Per qty price:</strong>
  <%= @admin_refund_revocation_item.per_qty_price %>
</p>

<p>
  <strong>Actual price:</strong>
  <%= @admin_refund_revocation_item.actual_price %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @admin_refund_revocation_item.reason %>
</p>

<p>
  <strong>Refund amount:</strong>
  <%= @admin_refund_revocation_item.refund_amount %>
</p>

<p>
  <strong>Ship dt:</strong>
  <%= @admin_refund_revocation_item.ship_dt %>
</p>

<p>
  <strong>Tax dt:</strong>
  <%= @admin_refund_revocation_item.tax_dt %>
</p>

<p>
  <strong>Tdr td:</strong>
  <%= @admin_refund_revocation_item.TDR_td %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_refund_revocation_item.status %>
</p>

<%= link_to 'Edit', edit_admin_refund_revocation_item_path(@admin_refund_revocation_item) %> |
<%= link_to 'Back', admin_refund_revocation_items_path %>
