<div class="warp2">
  
  <div class="page-title">
    <h2>Edit Account Information</h2>
  </div>
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="dashboard">
    <%= form_for @profile, :url => user_profile_path(@user, @profile),:html => {:class => "validate_this_form", :id => 'profilenew12', :remote => true } do |f| %>
      
      <div class="fieldset">
        <input name="form_key" type="hidden" value="WASsSJoIjHwdgi9v">
        
        <ul class="form-list">
                <li>
                    <label for="firstname" class="c666 f-bold  pt6 pb6">First Name<span class="required">*</span></label>
                    <div class="input-box">
                      <%= f.text_field :f_name,:class => "input-text required-entry validate_this", :id => "first_name12", :required => true %>
                      <div class="help-block required" id="first_name12_error1"> </div>
                     
                    </div>
                </li>
                <li>
                    <label for="lastname" class=" c666 f-bold  pt6 pb6">Last Name<span class="required">*</span></label>
                    <div class="input-box">
                       <%= f.text_field :l_name,:class => "input-text required-entry validate_this", :id => "last_name12", :required => true %>
                       <div class="help-block required" id="last_name12_error1"> </div>
                    </div>
                </li>
                <li>
                    <label for="lastname" class=" c666 f-bold  pt6 pb6">Mobile Number<span class="required">*</span></label>
                    <div class="input-box">
                       <%= f.text_field :m_number,:class => "input-text required-entry validate_this", :id => "mob_number12", :required => true %>
                       <div class="help-block required" id="mob_number12_error1"> </div> 
                    </div>
                </li>
          <li>
              <label for="email" class="c666 f-bold  pt6 pb6">Gender<em class="required">*</em></label>
              <div class="input-box">
                 <%= f.select :gender, options_for_select([["Male", "m"], ["Female", "f"]],@profile.gender),{},:class => "input-text required-entry validate-email validate_this" %>
                 <div class="help-block required" id="profile_gender_error1"> </div> 
              </div>
          </li>
        </ul>
      </div>

      <div class="buttons-set">
          <p class="required">* Required Fields</p>
          <%= f.submit "Update Profile",:class => "btn btn-default btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
<style>
.form-list input.input-text{
  width:97%;
}
                  .alert {
                  margin-top: 20px;
                  padding: 9px;
                  margin-bottom: 20px;
                  border: 1px solid transparent;
                  border-radius: 0px;
                  }
                 
                  </style>
<script>

$ = jQuery.noConflict();
$(".validate_this_form").submit(function(){ 
    //alert("yes");
    var error = true; 
    $(".validate_this_form :input.validate_this").each(function(){
      if($(this).triggeringfunction()){
        if($(this).attr("data-error") == "exist"){
          error = false;
        }
      }
    });
    return error;
  });

  $(".validate_this").blur(function() {
    var current_field_id = $(this).attr("id");
    var validate_presence = true;
    var validate_msg;
    var validate_length = false;
    var validate_min_length_error;
    var validate_ajax = false;
    var validate_ajax_url;
    var validate_ajax_except;


    if($(this).data('validate-presence') == false){
      validate_presence = $(this).data('validate-presence');
    }
    if($(this).data('validate-min-length') || $(this).data('validate-max-length')){
      validate_length = true;
      if($(this).data('validate-min-length')){
        validate_min_length_val = $(this).data('validate-min-length');
      }
      if($(this).data('validate-max-length')){
        validate_max_length_val = $(this).data('validate-max-length');
      }
    }
    if($(this).data('validate-msg')){
      validate_msg = $(this).data('validate-msg');
    }
    else{
      validate_msg = "Should not be nil"
    }
    if($(this).data('validate-ajax-url')){
      validate_ajax_url = $(this).data('validate-ajax-url');
      validate_ajax = true;
    }

    if($(this).data('validate-ajax-except')){
      validate_ajax_except = $(this).data('validate-ajax-except');
    }

    var current_field_success_icon_class = current_field_id + "_success_icon"
    var current_field_error_icon_class = current_field_id + "_error_icon"
    var current_field_form_group_class = "form_group_" + current_field_id
    var current_field_error_class = current_field_id + "_error1" 

    if(validate_presence == true){
      if($(this).val() == ""){
        $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        $(this).removeData("errors");
        $(this).data("errors", "existjfvfvvhvh"); 
      }
      else{
        if(validate_length == true){
          return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          $this = $(this);
          var current_field_val = $(this).val();
          if(validate_ajax){
            $.ajax({
              url: validate_ajax_url,
              data: {'fieldValue': current_field_val,'validate_ajax_except': validate_ajax_except},
              type: 'GET',
              dataType:'json',
              success: function(data) {
                $.each(data, function(index, element) {
                  if (index == "brand_exist"){
                    if(element == false){
                      validate_msg = "name already exist"
                      $this.errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
                    }
                    else{
                      $this.successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
                    }
                  }
                })
              }
            });
          }
          else{
            $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
          }
        }
      }
    }
    else{
      if(validate_length == true){
        return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
      }
    }
  });

  (function( $ ){
    $.fn.validatelenghtfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        var validate_min_length_error = false;
        var validate_max_length_error = false;
        if($(this).data('validate-min-length')){
          if($(this).val().length < $(this).data('validate-min-length')){
            validate_min_length_error = true
          }
          else{
            validate_min_length_error = false
          }
        }
        if($(this).data('validate-max-length')){
          if($(this).val().length > $(this).data('validate-max-length')){
            validate_max_length_error = true
          }
          else{
            validate_max_length_error = false
          }
        }
        if(validate_min_length_error == false && validate_max_length_error == false){
          $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          if(validate_min_length_error == true){
            validate_msg = "Should be atleast " + $(this).data('validate-min-length') + " characters"
          }
          else{
            validate_msg = "Should not exceed " + $(this).data('validate-max-length') + " characters"
          }
          $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        }
        return this;
    }; 
    $.fn.successfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        $(this).removeClass("blue_textbox");
        $("." + current_field_form_group_class).removeClass("has-error");
        $("." + current_field_form_group_class).addClass("has-success");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove();   
        $(this).after('<i class="ace-icon fa fa-check-circle" id ="' + current_field_success_icon_class + '"></i>');
        $("#" + current_field_error_class).html(" "); 
        $(this).removeData("error");
        $(this).attr("data-error","notexist");
        return "notexist";
    }; 
    $.fn.errorfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg) {
        $(this).removeClass("blue_textbox");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove(); 
        $(this).after('<i class="ace-icon fa fa-times-circle" id ="' + current_field_error_icon_class + '"></i>');
        $("." + current_field_form_group_class).removeClass("has-success");
        $("." + current_field_form_group_class).addClass("has-error");
        $("#" + current_field_error_class).html(validate_msg); 
        $(this).removeData("error");
        $(this).attr("data-error","exist");
        return "exist";
    }; 
    $.fn.triggeringfunction = function(){
      //alert($(this).trigger("blur").data("errors"));
      return $(this).trigger("blur");
    };
  })( jQuery );
</script>