
<%= form_for @profile, :url => user_profiles_path,:html => {:id => 'profilenew12', :remote => true } do |f| %>         
                <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "First Name", :class => "profile_head" %><br>
    <%= f.text_field :f_name,:class => "form_field_profile", :id => "first_name12", :required => true %>
    <span id="fname_error12" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="field">
    <%= f.label "Last Name", :class => "profile_head" %><br>
    <%= f.text_field :l_name,:class => "form_field_profile", :id => "last_name12"  %>
    <span id="lname_error12" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="field">
    <%= f.label "Mobile NUmber", :class => "profile_head" %><br>
    <%= f.text_field :m_number,:class => "form_field_profile", :id => "mob_number12"   %>
    <span id="mob_error12" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="field">
    <%= f.label "Gender", :class => "profile_head" %><br>
    <%= f.select :gender, options_for_select([["Male", "m"], ["Female", "f"]],@profile.gender),{},:class => "form_field_profile" %>
    <span id="gender_error12" class="error_list" style="display:none;"></span>
  </div>
  <br /><br />
  <div class="actions">
    <%= f.submit "Create Profile",:class => "btn btn-primary" %>
  </div>
<% end %>



<script>
$("#gender12").blur(function(){ 
    if ($(this).val() == ""){ 
      $(this).nextAll().remove();     
      $(this).after('<p class="red"></p>');   
    }
    else{
      $(this).nextAll().remove();
      $(this).after('<p class="red1"></p>');
    }
});
$("#first_name12").blur(function(){ 
    if ($(this).val() == ""){ 
      $(this).nextAll().remove();
      $(this).after('<p class="red"></p>');      
    }
    else{
      $(this).nextAll().remove();
      $(this).after('<p class="red1"></p>'); 
    }
});
$("#last_name12").blur(function(){    
    if ($(this).val() == ""){ 
      $(this).nextAll().remove();
      $(this).after('<p class="red"></p>');
    }
    else{
      $(this).nextAll().remove();
      $(this).after('<p class="red1"></p>');
    }    
});
$("#mob_number12").blur(function(){  
    var a = $(this).val();    
    var filter = /^[0-9]{6,10}$/; 
    if ($(this).val() == ""){  
      $(this).nextAll().remove();    
      $(this).after('<p class="red"></p>');
    }       
    else if (!filter.test(a)) {      
      $("#mob_error12").css("display","block");
      $("#mob_error12").html("only 10 digit value can accept");
      return true;
    }    
    else {
      $(this).nextAll().remove();
      $(this).after('<p class="red1"></p>');
      return false;
    }
});
$(document).ready(function(){
  $("#mob_number12").keypress(function (e) {
    var b=$(this).val();
    var len = b.length;
    var filter =  /^[0-9-+]+$/;    
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      $("#mob_error12").html("Integer Value Only can accept").show().fadeOut("slow");
        return false;
    }
    else if (len >= 10){
      $("#mob_error12").css("display","block");
      $("#mob_error12").html("only 10 digit can enter").fadeOut("slow");        
    }
    else if (!filter.text(b)){      
      $("#mob_error12").css("display","block");
      $("#mob_error12").html("only 10 digit value can accept");  
    } 
    else{
      $(this).after('<p class="red1"></p>');
      return true;
    }   
   });  
});
</script>
