<!-- Warp Start -->
<div class="warp2">

  <!-- header breadcrum Start -->
  <div class="page-title">
    <h2>Profile Information</h2>
  </div>
  <%= render partial: "layouts/shared/flash_msg" %>
  <!-- header breadcrum end -->
  <!-- Add Profile Information Start -->
  <div class="sidebar1"> 
    <div class="options">
      <div class="overview">
        <div class="mobile-apps" style = "font-size:14px;margin-left:20px;">
        <br /><br />
          <strong class="profile_head">Add Profile Information</strong>
          <br /><br /><br />
            <!-- Add Profile Information form start -->
            <div class="sidebar1">
	            <div class="options">
		          	<div class="overview">
		          		<div class="mobile-apps" style = "font-size:12px;">
		            		<p class ="text_profile">
						  				<div class="row ">
					            	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
						            	<div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 profile_head txt-up c666 f-bold fs11 pt6 pb6">
						            		Name
						            	</div>
						            	<div class="col-sm-9 col-md-9 col-xs-9 col-lg-9 txt-up c666 f-bold fs11 pt6 pb6" style="color:#adaeaf;">
						            		<%= @profile.f_name %> <%= @profile.l_name %>
						            	</div>
					            	</div> 
				            	</div>				  
										</p>
					
										<p class ="text_profile">
										  <div class="row">
						            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
						            	<div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 profile_head txt-up c666 f-bold fs11 pt6 pb6">
							            	Gender
							            </div>
							            <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9 txt-up c666 f-bold fs11 pt6 pb6" style="color:#adaeaf;">
							            	<% if @profile.gender=='f' %>
													    <%= "Female" %>
													  <% else %>
													    <%= "Male" %>
													  <% end %>
							            </div>
						            </div> 
					            </div>
										</p>
			            	<p class ="text_profile">
					            <div class="row">
						            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
								          <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 profile_head txt-up c666 f-bold fs11 pt6 pb6">
							            	E-mail
							            </div>
							            <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9 txt-up c666 f-bold fs11 pt6 pb6" style="color:#adaeaf;">
							            	<%= current_user.email %>
							            </div>
						            </div> 
					            </div> 
										</p>
						
										<p class ="text_profile">
							   			<div class="row">
						            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
								          <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 profile_head txt-up c666 f-bold fs11 pt6 pb6">
							            	Mobile Number
							            </div>
							            <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9 txt-up c666 f-bold fs11 pt6 pb6" style="color:#adaeaf;">
							            	<%= @profile.m_number %>
							            </div>
						            </div> 
					            </div>	
										</p>
					
										<br /><br />
										<div class="row">
										 	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
												<%= link_to "Edit Profile", edit_user_profile_path(@user,@profile),:remote => true, :class => "btn btn-default btn-sm " %>
											</div>
										</div>
										<br /><br />
									</div>
		          	</div>
	            </div>          
	          </div> 
            <!-- Add Profile Information form end --> 
          <br /><br />
        </div>
      </div>
    </div>  
  </div> 	
  <!-- Add Profile Information end -->
</div> 
<!-- Warp end -->
		  
<style>
 .alert {
          margin-top: 20px;
          padding: 9px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 0px;
          }
</style>