<!-- Warp Start -->
<div class="warp2">
  <!-- header breadcrum Start -->
  <div class="welcome-header">
    <h3 class="page-name">My Profile</h3>
    <br/><br />
  </div> 
  <!-- header breadcrum end -->
  <!-- Add Profile Information Start -->
  <div class="sidebar1">
    <div class="options">
      <div class="overview">
        <div class="mobile-apps" style = "font-size:14px;margin-left:20px;">
        <br /><br />
          <strong class="profile_head">Add Profile Information</strong>
          <br /><br /><br />
            <!-- Add Profile Information form start -->
              <%= render "#{$client_name}_standard_view/profiles/form" %>
            <!-- Add Profile Information form end --> 
          <br /><br />
        </div>
      </div>
    </div>  
  </div> 	
  <!-- Add Profile Information end -->
</div> 
<!-- Warp end -->