jQuery(".profile_show2").html('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/profiles/edit_show")) %>');
window.history.pushState('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/profiles/edit_show")) %>', "Title", "<%= edit_user_profile_path(current_user.id,current_user.id) %>" );

window.onpopstate =  function(event) {
  jQuery(".profile_show2").html(event.state);
}