<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>F name</th>
      <th>L name</th>
      <th>M number</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.f_name %></td>
        <td><%= profile.l_name %></td>
        <td><%= profile.m_number %></td>
        <td><%= profile.gender %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit',  edit_user_profile(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_user_profile_path %>
