
<!-- container Start -->
<div class="container ">
  <div class="row">  
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <%= render partial: "layouts/shared/#{$client_name}_standard_shared_view/user_sidebar" %>
      </div>
      <div class="profile_show2 col-xs-12 col-sm-9 col-md-9 col-lg-9" style="visibility: visible;border: 1px solid #2ecc71;padding: 20px;min-height: 530px;">
        <!-- profile_new Start -->
        <%= render partial: "#{$client_name}_standard_view/profiles/profile_new" %> 
        <!-- profile_new end -->
      </div>
    </div>
  </div>
</div>
<!-- container end -->




