$ = jQuery.noConflict();
$(".profile_show2").html('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/profiles/profile_new")) %>'); 

window.history.pushState('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/profiles/profile_new")) %>', "Title", "<%= new_user_profile_path(current_user) %>" );


window.onpopstate =  function(event) {
  $(".profile_show2").html(event.state);
}