$ = jQuery.noConflict();
$(".profile_show2").html("<%= escape_javascript (render(:partial => 'profile_show')) %>"); 

window.history.pushState("<%= escape_javascript (render(:partial => 'profile_show')) %>", "Title", "<%= user_profiles_path(current_user) %>" );


window.onpopstate =  function(event) {
  $(".profile_show2").html(event.state);
}
