<section class="main-container col2-right-layout"> 
  <div class="main container">
    <div class="row">
      <aside class="col-right sidebar col-sm-3 " style="visibility: visible;"> 
        <%= render partial: "layouts/shared/#{$client_name}_standard_shared_view/user_sidebar" %>
      </aside> <!--col-right sidebar col-sm-3 wow bounceInUp animated-->
      <section class="profile_show2 col-main col-sm-9 col-xs-12 " style="visibility: visible;border: 1px solid #2ecc71;padding: 20px;min-height: 512px;">
        <%= render partial: "#{$client_name}_standard_view/profiles/profile_show" %>     
      </section><!--col-main col-sm-9 wow bounceInUp animated-->
    </div> <!--row-->
  </div><!--main container-->
</section>




      







      












