<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><%= link_to "Shipments", support_orders_path,:remote => true %></li>
    <li class="active"><%= link_to @order.order_number, admin_order_path( @order) %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
     <% if @shipment.delivery_status == false && @shipment.check_for_consignment_cancel %>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <%= link_to 'Cancel', edit_admin_order_shipment_path( @shipment.order, @shipment),:class => "btn btn-default btn-sm text-success",:remote => true %>
              </div>
              <div class="col-sm-8 col-xs-12">
		            <%= form_for @shipment, :url => support_order_shipment_path(@shipment.order, @shipment) do |f| %>
		              <div class="row">
		                <div class="col-sm-6 col-xs-12">
		                  <%= f.select :status, options_for_select(["Replacement", "Resend"]),{ :prompt => 'Select' }, :class => "form-control compensate_classes" %> 
		                </div>
		                <div class="col-sm-6 col-xs-12">
		                  <%= f.submit "COMPENSATE", :class => "btn btn-success btn-sm text-success" %>
		                </div>
		              </div>
			          <% end %> 
			        </div>
			      </div>
	        <% elsif @shipment.delivery_status == false %>   
	          <strong class="fs14 text-success"><%= @shipment.compensate_mode_for_not_delivered %></strong>
          <% end %>  
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

    <%= render partial: "layouts/shared/flash_msg" %>  
     
      <div class="row">
        <div class="col-sm-6">
	        <div class="panel panel-info">
	          <div class="panel-heading text-center">
	            <strong>Consignment Details</strong> 
	          </div>
	          <div class="panel-body top_space">
	            <div class="row info-borders hoverd">
	              <div class="col-sm-12">
	                <div class="col-sm-6 text-info"><strong>Consignment Cost</strong></div>
	                <div class="col-sm-6"><%= @shipment.consignment_cost %></div> 
	              </div>
	            </div>
		          <div class="row info-borders hoverd">
		            <div class="col-sm-12">
		              <div class="col-sm-6 text-info"><strong>Consignment Conform</strong></div>
		              <div class="col-sm-6"><%= @shipment.conform %></div> 
		            </div>
		          </div>
	          </div>
	        </div>
        </div>
        <div class="col-sm-6">
    			<table class="table">	      		
						<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
							<th class="pl68">Product Details</th>
							<th class="">Qty</th>
							<th class="">Per_Qty Price</th>
							<th class="">Total Price</th>
							<th class=""></th>
						</tr>			
						<% @consignment_items.each do |consignment_item| %>	
						  <tr class="bp1">
								<td >			
								  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
								  <% @product = Admin::Product.find(@variant.product.id)%>
								  <% @section = Admin::Category.find(@product.categories.first.id)%>
							    <div class="col-sm-12">
					          <div class="col-sm-3">
		                	<a href="<%= section_product_show_path(@section,@product) %>">
		                    <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
		                  </a>
					          </div>
		                <div class="col-sm-9">
		                  <div class="c999">
		                    <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
		                  </div>
		                  <span class="fl ml10 c999">SKU-   </span>
		                  <span class="f-bold ml10"> <%= @variant.sku %></span>
		                </div>
		              </div>				
								</td>
								<td class="border_none">
							    <%= consignment_item.qty %>    			
								</td>
								<td class="border_none">
									<%= consignment_item.per_qty_price %>
								</td>	
								<td class="border_none">
									<%= consignment_item.price %>
								</td>
								<td>
                </td>
							</tr>									
						<% end %>
					</table>
			  </div>
      </div>
      <% if @shipment.delivery_status == false %>
        <% @shipment.resends.each do |resend_consignment| %>
          <table class="table">	  
      			<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1 warning">
							<th class="">RESEND CONSIGNMENT</th>
							<th><strong>TOTAL Rs.<%= resend_consignment.consignment_cost %></strong></th>
							<th></th>
							<th>
                <%= resend_consignment.status %>
							</th>
						</tr>	    		
						<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
							<th class="pl68">Product Details</th>
							<th class="">Qty</th>
							<th class="">Per_Qty Price</th>
							<th class="">Total Price</th>
						</tr>			
						<% resend_consignment.consignment_items.each do |consignment_item| %>	
						  <tr class="bp1">
								<td >			
								  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
								  <% @product = Admin::Product.find(@variant.product.id)%>
								  <% @section = Admin::Category.find(@product.categories.first.id)%>
							    <div class="col-sm-12">
					          <div class="col-sm-3">
					            <a href="<%= section_product_show_path(@section,@product) %>">
					              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
					            </a>
					          </div>
					          <div class="col-sm-9">
					            <div class="c999">
					              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
					            </div>
					            <span class="fl ml10 c999">SKU-   </span>
					            <span class="f-bold ml10"> <%= @variant.sku %></span>
					          </div>
					        </div>				
								</td>
								<td class="border_none">
							    	<%= consignment_item.qty %>    			
								</td>
								<td class="border_none">
									<%= consignment_item.per_qty_price %>
								</td>	
								<td class="border_none">
									<%= consignment_item.price %>
								</td>
							</tr>										
						<% end %>
					</table>
		    <% end %>
      <% end %>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <% @shipment.refund_revocations.each do |refund_revocation| %>
            <table class="table success">	  
      			<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1 success">
							<th class="">REFUND REVOCATION</th>
							<th><strong>TOTAL Rs.<%= refund_revocation.revocation_cost %></strong></th>
							<th></th>
							<th>
                <% if refund_revocation.status == "up" %>
								  <%= form_for(refund_revocation) do |f| %>
					            <%= f.hidden_field :status,:value => "cancel" %>
					            <%= f.hidden_field :support,:value => "1" %>
					            <%= f.submit "Cancel", :class => "btn btn-default btn-sm text-success" %>
					        <% end %>
					      <% elsif  refund_revocation.status == "cancel" %>
					        <span class="text-danger">Cancelled</span>
					      <% end %>
							</th>
							<th></th>
						</tr>	    		
						<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
							<th class="pl68">Product Details</th>
							<th class="">Qty</th>
							<th class="">Per_Qty Price</th>
							<th class="">Total Price</th>
							<th></th>
						</tr>			
						<% refund_revocation.refund_revocation_items.each do |refund_revocation_item| %>	
						  <tr class="bp1">
								<td >			
								  <% @variant = Admin::Variant.find(refund_revocation_item.variant_id) %>
								  <% @product = Admin::Product.find(@variant.product.id)%>
								  <% @section = Admin::Category.find(@product.categories.first.id)%>
							    <div class="col-sm-12">
					          <div class="col-sm-3">
					            <a href="<%= section_product_show_path(@section,@product) %>">
					              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
					            </a>
					          </div>
					          <div class="col-sm-9">
					            <div class="c999">
					              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
					            </div>
					            <span class="fl ml10 c999">SKU-   </span>
					            <span class="f-bold ml10"> <%= @variant.sku %></span>
					          </div>
					        </div>				
								</td>
								<td class="border_none">
							    <%= refund_revocation_item.qty %>    			
								</td>
								<td class="border_none">
									<%= refund_revocation_item.per_qty_price %>
								</td>	
								<td class="border_none">
									<%= refund_revocation_item.price %>
								</td>
								<td>
								  <% if refund_revocation_item.status.nil? && refund_revocation.status != "cancel" %>
								    <%= link_to " ", refund_revocation_item, method: :delete, data: { confirm: 'Are you sure?'},:class => "glyphicon glyphicon-remove text-warning" %>
								  <% end %>
								</td>
							</tr>										
						<% end %>
					</table>
          <% end %>
          <% @shipment.replacement_revocations.each do |replacement_revocation| %>
            <table class="table success">	  
      			<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1 danger">
							<th class="">REPLACEMENT REVOCATION</th>
							<th><strong>TOTAL Rs.<%= replacement_revocation.revocation_cost %></strong></th>
							<th></th>
							<th>
                <% if replacement_revocation.status == "up" %>
								  <%= form_for(replacement_revocation) do |f| %>
					            <%= f.hidden_field :status,:value => "cancel" %>
					            <%= f.hidden_field :support,:value => "1" %>
					            <%= f.submit "Cancel", :class => "btn btn-default btn-sm text-success" %>
					        <% end %>
					      <% elsif  replacement_revocation.status == "cancel" %>
					        <span class="text-danger">Cancelled</span>
					      <% end %>
							</th>
							<th></th>
						</tr>	    		
						<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
							<th class="pl68">Product Details</th>
							<th class="">Qty</th>
							<th class="">Per_Qty Price</th>
							<th class="">Total Price</th>
							<th></th>
						</tr>			
						<% replacement_revocation.replacement_revocation_items.each do |replacement_revocation_item| %>	
						  <tr class="bp1">
								<td >			
								  <% @variant = Admin::Variant.find(replacement_revocation_item.variant_id) %>
								  <% @product = Admin::Product.find(@variant.product.id)%>
								  <% @section = Admin::Category.find(@product.categories.first.id)%>
							    <div class="col-sm-12">
					          <div class="col-sm-3">
					            <a href="<%= section_product_show_path(@section,@product) %>">
					              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
					            </a>
					          </div>
					          <div class="col-sm-9">
					            <div class="c999">
					              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
					            </div>
					            <span class="fl ml10 c999">SKU-   </span>
					            <span class="f-bold ml10"> <%= @variant.sku %></span>
					          </div>
					        </div>				
								</td>
								<td class="border_none">
							    	<%= replacement_revocation_item.qty %>    			
								</td>
								<td class="border_none">
									<%= replacement_revocation_item.per_qty_price %>
								</td>	
								<td class="border_none">
									<%= replacement_revocation_item.price %>
								</td>
								<td>
								  <% if replacement_revocation_item.status.nil? && replacement_revocation.status != "cancel" %>
								    <%= link_to " ", replacement_revocation_item, method: :delete, data: { confirm: 'Are you sure?'},:class => "glyphicon glyphicon-remove text-warning" %>
								  <% end %>
								</td>
							</tr>										
						<% end %>
					</table>
          <% end %>
        </div>
        <div class="col-sm-6">
          <% @shipment.pickup_consignments.each do |pickup_consignment| %>
          <table class="table">	  
      			<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1 warning">
							<th class="">PICKUP CONSIGNMENT</th>
							<th><strong>TOTAL Rs.<%= pickup_consignment.consignment_cost %></strong></th>
							<th></th>
							<th>
                <% if pickup_consignment.status == "up" %>
								  <%= form_for(pickup_consignment) do |f| %>
					            <%= f.hidden_field :status,:value => "cancel" %>
					            <%= f.hidden_field :support,:value => "1" %>
					            <%= f.submit "Cancel", :class => "btn btn-default btn-sm text-success" %>
					        <% end %>
					      <% elsif  pickup_consignment.status == "cancel" %>
					        <span class="text-danger">Cancelled</span>
					      <% end %>
							</th>
						</tr>	    		
						<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
							<th class="pl68">Product Details</th>
							<th class="">Qty</th>
							<th class="">Per_Qty Price</th>
							<th class="">Total Price</th>
						</tr>			
						<% pickup_consignment.pickup_consignment_items.each do |pickup_consignment_item| %>	
						  <tr class="bp1">
								<td >			
								  <% @variant = Admin::Variant.find(pickup_consignment_item.variant_id) %>
								  <% @product = Admin::Product.find(@variant.product.id)%>
								  <% @section = Admin::Category.find(@product.categories.first.id)%>
							    <div class="col-sm-12">
					          <div class="col-sm-3">
					            <a href="<%= section_product_show_path(@section,@product) %>">
					              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
					            </a>
					          </div>
					          <div class="col-sm-9">
					            <div class="c999">
					              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
					            </div>
					            <span class="fl ml10 c999">SKU-   </span>
					            <span class="f-bold ml10"> <%= @variant.sku %></span>
					          </div>
					        </div>				
								</td>
								<td class="border_none">
							    	<%= pickup_consignment_item.qty %>    			
								</td>
								<td class="border_none">
									<%= pickup_consignment_item.per_qty_price %>
								</td>	
								<td class="border_none">
									<%= pickup_consignment_item.price %>
								</td>
							</tr>										
						<% end %>
					</table>
		    <% end %>
        </div>
      </div>
    </div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border modal_window_increase_width1 support_consignment_cancel">
      
    </div>
  </div>
</div>