<h1>Listing admin_failure_transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_failure_transactions.each do |admin_failure_transaction| %>
      <tr>
        <td><%= link_to 'Show', admin_failure_transaction %></td>
        <td><%= link_to 'Edit', edit_admin_failure_transaction_path(admin_failure_transaction) %></td>
        <td><%= link_to 'Destroy', admin_failure_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Failure transaction', new_admin_failure_transaction_path %>
