<%= form_for @cart_item, :url => cart_item_path(@cart_item) do |f| %>
  <% if @cart_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_item.errors.count, "error") %> prohibited this state from being saved:</h2>
      <ul>
      <% @cart_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :qty, "Quantity"%><br>
    <%= f.text_field :qty, :class => "form-control",:id => "statename" %>
    <%= f.label :per_qty_price, "Per Quantity Price"%><br>
    <%= f.text_field :per_qty_price, :class => "form-control",:id => "statename" %>
    <%= f.label :price, "Price"%><br>
    <%= f.text_field :price, :class => "form-control",:id => "statename" %>
    <%= f.label :variant_id, "Variant"%><br>
    <%= f.text_field :variant_id, :class => "form-control",:id => "statename" %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Update Cart" , :class => "btn btn-primary"%>
  </div>
<% end %>