<div class="fieldqw<%=like %>" id ="fieldqw" >  <br/>
  <%= f.value_fields do |v| %>
    <div class="applied_filter" style="width:25%">
      <%= v.text_field :value,:readonly => true, :style => "background:#eee;border:none;width:80%;" %>
      <%= link_to "", '#', class: "remove_fields glyphicon glyphicon-remove" %>
    </div>
  <% end %>
</div>
        
<script>
$(document).ready(function(){
  $(".hide_search").hide();
});
</script>