 <div class="modal-body category_modal_body" style="min-height:350px;background:#fff;">

         <div class="panel panel-info">
            <div class="panel-heading"> Inventory Details</div>
        <div class="panel-body"> 
            <div class="row borders">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Warehouse
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12 ">
                  <%= @admin_inventory.warehouse.name %>
                </div>
              </div><br/>
              <div class="row borders">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Vendor
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12">
                  <%= @admin_inventory.vendor.name %>
                </div>
              </div><br/>
              <div class="row borders">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Quantity
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12">
                  <%= @admin_inventory.qty %>
                </div>
              </div><br/>
              <div class="row borders">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Sold Quantity
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12">
                  <%= @admin_inventory.sold_qty %>
                </div>
              </div><br/>
              <div class="row borders">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Balance Quantity
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12">
                  <%= @admin_inventory.balance_qty %>
                </div>
              </div><br/>
              <div class="row borders">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Selling Price
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12">
                  <%= @admin_inventory.selling_price %>
                </div>
              </div><br/>
              <div class="row">
                <div class="col-sm-5 col-xs-5 col-xs-12" style="padding-left: 5px;">Selling Price
                </div>
                <div class="col-sm-7 col-xs-7 col-xs-12">
                  <%= @admin_inventory.purchase_price %>
                </div>
              </div>
               
              </div>
            </div>
            <% if @admin_inventory.regulations.present? %>
            ndm,ndmf
               <div class="panel panel-danger">
                      <div class="panel-heading">
                        <div class="row">
                          <div class="col-sm-3 col-xs-3"><strong>QUANTITY</strong>
                          </div>
                          <div class="col-sm-3 col-xs-3"><strong>REASON</strong>
                          </div>
                          <div class="col-sm-3 col-xs-3"><strong>NOTES</strong>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body"> 
                      <% @admin_inventory.regulations.each do |regulation| %>
                          <div class="row borders">
                            <div class="col-sm-3 col-xs-3 invent"><%= best_in_place regulation,:qty, :path => admin_product_variant_inventory_regulation_path(@product,@variant,@admin_inventory,regulation),:html_attrs => {:style => "width:50%;margin-top:-15px;padding-bottom:0px;"},:data => {:urls => "#{admin_product_variant_path(@product,@variant)}"} %>
                            </div>
                            <div class="col-sm-3 col-xs-3 invent"><%= best_in_place regulation,:reason, :path => admin_product_variant_inventory_regulation_path(@product,@variant,@admin_inventory,regulation),:html_attrs => {:style => "width:50%;margin-top:-15px;padding-bottom:0px;"},:data => {:urls => "#{admin_product_variant_path(@product,@variant)}"} %>
                            </div>
                            <div class="col-sm-3 col-xs-3 invent"><%= best_in_place regulation,:note, :path => admin_product_variant_inventory_regulation_path(@product,@variant,@admin_inventory,regulation),:html_attrs => {:style => "width:50%;margin-top:-15px;padding-bottom:0px;"},:data => {:urls => "#{admin_product_variant_path(@product,@variant)}"} %>
                            </div>
                            <%= link_to_if(regulation.reason== "c", "Revert to Inventory", admin_product_variant_inventory_regulation_path(@product,@variant,@admin_inventory, regulation), remote: true , class: "btn btn-success btn-xs")%> 
                          </div><br/> 
                        <% end %>
                      </div>
                    </div>
             <% else %>
               <div style="height:90px;"></div>
            <% end %>
</div>
  <div class="space-6"></div>