<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br />   
  <div class="pull-right">
    <%= link_to 'List Inventory', admin_inventories_path, :class => "btn btn-primary btn-sm" %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
    <ol class="breadcrumb">
      <li class="markthis"><%= link_to "Inventroy", admin_inventories_path,:remote => true %></li>
      <li class="markthis"><%= link_to @admin_inventory.id, admin_inventory_path(@admin_inventory),:remote => true %></li>
      <li class="active">Edit</li>
    </ol>
    </div>
    </div>		        
</div>
<div class="col-xs-12 col-sm-10"><br/>
	<%= form_for(@admin_inventory,:html => {:id => 'inventory_form' },:remote => true) do |f| %>
		  <% if @admin_inventory.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@admin_inventory.errors.count, "error") %> prohibited this admin_inventory from being saved:</h2>
          <ul>
		      <% @admin_inventory.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %><br/>
		  <div class="fields">
		    <div class="row">
		      <div class="col-xs-12 col-sm-3">
		        <%= f.label :warehouse_id, "Warehouse",:class => "label_space" %><br/>
		      </div>
		      <div class="col-xs-12 col-sm-9">
		        <%= f.collection_select :warehouse_id, Admin::Warehouse.all, :id, :name,{:prompt => "Select Warehouse" },:class => "form-control width2" %><br/>
		        <span id="warehouse_error1" class="error_list1" style="display:none;"></span>
		      </div>
		    </div>  
		    <div class="row">
		      <div class="col-xs-12 col-sm-3">
		        <%= f.label :vendor_id, "Vendor",:class => "label_space" %><br/>
		      </div>
		      <div class="col-xs-12 col-sm-9">
		        <%= f.collection_select :vendor_id, Admin::Vendor.all, :id, :name,{ :prompt => "Select Vendor" },:class => "form-control width2" %>
		        <span id="vendor_error1" class="error_list1" style="display:none;"></span><br/>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-xs-12 col-sm-3">
		        <%= f.label :product_id, "Product",:class => "label_space" %><br/>
		      </div>
		      <div class="col-xs-12 col-sm-9">
		        <%= f.collection_select :product_id, Admin::Product.all, :id, :name,{ :prompt => "Select Product" },:class => "form-control width2" %>
		        <span id="product_error1" class="error_list1" style="display:none;"></span><br/>
		      </div>
		    </div>
		    <br />
		    <div class="row">
		      <div class="col-xs-12 col-sm-3">
		        <%= f.label :qty, "Quantity",:class => "label_space" %>
		      </div>
		      <div class="col-xs-12 col-sm-9">
		        <%= f.number_field :qty,:in=> 1..1000,:class => "form-control width2" %><br/>
		        <span id="quantity_error1" class="error_list" style="display:none;"></span>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-xs-12 col-sm-3">
		        <%= f.label :purchase_price, "Purchase Price" %>
		      </div>
		      <div class="col-xs-12 col-sm-9">
		        <%= f.number_field :purchase_price,:min=> 1,:class => "form-control width2" %>
		        <span id="purchase_error1" class="error_list" style="display:none;"></span><br/>
		      </div>
		    </div>
		  </div>
		  <div class="actions">
		    <%= f.submit "Update Inventory", :class => "btn btn-primary" %>
		  </div>
		<% end %>
  </div>
<div class="col-xs-12 col-sm-2">
</div>
