<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon glyphicon glyphicon-inbox"></i>&nbsp;&nbsp; Inventories</li>
  </ul><!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
</div>
<!-- Page Content Start -->
<div class="page-content"> 
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class= "row"> 
    <div class="col-xs-12 col-sm-12"><br/>
      <div class="searchable_content1">
        <% if @admin_inventories.present? %> 
        <div class="table-header bigger lighter cursive-font">
          INVENTORIES LIST
        </div>
        <div class="table-responsive">   
        <table id="inventories_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
          <thead>
            <tr>
              <th>WareHouse</th>
              <th>Vendor</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Purchase Price</th>
              <th>Received By</th>
            </tr>
          </thead>
          <tbody>
            <% @admin_inventories.each do |admin_inventory| %>
            <tr>
              <td>
                <%= admin_inventory.warehouse.name %>
              </td>
              <td>
                <%= admin_inventory.vendor.name %>
              </td>
              <td>
                <a href="<%= admin_product_path(admin_inventory.variant.product.id) %>" target="_blank"> <%= admin_inventory.variant.product.name %></a>
              </td>
              <td>
                <%= admin_inventory.balance_qty %>
              </td>
              <td>
                <%= admin_inventory.purchase_price %>
              </td>
              <td><%= admin_inventory.user.present? ? admin_inventory.user.email : "- "%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <% else %>
          <div class="row">
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
            <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
              <h3> No Inventroy </h3>
              Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
              <span class="markthis btn btn-xs btn-success create_button">
                <span class="glyphicon-plus bigger-110"></span>
                <%= link_to 'Update Inventory', new_admin_inventory_path,:remote => true %>
              </span>
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Page Content End -->
<script>
jQuery(function() {
  var dataTable = $('#inventories_table').dataTable({
    sPaginationType: "full_numbers"
  });
});
</script>