<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right">
  </div>
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        
        <li class="active">Update Inventory</li>
      </ol>
    </div>
  </div> 
</div>
<%= render 'form' %><br />		
<div class="col-xs-12 col-sm-2">
</div>


