
  <%= render partial: "layouts/shared/flash_msg" %>  
  <div class="border"><br/>
    <div class="pull-right">
    <%= link_to 'Edit Inventories', edit_admin_inventory_path(@admin_inventory), :class => "btn btn-primary btn-sm" %> 
	  <%= link_to ' Delete', @admin_inventory, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash btn btn-danger btn-sm gly" %>    
	  </div> 
	  <div class="row">
      <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <li class="markthis"><%= link_to "Inventories", admin_inventories_path,:remote => true %></li>
        <li class="active"><%= @admin_inventory.id %></li>
      </ol>
      </div>
    </div>
  </div>
  <br/> 
  <div class="col-xs-12 col-sm-6">
		<div class="row">
      <div class="col-sm-4 col-xs-6">
        <strong>Warehouse</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <%= @admin_inventory.warehouse.name %>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <strong>Vendor</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <%= @admin_inventory.vendor.name %>
      </div>
    </div><br/>
    <div class="row"> 
      <div class="col-sm-4 col-xs-6">
        <strong>Product</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <%= @admin_inventory.variant.name %>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <strong>Quantity</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <%= @admin_inventory.qty %>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <strong>Purchase Price</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <%= @admin_inventory.purchase_price %>
      </div>
    </div><br/>
     <div class="row">
      <div class="col-sm-4 col-xs-6">
        <strong>Recieved By</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <%= @admin_inventory.user.email %>
      </div>
    </div><br/>
     <% if @admin_regulations.present? %>
        <div class="panel panel-default">
          <div class=" panel-heading">
            <div class="row">
              <div class="col-sm-5 col-xs-6 text-primary">Reason</div>
              <div class="col-sm-3 col-xs-2 text-primary">Quantity</div>
              <div class="col-sm-2 col-xs-2 text-primary">Edit</div>
              <div class="col-sm-2 col-xs-2 text-primary">Delete</div>
            </div>
          </div>
          <div class="panel-body top_space">
            <% @admin_regulations.each do |admin_regulation| %>
              <div class="row hoverd">
                <div class="col-sm-5 col-xs-6">
                  <%= admin_regulation.reason %>
                </div>
                <div class="col-sm-3 col-xs-2" id="qwe">
                  <%= admin_regulation.qty %>
                </div>
                <div class="col-sm-2 col-xs-2">
                  <a class="glyphicon glyphicon-pencil text-success" href="<%= edit_admin_inventory_regulation_path(@admin_inventory, admin_regulation) %>"></a>
                </div>
                <div class="col-sm-2 col-xs-2">
                  <%= link_to '', admin_inventory_regulation_path(@admin_inventory, admin_regulation), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger" %>
                </div>
              </div>
            <% end %>              
          </div>
        </div>
      <% else %>
        <br/>
        <br/>
      <% end %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <%= form_for @admin_regulation, :url => admin_product_variant_inventory_regulations_path( @admin_inventory.variant.product_id, @admin_inventory.variant_id,@admin_inventory),:html => {:id => 'new_regulation' } do |f| %>
        <% if @admin_regulation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_regulation.errors.count, "error") %> prohibited this admin_regulation from being saved:</h2>
            <ul>
            <% @admin_regulation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="fields">            
            <div class="col-xs-12 col-sm-3">
              <%= f.label :qty, "Qty" %>
            </div>
            <div class="col-xs-12 col-sm-9">
              <%= f.number_field :qty, :value => @admin_inventory.qty,:in=> 1..1000,:class => "form-control width2"  %>
              <span id="regqty_error" class="error_list" style="display:none;"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="fields">            
            <div class="col-xs-12 col-sm-3"><br />
              <%= f.label :reason, "Give Reason" %>                 
            </div><br />
            <div class="col-xs-12 col-sm-9 ">
              <%= f.text_field :reason, :class=>"regclass" %> 
              <span id="regreason_error" class="error_list" style="display:none;"></span>              
            </div>       
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3"><br />                
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="actions"><br />
              <%= f.submit "Create Regulation", :class => "btn btn-primary btn-sm" %>
            </div>
          </div>             
        </div>
      <% end %>
  </div>
</div> 



