
  <%= form_for(@admin_general_image, :url => admin_image_type_general_images_path(@admin_image_type)) do |f| %>
    <% if @admin_general_image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin_general_image.errors.count, "error") %> prohibited this admin_general_image from being saved:</h2>

        <ul>
        <% @admin_general_image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 
    <%= f.hidden_field :image_type_id, :value => @admin_image_type.id %>
    
      <div class="form-horizontal">
        <div class="">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 col-xs-12">
            <% if @admin_image_type.is_video %>
              <div class="form-group form_group_admin_general_image_avatar row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Video</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.file_field :avatar,:class => "blue_textbox width-100 validate_this" %>
                  </span>
                  <div class="help-block" id="admin_avatar_error1"> </div>
                </div>
              </div>
            <% else %>
              <div class="form-group form_group_admin_general_image_avatar row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">Image</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right" style="padding-top:8px;">
                    <%= f.file_field :avatar,:class => "blue_textbox width-100 validate_this" %>
                  </span>
                  <div class="help-block" id="admin_avatar_error1"> </div>
                </div>
               
              </div>
            <% end %>
            </div>
            <div class="col-sm-6 col-xs-12">
            <div class="form-group form_group_admin_general_image_ait_text row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">AltText</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.text_field :alt_text,:placeholder => "Link",:class => "blue_textbox width-100 validate_this" %>
                  </span>
                  <div class="help-block" id="admin_general_image_alt_text_error1"> </div>
                </div>
              </div>
              </div>
            <div class="col-sm-6 col-xs-12">
            <div class="form-group form_group_admin_general_image_ait_text row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">Description</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.text_area :description,:placeholder => "Link",:class => "blue_textbox width-100 validate_this" %>
                  </span>
                  <div class="help-block" id="admin_general_image_description_error1"> </div>
                </div>
              </div>
              </div>
              <div class="col-sm-6 col-xs-12">
            <div class="form-group form_group_admin_general_image_ait_text row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2  no-padding-right label-color">Title</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.text_field :title,:placeholder => "Link",:class => "blue_textbox width-100 validate_this" %>
                  </span>
                  <div class="help-block" id="admin_general_image_title_error1"> </div>
                </div>
              </div>
              </div>
            <div class="col-sm-6 col-xs-12">
             <div class="form-group form_group_admin_general_image_link">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color" style="text-align:left;">Link*</label>
                <div class="col-xs-12 col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      https://
                    </span>
                    <span class="block input-icon input-icon-right">
                    <%= f.text_field :link, :class => "blue_textbox form-control   width-100 validate_this", :id => "page_link", :placeholder => "Example : www.example.com" %>
                    </span>
                  </div>
                  <div class="help-block" id="admin_general_image_link_error1"> </div>
                </div>
               
              </div>
       
              </div>
              <div class="col-sm-6 col-xs-12">
            <% if @admin_image_type.is_category %>
              <div class="form-group form_group_admin_general_image_category_id row">
                <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 no-padding-right label-color">Category</label>
                <div class="col-xs-12 col-sm-8">
                  <span class="block input-icon input-icon-right">
                    <%= f.collection_select :category_id, @list_children_categories, :id, "combined_value",{:prompt => "Select"},:class => "blue_textbox width-100 validate_this" %>
                  </span>
                  <div class="help-block" id="admin_general_image_category_id_error1"> </div>
                </div>
              </div>
            <% end %><br/>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10">
                <%= f.submit "Save", :class => "btn btn-success btn-sm pull-right" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>