<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-tags"></i> General Images</li>
    <li class="active">Crop Avatar</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
  </div>
  <!-- button panel end --> 
</div> 
<div class="page-content">
  <% content_for(:head) do %>
  <%= stylesheet_link_tag "Jcrop.min" %>
  <%= javascript_include_tag "jquery.Jcrop.min" %>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 500, 500],
      aspectRatio: 0
    });
  });

  function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
    $('#preview').css({
      width: Math.round(rx * <%= @admin_general_image.avatar_geometry(:large).width %>) + 'px',
      height: Math.round(ry * <%= @admin_general_image.avatar_geometry(:large).height %>) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
    var ratio = <%= @admin_general_image.avatar_geometry(:original).width %> / <%= @admin_general_image.avatar_geometry(:large).width %>;
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }
  </script>
  <% end %>

  <%= image_tag @admin_general_image.avatar.url(:original), :id => "cropbox" %>

  <h4>Preview:</h4>
  <div style="width:100px; height:100px; overflow:hidden">
    <%= image_tag @admin_general_image.avatar.url(:original), :id => "preview",:remote => true %>
  </div>
  <%= form_for @admin_general_image,:url => admin_image_type_general_image_path(@admin_image_type,@admin_general_image) do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, :id => attribute %>
    <% end %><br />
    <p><%= f.submit "Crop", :class => "btn btn-default btn-xs" %></p>
  <% end %>
</div>