

   <!-- brand index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-tags"></i> General Images</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Create Image Type', new_admin_general_image_path  , :class => "",:style => "color:#fff;",:remote => true %>
    </span>
  </div>
  <!-- button panel end --> 
</div> 
<div class="page-content">
  <!-- flash start --> 
    <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->
  <div class="row" > <br/>
    <div class="searchable_content1">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% if @admin_general_images.present? %>
          <%= form_for('Brand', :as => 'brands', :url => delete_selected_brand_admin_brands_path,:remote => true) do |f| %>
            <div class="table-header">
              List of General Images
            </div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer" style="padding-top:2px;">
              <!--brand table started -->
              <table id="brands_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @admin_general_images.each do |admin_general_image| %>
                  <tr>
                    <td>
                      <%= admin_general_image.image_type.name %>
                    </td>
                    <td>
                      <%= image_tag admin_general_image.avatar.url(:large) %>
                    </td>
                    <td>
                    </td>
                    <td>
                      <div class=" action-buttons">
                        <%= link_to '', edit_admin_general_image_path(admin_general_image),:class => "glyphicon glyphicon-pencil edit_button_color",:remote => true %>
                        <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_general_image, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color",:remote => true  %>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- brand table end -->
            </div>
          <% end %>  
        <% else %>
          <div class="row">
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
            <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
            <h3> No General Images </h3>
            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
            <span class="markthis btn btn-xs btn-success create_button">
              <span class="glyphicon-plus bigger-110"></span>
              <%= link_to 'Create Image Type', new_admin_general_image_path  , :class => "",:style => "color:#fff;",:remote => true %>
            </span>
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id">
      <!-- modal header start -->
        
      <!-- modal header end -->
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<!-- Modal Window Start-->
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal9_id">
     
    </div>
  </div>
</div>
<!-- Modal Window End-->


<style>
.btn-success1, .btn-success1:hover{
background-color:#307ECC!important;
border-color: #307ECC!important;
}
</style>

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [3],
      "bSortable": false
    }
  ];
  var dataTable = $('#brands_table').dataTable({
    "iDisplayLength": 25,
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>
<!-- brand index end -->


  