
<!-- brand index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-image"></i>&nbsp;&nbsp;<%= link_to "Image Types" , admin_image_types_path,:remote => true, :class=>"for_page_load" %></li>
    <li><%= link_to @admin_image_type.name,admin_image_type_path(@admin_image_type), :remote => true, :class=>"for_page_load"  %></li>
    <li class="active">Create New Image</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
  </div>
  <!-- button panel end --> 
</div> 
<div class="page-content">

  
  <!-- flash start --> 
    <div class="flash_message_panel" style="padding-top:2px">
	    <%= render partial: "layouts/shared/flash_msg" %> 
	  </div>
  <!-- flash end -->  

  <div class="page-header">
	  <h4>
	    Create New General Image 
	  </h4>
	</div>

        <%= render 'form' %>
</div>