<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-tags"></i> General Images</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
  </div>
  <!-- button panel end --> 
</div> 
<div class="page-content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @admin_general_image.avatar %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @admin_general_image.image_type_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @admin_general_image.category_id %>
</p>

<p>
  <strong>Alt text:</strong>
  <%= @admin_general_image.alt_text %>
</p>
</div>