<%= (Liquid::Template.parse(Admin::NotificationCustomer.first.content_for_post_deli_cancel).render 'order' => @order'consignment' => @consignment,'consignment_items' => @consignment_items).html_safe  %>