<%= (Liquid::Template.parse(Admin::NotificationCustomer.first.content_for_pre_deli_cancel).render 'order' => @order,'consignment' => @consignment,'consignment_items' => @consignment_items).html_safe  %> 