<%= (Liquid::Template.parse(Admin::NotificationCustomer.first.content_for_replacement_order).render 'order' => @order,'replacement_revocation' => @replacement_revocation,'replacement_revocation_item' => replacement_revocation_items).html_safe  %> 