<%= (Liquid::Template.parse(Admin::NotificationCustomer.first.content_for_tracking_updated).render 'order' => @order,'consignment' => @consignment, 'consignment_items' => @consignment_items).html_safe  %>  