<%= (Liquid::Template.parse(Admin::NotificationCustomer.first.content_for_order_success).render 'order' => @order,'consignment' => @consignment ,'consignment_items' => @consignment_items).html_safe  %>

<%=link_to "Download Invoice",  user_order_consignment_pdf_url(@user_id, @order.id, @consignment.id, :format => :pdf ) %>