<div class="row">
  <div class="col-sm-2 col-xs-6">
    <strong>Pincode</strong>
  </div>
  <div class="col-sm-8 col-xs-6">
    <span class="quantity">
      <%= best_in_place @admin_cart, :pincode, :data => {:urls => "../#{admin_cart_path(@admin_cart)}" },:type => :input, :nil => "Click me to add pincode!",:class => "quantity" %>
    </span>
  </div>
</div><br/><br/>
<% if @admin_cart.cart_items.present? %>
  <div class="table-header">
    Carts List
  </div>
  <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Selling Price</th>
        <th>Per Quantity Price</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_cart.cart_items.each do |cart_item| %>
        <% variant = Admin::Variant.find(cart_item.variant_id) %>
      <tr>
        <td>
          <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:large),:class => "thumbnail", :style => "width:120px;height:100px;" %>
        </td>
        <td>
          <%= variant.name.capitalize %>
        </td>
        <td>
          <span class="quantity">
            <%= best_in_place cart_item, :qty, type: :select, :collection => [1,2,3,4,5,6,7,8,9,10],:data => {:urls => "../#{admin_cart_path(@admin_cart)}"},:class => "quantity" %>
          </span>
        </td>
        <td>
          <%= Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first.selling_price %>
        </td>
        <td>
          <% if cart_item.per_qty_price.present? %><%= cart_item.per_qty_price %>
            <% end %> 
        </td>
        <td><% if cart_item.price.present? %><%= cart_item.price %><% end %></td>
        <td>
          <div class="hidden-sm hidden-xs btn-group">
            
              <%= link_to '', cart_item, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger" %>
           
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %><br/>
  <div class="error-container">
    <div class="well">
      <h1 class="grey lighter smaller">
        <span class="blue bigger-125">
        </span>
        No Items 
      </h1>
      <hr>
    </div>
  </div>
<% end %>