<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-shopping-cart "></i>&nbsp;&nbsp;Carts</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
 
<div class="page-content">
  <div class="row ">  
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content1">
        <div class="table-header bigger lighter cursive-font">
          Carts List
        </div>
        <div class="table-responsive">
        <table id="carts_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
          <thead>
            <tr>
              <th>User</th>
              <th>Location</th>
              <th>IP Address</th>
              <th>Pincode</th>
              <th>Items Count</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @carts.each do |cart| %>
            <tr>
              <td>
                <% if cart.user_id.present? %>
                  <%= User.where(:id => cart.user_id).first.email %>
                  <%if Profile.where(:user_id => cart.user_id).first.present?%>
                    (<%= Profile.where(:user_id => cart.user_id).first.f_name %>)
                  <% end %>
                <% else %>
                  -
                <% end %>
              </td>
              <td>
                <%= cart.location.present? ? cart.location : "-" %>
              </td>
              <td>
                <%= cart.ip %>
              </td>
              <td>
                <% if cart.pincode.present? %>
                  <%= cart.pincode %>
                <% else %>
                  -
                <% end %>
              </td>
              <td>
                <%= cart.cart_items.count  %>
              </td>
              <td>
              <%= link_to '',admin_cart_path(cart),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div><br/>   
</div> 


  
<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [5],
      "bSortable": false
    }
  ];
  var dataTable = $('#carts_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>