<% @admin_cart = Cart.find(params[:id]) %>

<div class="breadcrumbs" id="breadcrumbs">
 
  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-shopping-cart home-icon">&nbsp;&nbsp;</i><%= link_to "Carts", admin_carts_path,:remote => true %></li>
    <li class="active">
      <% if @admin_cart.user_id.present? %>
        <%= @admin_cart.user.email %>
      <% else %>
        <%= @admin_cart.id %>
      <% end %>
    </li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
<div class="admin_show">
  <%= render partial: "refresh_admin_cart_show" %>
</div>









