<%= form_tag request.url, html: {method: :delete} do %>
  <h2>Are you sure you want to delete this record?</h2>
  <p>
    <%= submit_tag "Destroy" %>
    <% if request.referrer.present? %>
      or <%= link_to "cancel", request.referer %>
    <% end %>
  </p>
<% end %>