<div class=" panel-heading"> 
  <div class="row">
    <div class="col-sm-2 col-xs-2 text-info bold">Pickup Consignment Number</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Created At</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Shipping Company</div>
    <div class="col-sm-1 col-xs-1 text-info bold">Confirmation</div>
    <div class="col-sm-1 col-xs-1 text-info bold"></div>
  </div>
</div>
<div class="panel-body top_space">
  <% @admin_pickup_task.pickup_consignments.each do |pickup_consignment| %>
    <div class="row hoverd">
      <div class="col-sm-2 col-xs-2">
        <%= link_to pickup_consignment.pickup_consignment_number, admin_warehouse_dashboard_pickup_task_pickup_consignment_show_path_path(@warehouse,@admin_pickup_task,pickup_consignment),:remote => true %>&nbsp &nbsp  (<%= pickup_consignment.consignment_cost %>)
      </div>
      <div class="col-sm-2 col-xs-2">
        <%= pickup_consignment.created_at.strftime("%d %b %Y") %> <br/>
        <%= @aws_no %>
      </div>
      <%= form_for(pickup_consignment ,:url => admin_warehouse_dashboard_assigned_pickup_consignment_path(@warehouse, pickup_consignment),:html => {:class => 'package_task_dispatch'},:remote => true) do |f| %>
        <div class="col-sm-2 col-xs-2">
          <%= f.collection_select :logistic_id, Admin::Logistic.all, :id, :name,{ :prompt => "Select Logistic" },:class => "form-control edit_admin_logistics_#{pickup_consignment.id}" %>
          <span id="edit_admin_logistics_error_<%= pickup_consignment.id %>" class="error_list" style="display:none;"></span><br/>
        </div>
      <div class="col-sm-2 col-xs-1">
        <% if pickup_consignment.received == true %>
          <span class = "text-success glyphicon glyphicon-ok"></span>
        <% else %>
          <%= link_to '', admin_warehouse_dashboard_pickup_task_pickup_consignment_show_path_path(@warehouse,@admin_pickup_task,pickup_consignment),:class => "text-danger glyphicon glyphicon-remove",:remote => true %>
        <% end %>
      </div>
        <div class="col-sm-2 col-xs-2">
        </div>
        <div class="col-sm-1 col-xs-2">
          <%= f.submit "UPDATE",:class => "btn btn-primary btn-xs"%>
        </div>
      <% end %>
    </div>  
    <div class="row">
       <div class="col-sm-4 col-xs-4">

       </div>
       <div class="col-sm-8 col-xs-8">
           <div class="widget-box widget-color-dark">
                      <div class="widget-header">
                        <h5 class="widget-title bigger lighter">Basic Package</h5>
                      </div>

                      <div class="widget-body">
                        <div class="widget-main">
                          <ul class="list-unstyled spaced2">
                            <li>
                              <i class="ace-icon fa fa-check green"></i>
                              10 GB Disk Space
                            </li>

                            <li>
                              <i class="ace-icon fa fa-check green"></i>
                              200 GB Bandwidth
                            </li>

                            <li>
                              <i class="ace-icon fa fa-check green"></i>
                              100 Email Accounts
                            </li>

                            <li>
                              <i class="ace-icon fa fa-check green"></i>
                              10 MySQL Databases
                            </li>

                            <li>
                              <i class="ace-icon fa fa-check green"></i>
                              $10 Ad Credit
                            </li>

                            <li>
                              <i class="ace-icon fa fa-times red"></i>
                              Free Domain
                            </li>
                          </ul>

                          <hr>
                          <div class="price">
                            $5
                            <small>/month</small>
                          </div>
                        </div>

                        <div>
                          <a href="#" class="btn btn-block btn-inverse">
                            <i class="ace-icon fa fa-shopping-cart bigger-110"></i>
                            <span>Buy</span>
                          </a>
                        </div>
                      </div>
                    </div>
       </div>
    </div>        
  <% end %>
</div>