<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-history"></i>&nbsp;Pickup Tasks </li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div> 

<div class="page-content">

<!-- flash start --> 
<div class="flash_message_panel" style="height: 70px;padding-top:2px">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
  
<div class="col-sm-12 col-xs-12">
  <div class="searchable_content2">
    <%= render "searchable_content"%>
  </div> 
</div>
</div>
  




