<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-history"></i>&nbsp;<%= link_to "Tasks", admin_warehouse_dashboard_pickup_tasks_path(@warehouse),:remote => true %></li>
    <li class="active"><%= @admin_pickup_task.task_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <button class="print-link1 btn btn-primary btn-sm " onclick="PrintElem1('#ele3')"> Print </button> 
    <%= link_to ' Delete', delete_admin_warehouse_dashboard_pickup_task_path(@warehouse,@admin_pickup_task), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-sm gly",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div>

 
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="panel panel-default load_package_tasks">
    <%= render "load_pickup_task_show" %>
  </div>
  <div class="print_hide">
    <div class="print_task" id ="ele3">   
      <div class="col-sm-12 text-info bold">Task Number   -   <%= @admin_pickup_task.task_number %></div>
      <br /><br />
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td class = "text-info bold">S_Number</td>
              <td  class = "text-info bold">Consignment_Number</td>
              <td  class = "text-info bold">Order_Number</td>
              <td  class = "text-info bold">Confirmed</td>
              <td  class = "text-info bold">Packed</td>
              <td  class = "text-info bold">Logistic</td>
              <td  class = "text-info bold">Delivery Status</td>
            </tr>
          </thead>
          <tbody>
          <% a = 1%>
            <% @admin_pickup_task.pickup_consignments.each do |pickup_consignment| %>
              <tr>
                <td><%= a %></td>
                <td><%= pickup_consignment.pickup_consignment_number %></td>
                <td><%= pickup_consignment.consignment.order.order_number %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% a+=1 %>         
            <% end %>
          </tbody>
        </table>
      </div>      
    </div>
  </div>
</div>





<script type="text/javascript">

function PrintElem1(elem)
{
    $(".print_hide").hide();
    Popup($(elem).html());
}

function Popup(data) 
{
    $(".print_hide").hide();
    var mywindow = window.open('', 'my div', 'height=800,width=1200');
    mywindow.document.write('<html><head><title>my div</title>');
    //mywindow.document.write('<link rel="stylesheet" href="boostrap.css" type="text/css" />');
    mywindow.document.write('</head><body >');
    mywindow.document.write(data);
    mywindow.document.write('</body></html>');

    mywindow.print();
    mywindow.close();

    return true;
}

</script>
