<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#all_orders" role="tab" data-toggle="tab">All Orders</a></li>
  <li><a href="#up" role="tab" data-toggle="tab">Unprocessed Order</a></li>
  <li><a href="#pwh" role="tab" data-toggle="tab">Warehouse Partially Assigned Order</a></li>
  <li><a href="#wh" role="tab" data-toggle="tab">Warehouse Assigned Order</a></li>
</ul>     
<div class="tab-content">
  <div class="tab-pane active" id="all_orders" style ="background:none;">
    <div class = "searchable_content1" style="margin-left:20px;">
      <%= render "searchable_content"%>
    </div>
  </div>
  <div class="tab-pane" id="up" style ="background:none;">
    <div class = "up_searchable_content1" style="margin-left:20px;">
      <%= render "up_searchable_content"%>
    </div>         
  </div>
  <div class="tab-pane" id="pwh" style ="background:none;">
    <div class = "pa_searchable_content1" style="margin-left:20px;">
      <%= render "pa_searchable_content"%>
    </div>   
  </div>
  <div class="tab-pane" id="wh" style ="background:none;">
    <div class = "wh_searchable_content1" style="margin-left:20px;">
      <%= render "wh_searchable_content"%>
    </div>   
  </div>
</div>
