<br/>    
<%= form_for(@order, :url => admin_order_path(@order),:html => {:id => 'order_shippment_form' },:remote => true) do |f| %> 
  <%= f.hidden_field :for_check ,:value => 1 %>
  <%= f.hidden_field :to_submit_for_variant ,:value => 0 %>
  <%= f.hidden_field :to_submit_for_quantity ,:value => 0 %>
  <div class="row">  
    <div class="col-sm-5 col-xs-12 text-center">
      <%= f.label :status, "SHIPPING ADDRESS",:class => ""%>
    </div> 
    <div class="col-sm-7 col-xs-12">
      <div class="col-sm-4 col-xs-12">
        <%= f.label :status, "ORDER ITEMS",:class => ""%>
      </div>  
      <div class="col-sm-7 col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control sku_val" placeholder="Enter SKU To Add New Product">
          <span class="input-group-btn">
            <button class="btn btn-default search_sku" type="button" data-url = "<%= admin_order_find_variant_with_sku_path(@order) %>" >Go!</button>
          </span> 
        </div>
      </div> 
    </div>    
  </div><br/><br/>            
  <div class="row">    
    <div class="scroll_div col-sm-5 col-xs-12">
      <%= f.hidden_field :shipping_address_id, :value => @order.shipping_address.id %>
      <% @order.user.shipping_address.each do |shipping_address| %>
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default"> 
          <div class="panel-body" >
            <div class="row">
              <div class="col-sm-1 col-xs-2">
                <% if @order.shipping_address.id == shipping_address.id %>
                  <%= check_box_tag('shipping_address', shipping_address.id,true,:class => "checkboxs1 shipping_check") %>
                <% else %>
                  <%= check_box 'shipping_address_id', shipping_address.id , {class: "checkboxs1 shipping_check"}, shipping_address.id, 'false' %>
                <% end %>
              </div> 
              <div class="col-sm-9 col-xs-10">
                <div class="row borders">
                  <div class= "col-sm-7 col-xs-7">
                    <strong class="fs14">
                      <%= shipping_address.name %>
                    </strong>
                  </div><br/>
                </div>
                <div class="row">
                  <div class= "col-sm-10 col-xs-12">
                    <%= shipping_address.add_line1 %>
                  </div>
                </div>
                <div class="row">
                  <div class= "col-sm-10 col-xs-12">
                    <%= shipping_address.add_line2 %>,
                  </div>
                </div>
                <div class="row">
                  <div class= "col-sm-10 col-xs-12">
                    <%= shipping_address.state %><br/>
                  </div>
                </div>
                <div class="row">
                  <div class= "col-sm-10 col-xs-12">
                    <%= shipping_address.country %>-
                  </div>
                </div>
                <div class="row">
                  <div class= "col-sm-10 col-xs-12">
                    <%= shipping_address.pincode %>
                  </div>
                </div>
                <div class="row">
                  <div class= "col-sm-10 col-xs-12">
                    <%= shipping_address.phone %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div><br/><% g = 0%>
    <div class="col-sm-7 col-xs-12 add_order_items_field">
      <%= f.fields_for :order_items do |builder| %>
        <%= render  'order_items', f: builder, g: g  %>
        <% g += 1 %>
      <% end %>
    </div>
  </div>
  <div class="row text-center">
    <div class="actions">
      <%= f.submit "Next", :class => "btn btn-primary" %>
    </div>
    <br />
  </div>  
<% end %>  


