<fieldset class="center"> 
  <% variant = Admin::Variant.find(variant_id) %>
  <% product = Admin::Product.find(variant.product_id) %>
  <% bal_qty = balance_qty(variant) %>
  <% order_link = admin_order_path(@order) %>
  <% price = variant.user_price(@order.shipping_address.pincode) %>
  <%= f.hidden_field :per_qty_price, :value => price.to_i %>
  <%= f.hidden_field :variant_id, :value => variant_id %>
  <span class="order_shipping_address_id_val" style="display:none"><%= @order.shipping_address.id %></span>
  <div class="row borders">
    <div class="col-sm-2 col-xs-4">
      <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "thumbnail", :style => "width:80px;height:60px;" %>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= variant.name %>
    </div> 
    <div class="col-sm-2 col-xs-4">
      <% @collect = limit_bal_qty(bal_qty.to_i - up_order_qty(variant))%>
      <%= f.select :qty, YAML.load(@collect),{},:class => " form-control order_quantity_change",:id => "order_qty_#{variant_id}" %>
      <span id="error_order_qty_<%= variant_id %>" class="  error_list" style="display:none;"></span></br>  
    </div>
    <div class="col-sm-3 col-xs-4">
      <strong id = "order_price_<%= f.object.variant_id %>">RS .<%= price %></strong>
    </div>
    <div class="col-sm-1 col-xs-4">
    </div>
  </div><br/>      
</fieldset>           

