<%= form_for @order, :url => admin_order_path(@order),:remote =>true,:method => "put" ,:class => "edit_order_confirmation"  do |f| %>
  <%= f.hidden_field :present_user, :value => current_user.id.to_i %>
  <input type='hidden' name="issubmit" value="1">
	<div id="step-1">	
    <h2 class="StepTitle st text-info">Step 1: Order Confirmation</h2><br/><br/>
    <div class="row order_confirmation">
      <div class="first_step_show">
    	  <div class="col-sm-4 col-xs-6">
    	    <%= f.label :pay_val, "Payment Confirmation"%>
    	  </div>
    	  <div class="col-sm-4 col-xs-6">
          <% if @order.pay_val.nil? %>
      	    <%= f.radio_button :pay_val, 'true',:class => "text-muted" %> 
            <%= label :pay_val, 'Approve' %>
            <%= f.radio_button :pay_val, 'false' %>
            <%= label :pay_val, 'Cancel' %> 
          <% elsif @order.pay_val == false %>
      	     <% pay_val_reason_val = @order.rejection_reasons.where(:attr_value => "pay_val" ).order('created_at DESC').first.reason %>
      		  <%= f.radio_button :pay_val, 'true',:class => "text-muted" %> 
      		  <%= f.radio_button :pay_val, 'false',:style => "display:none;" %>
      		  <%= label :pay_val, 'Approve' %> 
      		  <span class="text-muted"><%= pay_val_reason_val %></span>
      		<% else %>
            <%= f.radio_button :pay_val, 'false',:class => "text-muted" %>
            <%= f.radio_button :pay_val, 'true',:style => "display:none;" %>
            <%= label :pay_val, 'Cancel' %>
          <% end %><br/>
    	    <span id="msg_username"></span>
    	  </div>
        <div class="pay_val_reason" style = "display:none">
          <div class="col-sm-3 col-xs-6">
            <%= f.text_field :pay_val_reason,:class => "form-control", :placeholder => "Reason" %><br/>
            <span id="msg_reason1"></span>
          </div>
        </div>
	    </div> 
	  </div>
	  <div class="first_step_flash_show" style="">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 first_step_flash_show_msg"></div>
      </div>
    </div>         			
  </div>
  <div id="step-2">
    <h2 class="StepTitle st text-info">Step 2: User Verification</h2>	<br/><br/>
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <%= f.label :cal_conf, "Call Confirmation"%>
      </div>
      <div class="col-sm-4 col-xs-6">
        <% if @order.cal_conf.nil? %>
          <%= f.radio_button :cal_conf, 'true',:class => "cal_conf_class" %> 
          <%= label :cal_conf, 'Approve' %>
          <%= f.radio_button :cal_conf, 'false' %>
          <%= label :cal_conf, 'Cancel' %>
        <% elsif @order.cal_conf == false %>
          <% cal_conf_reason_val = @order.rejection_reasons.where(:attr_value => "cal_conf" ).order('created_at DESC').first.reason %>
          <%= f.radio_button :cal_conf, 'true',:class => "cal_conf_class" %> 
          <%= f.radio_button :cal_conf, 'false',:style => "display:none" %>
          <%= label :cal_conf, 'Approve' %>
          <span class="text-muted"><%= cal_conf_reason_val %></span>
        <% else %>
          <%= f.radio_button :cal_conf, 'false',:class => "cal_conf_class" %>
          <%= f.radio_button :cal_conf, 'true',:style => "display:none" %> 
          <%= label :cal_conf, 'Cancel' %>
        <% end %><br/>
        <span id="msg_firstname"></span>
      </div>
      <div class="cal_conf_reason" style = "display:none">
        <div class="col-sm-3 col-xs-6">
          <%= f.text_field :cal_conf_reason,:class => "form-control",:value =>cal_conf_reason_val, :placeholder => "Reason"  %>
          <span id="msg_reason2"></span>
        </div>
      </div><br/>
    </div><br/>
    <div class="row"> 
      <div class="col-sm-4 col-xs-6">
        <%= f.label :prev_rec, "Previous Order History" %>
      </div>
      <div class="col-sm-5 col-xs-6">
        <% if @order.prev_rec.nil? %>
          <%= f.radio_button :prev_rec, 'true' %>
          <%= label :prev_rec, 'Approve' %>
          <%= f.radio_button :prev_rec, 'false' %> 
          <%= label :prev_rec, 'Cancel' %>
        <% elsif @order.prev_rec == false %>
          <% prev_rec_reason_val = @order.rejection_reasons.where(:attr_value => "prev_rec" ).order('created_at DESC').first.reason %>
  	      <%= f.radio_button :prev_rec, 'true' %>
  	      <%= f.radio_button :prev_rec, 'false',:style => "display:none;" %> 
  	      <%= label :prev_rec, 'Approve' %>
          <span class="text-muted"><%= prev_rec_reason_val %></span>
        <% else %>
  	      <%= f.radio_button :prev_rec, 'false' %>
  	      <%= f.radio_button :prev_rec, 'true',:style => "display:none;" %>
  	      <%= label :prev_rec, 'Cancel' %>
        <% end %><br/>
        <span id="msg_gender"></span>
      </div>
      <div class="prev_rec_reason" style = "display:none">
        <div class="col-sm-4 col-xs-6">
          <%= f.text_field :prev_rec_reason,:class => "form-control",:value => prev_rec_reason_val, :placeholder => "Reason"  %>
          <span id="msg_reason3"></span>
        </div>
      </div><br/>
    </div>
  </div>  
<% end %>