<br/>
<% if @pa_order.present? %>  
<div class="table-header">
    Partial Order List
  </div>  
  <table id="pa_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>User</th>
          <th>Payment Mode</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>Order Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pa_order.each do |order| %>
        <tr>
          <td>
            <%= link_to order.order_number, admin_order_path( order),:remote => true %>
          </td>
          <td>
            <%= order.user.email %>
          </td>
          <td>
            <%= order.payment_mode %>
          </td>
          <td>
            <%= order.payment_status %>
          </td>
          <td>
            <%= order.status %>
          </td>
          <td><%= order.order_cost %></td>
          <td><%= link_to '', edit_admin_order_path(order),:class => "glyphicon glyphicon-pencil text-success",:remote => true %></td>
        </tr>
        <% end %>
      </tbody>
    </table> 
<% else %>
  <span class="row text-center text-muted">Partial Warehouse Assigned Orders does not exist</span>
<% end %>
        

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [6],
      "bSortable": false
    }
  ];
  var dataTable = $('#pa_orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>