<br/> 
<% if @orders.present? %>
  <div class="table-header">
    Order List
  </div> 
  <div class="table-responsive">
  <table id="orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>User</th>
        <th>Payment Mode</th>
        <th>Payment Status</th>
        <th>Order Status</th>
        <th>Order Cost</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to order.order_number, admin_order_path( order),:remote => true %>
        </td>
        <td>
          <%= order.user.email %>
        </td>
        <td>
          <%= order.payment_mode %>
        </td>
        <td>
          <%= order.payment_status %>
        </td>
        <td>
          <%= order.status %>
        </td>
        <td><%= order.order_cost %></td>
        <td><%= order.created_at.strftime("%I:%M %p %d %b %Y") %></td>
        <td><%= link_to '', edit_admin_order_path(order),:class => "glyphicon glyphicon-pencil text-success"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>   
  </div>
<% end %>


<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [7],
      "bSortable": false
    }
  ];
  var dataTable = $('#orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>