<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><%= link_to "Orders", admin_orders_path,:remote => true %></li>
    <li><%= link_to @order.order_number, admin_order_path( @order) %></li>
    <li class="active">Edit Orders</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" style="height: 70px;padding-top:2px">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
     
<% if @order.status == "up" %>            
  <div class="normal_form">
    <div class="col-sm-12 col-xs-12 order_form">
      <div class="row">  
        <%= render partial: "order_form" %>
      </div>
    </div>  
    </br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/>  </br/></br/></br/> 
    <div class="col-sm-4 col-xs-12 ship_form">
      <%= render partial: "ship_form" %>
    </div>   
  <% else %>
    <span class="text-muted">Sorry You Cannot Edit This Order</span> 
  <% end %>
</div>
<div class="preview_form">
</div>       
</div>