<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <i class="ace-icon fa fa-home home-icon"></i>
    <li class="active">Orders</li>
  </ul><!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
</div><br/>
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" style="padding-top:2px">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

  <div class = "all_order">
    <%= render "all_order" %> 
  </div>
</div>
