<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <%= link_to "Home", root_path %>
    </li>
    <li class="markthis"><%= link_to "Orders", admin_orders_path,:remote => true %></li>
    <li class="markthis"><%= link_to @order.order_number, admin_order_path(@order),:remote => true %></li>
    <li class="active">Order Logs</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
   
  </div>
  <!-- button panel end --> 
 
</div>

 
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

<% unless @admin_order_logs.nil? %>
  <h3>Order Number - <%= @order.order_number %></h3>
  <ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
    <% @admin_order_logs.reverse.each_with_index  do |admin_order_log, n| %> 
      <% unless n == @admin_order_logs.size-1  %>
        <% @admin_order_log_previous = @admin_order_logs.reverse[n+1] %>
      <% else %>
        <% @admin_order_log_previous = '' %>
      <% end %>
      <%= content_tag_for :li, admin_order_log do %>              
        <span class="sortname">
          <% if admin_order_log.cancel.present? %>
            Cancelled <%= admin_order_log.updated_at %>
          <% elsif @order.pay_val == true %>
            Updated <%= admin_order_log.updated_at %>
          <% else %>
            Created
          <% end %>
        </span>
        <span class="admin_category_<%= admin_order_log.id %>  sort_child pull-right glyphicon glyphicon-chevron-down" style =" margin-left:67%;"></span>             
          <ul id="child-cats" class="child-cats admin_category_<%= admin_order_log.id %>" data-update-url="<%= sort_admin_categories_path %>">                
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10"><br />
                  <table class="table">           
                    <tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
                      <th class="">Order_Cost</th>
                      <th class="">Shipping Address</th>
                      <th class="">Verification</th>
                      <th class="">Updated By</th>
                    </tr>                        
                    <tr class="bp1">
                      <td >
                        
                        <div class="col-sm-12 ">  
                          <div class="row">
                          <div class="col-sm-9">
                            <% if @admin_order_log_previous.present? %>
                              <% if @admin_order_log_previous.order_cost == admin_order_log.order_cost %>
                                <div class="c999">
                              <% else %>
                                <div class="c999 text-danger">
                              <% end %>
                            <% else %>
                              <div class="c999">
                            <% end %>
                              <strong><%= admin_order_log.order_cost %></strong>
                            </div>                                          
                          </div></div><br/><br/><br/>
                          <div class="row">
                            <% if @admin_order_log_previous.present? %>
                              <% if @admin_order_log_previous.status == admin_order_log.status %>
                                <div class="c999">
                              <% else %>
                                <div class="c999 text-danger">
                              <% end %>
                            <% else %>
                              <div class="c999">
                            <% end %>
                            <strong><span class="text-primary">STATUS: </span><%= admin_order_log.status %></strong>
                            </div>
                        </div></div>     
                      </td>
                      <% if @admin_order_log_previous.present? %>
                        <% if @admin_order_log_previous.shipping_address_id == admin_order_log.shipping_address_id %>
                          <td class="border_none">
                        <% else %>
                          <td class="border_none text-danger">
                        <% end %>
                      <% else %>
                        <td class="border_none">
                      <% end %>
                        <%= admin_order_log.shipping_address.name %><br />
                        <%= admin_order_log.shipping_address.add_line1 %><br />
                        <%= admin_order_log.shipping_address.add_line2 %> - <%= admin_order_log.shipping_address.pincode %>
                        <%= admin_order_log.shipping_address.state %> ,<%= @order.shipping_address.country %>
                        <%= admin_order_log.shipping_address.c_code %><br />
                        <%= admin_order_log.shipping_address.phone %><br /><br />    
                      </td>
                      <td class="border_none">
                      <% if @admin_order_log_previous.present? %>
                        <% if @admin_order_log_previous.pay_val == admin_order_log.pay_val %>
                          <p class="fs14 pend">
                        <% else %>
                          <p class="fs14 pend text-danger">
                        <% end %>
                      <% else %>
                        <p class=" fs14 pend">
                      <% end %>
                      <% if admin_order_log.pay_val == true %> 
                        Pay Value Conformed</p>
                      <% else %>     
                        Pay Value Not Conformed                     
                      <% end %></p>
                      <% if @admin_order_log_previous.present? %>
                        <% if @admin_order_log_previous.cal_conf == admin_order_log.cal_conf %>
                          <p class="fs14 pend">
                        <% else %>
                          <p class="fs14 pend text-danger">
                        <% end %>
                      <% else %>
                        <p class="fs14 pend">
                      <% end %>
                      <% if admin_order_log.cal_conf == true %>
                        Call Conformed
                      <% else %>        
                        Call NotConformed                  
                      <% end %>
                      </p>
                      <% if @admin_order_log_previous.present? %>
                        <% if @admin_order_log_previous.prev_rec == admin_order_log.prev_rec %>
                          <p class=" fs14 pend">
                        <% else %>
                          <p class="fs14 pend text-danger">
                        <% end %>
                      <% else %>
                        <p class="fs14 pend">
                      <% end %>
                      <% if admin_order_log.prev_rec == true %>
                        Previous record Conformed
                      <% else %>       
                        Previous record Not Conformed                      
                      <% end %>  </p>             
                      </td> 
                      <td class="border_none">
                        <% if admin_order_log.updated_by.present? %>
                          Email - <strong><% updated_by = User.find(admin_order_log.updated_by) %>
                          <%= updated_by.email %></strong>
                        <br />
                          Role - <%= updated_by.permission.role.name %>
                        <% end %>
                      </td>
                    </tr> 
                    <tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1" >
                      <th></th>
                      <th></th>
                      <th class="txt-up c666 f-bold fs11 pt6 pb6 text-success log_parent" id = "order_log_<%= admin_order_log.id %>">
                         ORDER ITEMS <span class="glyphicon glyphicon-chevron-down"></span>
                      </th>
                      <th></th>
                    </tr><table class =" table order_item_log_child" id="order_item_log_<%= admin_order_log.id %>">
                    <tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1" >
                      <th class="txt-up c666 f-bold fs11 pt6 pb6">variant</th>
                      <th class="txt-up c666 f-bold fs11 pt6 pb6">Qty</th>
                      <th class="txt-up c666 f-bold fs11 pt6 pb6">Per Qty Price
                      </th>
                      <th class="txt-up c666 f-bold fs11 pt6 pb6">Price</th>
                    </tr>
                    <% admin_order_log.order_item_logs.each  do |admin_order_item_log| %> 
                      <% variant = Admin::Variant.find(admin_order_item_log.variant_id) %>
                      <% if @admin_order_log_previous.present? %>
                        <% admin_order_item_log_previous = @admin_order_log_previous.order_item_logs.where(:variant_id => admin_order_item_log.variant_id).first %>
                      <% end %>
                      <% if admin_order_item_log_previous.present? %>
                        <tr class="bp1">
                      <% elsif @admin_order_log_previous.present? %>
                        <tr class="bp1 bg-success text-success">
                      <% else %>
                        <tr class="bp1">
                      <% end %>
                        <td >
                          <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "thumbnail", :style => "width:80px;height:60px;" %><strong>
                          <%= variant.name %></strong>
                        </td>
                        <% if admin_order_item_log_previous.present? %>
                          <% if admin_order_item_log_previous.qty == admin_order_item_log.qty %>
                            <td>
                          <% else %>
                            <td class="text-danger">
                          <% end %>
                        <% else %>
                          <td>
                        <% end %>
                          <strong>
                          <%= admin_order_item_log.qty %></strong>
                        </td>
                        <% if admin_order_item_log_previous.present? %>
                          <% if admin_order_item_log_previous.per_qty_price == admin_order_item_log.per_qty_price %>
                            <td>
                          <% else %>
                            <td class="text-danger">
                          <% end %>
                        <% else %>
                          <td>
                        <% end %>
                          <strong><%= admin_order_item_log.per_qty_price %></strong>
                        </td>
                        <% if admin_order_item_log_previous.present? %>
                          <% if admin_order_item_log_previous.price == admin_order_item_log.price %>
                            <td>
                          <% else %>
                            <td class="text-danger">
                          <% end %>
                        <% else %>
                          <td>
                        <% end %>
                          <strong><%= admin_order_item_log.price %></strong>
                        </td>
                      </tr>
                    <% end %></table>
                      <% if admin_order_log.cancel.present? %>
                      <% if params[:cancel].nil? %>
                      <tr  class="bp1">
                        <th class="txt-up c666 f-bold fs11 pt6 pb6 bp1">Cancel</th>
                        <th class=""><%= admin_order_log.cancel %> </th>                      
                      </tr>
                      <tr class="bp1">
                        <td class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
                              Remarks   
                        </td>
                        <td class="border_none">
                          <%= admin_order_log.remarks %>
                        </td>                           
                      </tr>
                      <% else %>
                      <% end %>   
                      <% end %>                      
                  </table>
                </div>
                <div class="col-sm-1">
                </div>
              </div>
            </div>
          </ul>                   
      <% end %>  
    <% end %>
  </ul> 
<% end %>      
</div>