<span class="order_id" style="display:none;"><%= admin_order_path( @order) %></span>
<span class="order_id1" style="display:none;"><%= admin_orders_path %></span>
<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><%= link_to "Orders", admin_orders_path,:remote => true %></li>
    <li class="active"><%= @order.order_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to 'Edit Orders', edit_admin_order_path(@order), :class => "btn btn-sm btn-primary" %>
    <%= link_to 'Order Logs', admin_order_order_logs_path(@order), :class => "btn btn-sm btn-primary",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->


<% if @order.pay_val.nil? || @order.pay_val == false %>
  <span class="current_stage" style="display:none">0</span>
<% elsif @order.cal_conf.nil? || @order.prev_rec.nil? || @order.cal_conf == false || @order.prev_rec == false %>
  <span class="current_stage" style="display:none">1</span>
<% else %>
  <span class="current_stage" style="display:none">2</span>
<% end %>
<div class = "row">
  <div class="col-sm-7 col-xs-12"> 
    <div class="table-header">ORDER DETAILS</div>
    <div class="table-responsive">
    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Order Number</th>
            <th>Order Cost</th>
            <th>Paymet Mode</th>
            <th>Paymet Status</th>
            <th>Order Status</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @order.order_number %>
            </td>
            <td>
              <%= @order.order_cost %>
            </td>
            <td>
            <%= @order.payment_mode %>
            </td>
            <td>
             <%= @order.payment_status %>
            </td>
            <td><%= @order.status %></td>
            <td><%= @order.shipping_address.name %><br/>
            <%= @order.shipping_address.add_line1 %>,
            <%= @order.shipping_address.add_line2 %><br/>
            <%= @order.shipping_address.state %>,
            <%= @order.shipping_address.country %>-
            <%= @order.shipping_address.c_code %><br/>
            <%= @order.shipping_address.pincode %><br/>
            <%= @order.shipping_address.phone %></td>
          </tr>
        </tbody>
      </table>
      </div>
    <div class="rejection_reason">
      <!-- Tabs -->
      <div id="wizard" class="swMain zindex">
        <ul>
          <li>
            <a href="#step-1">
              <span class="stepNumber">1</span>
              <span class="stepDesc" style="color:white">Order Confirmation<br /></span>
            </a>
          </li>
          <li>
            <a href="#step-2">
              <span class="stepNumber">2</span>
              <span class="stepDesc" style="color:white">User Verification<br /></span>
            </a></li>
          <li>
            <a href="#step-3">
              <span class="stepNumber">3</span>
              <span class="stepDesc">Assigning Warehouse<br /></span>
            </a>
          </li>
        </ul>
        <span class="order_confirmt">
          <%= render partial: "order_confirmation" %>
        </span>                   
        <div id="step-3" >
          <h2 class="StepTitle text-info">Step 3: Assigning Warehouse</h2><br/>
          <div class="row consignment_warehouse">
            <%= render partial: "consignment_warehouse" %>
          </div>                                  
        </div>
      </div>
  <!-- End SmartWizard Content -->      
    </div>
  </div>
  <div class="col-sm-5 col-xs-12">
    <div class="table-header">ORDER ITEMS</div>
    <div class="table-responsive">
    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
          <tr>
            <th>Variant</th>
            <th>Qty</th>
            <th>Shipping Plan</th>
            <th>Purchase Cost</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
          <% @variant = Admin::Variant.find(order_item.variant_id) %>
          <% @shipping =@order.shipping_cost %>
          <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
          <tr>
            <td>
              <%= @variant.name %>
            </td>
            <td>
              <%=order_item.qty %>
            </td>
            <td>
             
            </td>
            <td>
             RS. <%= order_item.price %><br/>
              <span class="text-muted">
                Selling Price: <%= selling_price %><br/>
                Shipping Cost: <%= @shipping %><br/>
                Tax: <%= order_item.price - (@shipping + selling_price) %></span>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <br />

    
      <div class="user_details" style="overflow-y: scroll;overflow-x: hidden;width: 100%;height: 300px;"><br/>
    
      </div>
    
  </div>
</div>
<div class="fl order-detail-left">
  <p class="txt-up c666 f-bold fs11 pt6 pb6" id="qa-prdct-details-title"> 
    <span class="delivery">create</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery">verify</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery">Assign warehouse</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery">create</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery">delegate</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery">conform</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery">dispatch</span>
    <span class="glyphicon glyphicon-arrow-right text-muted"></span>
    <span class="delivery-transit ">delivery</span>
  </p>
  <div class="col-sm-4">
    <div class="progressing">
      <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Created at <%= @order.created_at %>">
        <span class="label"></span>
        <span class="title"></span>
      </div>
      <% if @order.cal_conf == true && @order.prev_rec == true && @order.pay_val == true %>
        <span class="bar done"></span>
        <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Order is successfully Verified">
          <span class="label"></span>
          <span class="title"></span>
        </div>
      <% elsif @order.cal_conf == false || @order.prev_rec == false || @order.pay_val == false %>
        <span class="bar failed"></span>
        <div class="circle failed" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Verification Failed">
          <span class="label"></span>
          <span class="title"></span>
        </div>
      <% else %>
        <span class="bar"></span>
        <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          <span class="label"></span>
          <span class="title"></span>
        </div>
      <% end %>
      <% if @order.status == "wh" %>
        <span class="bar done"></span>
        <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Order has been segregated as consignments">
          <span class="label"></span>
          <span class="title"></span>
        </div>
      <% else %>
        <span class="bar"></span>
        <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Order Status: <%= @order.status %>">
          <span class="label"></span>
          <span class="title"></span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="product-list">
      <% @order.consignments.where(:parent_consignment_id => nil).each do |consignment|%>
        <li style="list-style-type: none;height:82px;" class="hoverd">
          <div class="col-sm-8">
          <div class="progressing">
            <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Created at <%= consignment.created_at %>">
              <span class="label"></span>
              <span class="title"></span>
            </div>
            <% if consignment.package_tasks.first.present? %>
              <span class="bar done"></span>
              <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Delegated under <%= consignment.package_tasks.first.task_number %>">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% else %>
              <span class="bar"></span>
              <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet delegated">
                <span class="label"></span>
                <span class="title"><%= link_to "",admin_warehouse_dashboard_consignments_path(consignment.warehouse , consignment) %></span>
              </div>
            <% end %>
            <% if consignment.conform == true %>
              <span class="bar done"></span>
              <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Confirmed">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% else %>
              <span class="bar"></span>
              <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet confirmed">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% end %>
            <% if consignment.logistic_id.present? %>
              <span class="bar done"></span>
              <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Dispatch is undertaken by <%= consignment.logistic.name%>">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% else %>
              <span class="bar"></span>
              <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for dispatch">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% end %>
            <% if consignment.delivery_status == true %>
              <span class="bar done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment delivered successfully"></span>
              <div class="circle done">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% elsif consignment.delivery_status == false %>
              <span class="bar failed" data-container="body"></span>
              <div class="circle failed" data-toggle="popover" data-placement="bottom" data-content="Consignment not delivered">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% else %>
              <span class="bar"></span>
              <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for delivery status">
                <span class="label"></span>
                <span class="title"></span>
              </div>
            <% end %>
          </div>
          </div>
          <div class="col-sm-4">
            <div class=""><strong><%= link_to consignment.consignment_number, admin_order_shipment_path(@order , consignment),:remote => true %></strong></div>
          </div>
        </li>
        <% if consignment.delivery_status == false %>
          <% if consignment.resends.present? %>
            <% consignment.resends.each do |resend_consignment|%>
              <li style="list-style-type: none;height:82px;" class=" bg-warning">
                <div class="col-sm-8">
                  <div class="progressing">
                    <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Created at <%= consignment.created_at %>">
                      <span class="label"></span>
                      <span class="title"></span>
                    </div>
                    <% if resend_consignment.resend_tasks.first.present? %>
                      <span class="bar done"></span>
                      <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Delegated under <%= resend_consignment.resend_tasks.first.task_number %>">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% else %>
                      <span class="bar"></span>
                      <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet delegated">
                        <span class="label"></span>
                        <span class="title"><%= link_to "",admin_warehouse_dashboard_consignments_path(resend_consignment.warehouse , resend_consignment) %></span>
                      </div>
                    <% end %>
                    <% if resend_consignment.conform == true %>
                      <span class="bar done"></span>
                      <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Confirmed">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% else %>
                      <span class="bar"></span>
                      <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet confirmed">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% end %>
                    <% if resend_consignment.logistic_id.present? %>
                      <span class="bar done"></span>
                      <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Dispatch is undertaken by <%= consignment.logistic.name%>">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% else %>
                      <span class="bar"></span>
                      <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for dispatch">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% end %>
                    <% if resend_consignment.delivery_status == true %>
                      <span class="bar done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment delivered successfully"></span>
                      <div class="circle done">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% elsif resend_consignment.delivery_status == false %>
                      <span class="bar failed" data-container="body"></span>
                      <div class="circle failed" data-toggle="popover" data-placement="bottom" data-content="Consignment not delivered">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% else %>
                      <span class="bar"></span>
                      <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for delivery status">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="text-warning" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Resend for <%=  consignment.consignment_number %>"><strong><%= link_to resend_consignment.consignment_number, admin_order_shipment_path(@order , resend_consignment),:remote => true %>&nbsp&nbsp RESEND</strong></div>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>
 <script>

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  $(document).ready(function(){
    var current_stage = parseInt($(".current_stage").text());
    $('#wizard').smartWizard({transitionEffect:'slideleft',onLeaveStep:leaveAStepCallback,selected: current_stage });
      function leaveAStepCallback(obj){
        var step_num= obj.attr('rel');
        return validateSteps(step_num);
      }
      if (current_stage == 2){
        $(".stepContainer").css("height","300px");
        $(".stepContainer").css("display","block");
      }
    });
    setTimeout(function() {
    var url = $(".order_id").text();
      $.ajax({
        url: url,
        data: {'view':'1'},
        type: 'GET',
        success: function(data, event, status, xhr) {
        },
        error: function(data, event, status, xhr) {
        }
      });
    }, 1000);
  $('[data-toggle="popover"]').popover({
    trigger: "hover"
  });
</script>

 
