<div class="row text-center text-success borders">
  <div class="col-sm-5 col-xs-12"><strong>Order Number</strong></div>
  <div class="col-sm-2 col-xs-12"><strong>Status</strong></div>
  <div class="col-sm-2 col-xs-12"><strong>Payment Mode</strong></div>
  <div class="col-sm-2 col-xs-12"><strong>Order Cost</strong></div>
  <div class="col-sm-1 col-xs-12"><strong>Payment Status</strong></div>
</div><br/>
<% @order.user.orders.each do |user_order| %>
<div class="row info-borders">
  <div class="col-sm-5 col-xs-12"><%= user_order.order_number %></div>
  <div class="col-sm-2 col-xs-12"><%= user_order.status %></div>
  <div class="col-sm-2 col-xs-12"><%= user_order.payment_mode %></div>
  <div class="col-sm-2 col-xs-12"><%= user_order.order_cost %></div>
  <div class="col-sm-1 col-xs-12"><%= user_order.payment_status%></div>
</div>
<% end %>
