  <br />
  <div class="border"> 
    <div class="pull-right">
      <% if @support_ticket_task.status == "up" %>
        <%= form_for(@support_ticket_task,:url => admin_warehouse_dashboard_warehouse_ticket_task_path(@warehouse,@support_ticket_task)) do |f| %>
          <%= f.hidden_field :status,:value => "inprogress" %>
          <%= f.submit "CLICK TO PROCED",:class => "btn btn-primary" %>
        <% end %>
      <% else %>
        <span class="btn btn-success">IN PROGRESS</span>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to "Ticket Tasks" , support_ticket_tasks_path,:remote => true%></li>
          <li class="active"><%= @support_ticket_task.task_number %></li>
        </ol>
      </div>
    </div>
  </div><br/>  
  <!-- Tab panes -->
  <div class = "row">
    <div class="col-sm-7 col-xs-12">
      <div class="row">
        <div class="panel panel-info " >
            <div class="panel-heading text-center">
              <strong>TICKET TASK DETAILS</strong> 
            </div>
          <div class="panel-body"><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Task Number</strong></div>
            <div class="col-sm-9"><%= @support_ticket_task.task_number %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Assigned By</strong></div>
            <div class="col-sm-9"><%= User.find(@support_ticket_task.assigned_by).email %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Status</strong></div>
            <div class="col-sm-9"><%= @support_ticket_task.status %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Priority</strong></div>
            <div class="col-sm-9">
              <%= @support_ticket_task.priority %>
            </div>
          </div><br/>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="panel panel-info " >
          <div class="panel-heading text-center">
            <strong>TICKET DETAILS</strong> 
          </div>
          <div class="panel-body"><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Ticket Number</strong></div>
            <div class="col-sm-9"><%= @ticket.ticket_number %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Subject</strong></div>
            <div class="col-sm-9"><%= @ticket.subject %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Status</strong></div>
            <div class="col-sm-9"><%= @ticket.status %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>User</strong></div>
            <div class="col-sm-9">
            <% if @ticket.user_id.present? %>
              <%= @ticket.user.email %>
            <% else %>
              <%=  @ticket.email %>
            <% end %></div>
          </div><br/>
          <div class="row info-borders">
            <div class="col-sm-3 text-info"><strong>Ticket Content</strong></div>
            <div class="col-sm-9"><%= @ticket.body %></div>
          </div><br/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-xs-12"> 
    <% if @ticket.status != "up" && @support_ticket_task.status != "up" %>
      <div class ="row">
        <% if @new_ticket_reply.present? && @support_ticket_task.tasks.first.nil? %>
          <div class="panel panel-success " >
            <div class="panel-heading text-center">
              <strong>REPLY</strong> 
            </div>
            <div class="panel-body"><br/>
              <%= form_for(@new_ticket_reply,:url => admin_warehouse_dashboard_warehouse_ticket_replies_path(@warehouse)) do |f| %>
                <div class="row info-borders">
                  <div class="col-sm-1 text-info"> 
                  </div>
                  <div class="col-sm-10 text-info">
                    <%= f.hidden_field :ticket_id,:value => @ticket.id %>
                    <%= f.hidden_field :ticket_task_id,:value => @support_ticket_task.id %>
                    <div class="row text-info"><strong>From</strong><br/>
                      <%= f.text_field :from_email,:class => "form-control reply_from_email" %>
                      <span id="reply_from_email_error1" class="error_list" style="display:none;"></span>
                    </div><br/>
                    <div class="row text-info"><strong>To</strong><br/>
                      <% if @ticket.user_id.present? %>
                        <%= f.text_field :to_email,:value => @ticket.user.email,:class => "form-control reply_to_email" %>
                      <% else %>
                        <%= f.text_field :to_email,:value => @ticket.email,:class => "form-control reply_to_email" %>
                      <% end %>
                      <span id="reply_to_email_error1" class="error_list" style="display:none;"></span>
                    </div><br/>
                    <div class="row text-info"><strong>Body</strong><br/>
                      <%= f.text_area :body,:class => "form-control reply_body" %>
                      <span id="reply_body_error1" class="error_list" style="display:none;"></span>
                    </div><br/>
                    <div class="row text-info">
                      <%= f.submit "REPLY",:class => "btn-success btn "%>
                    </div>
                  </div>
                </div><br/><br/>
              <% end %><br/><br/>
            </div>
          </div>
        <% elsif @ticket_reply.present? %>
          <div class="panel panel-success " >
            <div class="panel-heading text-center">
              <strong>REPLY</strong> 
            </div>
            <div class="panel-body"><br/>
              <div class="row info-borders">
                <div class="col-sm-3 text-info"><strong>From</strong></div>
                <div class="col-sm-9"><%= @ticket_reply.from_email %></div>
              </div><br/>
              <div class="row info-borders">
                <div class="col-sm-3 text-info"><strong>To</strong></div>
                <div class="col-sm-9"><%= @ticket_reply.to_email %></div>
              </div><br/>
              <div class="row info-borders">
                <div class="col-sm-3 text-info"><strong>Content</strong></div>
                <div class="col-sm-9"><%= @ticket_reply.body %></div>
              </div><br/>
            </div>
          </div>
        <% end %>
      </div>
      <% if @ticket_reply.nil? && @support_ticket_task.tasks.first.nil? %>
        <div class="row">
          <div class="panel panel-info " >
            <div class="panel-heading text-center">
              <strong>ASSIGN TASK</strong> 
            </div>
            <div class="panel-body"><br/> 
              <%= form_for(Support::TicketTask.new,:url => admin_warehouse_dashboard_warehouse_ticket_tasks_path) do |f| %>
                <%= f.hidden_field :ticket_id,:value => @ticket.id %>
                <%= f.hidden_field :assigned_by,:value => current_user.id %>
                <%= f.hidden_field :status,:value => "up" %>
                <%= f.hidden_field :parent_task_id,:value => @support_ticket_task.id %>
                <div class="row">
                  <div class="col-sm-8 text-info">
                    <%= f.collection_select :assigned_to, @assigned_user, :id, "combined_value" ,{:prompt => "User"},:class => "form-control assigned_to" %>
                    <span id="assigned_to_error1" class="error_list" style="display:none;width:130px;"></span>
                  </div>
                  <div class="col-sm-4 text-info">
                    <%= f.select :priority, options_for_select(["High", "Medium", "Low"]),{ :prompt => 'Set Priority' }, :class => "form-control priority" %> 
                    <span id="priority_error1" class="error_list" style="display:none;width:130px;"></span>
                  </div>
                </div><br/><br/>
                <div class="row text-center">
                  <%= f.submit "ASSIGN",:class => "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% elsif @support_ticket_task.tasks.first.present?  %>
        <div class="row">
          <div class="panel panel-success" >
            <div class="panel-heading text-center">
              <strong>TASK ASSIGNED</strong> 
            </div>
            <div class="panel-body"><br/> 
              <div class="row borders">
                <div class="col-sm-3 text-success">
                  <strong>Assigned To</strong>
                </div>
                <div class="col-sm-8">
                  <%= User.find(@support_ticket_task.tasks.first.assigned_to).email %>
                </div>
              </div><br/>
              <div class="row borders">
                <div class="col-sm-3 text-success">
                  <strong>Priority</strong>
                </div>
                <div class="col-sm-8">
                  <%= @support_ticket_task.tasks.first.priority %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div> 
</div>    
