<div id="password_flash"></div>
<div id="change-password forgot-box" class="forgot-box widget-box no-border visible">
	<div class="widget-body">
		<div class="widget-main">
			<p>
				Enter your email and to receive instructions
			</p>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),:remote => true,:html => { :method => :post,:id => 'changepassword'}) do |f| %>
				<fieldset>
					<label class="block">
						<span class="block input-icon input-icon-right">
						    <%= f.email_field :email, :autofocus => true,:class => "form-control",:placeholder => "Email",:id => "forget-email" %><br/>
						    <span id="email_error2" class="error_list" style="display:none;"></span>
							<i class="ace-icon fa fa-envelope"></i>
						</span>
					</label>

					<div class="clearfix">
					    <%= f.submit "Send Email",:class => "width-35 pull-right btn btn-sm btn-danger ace-icon fa fa-lightbulb-o bigger-110" %>
					</div>
				</fieldset>
			<% end %>
		</div><!-- /.widget-main -->

	
	</div><!-- /.widget-body -->
</div>


