<section class="main-container col1-layout ">
  <div class="main container">  
    <%= render(:partial => "layouts/shared/flash") %>                            
    <div class="account-login">
      <div class="page-title">
        <h2>Password Recovery</h2>
      </div> <!--page-title-->
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :id => "password_edits" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <fieldset class="col2-set">
          <div class="col-1 new-users" style="min-height:357px;"> 
            <strong>New Customers</strong>    
            <div class="content">
              <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
              <div class="buttons-set">
                <button type="button" title="Create an Account" class="button create-account"  style="margin-left:31.5%;"><span><span>Create an Account</span></span></button>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users">
            <strong>Registered Customers</strong>             
            <div class="content">
              <p>If you have an account with us, please log in.</p>
                <ul class="form-list">
                  <li>
                    <label for="pass">Password<em class="required">*</em></label>
                    <div class="input-box">
                      <%= f.password_field :password, :class => "input-text required-entry validate-password" ,:placeholder =>"Password",:id=>"pass" %>
                    </div>
                  </li>
                  <li>
                    <label for="pass">Confirm Password<em class="required">*</em></label>
                    <div class="input-box">
                      <%= f.password_field :password_confirmation, :class => "input-text required-entry validate-password" ,:placeholder =>"Password",:id=>"conf_pass" %>
                    </div>
                  </li>
                </ul>
                <p class="required">* Required Fields</p>
                <div class="buttons-set">
                  <button type="submit" class="button login" title="Login" name="send" id="send2"><span>Change my password</span></button>
                </div> <!--buttons-set-->
              </div> <!--content-->                               
            </div> <!--col-2 registered-users-->
          </fieldset> <!--col2-set-->
        <% end %>
      </div> <!--account-login--><br><br><br>         
    </div><!--main-container-->
</section>       

<script>
  $('#forget-password').submit(function(){ 
    var a = 1;
    var b = 1;
    var emails=$("#user_email").val();
    var conf_emails=$("#user_email").val();
    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    $("#advice-required-entry-email").css("display","block");
    $("#advice-required-entry-email").html("");
    if(emails==''){
      $("#advice-required-entry-email").html("enter your email id");
      return false;
    }
    else if (testEmail.test(emails)){
      return true;
    }
    else{
    $("#advice-required-entry-email").html("enter a valid email id");
    return false;
    }
  });
</script>