<section class="main-container col1-layout ">
  <div class="main container"> 
    <%= render(:partial => "layouts/shared/flash") %>                             
    <div class="account-login">
      <div class="page-title">
        <h2 style="padding-left:30%;">Forgot Your Password?</h2> 
      </div> <!--page-title-->
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,:id => "forget-password" }) do |f| %>
        <fieldset class="col2-set">
          <div class="col-2" style="margin-right:30%;"> 

          <strong>Retrieve your password here</strong>
          <div class="content">        
            <p>Please enter your email address below. You will receive a link to reset your password.</p>
            <ul class="form-list">
            <li>
            <label for="email_address">Email Address<em class="required">*</em></label>
            <div class="input-box">
              <%= f.email_field :email, :autofocus => true, :autofocus => true, :class => "input-text required-entry validate-email", :placeholder => "Enter Your Mail id" %>
              <div class="validation-advice" id="advice-required-entry-email"></div>
            </div>
            </li>
            </ul>
          </div>  <!--content-->

          <p class="required">* Required Fields</p>
          <button type="submit" title="Submit" class="button submit"><span>Submit</span></button>
          <a href="<%= new_user_session_path %>"><small>« </small>Back to Login</a>
          </div>
          
        </fieldset>  <!--col2-set-->
      <% end %>
    </div>  <!--account-login-->
  </div><!--main-container-->
</section>

<script>
$('#forget-password').submit(function(){
  var a =1;
  var b =1;
  var alphaNumeric = /((?=.*\d)(?=.*[a-zA-Z]).{8,20})/;
  var size=password.length; 
  var password=$("#pass").val();
  var confirm_password=$("#conf_pass").val(); 
  if(password==""){
    $("#advice-required-entry-pass").css("display","block");
    $("#advice-required-entry-pass").html("enter your password");
    b=0;
  }
  else if (!alphaNumeric.test(password)) {
    $("#advice-required-entry-pass").css("display","block");
    $("#advice-required-entry-pass").html("password should be greater than 8 characters and combination of alphanumeric");
     b=0;
  }
  else if(confirm_password!=password){
    $("#advice-required-entry-confpass").css("display","block");
    $("#advice-required-entry-confpass").html("password mismatch");
    c=0;
  }
  if(a==1 && b==1){
    return true;
  }
  else{
  return false;
  }
});
</script>
<style>
.user_background_color {
 background: white !important; 
 margin-bottom: 0px !important; 
}
</style>