<h1>Listing bank_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Num</th>
      <th>Bank code</th>
      <th>Ifsc code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.name %></td>
        <td><%= bank_account.user_id %></td>
        <td><%= bank_account.num %></td>
        <td><%= bank_account.bank_code %></td>
        <td><%= bank_account.ifsc_code %></td>
        <td><%= link_to 'Show', bank_account %></td>
        <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
        <td><%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank account', new_bank_account_path %>
