<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank_account.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @bank_account.user_id %>
</p>

<p>
  <strong>Num:</strong>
  <%= @bank_account.num %>
</p>

<p>
  <strong>Bank code:</strong>
  <%= @bank_account.bank_code %>
</p>

<p>
  <strong>Ifsc code:</strong>
  <%= @bank_account.ifsc_code %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
