<%= form_for(@admin_pickup_consignment) do |f| %>
  <% if @admin_pickup_consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_pickup_consignment.errors.count, "error") %> prohibited this admin_pickup_consignment from being saved:</h2>

      <ul>
      <% @admin_pickup_consignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pickup_consignment_number %><br>
    <%= f.text_field :pickup_consignment_number %>
  </div>
  <div class="field">
    <%= f.label :consignment_cost %><br>
    <%= f.text_field :consignment_cost %>
  </div>
  <div class="field">
    <%= f.label :consignment_id %><br>
    <%= f.number_field :consignment_id %>
  </div>
  <div class="field">
    <%= f.label :logistic_id %><br>
    <%= f.number_field :logistic_id %>
  </div>
  <div class="field">
    <%= f.label :warehouse_id %><br>
    <%= f.number_field :warehouse_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :shipping_address_id %><br>
    <%= f.number_field :shipping_address_id %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :received %><br>
    <%= f.check_box :received %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
