<% if @param.present? %>
  <%= search_form_for(@search,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
   <span style="display:none" class= "for_count">
      <%= count %> 
  </span> 
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>
<br />
<div class="panel panel-default">
  <div class=" panel-heading">
    <div class="row">
      <div class="col-sm-3 col-xs-2 text-primary">Pickup Consignment Number</div>
      <div class="col-sm-2 col-xs-2 text-primary">Consignment</div>
      <div class="col-sm-2 col-xs-2 text-primary">Consignment cost</div>
      <div class="col-sm-2 col-xs-2 text-primary">Status</div>
    </div>
  </div>
  <div class="panel-body top_space">
    <% @admin_pickup_consignments.each do |admin_pickup_consignment| %>
      <div class="row hoverd">
        <div class="col-sm-3 col-xs-2">
          <%= link_to admin_pickup_consignment.pickup_consignment_number, admin_pickup_consignment_path( admin_pickup_consignment ) %>&nbsp&nbsp
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= admin_pickup_consignment.consignment.consignment_number %>
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= admin_pickup_consignment.consignment_cost %>
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= admin_pickup_consignment.status %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>