<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-mail-reply-all"></i>&nbsp;&nbsp;Pickup Consignment</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div> <br/>

<div class="page-content">

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
<div class="row">
  <div class="col-xs-12 col-sm-12"><br/>
      <div class="searchable_content1">

          <% if @admin_refund_revocations.present? %>
                  <div class="table-header bigger lighter cursive-font">
                     Pickup Consignment
                  </div>
                  <table id="pc_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>Pickup Consignment Number</th>
                      <th>Consignment</th>
                      <th>Consignment cost</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                     <% @admin_pickup_consignments.each do |admin_pickup_consignment| %>
                    <tr>
                      <td>
                        <%=  admin_pickup_consignment.pickup_consignment_number %>
                      </td>
                      <td>
                         <%= admin_pickup_consignment.consignment.consignment_number %>
                      </td>
                      <td>
                         <%= admin_pickup_consignment.status %>
                      </td>
                      <td>
                          <%= link_to '', admin_pickup_consignment_path( admin_pickup_consignment ),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>   
            <% else %>
                 <div class="row">
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
              <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
              <h3> No Orders </h3>
              Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
              </div>
              <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
              </div>
            </div>
            <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});

jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [6],
      "bSortable": false
    }
  ];
  var dataTable = $('#pc_orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
  });
</script>