<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-mail-reply-all"></i>
      <%= link_to "Pickup Consignment", admin_pickup_consignments_path,:remote => true %>
    </li>
    <li class="active"><%= @admin_pickup_consignment.pickup_consignment_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

<div class="searchable_content2" >

 
<div class="row">
  <div class="col-sm-3"><strong class="text-success">Pickup consignment number:</strong></div>
  <div class="col-sm-4"><%= @admin_pickup_consignment.pickup_consignment_number %></div>
</div><br/>

<div class="row">
  <div class="col-sm-3"><strong class="text-success">Consignment cost:</strong></div>
  <div class="col-sm-4"><%= @admin_pickup_consignment.consignment_cost %></div>
</div><br/>

<div class="row">
  <div class="col-sm-3"><strong class="text-success">Consignment:</strong></div>
  <div class="col-sm-4"><%= @admin_pickup_consignment.consignment.consignment_number %></div>
</div><br/>

<div class="row">
  <div class="col-sm-3"><strong class="text-success">Shipping address:</strong></div>
  <div class="col-sm-4">
    <%= @admin_pickup_consignment.shipping_address.name %><br/>
    <%= @admin_pickup_consignment.shipping_address.add_line1 %>
    <%= @admin_pickup_consignment.shipping_address.add_line2 %>,<br/>
    <%= @admin_pickup_consignment.shipping_address.state %>,
    <%= @admin_pickup_consignment.shipping_address.country %>
  </div>
</div><br/>

<div class="row">
  <div class="col-sm-3"><strong class="text-success">Created by:</strong></div>
  <div class="col-sm-4"><%= User.find(@admin_pickup_consignment.created_by).email %></div>
</div><br/>


<div class="row">
  <div class="col-sm-3"><strong class="text-success">Status:</strong></div>
  <div class="col-sm-4"><%= @admin_pickup_consignment.status %></div>
</div><br/>

<div class="row">
  <div class="col-sm-3"><strong class="text-success">Logistic:</strong></div>
  <div class="col-sm-4"><%= @admin_pickup_consignment.logistic_id %></div>
</div><br/>

<div class="row">
  <div class="col-sm-3"><strong class="text-success">Received:</strong></div>
  <div class="col-sm-4"><%= @admin_pickup_consignment.received %></div>
</div><br/>

 <div class="row">
  <% if @admin_pickup_consignment.pickup_tasks.first.nil? %>
    <%= form_for(@admin_pickup_consignment,:remote => true) do |f| %>
      <div class="col-sm-3"><strong class="text-success">Warehouse:</strong></div>
      <div class="col-sm-4">
        <%= f.collection_select :warehouse_id, Admin::Warehouse.all, :id, :with_country,{:prompt => "Select Warehouse" },:class => "form-control width2" %>
        <%= f.hidden_field :status,:value => "wh" %>
      </div>
      <div class="col-sm-2">
        <%= f.submit "Assign Warehouse", :class => "btn btn-success" %>
      </div>
    <% end %>
  <% else %>
     <div class="col-sm-3"><strong class="text-success">Warehouse:</strong></div>
      <div class="col-sm-4">
        <%= @admin_pickup_consignment.warehouse.name %>
      </div>
  <% end %>
</div><br/>

<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading text-center">
      <strong>PICKUP CONSIGNMENT ITEMS</strong>
    </div>
    <div class="panel-body">
      <div class="row text-center text-success borders">
        <div class="col-sm-2 col-xs-12"><strong>Variant</strong></div>
        <div class="col-sm-2 col-xs-12"><strong>Qty</strong></div>
        <div class="col-sm-2 col-xs-12"><strong>Shipping Plan</strong></div>
        <div class="col-sm-2 col-xs-12"><strong>Purchase Cost</strong></div>
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-2 col-xs-12"></div>
      </div><br/>
      <% @admin_pickup_consignment.pickup_consignment_items.each do |pickup_consignment_item| %>
        <% @variant = Admin::Variant.find(pickup_consignment_item.variant_id) %>
        <% @shipping = @admin_pickup_consignment.consignment.order.shipping_cost%>
        <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
        <div class="row text-center borders">
          <div class="col-sm-2 col-xs-12"><%= @variant.name %></div>
          <div class="col-sm-2 col-xs-12"><%= pickup_consignment_item.qty %></div>
          <div class="col-sm-2 col-xs-12">
            
          </div>
          <div class="col-sm-2 col-xs-12">RS. <%= pickup_consignment_item.price %><br/>
            <span class="text-muted">
              Selling Price: <%= selling_price %><br/>
              Shipping Cost: <%= @shipping %><br/>
              Tax: <%= pickup_consignment_item.price - (@shipping + selling_price) %></span>
          </div>
          <div class="col-sm-2 col-xs-12"></div>
          <div class="col-sm-2 col-xs-12"></div>
        </div><br/>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
