<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">EDIT  <%= @admin_logistic.name %></h4>
</div>
<!-- modal header end -->

  <!-- form start -->
  <%= form_for(@admin_logistic,:remote => true) do |f| %>
    <div class="modal-body category_modal_body">
		  <% if @admin_logistic.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@admin_logistic.errors.count, "error") %> prohibited this admin_logistic from being saved:</h2>
		      <ul>
		      <% @admin_logistic.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %><br/>
		  <div class="field">
		    <%= f.label :name, "Logistic Name",:class => "label-color" %><br>
		    <%= f.text_field :name,:class => "form-control width1 blue_textbox" %>
		  </div><br/>
		  <div class="field">
		    <%= f.label :site,:class => "label-color" %><br>
		    <%= f.text_field :site,:class => "form-control width1 blue_textbox" %>
		  </div><br/>
		  <div class="checkbox">
		    <label>
		      <%= f.check_box :status,:class=>"ace" %>
		      <span class="lbl label-color"> Status</span>
		    </label>
		  </div>
	  </div>
	  <div class="modal-footer">
	    <%= f.submit "Edit Logistic", :class => "btn btn-sm btn-primary" %>
	  </div>
	<% end %>
  <!-- form end -->