<%= form_for(@admin_logistic,:remote => true) do |f| %>
  <% if @admin_logistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_logistic.errors.count, "error") %> prohibited this admin_logistic from being saved:</h2>
      <ul>
      <% @admin_logistic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "Logistic Name",:class => "label-color" %><br>
    <%= f.text_field :name,:class => "form-control blue_textbox" %>
  </div><br/>
  <div class="field">
    <%= f.label :site,:class => "label-color" %><br>
    <%= f.text_field :site,:class => "form-control blue_textbox" %>
  </div><br/>
  <div class="checkbox">
    <label>
      <%= f.check_box :status,:class=>"ace" %>
      <span class="lbl label-color" style="margin-left: -20px;"> Status</span>
    </label>
  </div><br/>
  <div class="actions">
    <%= f.submit "Create Logistic", :class => "btn btn-sm btn-success" %>
  </div><br/>
<% end %>

