<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">EDIT  <%= @admin_logistic.name %></h4>
</div>
<!-- modal header end -->

  <!-- form start -->
  <%= form_for(@admin_logistic,:remote => true) do |f| %>
    <div class="modal-body category_modal_body">
      <% if @admin_logistic.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_logistic.errors.count, "error") %> prohibited this admin_logistic from being saved:</h2>
          <ul>
          <% @admin_logistic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %><br/>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
           <%= f.label :name, "Logistic Name",:class => "label-color" %>
        </div>   
        <div class="col-sm-5 col-xs-6">   
          <%= f.text_field :name,:class => "form-control blue_textbox" %>
        </div>
        <div class="col-sm-2 col-xs-6">   
          <span id="email_perror" class="error_list" style="display:none;"></span>
        </div>
      </div><br/>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
           <%= f.label :site,:class => "label-color" %>
        </div>   
        <div class="col-sm-5 col-xs-6">   
          <%= f.text_field :site,:class => "form-control blue_textbox" %>
        </div>
        <div class="col-sm-2 col-xs-6">   
          <span id="email_perror" class="error_list" style="display:none;"></span>
        </div>
      </div><br/>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
           <%= f.label :status,:class => "label-color" %>
        </div>   
        <div class="col-sm-5 col-xs-6">   
          <div class="checkbox" style="margin-left:-10px;">
            <label>
              <%= f.check_box :status,:class=>"ace" %>
              <span class="lbl label-color"> </span>
            </label>
          </div>
        </div>
        <div class="col-sm-2 col-xs-6">   
          
        </div>
      </div><br/>
    </div>
    <div class="modal-footer" style="margin-bottom:-11px;">
      <%= f.submit "Update Logistic", :class => "btn btn-sm btn-primary" %>
    </div>
  <% end %>
  <!-- form end -->