<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-truck"></i>&nbsp;&nbsp;Logistics</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right"> 

  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

  
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

  <div class="row">
      <div class="searchable_content2">
        <div class="col-xs-12 col-sm-8">
          <div class="table-header bigger lighter cursive-font">
             Logistics List
          </div>
          <table id="logistics_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
          <thead>
            <tr>
              <th>Logistic Name</th>
              <th>Site</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_logistics.each do |admin_logistic| %>
            <tr>
              <td>
                <%= admin_logistic.name %>
              </td>
              <td>
                <%=  admin_logistic.site %>
              </td>
              <td>
                <% if admin_logistic.status == true %>
                  <span class="label label-sm arrowed arrowed-righ label-success">Visible</span>
                <% else %>
                  <span class="label label-sm  label-warning">InVisible</span>
                <% end %>
              </td>
              <td>
                 <div class="action-buttons">
                    <div class="hidden-sm hidden-xs btn-group">
                       <%= link_to '',  edit_admin_logistic_path(admin_logistic),:class => "markthis glyphicon glyphicon-pencil edit_button_color",:remote => true %> 
                    </div>
                    <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_logistic, method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger",:remote => true %>
                  </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>    
        </div>
        <div class="col-xs-12 col-sm-4 widget-container-col ui-sortable">
          <div class="widget-box widget-color-green ui-sortable-handle">
            <div class="widget-header">
              <h5 class="widget-title lighter cursive-font">Add New Logistics</h5>
              <div class="widget-toolbar">
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main">
                <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div> 
  </div>
</div>

<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="width: 100%;margin-left: 0%;">
      
    </div>
  </div>
</div>
<!-- Modal Window End-->
 
 <script>
  $(document).ready(function(){
    $('.qwer').click(function(){
      var a = $(".hide_form").count();
    })
    var a = $(".for_hide").html();
    for(i=0;i<a-1;i++){
      $(".field" + i).hide();
    }
    var b = $(".for_count").html();
    b=b-1
    $(".fieldqw" + b).hide();
    $('#search_form_for1').on('click', '.remove_fields', function(event) {
      var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
      $("." + to_remove).remove();
      $(this).closest('#fieldqw').remove();
      $('#search_form_for1').submit();
      return event.preventDefault();
    });

    $('.search_text_box').keypress(function(event){
      var code = e.keyCode || e.which;
      if(code == 13) {
        $('.search_submit_button').click();
      }
    });
  });

jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [3],
      "bSortable": false
    }
  ];
  var dataTable = $('#logistics_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>
