<%= form_for(@admin_plan_country) do |f| %>
  <% if @admin_plan_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_plan_country.errors.count, "error") %> prohibited this admin_plan_country from being saved:</h2>

      <ul>
      <% @admin_plan_country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :availability_plan_id %><br>
    <%= f.number_field :availability_plan_id %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.number_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :all_place %><br>
    <%= f.check_box :all_place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
