<h1>Listing admin_plan_countries</h1>

<table>
  <thead>
    <tr>
      <th>Availability plan</th>
      <th>Country</th>
      <th>All place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_plan_countries.each do |admin_plan_country| %>
      <tr>
        <td><%= admin_plan_country.availability_plan_id %></td>
        <td><%= admin_plan_country.country_id %></td>
        <td><%= admin_plan_country.all_place %></td>
        <td><%= link_to 'Show', admin_plan_country %></td>
        <td><%= link_to 'Edit', edit_admin_plan_country_path(admin_plan_country) %></td>
        <td><%= link_to 'Destroy', admin_plan_country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan country', new_admin_plan_country_path %>
