<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="markthis"><%= link_to @admin_availability_plan.name.capitalize, admin_availability_plan_path(@admin_availability_plan),:remote => true  %></li>
    <li class="active"><%= @admin_plan_country.country.name %></li>
  </ul>
  <div class="nav-search" id="nav-search">
    <span class="markthis">  
    </span>
  </div>
</div>

<div class="page-content">  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
	 
	<%= form_for(@admin_plan_country,:url => admin_availability_plan_plan_country_path(@admin_availability_plan,@admin_plan_country),:html => {:id => 'availability_plan_form',:class => "validate_this_form" },:remote => true) do |f| %>
	  <div class="form-group row form_group_admin_availability_plan_all_place">
      <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">All Place</label>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <label>
          <%= f.check_box :all_place,:class=>"ace ace-switch ace-switch-4 all_place_switch" %>
          <span class="lbl labelonoff"></span>
        </label>
        <div class="help-block" id="adminadmin_availability_plan_all_country_error1"> </div>
      </div>
      <span class="help-button help-button-new col-xs-12 col-sm-2 col-md-2" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
    </div>
    <%= f.fields_for :country_pincodes do |builder| %>
      <%= render  'country_pincode_fields', f: builder, country_id: 1  %>
    <% end %>
	  <div class="actions">
	    <%= f.submit "Save", :class => "btn btn-sm btn-primary" %>
	  </div><br/><br/>
	<% end %>
</div>


<script>
  if($(".all_place_switch").is(':checked')){
    $(".checkbox_val").prop( "disabled", true );
  }
  else{
    $(".checkbox_val").prop( "disabled", false );
  }
  $(".all_place_switch").click(function(){
  	if($(this).is(':checked')){
      $(".checkbox_val").prop( "checked", true );
      $(".checkbox_val").prop( "disabled", true );
  	}
  	else{
      $(".checkbox_val").prop( "disabled", false );     
  	}
  });

</script>