<%= form_for(@admin_invoice) do |f| %>
  <% if @admin_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_invoice.errors.count, "error") %> prohibited this admin_invoice from being saved:</h2>

      <ul>
      <% @admin_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consignment_id %><br>
    <%= f.number_field :consignment_id %>
  </div>
  <div class="field">
    <%= f.label :barcode %><br>
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label :invoice_number %><br>
    <%= f.text_field :invoice_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
