<h1>Listing admin_invoices</h1>

<table>
  <thead>
    <tr>
      <th>Consignment</th>
      <th>Barcode</th>
      <th>Invoice number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_invoices.each do |admin_invoice| %>
      <tr>
        <td><%= admin_invoice.consignment_id %></td>
        <td><%= admin_invoice.barcode %></td>
        <td><%= admin_invoice.invoice_number %></td>
        <td><%= link_to 'Show', admin_invoice %></td>
        <td><%= link_to 'Edit', edit_admin_invoice_path(admin_invoice) %></td>
        <td><%= link_to 'Destroy', admin_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_admin_invoice_path %>
