<p id="notice"><%= notice %></p>

<p>
  <strong>Consignment:</strong>
  <%= @admin_invoice.consignment_id %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @admin_invoice.barcode %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @admin_invoice.invoice_number %>
</p>

<%= link_to 'Edit', edit_admin_invoice_path(@admin_invoice) %> |
<%= link_to 'Back', admin_invoices_path %>
