<!-- brand index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-tags"></i>&nbsp;&nbsp; Weight Ranges</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Add Weight Range', new_admin_weight_range_path  , :class => "",:style => "color:#fff;",:remote => true %>
    </span>
  </div>
  <!-- button panel end --> 
</div> <br/>
<div class="page-content">
  <!-- flash start --> 
    <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->
  <div class="row" > 
    <div class="searchable_content1">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% if @admin_weight_ranges.present? %>
          <%= form_for('Brand', :as => 'brands', :url => delete_selected_brand_admin_brands_path,:remote => true) do |f| %>
            <div class="table-header bigger lighter cursive-font">
              List of Weight Ranges
              <span class="pull-right" style="margin-right:5px;">
            </span>
            </div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer" style="padding-top:2px;">
              <!--brand table started -->
              <div class="table-responsive">
              <table id="weight_ranges_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                <thead>
                  <tr>
                    <th>Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @admin_weight_ranges.each do |weight_range| %>
                  <tr>
                    <td>
                      <%= weight_range.range %>
                    </td>
                    <td>
                      <div class=" action-buttons">
                        <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, weight_range, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color",:remote => true  %>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table></div>
              <!-- brand table end -->
            </div>
          <% end %>  
        <% else %>
          <div class="row">
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
            <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
            <h3> No weight_range </h3>
            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
            <span class="markthis btn btn-xs btn-success create_button">
              <span class="glyphicon-plus bigger-110"></span>
              <%= link_to 'Add Weight Range', new_admin_weight_range_path  , :class => "",:style => "color:#fff;",:remote => true %>
            </span>
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id">
      <!-- modal header start -->
        
      <!-- modal header end -->
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [1],
      "bSortable": false
    }
  ];
  var dataTable = $('#weight_ranges_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>