<p id="notice"><%= notice %></p>

<p>
  <strong>Range:</strong>
  <%= @admin_weight_range.range %>
</p>

<%= link_to 'Edit', edit_admin_weight_range_path(@admin_weight_range) %> |
<%= link_to 'Back', admin_weight_ranges_path %>
