
<% flag = 0 %>
<% if @admin_replacement_revocation.consignment.present? %>
    <div class="row text-center">
	<div class="col-sm-4 col-xs-12"><strong>VARIANT</strong></div>
	<div class="col-sm-1 col-xs-12"><strong>QTY</strong></div>
	<div class="col-sm-4 col-xs-12"><strong>WAREHOUSE</strong></div>
</div><br/>
    <div style="overflow-y: scroll;overflow-x: hidden;width: 90%;height: 200px;">
      <% @items.each do |item| %>
	    <% @variant = Admin::Variant.find(item.variant_id) %>
        <div class="row text-center" >
	      <div class="col-sm-4 col-xs-12"><%= @variant.name %></div>
	      <div class="col-sm-1 col-xs-12"><%= item.qty %></div>
	    </div><br/>
	  <% @admin_consignment.consignment_items.each do |consignment_item| %> 
	    <% if consignment_item.consignment.conform == false %>
			<%= form_for consignment_item do |f| %>
			  <%= f.hidden_field :replacement_revocation_id,:value => @admin_replacement_revocation.id %>
			  <div class ="row">
			    <div class="col-sm-2 col-xs-12"></div>
			    <div class="col-sm-1 col-xs-12">
			      <%= link_to '', delete_admin_consignment_item_path(consignment_item,:assign_warehouse => 1), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger" %>
			    </div>
		        <div class="col-sm-3 col-xs-12">
		          <strong><%= consignment_item.consignment.warehouse.name %>(<%= check_order_assigned_warehouse_bal_qty(consignment_item) %>)</strong>
		        </div>
		        <div class="col-sm-3 col-xs-12">
		          <%= f.number_field :qty ,:min=> 1 ,:max => assign_warehouse_max_qty(item,consignment_item,consignment_item.consignment.warehouse) ,:class => "form-control" %>
		        </div>  
		        <div class="col-sm-3 col-xs-12">
		          <%= f.submit "Update",:class => "btn btn-primary btn-xs" %>
		        </div>
			  </div><br/>
			<% end %>
		<% else %>
		  <div class ="row">
		    <div class="col-sm-2 col-xs-12"></div>
	        <div class="col-sm-3 col-xs-12">
	          <strong><%= consignment_item.consignment.warehouse.name %>(<%= check_order_assigned_warehouse_bal_qty(consignment_item) %>)</strong>
	        </div>
	        <div class="col-sm-3 col-xs-12">
	          <strong><%= consignment_item.qty%></strong>
	        </div>  
		  </div><br/>
		<% end %>
	  <% end %>
	  <% consignment_item_qty_sum = consignment_assigned_replacement_revocation_item_qty(item) %>
	    <% if item.qty > consignment_item_qty_sum %>
	      <span class="order_assign_warehouse_required_qty_<%= item.id %>" style="display:none;">
	        <%= item.qty - consignment_item_qty_sum %> 
	      </span>
	      <%= form_for @admin_consignment_item,:html => {:id => "order_assign_warehouse_form_#{item.id}" } do |f| %>
            <%= f.hidden_field :order_id,:value => @admin_consignment.order.id %>
            <%= f.hidden_field :order_item_id,:value => item.id %>
            <% if filter_warehouse_lookup(item).present? %>
			  <div class ="row">
                <div class="col-sm-2 col-xs-12"></div> 
		        <div class="col-sm-3 col-xs-12">
		           <%= f.collection_select :warehouse_id, filter_warehouse_lookup(item), :warehouse_id, :full_name,{:prompt => "Select"},:class => "form-control assign_warehouse_select",:id => "order_assign_warehouse_name_#{item.id}" %>
		          <span id="order_assign_warehouse_error_name_<%= item.id %>" class="error_list" style="display:none;"></span>
		        </div>
		        <div class="col-sm-3 col-xs-12">
		          <%= f.number_field :qty ,:min=> 1 ,:max => item.qty ,:class => "form-control",:id => "order_assign_warehouse_qty_#{item.id}" %>
		          <span id="order_assign_warehouse_error_qty_<%= item.id %>" class="error_list" style="display:none;"></span>
		        </div>  
		        <div class="col-sm-3 col-xs-12">
		          <%= f.submit "Update",:class => "btn btn-primary btn-xs" %>
		        </div>
			  </div><br/>
			<% else %>
			  <div class ="row">
                <div class="col-sm-2 col-xs-12"></div>
		        <div class="col-sm-3 col-xs-12">
		           <%= f.collection_select :warehouse_id,  warehouse_lookup(item), :warehouse_id, :full_name,{:prompt => "Select"},:class => "form-control assign_warehouse_select",:id => "order_assign_warehouse_name_#{item.id}" %>
		          <span id="order_assign_warehouse_error_name_<%= item.id %>" class="error_list" style="display:none;"></span>
		        </div>
		        <div class="col-sm-3 col-xs-12">
		          <%= f.number_field :qty ,:min=> 1 ,:max => item.qty ,:class => "form-control",:id => "order_assign_warehouse_qty_#{item.id}" %>
		          <span id="order_assign_warehouse_error_qty_<%= item.id %>" class="error_list" style="display:none;"></span>
		        </div>  
		        <div class="col-sm-3 col-xs-12">
		          <%= f.submit "Update",:class => "btn btn-primary btn-xs" %>
		        </div>
			  </div><br/>
			<% end %>
		  <% end %>
	    <% end %>
      <% end %>
    </div>
<% else %>
  <% if @admin_replacement_revocation.status== "pr" %>
    <div class="row text-center">
	<div class="col-sm-4 col-xs-12"><strong>VARIANT</strong></div>
	<div class="col-sm-1 col-xs-12"><strong>QTY</strong></div>
	<div class="col-sm-4 col-xs-12"><strong>WAREHOUSE</strong></div>
</div><br/>
	  <%= form_for @consignment, :url => admin_replacement_revocation_path, :method => "put" do |f| %>
	    <% cons_count = 0 %>
	    <%= f.hidden_field :replacement_revocation_id, :value => @admin_replacement_revocation.id %>
	    <div class="deli_scroll" >
			<% @items.each do |item| %>
			  <% cons_count += 1 %>
		      <% @variant = Admin::Variant.find(item.variant_id) %>
			  <div class="row text-center" >
			    <span class="order_assign_warehouse_required_qty_<%= item.id %>" style="display:none;">
	                <%= item.qty %> 
	            </span>
				<div class="col-sm-4 col-xs-12"><%= @variant.name %></div>
				<div class="col-sm-1 col-xs-12"><%= item.qty %></div>
				<%= f.fields_for :consignments do |builder| %>
				  <%= builder.hidden_field :replacement_revocation_item_id,:value => item.id %>
			      <div class="col-sm-4 col-xs-12">
			        <%= builder.collection_select :warehouse_id, warehouse_lookup(item), :warehouse_id, :full_name,{:prompt => "Select"},:class => "form-control cons_val#{cons_count} assign_warehouse_select",:id => "order_assign_warehouse_name_#{item.id}" %>
			        <span id="cons_error_val_<%= cons_count %>" class="error_list" style="display:none;"></span>
			      </div>
			      <div class="col-sm-3 col-xs-12">
			        <%= builder.number_field :qty ,:min=> 1 ,:max => item.qty ,:class => "form-control cons_qty#{cons_count}",:id => "order_assign_warehouse_qty_#{item.id}" %>
			        <span id="cons_error_qty_<%= cons_count %>" class="error_list" style="display:none;"></span>
			      </div>
			    <% end %>
		      </div><br/>
			<% end %>
		</div>  
		<div class="col-sm-2 col-xs-12">
		  <%= f.submit "Assign Warehouse",:class => "btn btn-info btn-sm" %>
		</div>
		  <span class="consignment_count" style="display:none;"><%= cons_count %></span>
	  <% end %>
	<% else %>
	  <div class="col-sm-12 col-xs-12">
	  	PICKUP NOT RECEIVED
	  </div>
	<% end %>
<% end %>  