
<% if @param.present? %>
  <%= search_form_for(@search,:url => admin_replacement_revocations_path,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
   <span style="display:none" class= "for_count">
      <%= count %> 
  </span> 
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => admin_replacement_revocations_path,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />

<div class="panel panel-default">
      <div class=" panel-heading">
        <div class="row">
          <div class="col-sm-2 hidden-xs text-info bold">Replacement Number</div>
          <div class="col-sm-2 col-xs-1  text-info bold">Revocation Cost</div>
          <div class="col-sm-2 col-xs-4 text-info bold">Consignment ID</div>
          <div class="col-sm-2 col-xs-2  text-info bold">Created By</div>
          
          <div class="col-sm-2 hidden-xs text-info bold">Shipping Address ID </div>
          
          <div class="col-sm-2 col-xs-4 text-info bold">Status</div>
        </div>
      </div>
      <div class="panel-body top_space">
      <% if @admin_replacement_revocations.present? %>
      <% @admin_replacement_revocations.each do | admin_replacement_revocation | %>
        <div class="row hoverd">
          
            <div class="col-sm-2 hidden-xs"><%= link_to admin_replacement_revocation.replacement_revocation_number,  admin_replacement_revocation_path(admin_replacement_revocation.id)  %></div>
            <div class="col-sm-2 col-xs-1 "><%=admin_replacement_revocation.revocation_cost %></div>
            <div class="col-sm-2 col-xs-1 "><%=admin_replacement_revocation.consignment_id %></div>
            <div class="col-sm-2 col-xs-2"><%=admin_replacement_revocation.created_by %></div>
            <div class="col-sm-2 hidden-xs"><%= admin_replacement_revocation.shipping_address.name %><br/>
            <%= admin_replacement_revocation.shipping_address.add_line1 %>,
            <%= admin_replacement_revocation.shipping_address.add_line2 %><br/>
            <%= admin_replacement_revocation.shipping_address.state %>,
            <%= admin_replacement_revocation.shipping_address.country %>-
            <%= admin_replacement_revocation.shipping_address.c_code %><br/>
            <%= admin_replacement_revocation.shipping_address.pincode %><br/>
            <%= admin_replacement_revocation.shipping_address.phone %></div>
            <div class="col-sm-2 col-xs-4 "><%=admin_replacement_revocation.status %> </div>
          
        </div>
        <% end %>
      <% end %>
      </div>
    </div>  
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>