<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"> <i class="ace-icon fa fa-refresh"></i>&nbsp;&nbsp;Replacement Orders</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>
 
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel"  >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

<div class="searchable_content2">
  <% if @admin_replacement_revocations.present? %>
   <div class="table-header bigger lighter cursive-font">
          Replacement Request List
        </div>
        <div class="table-responsive">
    <table id="replacement_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
      <thead>
        <tr>
          <th>Replacement Number</th>
          <th>Revocation Cost</th>
          <th>Consignment ID</th>
          <th>Created By</th>
          <th>Shipping Address ID</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @admin_replacement_revocations.each do | admin_replacement_revocation | %>
        <tr>
          <td><%= admin_replacement_revocation.replacement_revocation_number  %></td>
          <td><%=admin_replacement_revocation.revocation_cost %></td>
          <td><%= admin_replacement_revocation.consignment.consignment_number %></td>
          <td><%= User.find(admin_replacement_revocation.created_by).email %></td>
          <td><%= admin_replacement_revocation.shipping_address.name %><br/>
            <%= admin_replacement_revocation.shipping_address.add_line1 %>,
            <%= admin_replacement_revocation.shipping_address.add_line2 %><br/>
            <%= admin_replacement_revocation.shipping_address.state %>,
            <%= admin_replacement_revocation.shipping_address.country %>-
            <%= admin_replacement_revocation.shipping_address.c_code %><br/>
            <%= admin_replacement_revocation.shipping_address.pincode %><br/>
            <%= admin_replacement_revocation.shipping_address.phone %></td>
          <td><%=admin_replacement_revocation.status %></td>
          <td>                   
             <div class="action-buttons">
              <%= link_to '',admin_replacement_revocation_path(admin_replacement_revocation.id),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
            </div>
        </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <% end %>
</div>
</div>
<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [6],
      "bSortable": false
    }
  ];
  var dataTable = $('#replacement_orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});

</script>