<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-refresh"></i>&nbsp;&nbsp;
      <%= link_to "Replacement Orders", admin_replacement_revocations_path,:remote => true %>
    </li>
    <li class="active">Replacement Orders</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>
 
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel"  >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

<span class="order_id" style="display:none;"><%= admin_replacement_revocation_path( @admin_replacement_revocation) %></span>

<div class = "row">
  <div class="col-sm-12 col-xs-12"> 
    <div class="table-header blue2 bigger lighter cursive-font">
         Order Details
    </div>
    <div class="table-responsive">
    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
          <tr>
            <th>Replacement Number</th>
            <th>Replacement Cost</th>
            <th>Created By</th>
            <th>Consignment ID</th>
            <th>Replacement Status</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
        
          
          <tr>
            <td>
              <%= @admin_replacement_revocation.replacement_revocation_number %>
            </td>
            <td>
              <%= @admin_replacement_revocation.revocation_cost %>
            </td>
            <td>
             <%= @admin_replacement_revocation.created_by %>
            </td>
            <td>
             <%= @admin_replacement_revocation.consignment_id %>
            </td>
            <td><%= @admin_replacement_revocation.status %></td>
            <td><%= @admin_replacement_revocation.shipping_address.name %><br/>
        <%= @admin_replacement_revocation.shipping_address.add_line1 %>,
        <%= @admin_replacement_revocation.shipping_address.add_line2 %><br/>
        <%= @admin_replacement_revocation.shipping_address.state %>,
        <%= @admin_replacement_revocation.shipping_address.country %>-
        <%= @admin_replacement_revocation.shipping_address.c_code %><br/>
        <%= @admin_replacement_revocation.shipping_address.pincode %><br/>
        <%= @admin_replacement_revocation.shipping_address.phone %></td>
          </tr>
         
        </tbody>
      </table>
      </div><br/><br/>
  </div>
  <div class="col-sm-6 col-xs-6 rejection_reason">
      <!-- Tabs -->
      
      <div class=" consignment_warehouse">
           <div class="widget-box widget-color-purple ui-sortable-handle">
            <div class="widget-header">
              <h5 class="widget-title lighter cursive-font"></h5>
              <div class="widget-toolbar">
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main">
                <%= render partial: "consignment_warehouse" %>
              </div>
            </div>
          </div>
            
          </div> 
  <!-- End SmartWizard Content -->      
    </div>
  <div class="col-sm-6 col-xs-6">
    <div class="table-header bigger lighter cursive-font">
          Replacement Order Items
    </div>
    <div class="table-responsive">
    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
          <tr>
            <th>Variant</th>
            <th>Qty</th>
            <th>Reason</th>
            <th>Purchase Cst</th>
          </tr>
        </thead>
        <tbody>
          <% @admin_replacement_revocation.replacement_revocation_items.each do |replacement_revocation_item| %>
          <% @variant = Admin::Variant.find(replacement_revocation_item.variant_id) %>
          <tr>
            <td>
              <%= @variant.name %>
            </td>
            <td>
              <%=replacement_revocation_item.qty %>
            </td>
            <td>
             <%=replacement_revocation_item.reason %>
            </td>
            <td>
             <%=replacement_revocation_item.price %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table></div>
    <br />
  </div>
</div>
</div>
 <script>
  $(document).ready(function(){
    var current_stage = parseInt($(".current_stage").text());
    $('#wizard').smartWizard({transitionEffect:'slideleft',onLeaveStep:leaveAStepCallback,selected: current_stage });
      function leaveAStepCallback(obj){
        var step_num= obj.attr('rel');
        return validateSteps(step_num);
      }
      if (current_stage == 2){
        $(".stepContainer").css("height","300px");
        $(".stepContainer").css("display","block");
      }
    });

</script>

 