<!-- Warp Start -->
<div class="warp2">
  <!-- header breadcrum Start -->
	<div class="page-title">
    <h2>Account Information</h2>
</div>
  <!-- header breadcrum end -->
  <!-- order deatils Start -->
	<div class="sidebar1">          
    <div class="options">
      <div class="mobile-apps" style = "font-size:14px;">              
          <div class="row">
          	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
          		<div class="col-sm-5 col-md-5 col-lg-5 col-xs-12 text-center">
          			<br />
          		 	<i class="glyphicon glyphicon-list-alt huge1"></i>
          		 	<br />
          		</div>
          		<div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 xs_text_center">
          			<br />
          			<h4 class="c666 f-bold  pt6 pb6">Complete Order History</h4>
          			<br />
          			<p style = "" class=" c666 f-bold  pt6 pb6">You can view all the orders placed so far with your credentials, including undelivered and incomplete orders.</p>
          			<br />
          			<%= link_to 'View Your Order',user_orders_path(current_user.id),remote: true, :class => "btn btn-default btn-xs", :style => "margin-bottom:10px;"%><br />
          		</div>
          	</div>
          </div>
      </div>
    </div>  
  </div><br />
  <!-- order deatils end -->
  <!-- voucher deatils start -->
  <div class="sidebar1">          
    <div class="options">
      <div class="mobile-apps" style = "font-size:14px;">              
        <div class="row">
        	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12 text-center">
        			<br />
        		 	<i class="glyphicon glyphicon-file huge1"></i>
        		 	<br />
        		</div>
        		<div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 xs_text_center">
        			<br />
              <% if @vouchers.present? %>
        			<h4 class="c666 f-bold  pt6 pb6">Your Voucher Balance is <%=  '%.2f' % @vouchers.last.voucher_amount %></h4>
              <br />
              <p style = "" class="c666 f-bold  pt6 pb6">Your Voucher Balance is <%=   '%.2f' % @vouchers.last.voucher_amount %>. You can redeem your voucher value against your next purchase.</p>
              <% else %>
              <h4>Your Voucher Balance is 0</h4>
              <br />
              <p style = "" class="c666 f-bold  pt6 pb6">Your Voucher Balance is 0. You can redeem your voucher value against your next purchase.</p>
              <% end %>
        			<br />
        			<%= link_to 'View Your Voucher',user_vouchers_path(current_user.id),remote: true, :class => "btn btn-default  btn-xs", :style => "margin-bottom:10px;"%><br />
        		</div>
        	</div>
        </div>
      </div>
    </div>  
  </div>        
        <br />
  <!-- voucher deatils end -->
  <!-- WishList deatils start -->       
  <div class="sidebar1">          
    <div class="options">
      <div class="mobile-apps" style = "font-size:14px;">              
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12 text-center">
              <br />
              <i class="glyphicon glyphicon-heart huge1"></i>
              <br />
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 xs_text_center">
            <br />
              <% if current_user.wishlists.present? %>
              <h4 class="c666 f-bold  pt6 pb6">You Have <%= current_user.wishlists.first.wishlist_items.count %> Item In Wishlists</h4>
              <% else %>
              <h4>You Have 0 Item In Wishlists</h4>
              <% end %>
              <br />
              <p  style = "" class="c666 f-bold  pt6 pb6">A list of items that will soon make it to your Shopping Cart!</p>
              <br />
              <%= link_to 'View Your Wishlist',user_wishlists_path(current_user.id),remote: true, :class => "btn btn-default btn-xs", :style => "margin-bottom:10px;"%><br />
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
  <!-- WishList deatils end -->                 
</div>
<!-- Warp end -->