<div class="warp2">
  <div class="page-title">
    <h2>Address Book</h2> 
    <%= link_to "Add New Address",user_address_create_path(current_user.id),:class=>"button load", :remote => true, :style=>"float:right;margin-top:-45px;" %>
   </div>
   <%= render partial: "layouts/shared/flash_msg" %>
   <div class="col2-set ">
      <ol>
        <%= render partial: "#{$client_name}_standard_view/users/load_address1" %> 
      </ol>
  </div>
</div> 

<style>
 .alert {
          margin-top: 20px;
          padding: 9px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 0px;
          }
</style>