<% @cart = current_cart %>
<% cart_link = cart_path(@cart) %>
<% if current_user.shipping_address.present? %>
  <% a = 1 %>
      <% current_user.shipping_address.order('created_at ASC').each do |address| %>
      <li class="item empty1" style="border-bottom: 1px dotted #2ecc71;margin-top:10px;">
        <div class="row">
          <div class="col-sm-3 col-xs-12 c666 f-bold  pt6 pb6">
            Address <%= a %>
          </div>
          <div class="col-sm-6 col-xs-12">
            <address style="padding-top: 0px;margin-top: 0px;border-bottom: none;" class="c666 fs11 pt6 pb6">
              <%= address.name %><br>
              <%= address.add_line1 %><br> <%= address.add_line2 %><br>
               <%= address.state %><br> <%= address.country %>, <%= address.pincode %><br /><br />
              <span class="glyphicon glyphicon-earphone"></span> - <%= address.phone %>
              <div class="pull-right" style="margin-right: 10px;">
                
              </div>
            </address>
          </div>
          <div class="col-sm-3 col-xs-12">
            <%= link_to "<i class='glyphicon glyphicon-trash'></i>&nbsp;&nbsp;Remove".html_safe,  user_shipping_address_path(current_user.id, address,:delete_id => "hi"), method: :delete, data: {confirm: 'Are you sure?' },:class => "",:style => "font-size:12px;color:#999;" %>
          </div>
        </div>
        
      </li>
      <% a += 1 %>
    <% end %>
<% end %>  

<script>
$( "#target_scroll" ).scroll();
</script>
