<strong>Enter a new address</strong>

<%= form_for(@new_shipping_address ,:url => user_shipping_addresses_path(current_user.id),:remote => true) do |f| %>
	<%= f.hidden_field :useraddress, :value => "shipaddress" %>

		
		  <%= f.label :name, "Namedd",:class => "profile_head control-label form-margin" %>   
			<%= f.text_field :name,:class => " form_field_profile1 form-margin" %>	
			<%= f.label :name, "Door Number",:class => "profile_head control-label form-margin" %>		
			<%= f.text_field :add_line1,:class => "form_field_profile1 form-margin" %>		
			<%= f.label :country, "Country",:class => "profile_head control-label form-margin" %>		
			<%= f.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form_field_profile1 country1 coun" } %>		
			<%= f.label :state, "State",:class => "profile_head control-label form-margin",:style => "display:none;" %>		
			<%= f.grouped_collection_select :state, Admin::Country.order(:name), :states , :name , :name, :name, { :prompt => "Select State" }, { :class => "form_field_profile1 state1 stat form-margin",:style => "display:none;" } %>
			<%= f.label :add_line2, "District, City",:class => "profile_head form-margin control-label",:style => "display:none;" %>	  
			<%= f.grouped_collection_select :add_line2, Admin::State.order(:name), :district_cities , :name , :name, :name, { :prompt => "Select City" }, { :class => "form_field_profile1 city1  form-margin dist1",:style => "display:none;" } %>		
			<%= f.label :pincode, "Pin Code",:class => "profile_head control-label col-sm-12 form-margin",:style => "display:none;" %>
			<%= f.grouped_collection_select :pincode, Admin::DistrictCity.order(:name), :pincodes , :name , :pincode, :pincode, { :prompt => "Select Pincode" }, { :class => "form_field_profile1 code1 form-margin",:style => "display:none;" } %>		
			<%= f.label :phone, "Contact Number",:class => "profile_head control-label form-margin" %>		
			<%= f.text_field :phone,:class => "form_field_profile1 phone1 form-margin" %>		<br /><br /><br />
			<div class="actions"> 
			  <%= f.submit "Save Address", :class => "btn btn-primary" %>
			</div>
			<br /><br />

<% end %>