<div class="warp2">
  <div class="page-title">
    <h2>Create New Address</h2>
  </div>      
     


  <%= form_for(@new_shipping_address ,:url => user_shipping_addresses_path(current_user.id),:html => {:id => '' }) do |f| %>
    <%= f.hidden_field :useraddress, :value => "shipaddress" %>
    <%= f.hidden_field :user1_id, :value => "shipaddress" %>
    <fieldset class="group-select">
      <ul class="">
        <li class="fields">
          <div class="customer-name">
            <div class="input-box name-firstname">
              <label for="billing:firstname">First Name<span class="required">*</span></label>
              <div class="input-box1">
                <%= f.text_field :name, :class => "input-text shipping_address_name",:maxlength=>"255",:id => "billing:firstname",:title => "First Name" %>
                 <span class="error_list" id="warehousename100_error"></span>
              </div>
            </div>
            <div class="input-box name-lastname">
              <label for="billing:telephone">Telephone<em class="required">*</em></label>
              <%= f.text_field :phone , :class => "input-text shipping_address_phone",:title => "Telephone"%>
              <span class="error_list" id="cnumber100_error"></span>
            </div>
          </div>
        </li>
        <li class="wide">
          <label for="billing:street1">Address<em class="required">*</em></label><br>
          <%= f.text_field :add_line1,:id => "billing:street1",:class=>"input-text shipping_address_add_line1"  %>
          <span class="error_list" id="address101_error"></span>
        </li>
        <li class="fields" style="overflow: initial;z-index:0">
          <div class="input-box">
           <label for="billing:country_id">Country<em class="required">*</em></label>
            <%= f.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form-width country1 coun shipping_country_select_box shipping_address_country",:title => "Country" } %> 
            <span class="error_list" id="country100_error" style="margin-bottom:-20px"></span>
          </div>
          <div class="field">
            <label for="billing:region_id">State/Province</label><br>
            <div class="input-box">
              <%= f.select(:state, [' '], {:prompt => "Select State"}, { :class => ' state1 stat shipping_address_state' ,:style=> "margin-bottom:10px;"}) %>
               <span class="error_list" id="states100_error"></span>
            </div>
          </div>
        </li>
        <li class="fields" style="overflow: initial;z-index:0">
          <div class="input-box" style="margin-top:10px;">
            <label for="billing:city">City<em class="required">*</em></label>
            <%= f.select(:add_line2, [' '], {:prompt => "Select City"}, { :class => 'input-text city1 dist shipping_address_add_line2 ' }) %>
             <span class="error_list" id="address102_error"></span>
          </div>
          <div class="input-box" style="margin-top:10px;">      
            <label for="billing:postcode">Zip/Postal Code<em class="required">*</em></label>
              <%= f.select(:pincode, [' '], {:prompt => "Select Pincode"}, { :class => ' code1 shipping_address_pincode' }) %>         
              <span class="error_list" id="pin100_error"></span>   
          </div>
        </li>
      </ul>
    </fieldset>

      <div class="row">
          <div class="col-sm-6 col-xs-6"> <br/><br/> 
              <div class=""> 
              <%= f.submit "Save Address", :class => "btn btn-succees btn-xs" %>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">  
            
          </div>
      </div>
  <% end %>        
</div> 

<script>
jQuery(".new_shipping_address").submit(function() {  
    var form_whname=jQuery(".shipping_address_name").val();   
    var form_address101=jQuery(".shipping_address_add_line1").val();
    var form_address102=jQuery(".shipping_address_add_line2").val();
    var form_states100=jQuery(".shipping_address_state").val(); 
    var form_country=jQuery(".shipping_address_country").val();
    var form_pin=jQuery(".shipping_address_pincode").val();
    var form_mobile1=jQuery(".shipping_address_phone").val();
    var alphaNumeric = /^[0-9]{5,10}$/;
    var alphaNumeric1 = /^[0-9]{10,20}$/;    
    var a=1; 
    var b=1;
    var c=1; 
    var d=1;
    var e=1;
    var f=1;
    var g=1;
    jQuery("#warehousename100_error").css("display","block");    
    jQuery("#warehousename100_error").html(""); 
    jQuery("#address101_error").css("display","block");    
    jQuery("#address101_error").html("");
    jQuery("#address102_error").css("display","block");    
    jQuery("#address102_error").html(""); 
    jQuery("#states100_error").css("display","block");    
    jQuery("#states100_error").html("");   
    jQuery("#country100_error").css("display","block");    
    jQuery("#country100_error").html("");
    jQuery("#pin100_error").css("display","block");    
    jQuery("#pin100_error").html("");
    jQuery("#cnumber100_error").css("display","block");    
    jQuery("#cnumber100_error").html("");
    if(form_whname==''){
    jQuery("#warehousename100_error").css("display","block");
    jQuery("#warehousename100_error").html("Enter The Name");
    a=0;
    }
    if(form_country==''){
    jQuery("#country100_error").css("display","block");
    jQuery("#country100_error").html("Select The Country");
    e=0;
    }
    else if(form_states100==''){
    jQuery("#states100_error").css("display","block");
    jQuery("#states100_error").html("Select The State");
    d=0;
    }
    else if(form_address102==''){
    jQuery("#address102_error").css("display","block");
    jQuery("#address102_error").html("Enter The District, City");
    c=0;
    }
    else if(form_pin==''){
    jQuery("#pin100_error").css("display","block");
    jQuery("#pin100_error").html("Select The PinCode");
    f=0;
    } 
    if(form_address101==''){
    jQuery("#address101_error").css("display","block");
    jQuery("#address101_error").html("Enter The Street Address");
    b=0;
    }
    if(form_mobile1==''){
    jQuery("#cnumber100_error").css("display","block");
    jQuery("#cnumber100_error").html("Enter The Mobile Number");
    g=0;
    }
    else if((!alphaNumeric1.test(form_mobile1))){
    jQuery("#cnumber100_error").css("display","block");
    jQuery("#cnumber100_error").html("Enter The Valid Mobile Number");
    g=0;
    }   
    if(a==1 && b==1 && c==1 && d==1 && e==1 && f==1 && g==1){
      jQuery('select').prop("disabled", false);
      return true;
    }
    else{
    return false;
    }
  }); 
</script>

      <script>
       jQuery(".shipping_country_select_box").chosen();
      jQuery(".shipping_country_select_box").change(function(){
        var country_val = jQuery(this).val();
        jQuery.ajax({
           url: '<%= admin_find_state_city_pincode_path %>',
           data: {'country_id':country_val},
           type: 'GET',
           success: function(data, event, status, xhr) {
             //alert("hi");
           },
           error: function(data, event, status, xhr) {
             
           }
         });
      });
       jQuery(".state1").change(function(){
        var country_val = jQuery(this).val();
        jQuery.ajax({
           url: '<%= admin_find_state_city_pincode_path %>',
           data: {'state_id':country_val},
           type: 'GET',
           success: function(data, event, status, xhr) {
             //alert("hi");
           },
           error: function(data, event, status, xhr) {
             
           }
         });
      });
        jQuery(".city1").change(function(){
        var country_val = jQuery(this).val();
        jQuery.ajax({
           url: '<%= admin_find_state_city_pincode_path %>',
           data: {'city_id':country_val},
           type: 'GET',
           success: function(data, event, status, xhr) {
             //alert("hi");
           },
           error: function(data, event, status, xhr) {
             
           }
         });
      });
      </script>
                        <style>
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 10px;
    height: 34px !important;
    border: 1px solid #aaa !important;
    border-radius: 0px !important; 
    color: #858585 !important;
    text-decoration: none;
    white-space: nowrap;
    line-height: 35px !important;
    background:none !important;
}
.chosen-container-single .chosen-drop{
    opacity: 1 !important;
    z-index: 1000 !important;
}
.chosen-container.chosen-container-single {
    margin-top: 0px !important;
    width: 90% !important;
}
</style>