$ = jQuery.noConflict();
$(".profile_show2").html('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/users/account_show")) %>'); 

window.history.pushState("object or string", "Title", "<%= user_account_path(current_user) %>" );