$ = jQuery.noConflict();
$('.profile_show2').html('<%= escape_javascript(render "#{$client_name}_standard_view/users/address_show") %>'); 

window.history.pushState("object or string", "Title", "<%= user_address_path(current_user) %>" );