<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
      <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10">
    <div class="border"> 
      <div class="pull-right">
      </div>     
      <h3>Listing Users</h3>
    </div><br/>
    <div class="col-xs-12 col-sm-12">    
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-2 text-primary">Name</div>
            <div class="col-sm-3 col-xs-3 text-primary">Email Id</div>
            <div class="col-sm-5 col-xs-4 text-primary">Default Address</div>
            <div class="col-sm-2 col-xs-2 text-primary">Edit</div>
          </div>
        </div> 
        <div class="panel-body">
          <% @users.each do |user| %>
            <div class="row hoverd">
              <div class="col-sm-2 col-xs-2">
                <% if user.profile.f_name.present? %>
                  <strong><%= user.profile.f_name.capitalize %></strong><br/>
                  <em><%= user.profile.gender %></em>
                  <i class="icon-search"></i><br/>
                  <em><%= user.profile.m_number %></em>
                <% end %>
              </div>
              <div class="col-sm-3 col-xs-3"><%= link_to user.email, user %>&nbsp&nbsp</div>
              <div class="col-sm-5 col-xs-5">
                <% if user.addresses.first.present? %>
                  <em><%= user.addresses.first.add_line1 %>,
                  <%= user.addresses.first.add_line2 %></em><br />
                  <%= user.addresses.first.state %>,
                  <strong><%= user.addresses.first.country %>-
                  <%= user.addresses.first.c_code %></strong><br />
                  <em>ph:<%= user.addresses.first.phone %></em><br />
                <% end %>
              </div>
              <div class="col-sm-2 col-xs-2"><%= link_to '', edit_user_path(user),:class => "glyphicon glyphicon-pencil text-success" %>
              </div>       
            </div>          
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>

