$ = jQuery.noConflict();
$(".profile_show2").html('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/users/shipp_address_form")) %>'); 
window.history.pushState("object or string", "Title", "<%= user_address_create_path(current_user) %>" );