<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
    <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10">
    <div class="border">
      <div class="pull-right">
      <%= link_to "List Users", users_path, :class => "btn btn-primary btn-sm" %>
      <%= link_to 'Edit User', edit_user_path(@user), :class => "btn btn-primary btn-sm" %> 
		  <%= link_to ' Delete', @user, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash btn btn-danger btn-sm gly" %></div> 
      <h3><%= @user.email %> </h3>
    </div><br/>
		<div class="">
      <div class="row">
	      <div class="col-sm-4 col-xs-4">
	        <strong>First Name</strong>
	      </div>
	      <div class="col-sm-6 col-xs-6">
	        <%= @user.profile.f_name %>
	      </div>
      </div><br/>
      <div class="row">
	      <div class="col-sm-4 col-xs-4">
	        <strong>Last Name</strong>
	      </div>
	      <div class="col-sm-6 col-xs-6">
	        <%= @user.profile.l_name %>
	      </div>
      </div><br/>
      <div class="row">
	      <div class="col-sm-4 col-xs-4">
	        <strong>Gender</strong>
	      </div>
	      <div class="col-sm-6 col-xs-6">
	        <%= @user.profile.gender %>
	      </div>
      </div><br/>
      <div class="row">
	      <div class="col-sm-4 col-xs-4">
	        <strong>Mobile Number</strong>
	      </div>
	      <div class="col-sm-6 col-xs-6">
	        <%= @user.profile.m_number %>
	      </div>
      </div><br/><strong>Address</strong>
      <% if @user.addresses.present? %>
		    <% @user.addresses.each do |address| %>
				  <div class="row">
				    <div class="col-sm-offset-4 col-xs-offset-4 col-sm-6 col-xs-6">
						  <em><%= address.add_line1 %>,
              <%= address.add_line2 %></em><br />
              <%= address.state %>,
              <strong><%= address.country %></strong>-
              <%= address.c_code %><br />
              <em><%= address.phone %></em><br />
					  </div>
				  </div><br/>
			  <% end %>
      <% end %>
    </div>
  </div>
  <div class="panel-body top_space">
    <% if @user.vouchers.present? %>
      <% @user.vouchers.each do |voucher| %>
        <div class="row hoverd">
          <div class="col-sm-2 col-xs-1 "><%=voucher.id %></div>
          <div class="col-sm-2 col-xs-1 "><%=voucher.notes %></div>
          <div class="col-sm-2 col-xs-2"><%= voucher.voucher_amount %></div>
          <div class="col-sm-2 hidden-xs"><%= voucher.credit %></div>
          <div class="col-sm-2 hidden-xs"><%= voucher.debit %></div>
          <div class="col-sm-2 col-xs-4 "><%= voucher.created_at %> </div>
        </div>
      <% end %>
    <%end %>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
    <div class=" panel-heading">
      <div class="row">
        <div class="col-sm-2 col-xs-1  text-info bold">Voucher Number</div>
        <div class="col-sm-2 col-xs-4 text-info bold">Notes</div>
        <div class="col-sm-2 col-xs-2  text-info bold">Voucher Cost</div>
        
        <div class="col-sm-2 hidden-xs text-info bold">Credit </div>
        <div class="col-sm-2 hidden-xs text-info bold">Debit</div>
        <div class="col-sm-2 col-xs-4 text-info bold">Created_date</div>
      </div>
    </div>
    <div class="panel-body top_space">
    <% if @user.vouchers.present? %>
      <% @user.vouchers.each do |voucher| %>
        <div class="row hoverd">
          <div class="col-sm-2 col-xs-1 "><%=voucher.id %></div>
          <div class="col-sm-2 col-xs-1 "><%=voucher.notes %></div>
          <div class="col-sm-2 col-xs-2"><%= voucher.voucher_amount %></div>
          <div class="col-sm-2 hidden-xs"><%= voucher.credit %></div>
          <div class="col-sm-2 hidden-xs"><%= voucher.debit %></div>
          <div class="col-sm-2 col-xs-4 "><%= voucher.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %> </div>
        </div>
      <% end %>
    <%end %>
    </div>
  </div>
  </div>      
</div>
