<%= form_for(@admin_resend_tasks_consignment) do |f| %>
  <% if @admin_resend_tasks_consignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_resend_tasks_consignment.errors.count, "error") %> prohibited this admin_resend_tasks_consignment from being saved:</h2>

      <ul>
      <% @admin_resend_tasks_consignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consignment_id %><br>
    <%= f.number_field :consignment_id %>
  </div>
  <div class="field">
    <%= f.label :resend_task_id %><br>
    <%= f.number_field :resend_task_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
