<h1>Listing admin_resend_tasks_consignments</h1>

<table>
  <thead>
    <tr>
      <th>Consignment</th>
      <th>Resend task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_resend_tasks_consignments.each do |admin_resend_tasks_consignment| %>
      <tr>
        <td><%= admin_resend_tasks_consignment.consignment_id %></td>
        <td><%= admin_resend_tasks_consignment.resend_task_id %></td>
        <td><%= link_to 'Show', admin_resend_tasks_consignment %></td>
        <td><%= link_to 'Edit', edit_admin_resend_tasks_consignment_path(admin_resend_tasks_consignment) %></td>
        <td><%= link_to 'Destroy', admin_resend_tasks_consignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resend tasks consignment', new_admin_resend_tasks_consignment_path %>
