<p id="notice"><%= notice %></p>

<p>
  <strong>Consignment:</strong>
  <%= @admin_resend_tasks_consignment.consignment_id %>
</p>

<p>
  <strong>Resend task:</strong>
  <%= @admin_resend_tasks_consignment.resend_task_id %>
</p>

<%= link_to 'Edit', edit_admin_resend_tasks_consignment_path(@admin_resend_tasks_consignment) %> |
<%= link_to 'Back', admin_resend_tasks_consignments_path %>
