<%= form_for @admin_tax_country, :url => admin_tax_plan_tax_country_path(@admin_tax_plan,@admin_tax_country),:remote => true,:html => {:id => 'tax_state_form' } do |f| %>
  <% if @admin_tax_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_tax_state.errors.count, "error") %> prohibited this admin_tax_state from being saved:</h2>

      <ul>
      <% @admin_tax_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title label-color" id="myModalLabel">Add Cost For <%= @admin_tax_country.country.name %></h4>
  </div> 
  <div class="modal-body" >
    <div class="row">
      <div class="col-sm-1 col-xs-12">
      </div>
      <div class="col-sm-6 col-xs-12 label-color">
        STATE
      </div>
      <div class="col-sm-5 col-xs-12 label-color">
        TAX
      </div> 
    </div> <br/>
    <% z = 0 %>
    <% if @admin_tax_states.present? %>
      <%= f.fields_for :tax_states do |builder| %>
        <fieldset>
          <div class="row">
            <div class="col-sm-1 col-xs-12">
              <div class="checkbox">
                <label>
                  <%= builder.check_box :status, {:class => "ace status"}, 1, 0 %>
                  <span class="lbl label-color"></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 label-color">
              <% if builder.object.state.present? %>
                <%= builder.object.state.name %>
              <% end %>
              <%= builder.hidden_field :state_id %>
            </div>
            <div class="col-sm-5 col-xs-12">
              <% if builder.object.status == true %>
                <%= builder.number_field :tax ,:class => "blue_textbox" , :step => 'any' %>
                <%= builder.label :tax,'tax disabled',:style => "display:none",:class => "label-color" %>
              <% else %> 
                <%= builder.number_field :tax,:style => "display:none" %>
                <%= builder.label :tax,'tax disabled'%>
              <% end %>
            </div>
          </div><br/>
          <% z+= 1 %>
        </fieldset> 
      <% end %>
    <% else %>
      <% @filter_states.each do |state| %>
        <%= f.fields_for :tax_states do |builder| %>
          <fieldset>
            <div class="row">
              <div class="col-sm-1 col-xs-12"> 
                <div class="checkbox">
                <label>
                  <%= builder.check_box :status, {:class => "ace status",:checked => true}, 1, 0 %>
                  <span class="lbl label-color"> </span>
                </label>
              </div>
              </div>
              <div class="col-sm-6 col-xs-12 label-color"><br/>
                <%= state.name %>
                <%= builder.hidden_field :state_id,:value => state.id %>
              </div>
              <div class="col-sm-5 col-xs-12">
                <%= builder.label :tax,'tax disabled',:style => "display:none",:class => "label-color" %>
                <%= builder.number_field :tax,:value => 0,:class => "blue_textbox", :step => 'any'  %>
              </div>
            </div><br/>
          </fieldset> 
        <% end %>
        <% z+= 1 %>
      <% end %>
    <% end %>
    <span id="flag_val" style="display:none;"><%= z %></span>
  </div>
</div>

    <span id="flag_val" style="display:none;"><%= z %></span>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= f.submit "Add Tax", :class => "btn btn-primary"%>
<% end %>
</div>
