<h1>Listing admin_tax_states</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tax_states.each do |admin_tax_state| %>
      <tr>
        <td><%= link_to 'Show', admin_tax_state %></td>
        <td><%= link_to 'Edit', edit_admin_tax_state_path(admin_tax_state) %></td>
        <td><%= link_to 'Destroy', admin_tax_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax state', new_admin_tax_state_path %>
