<%= form_for(@admin_pickup_consignment_item) do |f| %>
  <% if @admin_pickup_consignment_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_pickup_consignment_item.errors.count, "error") %> prohibited this admin_pickup_consignment_item from being saved:</h2>

      <ul>
      <% @admin_pickup_consignment_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pickup_consignment_id %><br>
    <%= f.number_field :pickup_consignment_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br>
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :per_qty_price %><br>
    <%= f.text_field :per_qty_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
