<h1>Listing admin_pickup_consignment_items</h1>

<table>
  <thead>
    <tr>
      <th>Pickup consignment</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Variant</th>
      <th>Per qty price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_pickup_consignment_items.each do |admin_pickup_consignment_item| %>
      <tr>
        <td><%= admin_pickup_consignment_item.pickup_consignment_id %></td>
        <td><%= admin_pickup_consignment_item.price %></td>
        <td><%= admin_pickup_consignment_item.qty %></td>
        <td><%= admin_pickup_consignment_item.variant_id %></td>
        <td><%= admin_pickup_consignment_item.per_qty_price %></td>
        <td><%= link_to 'Show', admin_pickup_consignment_item %></td>
        <td><%= link_to 'Edit', edit_admin_pickup_consignment_item_path(admin_pickup_consignment_item) %></td>
        <td><%= link_to 'Destroy', admin_pickup_consignment_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pickup consignment item', new_admin_pickup_consignment_item_path %>
