<p id="notice"><%= notice %></p>

<p>
  <strong>Pickup consignment:</strong>
  <%= @admin_pickup_consignment_item.pickup_consignment_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_pickup_consignment_item.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @admin_pickup_consignment_item.qty %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @admin_pickup_consignment_item.variant_id %>
</p>

<p>
  <strong>Per qty price:</strong>
  <%= @admin_pickup_consignment_item.per_qty_price %>
</p>

<%= link_to 'Edit', edit_admin_pickup_consignment_item_path(@admin_pickup_consignment_item) %> |
<%= link_to 'Back', admin_pickup_consignment_items_path %>
