<%= form_for(@warehouse,:html => {:id => 'warehouse_form' },:remote => true) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>
      <ul>
      <% @warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span id="tagvalue" style="display:none;">1</span>
  <span id="loopvalue" style="display:none;">1</span>
  <div class="fields">
    <%= f.label :name, "Warehouse Name",:class => "label-color"%>
    <%= f.text_field :name,:class => "form-control blue_textbox",:id => "warehousename100"  %>
    <span id="warehousename100_error" class="error_list" style="display:none;"></span>
  </div>
  <%= f.fields_for :addresses do |builder| %> 
    <fieldset class=""><br/>    
      <%= builder.label :country, "Country",:class => "label-color" %><br/>
      <%= builder.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form-control blue_textbox form-width2 country1 coun shipping_country_select_box" }  %>      
      <span id="country100_error" class="error_list" style="display:none;"></span>
      <br />
      <%= builder.label :state, "State",:style => "", :class => "form-margin label-color" %><br/>
      <%= builder.select(:state, [' '], {:prompt => "Select State"}, { :class => 'form-control blue_textbox state1 stat ' ,:style=> ""}) %>
      <span id="states100_error" class="error_list" style="display:none;"></span><br/>
      <%= builder.label :add_line2, "District, City",:style => "", :class => "label-color form-margin" %>       
      <%= builder.select(:add_line2, [' '], {:prompt => "Select City"}, { :class => 'form-control input-text city1 dist ' }) %>
      <span id="address102_error" class="error_list" style="display:none;"></span><br/>
      <%= builder.label :c_code, "Pin Code",:style => "", :class => "form-margin label-color" %><br/>
      <%= builder.select(:c_code, [' '], {:prompt => "Select Pincode"}, { :class => 'form-control code1 ' }) %>    
      <span id="pin100_error" class="error_list" style="display:none;"></span><br/>
        <%= builder.label :add_line1, "Door No & Street, Town",:class => "form-margin label-color" %><br/>
        <%= builder.text_area :add_line1,:class => "form-control doorno1 blue_textbox", :id => "address101" %>
      <span id="address101_error" class="error_list" style="display:none;"></span><br/>
      <%= builder.label :phone, "Contact Number",:class => "label-color" %><br/>
      <%= builder.text_field :phone,:class => "form-control blue_textbox phone1", :id => "cnumber100" %>
      <span id="cnumber100_error" class="error_list" style="display:none;"></span><br />
    </fieldset>
  <% end %>
  <div class="actions">
    <%= f.submit "Add New Warehouse", :class => "btn btn-success btn-sm" %>
  </div><br/>
<% end %>

<script>

    jQuery(".shipping_country_select_box").chosen();
    jQuery(".shipping_country_select_box").change(function(){
      var country_val = jQuery(this).val();
      jQuery.ajax({
         url: '<%= admin_find_state_city_pincode_path %>',
         data: {'country_id':country_val},
         type: 'GET',
         success: function(data, event, status, xhr) {
           //alert("hi");
         },
         error: function(data, event, status, xhr) {
           
         }
       });
    });
     jQuery(".state1").change(function(){
      var country_val = jQuery(this).val();
      jQuery.ajax({
         url: '<%= admin_find_state_city_pincode_path %>',
         data: {'state_id':country_val},
         type: 'GET',
         success: function(data, event, status, xhr) {
           //alert("hi");
         },
         error: function(data, event, status, xhr) {
           
         }
       });
    });
      jQuery(".city1").change(function(){
      var country_val = jQuery(this).val();
      jQuery.ajax({
         url: '<%= admin_find_state_city_pincode_path %>',
         data: {'city_id':country_val},
         type: 'GET',
         success: function(data, event, status, xhr) {
           //alert("hi");
         },
         error: function(data, event, status, xhr) {
           
         }
       });
    });

    $("#warehouse_form").submit(function() {  
        var form_whname=$("#warehousename100").val();   
        var form_address101=$("#address101").val();
        var form_address102=$(".city1").val();
        var form_states100=$(".state1").val(); 
        var form_country=$(".country1").val();
        var form_pin=$(".code1").val();
        var form_mobile1=$("#cnumber100").val();
        var alphaNumeric = /^[0-9]{5,10}$/;
        var alphaNumeric1 = /^[0-9]{10,21}$/;    
        var a=1; 
        var b=1;
        var c=1; 
        var d=1;
        var e=1;
        var f=1;
        var g=1;
        $("#warehousename100_error").css("display","block");    
        $("#warehousename100_error").html(""); 
        $("#address101_error").css("display","");    
        $("#address101_error").html("");
        $("#address102_error").css("display","");    
        $("#address102_error").html(""); 
        $("#states100_error").css("display","");    
        $("#states100_error").html("");   
        $("#country100_error").css("display","");    
        $("#country100_error").html("");
        $("#pin100_error").css("display","");    
        $("#pin100_error").html("");
        $("#cnumber100_error").css("display","");    
        $("#cnumber100_error").html("");
        if(form_whname==''){
        $("#warehousename100_error").css("display","");
        $("#warehousename100_error").html("Enter The WareHouse Name");
        a=0;
        }
        if(form_country==''){
        $("#country100_error").css("display","");
        $("#country100_error").html("Select The Country");
        e=0;
        }
        else if(form_states100==''){
        $("#states100_error").css("display","");
        $("#states100_error").html("Select The State");
        d=0;
        }
        else if(form_address102==''){
        $("#address102_error").css("display","");
        $("#address102_error").html("Enter The District, City");
        c=0;
        }
        else if(form_pin==''){
        $("#pin100_error").css("display","block");
        $("#pin100_error").html("Select The PinCode");
        f=0;
        } 
        if(form_address101==''){
        $("#address101_error").css("display","");
        $("#address101_error").html("Enter The Door No & Street, Town");
        b=0;
        }
        if(form_mobile1==''){
        $("#cnumber100_error").css("display","");
        $("#cnumber100_error").html("Enter The Mobile Number");
        g=0;
        }
        else if((!alphaNumeric1.test(form_mobile1))){
        $("#cnumber100_error").css("display","");
        $("#cnumber100_error").html("Enter The Valid Mobile Number");
        g=0;
        }   
        if(a==1 && b==1 && c==1 && d==1 && e==1 && f==1 && g==1){
          $('select').prop("disabled", false);
        return true;
        }
        else{
        return false;
        }
      }); 
</script>

