<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-bank "></i>&nbsp;&nbsp;<%= link_to "Warehouse", admin_warehouses_path,:remote => true,:class =>"for_page_load" %></li>
    <li class="active">Edit</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>
<div class="page-content">
  
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class="row">
  <div class="col-xs-12 col-sm-10">
  <div class="widget-box widget-color-blue ui-sortable-handle">
        <div class="widget-header">
            <h5 class="widget-title lighter bigger cursive-font">Edit Warehouse</h5>
            <div class="widget-toolbar">
            </div>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <%= form_for(@warehouse,:html => {:id => 'warehouse_form' },:remote => true) do |f| %>
                <% if @warehouse.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>
                    <ul>
                      <% @warehouse.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="fields">
                	<div class="row">
                	  <div class="col-xs-12 col-sm-3">
                  	<%= f.label :name, "Warehouse Name",:class => "label-color" %>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                  	<%= f.text_field :name,:class => "form-control blue_textbox",:id => "warehousename100"  %><span id="warehousename100_error" class="error_list" style="display:none;"></span>
                    </div>
                  </div>
                </div>
                <%= f.fields_for :addresses do |builder| %>
                  <fieldset class=""><br/>
                  	<div class="row">
                		<div class="col-xs-12 col-sm-3">
                    		<%= builder.label :country, "Country",:class => "label-color" %>
                    	</div>
                  	      <div class="col-xs-12 col-sm-6">
                    	  <%= builder.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select" }, { :class => "form-control blue_textbox width1 form-width1 country1 coun shipping_country_select_box" }  %>
                    	  <span id="country100_error" class="error_list" style="display:none;">
                    	  </span>
                    	</div>
                    </div><br/>
                    <div class="row">
                		<div class="col-xs-12 col-sm-3">
                    		<%= builder.label :state, "State",:class => "label-color" %>
                    	</div>
                        	<div class="col-xs-12 col-sm-6">
                          	<%= builder.select(:state, [builder.object.state], {:prompt => "Select State"}, { :class => 'form-control blue_textbox state1 stat '}) %>
                          	<span id="states100_error" class="error_list" style="display:none;"></span>
                          </div>
                    </div><br/>
                    <div class="row">
                		<div class="col-xs-12 col-sm-3">
                          <%= builder.label :add_line2, "District, City",:class => "label-color" %>
                      </div>
                  	  <div class="col-xs-12 col-sm-6">
                         <%= builder.select(:add_line2, [builder.object.add_line2], {:prompt => "Select City"}, { :class => 'form-control input-text city1 dist ' }) %>
                        <span id="address102_error" class="error_list" style="display:none;">
                        </span>
                      </div>
                    </div><br/>
                    <div class="row">
                		<div class="col-xs-12 col-sm-3">
                        <%= builder.label :c_code, "Pin Code",:class => "label-color" %>
              	      </div>
              	    	<div class="col-xs-12 col-sm-6">
              	         <%= builder.select(:c_code, [builder.object.c_code], {:prompt => "Select Pincode"}, { :class => 'form-control code1 ' }) %>    
              	        <span id="pin100_error" class="error_list" style="display:none;"></span>
                      </div>
                    </div><br/> 
                    <div class="row">
                  		<div class="col-xs-12 col-sm-3">
                          <%= builder.label :add_line1, "Door No & Street, Town",:class => "label-color" %>
                        </div>
                    	<div class="col-xs-12 col-sm-6">
                        <%= builder.text_area :add_line1,:class => " form-control doorno1 blue_textbox", :id => "address101" %>
                        <span id="address101_error" class="error_list" style="display:none;"></span><br />
                      </div>
                    </div>
                    <div class="row">
                	<div class="col-xs-12 col-sm-3">
                        <%= builder.label :phone, "Contact Number",:class => "label-color" %>
                      </div>
                  	  <div class="col-xs-12 col-sm-6">
                        <%= builder.text_field :phone,:class => "form-control phone1 blue_textbox", :id => "cnumber100" %>
                        <span id="cnumber100_error" class="error_list" style="display:none;">
                        </span><br />
                      </div>
                    </div>
                  </fieldset>
                <% end %><br/>
                <div class="row">
              		<div class="col-xs-12 col-sm-3">
                  </div>
                	<div class="col-xs-12 col-sm-6">
                    <div class="actions">
                      <%= f.submit "Update Warehouse", :class => "btn btn-primary btn-sm" %>
                    </div><br/>
                  </div>
                </div> 
              <% end %>
              </div>
              </div>
              </div>
  </div>
  <div class="col-xs-12 col-sm-2">
  </div>
  </div>
</div>



<script>

    jQuery(".shipping_country_select_box").chosen();
    jQuery(".shipping_country_select_box").change(function(){
      var country_val = jQuery(this).val();
      jQuery.ajax({
         url: '<%= admin_find_state_city_pincode_path %>',
         data: {'country_id':country_val},
         type: 'GET',
         success: function(data, event, status, xhr) {
           //alert("hi");
         },
         error: function(data, event, status, xhr) {
           
         }
       });
    });
     jQuery(".state1").change(function(){
      var country_val = jQuery(this).val();
      jQuery.ajax({
         url: '<%= admin_find_state_city_pincode_path %>',
         data: {'state_id':country_val},
         type: 'GET',
         success: function(data, event, status, xhr) {
           //alert("hi");
         },
         error: function(data, event, status, xhr) {
           
         }
       });
    });
      jQuery(".city1").change(function(){
      var country_val = jQuery(this).val();
      jQuery.ajax({
         url: '<%= admin_find_state_city_pincode_path %>',
         data: {'city_id':country_val},
         type: 'GET',
         success: function(data, event, status, xhr) {
           //alert("hi");
         },
         error: function(data, event, status, xhr) {
           
         }
       });
    });
</script>