<div class="breadcrumbs" id="breadcrumbs">
  
  <!-- breadcrumb start -->
    <ul class="breadcrumb">
      <li class="active"><i class="ace-icon fa fa-bank"></i>&nbsp;&nbsp;Warehouses</li>
    </ul>
  <!-- breadcrumb end -->

  <!-- button panel start -->
    <div class="pull-right">
    </div>
  <!-- button panel end --> 

</div><br/>
<div class="page-content">

  <!-- flash start --> 
    <div class="flash_message_panel">
      <%= render partial: "layouts/shared/flash_msg" %> 
    </div>
  <!-- flash end -->

  <div class ="row">
    <div class="searchable_content1">
      <div class="col-xs-12 col-sm-8"> 
        <div class="table-header bigger lighter cursive-font">
           Warehouse List
        </div>
        <div class="table-responsive">
        <table id="warehouse_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
          <thead>
            <tr>
              <th>Warehouse Name</th>
              <th>Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @warehouses.each do |warehouse| %>
            <tr>
              <td>
                <%= warehouse.name %>
              </td>
              <td>
                <address>
                  <%warehouse.addresses.each do |address| %>
                    <%= address.add_line1 %>,<br />
                    <%= address.add_line2 %>,
                    <%= address.state %>,<br />
                    <%= address.country %>-
                    <%= address.c_code %>,<br />
                    <abbr title="Phone">Phone No&nbsp;:</abbr>&nbsp;<%= address.phone %>
                  <% end %> 
                </address>
              </td>
              <td>
                <div class="action-buttons">
                 <%= link_to '', admin_warehouse_path(warehouse),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                <%= link_to '',edit_admin_warehouse_path(warehouse),:class => "markthis glyphicon glyphicon-pencil edit_button_color for_page_load",:remote => true %>
                <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, delete_admin_warehouse_path(warehouse), method: :delete, data: { confirm: 'Are you sure?' },:class => "markthis delete_button_color",:remote => true  %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>   
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 widget-container-col ui-sortable">
        <div class="widget-box widget-color-green ui-sortable-handle">
          <div class="widget-header">
            <h5 class="widget-title lighter bigger cursive-font">Create New Warehouse</h5>
            <div class="widget-toolbar">
            </div>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#warehouse_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>