<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border">
	<span class="markthis"><%= link_to 'List Warehouse', admin_warehouses_path, :class => "btn btn-primary btn-sm pull-right",:remote => true %></span>
	<h3>New warehouse</h3>
</div>
<br />
    <%= render 'form' %>
    <br />


