<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-bank"></i>&nbsp;&nbsp;<%= link_to "Warehouse", admin_warehouses_path,:remote => true,:class => "for_page_load" %></li>
    <li class="active"><%= @warehouse.name.capitalize %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

<div class="page-content">
  <div class="row">
    <div class="col-sm-6 col-sm-12">
      <% if @warehouse.addresses.present? %>
        <% @warehouse.addresses.each do |address| %><br />
      	  <%= address.add_line1 %>,
      	  <%= address.add_line2 %><br />
      	  <%= address.state %>,
      	  <%= address.country %>-
      	  <%= address.c_code %><br />
      	  <%= address.phone %><br />
        <% end %>
      <% else %>
        <br/>
        <span class="text-muted"></span>
      <% end %>  
    </div>
    <div class="col-sm-6 col-sm-12">
      <%= form_for(@warehouses_roles, :url =>  admin_warehouses_roles_path(@warehouses_roles),  :method => 'post', :html => {:id => 'newrole'},:remote => true) do |f| %>
        <% if @warehouses_roles.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@warehouses_roles.errors.count, "error") %> prohibited this role from being saved:
            </h2>
            <ul>
              <% @warehouses_roles.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %><br/><br/>  
        <div class="field">
          <%= f.hidden_field :warehouse_id, :value => @warehouse.id, :class => "form-control width"%>
          <span id="name_error" class="error_list" style="display:none;"></span>
        </div>
        <div class="field">
          <%= f.label :role_id,:class => "label-color" %>
          <%= f.collection_select :role_id, @roles, :id, :name, :class => "form-control width blue_textbox" %>
          <%= f.submit "Create Warehouse Role", :class => "btn btn-primary btn-sm" %>
          <span id="description_error" class="error_list" style="display:none;"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>






