<%= form_for [@context, @address] do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= f.label :add_line1, "Address Line1" %><br />
    <%= f.text_field :add_line1 %><br />
    <%= f.label :add_line2, "Address Line2" %><br />
    <%= f.text_field :add_line2 %><br />
    <%= f.label :state, "State" %><br />
    <%= f.text_field :state %><br /><br />
    <%= f.label :country, "Country" %><br />
    <%= f.text_field :country %><br />
    <%= f.label :c_code, "Country Code" %><br />
    <%= f.text_field :c_code %><br />
    <%= f.label :phone, "Contact Number" %><br />
    <%= f.text_field :phone %><br />
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
