<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <%= address.add_line1 %><br />
        <%= address.add_line2 %><br />
        <%= address.state %><br />
        <%= address.country %><br />
        <%= address.c_code %><br />
        <%= address.phone %><br />
      </tr>
      <%= link_to 'Edit',  edit_user_address_path(@context, @address) %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_user_address_path(@context) %>
