<%= form_for(@admin_refund_revocation) do |f| %>
  <% if @admin_refund_revocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_refund_revocation.errors.count, "error") %> prohibited this admin_refund_revocation from being saved:</h2>

      <ul>
      <% @admin_refund_revocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :revocation_cost %><br>
    <%= f.text_field :revocation_cost %>
  </div>
  <div class="field">
    <%= f.label :consignment_id %><br>
    <%= f.number_field :consignment_id %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :bank_account_id %><br>
    <%= f.number_field :bank_account_id %>
  </div>
  <div class="field">
    <%= f.label :revocation_mode %><br>
    <%= f.text_field :revocation_mode %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
