
<% if @param.present? %>
  <%= search_form_for(@search,:url => admin_refund_revocations_path,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
    <span style="display:none" class= "for_count">
      <%= count %> 
    </span> 
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => admin_refund_revocations_path,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />
 <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#unprocessed" role="tab" data-toggle="tab">Unprocessed</a></li>
      <li><a href="#bank" role="tab" data-toggle="tab">Refund Through Bank</a></li>
      <li><a href="#voucher" role="tab" data-toggle="tab">Refund through Voucher</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="unprocessed"><br/><br/>  
          <% if @admin_refund_revocations.present? %>
            <div class="panel panel-default" style="width:90%;margin-left:20px;">
              <div class=" panel-heading">
                <div class="row">
                  <div class="col-sm-2 col-xs-1  text-info bold">Order_number</div>
                  <div class="col-sm-2 col-xs-2  text-info bold">Revocation Cost</div>
                  
                  <div class="col-sm-2 hidden-xs text-info bold">Revocation Mode</div>
                  <div class="col-sm-2 col-xs-4 text-info bold">Status</div>
                  <div class="col-sm-2 hidden-xs text-info bold">User_Id</div>
                  <div class="col-sm-2 col-xs-4 text-info bold">Created_date</div>
                </div>
              </div>
              <div class="panel-body top_space">
              
                <% @admin_refund_revocations.each do |refund_revocation| %>
                  <div class="row hoverd">
                    <div class="col-sm-2 col-xs-1 "><%= link_to  refund_revocation.consignment.order_id, admin_refund_revocation_path(refund_revocation.id) %></div>
                    <div class="col-sm-2 col-xs-2"><%= refund_revocation.revocation_cost %></div>
                    <div class="col-sm-2 hidden-xs"><%= refund_revocation.revocation_mode %></div>
                    <div class="col-sm-2 col-xs-4 text-warning bold"><%= refund_revocation.status %></div>
                    <div class="col-sm-2 hidden-xs">ryethj</div>
                    <div class="col-sm-2 col-xs-4 "><%= refund_revocation.created_at %> </div>
                  </div>
                <% end %>
             
              </div>
            </div>
          <% end %>
      </div>
      <div class="tab-pane" id="bank"><br/><br/>  
       <% if @admin_bank_revocations.present? %>
          <div class="panel panel-default" style="width:90%;margin-left:20px;">
            <div class=" panel-heading">
              <div class="row">
                <div class="col-sm-1 col-xs-1  text-info bold">Order_number</div>
                <div class="col-sm-1 col-xs-2  text-info bold">Revocation Cost</div>
                
                <div class="col-sm-1 hidden-xs text-info bold">Revocation Mode</div>
                <div class="col-sm-1 hidden-xs text-info bold">User_Id</div>
                <div class="col-sm-2 col-xs-4 text-info bold">Created_date</div>
                <div class="col-sm-2 col-xs-4 text-info bold">Transaction ID</div>
                <div class="col-sm-1 col-xs-4 text-info bold">Transaction Status</div>
              </div>
            </div>
            <div class="panel-body top_space">
           
              <% @admin_bank_revocations.each do |refund_revocation| %>
                <div class="row hoverd">
                  <div class="col-sm-1 col-xs-1 "><%= link_to  refund_revocation.consignment.order_id, admin_refund_revocation_path(refund_revocation.id) %></div>
                  <div class="col-sm-1 col-xs-2"><%= refund_revocation.revocation_cost %></div>
                  <div class="col-sm-1 hidden-xs"><%= refund_revocation.revocation_mode %></div>
                  <div class="col-sm-1 hidden-xs">ryethj</div>
                  <div class="col-sm-2 col-xs-4 "><%= refund_revocation.created_at %> </div>
                  <%= form_for refund_revocation, :url =>  admin_refund_revocation_path(refund_revocation.id), :method => "put" do |f| %>
                    <% if @admin_refund_revocation.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this shipping_address from being saved:</h2>

                        <ul>
                        <% @admin_refund_revocation.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="col-sm-2 col-xs-4 ">
                      <%= f.text_field :transaction_id %>
                    </div>
                    <div class="col-sm-1 col-xs-4 ">
                      <%= f.check_box :trans_status %>
                    </div>
                    <div class="col-sm-1 col-xs-4 ">
                      <%= f.submit %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            
            </div>
          </div>
          <%end %>
      </div>
      <div class="tab-pane" id="voucher"><br/><br/><br/>
      <% if @admin_voucher_revocations.present? %>
        <div class="panel panel-default" style="width:90%;margin-left:20px;">
            <div class=" panel-heading">
              <div class="row">
                <div class="col-sm-2 col-xs-1  text-info bold">Order_number</div>
                <div class="col-sm-2 col-xs-2  text-info bold">Revocation Cost</div>
                
                <div class="col-sm-2 hidden-xs text-info bold">Revocation Mode</div>
                <div class="col-sm-2 hidden-xs text-info bold">User_Id</div>
                <div class="col-sm-2 col-xs-4 text-info bold">Created_date</div>
                
              </div>
            </div>
            <div class="panel-body top_space">
            
              <% @admin_voucher_revocations.each do |refund_revocation| %>
                <div class="row hoverd">
                  <div class="col-sm-2 col-xs-1 "><%= link_to  refund_revocation.consignment.order_id, admin_refund_revocation_path(refund_revocation.id) %></div>
                  <div class="col-sm-2 col-xs-2"><%= refund_revocation.revocation_cost %></div>
                  <div class="col-sm-2 hidden-xs"><%= refund_revocation.revocation_mode %></div>
                  <div class="col-sm-2 hidden-xs">ryethj</div>
                  <div class="col-sm-2 col-xs-4 "><%= refund_revocation.created_at %> </div>
                <% if Admin::Voucher.where(:refund_revocation_id => refund_revocation.id).first.nil? %>
                  <%= form_for @voucher, :url => admin_vouchers_path do |f| %>
                    <% if @voucher.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this shipping_address from being saved:</h2>

                        <ul>
                        <% @voucher.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="field">
                      <%= f.hidden_field :voucher_amount, :value => refund_revocation.revocation_cost %>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :user_id, :value => refund_revocation.consignment.order.user_id %>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :refund_revocation_id, :value => refund_revocation.id %>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :credit, :value => refund_revocation.revocation_cost %>
                    </div>
                    <div class="actions">
                      <%= f.submit %>
                    </div>
                  <% end %>
                <%end %>
                </div>
              <% end %>
            
            </div>
          </div>
          <%end %>
      </div>
    </div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>