<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
      <li class="active"><i class="ace-icon fa fa-credit-card"></i>&nbsp;&nbsp;Refund Revocation</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="searchable_content2">
     <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#unprocessed" role="tab" data-toggle="tab">Unprocessed</a></li>
      <li><a href="#bank" role="tab" data-toggle="tab">Refund Through Bank</a></li>
      <li><a href="#voucher" role="tab" data-toggle="tab">Refund through Voucher</a></li>
    </ul>
        <div class="tab-content"> 
          <div class="tab-pane active" id="unprocessed"><br/>  
            <% if @admin_refund_revocations.present? %>
                  <div class="table-header bigger lighter cursive-font">
                     Unprocessed Order
                  </div>
                  <table id="up_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>Order Number</th>
                      <th>Revocation Cost</th>
                      <th>Revocation Mode</th>
                      <th>Status</th>
                      <th>User</th>
                      <th>Created At</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admin_refund_revocations.each do |refund_revocation| %>
                    <tr>
                      <td>
                        <%=  refund_revocation.consignment.order.order_number %>
                      </td>
                      <td>
                        <%= refund_revocation.revocation_cost %>
                      </td>
                      <td>
                        <%=  refund_revocation.revocation_mode == 'b' ? 'Bank' : 'Voucher' %>
                      </td>
                      <td>
                        <%= refund_revocation.status %>
                      </td>
                      <td>-</td>
                      <td><%= refund_revocation.created_at.strftime("%d %b %Y") %></td>
                      <td>
                          <%= link_to '', admin_refund_revocation_path(refund_revocation.id),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>   
            <% else %>
                <div class="row text-center">
                   <br/>NO ORDERS
               </div>
            <% end %>
          </div>
          <div class="tab-pane" id="bank"><br/>
            <% if @admin_bank_revocations.present? %>
              <div class="table-header bigger lighter cursive-font">
                     Refund Through Bank
                  </div>
                  <table id="bk_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>Order Number</th>
                      <th>Revocation Cost</th>
                      <th>Status</th>
                      <th>User</th>
                      <th>Created At</th>
                      <th>Transaction ID</th>
                      <th>Transaction Status</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                   <% @admin_bank_revocations.each do |refund_revocation| %>
                    <tr>
                      <td>
                        <%=  refund_revocation.consignment.order.order_number %>
                      </td>
                      <td>
                        <%= refund_revocation.revocation_cost %>
                      </td>
                      <td>
                        <%= refund_revocation.status %>
                      </td>
                      <td>-</td>
                      <td><%= refund_revocation.created_at.strftime("%d %b %Y") %></td>
                      <%= form_for refund_revocation, :url =>  admin_refund_revocation_path(refund_revocation.id), :method => "put",:remote => true do |f| %>
                        <td>
                          <%= f.text_field :transaction_id %>
                        </td>
                        <td>
                          <%= f.check_box :trans_status %>
                        </td>
                        <td >
                          <%= f.submit %>
                        </td>
                      <% end %>
                      <td>
                          <%= link_to '', admin_refund_revocation_path(refund_revocation.id),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>  
            <% else %>
                <div class="row text-center">
                   <br/>NO ORDERS
               </div> 
            <% end %>
          </div>
          <div class="tab-pane" id="voucher"><br/>
          <% if @admin_voucher_revocations.present? %>
               <div class="table-header bigger lighter cursive-font">
                     Refund Through Voucher
                  </div>
                  <table id="vc_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                  <thead>
                    <tr>
                      <th>Order Number</th>
                      <th>Revocation Cost</th>
                      <th>Status</th>
                      <th>User</th>
                      <th>Created At</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admin_voucher_revocations.each do |refund_revocation| %>
                    <tr>
                      <td>
                        <%=  refund_revocation.consignment.order.order_number %>
                      </td>
                      <td>
                        <%= refund_revocation.revocation_cost %>
                      </td>
                      <td>
                        <%= refund_revocation.status %>
                      </td>
                      <td>-</td>
                      <td><%= refund_revocation.created_at.strftime("%d %b %Y") %></td>
                      <% if Admin::Voucher.where(:refund_revocation_id => refund_revocation.id).first.nil? %>
                         <%= form_for @voucher, :url => admin_vouchers_path,:remote => true do |f| %>
                          <td>
                            <%= f.hidden_field :voucher_amount, :value => refund_revocation.revocation_cost %>
                            <%= f.hidden_field :user_id, :value => refund_revocation.consignment.order.user_id %>
                            <%= f.hidden_field :refund_revocation_id, :value => refund_revocation.id %>
                            <%= f.hidden_field :credit, :value => refund_revocation.revocation_cost %>
                            <%= f.submit %>
                          </td>
                        <% end %>
                      <% else %>
                         <td>-</td>
                      <% end %>
                      <td>
                          <%= link_to '', admin_refund_revocation_path(refund_revocation.id),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>  
            <% else %>
                <div class="row text-center">
                   <br/>NO ORDERS
               </div> 
            <% end %>
      </div>
    </div>
  </div>
</div>
   
<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });
});


jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [6],
      "bSortable": false
    }
  ];
  var dataTable = $('#up_orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });

  var boColumnDefs = [
    {
      "aTargets": [7,8],
      "bSortable": false
    }
  ];
  var dataTable = $('#bk_orders_table').dataTable({
    "aoColumnDefs": boColumnDefs,
    sPaginationType: "full_numbers"
  });
  var coColumnDefs = [
    {
      "aTargets": [5,6],
      "bSortable": false
    }
  ];
  var dataTable = $('#vc_orders_table').dataTable({
    "aoColumnDefs": coColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>