<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-credit-card"></i>&nbsp;&nbsp;
      <%= link_to "Refund Revocation", admin_refund_revocations_path,:remote => true %>
    </li>
    <li class="active">Refund Revocation</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
  <div class= "row"> 
    <div class="col-sm-7 col-xs-12"> 

      <div class="widget-box widget-color-green ui-sortable-handle">
          <div class="widget-header">
            <h5 class="widget-title lighter cursive-font">Order Details</h5>
            <div class="widget-toolbar">
            </div>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <ul class="list-unstyled spaced2">
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Order Number</label></div>
                          <div class="col-sm-8">
                            <%= @admin_order.order_number %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Paymet Mode</label></div>
                          <div class="col-sm-8">
                            <%= @admin_order.payment_mode %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Payment Status</label></div>
                          <div class="col-sm-8">
                            <%= @admin_order.payment_status %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Order Cost</label></div>
                          <div class="col-sm-8">
                            <%= @admin_order.order_cost %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Order Status</label></div>
                          <div class="col-sm-8">
                            <%= @admin_order.status %>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Location</label></div>
                          <div class="col-sm-8">
                            <%= @admin_order.location %><% if @admin_order.ip.present? %>(<%= @admin_order.ip %>)<% end %>
                          </div>
                        </div>
                      </div>
                    </li>
                      <li style="border-bottom:1px solid #eee;">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-sm-4 label-color"> <label>Shipping Address</label></div>
                          <div class="col-sm-8">
                                <%= @admin_order.shipping_address.name %><br/>
                                <%= @admin_order.shipping_address.add_line1 %>,
                                <%= @admin_order.shipping_address.add_line2 %><br/>
                                <%= @admin_order.shipping_address.state %>,
                                <%= @admin_order.shipping_address.country %>-
                                <%= @admin_order.shipping_address.c_code %><br/>
                                <%= @admin_order.shipping_address.pincode %><br/>
                                <%= @admin_order.shipping_address.phone %>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>

    </div>
  </div>
</div> 
