<%= form_for @admin_regulation, :url => admin_inventory_regulations_path(@admin_inventory) do |f| %>
  <% if @admin_regulation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_regulation.errors.count, "error") %> prohibited this admin_regulation from being saved:</h2>

      <ul>
      <% @admin_regulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= f.label :qty, "Qty" %>
    <%= f.number_field :qty, :value => @admin_inventory.qty %>
    <%= f.label :reason, "Give Reason" %>
    <%= f.text_field :reason %>
  </div>
  <div class="actions">
    <%= f.submit, :class => "btn btn-primary" %>
  </div>
<% end %>
