<div class="row">
<span id="check_edit" style="display:none;">edit</span>
  <div class="col-xs-12 col-sm-2 left">
      <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
    <div class="border"><br />   
      <div class="pull-right">        
      </div>
      <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ol class="breadcrumb">
              <% if check_link(admin_inventories_path) %><li><%= link_to "Inventroy", admin_inventories_path %></li><% end %>
              <% if check_link(admin_inventory_path(@admin_inventory)) %><li><%= link_to @admin_inventory.id, admin_inventory_path(@admin_inventory) %></li> <% end %>        
              <li class="active">Edit</li>
            </ol>
          </div>
        </div>            
    </div>
    <div class="col-xs-12 col-sm-10"><br/>
       <div class="row">
        <%= form_for @admin_regulation, :url => admin_inventory_regulation_path(@admin_inventory, @admin_regulation),:html => {:id => 'new_regulation' } do |f| %>
          <% if @admin_regulation.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@admin_regulation.errors.count, "error") %> prohibited this admin_regulation from being saved:</h2>
              <ul>
              <% @admin_regulation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="fields">            
              <div class="col-xs-12 col-sm-3">
                <%= f.label :qty, "Qty" %>
              </div>
              <div class="col-xs-12 col-sm-9">
                <%= f.number_field :qty, :value => @admin_inventory.qty,:in=> 1..1000,:class => "form-control width2"  %>
                <span id="regqty_error" class="error_list" style="display:none;"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="fields">            
              <div class="col-xs-12 col-sm-3"><br />
                <%= f.label :reason, "Give Reason" %>                 
              </div><br />
              <div class="col-xs-12 col-sm-9">
                <%= f.text_field :reason, :class=>"regclass",data: {load: @admin_regulation.to_json} %> 
                <input data-pre="[<%= @admin_regulation.to_json %>]" id="citizen_profile_attributes_city"  size="30" type="hidden" value="Tokajík">
                <span id="regreason_error" class="error_list" style="display:none;"></span>    
              </div>      
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3"><br />                
            </div>
            <div class="col-xs-12 col-sm-9">
              <div class="actions"><br />
                <%= f.submit "Update Regulation", :class => "btn btn-primary btn-sm" %>
              </div>
            </div>             
          </div>
        <% end %>
    </div>
    </div>
    <div class="col-xs-12 col-sm-2">
    </div>
  </div>
</div>

