<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
      <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
    <div class="border">      
      <h3>Listing admin_regulations</h3>
    </div><br/>
    <div class="col-xs-12 col-sm-8">    
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @admin_regulations.each do |admin_regulation| %>
            <tr>
              <td><%= link_to 'Show', admin_inventory_regulation_path(@admin_inventory,admin_regulation) %></td>
              <td><%= link_to 'Edit', edit_admin_inventory_regulation_path(@admin_inventory,admin_regulation) %></td>
              <td><%= link_to 'Destroy', admin_inventory_regulation_path(@admin_inventory, admin_regulation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Regulation', new_admin_inventory_regulation_path(@admin_inventory) %>
    </div>
    <div class="col-xs-12 col-sm-4">
      
    </div>
  </div>  
</div>


