<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
      <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
    <div class="border"><br />   
      <div class="pull-right">
        
      </div>
      <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ol class="breadcrumb">
              <% if check_link(admin_inventories_path) %>
                <li><%= link_to "Inventroy", admin_inventories_path %></li>
              <% end %>              
              <% if check_link(admin_inventory_path(@admin_inventory)) %>
               <li><%= link_to @admin_inventory.id, admin_inventory_path(@admin_inventory) %></li> 
              <% end %>              
              <li class="active"><%= @admin_regulation.reason %></li>
            </ol>
          </div>
        </div>            
    </div><br/>
    <div class="row">
        <div class="col-sm-4 col-xs-6">
          <strong>Reason</strong>
        </div>
        <div class="col-sm-8 col-xs-6">
          <%= @admin_regulation.reason %>
        </div>
    </div><br/>
    <div class="row">
        <div class="col-sm-4 col-xs-6">
          <strong>Quantity</strong>
        </div>
        <div class="col-sm-8 col-xs-6">
          <%= @admin_regulation.qty %>
        </div>
    </div><br/>
    <div class="col-xs-12 col-sm-4">
      
    </div>
  </div>  
</div>



