
<% if @param.present? %>
<%= search_form_for(@search,:url => admin_warehouse_dashboard_resend_consignments_path(@warehouse),:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
  <% count=0 %>
  <% flag=0 %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c,as: flag %>
  <% flag+=1 %>
  <% end %>
  <span style="display:none" class= "for_hide">
    <%= flag %> 
  </span>
  <%= f.condition_fields do |c| %>
    <%= render "search_params", f: c, like: count %>
    <% count+=1 %>
  <% end %>
  <span style="display:none" class= "for_count">
    <%= count %> 
  </span> 
  <div class="actions"><%= f.submit "Search" %></div>
<% end %><br/>
<% else %>
<%= search_form_for(@search,:url => admin_warehouse_dashboard_resend_consignments_path(@warehouse),:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
    <div class= "hide_form">
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c, as: flag %>
      <% flag+=1 %>
    <% end %>
    </div>
  <p class= "qwer"></p>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<% end %>
<br />
<br />
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#all" role="tab" data-toggle="tab">All Consignments</a></li>
    <li><a href="#unconform" role="tab" data-toggle="tab">Task UnAssigned Consignments</a></li>
    <li><a href="#task" role="tab" data-toggle="tab">Task Assigned Consignments</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="all"><br/><br/>
      <% if @consignment.present? %>    
        <div class="panel panel-default">
          <div class=" panel-heading"> 
            <div class="row">
              <div class="col-sm-3 col-xs-3 text-info bold">Consignment Number <br />(Consignment Cost)</div>
              <div class="col-sm-2 col-xs-2 text-info bold">Order Number</div>
              <div class="col-sm-2 col-xs-2 text-info bold">Created_At</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Task Assigned</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Confirmed</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Dispatched</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Delivery Status</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Bussiness Status</div>
            </div>
          </div>
          <div class="panel-body top_space">
            <% @consignment.each do |consignment| %>
              <div class="row hoverd">
                <div class="col-sm-3 col-xs-3">
                  <%= consignment.consignment_number %>( Rs. - <%= consignment.consignment_cost %> )
                </div>
                <div class="col-sm-2 col-xs-2">
                  <%= consignment.order.order_number %>
                </div>
                <div class="col-sm-2 col-xs-2">
                  <%= consignment.created_at %>
                </div>
                <div class="col-sm-1 col-xs-1">
                  <% if consignment.package_tasks.present? %>
                    <span class = "glyphicon glyphicon-ok color_green"></span>
                  <% else %>
                    <span class = "glyphicon glyphicon-play-circle "></span>
                  <% end %>
                </div> 
                <div class="col-sm-1 col-xs-1">
                  <% if consignment.conform == true %>
                    <span class = "glyphicon glyphicon-ok color_green"></span>
                  <% else %>
                    <span class = "glyphicon glyphicon-play-circle "></span>
                  <% end %>
                </div> 
                <div class="col-sm-1 col-xs-1">
                  <% if consignment.check_for_delivery_status_visibility == true %>
                    <span class = "glyphicon glyphicon-ok color_green"></span>
                  <% else %>
                    <span class = "glyphicon glyphicon-play-circle "></span>
                  <% end %>
                </div> 
                <div class="col-sm-1 col-xs-1">
                  <% if consignment.delivery_status == true %>
                    <span class = "glyphicon glyphicon-ok color_green"></span>
                  <% elsif consignment.delivery_status == false %>
                    <span class = "glyphicon glyphicon-remove color_red"></span>
                  <% else %>
                    <span class = "glyphicon glyphicon-play-circle "></span>
                  <% end %>
                </div> 
                <div class="col-sm-1 col-xs-1">
                  <% if consignment.check_for_policy_status == true %>
                    <span class = "glyphicon glyphicon-ok color_green"></span>
                  <% else %>
                    <span class = "glyphicon glyphicon-play-circle "></span>
                  <% end %>
                </div>                  
              </div>          
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane" id="unconform"><br/>
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
        <% if @consignment.where("parent_consignment_id IS NOT NULL").first.present? %>
          <div class="panel panel-default">
            <div class=" panel-heading"> 
              <div class="row">
                <div class="col-sm-3 col-xs-3 text-info bold">Consignment Number (Consignment Cost)</div>
                <div class="col-sm-3 col-xs-3 text-info bold">Created_At</div>
                <div class="col-sm-3 col-xs-3 text-info bold">Order Number</div>
                <div class="col-sm-3 col-xs-3 text-info bold">Consignment Status</div>
              </div>
            </div>
            <% flag1 = 0 %>
            <%= form_for(@admin_resend_task,:url => admin_warehouse_dashboard_resend_tasks_path(@warehouse),:html => {:id => 'move_to_package_form' }) do |f| %>
              <% if @consignment.present? %>    
                <div class="panel-body top_space"><br/>
                  <% @consignment.where("parent_consignment_id IS NOT NULL").each do |consignment| %>
                    <% if consignment.resend_tasks.first.nil? %>
                      <% flag1 = 1 %>
                      <%= f.fields_for :resend_tasks_consignments do |builder| %>
                          <div class="row hoverd">
                            <div class="col-sm-3 col-xs-3">
                              <%= consignment.consignment_number %> (RS. - <%= consignment.consignment_cost %>)
                            </div>
                            <div class="col-sm-3 col-xs-3">
                              <%= consignment.created_at %>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                              <%= consignment.order.order_number %>
                            </div>
                            
                            <div class="col-sm-3 col-xs-3">
                              <%= builder.hidden_field :_consignment_id,:value => consignment.id %>
                              <%= builder.check_box :conform %>
                            </div>
                          </div>         
                      <% end %>
                    <% end %>
                  <% end %>
                </div> 
              <% end %>
              <% if flag1 == 1 %>
                <div class="row">
                  <div class="col-sm-8 col-xs-1"></div>
                  <div class="col-sm-2 col-xs-1">
                  <%= f.submit "Create Delegate" ,:class => "btn btn-primary btn-xs"%>
                  </div>
                </div><br/>
              <% end %>
            <% end %>
          </div>
        <% end %>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="task"><br/>
      <% if @consignment.present? %>    
        <div class="panel panel-default">
          <div class=" panel-heading"> 
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-info bold">Consignment Number <br />(Consignment Cost)</div>
              <div class="col-sm-2 col-xs-2 text-info bold">Order Number</div>
              <div class="col-sm-2 col-xs-2 text-info bold">Created_At</div>
              <div class="col-sm-2 col-xs-2 text-info bold">Task Number</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Confirmed</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Dispatched</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Delivery Status</div>
              <div class="col-sm-1 col-xs-1 text-info bold">Bussiness Status</div>
          </div>
        </div>
          <div class="panel-body top_space">
            <% @consignment.each do |consignment| %>
              <% if consignment.package_tasks.present? %>
                <div class="row hoverd">
                  <div class="col-sm-2 col-xs-2"> 
                    <%= link_to consignment.consignment_number, admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse, consignment.package_tasks.first,consignment) %><br />( Rs. - <%= consignment.consignment_cost %> )
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <%= consignment.order.order_number %>
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <%= consignment.created_at %>
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <%= link_to consignment.package_tasks.first.task_number, admin_warehouse_dashboard_package_task_path(@warehouse,consignment.package_tasks.first) %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    <% if consignment.conform == true %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    <% if consignment.check_for_delivery_status_visibility == true%>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    <% if consignment.delivery_status == true %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% elsif consignment.delivery_status == false %>
                      <span class = "glyphicon glyphicon-remove color_red"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    <% if consignment.package_tasks.present? %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div>                  
              
                </div>  
              <% end %>        
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>