

<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
     <li><i class="ace-icon fa fa-home home-icon"></i>&nbsp;&nbsp;<%= link_to "Resend Task", admin_warehouse_dashboard_resend_tasks_path(@warehouse),:remote => true %></li>
          <li><%= link_to @admin_resend_task.task_number, admin_warehouse_dashboard_resend_task_path(@warehouse,@admin_resend_task),:remote => true %></li>
          <li class="active"><%= @consignment.consignment_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
      <% if @consignment.cancel.nil? %>   
        <% if @consignment.check_for_consignment_confirmation == true && @consignment.conform == false %>
          <%= link_to "Conform Consignment", admin_warehouse_dashboard_consignment_path(@warehouse,@consignment,:conform => true), :method => :patch, :class => "btn btn-success" %>
        <% elsif @consignment.conform == true %>
          <strong class="text-success fs14">Consignment Confirmed</strong>
        <% end %>  
      <% else %>
        <strong class="text-danger fs14">Consignment Cancelled</strong>
      <% end %>   
  </div>
  <!-- button panel end --> 
 
</div>

<%= render partial: "layouts/shared/flash_msg" %>  
  <div class="border"><br/>
    <div class="pull-right">
      <% if @consignment.cancel.nil? %>   
        <% if @consignment.check_for_consignment_confirmation == true && @consignment.conform == false %>
          <%= link_to "Conform Consignment", admin_warehouse_dashboard_consignment_path(@warehouse,@consignment,:conform => true), :method => :patch, :class => "btn btn-success" %>
        <% elsif @consignment.conform == true %>
          <strong class="text-success fs14">Consignment Confirmed</strong>
        <% end %>  
      <% else %>
        <strong class="text-danger fs14">Consignment Cancelled</strong>
      <% end %>   
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to "Resend Task", admin_warehouse_dashboard_resend_tasks_path(@warehouse),:remote => true %></li>
          <li><%= link_to @admin_resend_task.task_number, admin_warehouse_dashboard_resend_task_path(@warehouse,@admin_resend_task),:remote => true %></li>
          <li class="active"><%= @consignment.consignment_number %></li>
        </ol>
      </div>
    </div>
  </div><br/>
 
</div>



<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <%= link_to "Home", root_path %>
    </li>
    <li class="active"><%= @warehouse.name %> Resend  Consignments</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" style="height: 70px;padding-top:2px">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
<div class="searchable_content2">
   <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="col-sm-6 col-xs-6">
        <div class="row"> 
          <div class="panel panel-info">
            <div class="panel-heading text-center">
                <strong>ORDER DETAILS</strong> 
              </div>
            <div class="panel-body top_space">
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Order Number</strong></div>
                  <div class="col-sm-9"><%= @order.order_number %></div>
                </div>                    
              </div>
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Paymet Mode</strong></div>
                  <div class="col-sm-9"><%= @order.payment_mode %></div>
                </div>
              </div>
              <div class="row info-borders hoverd">  
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Payment Status</strong></div>
                  <div class="col-sm-9"><%= @order.payment_status %></div>
                </div>
              </div>
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Order Cost</strong></div>
                  <div class="col-sm-9"><%= @order.order_cost %></div>
                </div>
              </div>
              <div class="row info-borders hoverd"> 
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Order Status</strong></div>
                  <div class="col-sm-9"><%= @order.status %></div>
                </div>
              </div>
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Shipping Address</strong></div>
                  <div class="col-sm-9">
                  <%= @order.shipping_address.name %><br/>
                  <%= @order.shipping_address.add_line1 %>,
                      <%= @order.shipping_address.add_line2 %><br/>
                      <%= @order.shipping_address.state %>,
                      <%= @order.shipping_address.country %>-
                      <%= @order.shipping_address.c_code %><br/>
                  <%= @order.shipping_address.pincode %><br/>
                  <%= @order.shipping_address.phone %>
                  </div>
                </div>
              </div>
              <div class="row info-borders hoverd"> 
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Location</strong></div>
                  <div class="col-sm-9"><%= @order.location %><% if @order.ip.present? %>(<%= @order.ip %>)<% end %></div> 
                </div>
              </div>
            </div>
          </div>
        </div><br/>
      </div>
      <div class="col-sm-6 col-xs-6">
        <div class="col-sm-12 col-xs-12">
          <div class = "row">
            <div class="panel panel-info">
              <div class="panel-heading text-center">
                  <strong>Consignment Details</strong> 
                </div>
              <div class="panel-body top_space">
                <div class="row info-borders hoverd">
                  <div class="col-sm-12">
                    <div class="col-sm-6 text-info"><strong>ConsignMent Cost</strong></div>
                    <div class="col-sm-6"><%= @consignment.consignment_cost %></div> 
                  </div>
                </div>
                <div class="row info-borders hoverd">
                  <div class="col-sm-12">
                    <div class="col-sm-6 text-info"><strong>ConsignMent Conform</strong></div>
                    <div class="col-sm-6"><%= @consignment.conform %></div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @order = @consignment.order %>
  <% if @invoice = @consignment.invoices.first.present? %>
    <% @invoice = @consignment.invoices.first %>

    
    <div class="row">
      <div class="col-sm-12 col-xs-12">
      <div class="printable" id="ele2">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr><strong>INVOICE</strong></tr>
          <tr>
            <td><strong>Invoice Number</strong></td>
            <td style="margin-left:100px;"><%= @invoice.invoice_number %></td>
          </tr>
          <tr>
            <td><strong>Order Number</strong></td>
            <td><%= @order.order_number %></td>
          </tr>
          <tr>
            <td><strong>Payment Mode</strong></td>
            <td><%= @order.payment_mode %></td>
          </tr>
          <tr>
            <td><strong>Consignment Number</strong></td>
            <td><%= @consignment.consignment_number %></td>
          </tr>
          <tr>
            <td><strong>Consignment Cost</strong></td>
            <td><%= @consignment.consignment_cost %></td>
          </tr>
          <tr>
            <td><strong>Invoice Cost</strong></td>
            <td><%= @consignment.invoice_cost %></td>
          </tr>
          <tr>
            <td><strong>Dispatch From</strong></td>
            <td>
              <% @warehouse.addresses.each do |address| %>
                <%= address.add_line1 %>,<br />
                <%= address.add_line2 %>,
                <%= address.state %>,<br />
                <%= address.country %>-
                <%= address.c_code %>,<br />
                <%= address.phone %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Shipping Address</strong></td>
            <td>
              <%= @order.shipping_address.name %><br/>
              <%= @order.shipping_address.add_line1 %>,
              <%= @order.shipping_address.add_line2 %><br/>
              <%= @order.shipping_address.state %>,
              <%= @order.shipping_address.country %>-
              <%= @order.shipping_address.c_code %><br/>
              <%= @order.shipping_address.pincode %><br/>
              <%= @order.shipping_address.phone %>
            </td>
          </tr>
          <tr>
            <tr>
              <td><strong>ITEM</strong>
              </td>
              <td><strong>QTY</strong>
              </td>
              <td><strong>PRICE</strong>
              </td>
              <td><strong>SUBTOTAL</strong>
              </td>
            </tr>
            <tr>
              <% @consignment.consignment_items.each do |consignment_item|%>
                  <% variant = Admin::Variant.find(consignment_item.variant_id)%>
                  <% product = Admin::Product.find(variant.product_id) %>
                  
                    <td><%= variant.name %></td>
                    <td><%= consignment_item.qty %></td>
                    <td><%= consignment_item.per_qty_price %></td>
                    <td><%= consignment_item.price %></td>
                  
                <% end %>
            </tr>
          </tr>
        </table>
        </div>
        <button class="print-link btn btn-sm primary" onclick="PrintElem('#ele2')"> Print this </button>
      </div>
    </div>
    
  <% end %>
</div> 
  </div>   


<script type="text/javascript">
function PrintElem(elem)
{
    Popup($(elem).html());
}
function Popup(data) 
{
    var mywindow = window.open('', 'my div', 'height=800,width=1200');
    mywindow.document.write('<html><head><title>Print Items</title>');
    //mywindow.document.write('<link rel="stylesheet" href="../assets/stylesheets/vendor/bootstrap.css" type="text/css" />');
    mywindow.document.write('</head><body >');
    mywindow.document.write(data);
    mywindow.document.write('</body></html>');
    mywindow.print();
    mywindow.close();
    return true;
}
</script>