/*-----------------------------------------------------------------------------

	-	Revolution Slider 4.1 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	17/02/15
author:		magikcommerce
email:      support@magikcommerce.com
website:   	http://www.magikcommerce.com/
-----------------------------------------------------------------------------*/



/*************************
	-	CAPTIONS	-
**************************/

#magik-slideshow {
	border: none;
	padding: 0;
	width: 100%;
	margin:auto;
}
.rev_slider_wrapper {
	position: relative;
}
.rev_slider_wrapper >ul {
}
.rev_slider {
	position: relative;
}
.rev_slider img {
	max-width: none;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: none;
}
.rev_slider .no-slides-text {
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
}
.rev_slider ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-type: none;
	background-position: 0px 0px;
}
.rev_slider ul li, .rev_slider >ul >li, .rev_slider >ul >li:before {
	list-style: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-image: none;
	background-position: 0px 0px;
	text-indent: 0em;
}
.rev_slider .tp-caption, .rev_slider .caption {
	position: absolute;
}
.tp-simpleresponsive img {
	max-width: none;
}
/* ADDED FOR SLIDELINK MANAGEMENT */

.tp_inner_padding {
	box-sizing: border-box;
	max-height: none;
}
.tp-hide-revslider, .tp-caption.tp-hidden-caption {
}
.fullscreen-container {
	width: 100%;
	position: relative;
	padding: 0;
	margin: auto;
}
.fullwidthbanner-container {
	width: 100%;
	position: relative;
	padding: 0;
	margin: auto;
}
.fullwidthbanner-container .fullwidthabanner {
	width: 100%;
	position: relative;
	margin: auto;
}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img {
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
	position: absolute;
	text-align:center;
	width:500px

}
.tp-caption.ExtraLargeTitle {
	line-height: 70px;
	font-weight: 900;
	font-family: 'Montserrat', serif;
	color: #24414b;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 18px;
	left: 20%;
}
.tp-caption.LargeTitle {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	font-size: 60px;
	left: 19.5%;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.view-more {
	padding: 10px 35px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	color: #333;
	background-color: #fff;
	margin-left:5px;
	margin-right:10px
}

.small-size{font-size:12px!important; color:#24414b!important; font-weight:300!important}

.buy-btn {
	padding: 10px 45px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
	margin-right: 10px;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	background:#2ecc71;
	margin-left:5px;
	margin-right:10px;
}
.buy-btn:hover {
	color: #fff;
	border: 2px #fff solid;
	background-color: #da2c2a;
}
.tp-caption.Title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	color: #473434;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	line-height:1.6em

}
.tp-caption.Title1{	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	color: #473434;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	line-height:1.6em;}

.tp-caption.TitleOrange {
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: rgb(248, 186, 117);
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	border: 0px none rgb(255, 214, 88);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: rgb(255, 214, 88);
	border-style: none;
	border-width: 0px;
	border-radius: 0px 0px 0px 0px;
}
 @media only screen and (min-width: 320px) and (max-width: 479px) {
	 	.tp-leftarrow.default {
    background: image-url("left_a.png") no-repeat scroll 9px 4px / 7px auto rgba(0, 0, 0, 0.6) !important;
    height: 30px !important;
    left: 5px !important;
    width: 30px !important;
}

	 	.tp-rightarrow.default {
    background: image-url("right_a.png") no-repeat scroll 9px 4px / 7px auto rgba(0, 0, 0, 0.6) !important;
    height: 30px !important;
    right: 5px !important;
    width: 30px !important;
}

.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{ width:300px;}
.tp-caption.line{ display:none;}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img{ height:100% !important; width:100% !important;}
.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container{ height:100% !important; width:100% !important;}
.info{ width:300px !important;}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{ text-align:left;}
.tp-caption.ExtraLargeTitle{ font-size:10px !important;}
.tp-caption.Title{ display:none;}
.tp-caption.LargeTitle{ font-size:18px !important; margin-top:10px !important; margin-bottom:10px !important;}

.view-more {
    font-size: 10px !important;
    margin-top: 10px !important;
    padding: 4px 10px !important;
    
}
.buy-btn{   font-size: 10px !important;
    margin-top: 10px !important;
    padding: 4px 10px !important;}
.tp-caption.sfb{ margin-top:10px !important;}
.tp-caption.Title1.sft{ display:none;}
}


 @media only screen and (min-width: 480px) and (max-width: 767px) {
 	.tp-leftarrow.default {
    background: image-url("left_a.png") no-repeat scroll 9px 4px / 7px auto rgba(0, 0, 0, 0.6) !important;
    height: 30px !important;
    left: 5px !important;
    width: 30px !important;
}

	 	.tp-rightarrow.default {
    background: image-url("right_a.png") no-repeat scroll 9px 4px / 7px auto rgba(0, 0, 0, 0.6) !important;
    height: 30px !important;
    right: 5px !important;
    width: 30px !important;
}

.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{ width:300px;}
.tp-caption.line{ display:none;}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img{ height:100% !important; width:100% !important;}
.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container{ height:100% !important; width:100% !important;}
.info{ width:300px !important;}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{ text-align:left;}
.tp-caption.ExtraLargeTitle{ font-size:10px !important;}
.tp-caption.Title{ display:none;}
.tp-caption.LargeTitle{ font-size:18px !important; margin-top:10px !important; margin-bottom:10px !important;}

.view-more {
    font-size: 10px !important;
    margin-top: 10px !important;
    padding: 4px 10px !important;
    
}
.buy-btn{   font-size: 10px !important;
    margin-top: 10px !important;
    padding: 4px 10px !important;}
.tp-caption.sfb{ margin-top:10px !important;}
.tp-caption.Title1.sft{ display:none;}
}


 @media only screen and (min-width: 0px) and (max-width: 479px) {
.tp-button {
	padding: 2px 5px 2px;
	line-height: 20px;
	font-size: 10px;
}
}

 @media only screen and (min-width: 768px) and (max-width: 991px) {


.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{ width:500px;}
.tp-caption.line{ display:none;}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img{ height:100% !important; width:100% !important;}
.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container{ height:100% !important; width:100% !important;}
.info{ width:300px !important;}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{ text-align:left;}
.tp-caption.ExtraLargeTitle{ font-size:22px !important;}
.tp-caption.Title{ display:none;}
.tp-caption.LargeTitle{ font-size:28px !important; margin-top:10px !important; margin-bottom:10px !important;}

.view-more {
    font-size: 12px !important;
    margin-top: 10px !important;
    padding: 4px 10px !important;
    
}
.buy-btn{   font-size: 12px !important;
    margin-top: 10px !important;
    padding: 4px 10px !important;}
.tp-caption.sfb{ margin-top:10px !important;}
.tp-caption.Title1.sft{ display:none;}
}
/*	BUTTON COLORS	*/

.tp-button.green, .tp-button:hover.green, .purchase.green, .purchase:hover.green {
	background-color: #21a117;
	box-shadow: 0px 3px 0px 0px #104d0b;
}
.tp-button.blue, .tp-button:hover.blue, .purchase.blue, .purchase:hover.blue {
	background-color: #1d78cb;
	box-shadow: 0px 3px 0px 0px #0f3e68;
}
.tp-button.red, .tp-button:hover.red, .purchase.red, .purchase:hover.red {
	background-color: #cb1d1d;
	box-shadow: 0px 3px 0px 0px #7c1212;
}
.tp-button.orange, .tp-button:hover.orange, .purchase.orange, .purchase:hover.orange {
	background-color: #ff7700;
	box-shadow: 0px 3px 0px 0px #a34c00;
}
.tp-button.darkgrey, .tp-button.grey, .tp-button:hover.darkgrey, .tp-button:hover.grey, .purchase.darkgrey, .purchase:hover.darkgrey {
	background-color: #555;
	box-shadow: 0px 3px 0px 0px #222;
}
.tp-button.lightgrey, .tp-button:hover.lightgrey, .purchase.lightgrey, .purchase:hover.lightgrey {
	background-color: #888;
	box-shadow: 0px 3px 0px 0px #555;
}
/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/

.tpclear {
	clear: both;
}
.tp-bullets {
	position: absolute;
	opacity: 1;
}
.tp-bullets.hidebullets {
	opacity: 0;
}
.tp-bullets.simplebullets.round .bullet.last {
	margin-right: 3px;
}
.tp-bullets.simplebullets.round-old .bullet.last {
	margin-right: 0px;
}
/**	SQUARE BULLETS **/
tp-bullets.simplebullets.square .bullet.last {
	margin-right: 0px;
}
/**	SQUARE BULLETS **/

.tp-bullets.simplebullets.square-old .bullet.last {
	margin-right: 0px;
}
/** navbar NAVIGATION VERSION **/

.tp-bullets.simplebullets.navbar .bullet.first {
	margin-left: 0px;
}
.tp-bullets.simplebullets.navbar .bullet.last {
	margin-right: 0px;
}
/** navbar NAVIGATION VERSION **/

.tp-bullets.simplebullets.navbar-old .bullet.first {
	margin-left: 0px;
}
.tp-bullets.simplebullets.navbar-old .bullet.last {
	margin-right: 0px;
}
.tp-bullets.simplebullets .bullet:hover, .tp-bullets.simplebullets .bullet.selected {
	background-position: top left;
}
.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.navbar .bullet:hover, .tp-bullets.simplebullets.navbar .bullet.selected {
	background-position: bottom left;
}
/*************************************
	-	TP ARROWS 	-
**************************************/
.tparrows {
	opacity: 1;
}
.tp-leftarrow {
	cursor: pointer;
	position: relative;
	background: image-url("left_a.png") no-repeat top left;
	width: 40px;
	height: 40px;
}
.tp-rightarrow {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background-image:image-url("right_a.png") !important;
	background-position: top left;
	background-repeat: no-repeat !important;
	width: 40px;
	height: 40px;
}
.tp-leftarrow.navbar-old.thumbswitharrow {
	margin-right: 10px;
}
.tp-rightarrow.navbar-old.thumbswitharrow {
	margin-left: 0px;
}

#magik-slideshow .tp-leftarrow.default {
	z-index: 99;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
	background-image:image-url("left_a.png") !important;
	background-position: 20px 6px;
	background-repeat: no-repeat !important;
	width: 60px;
	height: 60px;
	left: 20px !important; border-radius:60px;opacity:0;
}
#magik-slideshow:hover .tp-leftarrow.default {opacity:0.9;transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
#magik-slideshow .tp-rightarrow.default { opacity:0;
z-index: 99;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
	background-image:image-url("right_a.png") !important;
	background-position: 20px 6px;
	background-repeat: no-repeat !important;
	width: 60px;
	height: 60px;
	right: 20px !important;border-radius:50px;
}

#magik-slideshow:hover .tp-rightarrow.default {opacity:0.9;transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	
}
/****************************************************************************************************
	-	TP THUMBS 	-
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs {
	z-index: 1000;
	position: absolute;
	padding: 3px;
	background-color: #fff;
	width: 500px;
	height: 50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
	margin-top: -50px;
	vertical-align: top;
	display: none;
}
.tp-bullets.tp-thumbs img {
	vertical-align: top;
}
.fullwidthbanner-container .tp-thumbs {
	padding: 3px;
	margin: auto -160px;
}
.tp-bullets.tp-thumbs .tp-mask {
	width: 500px;
	height: 50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
	position: relative;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
	width: 500px;
	position: absolute;
}
.tp-bullets.tp-thumbs .bullet {
	width: 100px;
	height: 50px; 			/* THE DIMENSION OF A SINGLE THUMB */
	cursor: pointer;
	background: none;
	margin: 0;
	float: left;
	opacity: 0.5;
}
.tp-bullets.tp-thumbs .bullet:hover, .tp-bullets.tp-thumbs .bullet.selected {
	opacity: 1;
}
.tp-thumbs img {
	width: 100%;
}
/************************************
		-	TP BANNER TIMER		-
*************************************/

.tp-bannertimer.tp-bottom {
	top: auto;
	bottom: 0px;
	height: 5px;
}
/******************************
	-	HTML5 VIDEO SETTINGS	-
********************************/

.vjs-tech {
	margin-top: 1px
}
.tp-caption .vjs-default-skin .vjs-big-play-button {
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	line-height: 30px;
	vertical-align: top;
	padding: 0px;
}
.tp-caption .vjs-default-skin .vjs-big-play-button:before {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 40px;
	text-shadow: none;
	color: #fff;
	font-size: 18px;
}
.tp-caption .vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
	box-shadow: none;
}
.tp-caption img {
	background: transparent;
}
.tp-simpleresponsive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tp-simpleresponsive >ul li {
	list-style: none;
	position: absolute;
}
/*  CAPTION SLIDELINK   **/

.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container {
	width: 100%;
	display: inline-block;
	left: 0;
	margin: auto;
	z-index: 9; margin-bottom:-5px;
}

.info{ width:500px; float:right}
.line{
   background-image:image-url('line1.png');
   background-repeat:no-repeat;
   background-position:top center;  
   width:139px; height:18px;
   }


.chosen-container+.help-inline{vertical-align:middle}.chosen-container,[class*=chosen-container]{vertical-align:middle}.chosen-container>.chosen-single,[class*=chosen-container]>.chosen-single{line-height:28px;height:32px;box-shadow:none;background:#FAFAFA}.chosen-choices{box-shadow:none!important}.chosen-container-single .chosen-single abbr{background:0 0}.chosen-container-single .chosen-single abbr:after{content:"\f00d";display:inline-block;color:#888;font-family:FontAwesome;font-size:13px;position:absolute;right:0;top:-7px}.chosen-container-single .chosen-single abbr:hover:after{color:#464646}.chosen-container-single.chosen-disabled .chosen-single abbr:hover:after{color:#464646}.chosen-single div b{background:none!important}.chosen-single div b:before{content:"\f0d7";display:inline-block;color:#888;font-family:FontAwesome;font-size:12px;position:relative;top:-1px;left:1px}.chosen-container-active.chosen-with-drop .chosen-single div b:before{content:"\f0d8"}.chosen-container-single .chosen-search{position:relative}.chosen-container-single .chosen-search input[type=text]{background:0 0;border-radius:0;line-height:28px;height:28px}.chosen-container-single .chosen-search:after{content:"\f002";display:inline-block;color:#888;font-family:FontAwesome;font-size:14px;position:absolute;top:8px;right:12px}.chosen-container-multi .chosen-choices li.search-field input[type=text]{height:25px}.chosen-container-multi .chosen-choices li.search-choice{line-height:16px;padding-bottom:4px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{background:0 0}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before{content:"\f00d";display:inline-block;color:#888;font-family:FontAwesome;font-size:13px;position:absolute;right:2px;top:-1px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{text-decoration:none}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:before{color:#464646}.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close:before{color:#464646}.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span{background:0 0}.chosen-container .chosen-results-scroll-down span:before,.chosen-container .chosen-results-scroll-up span:before{content:"\f0d7";display:inline-block;color:#888;font-family:FontAwesome;font-size:12px;position:relative;top:-1px;left:1px}.chosen-container .chosen-results-scroll-up span:before{content:"\f0d8"}.chosen-container-active .chosen-single-with-drop div b:before{content:"\f0d8"}.chosen-rtl .chosen-search input[type=text]{background:0 0}.chosen-rtl .chosen-search:after{content:"";display:none}.chosen-rtl .chosen-search:before{content:"\f002";display:inline-block;color:#888;font-family:FontAwesome;font-size:14px;position:absolute;top:9px;left:12px}.chosen-container-single .chosen-single{border-radius:0}.chosen-container .chosen-results li.highlighted{background:#316AC5;color:#FFF}.chosen-container-single .chosen-drop{border-radius:0;border-bottom:3px solid #4492C9;border-color:#4492C9}.chosen-single.chosen-single-with-drop,.chosen-container-active .chosen-single{border-color:#4492C9}.form-group.has-error .chosen-single{border-color:#f2a696!important}.form-group.has-info .chosen-single{border-color:#72aec2!important}.form-group.has-warning .chosen-single{border-color:#e3c94c!important}