<h1>Listing admin_cod_specific_pincodes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_cod_specific_pincodes.each do |admin_cod_specific_pincode| %>
      <tr>
        <td><%= link_to 'Show', admin_cod_specific_pincode %></td>
        <td><%= link_to 'Edit', edit_admin_cod_specific_pincode_path(admin_cod_specific_pincode) %></td>
        <td><%= link_to 'Destroy', admin_cod_specific_pincode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cod specific pincode', new_admin_cod_specific_pincode_path %>
