@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
 


@media (min-width:480px){
  .breadcrumbs {
	margin-top:45px;
	padding-left:5px !important;
  }
}
@media (max-width:480px){
  .breadcrumbs {
	margin-top:90px;
	padding-left:5px !important;
  }
}
 
.heading-label-color{
  color: #657ba0 !important;
}

.label-color{
  color: #393939 !important;
}

.large{
	font-size:20px;
	margin-top:14px;
}
.large:hover{
	cursor: pointer;
}
.applied_filter{
	border: solid 1px #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #EEE;
	padding: 2px 8px;
	margin-bottom: 10px;
	margin-right: 5px;
	font-size: 12px;
}
.episodes {
margin-right: 200px;
}
.episodes .filters {
margin-bottom: 15px;
}
.episodes .filter {
border: solid 1px #aaa;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background-color: #EEE;
padding: 2px 8px;
margin-bottom: 10px;
margin-right: 5px;
font-size: 12px;
}
.width90{
	width:90% !important;
}
.form_width{
	width:50% !important;
}
.sort_price_link{
  font-size:18px;
  margin-top:-8px;
}