.container_content .border{
  position: relative !important;
  z-index: auto !important;
  border-bottom: 1px solid #e5e5e5 !important;
  background-color: #f5f5f5 !important;
  min-height: 41px !important;
  line-height: 40px !important;
  padding: 0 12px 0 0 !important;
}
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 100%;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #39a1e7;
  color: #ffffff;
  border-bottom: 1px solid #5e071b;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
  background: #31373d;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li >  span > a  {
  color: #b06338;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
.admin_active{
  font-weight:bold;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #444546;
}
.active12{
  font-weight: bold;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
  background-image:url('../assets/arrow_down1.png');
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  background:#f5f5f5;  
  border-right:1px solid #5e071b;  
  border-bottom: 1px solid #e0e0e0;
  border-top: 0;
}
#cssmenu ul ul li:hover {
  background:#fff;  
  border-right:4px solid #5e071b;  
  border-bottom: 1px solid #e0e0e0;
  background-image:url('../assets/arrow_down1.png');
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 9px;
  display: block;
  color: #31373d;
  font-size: 13px;

}
#cssmenu ul ul a:hover {
  color: #bd0e36;
  
}
#cssmenu ul ul li.odd {
  background: #f4f4f4;
}
#cssmenu ul ul li.even {
  background: #fff;
}
.side_link{  
  font-size:12px;
  padding-top:10px;
  padding-bottom:10px;
  text-transform: uppercase;
  font-weight:bold;
  padding-left:10px;
}

