.show_button_color{
	color:#87B87F !important;
}
.edit_button_color{
	color:#307ECC !important;
}
.edit_button_color:hover,.create_button > a:hover ,.delete_button_color:hover,.show_button_color:hover{
	text-decoration: none;
}
.delete_button_color{
	color:#d12723 !important;
}

.white{
	color:#fff !important;
}
.form-group12 select{
	width:100%;
}
#confirmation_dialog > .modal-dialog > .modal-content{
	width:50% !important;
}
#confirmation_dialog > .modal-dialog > .modal-content > .modal-footer > a{
	padding:0px 4px 0px 4px !important;
}

@media (min-width: 0px) and (max-width: 768px){
.fullscreen2{
	position: fixed;
	top: 2%;
	bottom:2%;
	left: 2%;
	right: 2%;
	z-index: 1050;
	display: block;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	transition: opacity .15s linear;
}
}

@media (min-width: 768px) { 
   .footer .footer-inner .footer-content{
   	left:12px !important;
}
.fullscreen2{
	position: fixed;
	top: 2%;
	bottom:2%;
	left: 2%;
	right: 2%;
	z-index: 1050;
	display: block;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	transition: opacity .15s linear;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .footer .footer-inner .footer-content{
   	left:12px !important;
}
.fullscreen2{
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 20%;
	right: 20%;
	z-index: 1050;
	display: block;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	transition: opacity .15s linear;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.footer .footer-inner .footer-content{
   	left:12px !important;
}
.fullscreen2{
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 20%;
	right: 20%;
	z-index: 1050;
	display: block;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	transition: opacity .15s linear;
}
}
.page-header h4{
margin: 0px;
padding: 0;
font-weight: lighter;
color: #2679b5;
}
.breadcrumb > li > a:hover{
	text-decoration: none;
}
