$theme_color:#D50059;
$site_color:rgb(223, 89, 37);
$header_hover: #fff;
$border_color: #E7F5F8;
$header_bg_color:#fff;
$body_background_color:#fff;
$footer_bg_color:#fcfcfc;
$personal_desc_bg_color:#fcfcfc;
$footer_bg_color1:#D50059;
$header_font_color:#b6cbda;
$header_cart_bg:#000;
$admin_header_color:#39a1e7;

#nav {
 background: #e5e5e5;
 float: left;
 margin: 0; padding: 0;
 
}

#nav li a, #nav li {
 float: left;
}
.wishlist:hover{
	
}
#nav li {
 list-style: none;
 position: relative;
}
.cart_hover:hover{
	text-decoration :none;
}
.btn-primary1{
	background:$theme_color !important;
}
.admin_side_line{
	border-left:1px dotted #438eb9;margin-left:10px;padding-left:11px;
}
.top_margin{
content: "";
display: block;
width: 7px;
position: absolute;
z-index: 1;
left: 11px;
top: 17px;
border: 1px dotted;
border-width: 1px 0 0;
}
.top_margin:hover{
	background:#000;
}
.top_margin1{
content: "";
display: block;
position: absolute;
z-index: 1;
left: 11px;
width:7px;
	background-image:url('../category_right.png');
}

#nav li a {
 padding: 12px;
 text-decoration: none;
 color: white;
 background: $admin_header_color;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px); 
}

#nav li a:hover {
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 170px;
 padding:10px;
 display: block;
 border-bottom:1px solid #fff;
 border-right:1px solid #fff;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}// Place all the styles related to the admin/Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


