#categorymenu1 {
    overflow: auto;
    position:relative;
    z-index:2;
    margin-left:34px;
}
.parent-menu1 {
    background-color: #fa8e1f;
    min-width:200px;
    float:left;
    height:302px;
}
#categorymenu1 ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
#categorymenu1 ul li a
{
    padding:10px 15px;
    display:block;
    color:#fff;
    text-decoration:none;
}
.ml12{
    margin-left:12px !important;
}


 #categorymenu1 ul li ul li a
{
    padding:10px 15px;
    display:block;
    color:#fff;
    text-decoration:none;
}
#categorymenu1 ul li a:hover
{
    background-color:#333;
}
#categorymenu1 ul li ul li a:hover
{
    background-color:#fff;
}

#categorymenu1 ul li:hover > ul {
    left: 200px;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}
#categorymenu1 ul li ul li :hover > ul {
    left: 200px;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}
#categorymenu1 ul li > ul {
    position: absolute;
    background-color: #333;
    top: 0;
    left: -200px;
    min-width: 200px;
    z-index: -1;
    height: 100%;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}
#categorymenu1 ul li > ul li > ul
{
    position: absolute;
    background-color: #222;
    top: 0;
    left: -200px;
    min-width: 200px;
    z-index: -1;
    height: 100%;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 200ms ease-in;
    -ms-transition: left 200ms ease-in;
    transition: left 200ms ease-in;
}
#categorymenu1 ul li > ul li a:hover
{
    background-color:#2e2e2e;
}
 #categorymenu1 ul li > ul li > ul li a:hover
{
 background-color:#2e2e2e;
}
.admin_li{
    height: 60px;
border-left: 1px solid #000;
padding: 8px 18px 8px 18px;
}


.mobile_apps{
    font-size:14px !important;
    margin-left:20px !important;
}
.padding{
    padding:5px;color:#666666;
}
.chosen-drop > .chosen-results > .active-result{
  width:100% !important;
}