$theme_color:#D50059;
$site_color:rgb(223, 89, 37);
$header_hover: #fff;
$border_color: #E7F5F8;
$header_bg_color:#fff;
$body_background_color:#fff;
$footer_bg_color:#fcfcfc;
$personal_desc_bg_color:#fcfcfc;
$footer_bg_color1:#D50059;
$header_font_color:#b6cbda;
$header_cart_bg:#000;
$admin_header_color:#39a1e7;