ul.title{
display: block;
font-size: 20px;
font-weight: 1000;
text-transform: capitalize;
text-decoration: none;
margin-bottom: 14px;
margin-top:14px;
color: #444546;
padding:0px;
}
li.link{
display: block;
text-decoration: none;
color: #697071;
line-height: 20px;
font-size: 12px;
margin-left:10px;
}
.tab-content > .tab-pane{
visibility:visible;
opacity:1;
background-color: rgba(253,253,253,0.98);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
background-color: rgba(253,253,253,0.98);
}
.nav-tabs{
	border-bottom: none;
}
.block-title{
	margin: 5px 0 10px;
line-height: 1.2;
font-size: 16px;
font-weight: bold;
color: #313131;
}
.f22{
	font-size:22px
}
.list_user{
	color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 22px;
	width: 70%;
	vertical-align: middle;
	font-size:16px;
}