.featured-category {
margin-bottom: 10px;
margin-left: -0.869%;
width: auto;
max-width: none;
}
.category-block {

margin-bottom: 10px;
width: 31.9%;
position: relative;
background: #000;
margin-left: 0.869%;
}
.category-block img {

opacity: 0.7;
}
.category-block .block-text {
position: absolute;
text-align: center;
top: 50%;
margin-top: -31px;
left: 0;
right: 0;
color: #fff;
padding: 10px;
}
.category-block .cat-title {
font-size: 18px;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
}
.category-block .more {
font-family: sans-serif;
}
.border_child{
	border-bottom: 4px double #010101;	
}
.child_link_bg{
	margin-bottom: 6px;
font-size: 13px;
line-height: normal;
color: #333 !important;
padding: 6px 0px 6px 10px;
font-weight: bold;
letter-spacing: normal;
font-family: Arial, Helvetica, sans-serif;
text-transform: none;
background-color: #f0f0f0;
}
.child_link_bg > a{
	color: #333 !important;
}
.parent_catagory_link{
	font-family: Museo,Helvetica,arial,san-serif;
padding: 0 5px;
font-size: 17px;
height: 17px;
line-height: 17px;
}
.category_color > a{
	color: #333;
	
}
.category_color > a:hover{
	color: #000 !important;
	text-decoration: none;
	cursor: pointer;
	
}
.link_category_hover :hover{
	text-decoration: none;
	cursor: pointer;
	color: #000 !important;
	font-weight:bold !important;
}
.category_color > a:hover{
	
}
.category_color{
	padding:3px 3px 3px 3px;
}
.category_color:hover{
	border:1px solid #ffd926;
}
.qwe_1{
	padding-left:10px;
}
.col-sm-2.category_color1:hover{
	border:1px solid #ffd926;
	text-decoration: none;
	cursor: pointer;
}
.col-sm-2.category_color1{
	padding-top:5px;
	height:25px;
	text-transform: uppercase;
	
}
.col-sm-2.category_color1 > a{
	color: #333;
}