
#sidebar ul{ 
	margin-top:0px;
 	padding:0
}
#sidebar ul li div {	
	border-radius:0;	
	background-color: #000;	
	padding-top:7px;
	padding-bottom:7px;
}
#sidebar ul li ul li div {	
	border-radius:0;	
	background-color: #eee;	
	padding-top:7px;
	padding-bottom:7px;
}
#sidebar ul li ul li ul li div {	
	border-radius:0;	
	background-color: #222;	
	padding-top:7px;
	padding-bottom:7px;
}
#sidebar ul ul{
  padding:0; 
  margin:0; 
  list-style:none;
  font-size:12px; 
  border-right: 2px solid #2B7DBC;
  
}
#sidebar ul ul li{	
	border-bottom:1px solid #e5e5e5;
}

#sidebar ul li li a{
	padding-top:6px; 	 	
}
.sidebar_color,.sidebar_color1{
	background-color:#222;	
}
 
/* Vertical Accordion Style */
.va-container{
	position:relative;
	margin:40px auto 0 auto;
}
.va-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	border: 1px solid #ccc;
    -webkit-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
}
.va-slice{
	width:100%;
	left:0px;
	overflow:hidden;
}
.va-slice-1{
	background:white url(../images/1.jpg) no-repeat center center;
}
.va-slice-2{
	background:white url(../images/2.jpg) no-repeat center center;
}
.va-slice-3{
	background:#000 url(../images/3.jpg) no-repeat center center;
}
.va-slice-4{
	background:#000 url(../images/4.jpg) no-repeat center center;
}
.va-slice-5{
	background:#000 url(../images/5.jpg) no-repeat center center;
}
.va-slice-6{
	background:#000 url(../images/6.jpg) no-repeat center center;
}
.va-slice-7{
	background:#000 url(../images/7.jpg) no-repeat center center;
}
.va-slice-color-1{
	background-color:#97c5eb;
}
.va-slice-color-2{
	background-color:#68ace5;
}
.va-slice-color-3{
	background-color:#0072cf;
}
.va-slice-color-4{
	background-color:#0039a6;
}
.va-slice-color-5{
	background-color:#00338e;
}
.va-slice-color-6{
	background-color:#002c76;
}
.va-slice-color-7{
	background-color:#002144;
}
.va-title{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform:uppercase;
	font-size:20px;
	margin-left:20px;
	color:white;
	text-shadow: 0px 0px 1px white;
}
.va-content{
	display:none;
	margin-left:25px;
}
.va-slice p{
	font-size: 22px;
	font-style: italic;
	font-family:Georgia, serif;
}
.va-slice ul{
	margin-top:20px;
}
.va-slice ul li{
	float:left;
	margin:0px 2px;
}
.va-slice ul li a{
	color:#000;
	background:#eede2f;
	padding:3px 6px;
	font-size:14px;
	font-family:'PT Sans', sans-serif;
	text-transform:uppercase;
}
.va-slice ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.va-nav span{
	width:40px;
	height:25px;
	background:transparent url(../images/prev.png) no-repeat center center;
	position:absolute;
	top:-35px;
	left:50%;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../images/next.png);
	top:auto;
	bottom:-35px;
}
.va-nav span:hover{
	opacity:1.0;
}

.swMain {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
  width:100%;
}
.swMain .stepContainer {
  position: relative;
  margin: 0;
  padding:0;    
  border: 0px solid #CCC;    
  overflow:hidden;
  clear:both;
}

.stepContainer{
  display:none;
}

.swMain .stepContainer div.content {
  position: absolute;  
  float:left;
  margin: 0;
  padding:5px;    
  border: 1px solid #307ecc; 
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:white;  
  height:300px;
  text-align:left;
  overflow:visible;    
  z-index:88; 
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  width:100%;
  clear:both;
}
.swMain div.actionBar {
  display:block;
  position: relative; 
  clear:both;
  margin:             3px 0 0 0;   
  border:             1px solid #CCC;
  padding:            0;    
  color:              #5A5655;   
  background-color:   #F8F8F8;
  height:40px;
  text-align:left;
  overflow:auto;    
  z-index:88; 

  -webkit-border-radius: 0px;
  -moz-border-radius  : 0px;
  left:0;
}
.st{
  display:block;
  position: relative;
  margin:0;   
  border:1px solid #307ecc;
  padding:5px;   
  font: bold 16px Verdana, Arial, Helvetica, sans-serif; 
  color:white;   
  background-color:#307ecc;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 0px;
  -moz-border-radius  : 0px;    
}
.swMain #step-2,.swMain #step-1{
  padding: 5px;
  border: 1px solid #307ecc;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  color: #307ecc;
  background-color: white;
  text-align: left;
  overflow: visible;
  z-index: 88;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  width: 100%;
  height:300px;
  padding-bottom:20px;
  margin-top: 74px;
}
.StepTitle{
  color:white;
}
.StepTitle.st.text-info{
  color:white !important;
}
.swMain .stepContainer .StepTitle {
  position: relative;
  margin:0;   
  border:1px solid #307ecc;
  padding:5px;   
  font: bold 16px Verdana, Arial, Helvetica, sans-serif;   
  background-color:#307ecc;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 0px;
  -moz-border-radius  : 0px; 
  color: white;   
}
.stepContainer .consignment_warehouse {
  color: #307ecc;
  }
.swMain ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0px;  
  margin: 10px 0;      
  clear: both;
  border: 0px solid #CCCCCC;    
  background: transparent; /*#EEEEEE */
}
.swMain ul.anchor li{ 
  position: relative; 
  display:block;
  margin: 0;
  padding: 0; 
  padding-left:3px;
  padding-right: 3px;
  border: 0px solid #E0E0E0;      
  float: left;
}
/* Anchor Element Style */
.swMain ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin:0;
  padding:3px;
  height:60px;
  width:187px;
  text-decoration: none;
  outline-style:none;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:99;
}
.swMain ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  width:10px;
  text-align: center;
  padding:0px;
  padding-top:0;
  font: bold 15px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align: left;
  padding:2px;

  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a .stepDesc small{
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.swMain ul.anchor li a.selected{
  color:#F8F8F8;
  background: #EA8511;  /* EA8511 */
  border: 1px solid #bce8f1;
  cursor:text;
  -moz-box-shadow: 5px 5px 8px #888;
  -webkit-box-shadow: 5px 5px 8px #888;
  box-shadow: 5px 5px 8px #888;
  border-radius:0px;
}
.swMain ul.anchor li a.selected:hover {
  color:#F8F8F8;  
  background: #EA8511;  
}

.swMain ul.anchor li a.done { 
  position:relative;
  color:#FFF;  
  background: #8CC63F;  
  border: 1px solid #8CC63F;   
  z-index:99;
  border-radius: 0px;
}
.swMain ul.anchor li a.done:hover {
  color:#5A5655;  
  background: #8CC63F; 
  border: 1px solid #5A5655;   
}
.swMain ul.anchor li a.disabled {
  color:#CCCCCC;  
  background: #F8F8F8;
  border: 1px solid #CCC;  
  cursor:text;  
  border-radius:0px; 
}
.swMain ul.anchor li a.disabled:hover {
  color:#CCCCCC;  
  background: #F8F8F8;     
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;  
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;      
}
.swMain ul.anchor li a.error:hover {
  color:#000 !important;       
}

.swMain .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5bc0de;
  border: 1px solid #5bc0de;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;    
}
.swMain .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5bc0de;
  border: 1px solid #5bc0de;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonFinish {
  display:none;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5bc0de;
  border: 1px solid #5bc0de;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader, .admin_loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loading.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.admin_loading{
  background: url(../images/loading.gif) no-repeat 5px;  
}
.loader {
  position:relative;  
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loading.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;         
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;  
}
.swMain .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0px;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;  
} 
.breadcrumbs{
  padding-top:5px;
}

.pull-right > .btn {
    color: #fff !important;
}
.cursive-font{
  font-family: 'Chewy', cursive;
}
      
      
label{
    font-family: -webkit-pictograph !important;
    font-size:12px;
  }
.fs14{
  font-size:14px;
}
.table-header.bigger{
   font-size:16px !important;
}

.chosen-container.chosen-container-single{
  margin-top:0px !important;
}