.section-head {
text-transform: uppercase;
padding-bottom: 8px;
font: normal 16px Georgia;
border-bottom: 4px solid #222;
}
.mb40 {
margin-bottom: 40px;
}
.fl {
float: left;
}
.video-head-box {
padding: 20px 40px 20px 30px;
}
.video-head-box1 {
padding: 20px 40px 20px 30px;
}

.video-head {
font-family: Georgia;
}
.mb15 {
margin-bottom: 15px;
}
.fs14 {
font-size: 14px;
}
.fs12 {
font-size: 12px;
}
.txt-up {
text-transform: uppercase;
}
.video-link-box {
height: 210px;
}
.with-left-border {
width: 183px;
border-left: 1px solid #e1e1e1;
}
.video-link-box {
float: left;
width: 184px;
height: 215px;
overflow: hidden;
text-align: center;
position: relative;
border-right: 1px solid #e1e1e1;
border-bottom: 1px solid #e1e1e1;

}
.newcollection:hover{
	opacity: 0.8;
/* -webkit-transform: scale(1.03, 1.03); */
-moz-transform: scale(1.03, 1.03);
-ms-transform: scale(1.03, 1.03);
-o-transform: scale(1.03, 1.03);
transform: scale(1.03, 1.03);
}

.newcollection img:hover{
	opacity:.60;
}
.newcollection1:hover{
	border:1px solid yellow;
}
.newcollection3:hover{
	background:rgba(0,0,0,0.4);
	opacity:.60;
}
.newcollection1 img:hover{
	opacity:.60;
}
.tdnone{
	text-decoration: none;
	cursor: pointer;
}
.category_head{
	font-family: Museo,Helvetica,arial,san-serif;
	padding: 0 5px;
	font-size: 17px;
	height: 17px;
	line-height: 17px;
}
.pad30{
	padding:6px;

}
.pad6{
	padding:6px;
}
.pad30:hover{
	border:1px solid yellow;
}
.font_style{
	font-size: 16px;
	color:#222 !important;
	padding-bottom:0px !important;
	padding-top:0px !important;
	background:rgba(255, 255, 255, 0.8);
	right:15px !important;
	left:15px !important;
}
.bottom0{
	bottom:0px !important;
}
.font_border{
	border:1px solid #ECECEC;
	bottom:-16px !important;
	color:#000 !important;
	text-shadow: none !important;
	font-weight: normal !important;
}

.women {
width: 478px;
margin: 0;
}
.cat-img {
width: 100%;
}
.cat-img span {
position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.23);
}
.cat-img h3 {
top: 126px;
}
.cat-img img {
width: 100%;
}
.cat-links {
width: 100%;
}
.cat-links ul li {
border-bottom: 1px solid #edeeef;
padding:17.8px;
margin:0px;
}
.cat-links ul li a {
 text-decoration: none;
}
.cat-links ul{
	list-style: none;
	background:#fff;
}

.bg13{
	background:#ebf0f4;
}
.newcollectionbg{
background: #FCF9EC;
/* margin: 5px; */
padding: 30px;
}
.newcollectionfirstbg{
background: #4a4a4a;
}
.newcollectionbg1{

padding: 10px;
}
.newcollectionbg2{

padding: 10px 20px 10px 20px;
}
.newcollectionbg3{

padding: 10px 30px 10px 30px;
}
.pr50{
	padding-right:50px;
}
.pr25{
	padding-right:25px;
}
.checkboxdesign{
margin: 0 12px 0 0;
width: 8px;
height: 8px;
}

.pt5{
	padding-top:5px;
	color: #697071;
}
.width125{
	width:125px;
}
.addcartbutton > img{
	width:136px;
}
.breadpadding{
	padding:5px;
	text-decoration: none;
}
.bread_font_style{
	font-size:26px;
	font-family: "Times New Roman", Georgia, Serif;
}
.bread_font_desc{
	line-height: 18px;
	font-size:14px;
	padding:6px;
}
.border_bottom{
	border-bottom:1px solid #ECECEC;
}
.width80{
	width: 80% !important;
}
.divider_margin1{
	margin-top:80px;
}
.width12 > img{
width:12%;
height:50px;
}
.marleft{
	margin-left:-15px;
}
.box1{
	box-shadow: 6px 0 5px -4px rgba(31, 73, 125, 0.8), -6px 0 8px -4px rgba(31, 73, 125, 0.8);
}
.footer_li > li > a {
	padding:10px !important;
	color:#fff !important;
}
.footer_li > li > a:hover,.footer_li > li > a:focus {
	padding:10px !important;
	background-color:none !important;
	color:#AD9090!important;
}
.footer_li1 {
	padding:10px !important;
}
.footer_li > li > a {
	padding:10px !important;
}

.footer_li > li >img:hover {
	
}

.fixed12{
  position:relative;
  width: 100%;
  position: fixed;
  top: 0;
  z-index:9;
  background:#0a3151;
  color:#fff !important;
 }
.min_height{
 	min-height:650px;
 }
.dashboard_design{
	color:#fff;
}
.dashboard_design > a{
	color:#fff;
}
.dashboard_design > a:hover{
	color:#000;
	text-decoration: none;
}
.sidebar.h-sidebar .nav-list>li>a{
	padding:4px 14px !important;
}
.plo_height{
  padding:100px;
}
.admin_header_color{
	color:#fff !important;
}
.top50{
	
}

.text_justify{
  text-align: justify;
}
.bold{
	font-weight:bold;
}
.underline{
	text-decoration: none !important;
}
.country_color{
	color:#522E99;
	font-weight:bold;
}
.state_color{
	color:#2C85DE;
}
.city_color{
	color:#2CC9DE !important;
}
.padright10{
	padding-right:15px !important;
}
.padbottom46{
	padding-bottom:22px !important;
}
.order_cancel{
padding: 1px 7px;
font-size: 14px;
margin: 0;
background-color: #fff;
font-weight: normal;
color: #697071;
border: 1px solid #adaeaf;
border-radius: 3px;
text-decoration: none;
}
.order_cancel:hover{
	text-decoration: none;
	cursor:pointer;
}
.zindex{
	z-index:1;
}
.order_cancel1{
	margin-top:-4px;
padding: 1px 7px;
font-size: 14px;
background-color: #eee;
font-weight: normal;
color: #697071;
border: 1px solid #adaeaf;
border-radius: 3px;
text-decoration: none;
}
.order_cancel1:hover{
	text-decoration: none;
	cursor:pointer;
}
.border_none{
	border:none !important;
}
.bp1{
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.pl68{
	padding-left:68px !important;
}
.mar8{
	margin:8px;
}
.white{
	color:#fff;
	text-decoration: none;
}
.white:hover{
	color:#fff;
	text-decoration: none;
}
