<br />

<table id="all_stock_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
  <thead>
    <tr>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody> 
     <%= render "all" %>
  </tbody>
  </table>


 