<fieldset>
<div class="row">
  <% if f.object.new_record? %>
    <div class="col-sm-5 col-xs-4"><%= f.file_field :avatar %></div>
    <div class="col-sm-4 col-xs-4"><%= f.text_field :alt_text, :class =>"form-control" %></div>
    <div class="col-sm-3 col-xs-2"> 
		<%= f.hidden_field :_destroy,:class => "count_destroy1" %>
			<%= link_to " Delete", '#', class: "remove_fields glyphicon glyphicon-trash text-warning" %>  </div>
  <% else %>
		<div class="col-sm-5 col-xs-4 "><%= image_tag f.object.avatar.url(:thumb),:class => "img-thumbnail" %></div>
		<div class="col-sm-4 col-xs-4"><%= f.text_field :alt_text, :class =>"form-control" %></div>
		<div class="col-sm-3 col-xs-2"> 
		<%= f.hidden_field :_destroy,:class => "count_destroy1" %>
			<%= link_to " Delete", '#', class: "remove_fields glyphicon glyphicon-trash text-warning" %>  </div>
	<% end %>
</div>
</fieldset><br/>