<fieldset class="center">
  <span id="propertyvalue1" class="propertyclass1" style="display:none;">1</span>
  <div class="row">
    <div class="col-sm-3 col-xs-12">  
      <%= f.text_field :product_question_tokens,:class =>"product_question1_tokens",data:{ url: "/admin/product_questions/new" }  %>
        <span id="product_question_error1" class="error_list" style="display:none;"></span><br />    
    </div>
	  <div class="col-sm-7 col-xs-12">
			<%= f.text_field :answer,:class => "form-control product_answer1_tokens" %>
      <span id="product_answer_error1" class="error_list" style="display:none;"></span><br />     
		</div>
    <div class="col-sm-2 col-xs-12">
      <%= f.hidden_field :_destroy,:class => "" %>
      <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
    </div>
  </div>
</fieldset><br/> 