<br />
<br />
  <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#homes" role="tab" data-toggle="tab">All Products</a></li>
      <li><a href="#invisible" role="tab" data-toggle="tab">Invisible Products</a></li>
      <li><a href="#visible" role="tab" data-toggle="tab">Visible Products</a></li>
      <li><a href="#active" role="tab" data-toggle="tab">Active Products</a></li>
      <li><a href="#inactive" role="tab" data-toggle="tab">InActive Products</a></li> 
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="homes">
          <%= render "all_product_index" %> 
      </div>     
      <div class="tab-pane" id="invisible">
        <%= render "invisible_product" %>                  
      </div>
      <div class="tab-pane" id="visible">
        <%= render "visible_product" %>       
      </div>  
      <div class="tab-pane" id="active">
        <%= render "active_product" %>                 
      </div>
      <div class="tab-pane" id="inactive">
        <%= render "inactive_product" %>                   
      </div>
    </div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>