<fieldset class="center borders">                    
  <span class="propertyvalue1" style="display:none;">1</span>
   <br/> 
  <% a = 0 %>
  <% b = 0 %>
  <div class="row borders"> 
    <div class="col-sm-6 col-xs-12">
      <%= f.label :title,  "Title (Optional)" %><br />
      <%= f.text_field :title,  :class =>"form-control meta_title1"  %>
      <span id="product_variant_meta_title_error1" class="error_list" style="display:none;"></span><br/>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.label :meta_desc,  "Meta Description (Optional)" %><br />
      <%= f.text_field :meta_desc,  :class =>"form-control meta_desc1"  %>
      <span id="product_variant_meta_desc_error1" class="error_list" style="display:none;"></span><br/>
    </div><br/>
  </div><br/>     
  <div class="row"> 
    <div class="col-sm-4 col-xs-12">  
      <%= f.label :name,  "Name" %><br />
  	  <%= f.text_field :name,  :class =>"form-control variant1"  %>
      <span id="product_variant_name_error1" class="error_list" style="display:none;"></span><br/>
    </div>    
    <div class="col-sm-4 col-xs-12">
      <%= f.label :sku,  "SKU" %><br />
  	  <%= f.text_field :sku,  :class =>"form-control sku1"  %>
      <span id="product_variant_sku_error1" class="error_list" style="display:none;"></span><br/>
    </div>
    <div class="col-sm-4 col-xs-12">
      <%= f.label :bar_code,  "Barcode" %><br />
      <%= f.text_field :bar_code,  :class =>"form-control barcode1"  %>
      <span id="product_variant_barcode_error1" class="error_list" style="display:none;"></span><br/>
    </div>
	</div><br/>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-3 col-xs-4"><strong>Question</strong></div>
            <div class="col-sm-7 col-xs-4"><strong>Answer</strong></div>
            <div class="col-sm-2 col-xs-2"></div>
          </div>
        </div> 
        <div class="panel-body add_property">
        	<%= f.fields_for :product_properties do |builder| %>
            <fieldset class="center">
              <span id="propertyvalue1" class="propertyclass1" style="display:none;">1</span>
              <div class="row">
                <div class="col-sm-3 col-xs-12">  
                  <%= builder.text_field :product_question_tokens,:class =>"product_question1_tokens proquestion11 ",data:{ url: "/admin/product_questions/new" }  %>
                  <span id="product_question_error1" class="error_list" style="display:none;"></span><br />
                </div>
                <div class="col-sm-7 col-xs-12">
                  <%= builder.text_field :answer,:class => "form-control product_answer1_tokens proanswer11",data:{ url: "/admin/product_properties/new" } %>
                  <span id="product_answer_error1" class="error_list" style="display:none;"></span><br/>
                </div>
                <div class="col-sm-2 col-xs-12">
                  <%= builder.hidden_field :_destroy,:class => "" %>
                  <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
                </div>
              </div>
            </fieldset><br/> 
            <% b += 1%>
          <% end %>
        <%= link_to_add_fields "Add Properties", f, :product_properties %>
        </div>
      </div>
    </div>
  </div><br/>            
  <div class="row"> 
    <div class="col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-5 col-xs-4"><strong>Image</strong></div>
            <div class="col-sm-5 col-xs-4"><strong>Alt Text</strong></div>
            <div class="col-sm-2 col-xs-2">Delete</div>
          </div>
        </div>
        <div class="panel-body">
          <%= f.fields_for :images do |builder| %>
            <%= render 'image_fields', f: builder %>
          <% end %>
          <%= link_to_add_fields "Add Images", f, :images %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1 col-xs-12">
      <%= f.label :visible,  "Visibility" %>
    </div>
    <div class="col-sm-2 col-xs-12">
      <%= f.check_box :visible,  :class =>"visible1"  %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= f.hidden_field :_destroy,:class => "count_destroys1" %>
      <%= link_to " Delete", '#', class: "remove_fields btn btn-default glyphicon glyphicon-trash pull-right" %>  
    </div>
  </div><br/> 
  </div>
  <span id="answer_error1" class="error_list" style="display:none;"></span>
</fieldset><br/>
