<%= render partial: "layouts/shared/flash_msg" %>   
<div class="border"><br/>
<div class="pull-right">        
</div>
<div class="row">
<div class="col-sm-6 col-xs-12">
<ol class="breadcrumb">
  <li><%= link_to "Stocks", admin_warehouse_dashboard_stocks_path(@warehouse) %></li>
  <li ><%= link_to  @stock.name.capitalize ,admin_warehouse_dashboard_stock_path(@warehouse,@stock) %> </li>
  <li class="active"> Edit <%= @stock.name.capitalize %>  </li>
</ol>
</div>
</div>
</div><br/>
<br />
<%= tinymce_assets %>
<%= tinymce %>	 
<%= form_for(@stock, :url => admin_warehouse_dashboard_stock_path(@warehouse,@stock), :html => {:id => 'new_product',:class => 'newproduct_form11'}) do |f| %>		 
  <div class="fields">
	<span id="tagvalue" style="display:none;">1</span>
    <span id="propertytagvalue" style="display:none;">1</span>
    <span id="loopvalue" style="display:none;">1</span>
	<span id="product_error1" class="error_list" style="display:none;"></span><br />
	<div class="row borders">
      <div class="col-sm-3 col-xs-12">
        <strong>Products details</strong>
      </div>
	  <div class="col-sm-9 col-xs-12">
	    <div class="row">
	      <div class="col-sm-12 col-xs-12">  
	        <%= f.label :name, "Name" %></br>
	        <%= f.text_field :name,:class => "form-control name1" %>
	      </div>
	    </div>
	    <span id="name_error1" class="error_list" style="display:none;"></span></br>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <%= f.label :description, "Description" %></br>
            <%= f.text_area :description,:class => "tinymce" %>
          </div>
        </div>
	    <span id="desc_error1" class="error_list" style="display:none;"></span><br/>
        <div class="row">
          <div class="col-sm-6 col-xs-12">  
            <%= f.label :type_tokens, "Type" %></br>
            <%= f.text_field :type_tokens, data:{load: @stock.types} %>
            <span id="type_error1" class="error_list" style="display:none;"></span><br/>
          </div>
          <div class="col-sm-6 col-xs-12">  
            <%= f.label :brand_tokens, "Brand" %></br>
            <%= f.text_field :brand_tokens, data:{load: [@stock.brand] } %>
            <span id="brand_error1" class="error_list" style="display:none;"></span><br/>
          </div>
          <div class="col-sm-6 col-xs-12">  
            <%= f.label :visibility, "Visible" %></br>
            <%= f.check_box :visibility %>
            <span id="brand_error1" class="error_list" style="display:none;"></span><br/>
          </div>
        </div>
	  </div><br/>		       
    </div>
  </div>
  
  <div class="row borders">
    <div class="col-sm-3 col-xs-12">
      <strong>Variants</strong><br/><br/>
      <%= link_to_add_fields "Add Variant", f, :variants %>
    </div>
	<div class="col-sm-9 col-xs-12 add_variant"> 
	  <% a = 0 %>
	  <%= f.fields_for :variants do |builder| %>
	    <fieldset class="center borders">							  
		  <% a = 0 %>
		  <% b = 0 %><br/>
		  <div class="row">
		    <div class="col-sm-4 col-xs-12">
		      <%= builder.label :name,  "Name" %><br />
		  	  <%= builder.text_field :name,  :class =>"form-control varient1"  %>
		  	  <span id="product_variant_name_error1" class="error_list" style="display:none;"></span><br/>
		    </div>
		    <div class="col-sm-4 col-xs-12">
		      <%= builder.label :sku,  "SKU" %><br />
		  	  <%= builder.text_field :sku,  :class =>"form-control sku1"  %>
		  	  <span id="product_variant_sku_error1" class="error_list" style="display:none;"></span><br/>
		    </div>
		    <div class="col-sm-4 col-xs-12">
		      <%= builder.label :bar_code,  "Barcode" %><br />
		      <%= builder.text_field :bar_code,  :class =>"form-control barcode1"  %>
		      <span id="product_variant_barcode_error1" class="error_list" style="display:none;"></span><br/>
		    </div>
		  </div><br/>
		  <div class="row">
		    <div class="col-sm-12 col-xs-12">
		      <div class="panel panel-default">
		        <div class="panel-heading">
		          <div class="row">
		            <div class="col-sm-3 col-xs-4"><strong>Question</strong></div>
		            <div class="col-sm-7 col-xs-4"><strong>Answer</strong></div>
		            <div class="col-sm-2 col-xs-2"></div>
		          </div>
		        </div>
		        <div class="panel-body add_property">
		        	<%= builder.fields_for :product_properties do |builder1| %>
		            <fieldset class="center">
		              <div class="row">
		                <div class="col-sm-3 col-xs-12"> 
		                  <% if @stock.variants[a].product_properties[b].product_question_id.present? %> 
			                  <%= builder1.text_field :product_question_tokens,:class =>"product_question1_tokens", data:{load: [Admin::ProductQuestion.find(@stock.variants[a].product_properties[b].product_question_id)],url: "/admin/product_questions/new"
			                    }  %>
			                <% else %>
			                  <%= builder1.text_field :product_question_tokens,:class =>"product_question1_tokens", data:{url: "/admin/product_questions/new"
			                    }  %>
		                  <% end %>
		                  <span id="product_question_error1" class="error_list" style="display:none;"></span><br />
		                </div>
		                <div class="col-sm-7 col-xs-12">
		                  <%= builder1.text_field :answer,:class => "form-control product_answer1_tokens" %>
		                  <span id="product_answer_error1" class="error_list" style="display:none;"></span><br />
		                </div>
		                <div class="col-sm-2 col-xs-12">
		                  <%= builder1.hidden_field :_destroy,:class => "" %>
		                  <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
		                </div>
		              </div>
		            </fieldset><br/>
		            <% b += 1%>
		          <% end %>
		          <%= link_to_add_fields "Add Properties", builder, :product_properties %>
		        </div>
		      </div>
		    </div>
		  </div><br/>
		  <div class="row">
		    <div class="col-sm-12 col-xs-12">
		      <div class="panel panel-default">
		        <div class="panel-heading">
		          <div class="row">
		            <div class="col-sm-5 col-xs-4"><strong>Image</strong></div>
		            <div class="col-sm-4 col-xs-4"><strong>Alt Text</strong></div>
		            <div class="col-sm-3 col-xs-2">Delete</div>
		          </div>
		        </div>
		        <div class="panel-body">
		          <%= builder.fields_for :images do |builders| %>
		            <%= render 'image_fields', f: builders %>
		          <% end %>
		          <%= link_to_add_fields "Add Images", builder, :images %>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-sm-1 col-xs-12">
		      <%= builder.label :visible,  "Visibility" %>
		    </div>
		    <div class="col-sm-2 col-xs-12">
		      <%= builder.check_box :visible,  :class =>"visible1"  %>
		    </div>
		    <div class="col-sm-3 col-xs-12">
		      <%= builder.hidden_field :_destroy,:class => "count_destroys1" %>
		      <%= link_to " Delete", '#', class: "remove_fields btn btn-default glyphicon glyphicon-trash pull-right" %>  
		    </div>
		  </div><br/>
		</fieldset>
		<% a += 1 %>
	  <% end %>
	</div><br/>
  </div>	<br />

<div class="row borders">
  <div class="col-sm-3 col-xs-12">
	<strong>Inventory</strong>
  </div>
  <div class="col-sm-8 col-xs-12">
	<%= f.label :ship_invent, "Inventory Policy" %><br/>
	<%= f.select :ship_invent, options_for_select([["Don't Track Inventory", false], ["Track Inventory", true]],@stock.ship_invent),{},{:class => "form-control width2"} %>
	       <br/><br/>
	<%= f.check_box :unavail_purchase %>
	<%= f.label :unavail_purchase, "Allow users to purchase this item, even if it is no longer in stock." %>
  </div>
</div><br/>
<div class="row">
  <div class="col-sm-10 col-xs-12">
    <div class="actions">
      <%= f.submit "Update Product", :class => "btn btn-primary pull-right" %>
    </div>
  </div>
</div>
<% end %>




