<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <%= link_to "Stocks", admin_warehouse_dashboard_stocks_path(@warehouse) %>
    <li class="active"><%= @stock.name.capitalize %> </li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    
  </div>
  <!-- button panel end --> 
 
</div>
 
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" style="height: 70px;padding-top:2px">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
       
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="searchable_content2">
      <%= render "searchable_content"%> 
      <div class="col-sm-4 col-xs-6 text-info">
        <strong>Return Duration</strong>
      </div>
      <div class="col-sm-8 col-xs-6">
        <div class="col-sm-3 col-sm-10 best_in_place_border">
        <%= best_in_place @stock, :return_due, type: :select, :collection => (1..30).map { |day| [ day, day ] } %></div> &nbsp;&nbsp; Days
      </div>
    <br /><br /><br />
    <div class="list_cities12">
      <%= render 'list_inventories1' %>    
      </div>
    </div>
  </div>
</div>
</div>





<div class="modal fade" id="addinventory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content" id="myModalLabel">
  </div>
</div>
</div>










<script>
$('.right').cycle({ 
    fx:      'scrollRight', 
    next:   '.right', 
    timeout:  0, 
    easing:  'easeInOutBack' 
});
</script>     


