<h1>Listing admin_shipping_prices</h1>

<table>
  <thead>
    <tr>
      <th>Range</th>
      <th>Cost</th>
      <th>Shipping policy</th>
      <th>Shipping specific country</th>
      <th>Shipping specific pincode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_shipping_prices.each do |admin_shipping_price| %>
      <tr>
        <td><%= admin_shipping_price.range %></td>
        <td><%= admin_shipping_price.cost %></td>
        <td><%= admin_shipping_price.shipping_policy_id %></td>
        <td><%= admin_shipping_price.shipping_specific_country_id %></td>
        <td><%= admin_shipping_price.shipping_specific_pincode_id %></td>
        <td><%= link_to 'Show', admin_shipping_price %></td>
        <td><%= link_to 'Edit', edit_admin_shipping_price_path(admin_shipping_price) %></td>
        <td><%= link_to 'Destroy', admin_shipping_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping price', new_admin_shipping_price_path %>
