<p id="notice"><%= notice %></p>

<p>
  <strong>Range:</strong>
  <%= @admin_shipping_price.range %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @admin_shipping_price.cost %>
</p>

<p>
  <strong>Shipping policy:</strong>
  <%= @admin_shipping_price.shipping_policy_id %>
</p>

<p>
  <strong>Shipping specific country:</strong>
  <%= @admin_shipping_price.shipping_specific_country_id %>
</p>

<p>
  <strong>Shipping specific pincode:</strong>
  <%= @admin_shipping_price.shipping_specific_pincode_id %>
</p>

<%= link_to 'Edit', edit_admin_shipping_price_path(@admin_shipping_price) %> |
<%= link_to 'Back', admin_shipping_prices_path %>
