<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="active"> <i class="ace-icon fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</li>
  </ul><!-- /.breadcrumb -->
</div>


          <div class="col-sm-7 infobox-container">

    <!-- Unprocessed Order Start -->
      <% if check_up_order <= 0 %>
        <div class="infobox infobox-red">
          <div class="infobox-icon">
            <i class="ace-icon fa fa-shopping-cart"></i>
          </div>
          <div class="infobox-data">
            <span class="infobox-data-number"><%= check_up_order %></span>
            <div class="infobox-content"><%= link_to 'Unprocessed Order',admin_orders_path, :style => "color:#555;" %></div>
          </div>
        </div>
      <% else %>
        <div class="infobox infobox-green">
          <div class="infobox-icon">
            <i class="ace-icon fa fa-shopping-cart"></i>
          </div>
          <div class="infobox-data">
            <span class="infobox-data-number"><%= check_up_order %></span>
            <div class="infobox-content"><%= link_to 'Unprocessed Order',admin_orders_path, :style => "color:#555;" %></div>
          </div>
        </div>
      <% end %>
         
    <!-- Unprocessed Order End -->  

    
    <% if general.present? %>
      <!-- Store Details Start -->  
        <% if check_store_details(@admin_generals) %>
          <div class="infobox infobox-green">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-tasks"></i>
            </div>
            <div class="infobox-data">
              <span class="infobox-data-number">100%</span>
              <div class="infobox-content"><%= link_to 'Store Details',edit_admin_general_path(@admin_generals),:remote => true, :style => "color:#555;" %></div> 
            </div>
          </div>
        <% else %>
          <div class="infobox infobox-red">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-tasks"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">0%</span>
              <div class="infobox-content"><%= link_to 'Store Details',edit_admin_general_path(@admin_generals),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% end %>
            
      
      <!-- Store Details End -->

      <!-- Account Details Start -->
        <% if check_currency(@admin_generals) %>
          <div class="infobox infobox-green">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-rupee"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">100%</span>
              <div class="infobox-content"><%= link_to 'Account Details',admin_general_edit_acc_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% else %>
          <div class="infobox infobox-red">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-rupee"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">0%</span>
              <div class="infobox-content"><%= link_to 'Account Details',admin_general_edit_acc_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% end %>
         
      <!-- Account Details End --> 

      <!-- SEO Details Start -->
        <% if check_seo(@admin_generals) %>
          <div class="infobox infobox-green">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-search-plus"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">100%</span>
              <div class="infobox-content"><%= link_to 'SEO Details',admin_general_edit_seo_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% else %>
          <div class="infobox infobox-red">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-search-plus"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">0%</span>
              <div class="infobox-content"><%= link_to 'SEO Details',admin_general_edit_seo_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% end %>
            
      <!-- SEO Details End -->  

      <!-- Social Details Start -->
        <% if check_social(@admin_generals) %>
          <div class="infobox infobox-green">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-twitter"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">100%</span>
              <div class="infobox-content"><%= link_to 'Social Media Details',admin_general_edit_social_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% else %>
          <div class="infobox infobox-red">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-twitter"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">0%</span>
              <div class="infobox-content"><%= link_to 'Social Media Details',admin_general_edit_social_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% end %>
            


        <% if check_social(@admin_generals) %>
          <div class="infobox infobox-green">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-twitter"></i>
            </div>
            <div class="infobox-data">
              
                <span class="infobox-data-number">100%</span>
              <div class="infobox-content"><%= link_to 'xxxxx',admin_general_edit_social_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% else %>
          <div class="infobox infobox-red">
            <div class="infobox-icon">
              <i class="ace-icon fa fa-twitter"></i>
            </div>
            <div class="infobox-data">
                <span class="infobox-data-number">0%</span>
              <div class="infobox-content"><%= link_to 'xxxxx',admin_general_edit_social_spec_path(Admin::General.first),:remote => true, :style => "color:#555;" %></div>
            </div>
          </div>
        <% end %>
            
      <!-- Social Details End -->   
    <% end %>
   
    <div class="space-6"></div>

  </div><br/><br/>
  
</div>
