<%= form_for(@admin_tax_value) do |f| %>
  <% if @admin_tax_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_tax_value.errors.count, "error") %> prohibited this admin_tax_value from being saved:</h2>

      <ul>
      <% @admin_tax_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% f.hidden_field :tax_state_id %>
  <%= f.label :tax, "Tax" %><br />
  <%= f.text_field :tax, :class =>"form-control question1"  %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
