<h1>Listing admin_tax_values</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tax_values.each do |admin_tax_value| %>
      <tr>
        <td><%= link_to 'Show', admin_tax_value %></td>
        <td><%= link_to 'Edit', edit_admin_tax_value_path(admin_tax_value) %></td>
        <td><%= link_to 'Destroy', admin_tax_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax value', new_admin_tax_value_path %>
