<%= form_for(@country, :html => {:id => 'new_country'},:remote => true) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>
      <ul>
        <% @country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class => "form-control",:id => "countryname" %>
    <span id="country_name_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code,:class => "form-control",:id => "countrycode" %>
    <span id="country_code_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="actions">
    <%= f.submit "Create Country",  :class => "btn btn-primary"%>
  </div>
<% end %>
