
<% if @param.present? %>
  <%= search_form_for(@search,:url => admin_countries_path,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
   <span style="display:none" class= "for_count">
      <%= count %> 
  </span> 
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => admin_countries_path,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />

  <div class="panel panel-default">
          <div class=" panel-heading">
            <div class="row">
              <div class="col-sm-10 col-xs-10 text-primary">Country Name</div>
              <div class="col-sm-2 col-xs-2 text-primary">Edit</div>
            </div>
          </div>
          <div class="panel-body top_space">
            <% @countries.each do |country| %>
              <div class="row hoverd">
                <div class="col-sm-10 col-xs-10"><%= link_to_if(check_link(admin_country_path(country)), country.name, country) %></div>
                <div class="col-sm-2 col-xs-2">
                  <% if check_link(edit_admin_country_path(country)) %>
                    <%= link_to '', edit_admin_country_path(country) , :class => "glyphicon glyphicon-pencil text-success" %>
                  <% end %>
                </div>       
              </div>          
            <% end %>
          </div>
        </div>  
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>