<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right markthis">				 
		<%= link_to 'Show Country', @country, :class => "btn btn-primary" %>
  </div>
	<div class="row">
		<div class="col-sm-6 col-xs-12">
  		<ol class="breadcrumb"> 
      	<li class="markthis"><%= link_to "Countries", admin_countries_path,:remote => true %></li>       
    		<li class="active">Edit Country</li>
  		</ol>
		</div>
  </div> 
</div><br />
<div class = "row">
  <div class="col-xs-12 col-sm-6">
		<%= form_for(@country,:remote => true) do |f| %>
		  <% if @country.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>
		      <ul>
		        <% @country.errors.full_messages.each do |message| %>
		          <li><%= message %></li>
		        <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <div class="field">
		    <%= f.label :name %><br>
		    <%= f.text_field :name,:class => "form-control width1",:id => "countryname" %>
		  </div><br/>
		  <div class="field">
		    <%= f.label :country_code %><br>
		    <%= f.text_field :country_code,:class => "form-control width1",:id => "countrycode" %>
		  </div><br/>
		  <div class="actions">
		    <%= f.submit "Edit Country",  :class => "btn btn-primary"%>
		  </div>
	  <% end %><br/><br/>	
  </div>	
</div>
	