<!-- brand index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-tags"></i>&nbsp;&nbsp;Countries</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Add Country', new_admin_country_path , :class => "",:style => "color:#fff;",:remote => true %>
    </span>
  </div>
  <!-- button panel end --> 
</div> 
<div class="page-content">
  <!-- flash start --> 
    <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->
  <div class="row" > <br/>
    <div class="searchable_content1">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <h2>Import Countries</h2>
    <%= form_tag import_admin_countries_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>  
    <br/>
          <div class="table-header bigger lighter cursive-font">
              List of Countries
              <span class="pull-right" style="margin-right:5px;">
            </span>
            </div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer" style="padding-top:2px;">
              <!--brand table started -->
              <table id="countries_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% @countries.each do |country| %>
                  <tr>
                    <td>
                      <%= link_to_if(check_link(admin_country_path(country)), country.name, country,:remote => true) %>
                    </td>
                    <td>
                      <div class=" action-buttons">
                        <%= link_to '<i class="ace-icon fa fa-pencil bigger-130"></i>'.html_safe, edit_admin_country_path(country),:class => "text-success",:remote => true %>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- brand table end -->
            </div>
      </div>
    </div>
  </div>
</div>


 

<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});

jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [1],
      "bSortable": false
    }
  ];
  var dataTable = $('#countries_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});

</script>
