<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right">
	</div>
	<div class="row">
		<div class="col-sm-6 col-xs-12">
  		<ol class="breadcrumb">
  			<% if check_link(admin_countries_path) %>
				  <li><%= link_to 'List Countries', admin_countries_path %></li>
		    <% end %>
					<li class="active">New Country</li>
  		</ol>
		</div>
  </div> 
</div><br />
<div class="col-xs-12 col-sm-6">
  <%= render 'form' %><br/><br/>	
</div>	
	