<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="pull-right markthis">
    <%= link_to "Add New State", new_admin_country_state_path(@country), :class => "btn btn-success",:remote => true %>
    <%= link_to 'Edit Country', edit_admin_country_path(@country), :class => "btn btn-primary",:remote => true %>
    <%= link_to ' Delete', @country, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger gly",:remote => true %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <li><%= link_to "Countries", admin_countries_path,:remote => true %></li>
        <li class="active"><%= @country.name.capitalize %>(<%= @country.country_code %>)</li>
      </ol>
    </div>
  </div>
</div><br/>
<div class="col-xs-12 col-sm-6"> 
    <h2>Import States</h2>
    <%= form_tag import_admin_country_states_path(@country), multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>      
</div>
<% if @states.present? %>
  <div class="row">
    <div class = "col-sm-8">
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-5 col-xs-5 text-info bold">State Name</div>
            <div class="col-sm-5 col-xs-5 text-info bold">ISO</div>
            <div class="col-sm-1 col-xs-1 text-info bold">Edit</div>
            <div class="col-sm-1 col-xs-1 text-info bold">Delete</div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @states.each do |state| %>
            <div class="row hoverd">
              <div class="col-sm-5 col-xs-5"><%= link_to state.name, admin_country_state_path(@country, state),:remote => true %></div>
              <div class="col-sm-5 col-xs-5"><%= state.state_code %></div>
              <div class="col-sm-1 col-xs-1 markthis">
                <%= link_to '', edit_admin_country_state_path(@country, state),:class => "glyphicon glyphicon-pencil text-success",:remote => true %>
              </div>
              <div class="col-sm-1 col-xs-1 markthis">
                <%= link_to '', admin_country_state_path(@country, state), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger",:remote => true %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <br/>
  <br/>
  <span class="text-muted">no state is there to display.
    click this link to add state <%= link_to "Add New State", new_admin_country_state_path(@country),:remote => true %>
  </span>
<% end %>
      


