<%= form_for @district_city, :url =>admin_country_state_district_cities_path(@country, @state), :html => {:id => 'new_dist_city'},:remote => true  do |f| %>
  <% if @district_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district_city.errors.count, "error") %> prohibited this district_city from being saved:</h2>
      <ul>
        <% @district_city.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class => "form-control width1",:id => "districtname" %>
     <span id="dist_name_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="field">
    <%= f.label :district_code %><br>
    <%= f.text_field :district_code,:class => "form-control width1",:id => "districtcode" %>
     <span id="dist_code_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="actions">
    <%= f.submit "Create District",  :class => "btn btn-success" %>
  </div>
<% end %>
