<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right">
	</div>
	<div class="row">
		<div class="col-sm-6 col-xs-12">
  		<ol class="breadcrumb">
				<li class="markthis"><%= link_to "State", admin_country_state_path(@country,@state),:remote => true %></li>
				<li class="markthis"><%= link_to 'Show District', admin_country_state_district_city_path(@country,@state,@district_city),:remote => true %></li>
				<li class="active">Edit Districts</li>
  		</ol>
		</div>
  </div> 
</div><br />
<div class="col-xs-12 col-sm-6">
	<%= form_for @district_city, :url =>admin_country_state_district_city_path(@country, @state, @district_city),:remote => true  do |f| %>
	  <% if @district_city.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@district_city.errors.count, "error") %> prohibited this district_city from being saved:</h2>
        <ul>
		      <% @district_city.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name,:class => "form-control",:id => "districtname" %>
	  </div><br/>
	  <div class="field">
	    <%= f.label :district_code %><br>
	    <%= f.text_field :district_code,:class => "form-control",:id => "districtcode" %>
	  </div><br/>
	  <div class="actions">
	    <%= f.submit "Edit District",  :class => "btn btn-primary" %>
	  </div>
	<% end %><br/><br/>	
</div>	
	
