<div class="col-xs-12 col-sm-6"> 
    <h2>Import States</h2>
    <%= form_tag import_admin_district_cities_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>      
  </div>