<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="pull-right markthis">
    <%= link_to 'Add New Pincode', new_admin_country_state_district_city_pincode_path(@country ,@state, @district_city),:class => "btn btn-success",:remote => true %>
    <%= link_to 'Edit District', edit_admin_country_state_district_city_path(@country ,@state, @district_city),:class => "btn btn-primary",:remote => true %> 
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb"> 
        <li class="markthis"><%= link_to @country.name, admin_country_path(@country),:remote => true %></li>
        <li class="markthis"><%= link_to @state.name , admin_country_state_path(@country,@state),:remote => true %></li>
        <li class="markthis"><%= link_to 'districts', admin_country_state_district_cities_path(@country,@state),:remote => true %></li>
        <li class="active"><%=  @district_city.name.capitalize %>(<%= @district_city.district_code %>)</li>
      </ol>
    </div>
  </div>
</div><br/><br/>    
<div class="">
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <strong>Country</strong>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= @country.name %>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <strong>State</strong>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= @state.name %>
    </div>
  </div><br/>
</div>
<div class ="row">
<div class="col-sm-6 col-xs-12">
  <% if @pincodes.present? %>
    <div class="panel panel-default">
      <div class=" panel-heading">
        <div class="row">
          <div class="col-sm-9 col-xs-9 text-info bold">Pincode</div>	            
          <div class="col-sm-2 col-xs-2 text-info bold">Delete</div>
          <div class="col-sm-1 col-xs-1 text-info bold">Edit</div>
        </div>
      </div>
      <div class="panel-body top_space">
        <% @pincodes.each do |pincode| %>
          <div class="row hoverd">
            <div class="col-sm-9 col-xs-9"><%= link_to pincode.pincode, admin_country_state_district_city_pincode_path(@country,@state,@district_city,pincode),:remote => true %></div>
            <div class="col-sm-2 col-xs-2 markthis">
	            <%= link_to '', admin_country_state_district_city_pincode_path(@country, @state, @district_city,pincode), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger",:remote => true %>
	          </div>
            <div class="col-sm-1 col-xs-1 markthis">
              <%= link_to '', edit_admin_country_state_district_city_pincode_path(@country, @state, @district_city, pincode),:remote => true,:class => "glyphicon glyphicon-pencil text-success"  %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %><br/><br/>
      <span class="text-muted markthis">
        no pincode is there to display.
        click this link to add pincode 
        <%= link_to "Add New Pincode", new_admin_country_state_district_city_pincode_path(@country ,@state, @district_city),:remote => true %>
      </span>
    <% end %>
  </div>
</div>
	