@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: #777;
}

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  max-width: 410px;
  position: relative;
}

ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  left: 20px;
  line-height: 18px;
  height: 4px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 54px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
.active10{
  
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "";
}
ul.checkout-bar li:nth-child(2):before {
  content: "";
}
ul.checkout-bar li:nth-child(3):before {
  content: "";
}
ul.checkout-bar li:nth-child(4):before {
  content: "";
}
ul.checkout-bar li:nth-child(5):before {
  content: "";
}
ul.checkout-bar li:nth-child(6):before {
  content: "";
}
ul.checkout-bar li:nth-child(7):before {
  content: "";
}
ul.checkout-bar li:nth-child(8):before {
  content: "";
}
ul.checkout-bar li:nth-child(9):before {
  content: "";
}
ul.checkout-bar li:nth-child(10):before {
  content: "";
}
ul.checkout-bar li:nth-child(11):before {
  content: "";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 2px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
    }

  .checkout-wrap {
    z-index:0;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 2px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
   
  }
  ul.checkout-bar li:before {
    height: 15px;
    left: 40%;
    position: absolute;
    top: -58px;
    width: 15px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
  .wid6{
    width:33px;
  }
  .wid75{
    width:69px;
  }
  .wid50{
    width:50px;
  }
  .wid90{
    width:90px;
  }
  .wid79{
    width:79px;
  }
  .wid65{
    width:65px;
  }
}









.order-detail-left {
border-top: 1px solid #ebebeb;
border-bottom: 1px solid #ebebeb;
}
.fl {
float: left;
}

.pb6 {
padding-bottom: 6px;
}
.pt6 {
padding-top: 6px;
}
.c666 {
color: #666 !important;
}
.fs11 {
font-size: 11px;
}
.txt-up {
text-transform: uppercase;
}
.f-bold {
font-weight: bold;
}
.order-detail-left>p>span {
background-position: 0 0;
margin-left: 15px;
}
.delivery-confirm {
margin-left: 245px!important;
padding-right: 33px;
background-position: 69px 2px!important;
}
.myaccount-sprite {
background: url('https://static.jabong.com/images/jlite/sprite/myaccount-sprite.png') no-repeat 0 0;
}
* {
margin: 0;
padding: 0;
}
* {
margin: 0;
padding: 0;
}
::selection {
background: #b4d5ff;
text-shadow: none;
}
.order-detail-left>p>span {
background-position: 0 0;
margin-left: 15px;
}
.delivery-dispatch {
padding-right: 33px;
background-position: 73px 2px!important;
}
.myaccount-sprite {
background: url('https://static.jabong.com/images/jlite/sprite/myaccount-sprite.png') no-repeat 0 0;
}
.delivery-transit {
padding-right: 30px;
background-position: 76px 2px!important;
}
.order-detail-left ul.product-list li {
padding: 20px 0;
}
.order-product-detail {
width: 230px;
}
.ml20 {
margin-left: 20px;
}
.order-delivery-status {
margin-top: -10px;
width: 600px;
}

.fr {
float: right;
}
.status-circle.circle-green.crcl-shadow {
box-shadow: 0 0 3px 0 #67b000;
-webkit-box-shadow: 0 0 3px 0 #67b000;
}
.status-circle.crcl-shadow {
box-shadow: 0 0 3px 0 #babbb9;
-webkit-box-shadow: 0 0 3px 0 #babbb9;
}
.status-circle.crcl-shadow {
box-shadow: 0 0 3px 0 #babbb9;
-webkit-box-shadow: 0 0 3px 0 #babbb9;
}
.status-circle.circle-green {
border-color: #67b000;
}
.status-circle {
display: inline-block;
height: 8px;
width: 8px;
background: #fff;
border: 2px solid #eaeaea;
border-radius: 8px;
position: absolute;
margin-top: -4px;
z-index: 2;
}
.status-line.line-green {
background: #67b000;
}
.status-line {
display: inline-block;
height: 2px;
width: 105px;
position: absolute;
z-index: 1;
background: #e2e2e2;
}

.status-circle1 {
margin-left: 103px;
}
.status-line1 {
margin-left: 112px;
}
.status-circle2 {
margin-left: 212px;
}
.status-line2 {
margin-left: 215px;
}
.status-circle3 {
margin-left: 315px;
}
.status-detail {
position: relative;
border: 1px solid #ccc;
border-radius: 3px;
padding: 8px 0 10px;
width: 365px;
min-height: 52px;
background: #fff;
z-index: 3;
}
.mt30 {
margin-top: 30px;
}
.l-hght14 {
line-height: 14px;
}
.c999 {
color: #999;
}
.ml10 {
margin-left: 10px;
}
.status-circle:hover{
display: inline-block;
height: 8px;
width: 8px;
background: #fff;
border: 7px solid #eaeaea;
border-radius: 8px;
position: absolute;
margin-top: -4px;
z-index: 2;
}




/* Form Progress */
.progressing {
  width: 450px !important;
  margin-left:4px !important;
}
.front-end{
  width: 450px !important;
  margin-left:218px !important;
}
.progressing .circle{
  display: inline-block;
  background: #fff;
  width: 10px; height: 10px;
  border-radius: 10px;
  border: 2px solid #d5d5da;
}
.progressing .bar {
  display: inline-block;
  background: #fff;
  width: 10px; height: 3px;
  border-radius: 4px;
  border: 1px solid #d5d5da;
}
.progressing .bar {
  position: relative;
  width: 90px;
  height: 3px;
  margin:  -4px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progressing .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */

.progressing .circle.done {
  border: 2px solid #8bc435;
}
.progressing .circle.failed {
  border: 2px solid rgb(185, 2, 2);
}
.progressing .bar.done{
  background: #8bc435;
  border: 1px solid #8bc435;
}
.progressing .bar.failed{
  background: rgb(185, 2, 2);
  border: 1px solid rgb(185, 2, 2);
}
.progressing .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progressing .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progressing .circle.done .title {
  color: #444;
}
.progressing .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progressing .circle.active .title {
  color: #0c95be;
}