@import "final_ranees_color";
.liquid {	
	
	padding:10px 0;
}
.liquid .previous {
	display:block;
	height:300px;
	width:64px;
	background-image:url('../right_arrow.gif');
	background-repeat: no-repeat;
	float:left;
	margin-top:90px;
	padding:0;
	cursor:pointer;
}
.liquid .next {
	display:block;
	height:300px;
	width:64px;
	background-image:url('../right_arrow.gif');
	background-repeat: no-repeat;
	float:right;
	margin-top:90px;
	padding:0;
	cursor:pointer;
}
.liquid ul li {
	width:250px;
	padding:0 2px;
	margin:0;
}
.liquid ul li a img {
	
}
.logo > a > img{
	max-width:100%;
}
.sectionHead {
border-bottom: 1px solid $theme_color;
text-align: center;
margin-bottom: 50px;
}
.sectionHead .title {
font-size: 1.8em;
font-family: "didot";
font-style: normal;
}
.sectionHead .title {
margin: 0 auto;
line-height: 36px;
color: $theme_color;
background-color: #FFF;
display: inline-block;
margin: 0 auto;
padding: 0 25px;
position: relative;
top: 19px;
text-transform: uppercase;
font-style: normal;
text-decoration: none;
white-space: nowrap;
font-size: 16px;
letter-spacing: .1em;
}
.clearfix :hover{
}
.footer_link{

	color:#666666;
	text-decoration: none;
	cursor:pointer;
}
.footer_link1{

	color:#666666;
	text-decoration: none;
	cursor:pointer;
}
.footer_link1 :hover{
	color:#666666;
	text-decoration: none;
	cursor:pointer;
}
.footer_link :hover{
	padding:15px;
	color:#666666;
	text-decoration: none;
	cursor:pointer;
}

	.picColor{  }
.picColor:hover { opacity:0.6; text-align:justify;background:none repeat scroll 0 0 rgba(0,0,0,0.3);
	transition: opacity 0.2s ease-in-out 0s;   } 

.social_images{
	height:33px;
	background-position: 139% 0%;
	background-repeat: no-repeat;
	background-image: url('../assets/social12.png');
}
.social_images:hover{
	height:33px;
	background-position: 139% -98px;
	background-repeat: no-repeat;
	background-image: url('../assets/social12.png');
}
.social_images_g{
	height:33px;
	background-position: 139% -65px;
	background-repeat: no-repeat;
	background-image: url('../assets/social12.png');
}
.social_images_g:hover{
	height:33px;
	background-position: 139% -161px;
	background-repeat: no-repeat;
	background-image: url('../assets/social12.png');
}
.social_images_t{
	height:33px;
	background-position: 139% -32px;
	background-repeat: no-repeat;
	background-image: url('../assets/social12.png');
}
.social_images_t:hover{
	height:33px;
	background-position: 139% -128px;
	background-repeat: no-repeat;
	background-image: url('../assets/social12.png');
}