@import "user_panel_theme";
.user_background_color{
  background:$user_panel_background_color !important;
  margin-bottom: 20px;
}
.user_side_bar_background_color{
  background:$user_panel_background_color !important;
}
.block .block-title{
	color:$theme_color !important;
	border-bottom: 2px $theme_color dotted;
}
.block{
	border:1px solid $theme_color !important;
	padding: 12px !important;
}
.sidebar a{
	color:$user_panel_sidebar_li_color;
}
.sidebar1{
	background:#98AEA3;
}
.page-title h2{
	color:$theme_color !important;
}
.col2-right-layout .col-main .page-title{
	border-bottom:2px dotted $theme_color !important;
}
.huge1 {
font-size: 100px;
padding:23px;
color:$user_panel_background_color;
}
h4{
	color:$user_panel_background_color;
}
h5, h6{
	color:$theme_color;
}
.button, .btn, .button-inverse, .button-vote, .sidebar .button, .sidebar .btn, .dropdown .dropdown-menu .button, .buttons-set .back-link a, .scrolltop, .button-tabs li a{
	background:$theme_color;
	color:#fff !important;
}
label{
	color:#000;
	padding-top: 12px;
}
.modal-header h4{
	color:$theme_color;
}
.error_list{
	color:rgb(214, 4, 4); 
     width:210px;
}
#my-orders-table{
	border:1px solid #eee !important;
}