<%= form_for(@admin_product_property) do |f| %>
  <% if @admin_product_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_product_property.errors.count, "error") %> prohibited this admin_product_property from being saved:</h2>

      <ul>
      <% @admin_product_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :product_question_id %><br>
    <%= f.number_field :product_question_id %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
