<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
      <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
    <div class="border">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="col-xs-12 col-sm-4">
          <h3>Listing Product Properties</h3>
          </div>
          <div class="col-xs-12 col-sm-6 margin">
          <input type="text" class="form-control" placeholder="Search"> 
          </div>
          <div class="col-xs-12 col-sm-2 margin">       
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 margin">
          <div class="pull-right">                
            <%= link_to 'New Product Property', new_admin_product_property_path , :class => "btn btn-primary btn-sm"%>   
          </div>
        </div>
      </div>
    </div>
     <br/>
    <div class="panel panel-default">
      <div class=" panel-heading">
        <div class="row">
          <div class="col-sm-2 col-xs-2 text-primary">Product</div>
          <div class="col-sm-4 col-xs-4 text-primary">Product question</div>
          <div class="col-sm-4 col-xs-4 text-primary">Answer</div>          
          <div class="col-sm-2 col-xs-2 text-primary">Edit</div>          
        </div>
      </div>
      <div class="panel-body">
        <% @admin_product_properties.each do |admin_product_property| %>
          <div class="row hoverd">
            <div class="col-sm-2 col-xs-2"><%= admin_product_property.product_id %></div>
            <div class="col-sm-4 col-xs-4"><%= link_to admin_product_property.product_question_id, admin_product_property_path(admin_product_property) %></div>
            <div class="col-sm-4 col-xs-4"><%= admin_product_property.answer %></div>
            <div class="col-sm-2 col-xs-2"><%= link_to '', edit_admin_product_property_path(admin_product_property),:class => "glyphicon glyphicon-pencil text-success" %></div>                    
          </div>          
        <% end %>
      </div>
    </div>
  </div>  
</div>

