<div class="row">
	<div class="col-xs-12 col-sm-2 left">
    <%= render partial: "layouts/shared/admin_sidebar" %>
	</div>
	<div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
		<div class="border"><br/>
		  <div class="pull-right">
			</div>
			<div class="row">
        <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to "Product Properties", admin_product_properties_path %></li>
          <li class="active">New Product Property</li>
        </ol>
        </div>
      </div>
		</div>
      <%= render 'form' %>
      <br />		
	</div>
</div>


