<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @admin_product_property.product_id %>
</p>

<p>
  <strong>Product question:</strong>
  <%= @admin_product_property.product_question_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @admin_product_property.answer %>
</p>

<%= link_to 'Edit', edit_admin_product_property_path(@admin_product_property) %> |
<%= link_to 'Back', admin_product_properties_path %>
