<%= form_for(@admin_notification_customer,:remote => true) do |f| %>
	<div class="modal-header ">
	  <span class="label-color" style="font-size:20px;">Content For <%= f.label :"#{ @content_for}",:style => "font-size:20px;" %></span>
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><br/>
	</div>
	<div class="modal-body" >
	  <%= f.hidden_field :user_id, :value => current_user.id %>
	  <div class="row">
	    <div class="col-sm-12 col-xs-12">
	      <%= f.text_area :"content_for_#{ @content_for}", :class => "tinymce" %> 
	    </div>
	  </div><br/>
		<%= tinymce_assets %>
		<%= tinymce %>
	</div>
	<div class="modal-footer ">
	  <%= f.submit 'Update' , :class => "btn btn-success" %>
	</div>
<% end %>


