<div class="message-container">
  <div id="id-message-list-navbar" class="message-navbar clearfix">
    <div class="message-bar">
      <div class="message-infobar" id="id-message-infobar">
        <span class="blue bigger-150">Notifications</span>
        <span class="grey bigger-110"></span>
      </div>
    </div>
  </div>

  <div class="message-list-container">
    <div class="message-list" id="message-list">
      <%= form_for(@admin_notification_customer,:remote => true) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <% if @admin_notification_customer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_notification_customer.errors.count, "error") %> prohibited this admin_notification_customer from being saved:</h2>
            <ul>
            <% @admin_notification_customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :order_create,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Order Create">Order Create
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "order_create"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "order_create"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :replacement_order,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Replacement Order">Replacement Order
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "replacement_order"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "replacement_order"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :partial_refund,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Partial Refund">Partial Refund
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "partial_refund"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "partial_refund"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :post_deli_cancel,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Order Create">Post Deligate Cancellation
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "post_deli_cancel"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "post_deli_cancel"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :tracking_updated,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Tracking Update">Tracking Update
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "tracking_updated"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "tracking_updated"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :order_success,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Order Sucess">Order Success
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "order_success"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "order_success"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :order_failed,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Order Failed">Order Failed
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "order_failed"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "order_failed"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>
          <div class="message-item">
            <label class="inline">
              <%= f.check_box :pre_deli_cancel,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Pre Deligate Cancellation">Pre Deligate Cancellation
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "pre_deli_cancel"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "pre_deli_cancel"), :class => "",:remote => true %>
                <% end %>
              </span>
              </span>
            </span>
          </div>

          <div class="message-item">
            <label class="inline">
              <%= f.check_box :refund_complete,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Refund Complete">Refund Complete
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "refund_complete"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "refund_complete"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div>

          <div class="message-item">
            <label class="inline">
              <%= f.check_box :back_jobs,:class => "ace" %>
              <span class="lbl"></span>
            </label>
            <span class="sender" title="Refund Complete">For Background Job Update
            </span>
            <span class="time"></span>

            <span class="summary">
              <span class="message-flags">
              </span>
              <span class="text">
                <% unless notification_customer.present? %>  
                  <%= link_to 'Edit Details', new_admin_notification_customer_path(:content_for => "back_jobs"), :class => "",:remote => true %>
                <% else %>
                  <%= link_to 'Edit Details', edit_admin_notification_customer_path(notification_customer,:content_for => "back_jobs"), :class => "",:remote => true %>
                <% end %>
              </span>
            </span>
          </div><br/>
          <%= f.submit 'Update' , :class => "btn btn-success btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
<hr>