<h1>Listing admin_notification_customers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_notification_customers.each do |admin_notification_customer| %>
      <tr>
        <td><%= link_to 'Show', admin_notification_customer %></td>
        <td><%= link_to 'Edit', edit_admin_notification_customer_path(admin_notification_customer) %></td>
        <td><%= link_to 'Destroy', admin_notification_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification customer', new_admin_notification_customer_path %>
