<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <%= link_to "Home", root_path %>
    </li>
    <li class="active">Customer Notification</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <%= render 'form' %><br />	 
</div>	

<div class="modal fade" id="modal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content " id = "modal24_id">
      
    </div>
  </div>
</div>