<% if user_signed_in? %>
  <% if current_user.cart.present? %>
    <div class="markthis" style="float:right;color:#484848;">
      <%= link_to cart_path(current_user.cart), :remote => true,:style =>"color:#484848;",:class => " ace-icon trigger_cart_modal_window" do %>
        <i class="ace-icon glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;
        Cart(<%= current_user.cart_items.count %>)
      <% end %>
    </div>
  <% end %>  
<% else %>  
  <% if user_signed_in? %>
    <% if session[:cart_id].present? %>
      <div class="markthis" style="float:right;color:#484848;"><small>
        <%= link_to cart_path(session[:cart_id]), :remote => true,:style =>"color:#484848;",:class => "ace-icon glyphicon glyphicon-shopping-cart cart_hover trigger_cart_modal_window" do %>
          Cart(<%= Cart.find(session[:cart_id]).cart_items.count %>)
        <% end %></small>
      </div>
    <% else %>  
      <div class="markthis" style="float:right;color:#484848;">
        <a href="<%= new_session_path(resource_name) %>" class="ace-icon glyphicon glyphicon-shopping-cart" style="color:#484848;"><small>&nbsp;Cart(0)</small></a>&nbsp;
      </div>
    <% end %>
  <% else %>
    <div class="markthis" style="float:right;color:#484848;">
        <a href="<%= new_session_path(resource_name) %>" class="ace-icon glyphicon glyphicon-shopping-cart" style="color:#484848;"><small>&nbsp;Cart(0)</small></a>&nbsp;
      </div>   
  <% end %>
<% end %>
<style>
.ace-icon:hover{
  text-decoration: none;
}
</style>