
<div style="background:#141414;color:#999;">
  <br /><br />

  <div class="footer-middle">
    <div class="container">

      <div class="row">
        <div style="text-align: center;">
          <br />
            <%= image_tag "33.png",:class => "", :style => "" %>
        </div>
        <br />
        <address style="text-align: center;">
          <span class="glyphicon glyphicon-map-marker"></span>&nbsp;
           350,Ambujammal Street, T.t.k Road, Alwarpet, Chennai - 600018 &nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-earphone"></span>&nbsp;
          <span> +91-44-24991130 / 42113164</span> &nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-envelope"></span>&nbsp;
          <span> support@ranees.in</span>
        </address>
        <br />
      </div>
    </div>  
  </div>
</div>

<div style="background:#0c0c0c;">
  <div class="container">
    <div class="row" style="padding: 20px 0px;">
      <div class="col-sm-12 col-xs-12 coppyright">
        <% if general.present? %>
          <% if general.store_name.present? %>
            <a href="" class="footer_a_hover" style="color:#fff;font-size:12px;">© 2015 <%= general.store_name %>. All Rights Reserved.</a>
          <% end %>
        <% end %>
        <a title="Proproots" href="http://www.proproots.com" style="float: right;color:#fff;">Powered By Proproots</a>
      </div>
      
    </div> 

  </div>
</div>

<style>
hr{
  border-top: 1px solid #222;
}
.footer_class{
  padding: 0 0 10px;
font-size: 13px;
margin: 0;
color: #fff;
font-weight: bold;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
}
.footer_padd{
  padding:5px 0px;
}
.footer_padd > a {
  color :#aaa !important;
}
.newsletter-wrap input[type="text"] {
background: #FFFFFF;
height: auto;
display: inline-block;
color: #a7a7a7;
line-height: 22px;
background-color: #fff;
border: none;
font-size: 13px;
font-family: 'Roboto', sans-serif;
border: none;
padding: 8px 10px;
width: 62%;
}
.newsletter-wrap button.subscribe {
background: #2ecc71;
border: 0 none;
filter: none;
overflow: hidden;
padding: 10px 18px;
cursor: pointer;
font-weight: bold;
border-radius: 2px;
color: #fff;
}
</style>