<!-- Start Payment Logo -->
  <div class="brand-logo ">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons text-center">
          <%= image_tag 'sec1.png',:style =>"padding: 0px 20px;"%>
          <%= image_tag 'sec2.png',:style =>"padding: 0px 20px;" %>
          <%= image_tag 'sec3.png',:style =>"padding: 0px 20px;" %>
        </div>
      </div>
    </div>
  </div>          

<!-- End Payment Logo -->


<footer class="footer bounceInUp animated">  
  <section class="footer-navbar">
  	<!-- BEGIN INFORMATIVE FOOTER -->  
      <div class="footer-inner">
        <div class="container">
          <div class="row">
			      <div class="col-sm-12 col-xs-12 col-lg-8">       
                
            	<div class="footer-column pull-left collapsed-block">
                <h4>Account<a class="expander visible-xs" href="#TabBlock-1">+</a></h4>
                <div id="TabBlock-1" class="tabBlock">
                  <ul class="links">
                    <% if current_user.present? %>          
                      <% unless current_user.profile.present? %> 
                        <li><a title="Profile" href="<%= new_user_profile_path(current_user) %>">Profile</a></li>
                      <% else %>
                        <li><a title="Profile" href="<%= user_profile_path(current_user, current_user.profile) %>">Profile</a></li>
                      <% end %>
                      <li><a title="Order" href="<%= user_orders_path(current_user) %>">Order</a></li>
                    <% else %>
                      <li><a title="Profile" href="<%= user_session_path %>">Profile</a></li>
                      <li><a title="Order" href="<%= user_session_path %>">Order</a></li>
                    <% end %>
                    <li><a title="Help" href="<%= help_desk_path %>">Help Desk</a></li>
                     <li><a title="about-us" href="<%=  about_us_path %>">About Us</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-column pull-left collapsed-block">
                <h4>Pages<a class="expander visible-xs" href="#TabBlock-2">+</a></h4>
                <div id="TabBlock-2" class="tabBlock">
                  <ul class="links">
                    <% if Admin::Page.first.present? %>
                      <% Admin::Page.where(:active => true).each do |page|%>
                        <% if page.page_content.present? %>
                          <li><a title="<%= page.page_name %>" href="<%= pageshow_path(page.page_name) %>" data-method="get" ><%= page.page_name.capitalize %></a></li>
                        <% else %>
                          <li><a href="<%= page.page_link %>" target="_blank"> <%= page.page_name %></a></li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="footer-column pull-left collapsed-block">
                <h4>Description<a class="expander visible-xs" href="#TabBlock-3">+</a></h4>
                <div id="TabBlock-3" class="tabBlock">
                  <p style="text-align:justify;color:#A1A1A1;">Ranees presents you an extensive collection of sarees, salwars and tunics in vibrant colors and intricate designs. We cater to the trendy as well as the traditional woman in you. Reach us at contact@ranees.in</p>
                </div>
              </div>   
              
            </div> 	

          	<div class="col-xs-12 col-lg-4">
            	<div class="footer-column-last">
            		<!-- Footer Newsletter -->
                  <div class="newsletter-wrap collapsed-block">
                    <h4>Sign up for emails<a class="expander visible-xs" href="#TabBlock-4">+</a></h4>
                    <div class="tabBlock" id="TabBlock-4">
                        <div id="container_form_news">
                          <div id="container_form_news2">
                            <%= form_for($subscriber, :url => subscribers_path) do |f| %>
                              <% if $subscriber.errors.any? %>
                                <div id="error_explanation">
                                <h2><%= pluralize($subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

                                <ul>
                                <% $subscriber.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                                <% end %>
                                </ul>
                                </div>
                              <% end %>
                              <%= f.text_field :email, :placeholder => "Enter email address", :class => "input-text required-entry validate-email" %>
                              <%= f.submit "Subscribe",  :class =>"subscribe"%>
                            <% end %>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                <!--newsletter-->
	    		
	    			    <div class="social">
    	    				<h4>Follow Us</h4>
    				      <ul class="link">
                    <% if general.present? %>
                      <% if general.fb_link.present? %>
                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="<%= general.fb_link %>" title="Facebook"></a></li>
                        </a>
                      <% end %>
                      <% if general.tw_link.present? %>
                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="<%= general.tw_link %>" title="Twitter"></a></li>
                      <% end %>
                      <% if general.gp_link.present? %>
                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="<%= general.gp_link %>" title="GooglePlus"></a></li>
                      <% end %>
                      <% if general.pt_link.present? %>
                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="<%= general.pt_link %>" title="PInterest"></a></li>
                      <% end %>
                    <% end %>                    
								  </ul>
    	    		  </div><!--end social -->
			        </div>
		  	    </div>
      	  </div>
        </div>
  	  </div>
    <!--footer innter -->
  	<div class="footer-middle">
		  <div class="container">
        <div class="row">
        	<div style="text-align: center;">
            
              <%= image_tag "33.png",:class => "", :style => "" %>
          </div>
           <% if general.present? %>
          <address>
            <% address =  general.addresses.first %><br />
            <em class="icon-location-arrow"></em>
             <%= address.add_line1 %>, <%= address.add_line2 %> - <%= address.c_code %>
            <em class="icon-mobile-phone"></em>
            <span> +91 - 44 - <%= address.phone %></span> 
            <em class="icon-envelope"></em>
            <span> <%= general.com_email %></span>
          </address>
          <% else %>
              <address>
            <em class="icon-location-arrow"></em>
             350,Ambujammal Street, T.t.k Road, Alwarpet, Chennai - 600018
            <em class="icon-mobile-phone"></em>
            <span> +91 -44 - 24991130 / 42113164</span> 
            <em class="icon-envelope"></em>
            <span> support@ranees.in</span>
          </address>
          <% end %>
        </div>
		  </div>	
	  </div>

	  <div class="footer-bottom">
		  <div class="container">
        <div class="row">
        	<div class="footer-bottom container">
            <div class="col-sm-5 col-xs-12 coppyright">
              <% if general.present? %>
                <% if general.store_name.present? %>
                  <a href="" class="footer_a_hover" style="color:#fff;font-size:12px;">© 2015 <%= general.store_name %>. All Rights Reserved.</a>
                <% end %>
              <% end %></div>
              <div class="col-sm-7 col-xs-12 company-links">
                <ul class="links">
                <li><a title="Proproots" href="http://www.proproots.com" target="_blank" style="font-size:12px;">Powered By Proproots</a></li>
                </ul>
              </div>
            </div> 
        	</div>
        </div>
      </div>
    </div>   
    <!-- BEGIN SIMPLE FOOTER -->
  </section>
</footer>

<div id="mgkquickview">
  <div id="magikloading" style="display:none;text-align:center;margin-top:400px;">
    <%= image_tag 'mgkloading.gif' ,:alt => "loading"%>
  </div>
</div>

<style>
.newsletter-wrap button.subscribe , .newsletter-wrap input[type=submit].subscribe{
  background: #2ecc71;
  border: 0 none;
  filter: none;
  overflow: hidden;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
  color: #fff;
}

</style>