<% @general = Admin::General.first %>
<% @n = @general ? @general.category_level : 3 %>
<header>
  <div class="header-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xs-12 col-md-3">
          <div class="logo">
            <a href="<%= root_path %>">
              <div>
                <% if general.present? %>
                  <% if general.avatar.present? %>
                    <%= image_tag general.avatar.url(:medium),:class => "img-responsive " %>
                  <% else %>
                    <%= image_tag "raness_logo.png",:class => "img-responsive " %>
                  <% end %>
                <% else %>
                  <%= image_tag "raness_logo.png",:class => "img-responsive " %>
                <% end %>
              </div>
            </a>
          </div>
        </div> <!--col-lg-3 col-xs-12-->
        <div class="col-lg-9 col-xs-12 col-md-9 right_menu">
          <div class="toplinks">
            <div class="welcome-msg hidden-xs" style="font-family: 'Roboto', sans-serif !important; ">Welcome to Ranees Women's Fashion</div>
            <div class="links">
              <div class="support">
                   <a tabindex="-1" href="<%= help_desk_path%>"><span class=" hidden-xs">24x7 Help Desk</span></a>
                </div>
              <% if user_signed_in? %>
                <div class="myaccount">
                <% if current_user.profile.present? %>  
                  <a tabindex="-1" href="<%= user_account_path(current_user)%>"><span class=" hidden-xs">My Account</span></a>
                <% else %>
                  <a tabindex="-1" href="<%= new_user_profile_path(current_user) %>"><span class="hidden-xs">My Account</span> </a>
                <% end %>
                </div>
                <div class="">
                  <a tabindex="-1" href="<%= user_orders_path(current_user) %>"><span class=" hidden-xs">Orders</span></a>
                </div>
                <% if current_user.wishlists.present? %>
                  <div class="wishlist">  
                    <%= link_to user_wishlists_path(current_user) do %>
                      <span class="hidden-xs">Wishlist</span>
                    <% end %>
                  </div>
                <% else %>
                  <div class="wishlist">
                    <%= link_to user_wishlists_path(current_user) do %>
                      <span class="hidden-xs">Wishlist</span>
                    <% end %>
                  </div>
                <% end %>
                <div class="dropdown block-company-wrapper" style="margin-right:-25px;"><a class="block-company dropdown-toggle hidden-xs" title="Company" href="#" data-toggle="dropdown" data-target="#"><span class="hidden-xs">Hi  <%= sanitize(current_user.email, :tags=>[]).html_safe %> </span></a>
                  <ul class="dropdown-menu" style="margin-left:20px;">
                  <% unless current_user.role.name == "u" %>
                    <li><a tabindex="-1" href="<%= admin_dashboard_path %>" class="markthis" target = "_blank" > Admin Dashboard </a></li>
                  <% end %>
                  <li>
                   <%= link_to 'Sign out', destroy_user_session_path, :method => :delete,:tabindex=> "-1" %>
                  </li>
                  </ul>
                </div>
                <div class="login">
                  <%= link_to '', destroy_user_session_path, :method => :delete,:tabindex=> "-1" %>
                </div>
              <% else %>
                <div class="wishlist">
                  <%= link_to new_session_path(resource_name) do %>
                    <span class="hidden-xs">Wishlist</span>
                  <% end %>
                </div>
                <div class="login">
                  <a  href = "<%= user_session_path %>"  style="cursor:pointer" title="Log In" >
                    <span class="hidden-xs" style="cursor:pointer">Log In</span>
                  </a>
                </div>
                <div class="login" style="margin-right: -6px;">
                  <a  href="<%= new_user_registration_path %>" style="cursor:pointer" Title="Sign Up">
                    <span class="hidden-xs">Sign Up</span>
                  </a>
                </div>
              <% end %>
            </div>
          </div> <!--toplinks-->
          <div class=" pull-right" style="margin-top: 14px;margin-right: -7px;font-family: 'Roboto', sans-serif !important;color:#99999C !important;">
            <em class="icon-mobile-phone" ></em>&nbsp;&nbsp;CALL US:&nbsp;&nbsp; +91-44-24991130 / 42113164
          </div>
          <div class="lang-curr" >
            
            <div class="form-language" style="padding-left:8px;">  
            <ul class="lang">          
                 
              <li class="hidden-xs"><a href="<%= root_path %>">
                <%= image_tag 'flag.png'%>
                 <span>German</span>
              </a></li>         
             </ul>
            </div> <!--form-language-->
     
            <div class="form-currency" style="margin-top: 9px;margin-right:0px;">  
              <ul class="currencies_list ">
                <li class="hidden-xs"><a href="<%= root_path %>" title="rupee">₹</a></li>
                </ul>
            </div> <!--form-currency-->
           </div>
        </div> <!--col-lg-9 col-xs-12 right_menu-->
      </div> <!--row-->
    </div> <!--container-->
  </div> <!--header-container-->
</header>
<div class="mm-toggle-wrap">
  <div class="mm-toggle"><i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
</div>
<nav class="">
  <div class="container">
    <div class="row">
      <div class="nav-inner col-lg-12">
        <!-- BEGIN NAV -->  
        <ul id="nav" class="hidden-xs">
          <li id="nav-home" class="level0 parent drop-menu"><a class="level-top" href="<%= root_path %>"><span>Home</span></a>
          </li>

          <% @sections.roots.limit(6).sort_by(&:sort_order).each do |section| %>
            <li class="mega-menu"> 
              <a class="level-top" href="<%= section_path(section) %>"><span><%= section.name %></span></a> 
              <% if @n > 1 %>
                <% if section.check_header_limit.count > 0 %>
                    <div class="level0-wrapper dropdown-6col" style="left: 0px; display: none;">
                      <div class="container">
                        <div class="level0-wrapper2">
                          <% if @n > 2 %>
                            <div class="col-1">
                              <div class="nav-block nav-block-center">   
                                <!--mega menu-->       
                                <ul class="level0">
                                  <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                                    <li class="  <%= @n > 2 ? 'level3 nav-6-1 parent item' : 'level2 nav-6-1-1' %>">
                                      <a href="<%= section_path(children_section)%>"><span><%= children_section.name %></span></a>
                                      <% if @n > 2 %>
                                        <% if children_section.check_header_limit.count > 0 %>
                                          <ul class="level1">
                                            <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
                                              <li class="level2 nav-6-1-1">
                                                <a href="<%= section_path(sub_children_section) %>"><span><%= sub_children_section.name %></span></a>
                                              </li>
                                            <% end %>
                                          </ul>
                                        <% end %>
                                      <% end %>
                                    </li>
                                  <% end %>
                                </ul>
                              </div>
                            </div>
                            <div class="col-2">
                              <% if @n > 1 %>
                                <% if section.general_images.first.present? %> 
                                  <%= image_tag section.general_images.sort_by(&:sort_order).first.avatar.url(:large),:class => "img-responsive "%>
                                <% else %>
                                  <div class="menu_image"><a title="" href="#"><%= image_tag 'header_category_default.png',:class => "img-responsive "%></a></div>
                                <% end %>
                                <% if @n > 2 && section.check_header_limit.count > 3%>
                                <% if section.general_images.second.present? %> 
                                  <%= image_tag section.general_images.sort_by(&:sort_order).second.avatar.url(:large),:class => "img-responsive "%>
                                <% else %>
                                  <div class="menu_image1"><a title="" href="#"><%= image_tag 'header_category_default.png',:class => "img-responsive "%></div> 
                                <% end %>
                                <% end %> 
                              <% end %>
                            </div> <!--col-2-->
                          <% else %>
                            <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
                              <ul class="level0">
                               <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                                  <li class="level2 nav-6-1-1">
                                    <ul class="level1">
                                      <li class="level2 nav-6-1-1">
                                        <a href="<%= section_path(children_section) %>"><span><%= children_section.name %></span></a>
                                      </li>
                                    </ul>
                                    </li>
                               <% end %>
                              </ul>
                            </div>
                            <div class="nav-block nav-block-right std grid12-4">
                              <% if section.general_images.first.present? %> 
                                <%= image_tag section.general_images.sort_by(&:sort_order).first.avatar.url(:large),:class => "img-responsive "%>
                              <% else %>
                                <%= image_tag 'header_category_default.png',:class => "img-responsive "%>
                              <% end %>
                            </div>
                          <% end %>
                          
                        </div>
                      </div>
                    </div>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul> <!--nav-->
        <div class="menu_top">
          <div class="top-cart-contain pull-right">
            <div class="mini-cart">
             <%= render partial: "layouts/shared/#{$client_name}_custom_shared_view/mini_cart" %>
            </div> <!--mini-cart-->
          </div>          
        </div> <!--menu_top-->
      </div> <!--nav-inner col-lg-12-->
    </div> <!--row-->
  </div> <!--container-->
</nav>


<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
              <ul class="nav nav-tabs resize_header">
                <li class="active check-valids">
                  <a href="#home" data-toggle="tab">Sign In</a>
                </li>
                <li class="check-valid">
                  <a href="#profile" data-toggle="tab">Sign Up</a>
                </li>
              </ul>
              <div class="tab-content myTab">
                <div class="tab-pane active" id="home" style="border-bottom: none;background:#f7f7f7;">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                      <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
                      </div>
                      <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
                        <%= render "devise/sessions/form" %>
                        <div class="change-password">
                          <%= render "devise/passwords/form" %>
                        </div>
                      </div>
                      <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                      <div class="social-or-login center">
                        <span class="bigger-110">Or Login Using</span>
                      </div>
                      <div class="space-6"></div>
                      <div class="social-login center">
                        <%= link_to '',"/users/auth/facebook", :class => "btn btn-primary ace-icon fa fa-facebook", :style => "font-size:200%;" %>
                        <%= link_to '',"/users/auth/google_oauth2", :class => "btn btn-primary ace-icon fa fa-google-plus", :style => "font-size:200%;" %>
                        <br /><br />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="profile" style="border-bottom: none;background:#f7f7f7;">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                      <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
                      </div>
                      <div class="col-sm-8 col-md-8 col-xs-8 col-lg-8">
                        <%= render "devise/registrations/form" %>
                      </div>
                      <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                      <div class="social-or-login center">
                        <span class="bigger-110">Or Login Using</span>
                      </div>
                      <div class="space-6"></div>
                      <div class="social-login center">
                        <%= link_to '',"/users/auth/facebook", :class => "btn btn-primary ace-icon fa fa-facebook", :style => "font-size:200%;" %>
                         <%= link_to '',"/users/auth/google_oauth2", :class => "btn btn-primary ace-icon fa fa-google-plus", :style => "font-size:200%;" %>
                         <br /><br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

