<% if user_signed_in? %> 
  <small>
    <li class="dropdown pull-right dropdown-li markthis">             
      <a href="" data-toggle="dropdown" class=" head_color setting_dropdown">Hi  <%= sanitize(current_user.email, :tags=>[]).truncate(15, :separator => " ").html_safe %> </a>
      <ul class="dropdown-menu header-menu" id="menu1" >
        <% if current_user.profile.present? %>                          
          <li class="markthis"><%= link_to "My Account", user_account_path(current_user) %> </li>
        <% else %>
          <li class="markthis"> <%= link_to "My Account", new_user_profile_path(current_user) %> </li>
        <% end %>
        <li class="markthis"> <%= link_to "My Orders", user_orders_path(current_user) %> </li>
        <li class="markthis"> <%= link_to "My Wishlist", user_wishlists_path(current_user) %> </li>
        <% unless current_user.role.name == "u" %>
          <li class="markthis"><%= link_to "Admin Dashboard", admin_dashboard_path, class: "left-border head_color", :style => "color:#000 !important;", :id => "admin_dash_header_hide", :target => "_blank" %></li>
        <% end %>
        <li class="markthis"><%= link_to "Signout", destroy_user_session_path, method: :delete, class: "left-border head_color", :style => "color:#000 !important;" %></li>            
      </ul>
    </li>  
  </small>
<% else %>
  <div class="pull-right">
    <small>
      <a data-toggle="modal" data-target="#signup", onclick = "javascript:fun2();" class="left-border head_color pull-right">
        Sign In
      </a>
      <a></a>             
       &nbsp;&nbsp;&nbsp;
      <a data-toggle="modal" data-target="#signup", href"<%= new_user_registration_path %>" , onclick = "javascript:fun1();" class="left-border head_color">
       Sign Up
      </a>
    </small>
  </div>
  <br />
<% end %>
<script>
function fun2(){
  $(".check-valid").removeClass("active");
  $(".check-valids").addClass("active");
  $("#home").addClass("active");
  $("#profile").removeClass("active");
}
$(document).ready(function() {
  if($.cookie('trigger_cart')){ 
    alert("hi")
    $.removeCookie("trigger_cart");
    $(".trigger_cart_modal_window").click();
  }
});
</script>