<% @cart_item_count = current_cart.cart_items.count %>
  <div class="basket dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">   
    <a href="#"><span>Shopping Cart (<%= @cart_item_count %>) </span></a>
  </div>  
<div>
<div class="top-cart-content" style="display: none;">
  <% if @cart_item_count == 0 %>
  <p class="a-center noitem">You have no items in your shopping cart.</p>
  <% else %>
  <div class="block-subtitle">
    <div class="top-subtotal">
      Subtotal:                   
      <span class="price">₹ <%= "%.2f" % current_cart_total %></span>            
    </div> <!--top-subtotal-->
    <div class="pull-right">
      <button type="button" class="view-cart" onclick="window.location='<%= cart_path(current_cart) %>';" title="View Cart"><span>View Cart</span></button>  

    </div>  <!--pull-right-->
  </div> 
  <ul id="cart-sidebar" class="mini-products-list">
    <% current_cart.cart_items.limit(4).each do |cart_item| %>
      <% variant = Admin::Variant.find(cart_item.variant_id)%>
      <% product = Admin::Product.find(variant.product_id) %>
      <li class="item  last1">
        <div class="item-inner">
          <a  title="<%= variant.name %>" class="product-image">
          <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "", :style => "" , :width => "80" , :alt => variant.name  %>
          </a>
          <div class="product-details">
            <div class="access">
              <%= link_to "Remove", cart_item, method: :delete, data: { :remote => true },:class => "glyphicon glyphicon-remove text-warning",:title => "Remove This Item" ,:onclick=> "return confirm('Are you sure you would like to remove this item from the shopping cart?');", :class=>"btn-remove1" %>
            </div>
            <strong>1</strong> x
            <span class="price">₹ <%= "%.2f" % cart_item.per_qty_price %></span>                    
            <p class="product-name"><a href=""><%= variant.name %></a></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>                             
  <div class="actions">
    <button type="button" title="Checkout" class="btn-checkout" onclick="window.location='<%= current_user.present? ? cart_payment_path(current_cart) : user_session_path %>';"><span>Checkout</span></button>                         
  </div>
  <% end %>  
</div> <!--top-cart-content-->
</div>