<% @general = Admin::General.first %>
<% @n = @general ? @general.category_level : 3 %>
<nav class="navbar navbar-inverse " style="background:#2ecc71;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background:#7B2A2A;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class=" navbar-nav megamenu skyblue">
        <li><%= link_to 'Home',root_path, :class=>"color1", :style => "text-transform: uppercase;"%>
        </li>
        <% @sections.roots.limit(3).sort_by(&:sort_order).each do |section| %>
          <li class="markthis"> <%= link_to h(section.name), section_path(section),:class => "color1",:style => "text-transform: uppercase;cursor:pointer" %>
            <% if @n > 1 %>
              <div class="megapanel">
                <div class="row">
                  <% if section.children.present? %>
                    <% unless @n < 3 %>
                      <div class="col-sm-9 col-xs-12">
                        <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                          <% if children_section.status == true %>
                          
                            <div class="col1">
                              <div class="h_nav">
                                <h3 class="markthis child_link_bg">
                                <%= link_to h(children_section.name), section_path(children_section),:class => "" %></h3>
                                <% if @n > 2 %>
                                  <% if children_section.children.present? %>
                                    <ul>
                                      <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
                                        <li class="markthis">
                                          <div class="row" style="padding-top:5px;">
                                          <div class="col-sm-12 col-xs-12">
                                              <div class="col-sm-2 hidden-xs img_color text-muted">
                                                <%= image_tag 'category_right.png'%>
                                              </div>
                                              <div class="col-sm-9 col-xs-12" style="">
                                                <%= link_to h(sub_children_section.name), section_path(sub_children_section), :style => "margin-left:-15px;font-size:13px;color:#555;" %>
                                              </div>
                                          </div>
                                          
                                        </li>
                                      <% end %>
                                      <br />
                                      <% if children_section.general_images.first.present? %> 
                                        <%= image_tag children_section.general_images.first.avatar.url,:class => "img-responsive "%>
                                      <% end %>
                                    </ul>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-sm-3 col-xs-12">
                        <% if section.general_images.first.present? %> 
                          <%= image_tag section.general_images.first.avatar.url(:medium),:class => "img-responsive "%>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="row">
                        <div class="col-sm-8">
                          <% section.children.sort_by(&:sort_order).each do |children_section| %>
                            <div class="col-sm-2 ">
                              <%= link_to h(children_section.name), section_path(children_section),:class => "theme_color1" %> 
                            </div>
                          <% end %> 
                        </div>
                        <div class="col-sm-4">
                          <% if section.general_images.first.present? %> 
                            <%= image_tag section.general_images.first.avatar.url(:medium),:class => "img-responsive "%>
                          <% end %>
                        </div>
                      </div>              
                    <% end %>  
                  <% end %>
                </div>
                <div class="row">
                  <div class="col2"></div>
                  <div class="col1"></div>
                  <div class="col1"></div>
                  <div class="col1"></div>
                  <div class="col1"></div>
                </div>
              </div>
            <% end %>
          </li> 
        <% end %>
        
      </ul>
      
    </div>
  </div>
</nav>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>


<style>
.navbar{
  min-height: 50px;
}
.navbar .navbar-nav>li>a {
padding-top: 15px !important;
padding-bottom: 15px !important;
}
</style>