
<!-- /.sidebar-shortcuts start -->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
      <i class="ace-icon fa fa-signal"></i> 
    </button>

    <button class="btn btn-info">
      <i class="ace-icon fa fa-pencil"></i>
    </button>
   
    <button class="btn btn-warning">
      <i class="ace-icon fa fa-users"></i>
    </button>

    <button class="btn btn-danger">
      <i class="ace-icon fa fa-cogs"></i>
    </button>
  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div>
<!-- /.sidebar-shortcuts end -->
<!--  Admin dashboard sidebar start-->
<ul class="nav nav-list nav-list10" style="top: 0px;"> 
  <li class="first_class <%= controller_name == 'admins' ? 'active' : nil %>">
    <%= link_to '<i class="menu-icon fa fa-tachometer"></i><span class="menu-text"> Board</span>'.html_safe,admin_dashboard_path,:remote => true %>
    <b class="arrow"></b>
  </li>
  <li class="markthis first_class <%= controller_name == 'ticket_tasks' ? 'active' : nil %>">
    <%= link_to '<i class="menu-icon  fa fa-comments-o"></i>Tickets'.html_safe, admin_ticket_tasks_path, :class => "admin_sidebar_link #{controller_name == 'ticket_tasks' ? 'open1' : nil }",:remote => true %>
  </li>

  <li class="<%= controller_name == 'orders' || controller_name == "pickup_consignments" || controller_name == "order_revocations" || controller_name == "replacement_revocations" || controller_name == "refund_revocations" ? 'open' : nil %>">
    <a class="dropdown-toggle" style="cursor:pointer;">
      <i class="menu-icon fa fa-shopping-cart"></i>
      <span class="menu-text">
        Orders & Requests
      </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu nav-hide" style="display: <%= controller_name == 'orders' || controller_name == "pickup_consignments" || controller_name == "order_revocations" || controller_name == "replacement_revocations" || controller_name == "refund_revocations" ? 'block' : 'none' %>;">
      
      <li class="markthis <%= controller_name == 'orders' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Orders'.html_safe, admin_orders_path, :class => "admin_sidebar_link #{controller_name == 'orders' ? 'open1' : nil }",:remote => true %>
      </li>

      <li class="markthis <%= controller_name == 'replacement_revocations' ? 'active' : nil %> ">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Replacement Requests'.html_safe, admin_replacement_revocations_path,class: "admin_sidebar_link #{controller_name == 'replacement_revocations' ? 'open1' : nil }",:remote => true %>
      </li>

      <li class="markthis <%= controller_name == 'order_revocations' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Revocation Requests'.html_safe, admin_order_revocations_path, :class => "admin_sidebar_link #{controller_name == 'order_revocations' ? 'open1' : nil }",:remote => true %>
      </li>

      <li class="markthis <%= controller_name == 'refund_revocations' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Refund Requests'.html_safe, admin_refund_revocations_path, :class => "admin_sidebar_link #{controller_name == 'refund_revocations' ? 'open1' : nil }",:remote => true %>
      </li>

      <li class="markthis <%= controller_name == 'pickup_consignments' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Return Pickup Requests'.html_safe, admin_pickup_consignments_path, :class => "admin_sidebar_link #{controller_name == 'pickup_consignments' ? 'open1' : nil }",:remote => true  %>
      </li>
    
    </ul>
  </li>

  <li class="<% controller_name == "products" || controller_name == "brands" || controller_name == "categories" || controller_name == "inventories" || controller_name == "images" ? 'open' : nil  %> ">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon fa fa-list"></i>
      <span class="menu-text">Products</span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="display: <%= controller_name == "products" || controller_name == "brands" || controller_name == "categories" || controller_name == "inventories" || controller_name == "vendors" ? 'block' : 'none'  %> ">
      <li class="markthis <%= controller_name == 'products' ? 'active' : nil %>">
        <%= link_to ' <i class="menu-icon fa fa-caret-right"></i> Products'.html_safe, admin_products_path, :class => "admin_sidebar_link #{controller_name == 'products' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'categories' ? 'active' : nil %>">
        <%= link_to "<i class='menu-icon fa fa-caret-right'></i>Product's Categories".html_safe, admin_categories_path, :class => "admin_sidebar_link #{controller_name == 'categories' ? 'open1' : nil }",:remote => true%>
      </li>

      <li class="markthis <%= controller_name == 'brands' ? 'active' : nil %>">
        <%= link_to "<i class='menu-icon fa fa-caret-right'></i>Product's Brands".html_safe, admin_brands_path, :class => "admin_sidebar_link #{controller_name == 'brands' ? 'open1' : nil }",:remote => true%>
      </li>
      <li class="markthis <%= controller_name == 'inventories' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Inventories'.html_safe, admin_inventories_path, :class => "admin_sidebar_link #{controller_name == 'inventories' ? 'open1' : nil }",:remote => true%>
      </li>
      <li class="markthis <%= controller_name == 'vendors' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Vendors'.html_safe, admin_vendors_path, :class => "admin_sidebar_link #{controller_name == 'vendors' ? 'open1' : nil }",:remote => true %>
      </li>
    </ul>
  </li>

  <li class="<% controller_name == "users" || controller_name == "carts" || controller_name == "task_tickets" ? 'open' : nil  %> ">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon fa fa-desktop"></i>
      <span class="menu-text">Data Records </span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="display: <%= controller_name == "users" || controller_name == "carts" || controller_name == "task_tickets" ? 'block' : 'none'  %> ">
      <li class="markthis <%= controller_name == 'users' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Users'.html_safe, admin_users_path, :class => "admin_sidebar_link #{controller_name == 'users' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'carts' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Shopping Carts'.html_safe, admin_carts_path, :class => "admin_sidebar_link #{controller_name == 'carts' ? 'open1' : nil }",:remote => true %>
      </li>
    </ul>
  </li>

  <li class="<% controller_name == "images" || controller_name == "pages"  ? 'open' : nil  %> ">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon fa fa-pencil-square-o"></i>
      <span class="menu-text">CMS </span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="display: <%= controller_name == "image_types" || controller_name == "pages" ? 'block' : 'none'  %> ">
      <li class="markthis <%= controller_name == 'image_types' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Images'.html_safe, admin_image_types_path, :class => "admin_sidebar_link #{controller_name == 'image_types' ? 'open1' : nil }",:remote => true%>
      </li>
      <li class="markthis <%= controller_name == 'pages' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Web Pages'.html_safe, admin_pages_path, :class => "admin_sidebar_link #{controller_name == 'pages' ? 'open1' : nil }",:remote => true %>
      </li>
    </ul>
  </li>

  <li class="<%controller_name == "availability_plans" || controller_name == "cod_policies" || controller_name == "shipping_policies" || controller_name == "tax_plans"  ? 'open' : nil  %> ">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon fa fa-check-square-o"></i>
      <span class="menu-text">Policy Configuration</span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="display: <%= controller_name == "availability_plans" || controller_name == "cod_policies" || controller_name == "shipping_policies" || controller_name == "tax_plans" ? 'block' : 'none'  %> ">
      <li class="markthis<%= controller_name == 'availability_plans' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Geo-Delivery Availability'.html_safe, admin_availability_plans_path, :class => "admin_sidebar_link #{controller_name == 'availability_plans' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis<%= controller_name == 'shipping_policies' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Geo-Delivery Cost'.html_safe, admin_shipping_policies_path, :class => "admin_sidebar_link #{controller_name == 'shipping_policies' ? 'open1' : nil }",:remote => true %>
      </li>
      <% if Admin::General.first.present? %>
      <% if Admin::General.first.cod_preference != true %>
       <li class="markthis<%= controller_name == 'cod_policies' ? 'active' : nil %>">
        <% if Admin::CodPolicy.first.present? %>
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Geo-COD Availability'.html_safe, admin_cod_policy_path(Admin::CodPolicy.first), :class => "admin_sidebar_link #{controller_name == 'cod_policies' ? 'open1' : nil }",:remote => true %>
        <% end %>
      </li>
      <% end %>
      <% else %>
          <li class="markthis<%= controller_name == 'cod_policies' ? 'active' : nil %>">
             <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Geo-COD Availability'.html_safe, admin_cod_policy_path(Admin::CodPolicy.first), :class => "admin_sidebar_link #{controller_name == 'cod_policies' ? 'open1' : nil }",:remote => true %>
          </li>
      <% end %>
      <li class="markthis <%= controller_name == 'tax_plans' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Geo-Tax Plan'.html_safe, admin_tax_plans_path, :class => "admin_sidebar_link #{controller_name == 'tax_plans' ? 'open1' : nil }",:remote => true %>
      </li>
    </ul>
  </li>

  <li class="<% controller_name == "generals" || controller_name == "permissions" || controller_name == "notification_customers" ? 'open' : nil  %>">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon fa fa-cog"></i>
      <span class="menu-text"> Settings </span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="display: <%= controller_name == "generals" || controller_name == "permissions" || controller_name == "sms_notifications" || controller_name == "notification_customers" ? 'block' : 'none'  %> ">
      <li class="markthis <%= controller_name == 'generals' ? 'active' : nil %>">
        <% unless general.present? %>
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Store Setting'.html_safe, new_admin_general_path, :class => "admin_sidebar_link #{controller_name == 'generals' ? 'open1' : nil }",:remote => true %>
        <% else %>
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Store Setting'.html_safe, admin_generals_path, :class => "admin_sidebar_link #{controller_name == 'generals' ? 'open1' : nil }",:remote => true %>
        <% end %>
      </li>
      <li class="markthis <%= controller_name == 'permissions' ? 'active' : nil %>">
        <%= link_to "<i class='menu-icon fa fa-caret-right'></i> User's Permission Setting".html_safe, admin_permissions_path, :class => "admin_sidebar_link",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'notification_customers' ? 'active' : nil %>">
        <% unless notification_customer.present? %>  
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Manage Email Notifiications'.html_safe, new_admin_notification_customer_path, :class => "admin_sidebar_link #{controller_name == 'notification_customers' ? 'open1' : nil }",:remote => true %>
        <% else %>
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Manage Email Notifiications'.html_safe, admin_notification_customer_path(notification_customer), :class => "admin_sidebar_link #{controller_name == 'notification_customers' ? 'open1' : nil }",:remote => true %>
        <% end %>
      </li>
      <li class="markthis <%= controller_name == 'sms_notifications' ? 'active' : nil %>">
        <% unless sms_notification.present? %>  
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Manage SMS Notifications'.html_safe, new_admin_sms_notification_path, :class => "admin_sidebar_link #{controller_name == 'sms_notifications' ? 'open1' : nil }",:remote => true %>
        <% else %>
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Manage SMS Notifications'.html_safe, admin_sms_notification_path(sms_notification), :class => "admin_sidebar_link #{controller_name == 'sms_notifications' ? 'open1' : nil } ",:remote => true %>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="<% controller_name == "availability_plans" || controller_name == "cod_policies" || controller_name == "shipping_policies" || controller_name == "tax_plans"  ? 'open' : nil  %> ">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon  fa fa-key"></i>
      <span class="menu-text">Super-Power</span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu" style="display: <%= controller_name == "warehouses" || controller_name == "logistics" || controller_name == "roles" || controller_name == "weight_ranges" || controller_name == "price_ranges" || controller_name == "countries" ? 'block' : 'none'  %> ">
      <li class="markthis <%= controller_name == 'warehouses' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Configure Warehouses'.html_safe, admin_warehouses_path, :class => "admin_sidebar_link #{controller_name == 'warehouses' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'logistics' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Shipping Service-Providers'.html_safe, admin_logistics_path, :class => "admin_sidebar_link #{controller_name == 'logistics' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'roles' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Manage Roles and Block List'.html_safe, admin_roles_path, :class => "admin_sidebar_link #{controller_name == 'roles' ? 'open1' : nil }",:remote => true %>
      </li>
       <li class="markthis <%= controller_name == 'weight_ranges' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Define Weight-Brackets'.html_safe, admin_weight_ranges_path, :class => "admin_sidebar_link #{controller_name == 'weight_ranges' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'price_ranges' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i>Define Price-Brackets'.html_safe, admin_price_ranges_path, :class => "admin_sidebar_link #{controller_name == 'price_ranges' ? 'open1' : nil }",:remote => true %>
      </li>
      <li class="markthis <%= controller_name == 'countries' ? 'open1' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Manage Countries Data'.html_safe, admin_countries_path, :class => "admin_sidebar_link #{controller_name == 'countries' ? 'open1' : nil }",:remote => true %>
      </li>
    </ul>
  </li>
</ul> 
<!--  Admin dashboard sidebar end -->

<!--  Admin dashboard  togglebar start -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<!--  Admin dashboard  togglebar end -->
<script>
$(".nav-list10 > li > a.dropdown-toggle").click(function(){
  $(this).closest("li").toggleClass("open");
  $(this).nextAll('ul').eq(0).toggle();
});
$(".nav-list10 > li ").click(function(){
  $(this).siblings().removeClass('active open');
  $(this).siblings().children('ul').css('display','none')
});
$(".nav-list10 > li.first_class ").click(function(){
  $(this).siblings().removeClass('active');
  $(this).addClass('active');
  });
$(".nav-list10 > li > ul > li").click(function(){
  $(this).siblings().removeClass('active');
  $(this).addClass('active');
  });
$("#sidebar-collapse").click(function(){
  $(".for_responsive_sidebar").toggleClass("menu-min");
  if($(".to_assign_left").hasClass('col-sm-2')){
    $(".to_assign_left").removeClass('col-sm-2');
    $(".to_assign_left").addClass('col-sm-1');
    $(".to_assign_left").css('left','-15px');
  }
  else if($(".to_assign_left").hasClass('col-sm-1')){
    $(".to_assign_left").removeClass('col-sm-1');
    $(".to_assign_left").addClass('col-sm-2');
    $(".to_assign_left").css('left','0px');
  }
  if($(".container_content").hasClass('col-sm-10')){
    $(".container_content").removeClass('col-sm-10');
    $(".container_content").addClass('col-sm-11')
  }
  else if($(".container_content").hasClass('col-sm-11')){
    $(".container_content").removeClass('col-sm-11');
    $(".container_content").addClass('col-sm-10')
  }
});
</script>