<% @path1= request.path.split("/")[2].to_s %>
<% @path = request.path.split("/")[1].to_s %>    
    <div id="navbar" class="navbar navbar-default navbar-fixed-top">
      <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      </script>

      <div class="navbar-container" id="navbar-container" style="margin-top: -10px;padding-top: 10px;">
        <button type="button" class="navbar-toggle menu-toggler pull-left fixed navbar-toggle-click" id="menu-toggler" data-target="#sidebar">
          <span class="sr-only">Toggle sidebar</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>  

        <div class="navbar-header pull-left" style="margin-top:10px;">
          <a href="#" class="navbar-brand">
            <small>
              <i class="fa fa-leaf"></i>
              <span class="hidden-xs ">
              <% if general.present? %>
                <% if general.store_name.present? %>
                  <%= general.store_name %> 
                <% end %>
              <% else %>  
                Store Name
              <% end %>|
              <small style="font-size:14px;"> Control Panel</small></span>
            </small>
          </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">
            <li class="grey admin_dropdown_markthis_link">
              <a data-toggle="dropdown" class="dropdown-toggle hidden-xs" href="#" aria-expanded="false">
                <i class="ace-icon fa fa-graduation-cap"></i>
                <span class="hidden-xs">Admin Dashboard</span>
              </a>
              <%= link_to "<i class='ace-icon fa fa-graduation-cap'></i>
                <span class='badge badge-grey'>&nbsp;</span>".html_safe,admin_dashboard_path,:class=> "hidden-md hidden-sm hidden-lg",:remote => true   %>
              <ul class="list_ui submenu dropdown-menu dropdown-light-blue dropdown-caret dropdown-menu-left dropdown-navbar navbar-pink  dropdown-caret dropdown-close admin_dropdown_markthis">
                <li class="hover markthis">
                  <%= link_to "Board",admin_dashboard_path,:remote => true %>
                </li>
                 <li class="hover markthis">
                  <%= link_to "Ticket Management", admin_ticket_tasks_path,:remote => true %>
                </li>
                <li class="hover markthis">
                  <a >
                    Orders & Requests
                  </a>
                  <ul class="list_ui2 submenu can-scroll ace-scroll scroll-disabled">
                    <li class="hover markthis">
                      <%= link_to "Orders", admin_orders_path,:remote => true %>
                    </li>
                    <li class="active hover markthis">
                      <%= link_to "Replacement Requests", admin_replacement_revocations_path,:remote => true  %>
                    </li>   
                    <li class="active hover markthis">
                      <%= link_to "Revocation Requests", admin_order_revocations_path,:remote => true %>
                    </li>
                    <li class="active hover markthis">
                      <%= link_to "Refund Requests", admin_refund_revocations_path,:remote => true %>
                    </li>
                    <li class="active hover markthis">
                      <%= link_to "Return Pickup Requests", admin_pickup_consignments_path,:remote => true %>
                    </li>
                  </ul>
                </li>
                <li class="hover markthis">
                  <a >
                    Products
                  </a>
                  <ul class="list_ui2">
                    <li class=" markthis">
                      <%= link_to "Products", admin_products_path  %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Product's Categories", admin_categories_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Product's Brands", admin_brands_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Inventories", admin_inventories_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Vendors", admin_vendors_path,:remote => true %>
                    </li>
                  </ul>
                </li>
                <li class="hover">
                  <a >
                    Data Records 
                  </a>
                  <ul class="list_ui2">
                    <li class="markthis">
                      <%= link_to "Users", admin_users_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Shopping Carts", admin_carts_path,:remote => true %>
                    </li>
                  </ul>
                </li>
                <li class="hover">
                  <a >
                      CMS
                  </a>
                  <ul class="list_ui2">
                      <li class="markthis">
                      <%= link_to "Images", admin_images_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Web Pages", admin_pages_path,:remote => true %>
                    </li>
                  </ul>
                </li>
                <li class="hover">
                  <a >
                      Policy Configuration
                  </a>
                  <ul class="list_ui2">
                      <li class="markthis">
                      <%= link_to 'Geo-Delivery Availability', admin_availability_plans_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Geo-Delivery Cost', admin_shipping_policies_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Geo-COD Availability', admin_cod_policies_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Geo-Tax Plan', admin_tax_plans_path,:remote => true %>
                    </li>
                  </ul>
                </li>
                <li class="hover">
                  <a >
                    Settings
                  </a>
                  <ul class="list_ui2">
                    <% unless general.present? %>  
                      <li class="markthis">
                          <%= link_to "Store Setting", admin_new_store_path ,:remote => true %>
                      </li>
                    <% else %>
                      <li class="markthis">
                        <%= link_to "Store Setting", admin_generals_path,:remote => true  %>
                      </li>
                    <% end %>
                    <li class="markthis">
                      <%= link_to "User's Permission Setting", admin_permissions_path,:remote => true %>
                    </li>
                    <% unless notification_customer.present? %>  
                      <li class="markthis">
                        <%= link_to "Manage Email Notifiications", new_admin_notification_customer_path,:remote => true %>
                      </li>
                    <% else %>
                      <li class="markthis">
                        <%= link_to "Manage Email Notifiications", admin_notification_customer_path(notification_customer),:remote => true %>
                      </li>
                    <% end %>
                    <li class="markthis">
                    <% unless sms_notification.present? %>  
                          <%= link_to 'Manage SMS Notifications'.html_safe, new_admin_sms_notification_path,:remote => true %>
                        <% else %>
                          <%= link_to 'Manage SMS Notifications'.html_safe, admin_sms_notification_path(sms_notification),:remote => true %>
                        <% end %>
                        </li>
                    <li class="markthis">
                      <%= link_to "Shippings", admin_shipping_plans_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Tax", admin_tax_plans_path %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Logistics", admin_logistics_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to "Warehouse", admin_warehouses_path,:remote => true %>
                    </li>
                  </ul>
                </li>
                <li class="hover">
                  <a >
                      Super-Power
                  </a>
                  <ul class="list_ui2">
                      <li class="markthis">
                      <%= link_to 'Configure Warehouses'.html_safe, admin_warehouses_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Shipping Service-Providers'.html_safe, admin_logistics_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to ' Manage Roles and Block List'.html_safe, admin_roles_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Define Weight-Brackets'.html_safe, admin_weight_ranges_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Define Price-Brackets'.html_safe, admin_price_ranges_path,:remote => true %>
                    </li>
                    <li class="markthis">
                      <%= link_to 'Manage Countries Data'.html_safe, admin_countries_path,:remote => true %>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <% if check_warehouse_permission.present? %>
              <li class="purple">
                <a data-toggle="dropdown" class="dropdown-toggle hidden-xs" href="#" aria-expanded="false">
                  <i class="ace-icon fa fa-database"></i>
                  <span class="hidden-xs">WareHouse DashBoard</span>
                </a>
                <%= link_to "<i class='ace-icon fa fa-bell icon-animated-bell'></i>
                <span class='badge badge-important'>&nbsp;</span>".html_safe,admin_warehouse_dashboard_index_path,:class=> "hidden-md hidden-sm hidden-lg",:remote => true %>
                
                <ul class="list_ui submenu dropdown-menu dropdown-light-blue dropdown-caret dropdown-menu-right dropdown-navbar navbar-pink  dropdown-caret dropdown-close">
                  <li class="hover">
                    <%= link_to "Dashboard",admin_warehouse_dashboard_index_path,:remote => true %>
                  </li>
                    <% check_warehouse_permission.each do |warehouse|%>
                      <li class="hover">
                        <%= link_to warehouse.name, admin_warehouse_dashboard_path(warehouse) %>
                        <ul class="list_ui2 submenu can-scroll ace-scroll scroll-disabled" style="top:-2px;">
                          <li class="hover markthis">
                              <%= link_to "     Stock",  admin_warehouse_dashboard_stocks_path(warehouse) %>
                          </li>
                          <li class="hover markthis">
                              <%= link_to "Consignments", admin_warehouse_dashboard_consignments_path(warehouse),:remote => true %>
                          </li>
                          <li class=" hover markthis">
                              <%= link_to "ResendConsignments", admin_warehouse_dashboard_resend_consignments_path(warehouse),:remote => true %>
                          </li>
                          <li class=" hover markthis">
                             <%= link_to "PickupConsignments", admin_warehouse_dashboard_assigned_pickup_consignments_path(warehouse),:remote => true %>
                          </li>
                          <li class=" hover markthis">
                              <%= link_to "     Package Tasks", admin_warehouse_dashboard_package_tasks_path(warehouse),:remote => true %>
                          </li>
                          <li class=" hover markthis">
                              <%= link_to "     Pickup Task", admin_warehouse_dashboard_pickup_tasks_path(warehouse),:remote => true %>
                          </li>
                          <li class=" hover markthis">
                              <%= link_to "     Resend Task", admin_warehouse_dashboard_resend_tasks_path(warehouse),:remote => true %>
                          </li>
                          <li class=" hover markthis">
                              <%= link_to "     Ticket Task", admin_warehouse_dashboard_warehouse_ticket_tasks_path(warehouse),:remote => true %>
                          </li>
                        </ul>
                      </li>
                    <% end %>  
                </ul>
              </li>
            <% end %>
            <li class="green support_dropdown_markthis_link">
              <a data-toggle="dropdown" class="dropdown-toggle hidden-xs" href="#" aria-expanded="false">
                <i class="ace-icon fa fa-bell icon-animated-vertical"></i>
                <span>Support Dashboard</span>
              </a>
              <%= link_to "<i class='ace-icon fa fa-envelope icon-animated-vertical'></i>
                <span class='badge badge-success'>&nbsp;</span>".html_safe,support_dashboard_path,:class=> "hidden-md hidden-sm hidden-lg",:remote => true %>             
              <ul class="list_ui submenu support_dropdown_markthis dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close hidden-xs">
                <li class="markthis">
                  <%= link_to "DashBoard", support_dashboard_path,:remote => true %>
                </li>
                <li>
                  <a>
                    Ticket Management
                  </a>
                  <ul class="list_ui2 submenu can-scroll ace-scroll scroll-disabled">
                    <% if current_user.role.name == 'sa' || current_user.role.name == 'pr' || current_user.role.name == 'csm' %>
                      <li class="markthis">
                        <%= link_to "Tickets", support_tickets_path,:remote => true %>
                      </li>
                    <% else %>
                      <li class="markthis">
                          <%= link_to "Tickets Task", support_ticket_tasks_path,:remote => true %>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li class=" hover markthis">
                    <%= link_to "Orders", support_orders_path,:remote => true %>
                </li>
                <li class=" hover markthis">
                      <%= link_to "Users", support_users_path,:remote => true %>
                </li>
              </ul>
            </li>
            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <span class="nav-user-photo ace-icon fa fa-user"></span>
                <span class="user-info hidden-xs">
                  <small>Welcome,</small>
                  <% if current_user.profile.present? %>
                    <%= current_user.profile.f_name.present? ? current_user.profile.f_name : current_user.email %>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                </span>

                <i class="ace-icon fa fa-caret-down"></i>
              </a>

              <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                  <% if current_user.profile.present? %>
                    <%= link_to '<i class="ace-icon fa fa-user"></i>Profile'.html_safe, user_account_path(current_user), :target => "_blank", :class => "" %> 
                  <% else %>
                    <%= link_to '<i class="ace-icon fa fa-user"></i> Profile'.html_safe, new_user_profile_path(current_user), :target => "_blank", :class => "" %> 
                  <% end %>
                </li>
                <li class="divider"></li>

                <li>
                  <%= link_to '<i class="ace-icon fa fa-power-off"></i> Logout'.html_safe, destroy_user_session_path, method: :delete  %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        
      </div><!-- /.navbar-container -->
    </div>

    <script>
$(".navbar-toggle-click").click(function(){
  $(".for_responsive_sidebar").toggleClass("display");
});  
</script>
<style>
.dropdown-navbar.navbar-pink>li> ul>li>a{
  border-top-color: #f3e4ec;
}
.dropdown-navbar>li ul>li:first-child>a, .dropdown-navbar>li ul>li.dropdown-header+li ul>li>a {
border-top-width: 0;
}
.dropdown-navbar>li>ul>li>a {
padding: 10px 2px;
margin: 0;
border-top: 1px solid;
font-size: 12px;
line-height: 16px;
color: #555!important;
background-color: transparent!important;
white-space: normal;
}
.list_ui2 > li{
  border-bottom:1px solid #f3e4ec !important;
}
.user-info{
  max-width:130px !important;
}
</style>
<script>

$( window ).scroll(function() {
  //alert($(".main-content-inner").scrollTop())
  if($("body").scrollTop() > 0){
    if(!$(".btn-scroll-up").hasClass("display")){
      $(".btn-scroll-up").addClass("display");
    }
  }
  else{
    $(".btn-scroll-up").removeClass("display");
  }
});

</script>
