
<!-- /.sidebar-shortcuts start -->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
      <i class="ace-icon fa fa-signal"></i> 
    </button>

    <button class="btn btn-info">
      <i class="ace-icon fa fa-pencil"></i>
    </button>

    <button class="btn btn-warning">
      <i class="ace-icon fa fa-users"></i>
    </button>

    <button class="btn btn-danger">
      <i class="ace-icon fa fa-cogs"></i>
    </button>
  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div>
<!-- /.sidebar-shortcuts end -->
<!--  Support dashboard sidebar start-->
<ul class="nav nav-list nav-list10" style="top: 0px;">
  <li class="first_class <%= controller_name == 'supports'  ? 'active' : nil %>">
    <%= link_to '<i class="menu-icon fa fa-tachometer"></i><span class="menu-text"> Dashboard</span>'.html_safe,support_dashboard_path,:remote => true %>
    <b class="arrow"></b>
  </li>
  <li class="<%= controller_name == 'task_tickets' || controller_name == "tickets"  ? 'open' : nil %>">
    <a style="cursor:pointer;" class="dropdown-toggle">
      <i class="menu-icon fa fa-tag"></i>
      <span class="menu-text">
        Ticket Management
      </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu nav-hide" style="display: <%= controller_name == 'ticket_tasks' || controller_name == "tickets" ? 'block' : 'none' %>;">
      
      <li class="<%= controller_name == 'tickets' ? 'active' : nil %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Tickets'.html_safe, support_tickets_path, :class => "admin_sidebar_link #{controller_name == 'orders' ? 'admin_active' : nil}",:remote => true %>
      </li>

      <li class="<%= controller_name == 'ticket_tasks' ? 'active' : nil  %>">
        <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Ticket Tasks'.html_safe, support_ticket_tasks_path,class: "admin_sidebar_link",:remote => true %>
      </li>
    
    </ul>
  </li>
  <li class="first_class <%= controller_name == 'orders' ? 'active' : nil %>">
    <%= link_to '<i class="menu-icon fa fa-pencil-square-o"></i> Orders'.html_safe, support_orders_path, :class => "admin_sidebar_link ",:remote => true %>
  </li>
  <li class="first_class <%= controller_name == 'users' ? 'active' : nil %>">
    <%= link_to '<i class="menu-icon fa fa-user"></i> Users'.html_safe, support_users_path, :class => "admin_sidebar_link",:remote => true %>
  </li>
</ul>
<!--  Support dashboard togglebar end-->

<!--  Support dashboard togglebar start-->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse2">
  <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<!--  Support dashboard togglebar end--> 

<script>
$(".nav-list10 > li > a.dropdown-toggle").click(function(){
  $(this).closest("li").toggleClass("open");
  $(this).nextAll('ul').eq(0).toggle();
});
$(".nav-list10 > li ").click(function(){
  $(this).siblings().removeClass('active open');
  $(this).siblings().children('ul').css('display','none');
});
$(".nav-list10 > li.first_class ").click(function(){
  $(this).siblings().removeClass('active');
  $(this).addClass('active');
  });
$(".nav-list10 > li > ul > li").click(function(){
  $(this).siblings().removeClass('active');
  $(this).addClass('active');
  });
$("#sidebar-collapse2").click(function(){
  $(".for_responsive_sidebar").toggleClass("menu-min");
})
$("#sidebar-collapse2").click(function(){
  if($(".to_assign_left").hasClass('col-sm-2')){
    $(".to_assign_left").removeClass('col-sm-2');
    $(".to_assign_left").addClass('col-sm-1');
    $(".to_assign_left").css('left','-15px');
  }
  else if($(".to_assign_left").hasClass('col-sm-1')){
    $(".to_assign_left").removeClass('col-sm-1');
    $(".to_assign_left").addClass('col-sm-2');
    $(".to_assign_left").css('left','0px');
  }
  if($(".container_content").hasClass('col-sm-10')){
    $(".container_content").removeClass('col-sm-10');
    $(".container_content").addClass('col-sm-11')
  }
  else if($(".container_content").hasClass('col-sm-11')){
    $(".container_content").removeClass('col-sm-11');
    $(".container_content").addClass('col-sm-10')
  }
});
</script>
