
<!-- /.sidebar-shortcuts start -->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
      <i class="ace-icon fa fa-signal"></i> 
    </button>

    <button class="btn btn-info">
      <i class="ace-icon fa fa-pencil"></i>
    </button>
 
    <button class="btn btn-warning">
      <i class="ace-icon fa fa-users"></i>
    </button>

    <button class="btn btn-danger">
      <i class="ace-icon fa fa-cogs"></i>
    </button>
  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div>
<!-- /.sidebar-shortcuts end -->
<!--  Warehouse dashboard sidebar start-->
<ul class="nav nav-list nav-list10" style="top: 0px;">
  <% if check_warehouse_permission.present? %>
    <li class="first_class <%= controller_name == 'warehouse_dashboard'  ? 'active' : nil %>">
      <%= link_to '<i class="menu-icon fa fa-tachometer"></i><span class="menu-text"> Dashboard</span>'.html_safe,admin_warehouse_dashboard_index_path,:remote => true %>
      <b class="arrow"></b>
    </li>
  <% end %>
  <% check_warehouse_permission.each do |warehouse|%>
    <li class=" <%= request.original_fullpath == admin_warehouse_dashboard_stocks_path(warehouse) ||  request.original_fullpath == admin_warehouse_dashboard_consignments_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_package_tasks_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_assigned_pickup_consignments_path(warehouse)  || request.original_fullpath == admin_warehouse_dashboard_pickup_tasks_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_consignments_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_resend_tasks_path(warehouse) ? 'open' : nil %>">
      <a style="cursor:pointer;" class="dropdown-toggle">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text">
          <%= warehouse.name %>
        </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu nav-hide" style="display: <%= request.original_fullpath == admin_warehouse_dashboard_stocks_path(warehouse) ||  request.original_fullpath == admin_warehouse_dashboard_consignments_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_package_tasks_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_assigned_pickup_consignments_path(warehouse)  || request.original_fullpath == admin_warehouse_dashboard_pickup_tasks_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_consignments_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_resend_tasks_path(warehouse) || request.original_fullpath ==  admin_warehouse_dashboard_warehouse_ticket_tasks_path(warehouse) || request.original_fullpath == admin_warehouse_dashboard_resend_consignments_path(warehouse) ? 'block' : 'none' %>;">
        
        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_stocks_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Stocks'.html_safe, admin_warehouse_dashboard_stocks_path(warehouse), :class => "admin_sidebar_link #{controller_name == 'orders' ? 'admin_active' : nil}",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_consignments_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Consignments'.html_safe, admin_warehouse_dashboard_consignments_path(warehouse),class: "admin_sidebar_link",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_resend_consignments_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Resend Consignments'.html_safe, admin_warehouse_dashboard_resend_consignments_path(warehouse), :class => "admin_sidebar_link",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_assigned_pickup_consignments_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Pickup Consignments'.html_safe, admin_warehouse_dashboard_assigned_pickup_consignments_path(warehouse), :class => "admin_sidebar_link ",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_package_tasks_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Package Tasks'.html_safe, admin_warehouse_dashboard_package_tasks_path(warehouse), :class => "admin_sidebar_link ",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_pickup_tasks_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Pickup Tasks'.html_safe, admin_warehouse_dashboard_pickup_tasks_path(warehouse), :class => "admin_sidebar_link ",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_resend_tasks_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Resend Tasks'.html_safe, admin_warehouse_dashboard_resend_tasks_path(warehouse), :class => "admin_sidebar_link ",:remote => true %>
        </li>

        <li class="<%= request.original_fullpath == admin_warehouse_dashboard_warehouse_ticket_tasks_path(warehouse) ? 'active' : nil %>">
          <%= link_to '<i class="menu-icon fa fa-caret-right"></i> Tickets Tasks'.html_safe, admin_warehouse_dashboard_warehouse_ticket_tasks_path(warehouse), :class => "admin_sidebar_link ",:remote => true %>
        </li>
      
      </ul>
    </li>
  <% end %>
</ul>
<!--  Warehouse dashboard sidebar end-->

<!--  Warehouse dashboard togglebar start-->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse1">
  <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<!--  Warehouse dashboard togglebar end-->

<script>
$(".nav-list10 > li > a.dropdown-toggle").click(function(){
  $(this).closest("li").toggleClass("open");
  $(this).nextAll('ul').eq(0).toggle();
});
$(".nav-list10 > li ").click(function(){
  $(this).siblings().removeClass('active open');
  $(this).siblings().children('ul').css('display','none')
});
$(".nav-list10 > li > ul > li").click(function(){
  $(this).siblings().removeClass('active');
  $(this).addClass('active');
  });
$("#sidebar-collapse1").click(function(){
  $(".for_responsive_sidebar").toggleClass("menu-min");
});
$("#sidebar-collapse1").click(function(){
  if($(".to_assign_left").hasClass('col-sm-2')){
    $(".to_assign_left").removeClass('col-sm-2');
    $(".to_assign_left").addClass('col-sm-1');
    $(".to_assign_left").css('left','-15px');
  }
  else if($(".to_assign_left").hasClass('col-sm-1')){
    $(".to_assign_left").removeClass('col-sm-1');
    $(".to_assign_left").addClass('col-sm-2');
    $(".to_assign_left").css('left','0px');
  }
  if($(".container_content").hasClass('col-sm-10')){
    $(".container_content").removeClass('col-sm-10');
    $(".container_content").addClass('col-sm-11')
  }
  else if($(".container_content").hasClass('col-sm-11')){
    $(".container_content").removeClass('col-sm-11');
    $(".container_content").addClass('col-sm-10')
  }
});
</script>
