
<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title heading-label-color" id="myModalLabel">Create New Media Type</h4>
</div>
<!-- modal header end -->
  
<!-- form start -->
<%= form_for(@admin_image_type,:html => {:class => "validate_this_form" },:remote => true) do |f| %>
  <div class="modal-body category_modal_body">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <% if @admin_image_type.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_image_type.errors.count, "error") %> prohibited this admin_image_type from being saved:</h2>

            <ul>
            <% @admin_image_type.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_name">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Name*</label><br />
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :name,:class => "blue_textbox width-100 validate_this",:data => {validate_ajax_url: admin_check_image_type_exist_path} %>
                </span>
                <div class="help-block" id="admin_image_type_name_error1"> </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_image_type">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Media Type*</label><br />
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :image_type,:class => "blue_textbox width-100 validate_this",:data => {validate_ajax_url: admin_check_image_name_exist_path} %>
                </span>
                <div class="help-block" id="admin_image_type_image_type_error1"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_width">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Width*</label>
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :width,:class => "blue_textbox width-100 validate_this", :placeholder => "In pixel" %>
                </span>
                <div class="help-block" id="admin_image_type_width_error1"> </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_height">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Height*</label>
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :height,:class => "blue_textbox width-100 validate_this", :placeholder => "In pixel" %>
                </span>
                <div class="help-block" id="admin_image_type_height_error1"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_is_category">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Is it belongs to  Category</label>
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <label>
                    <%= f.check_box :is_category,:class=>"ace" %>
                    <span class="lbl label-color"> </span>
                  </label>
                </span>
                <div class="help-block" id="admin_image_type_is_category_error1"> </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group form_group_admin_image_type_is_video">
              <label for="inputError" class="col-xs-12 col-sm-12 col-md-12 control-label no-padding-right label-color">Is video</label>
              <div class="col-xs-12 col-sm-12">
                <span class="block input-icon input-icon-right">
                  <label>
                    <%= f.check_box :is_video,:class=>"ace" %>
                    <span class="lbl label-color"> </span>
                  </label>
                </span>
                <div class="help-block" id="admin_image_type_is_video_error1"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="modal-footer" style="margin-bottom:-11px;">
    <%= f.submit "Save", :class => "btn btn-success btn-sm" %>
  </div>
<% end %>
<!-- form end -->

<script>
$(document).ready(function(){
  $('#admin_image_type_image_type').bind('keypress', function (event) {
    var regex = new RegExp("^[a-zA-Z0-9_ -]+$");
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key)) {
       event.preventDefault();
       return false;
    }
  });
});
</script>

