<!-- brand index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-image"></i>&nbsp;&nbsp;Image Types</li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <% if current_user.role.name == "pr" %>
      <span class="markthis btn btn-xs btn-success create_button">
        <span class="glyphicon-plus bigger-110"></span>
        <%= link_to 'Create Image Type', new_admin_image_type_path  , :class => "",:style => "color:#fff;",:remote => true %>
      </span>
    <% end %>
  </div>
  <!-- button panel end --> 
</div> <br/>
<div class="page-content">
  <!-- flash start --> 
    <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->
  <div class="row" > 
    <div class="searchable_content1">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% if @admin_image_types.present? %>
          <%= form_for('Brand', :as => 'brands', :url => delete_selected_brand_admin_brands_path,:remote => true) do |f| %>
            <div class="table-header bigger lighter cursive-font">
              List of Image Types
            </div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer" style="padding-top:2px;">
              <div class="table-responsive">
              <!--brand table started -->
              <table id="brands_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Width</th>
                    <th>Height</th> 
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @admin_image_types.each do |admin_image_type| %>
                  <tr>
                    <td>
                      <%= admin_image_type.name %>
                    </td>
                    <td>
                      <%= admin_image_type.image_type %>
                    </td>
                    <td>
                      <%= admin_image_type.width %>
                    </td>
                    <td>
                      <%= admin_image_type.height %>
                    </td>
                    <td>
                      <% if current_user.role.name == "pr" %>
                        <div class=" action-buttons">
                         <%= link_to '', admin_image_type,:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                          <%= link_to '', edit_admin_image_type_path(admin_image_type),:class => "glyphicon glyphicon-pencil edit_button_color",:remote => true %>
                          <% unless admin_image_type.general_images.first.present? %>
                            <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_image_type, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color",:remote => true  %>
                          <% end %>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- brand table end -->
              </div>
            </div>
          <% end %>  
        <% else %>
          <div class="row">
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
            <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
            <h3> No Image Type </h3>
            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
            <% if current_user.role.name == "pr" %>
              <span class="markthis btn btn-xs btn-success create_button">
                <span class="glyphicon-plus bigger-110"></span>
                <%= link_to 'Create Image Type', new_admin_image_type_path  , :class => "",:style => "color:#fff;",:remote => true %>
              </span>
            <% end %>
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id">
      <!-- modal header start -->
        
      <!-- modal header end -->
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<!-- Modal Window Start-->
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal9_id">
     
    </div>
  </div>
</div>
<!-- Modal Window End-->


<style>
.btn-success1, .btn-success1:hover{
background-color:#307ECC!important;
border-color: #307ECC!important;
}
</style>

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [4],
      "bSortable": false
    }
  ];
  var dataTable = $('#brands_table').dataTable({
    "iDisplayLength": 25,
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>
<!-- brand index end -->


  