<!-- brand index start -->
<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-image"></i>&nbsp;&nbsp;<%= link_to "Image Types" , admin_image_types_path,:remote => true,:class => "for_page_load" %></li>
    <li class="active"><%= @admin_image_type.name %></li>
  </ul>
  <!-- breadcrumb end -->
  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <% if current_user.role.name == "pr" %>
      <span class="markthis btn btn-xs btn-success create_button">
        <span class="glyphicon-plus bigger-110"></span>
        <%= link_to 'Create General Image', new_admin_image_type_general_image_path(@admin_image_type)  , :class => "for_page_load",:style => "color:#fff;", :remote => true %>
      </span>
    <% end %>
  </div>
  <!-- button panel end --> 
</div> <br/>
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 
  <div class="profile-contact-info">
    <div class="profile-contact-links align-left">
      <div class="btn btn-link">
        <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
        <%= @admin_image_type.name %>
      </div>

      <div class="btn btn-link">
        <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
        <%= @admin_image_type.width %> x <%= @admin_image_type.height %>
      </div>
      <% if @admin_image_type.is_category == true %>
      <div class="btn btn-link">
        <i class="ace-icon fa fa-globe bigger-125 blue"></i>
       <%= @admin_image_type.is_category %>
      </div>
      <% end %>
    </div>
    <div class="space-6"></div>
  </div>

  <div class="space-6"></div>
  <!-- admin_image_type start --> 
	<% if @admin_image_type.general_images.present? %>
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active">
          <a data-toggle="tab" href="#home">
            <i class="green ace-icon fa fa-home bigger-120"></i>
            <% if @admin_image_type.is_category == true %>
              Category 
            <% else %>
              General
            <% end %>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <% if @admin_image_type.is_category == true %>
            <p><% @varaint_flag = 1 %>
            <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2 sort_variant">
            <% if @cat_id.present? %>
            <% @cat_id.each do |cat| %>
              <li class="admin_category panel panel-default">
                <div class="panel-heading">
                  <a href="#faq-1-<%= @varaint_flag %>" data-parent="#faq-list-1" data-toggle="collapse" class="for_collapse_arrow accordion-toggle collapsed " aria-expanded="false">
                    <i class="pull-right ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
                    <i class="ace-icon fa fa-arrows" style="margin-right:10px;"></i><%= cat %>
                  </a>
                </div>
                  <div class="panel-collapse collapse" id="faq-1-<%= @varaint_flag %>" aria-expanded="false" style="height: 0px;border: 1px solid #EDF3F7;">
                    <div id="parent-images-cats" class = "sort_images row" data-update-url="<%= sort_admin_image_type_general_images_path(@admin_image_type) %>" style="padding: 20px;" >
                      <% @admin_image_type.general_images.each do |image| %>
                        <% if image.category.name == cat %>
                        <%= content_tag_for(:div, image, :class => "col-sm-2 col-xs-3 img-thumbnail", :style => "margin: 10px;") do %>
                          <i class="ace-icon fa fa-arrows handle" style=""></i>
                          <%= link_to "<span class='glyphicon glyphicon-pencil edit_button_color'></span>".html_safe, edit_admin_image_type_general_image_path(@admin_image_type,image), :remote => true, :class=>"pull-right" %>
                          <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_image_type_general_image_path(@admin_image_type,image), method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color" %>
                          <%= image_tag image.avatar.url(:thumb),:class=>"" %>
                        <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
              </li>  
              <% @varaint_flag += 1 %>
            <% end %>
            <% end %>
            </div>
            <span class="for_variant_flag_val" style="display:none"><%= @varaint_flag %></span>
            </p>
          <% else %>
            <div class="row">
              <div class="col-xs-10 col-sm-10">
                <div id="parent-images-cats" class = "sort_images row" data-update-url="<%= sort_admin_image_type_general_images_path(@admin_image_type) %>" style="padding: 20px;">
                  <% @admin_image_type.general_images.each do |image| %>
                    <%= content_tag_for(:div, image, :class => "col-sm-2 col-xs-3 img-thumbnail", :style => "margin: 10px;") do %>
                      <i class="ace-icon fa fa-arrows handle" style=""></i>
                      <%= link_to "<span class='glyphicon glyphicon-pencil edit_button_color'></span>".html_safe, edit_admin_image_type_general_image_path(@admin_image_type,image), :remote => true, :class=>"pull-right" %>
                      <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_image_type_general_image_path(@admin_image_type,image), method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color" %>
                      <%= image_tag image.avatar.url(:thumb),:class=>"" %>

                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
      </div>
      <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
      <h3> No Images </h3>
      Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
      <span class="markthis btn btn-xs btn-success create_button">
        <span class="glyphicon-plus bigger-110"></span>
        <%= link_to 'Create General Image', new_admin_image_type_general_image_path(@admin_image_type)  , :class => "",:style => "color:#fff;",:remote => true %>
      </span>
      </div>
      <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
      </div>
    </div>
  <% end %>
  <!-- admin_image_type end --> 
</div>
<style>
.btn-link,.btn-link:hover{
  text-decoration: none;
  color:#555;
}
#parent-images-cats .handle{
  font-size: 12px;
  color: #777;
  cursor: move;
  width: 20px;
  cursor: move;
}
#parent-images-cats li{
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin:5px;
}
</style>
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id">
      <!-- modal header start -->
        
      <!-- modal header end -->
      
    </div>
  </div>
</div>
<!-- Modal Window End-->
<script>
jQuery(function() {
  return $('#parent-images-cats').sortable({
    handle: '.handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});
</script>