<%= form_for(@admin_shipping_city,:url => admin_shipping_plan_shipping_country_shipping_state_shipping_cities_path(@admin_shipping_plan,@admin_shipping_country,@admin_shipping_state),:remote => true) do |f| %>
  <% if @admin_shipping_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_city.errors.count, "error") %> prohibited this admin_shipping_city from being saved:</h2>
      <ul>
      <% @admin_shipping_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title label-color" id="myModalLabel">Add City For <%= @admin_shipping_state.state.name %></h4>
  </div><br/><br/>
  <div class="modal-body" > 
    <% if @filter_results.present? %>
      <div class="row">  
        <div class="col-sm-2 col-xs-12">
          <%= f.label :shipping_state_id, "State",:class => "label-color" %>
        </div>
        <div class="col-sm-6 col-xs-12">
          <%= f.collection_select :district_city_id, @filter_results , :id, :name,{:prompt => "Select City"}, :class =>"form-control blue_textbox"  %>
        </div>
        <span id="flag_val" style="display:none;"></span>     
      </div>
    <% else %>
      <div class="row text-center label-color"> 
        <strong>No Other Cities To Add</strong>
      </div>
    <% end %>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Add City", :class => "btn btn-primary"%>
  <% end %>


