<%= form_for(@admin_shipping_city,:url => admin_shipping_plan_shipping_country_shipping_state_shipping_city_path(@admin_shipping_plan,@admin_shipping_country,@admin_shipping_state,@admin_shipping_city),:remote => true,:html => {:id => 'shipping_cost_form' }) do |f| %>
  <% if @admin_shipping_cost.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_cost.errors.count, "error") %> prohibited this admin_shipping_cost from being saved:</h2>
      <ul>
      <% @admin_shipping_cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title label-color" id="myModalLabel">Add Cost For <%= @admin_shipping_city.district_city.name %></h4>
  </div>
  <div class="modal-body" >
    <div class="row label-color">
      <div class="col-sm-1 col-xs-12">
      </div>
      <div class="col-sm-4 col-xs-12">
        AREA Pincode
      </div>
      <div class="col-sm-4 col-xs-12">
        COST
      </div>
      <div class="col-sm-3 col-xs-12">
        COD
      </div>
    </div> <br/>
    <% z = 0 %>
    <% if @filter_admin_cost.present? %>    
      <%= f.fields_for :shipping_costs do |builder| %>
        <fieldset>
          <div class="row">
            <div class="col-sm-1 col-xs-12">
              <div class="checkbox">
                <label>
                  <%= builder.check_box :status, {:class => "ace status",:checked => true}, 1, 0 %>
                  <span class="lbl label-color"> </span>
                </label>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 label-color">
              <% if builder.object.pincode.present? %><br/>
                <%= builder.object.pincode.pincode %>
              <% end %>
            </div>
            <div class="col-sm-4 col-xs-12">
              <% if builder.object.status == true %>
                <%= builder.number_field :cost, :min => 0,:class => "blue_textbox" %>
                <%= builder.label :cost,'shipping disabled',:style => "display:none",:class => "label-color" %>
              <% else %> 
                <%= builder.number_field :cost,:style => "display:none" %>
                <%= builder.label :cost,'shipping disabled'%>
              <% end %>
            </div>
            <div class="col-sm-3 col-xs-12">
              <% builder.object.status %>
              <% if builder.object.status == true %>
                <div class="checkbox">
                  <label>
                    <%= builder.check_box :cod, {:class => "ace",:style => "display:none"}, 1, 0 %>
                    <span class="lbl label-color"> </span>
                  </label>
                </div>  
              <% else %> 
                <div class="checkbox">
                  <label>
                    <%= builder.check_box :cod, {:class => "ace status",:checked => true,:style => "display:none"}, 1, 0 %>
                    <span class="lbl label-color"> </span>
                  </label>
                </div>  
              <% end %>
            </div>
          </div><br/>
          <% z+= 1 %>
        </fieldset> 
      <% end %>
    <% else %>     
      <% @filter_costs.each do |pincode| %>        
        <%= f.fields_for :shipping_costs do |builder| %>
          <fieldset>
            <div class="row">
              <div class="col-sm-1 col-xs-12"> 
                <div class="checkbox">
                  <label>
                    <%= builder.check_box :status, {:class => "ace status",:checked => true}, 1, 0 %>
                    <span class="lbl label-color"> </span>
                  </label>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 label-color">
                <%= pincode.pincode %>
                <%= builder.hidden_field :pincode_id,:value => pincode.id %>
              </div>
              <div class="col-sm-4 col-xs-12">                
                <%= builder.label :cost,'shipping disabled',:style => "display:none"%>
                <%= builder.number_field :cost,:value => 0,:class => "blue_textbox" %>
              </div>
              <div class="col-sm-3 col-xs-12 buy">
                <div class="checkbox">
                  <label>
                    <%= builder.check_box :cod, {:class => "ace status",:checked => true}, 1, 0 %>
                    <span class="lbl label-color"> </span>
                  </label>
                </div>
              </div>
            </div><br/>
          </fieldset> 
        <% end %>
      <% end %>
    <% end %>
    <span id="flag_val" style="display:none;"><%= z %></span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= f.submit "Add Cost", :class => "btn btn-primary"%>
<% end %>
</div>