<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
      <li class="markthis"><%= link_to @order.order_number, support_order_path( @order),:remote => true %></li>
      <li class="active">Order Revocation</li>  
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
 
<div class="col-xs-12 col-sm-12">
  <div class="searchable_content2">
      <% if Admin::OrderRevocation.all.present? %>
         <div class=" table-responsive">
          <table id="orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Order Number</th>
                  <th>Revocation Cost</th>
                  <th>Revocation Mode</th>
                  <th>User Id</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody>
                <% @order.order_revocations.each do |order_revocation| %>
                <tr>
                  <td>
                    <%= order_revocation.order_id %>
                  </td>
                  <td>
                    <%= order_revocation.revocation_cost %>
                  </td>
                  <td>
                    <%= order_revocation.revocation_mode %>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <%= order_revocation.created_at.strftime("%I:%M %p %d %b %Y") %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>  
            </div>
      <% else %>
      <% end %>
  </div>
</div>

  



