




<div id="signin_flash"></div>
<div class="space-6"></div>
<div class="widget-body">
  <div class="widget-main">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:remote => true ,:html => {:id => 'signsin3' }) do |f| %>
  
    <fieldset>
      <label class="block ">
        <span class="block input-icon input-icon-right">
          <%= f.email_field :email, :autofocus => true, :class => "form-control ", :placeholder => "Email Id",:id => "email3"  %>
          <span id="email_error3" class="error_list" style="display:none;"></span>
          
          <i class="ace-icon fa fa-user"></i>
        </span>
      </label>

      <label class="block ">
        <span class="block input-icon input-icon-right">
          <%= f.password_field :password, :class => "form-control ",:placeholder =>"Password",:id => "password3" %>
            <span id="password_error3" class="error_list" style="display:none;"></span>
          <i class="ace-icon fa fa-lock"></i>
        </span>
      </label>

      <div class="space"></div>

      <div class="">
        
        
        <label class="inline">
          <%= f.check_box :remember_me, :class => "ace", :as => :boolean if devise_mapping.rememberable? %>
          <span class="lbl"> Remember Me</span>
        </label>

        <button type="sumbit" class="width-40 pull-right btn btn-primary btn-sm" name="signedup">
          <i class="ace-icon fa fa-key"></i>
          <span class="bigger-110 hidden-xs">Sign in</span>
        </button>
        
      </div>

      <div class="space-4"></div>
    </fieldset>
    <div class="toolbar ">
      <div>
        <a id="forget-pwd" style = "color:#6e953c!important">Forgot your password?</a>
      </div>
    </div>
<% end %>
</div>
</div>