<section class="main-container col1-layout ">
  <div class="main container"> 
    <%= render(:partial => "layouts/shared/flash") %>                             
    <div class="account-login">
      <div class="page-title">
        <h2>Login or Create an Account</h2>
      </div> <!--page-title-->
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:id => 'login-form' }) do |f| %>
        <fieldset class="col2-set">
          <div class="col-1 new-users" style="min-height:357px;"> 
            <strong>New Customers</strong>    
            <div class="content">
              <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
              <div class="buttons-set">
                <button type="button" title="Create an Account" class="button create-account" style="margin-left:31.5%;" onclick="window.location='<%= new_registration_path(resource_name) %>';"><span><span>Create an Account</span></span></button><br />
                <div class="social-or-login center" style="margin-top:20px;text-align: center;">
                  <span class="bigger-110">Or Login Using</span>
                </div>

                <div class="space-6"></div>
                <br />
                <div class="social-login center" style="text-align: center;">
                  
                  <%= link_to '',"//ranees.in/users/auth/facebook", :class => "btn btn-primary ace-icon fa fa-facebook", :style => "font-size:200%;padding:8px 16px;" %>
                  <%= link_to '',"//ranees.in/users/auth/google_oauth2", :class => "btn btn-primary ace-icon fa fa-google-plus", :style => "font-size:200%;padding:8px 12px;" %>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users">
            <strong>Registered Customers</strong>             
            <div class="content">
              <p>If you have an account with us, please log in.</p>
                <ul class="form-list">
                  <li>
                    <label for="email">Email Address<em class="required">*</em></label>
                    <div class="input-box">
                      <%= f.email_field :email, :autofocus => true, :class => "input-text required-entry validate-email", :placeholder =>"Email Id",:id=>"email" %>
                      <div class="validation-advice" id="advice-required-entry-email"></div>
                    </div>
                  </li>
                  <li>
                    <label for="pass">Password<em class="required">*</em></label>
                    <div class="input-box">
                      <%= f.password_field :password, :class => "input-text required-entry validate-password" ,:placeholder =>"Password",:id=>"pass" %>
                      <div class="validation-advice" id="advice-required-entry-pass"></div>
                    </div>
                  </li>
                </ul>
                <div class="remember-me-popup">
                  <div class="remember-me-popup-head" style="display:none">
                    <h3 id="text2">What's this?</h3>
                    <a href="#" class="remember-me-popup-close" onclick="showDiv()" title="Close">Close</a>
                  </div>
                  <div class="remember-me-popup-body" style="display:none">
                    <p id="text1">Checking "Remember Me" will let you access your shopping cart on this computer when you are logged out</p>
                    <div class="remember-me-popup-close-button a-right">
                      <a href="#" class="remember-me-popup-close button" title="Close" onclick="
                    showDiv()"><span>Close</span></a>
                    </div>
                  </div>
                </div>
                <p class="required">* Required Fields</p>
                <div class="buttons-set">
                  <button type="submit" class="button login" title="Login" name="send" id="send2"><span>Login</span></button>
                  <a href="<%= new_password_path(resource_name) %>" class="forgot-word">Forgot Your Password?</a>
                </div> <!--buttons-set-->
              </div> <!--content-->                               
            </div> <!--col-2 registered-users-->
          </fieldset> <!--col2-set-->
        <% end %>
      </div> <!--account-login--><br><br><br>         
    </div><!--main-container-->
</section>

  
<script type="text/javascript">
  $("#login-form").submit(function() {  
    var emails=$("#email").val();
    var password=$("#pass").val();
    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    var alphaNumeric = /((?=.*\d)(?=.*[a-zA-Z]).{8,20})/;
    var size=password.length;
    var a=1;
    var b=1;
    var c=1;
    $("#advice-required-entry-pass").css("display","block");
    $("#advice-required-entry-email").css("display","block");
    $("#advice-required-entry-email").html("");
    $("#advice-required-entry-pass").html("");
    if(emails==''){
    $("#advice-required-entry-email").css("display","block");
    $("#advice-required-entry-email").html("enter your email id");
    a=0;
    }
    else if (!(testEmail.test(emails))){
    $("#advice-required-entry-email").css("display","block");
    $("#advice-required-entry-email").html("enter a valid email id"); 
    a=0;
    }
    if(password==""){
    $("#advice-required-entry-pass").css("display","block");
    $("#advice-required-entry-pass").html("enter your password");
    b=0;
    }
    else if (!alphaNumeric.test(password)) {
    $("#advice-required-entry-pass").css("display","block");
    $("#advice-required-entry-pass").html("password should be greater than 8 characters and combination of alphanumeric");
    b=0;
    }
    if(a==1 && b==1){
    return true;
    }
    else{
    return false;
    }
  });
</script>           


