<fieldset class="form-inline ">
  <%= f.select :con_name, options_for_select(Array[*ApplicationController.descendants.collect {|v,i| [v,v] }]),{ :prompt => 'Select' }, :class => "form-control width blue_textbox controller_name count1" %> &nbsp; &nbsp; &nbsp;
  <%= f.select :met_name, options_for_select(''),{:prompt => "Select"}, :class => "blue_textbox form-control width action_name count_met1",:style => "width: 30%;" %> &nbsp; &nbsp; &nbsp;
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130 middle"></i>'.html_safe, '#', class: "remove_fields text-danger" %>
  <span id="control_error1" class="error_list" style="display:none;"></span><br/>
</fieldset>
<br/>

