<%= form_for(@role, :html => {:id => 'newrole'},:remote => true) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:
      </h2>
      <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %><br/>
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <%= f.label :name, "Name",:class => "label-color" %><br>
    </div>
    <div class="col-sm-5 col-xs-12">
      <%= f.text_field :name, :class => "form-control blue_textbox", :id => "name" %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <span id="name_error" class="error_list" style="display:none;"></span>
    </div>
  </div><br />
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <%= f.label :description,"Description",:class => "label-color" %><br>
    </div>
    <div class="col-sm-5 col-xs-12">
      <%= f.text_area :description,:class => "form-control blue_textbox", :id => "description"  %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <span id="description_error" class="error_list" style="display:none;"></span>
    </div>
  </div><br />
  <div class="hr hr-18 dotted"></div>

  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <%= f.label :description,"Block List",:class => "label-color" %>
    </div>
    <div class="col-sm-7 col-xs-12">
  <%= f.fields_for :block_lists do |builder| %>
    <% render 'block_list_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Block lists", f, :block_lists %>
  </div>
</div>
  <div class="hr hr-18 dotted"></div>
  <span id="urlsd" style="display:none;">new</span>
  <span id="flagvalue" style="display:none;">1</span>
  <div class="actions">
   
    <%= f.submit "Create", :class => "btn btn-success btn-sm" %>
  </div>
<% end %>
