<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-binoculars"></i>&nbsp;&nbsp;<%= link_to "Roles", admin_roles_path,:remote => true,:class =>"for_page_load" %></li>
    <li class="markthis"><%= link_to @role.name.capitalize, admin_role_path(@role),:remote => true,:class => "for_page_load" %></li>
    <li class="active">Edit Roles</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to 'Create Role', new_admin_role_path , :class => "btn btn-success btn-sm for_page_load",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

    <!-- flash start --> 
    <div class="flash_message_panel">
      <%= render partial: "layouts/shared/flash_msg" %> 
    </div>
    <!-- flash end -->

  <div class="row">  
      <div class="col-sm-12 col-xs-12">
          <div class="searchable_content1">
             <div class="widget-container-col ui-sortable">
            <div class="widget-box widget-color-blue ui-sortable-handle">
              <div class="widget-header">
                <h5 class="widget-title lighter bigger  cursive-font">Edit Roles</h5>
                <div class="widget-toolbar">
                </div>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                   <%= form_for(@role, :url => admin_role_path(@role), :html => {:id => 'newrole'},:remote => true) do |f| %>
              <% if @role.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:
                  </h2>
                  <ul>
                    <% @role.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <br/>
              
              <div class="row">
                <div class="col-sm-2 col-xs-12">
                  <%= f.label :name, "Name",:class => "label-color" %><br>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <%= f.text_field :name, :class => "form-control blue_textbox", :id => "name" %>
                </div>
                <div class="col-sm-3 col-xs-12">
                  <span id="name_error" class="error_list" style="display:none;"></span>
                </div>
              </div><br />
              <div class="row">
                <div class="col-sm-2 col-xs-12">
                  <%= f.label :description,"Description",:class => "label-color" %><br>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <%= f.text_area :description,:class => "form-control blue_textbox", :id => "description"  %>
                </div>
                <div class="col-sm-3 col-xs-12">
                  <span id="description_error" class="error_list" style="display:none;"></span>
                </div>
              </div><br />
              <div class="hr hr-18 dotted"></div>
              <% h = 1 %>
              <div class="row">
                <div class="col-sm-2 col-xs-12">
                  <%= f.label :description,"Block List",:class => "label-color" %>
                </div>
                <div class="col-sm-7 col-xs-12">
                  <%= f.fields_for :block_lists do |f| %>
                    <fieldset class="form-inline ">
                      <%= f.select :con_name, options_for_select(Array[*ApplicationController.descendants.collect {|v,i| [v,v] }],f.object.con_name),{}, :class => "form-control blue_textbox width controller_name count#{h}" %> &nbsp; &nbsp; &nbsp;
                      <%= f.select :met_name, options_for_select(Array[*f.object.con_name.constantize.action_methods.collect {|v,i| [v,v] }],f.object.met_name),{}, :class => "blue_textbox form-control width action_name count_met#{h}",:style => "width: 30%;" %>&nbsp;&nbsp;
                      <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
                      <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130 middle"></i>'.html_safe, '#', class: "remove_fields text-danger " %>
                      <span id="control_error1" class="error_list" style="display:none;"></span><br/>
                    </fieldset><br/>
                    <% h += 1 %>
                  <% end %>
                <%= link_to_add_fields "Add Block lists", f, :block_lists %>
                </div>
              </div>
              <div class="hr hr-18 dotted"></div>
              <span id="flagvalue" style="display:none;"><%= h %></span>
              <span id="urlsd" style="display:none;">edit</span>
              <%= f.submit "Update Role", :class => "btn btn-primary btn-sm" %>
            <% end %><br/>
                </div>
              </div>
            </div>
          </div>


            
          </div>   			
      </div>
   </div>
</div>