<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-binoculars"></i>&nbsp;&nbsp;Roles</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to 'Create Role', new_admin_role_path , :class => "btn btn-success btn-sm for_page_load",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">
  
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="row">  
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content1">
        <div class="table-header bigger lighter cursive-font">
          Roles List
        </div>
        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
          <div class="table-responsive">
          <table id="role_plans_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @roles.each do |role| %>
                <tr>
                  <td>
                   <%= role.name %>
                  </td>
                  <td>
                    <%= role.description %>
                  </td>
                  <td>
                   <div class="action-buttons">
                    <%= link_to '', admin_role_path(role),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                    <%= link_to '', edit_admin_role_path(role),:class => "markthis glyphicon glyphicon-pencil edit_button_color",:remote => true %> 
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#role_plans_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>






