<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon fa fa-binoculars"></i>&nbsp;&nbsp;<%= link_to "Roles", admin_roles_path,:remote => true,:class =>"for_page_load" %></li>
    <li class="active">New Role</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

    <!-- flash start --> 
    <div class="flash_message_panel">
      <%= render partial: "layouts/shared/flash_msg" %> 
    </div>
    <!-- flash end -->

  <div class="row">  
      <div class="col-sm-12 col-xs-12">
          <div class="searchable_content1">
             <div class="widget-container-col ui-sortable">
            <div class="widget-box widget-color-green ui-sortable-handle">
              <div class="widget-header">
                <h5 class="widget-title lighter bigger  cursive-font">New Role</h5>
                <div class="widget-toolbar">
                </div>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                   <%= render 'form' %><br/>
                </div>
              </div>
            </div>
          </div>
          </div>        
      </div>
   </div>
</div>