<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-binoculars "></i>&nbsp;&nbsp;<%= link_to "Roles", admin_roles_path,:remote => true ,:class =>"for_page_load"%></li>
    <li class="active"><%= @role.name.capitalize %> Role</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to "Edit Roles", edit_admin_role_path(@role), :class => "btn btn-info btn-sm for_page_load",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">
   
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class ="row">
    <div class="col-xs-12 col-sm-8">
      <% if @block_lists.present? %>
        <div class="table-header bigger lighter cursive-font" style="background:#E2755F;">
          Block List
        </div>
        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
          <div class="table-responsive">
          <table id="role_plans_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
            <thead>
              <tr>
                <th>Controller Name</th>
                <th>Method Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @block_lists.each do |block_list| %>
                <tr>
                  <td>
                    <%= block_list.con_name %>
                  </td>
                  <td>
                    <%= block_list.met_name %>
                  </td>
                  <td>
                    <div class="action-buttons">
                    <%= link_to '', edit_admin_role_block_list_path(@role, block_list),:class => "markthis for_page_load glyphicon glyphicon-pencil edit_button_color",:remote => true %> 
                    <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130 middle"></i>'.html_safe, admin_role_block_list_path(@role, block_list), method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger",:remote => true %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div> 
      <% else %><br/><br/>
        <div class="text-info text-center ">
           NO BLOCK LIST
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 ">

        <div class="widget-container-col ui-sortable">
          <div class="widget-box widget-color-red ui-sortable-handle">
            <div class="widget-header">
              <h5 class="widget-title lighter bigger  cursive-font">Add Block List</h5>
              <div class="widget-toolbar">
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main">
                <%= form_for @block_list, :url => admin_role_block_lists_path(@role),:html => {:id => 'blocks_form' },:remote => true do |f| %>
                <span id="urlsd" style="display:none;">new</span>
                <% if @block_list.errors.any? %>
                  <div id="error_explanation">
                    <h2>
                      <%= pluralize(@block_list.errors.count, "error") %> prohibited this block_list from being saved:
                    </h2>
                    <ul>
                      <% @block_list.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %><br/><br/>
                <div class="field">
                  <%= f.label :con_name,"Controller Name ",:class => "label-color" %><br>
                  <%= f.select :con_name, options_for_select(Array[*ApplicationController.descendants.collect {|v,i| [v,v] }]),{ :prompt => 'Select' }, :class => "form-control controller_name blue_textbox" %>
                  <span id="controller_name_error1" class="error_list" style="display:none;"></span>
                </div><br />
                <div class="field met_field">
                  <%= f.label :met_name,"Method Name",:class => "label-color" %><br>
                  <%= f.select :met_name, options_for_select(""),{}, :class => "form-control  action_name blue_textbox" %>
                  <span id="action_name_error1" class="error_list" style="display:none;"></span>
                </div><br/>
                <div class="actions">
                  <%= f.submit "Block", :class => "btn btn-danger btn-sm"%>
                </div>
              <% end %><br/>
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div>
</div>