
  <!-- form start -->
  <%= form_for(@admin_variant,:url => admin_product_variants_path(@product.id),:remote => true, :authenticity_token => true,:method => :post,:html => {:class=> "new_admin_variant validate_this_form"}) do |f| %>
    <div class="modal-body category_modal_body">
      <% if @admin_variant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_variant.errors.count, "error") %> prohibited this admin_variant from being saved:</h2>          
          <ul>
            <% @admin_variant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div> 
      <% end %>
      <% a = 0 %>
      <% b = 0 %>
      <%= f.hidden_field :product_id,:value => @product.id %>     
      <div class="form-group form_group_admin_variant_name row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Name*</label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :name,:class => "blue_textbox width-100 validate_this" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_name_error1"> </div>
      </div>
      <div class="form-group form_group_admin_product_type_tokens row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Title</label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :title,:class => "blue_textbox width-100 " %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_type_tokens_error1"> </div>
      </div>
      <div class="form-group form_group_admin_product_type_tokens row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Meta Description</label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :meta_desc,:class => "blue_textbox width-100 " %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_type_tokens_error1"> </div>
      </div>
      <div class="form-group form_group_admin_variant_sku row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">SKU*</label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :sku,:class => "blue_textbox width-100 validate_this" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_sku_error1"> </div>
      </div>
      <div class="form-group form_group_admin_variant_bar_code row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Barcode</label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :bar_code,:class => "blue_textbox width-100" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_bar_code_error1"> </div>
      </div>
      <div class="form-group form_group_admin_variant_weight row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Weight*
        </label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :weight,:class => "blue_textbox width-100 validate_this" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_weight_error1"> </div>
      </div>
      <div class="form-group form_group_admin_variant_weight row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Length*
        </label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :length,:class => "blue_textbox width-100 validate_this" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_length_error1"> </div>
      </div>
      <div class="form-group form_group_admin_variant_weight row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Breadth*
        </label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :breadth,:class => "blue_textbox width-100 validate_this" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_breadth_error1"> </div>
      </div>
      <div class="form-group form_group_admin_variant_weight row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Width*
        </label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :width,:class => "blue_textbox width-100 validate_this" %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_variant_width_error1"> </div>
      </div>
      <div class="form-group form_group_admin_product_type_tokens row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Strike Rate</label>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <span class="block input-icon input-icon-right">
            <%= f.text_field :strike_rate,:class => " blue_textbox width-100 " %>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_type_tokens_error1"> </div>
      </div>
      <div class="form-group form_group_admin_product_type_tokens row">
        <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">
        </label>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <span class="block input-icon input-icon-right">
            <label>
              <%= f.check_box :ready_to_wear,:class=>"ace" %>
              <span class="lbl label-color">    Ready To Wear </span>
            </label>
          </span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <span class="block input-icon input-icon-right">
            <label>
              <%= f.check_box :visible,:class=>"ace" %>
              <span class="lbl label-color">   Visible </span>
            </label>
          </span>
        </div>
        <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_type_tokens_error1"> </div>
      </div>
      <span id="tagvalue" style="display:none;">1</span>
      <span id="tagvalue1" style="display:none;">1</span>
      <hr/>
      <%= f.fields_for :product_properties do |builder| %>
        <fieldset>
          <span id="propertyvalue1" class="propertyclass1" style="display:none;">1</span>
          <div class="form-group form_group_admin_product_type_tokens row">
            <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">
              Property
            </label>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <span class="block input-icon input-icon-right">
                <%= builder.text_field :product_question_tokens,:class =>"product_question1_tokens proquestion11 blue_textbox",data:{ url: "/admin/product_questions/new" }  %>
                <%= builder.hidden_field :_destroy,:class => "" %>
              </span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <span class="block input-icon input-icon-right">
                <%= builder.text_field :answer,:class => "form-control product_answer1_tokens blue_textbox proanswer11",data:{ url: "/admin/product_properties/new" } %>
              </span>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                <%= builder.hidden_field :_destroy,:class => "" %>
                <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash text-center" %>
            </div>
          </div>
        </fieldset>
        <%= link_to_add_fields 'Add Properties'.html_safe, f, :product_properties %><% b += 1%>
      <% end %><hr/>
      <%= f.fields_for :images do |builder| %>
        <fieldset >
          <span id="propertyvalue1" class="propertyclass1" style="display:none;">1</span>
          <div class="form-group form_group_admin_product_type_tokens row fallback">
            <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Image
            </label>
            <% if builder.object.new_record? %>
              <div class="col-sm-4 col-xs-12"><%= builder.file_field :avatar,:class => "label-color validate_this " ,:id => "dropzone"%></div>
              <div class="col-sm-4 col-xs-12"><%= builder.text_field :alt_text, :class =>"form-control blue_textbox" %></div>
              <div class="col-sm-2 col-xs-2">   </div>
            <% else %>
              <div class="col-sm-4 col-xs-12 "><%= image_tag builder.object.avatar.url(:thumb),:class => "img-thumbnail" %></div>
              <div class="col-sm-4 col-xs-12"><%= builder.text_field :alt_text, :class =>"form-control" %></div>
              <div class="col-sm-2 col-xs-2">  
                <%= builder.hidden_field :_destroy,:class => "count_destroy1" %>
                <%= link_to " ", '#', class: "remove_fields glyphicon glyphicon-trash text-warning" %> 
              </div>
            <% end %>
          </div>
        </fieldset>
      <% end %>
      <%= link_to_add_fields 'Add Images'.html_safe, f, :images %>
    </div>
    <div class="pull-right">
      <%= f.submit "Save", :class => "btn btn-sm btn-primary variant_save" %>
    </div>
  <% end %>
  <!-- form end -->

  <script>
  //alert($(".token-input-dropdown").length)
  $(".token-input-dropdown").css("z-index","9999")

  </script>