<fieldset class="center">
  <span id="propertyvalue1" class="propertyclass1" style="display:none;">1</span>
  <div class="form-group form_group_admin_product_type_tokens row">
    <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">
    </label>
    <% if f.object.new_record? %>
	    <div class="col-sm-4 col-xs-12"><%= f.file_field :avatar,:class => "label-color" %></div>
	    <div class="col-sm-4 col-xs-12"><%= f.text_field :alt_text, :class =>"form-control blue_textbox" %></div>
	    <div class="col-sm-2 col-xs-2"> 
			<%= f.hidden_field :_destroy,:class => "count_destroy1" %>
				<%= link_to " ", '#', class: "remove_fields glyphicon glyphicon-trash text-warning" %>  </div>
	  <% else %>
			<div class="col-sm-4 col-xs-12 "><%= image_tag f.object.avatar.url(:thumb),:class => "img-thumbnail" %></div>
			<div class="col-sm-4 col-xs-12"><%= f.text_field :alt_text, :class =>"form-control" %></div>
			<div class="col-sm-2 col-xs-2"> 
			  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
				<%= link_to " ", '#', class: "remove_fields glyphicon glyphicon-trash text-warning" %>  
			</div>
		<% end %>
  </div>
</fieldset>