<fieldset class="center">
  <span id="propertyvalue1" class="propertyclass1" style="display:none;">1</span>
  <div class="form-group form_group_admin_product_type_tokens row">
    <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">
    </label>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <span class="block input-icon input-icon-right">
        <%= f.text_field :product_question_tokens,:class =>"product_question1_tokens proquestion11 blue_textbox",data:{ url: "/admin/product_questions/new" }  %>
        <%= f.hidden_field :_destroy,:class => "" %>
      </span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <span class="block input-icon input-icon-right">
        <%= f.text_field :answer,:class => "form-control product_answer1_tokens blue_textbox proanswer11",data:{ url: "/admin/product_properties/new" } %>
      </span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <%= f.hidden_field :_destroy,:class => "" %>
      <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
    </div>
  </div>
</fieldset>