<div class="breadcrumbs" id="breadcrumbs">
  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li><%= link_to "<i class='ace-icon fa fa-archive' style='color:#616060'></i> #{ @product.name }".html_safe, admin_product_path(@product),:remote => true,:class => "for_page_load" %></li>
    <li class="active">New Variant</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start --> 
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
</div>

<div class="page-content">
  <!-- flash start --> 
    <div class="flash_message_panel" >
      <%= render partial: "layouts/shared/flash_msg" %> 
    </div>
  <!-- flash end -->
  <!-- header start -->
  <div class="page-header">
    <h4>
      Add New Variant
    </h4>
  </div>
  <div class="form-for-loading">
  <!-- header end -->
  <%= render 'form' %> 
  </div>
</div>	

