<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><%= link_to "<i class='ace-icon fa fa-archive' style='color:#616060'></i> #{ @product.name }".html_safe, admin_product_path(@product),:remote => true,:class => "for_page_load" %></li>
    <li class="active"><%= @admin_variant.name.capitalize %></li>
  </ul><!-- breadcrumb end --> 

  <!-- button panel start -->
  <div class="pull-right ">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Add Inventory', admin_product_variant_path(@product,@admin_variant,:inventory => 1)  , :class => "",:style => "color:#fff;",:remote => true %> 
    </span>
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content"> 
   <span class="for_fullscreen1" style="display:none;">for fullscreen</span>
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 

  <div class="row">
    <div class="col-sm-9 com-md-12 col-xs-9">
        <div class="widget-box  transparent ui-sortable-handle" style="width:100.7%">
          <div class="widget-header">
            <h5 class="widget-title bigger lighter">
               <%= @admin_variant.sku %>  <span style="color:black">( <%= @admin_variant.name %> )</span>
            </h5>
            <div class="widget-toolbar no-border">
             <% if @admin_variant.visible == true %>
              <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-success">Visible</span>
            <% else %>
              <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-warning">Hidden</span>
            <% end %>
              <% if @admin_variant.status == true %>
                <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-success">Active</span>
              <% else %>
                <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-warning">InActive</span>
              <% end %>
              <%= link_to '<i class="glyphicon glyphicon-pencil green"></i>'.html_safe, edit_admin_product_variant_path(@product,@admin_variant),:remote => true  %>
              <a data-action="collapse" class="widget_minimize" style="cursor:pointer;">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body widget_minimize_body">
            <div class="widget-main widget-main padding-6 no-padding-left no-padding-right">
            <% if  @admin_variant.title.present?  %>
            <span style="font-size:16px;"><%= @admin_variant.title %></span><br/><span><%= @admin_variant.meta_desc %></span><br/><br/><% end %>
            <% if  @admin_variant.sku.present? %><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>  <%= @admin_variant.sku %><% end %>&nbsp;&nbsp;&nbsp;&nbsp;  
            <% if  @admin_variant.bar_code.present? %><i class="fa fa-barcode"></i> <%= @admin_variant.bar_code %><% end %>&nbsp;&nbsp;&nbsp;&nbsp;  
            <% if  @admin_variant.strike_rate.present? %><i class="fa fa-strikethrough"></i> <%= @admin_variant.strike_rate %><% end %>&nbsp;&nbsp;&nbsp;&nbsp;  
              <% if @admin_variant.ready_to_wear %>
                <span class=""><i class="ace-icon fa fa-check-square-o"></i>&nbsp;&nbsp;Ready To Wear</span>
              <% end %>&nbsp;&nbsp;&nbsp;&nbsp;  
              <% if  @admin_variant.weight.present? %>
                <span ><i class="ace-icon fa fa-truck"></i>&nbsp;&nbsp;<%= @admin_variant.weight%> KG
                </span>
              <% end %>&nbsp;&nbsp;&nbsp;&nbsp; 
              <% if  @admin_variant.length.present? %>
                <span ><i class="ace-icon fa fa-arrows-h"></i>&nbsp;&nbsp;<%= @admin_variant.length%> 
                </span>
              <% end %>&nbsp;&nbsp;&nbsp;&nbsp;  
              <% if  @admin_variant.width.present? %>
                <span ><i class="ace-icon fa fa-compress"></i>&nbsp;&nbsp;<%= @admin_variant.width%> 
                </span>
              <% end %>&nbsp;&nbsp;&nbsp;&nbsp;  
              <% if  @admin_variant.breadth.present? %>
                <span ><i class="ace-icon fa fa-arrows-v"></i>&nbsp;&nbsp;<%= @admin_variant.breadth%> 
                </span>
              <% end %>
            </div>
          </div>
          </div><br/>
          <div id="parent-images-cats" class = "sort_images row" data-update-url="<%= sort_admin_images_path %>" >
              <% @admin_variant.images.each do |image| %>
                <%= content_tag_for(:div, image, :class => "col-sm-2 col-xs-3 ") do %>
                  <i class="ace-icon fa fa-arrows handle" style="position:absolute"></i>
                  <%= image_tag image.avatar.url(:thumb),:class=>"img-thumbnail" %>
                <% end %>
              <% end %>
            </div><br/>
            <% a = 0 %>
  <% b = 0 %>
  <% c = 0 %>
  <% d = 0 %> 
  <% warehouse_bal_qty(@admin_variant).each do |warehouse_bal_qty| %>
  <% if @admin_variant.inventories.present? %> 
      <div id="variant_inventory_show<%= a %>" >
        <div class="widget-box  ui-sortable-handle">
          <div class="widget-header widget-header-small" style="background:#307ecc;color:#fff;">
             <div class="row text-center widget-title bigger " style="padding-top:7px;">
                <div class="col-sm-2 col-xs-2"><strong><%= warehouse_bal_qty.first %></strong></div>
                <div class="col-sm-6 col-xs-2"><strong>Total Balance Qty - <%= warehouse_bal_qty.last %></strong></div>            
                <div class="col-sm-2 col-xs-2"><strong></strong></div> 
            </div>
          </div>
          <div class="widget-header widget-header-small">
            <div class="row text-center" style="padding-top:7px;color:#333;">
              <div class="col-sm-2 col-xs-2"><strong>VENDOR</strong></div>
              <div class="col-sm-1 col-xs-2"><strong>QTY</strong></div>
              <div class="col-sm-2 col-xs-2"><strong>PURCHASE PRICE</strong></div>
              <div class="col-sm-2 col-xs-2"><strong>SELLING PRICE</strong></div>
              <div class="col-sm-2 col-xs-2"><strong>EXPIRY DATE</strong></div>
              <div class="col-sm-2 col-xs-2"></div>
            </div>
          </div>
          <div class="widget-body" style="background:white;">
            <div class="widget-main">
            <% @admin_variant.inventories.sort_by(&:expiry_date).each do |inventorys| %>
              <% if inventorys.warehouse.name ==  warehouse_bal_qty.first %>   
              <div class="row borders text-center">
                <div class="col-sm-2 col-xs-2">
                  <%= inventorys.vendor.name %>
                </div>
                <div class="col-sm-1 col-xs-2 invent">
                  <%= best_in_place inventorys, :balance_qty, :path => admin_product_variant_inventory_path(@product,@admin_variant,inventorys),:html_attrs => {:style => "width:100%;margin-top:-10px;"},:data => {:urls => "#{admin_product_variant_path(@product,@admin_variant)}"} %>
                </div>
                <div class="co l-sm-2 col-xs-2 invent">
                  <%= best_in_place inventorys, :purchase_price, :path => admin_product_variant_inventory_path(@product,@admin_variant,inventorys),:html_attrs => {:style => "width:50%;margin-top:-10px;"},:data => {:urls => "#{admin_product_variant_path(@product,@admin_variant)}"} %>
                </div>
                <div class="col-sm-2 col-xs-2 invent" >
                  <%= best_in_place inventorys, :selling_price, :path => admin_product_variant_inventory_path(@product,@admin_variant,inventorys),:html_attrs => {:style => "width:50%;margin-top:-10px;"},:data => {:urls => "#{admin_product_variant_path(@product,@admin_variant)}"} %>
                </div>
                <div class="col-sm-2 col-xs-2 " >
                   <%= inventorys.expiry_date.strftime("%d %b %Y") %>
                </div>
                <div class="col-sm-1 col-xs-1">
                <%= link_to 'Inventory', admin_product_variant_inventory_path(@product,@admin_variant,inventorys,:admin_variant => 1) , remote: true , class: "btn btn-success btn-xs" %>
                </div>
                <div class="col-sm-1 col-xs-2">
                  <%= link_to 'Add Regulation', admin_product_variant_inventory_path(@product,@admin_variant,inventorys) , remote: true , class: "btn btn-success btn-xs ",:style=>"margin-left:4px;" %>
                </div>
              </div><br/>
              <% c += 1%>
            <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>   

  <% end %>
    </div>
    <div class="col-sm-3 com-md-12 col-xs-3">
      <div class="widget-box widget-color-grey ui-sortable-handle">
          <div class="widget-header widget-header-small">
            <h6 class="widget-title smaller">Summary</h6>

            <div class="widget-toolbar no-border">
            </div>

            <div class="widget-toolbar">
            </div>
          </div>

          <div class="widget-body" style="background:white;">
            <div class="widget-main">
               <span style="font-size:16px;"><%= @admin_variant.find_balance_qty %></span>&nbsp;&nbsp;<span style="font-size:12px;color:#ccc;">Balance Qty</span><br/>
               <span style="font-size:16px;"><%= @admin_variant.find_balance_qty %></span>&nbsp;&nbsp;<span style="font-size:12px;color:#ccc;">Sold Qty</span><br/>
               <% if Admin::Inventory.where(:variant_id => @admin_variant.id).present? %>
               <span style="font-size:16px;">₹ <%= Admin::Inventory.where(:variant_id => @admin_variant.id).order('selling_price DESC').first.selling_price %></span>&nbsp;&nbsp;<span style="font-size:12px;color:#ccc;">Maximum Selling Price</span><br/>
               <span style="font-size:16px;">₹ <%= Admin::Inventory.where(:variant_id => @admin_variant.id).order('selling_price').first.selling_price %></span>&nbsp;&nbsp;<span style="font-size:12px;color:#ccc;">Minimum Selling Price</span><% end %>
            </div>
          </div>
        </div><br/>
        <div id="accordion" class="accordion-style1 panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                  <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                  &nbsp;Properties
                </a>
              </h4>
            </div>
            <% a = 0 %>
            <% b = 0 %>

            <div class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                  <% @admin_variant.product_properties.each do |product_property| %>
                      <div class="row borders">
                        <div class="col-sm-5 col-xs-3">
                          <% if product_property.product_question_id.present? %><%= Admin::ProductQuestion.find(product_property.product_question_id).question %><% end %>
                        </div>
                        <div class="col-sm-7 col-xs-3"><%= product_property.answer %>
                        </div>
                      </div><br/>
                      <% b += 1 %>
                    <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="widget-box widget-color-grey ui-sortable-handle">
          <div class="widget-header widget-header-small">
            <h6 class="widget-title smaller">Warehouse Summary</h6>

            <div class="widget-toolbar no-border">
            </div>

            <div class="widget-toolbar">
            </div>
          </div>

          <div class="widget-body" style="background:white;">
            <div class="widget-main">
               <% warehouse_bal_qty(@admin_variant).each do |warehouse_bal_qty| %>
            <div class="row borders">
              <div class="col-sm-5 col-xs-3">
                <%= warehouse_bal_qty.first %>
              </div>
              <div class="col-sm-5 col-xs-3">
                <%= warehouse_bal_qty.last %>
              </div>
            </div><br/>
          <% end %>
            </div>
          </div>
        </div>
    </div>
  </div><br/>


<div class="modal fade" id="addinventory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="myModalLabel">
    </div>
  </div>
</div>

<script>

$(".for_fullscreen1").click(function(){
  $(".widget-modal-box").addClass("fullscreen2");
  $("body").addClass('modal-open');
  $(".widget-modal-box").show();
  if(($(".modal-backdrop").length == 0) && !($(".widget-modal-box").hasClass("fullscreen"))){
    $("body").append('<div class="modal-backdrop fade in"></div>');
  }
});

</script>