<div class="message-container">
  <div id="id-message-list-navbar" class="message-navbar clearfix">
    <div class="message-bar">
      <div class="message-infobar" id="id-message-infobar">
        <span class="blue bigger-110">Generals</span>
        <span class="grey bigger-110"></span>
      </div>

      <div class="message-toolbar hide">

        <button type="button" class="btn btn-xs btn-white btn-primary">
          <i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
          <span class="bigger-110">Delete</span>
        </button>
      </div>
    </div>

    <div>
      <div class="nav-search minimized">
        <form class="form-search">
          <span class="input-icon">
            <input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search inbox ...">
            <i class="ace-icon fa fa-search nav-search-icon"></i>
          </span>
        </form>
      </div>
    </div>
  </div>


  <div class="message-list-container">
    <div class="message-list" id="message-list">
    <% if @general_tickets.present? %>
    <% @general_tickets.each do |ticket| %>
      <% if ticket.ticket_tasks.first.nil? %>
        <div class="message-item <%= ticket.status == "up" ? "message-unread" : "" %>">
          <label class="inline">
            <input type="checkbox" class="ace">
            <span class="lbl"></span>
          </label>

          <i class="message-star ace-icon fa fa-star orange2"></i>
          <span class="sender" title="<%= ticket.email%>"><%= ticket.email%> </span>
          <span class="time"><%= ticket.created_at.strftime("%d %b %Y")  %></span>

          <span class="summary">
            <span class="message-flags">
              <% if ticket.status == "inprogress"%>
                <i class="ace-icon fa fa-mail-forward light-grey"></i>
              <% elsif ticket.status == "complete" %>
                <i class="ace-icon fa fa-reply light-grey"></i>
              <% end %>
            </span>
            <span class="text">
               <%= link_to ticket.ticket_number, support_ticket_path(ticket),:remote => true %> - <%= ticket.body %>
            </span>
          </span>
        </div>
      <% end %>
    <% end %>
    <% else %><div class="row text-center"><br/>
     NO TICKETS</div>
     <% end %>
    </div>
  </div>
</div>