<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="fa fa-ticket"></i>&nbsp;&nbsp;Tickets</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start --> 
  <div class="pull-right">
    
  </div>
  <!-- button panel end --> 
 
</div>
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
<br/>

<div class="col-xs-12 col-sm-12">
  <ul class=" inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1" role="tablist" id="myTab">
    <li class="active"><a href="#general_ticket" role="tab" data-toggle="tab"><i class="blue ace-icon fa fa-inbox bigger-130"></i>General</a></li>
    <li><a href="#order_ticket" role="tab" data-toggle="tab">
      <i class="orange ace-icon fa fa-location-arrow bigger-130"></i>Order</a></li>
    <li><a href="#voucher_ticket" role="tab" data-toggle="tab"><i class="pink ace-icon fa fa-tags bigger-130"></i>Voucher</a></li>
    <li><a href="#task_assigned_ticket" role="tab" data-toggle="tab"><i class="ace-icon fa fa-rotate-right bigger-130 green"></i>Task Assigned</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="general_ticket">
      <%= render "general_ticket" %>
    </div>
    <div class="tab-pane" id="order_ticket">
      <%= render "order_ticket" %>
    </div>
    <div class="tab-pane" id="voucher_ticket">
      <%= render "voucher_ticket" %>
    </div>
    <div class="tab-pane" id="task_assigned_ticket">
      <div class="message-container">
        <div id="id-message-list-navbar" class="message-navbar clearfix">
          <div class="message-bar">
            <div class="message-infobar" id="id-message-infobar">
              <span class="blue bigger-110">Sent</span>
              <span class="grey bigger-110"></span>
            </div>

            <div class="message-toolbar hide">

              <button type="button" class="btn btn-xs btn-white btn-primary">
                <i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
                <span class="bigger-110">Delete</span>
              </button>
            </div>
          </div>

          <div>
            <div class="nav-search minimized">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search inbox ...">
                  <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
              </form>
            </div>
          </div>
        </div>


        <div class="message-list-container">
          <div class="message-list" id="message-list">
            <% if @task_assigned_tickets.present? %>
              <% @task_assigned_tickets.each do |ticket| %>
                <% if ticket.ticket_tasks.first.present? %>
                  <div class="message-item <%= ticket.status == "up" ? "message-unread" : "" %>">
                    <label class="inline">
                      <input type="checkbox" class="ace">
                      <span class="lbl"></span>
                    </label>

                    <i class="message-star ace-icon fa fa-star orange2"></i>
                    <span class="sender" title="<%= ticket.email%>"><%= ticket.email%>
                      <i class="ace-icon fa fa-mail-forward light-grey"></i><%= User.find(ticket.ticket_tasks.first.assigned_to).email %>
                    </span>
                    <span class="time"><%= ticket.created_at.strftime("%d %b %Y")  %></span>

                    <span class="summary">
                      <span class="message-flags">
                        <% if ticket.status == "inprogress"%>
                          <i class="ace-icon fa fa-mail-forward light-grey"></i>
                        <% elsif ticket.status == "complete" %>
                          <i class="ace-icon fa fa-reply light-grey"></i>
                        <% end %>
                      </span>
                      <span class="text">
                         <%= link_to ticket.ticket_number, support_ticket_path(ticket),:remote => true %> - <%= ticket.body %>
                      </span>
                    </span>
                  </div>
                <% end %>
              <% end %>
              <% else %>
                <div class="row text-center"><br/>NO TICKETS</div>
              <% end %>
          </div>
        </div>
      </div>
      <% if @task_assigned_tickets.present? %>
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-2 text-primary">Ticket Number</div>
            <div class="col-sm-2 col-xs-2 text-primary">User</div>
            <div class="col-sm-2 col-xs-2 text-primary">Assigned To</div>
            <div class="col-sm-2 col-xs-2 text-primary text-center">Ticket Status</div>
            <div class="col-sm-2 col-xs-2 text-primary">Ticket Task Status</div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @task_assigned_tickets.each do |ticket| %>
            <% if ticket.ticket_tasks.first.present? %>
              <div class="row hoverd">
                <div class="col-sm-2 col-xs-2">
                  <%= link_to ticket.ticket_number, support_ticket_path(ticket),:remote => true %>
                </div>
                <div class="col-sm-2 col-xs-2"><%= ticket.user.present? ? ticket.user.email : '' %>
                </div>
                <div class="col-sm-2 col-xs-2">
                  <%= User.find(ticket.ticket_tasks.first.assigned_to).email %>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                  <% if ticket.status == "up" %>
                    <span class="glyphicon glyphicon-ok-circle text-default"  data-toggle="tooltip" data-placement="top" title="<%= ticket.status %>"></span>
                  <% elsif ticket.status == "inprogress"%>
                    <span class="glyphicon glyphicon-ok-circle text-warning" data-toggle="tooltip" data-placement="top" title="<%= ticket.status %>"></span>
                  <% elsif ticket.status == "complete" %>
                    <span class="glyphicon glyphicon-ok-circle text-success" data-toggle="tooltip" data-placement="top" title="<%= ticket.status %>"></span>
                  <% end %>
                </div>
                <div class="col-sm-2 col-xs-2">
                  <%= ticket.ticket_tasks.first.status %>
                </div>
              </div>   
            <% end %>       
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<script>
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
</script>