  <div class="container">
    <div class="col-xs-12 col-sm-12">  
      <div class = "row">          
        <br />
        <div class="col-sm-12">
          <div class="full_borders">         
            <div class="order_borders text-center">
              Order confirmed
            </div>         
            <div class="orders_borders">
                <div class="row">
                <br />
                  <div class="col-sm-3 col-xs-3  text-center">
                    <%= @order.order_number %><br /><br />
                    <%= @order.created_at %><br /><br />
                    <%= @order.user.email %><br /><br />                    
                  </div>     
                  <div class="col-sm-3 col-xs-3 lb1 rb1 text-center"> 
                  	<p class ="order_border12">Shipping Address</p>
                  <%= @order.shipping_address.name %><br />
                    <%= @order.shipping_address.add_line1 %><br />
                    <%= @order.shipping_address.add_line2 %> - <%= @order.shipping_address.pincode %><br />
                    <%= @order.shipping_address.state %> ,<%= @order.shipping_address.country %>
                    <%= @order.shipping_address.c_code %><br />
                    <%= @order.shipping_address.phone %><br /><br />                   
                  </div>                
                  <div class="col-sm-6 col-xs-6">
                    <div class = "row">
                      <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10">
                          <div class="row borders12">
                            <div class="col-sm-8">
                              PayMent Type 
                            </div>
                            <div class="col-sm-4">
                              <%= @order.payment_mode %>
                            </div>
                          </div>
                          <div class="row borders12">
                            <div class="col-sm-8">
                              PayMent Status
                            </div>
                            <div class="col-sm-4">
                              <%= @order.payment_status %><br />
                            </div>
                          </div>
                          <div class="row border12">
                            <div class="col-sm-8">
                              Order TYpe
                            </div>
                            <div class="col-sm-4">
                              <%= @order.status %>
                            </div>
                          </div>
                          <div class = "row">
	                          	<div class="col-sm-6">
	                          	</div>
	                          <div class="col-sm-5 col-xs-6 order_border12 ">
	                          	Total Cost - <%= @order.order_cost %>
	                          </div>
                          </div>
                        </div>
                      </div>
                    </div>                   
                  </div>     
                </div>          
            </div>
          </div>
        </div>
      </div>
      <% @cart_items.each do | key, value|%>
        <%= key.per_qty_price %>
        <%= key.price %>
        <%= key.variant.name %>
        <%= key.qty %>
      <% end %>

    </div> 
  </div>