
<div class="panel panel-default">
  <div class=" panel-heading">
      <div class="row">
        <div class="col-sm-2 col-xs-2 text-primary">Product Image</div>          
        <div class="col-sm-4 col-xs-4 text-primary">Product Name</div>
        <div class="col-sm-1 col-xs-1 text-primary">Category</div>
        <div class="col-sm-2 col-xs-2 text-primary">Type</div>          
        <div class="col-sm-2 col-xs-2 text-primary">Promotion</div>
        <div class="col-sm-1 col-xs-1 text-primary">Edit</div>          
      </div>
    </div>
    <div class="panel-body top_space">
      <div id="products">
        
        <% @warehouse.products.each do |product| %>
          <div class="row hoverd">
            <div class="col-sm-2 col-xs-2">
              <% if product.images.present? %>
                <div class="img-rounded">
                  <%= image_tag product.images.first.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:180px;height:140px;" %>
                </div>
              <% end %>
            </div>         
            <div class="col-sm-4 col-xs-4">
                <% if product.activate_product %>                  
                  <%= link_to_if(check_link(admin_product_path(product)),product.name, admin_product_path(product)) %><br />  
                <% else %>
                  <%= link_to_if(check_link(admin_product_path(product)),product.name, admin_product_path(product),:style => "color:red") %><br />             
                <% end %>
                <small>Brand_Name : <%= product.brand.name %><br /></small>
                <div class="col-sm-6 col-xs-12">No.Of Variants : <%= product.variants.count %><br /><br />
                </div>
                <div class="col-sm-6 col-xs-12">
                  <% if product.shipping_plans.present? %>
                    <button type="button" class="btn btn-xs color_green" data-toggle="tooltip" data-placement="left" title="Shipping Plan">1</button>
                  <% else %>
                    <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="Shipping Plan">1</button>
                  <% end %>
                  <% if product.tax_plans.present? %>
                    <button type="button" class="btn btn-xs color_green" data-toggle="tooltip" data-placement="top" title="Tax Plan">2</button>
                  <% else %>
                     <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="top" title="Tax Plan">2</button>
                  <% end %>
                  <% if product.categories.present? %>
                     <button type="button" class="btn btn-xs color_green" data-toggle="tooltip" data-placement="bottom" title="Category">3</button>
                  <% else %>
                     <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="bottom" title="Category">3</button>
                  <% end %><br /><br />
                </div>
                <%  if product.variants.present? %>
                  <% product.variants.each do |variant|%>
                    <div class= "col-sm-6 col-xs-6">
                    <%= variant.name %>                      
                    </div>
                    <div class= "col-sm-6 col-xs-6">              
                    <% if selling_prices_check(product) || product.unavail_purchase == true %>
                      <button type="button" class="btn btn-xs color_green" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= balance_qty(variant) %>">4</button>
                    <% else %>
                      <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= balance_qty(variant) %>">4</button>  
                    <% end %>
                    <% if selling_prices_check(product) %>
                      <button type="button" class="btn btn-xs color_green" data-toggle="tooltip" data-placement="left" title="selling price">5</button>
                    <% else %>
                      <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="selling price">5</button>  
                    <% end %>
                    <% if product.visibility == true %>
                      <button type="button" class="btn btn-xs color_green" data-toggle="tooltip" data-placement="left" title="Visibility">6</button>
                    <% else %>
                      <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="Visibility">6</button>  
                    <% end %>
                    <br /><br />
                    </div>        
                  <% end %>
                <% else %>
                <div class= "col-sm-6 col-xs-6">
                   
                </div>
                <div class= "col-sm-6 col-xs-6">  
                  <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="inventory">4</button> 
                  <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="selling price">5</button> 
                  <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="Visibility">6</button>
                </div>
                <% end %>    
            </div>
            <div class="col-sm-1 col-xs-1">
               <% product.categories.each do |product_category| %>
                 <%= product_category.name %>
               <% end %>
            </div>
           
                    
            <div class="col-sm-2 col-xs-2">
              <% product.types.each do |type| %>
               <%= type.name %>
              <% end %>
            </div>
            <div class="col-sm-2 col-xs-2 promotion_update">
              <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
            </div>
            <div class="col-sm-1 col-xs-1">
              <% if check_link(edit_admin_product_path(product)) %>
                <%= link_to '', edit_admin_product_path(product),:class => "glyphicon glyphicon-pencil text-success" %>
              <% end %>
            </div> 
          </div>          
        <% end %>
 
      </div>
    </div>  
  <div id="proall">
    Fetching more products
  </div>
</div> 