
    <%= render partial: "layouts/shared/flash_msg" %>  
  	<div class="border">			
      <h3><%= @warehouse.name %></h3>
  	</div> <br/> 
  <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#orders" role="tab" data-toggle="tab">Order</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="orders"><br/>
        <% if @warehouse.orders.present? %>
          <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row text-center text-info">
              <div class="col-sm-1 col-xs-12"><strong>Order Number</strong></div>
              <div class="col-sm-2 col-xs-12"><strong>User</strong></div>
              <div class="col-sm-1 col-xs-12"><strong>Order Cost</strong></div>
              <div class="col-sm-1 col-xs-12"><strong>Status</strong></div>
              <div class="col-sm-1 col-xs-12"><strong>Payment Mode</strong></div>
              <div class="col-sm-2 col-xs-12"><strong>Order Updated at</strong></div>
              <div class="col-sm-2 col-xs-12"><strong>Order Assigned at</strong></div>
              <div class="col-sm-2 col-xs-12"><strong>Shipping Address</strong></div>
            </div>
          </div>
          <div class="panel-body">
            <% @warehouse.orders.each do |order| %>
              <div class="row text-center info-borders">
                <div class="col-sm-1 col-xs-12"> <%= link_to order.order_number,  admin_warehouse_dashboard_orders_path(@warehouse.id, order.id) %></div>
                <div class="col-sm-2 col-xs-12"> <%= order.user.email %>
                <% if order.user.profile.present? %><% if order.user.profile.f_name.present? %>
                  (<% order.user.profile.f_name %>)<% end %>
                <% end %></div>
                <div class="col-sm-1 col-xs-12"> <%= order.order_cost %></div>
                <div class="col-sm-1 col-xs-12"> <%= order.status %></div>
                <div class="col-sm-1 col-xs-12"> <%= order.payment_mode %></div>
                <div class="col-sm-2 col-xs-12"> <%= order.updated_at.strftime("%e %b %Y %H:%M:%S%p") %></div>
                <div class="col-sm-2 col-xs-12"> <%= order.updated_at.strftime("%e %b %Y %H:%M:%S%p") %></div>
                <div class="col-sm-2 col-xs-12"> 
                  <%= order.shipping_address.name %><br/>
                  <%= order.shipping_address.add_line1 %>,
                  <%= order.shipping_address.add_line2 %><br/>
                  <%= order.shipping_address.state %>,
                  <%= order.shipping_address.country %>-
                  <%= order.shipping_address.c_code %><br/>
                  <%= order.shipping_address.pincode %><br/>
                  <%= order.shipping_address.phone %>
                </div><br/>
                <div class="col-xs-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <div class="row text-center text-success">
                        <div class="col-sm-2 col-xs-12"><strong>Variant</strong></div>
                        <div class="col-sm-2 col-xs-12"><strong>Qty</strong></div>
                        <div class="col-sm-2 col-xs-12"><strong>Shipping Plan</strong></div>
                        <div class="col-sm-4 col-xs-12"><strong>Purchase Cost</strong></div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <% order.order_items.each do |order_item| %>
                        <% @variant = Admin::Variant.find(order_item.variant_id) %>
                        <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                        <div class="row text-center success-borders">
                          <div class="col-sm-2 col-xs-12"><%= @variant.name %></div>
                          <div class="col-sm-2 col-xs-12"><%= order_item.qty %></div>
                          <div class="col-sm-2 col-xs-12">
                            
                          </div>
                          <div class="col-sm-4 col-xs-12">RS. <%= order_item.price %><br/>
                            <span class="text-muted">
                              Selling Price: <%= selling_price %><br/>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    