<% if @order.consignments.present? %>
<br /><br />
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#allconsign" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
    <li role="presentation"><a href="#unprocess" aria-controls="profile" role="tab" data-toggle="tab">UnProcessed</a></li>
    <li role="presentation"><a href="#process" aria-controls="profile" role="tab" data-toggle="tab">Processed</a></li>
    <li role="presentation"><a href="#notdelivery" aria-controls="messages" role="tab" data-toggle="tab">NotDelivered</a></li>
    <li role="presentation"><a href="#delivered" aria-controls="settings" role="tab" data-toggle="tab">Delivered</a></li>
  </ul>
  
  <!-- Tab panes --> 
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="allconsign"><br/>
    	<ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
			  <% @all.each do |consignment| %>	
			    <% if consignment.parent_consignment_id.nil? %>
				    <% @class_name = "" %>
				  <% else %>
				    <% @class_name = "bg-warning" %>
				  <% end %>
				  <%= content_tag_for( :li, consignment,:class => @class_name ) do %>  
				    <span class="sortname"><%= link_to consignment.consignment_number, support_order_shipment_path(@order,consignment) %></span>
			      <span class="admin_category_<%= consignment.id %>  sort_child" style =" margin-left:67%;">Consignment_items</span>
			      <ul id="child-cats" class="child-cats admin_category_<%= consignment.id %>" data-update-url="<%= sort_admin_categories_path %>">
			      	<div class="row">
			      		<div class="col-sm-12">
			      			<div class="col-sm-1"></div>
			      			<div class="col-sm-10"><br />
			      				<table class="table">	      		
								<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
									<th class="pl68">Product Details</th>
									<th class="">Qty</th>
									<th class="">Per_Qty Price</th>
									<th class="">Total Price</th>
								</tr>			
								<% consignment.consignment_items.each do |consignment_item| %>	
								  <tr class="bp1">
										<td>			
										  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
										  <% @product = Admin::Product.find(@variant.product.id)%>
										  <% @section = Admin::Category.find(@product.categories.first.id)%>
									    <div class="col-sm-12">
							          <div class="col-sm-3">
							            <a href="<%= section_product_show_path(@section,@product) %>">
							              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
							            </a>
							          </div>
							          <div class="col-sm-9">
							            <div class="c999">
							              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
							            </div>
							            <span class="fl ml10 c999">SKU-   </span>
							            <span class="f-bold ml10"> <%= @variant.sku %></span>
							          </div>
							        </div>				
									  </td>
										<td class="border_none">
									    <%= consignment_item.qty %>    			
										</td>
										<td class="border_none">
											<%= consignment_item.per_qty_price %>
										</td>	
										<td class="border_none">
											<%= consignment_item.price %>
										</td>
									</tr>										
								<% end %>
								    </table>
			      			</div>
			      			<div class="col-sm-1">
			      			</div>
			      		</div>
			      	</div>
			      </ul>                   
			    <% end %>	  
			  <% end %>
		  </ul> 
    </div> 
    <div role="tabpanel" class="tab-pane" id="unprocess"><br/>
    	<ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
				<% @unprocess.each do |consignment| %>
				  <% if consignment.parent_consignment_id.nil? %>
				    <% @class_name = "" %>
				  <% else %>
				    <% @class_name = "bg-warning" %>
				  <% end %>
				  <%= content_tag_for( :li, consignment,:class => @class_name ) do %> 
				    <span class="sortname"><%= link_to consignment.consignment_number, support_order_shipment_path(@order,consignment) %></span>
				    <span class="admin_category_<%= consignment.id %>  sort_child" style =" margin-left:67%;">Consignment_items</span> 
				    <% if consignment.cancel.nil? %>
					    <%= link_to 'Cancel', edit_admin_order_shipment_path(consignment.order,consignment),:class => "btn btn-default btn-sm text-success",:remote => true %>
				    <% end %>
			      <ul id="child-cats" class="child-cats admin_category_<%= consignment.id %>" data-update-url="<%= sort_admin_categories_path %>">
			      	<div class="row">
			      		<div class="col-sm-12">
			      			<div class="col-sm-1">
			      			</div>
			      			<div class="col-sm-10"><br />
			      				<table class="table">	      		
									<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
										<th class="pl68">Product Details</th>
										<th class="">Qty</th>
										<th class="">Per_Qty Price</th>
										<th class="">Total Price</th>
									</tr>			
									<% consignment.consignment_items.each do |consignment_item| %>	
									  <tr class="bp1">
											<td >			
											  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
											  <% @product = Admin::Product.find(@variant.product.id)%>
											  <% @section = Admin::Category.find(@product.categories.first.id)%>
										    <div class="col-sm-12">
								          <div class="col-sm-3">
								            <a href="<%= section_product_show_path(@section,@product) %>">
								              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
								            </a>
								          </div>
								          <div class="col-sm-9">
								            <div class="c999">
								              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
								            </div>
								            <span class="fl ml10 c999">SKU-   </span>
								            <span class="f-bold ml10"> <%= @variant.sku %></span>
								          </div>
								        </div>				
											</td>
											<td class="border_none">
										    	<%= consignment_item.qty %>    			
											</td>
											<td class="border_none">
												<%= consignment_item.per_qty_price %>
											</td>	
											<td class="border_none">
												<%= consignment_item.price %>
											</td>
										</tr>										
									<% end %>
								</table>
		      			</div>
		      			<div class="col-sm-1">
		      			</div>
			      		</div>
			      	</div>
			      </ul>                   
			    <% end %>	  
			  <% end %>
		  </ul> 
    </div>
    <div role="tabpanel" class="tab-pane" id="process">
    	<br/>
    	<ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
			<% @processed.each do |consignment| %>	
			  <% if consignment.parent_consignment_id.nil? %>
			    <% @class_name = "" %>
			  <% else %>
			    <% @class_name = "bg-warning" %>
			  <% end %>
			  <%= content_tag_for( :li, consignment,:class => @class_name ) do %>
				  <span class="sortname"><%= link_to consignment.consignment_number, support_order_shipment_path(@order,consignment) %></span>
			    <span class="admin_category_<%= consignment.id %>  sort_child" style =" margin-left:67%;">Consignment_items</span> 
		      <ul id="child-cats" class="child-cats admin_category_<%= consignment.id %>" data-update-url="<%= sort_admin_categories_path %>">
		      	<div class="row">
		      		<div class="col-sm-12">
		      			<div class="col-sm-1">
		      			</div>
		      			<div class="col-sm-10"><br />
		      				<table class="table">	      		
										<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
											<th class="pl68">Product Details</th>
											<th class="">Qty</th>
											<th class="">Per_Qty Price</th>
											<th class="">Total Price</th>
										</tr>			
										<% consignment.consignment_items.each do |consignment_item| %>	
										  <tr class="bp1">
												<td >			
												  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
												  <% @product = Admin::Product.find(@variant.product.id)%>
												  <% @section = Admin::Category.find(@product.categories.first.id)%>
											    <div class="col-sm-12">
									          <div class="col-sm-3">
									            <a href="<%= section_product_show_path(@section,@product) %>">
									              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
									            </a>
									          </div>
									          <div class="col-sm-9">
						                  <div class="c999">
						                    <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
						                  </div>
						                  <span class="fl ml10 c999">SKU-   </span>
						                  
						                  <span class="f-bold ml10"> <%= @variant.sku %></span>
						                </div>
									        </div>				
												</td>
												<td class="border_none">
											    	<%= consignment_item.qty %>    			
												</td>
												<td class="border_none">
													<%= consignment_item.per_qty_price %>
												</td>	
												<td class="border_none">
													<%= consignment_item.price %>
												</td>
											</tr>										
										<% end %>
							</table>
	      			  </div>
		      			<div class="col-sm-1">
		      			</div>
	      		  </div>
	      	  </div>
		      </ul>                   
		    <% end %>	  
			<% end %>
		</ul> 
    </div>
    <div role="tabpanel" class="tab-pane" id="notdelivery"><br/>
    	<ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
			<% @notdelivered.each do |consignment| %>	
			  <% if consignment.parent_consignment_id.nil? %>
			    <% @class_name = "" %>
			  <% else %>
			    <% @class_name = "bg-warning" %>
			  <% end %>
			  <%= content_tag_for( :li, consignment,:class => @class_name ) do %>             
			    <span class="sortname"><%= link_to consignment.consignment_number, support_order_shipment_path(@order,consignment) %></span>
			    <span class="admin_category_<%= consignment.id %>  sort_child" style =" margin-left:67%;">Consignment_items</span> 
			    <% if consignment.check_for_consignment_cancel %>
				    <%= link_to 'Cancel', edit_admin_order_shipment_path(consignment.order,consignment),:class => "btn btn-default btn-sm text-success",:remote => true %>
			    <% end %>
			      <ul id="child-cats" class="child-cats admin_category_<%= consignment.id %>" data-update-url="<%= sort_admin_categories_path %>">
			      	<div class="row">
			      		<div class="col-sm-12">
			      			<div class="col-sm-1">
			      			</div>
			      			<div class="col-sm-10"><br />
			      			  <table class="table">	      		
											<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
												<th class="pl68">Product Details</th>
												<th class="">Qty</th>
												<th class="">Per_Qty Price</th>
												<th class="">Total Price</th>
											</tr>			
									    <% consignment.consignment_items.each do |consignment_item| %>	
									      <tr class="bp1">
											    <td >			
													  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
													  <% @product = Admin::Product.find(@variant.product.id)%>
													  <% @section = Admin::Category.find(@product.categories.first.id)%>
													  <div class="col-sm-12">
											        <div class="col-sm-3">
											          <a href="<%= section_product_show_path(@section,@product) %>">
											            <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
											          </a>
											        </div>
											        <div class="col-sm-9">
											          <div class="c999">
											            <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
											          </div>
											          <span class="fl ml10 c999">SKU-   </span>
											          <span class="f-bold ml10"> <%= @variant.sku %></span>
											        </div>
											      </div>				
											    </td>
													<td class="border_none">
												    	<%= consignment_item.qty %>    			
													</td>
													<td class="border_none">
														<%= consignment_item.per_qty_price %>
													</td>	
													<td class="border_none">
														<%= consignment_item.price %>
													</td>
										    </tr>										
									    <% end %>
								    </table>
			      			</div>
			      			<div class="col-sm-1">
			      			</div>
			      		</div>
			      	</div>
			      </ul>                   
			  <% end %>	  
			<% end %>
		</ul>
    </div> 
    <div role="tabpanel" class="tab-pane" id="delivered">
    	<br/>
    	<ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
				<% @delivered.each do |consignment| %>	
				  <% if consignment.parent_consignment_id.nil? %>
				    <% @class_name = "" %>
				  <% else %>
				    <% @class_name = "bg-warning" %>
				  <% end %> 
				  <%= content_tag_for( :li, consignment,:class => @class_name ) do %>    
				    <span class="sortname"><%= link_to consignment.consignment_number, support_order_shipment_path(@order,consignment) %></span>
				    <span class="admin_category_<%= consignment.id %>  sort_child" style =" margin-left:30%;">Consignment_items</span>
				    <% if consignment.pickup_consignments.first.present? %>
					    <span class="admin_pickup_consignment_<%= consignment.id %>  sort_pickup_consignment" style =" margin-left:10%;">pickup_consignment_items</span> 
					  <% end %>
				    <%= link_to 'Return1', new_admin_pickup_consignment_path(:consignment_id => consignment.id),:class => "btn btn-default btn-sm text-success pull-right",:style => "margin-top:-8px;",:remote => true %>
				    <% if consignment.delivery_status == false && consignment.check_for_consignment_cancel %>
					    <%= form_for consignment, :url => admin_order_shipment_path(consignment.order, consignment) do |f| %>
		            <%= f.hidden_field :delivery_status,:value => false %>
		            <%= f.submit "Not Delivered", :class => "btn btn-default btn-sm text-success" %>
		          <% end %> 
	          <% end %>
			      <ul id="child-cats" class="child-cats admin_category_<%= consignment.id %>" data-update-url="<%= sort_admin_categories_path %>">
			      	<div class="row">
			      		<div class="col-sm-12">
			      			<div class="col-sm-1">
			      			</div>
			      			<div class="col-sm-10"><br />
			      			<table class="table">	      		
										<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
											<th class="pl68">Product Details</th>
											<th class="">Qty</th>
											<th class="">Per_Qty Price</th>
											<th class="">Total Price</th>
											<th class=""></th>
										</tr>			
										<% consignment.consignment_items.each do |consignment_item| %>	
										  <tr class="bp1">
												<td >			
												  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
												  <% @product = Admin::Product.find(@variant.product.id)%>
												  <% @section = Admin::Category.find(@product.categories.first.id)%>
											    <div class="col-sm-12">
									          <div class="col-sm-3">
						                	<a href="<%= section_product_show_path(@section,@product) %>">
						                    <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
						                  </a>
									          </div>
						                <div class="col-sm-9">
						                  <div class="c999">
						                    <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
						                  </div>
						                  <span class="fl ml10 c999">SKU-   </span>
						                  <span class="f-bold ml10"> <%= @variant.sku %></span>
						                </div>
						              </div>				
												</td>
												<td class="border_none">
											    <%= consignment_item.qty %>    			
												</td>
												<td class="border_none">
													<%= consignment_item.per_qty_price %>
												</td>	
												<td class="border_none">
													<%= consignment_item.price %>
												</td>
												<td>

												</td>
											</tr>									
										<% end %>
									</table>
			      		</div>
		      			<div class="col-sm-1">
		      			</div>
		      		</div>
			      	</div>
			      </ul>
			      <div id="child-cats" class="child-cats admin_pickup_consignment_<%= consignment.id %>"v>
			      <% consignment.pickup_consignments.each do |pickup_consignment| %>
			      <ul id="child-cats" data-update-url="<%= sort_admin_categories_path %>">
			      	<div class="row">
			      		<div class="col-sm-12">
			      			<div class="col-sm-1">
			      			</div>
			      			<div class="col-sm-10"><br />
			      				<table class="table">	  
			      			<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
										<th class="">PICKUP CONSIGNMENT</th>
										<th><strong>TOTAL Rs.<%= pickup_consignment.consignment_cost %></strong></th>
										<th></th>
										<th>
										</th>
									</tr>	    		
									<tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
										<th class="pl68">Product Details</th>
										<th class="">Qty</th>
										<th class="">Per_Qty Price</th>
										<th class="">Total Price</th>
									</tr>			
									<% pickup_consignment.pickup_consignment_items.each do |pickup_consignment_item| %>	
									  <tr class="bp1">
											<td >			
											  <% @variant = Admin::Variant.find(pickup_consignment_item.variant_id) %>
											  <% @product = Admin::Product.find(@variant.product.id)%>
											  <% @section = Admin::Category.find(@product.categories.first.id)%>
										    <div class="col-sm-12">
								          <div class="col-sm-3">
								            <a href="<%= section_product_show_path(@section,@product) %>">
								              <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:174px;border:none !important;" %>
								            </a>
								          </div>
								          <div class="col-sm-9">
								            <div class="c999">
								              <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
								            </div>
								            <span class="fl ml10 c999">SKU-   </span>
								            <span class="f-bold ml10"> <%= @variant.sku %></span>
								          </div>
								        </div>				
											</td>
											<td class="border_none">
										    	<%= pickup_consignment_item.qty %>    			
											</td>
											<td class="border_none">
												<%= pickup_consignment_item.per_qty_price %>
											</td>	
											<td class="border_none">
												<%= pickup_consignment_item.price %>
											</td>
										</tr>										
									<% end %>
								</table>
		      			</div>
		      			<div class="col-sm-1">
		      			</div>
			      		</div>
			      	</div>
			      </ul>  
			      <% end %> 
			                     
				  <% end %>	  
				<% end %>
		  </ul>
    </div>
  </div>
</div>	
<% else %>
  <br/><div class="row text-center">CONSIGNMENT NOT YET CREATED</div><br/>
<% end %>





<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border modal_window_increase_width2 support_consignment_cancel">
    </div>
  </div>
</div>