<span class="order_id" style="display:none;"><%= support_order_path( @order) %></span>
  <% if @order.pay_val.nil? || @order.pay_val == false %>
    <span class="current_stage" style="display:none">0</span>
  <% elsif @order.cal_conf.nil? || @order.prev_rec.nil? || @order.cal_conf == false || @order.prev_rec == false %>
    <span class="current_stage" style="display:none">1</span>
  <% else %>
    <span class="current_stage" style="display:none">2</span>
  <% end %>
    <div class = "row">
      <div class="col-sm-7 col-xs-12"> 
        <div class="table-header">ORDER DETAILS</div>
    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Order Number</th>
            <th>Order Cost</th>
            <th>Paymet Mode</th>
            <th>Paymet Status</th>
            <th>Order Status</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @order.order_number %>
            </td>
            <td>
              <%= @order.order_cost %>
            </td>
            <td>
            <%= @order.payment_mode %>
            </td>
            <td>
             <%= @order.payment_status %>
            </td>
            <td><%= @order.status %></td>
            <td><%= @order.shipping_address.name %><br/>
            <%= @order.shipping_address.add_line1 %>,
            <%= @order.shipping_address.add_line2 %><br/>
            <%= @order.shipping_address.state %>,
            <%= @order.shipping_address.country %>-
            <%= @order.shipping_address.c_code %><br/>
            <%= @order.shipping_address.pincode %><br/>
            <%= @order.shipping_address.phone %></td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-sm-5 col-xs-12">
         <div class="table-header">ORDER ITEMS</div>
        <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
            <thead>
              <tr>
                <th>Variant</th>
                <th>Qty</th>
                <th>Shipping Plan</th>
                <th>Purchase Cost</th>
              </tr>
            </thead>
            <tbody>
              <% @order.order_items.each do |order_item| %>
              <% @variant = Admin::Variant.find(order_item.variant_id) %>
              <% @shipping =@order.shipping_cost %>
              <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
              <tr>
                <td>
                  <%= @variant.name %>
                </td>
                <td>
                  <%=order_item.qty %>
                </td>
                <td>
                 
                </td>
                <td>
                 RS. <%= order_item.price %><br/>
                  <span class="text-muted">
                    Selling Price: <%= selling_price %><br/>
                    Shipping Cost: <%= @shipping %><br/>
                    Tax: <%= order_item.price - (@shipping + selling_price) %></span>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <br />
        <div class="user_details" style="overflow-y: scroll;overflow-x: hidden;width: 100%;height: 300px;"><br/>
        </div>
          </div>
    </div>
  <% if @order.consignments.present?%>
    <div class="fl order-detail-left">
      <p class="txt-up c666 f-bold fs11 pt6 pb6" id="qa-prdct-details-title"> 
        <span class="delivery">create</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery">verify</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery">Assign warehouse</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery">create</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery">delegate</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery">conform</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery">dispatch</span>
        <span class="glyphicon glyphicon-arrow-right text-muted"></span>
        <span class="delivery-transit ">delivery</span>
      </p>
      <div class="col-sm-4">
        <div class="progressing">
          <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Created at <%= @order.created_at %>">
            <span class="label"></span>
            <span class="title"></span>
          </div>
          <% if @order.cal_conf == true && @order.prev_rec == true && @order.pay_val == true %>
            <span class="bar done"></span>
            <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Order is successfully Verified">
              <span class="label"></span>
              <span class="title"></span>
            </div>
          <% elsif @order.cal_conf == false || @order.prev_rec == false || @order.pay_val == false %>
            <span class="bar failed"></span>
            <div class="circle failed" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Verification Failed">
              <span class="label"></span>
              <span class="title"></span>
            </div>
          <% else %>
            <span class="bar"></span>
            <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              <span class="label"></span>
              <span class="title"></span>
            </div>
          <% end %>
          <% if @order.status == "wh" %>
            <span class="bar done"></span>
            <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Order has been segregated as consignments">
              <span class="label"></span>
              <span class="title"></span>
            </div>
          <% else %>
            <span class="bar"></span>
            <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Order Status: <%= @order.status %>">
              <span class="label"></span>
              <span class="title"></span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-8">
      <ul class="product-list">
        <% @order.consignments.where(:parent_consignment_id => nil).each do |consignment|%>
          <li style="list-style-type: none;height:82px;" class="hoverd">
            <div class="col-sm-8">
            <div class="progressing">
              <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Created at <%= consignment.created_at %>">
                <span class="label"></span>
                <span class="title"></span>
              </div>
              <% if consignment.package_tasks.first.present? %>
                <span class="bar done"></span>
                <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Delegated under <%= consignment.package_tasks.first.task_number %>">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% else %>
                <span class="bar"></span>
                <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet delegated">
                  <span class="label"></span>
                  <span class="title"><%= link_to "",admin_warehouse_dashboard_consignments_path(consignment.warehouse , consignment) %></span>
                </div>
              <% end %>
              <% if consignment.conform == true %>
                <span class="bar done"></span>
                <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Confirmed">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% else %>
                <span class="bar"></span>
                <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet confirmed">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% end %>
              <% if consignment.logistic_id.present? %>
                <span class="bar done"></span>
                <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Dispatch is undertaken by <%= consignment.logistic.name%>">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% else %>
                <span class="bar"></span>
                <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for dispatch">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% end %>
              <% if consignment.delivery_status == true %>
                <span class="bar done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment delivered successfully"></span>
                <div class="circle done">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% elsif consignment.delivery_status == false %>
                <span class="bar failed" data-container="body"></span>
                <div class="circle failed" data-toggle="popover" data-placement="bottom" data-content="Consignment not delivered">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% else %>
                <span class="bar"></span>
                <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for delivery status">
                  <span class="label"></span>
                  <span class="title"></span>
                </div>
              <% end %>
            </div>
            </div>
            <div class="col-sm-4">
              <div class=""><strong><%= link_to consignment.consignment_number, support_order_shipment_path(@order , consignment) %></strong></div>
            </div>
          </li>
          <% if consignment.delivery_status == false %>
            <% if consignment.resends.present? %>
              <% consignment.resends.each do |resend_consignment|%>
                <li style="list-style-type: none;height:82px;" class=" bg-warning">
                  <div class="col-sm-8">
                    <div class="progressing">
                      <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Created at <%= consignment.created_at %>">
                        <span class="label"></span>
                        <span class="title"></span>
                      </div>
                      <% if resend_consignment.resend_tasks.first.present? %>
                        <span class="bar done"></span>
                        <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Delegated under <%= resend_consignment.resend_tasks.first.task_number %>">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% else %>
                        <span class="bar"></span>
                        <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet delegated">
                          <span class="label"></span>
                          <span class="title"><%= link_to "",admin_warehouse_dashboard_consignments_path(resend_consignment.warehouse , resend_consignment) %></span>
                        </div>
                      <% end %>
                      <% if resend_consignment.conform == true %>
                        <span class="bar done"></span>
                        <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Confirmed">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% else %>
                        <span class="bar"></span>
                        <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment Not yet confirmed">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% end %>
                      <% if resend_consignment.logistic_id.present? %>
                        <span class="bar done"></span>
                        <div class="circle done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Dispatch is undertaken by <%= consignment.logistic.name%>">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% else %>
                        <span class="bar"></span>
                        <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for dispatch">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% end %>
                      <% if resend_consignment.delivery_status == true %>
                        <span class="bar done" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Consignment delivered successfully"></span>
                        <div class="circle done">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% elsif resend_consignment.delivery_status == false %>
                        <span class="bar failed" data-container="body"></span>
                        <div class="circle failed" data-toggle="popover" data-placement="bottom" data-content="Consignment not delivered">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% else %>
                        <span class="bar"></span>
                        <div class="circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Waiting for delivery status">
                          <span class="label"></span>
                          <span class="title"></span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-warning" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Resend for <%=  consignment.consignment_number %>"><strong><%= link_to resend_consignment.consignment_number, support_order_shipment_path(@order , resend_consignment) %>&nbsp&nbsp RESEND</strong></div>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
    <% end %>


    <div class="modal fade" id="order_myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">CANCEL ORDER NO. <span class="order_no_val"><%= @order.order_number %></span></h4><br />
            <h6 class="modal-title pull-left">PLACE ON <%= @order.created_at %></h5>
            <h6 class="modal-title pull-right">TOTAL:<span class="order_cost_val"> RS <%= @order.order_cost %></span></h5> 
          </div>
          <div class="modal-body">
            <% if @order.payment_mode == "COD" %>
              <%= form_for @order, :url => support_order_path(@order),:html => {:id => 'order_update_form12' } do |f| %> 
                <%= f.hidden_field :support_order_cancel, :value => "qwe" %>     
                <%= f.hidden_field :cancelled_by, :value => @current_user.id %>         
                <div class="field">
                  <%= f.label :cancel,"REASON FOR CANCELLATION *" %>
                  <%= f.text_field :cancel,:class => "form-control" %>
                  <span id="order_update_cancel_error" class="error_list" style="display:none;"></span>
                </div><br />
                <div class="field">
                  <%= f.label :remarks, "REMARKS NOTES *" %>
                  <%= f.text_area :remarks, :class => "form-control" %>   
                  <span id="order_update_remarks_error" class="error_list" style="display:none;"></span>        
                </div><br />
                <div class="actions">
                  <div class="col-sm-3"><%= f.submit "Cancel Order", :class => "btn btn-primary" %></div>
                </div>
              <% end %>
            <% else %>
            <div class="content">
              <div class="idealsteps-container">
                <nav class="idealsteps-nav"></nav>
                <%= form_for @order, :url => support_order_path(@order),:html => {:id => 'order_update_form12',:class => "idealforms" } do |f| %> 
                  <div class="idealsteps-wrap"> 

                  <!-- Step 1 -->

                  <section class="idealsteps-step">
                    <%= f.hidden_field :user_order_cancel, :value => "qwe" %>           
                    <div class="field">
                      <%= f.label :cancel,"REASON FOR CANCELLATION *" %>
                      <%= f.text_field :cancel,:class => "form-control" %>
                      <span id="order_update_cancel_error" class="error_list" style="display:none;"></span>
                    </div><br />
                    <div class="field">
                      <%= f.label :remarks, "REMARKS NOTES *" %>
                      <%= f.text_area :remarks, :class => "form-control" %>   
                      <span id="order_update_remarks_error" class="error_list" style="display:none;"></span>        
                    </div><br />
                    <%= f.fields_for :order_revocations do |builder| %>
                      <div class="field">
                        <%= builder.hidden_field :bank_account_id,:class => "org_bank_account_id" %>
                        <%= builder.hidden_field :revocation_cost,:value => @order.order_cost %>
                        <%= builder.label :revocation_mode, "Refund Mode" %>
                        <%= builder.select :revocation_mode, options_for_select(["Vocher", "Cash Back"]),{ :prompt => 'Select' }, :class => "form-control compensate_class" %> 
                        <span id="order_update_remarks_error" class="error_list" style="display:none;"></span>        
                      </div><br /> 
                    <% end %>
                    <div class="field buttons">
                      <label class="main">&nbsp;</label>
                      <button type="button" class="next">Next &raquo;</button>
                    </div>
                  </section>

                  <!-- Step 2 -->

                    <section class="idealsteps-step">   
                      <div class="row">
                        <div class="col-sm-6 col-xs-12" style="overflow-y: scroll;overflow-x: hidden; width: 50%; height: 335px;">
                          <% @order.user.bank_accounts.each do |bank_account| %>
                            <div class="panel panel-default">
                              <div class="panel-body" >
                                <div class="col-sm-1">
                                  <%= check_box("bank_account", bank_account.id,:class => "bank_check_box") %>
                                </div>
                                <div class="col-sm-10 text-center"><strong><%= bank_account.name %></strong></div><br/><br/>
                                <div class="col-sm-5"><strong>Account No.</strong></div><div class="col-sm-7"><%= bank_account.num %></div><br/>
                                <div class="col-sm-5"><strong>IFSC Code</strong></div><div class="col-sm-7"><%= bank_account.ifsc_code %></div><br/>
                                <div class="col-sm-5"><strong>Bank Code</strong></div><div class="col-sm-7"><%= bank_account.bank_code %></div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                        <%= f.fields_for :bank_accounts do |builder1| %>
                          <div class="field">
                          <%= builder1.label :name, "Name" %>
                          <%= builder1.text_area :name, :class => "form-control" %> 
                          </div> 
                          <div class="field">
                          <%= builder1.label :Number, "Account Number" %>
                          <%= builder1.text_area :num, :class => "form-control" %>
                          </div> 
                          <div class="field">
                          <%= builder1.label :ifsc_code, "Ifsc Code" %>
                          <%= builder1.text_area :ifsc_code, :class => "form-control" %>
                          </div>
                          <div class="field">
                          <%= builder1.label :bank_code, "Bank Code" %>
                          <%= builder1.text_area :bank_code, :class => "form-control" %>
                          </div> 
                        <% end %>
                        </div>
                      </div>
                      <div class="field buttons">
                        <label class="main">&nbsp;</label>
                        <button type="button" class="prev">&laquo; Prev</button>
                        <button type="button" class="next">Next &raquo;</button>
                      </div>
                    </section>

                  <!-- Step 3 -->

                    <section class="idealsteps-step">
                      <div class="cancel_summary">
                        
                      </div>
                      <div class="field buttons">
                        <label class="main">&nbsp;</label>
                        <button type="button" class="prev">&laquo; Prev</button>
                        <div class="col-sm-5"><%= f.submit "Cancel Order", :class => "btn btn-primary btn-xs" %></div>
                      </div>
                    </section>
                  </div>
                  <span id="invalid"></span>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                
              </div>
              <div class="col-sm-2">
              </div>
            </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  
<script>
  setTimeout(function() {
  var url = $(".order_id").text();
    $.ajax({
      url: url,
      data: {'view':'1'},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    });
  }, 1000);

  $(function () {
    $('[data-toggle="popover"]').popover({
      trigger: "hover"
    });
  });
</script>
