<fieldset class="center">    
  <% variant = Admin::Variant.find(f.object.variant_id) %> 
  <% product = Admin::Product.find(variant.product_id) %>
  <% bal_qty = balance_qty(variant) %>
  <% order_link = admin_order_path(@order) %>  
  <span id="order_url_for_check_<%= f.object.variant_id %>" style="display:none"><%= check_item_link = admin_order_item_check_order_item_availability_path(f.object) %></span>
  <span id="order_item_id_<%= f.object.variant_id %>" style="display:none"><%= f.object.id %></span>
  <span class="order_shipping_address_id_val" style="display:none"><%= @order.shipping_address.id %></span>
  <% other_variants = variant.other_variants(@order,f.object) %>
  <div class="row borders">
    <div class="col-sm-2 col-xs-4" id="order_image_<%= f.object.variant_id %>">
      <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "thumbnail", :style => "width:80px;height:60px;" %>
    </div>
    <div class="col-sm-3 col-xs-4">
      <% if other_variants[0].present? %>
        <div class="form-group has-warning">
        <%= f.collection_select :variant_id, other_variants, :id, :name,{:prompt => "Parent Category"},:class => "form-control order_varaint_change variant_#{g} ",:id => "order_variant_#{f.object.variant_id}" %>
        </div>
        <span id="error_order_variant_<%= f.object.variant_id %>" class="error_list variant_<%= g %>" style="display:none;"></span></br>  
      <% else %>
        <span class = "order_varaint_change" id = "order_variant_<%= f.object.variant_id %>" style="display:none;"><%= variant.id %></span>
        <%= f.hidden_field :variant_id, :value => variant.id %>
        <%= variant.name %>
      <% end %>  
    </div>  
    <div class="col-sm-2 col-xs-4">
      <% @collect = limit_bal_qty(bal_qty.to_i - up_order_qty(variant))%>
      <%= f.select :qty, YAML.load(@collect),{},:class => "qty_#{g} form-control order_quantity_change",:id => "order_qty_#{f.object.variant_id}" %>
      <span id="error_order_qty_<%= f.object.variant_id %>" class="error_qty_<%= g %>  error_list" style="display:none;"></span></br>  
    </div>
    <div class="col-sm-2 col-xs-4">
      <strong id = "order_price_<%= f.object.variant_id %>">Rs.<%= f.object.per_qty_price %></strong><br/>
      <%= f.text_field :reason,:class => "form-control",:placeholder => "REASON" %>
    </div>
    <div class="col-sm-2 col-xs-4">
      <strong id = "order_per_qty_price_<%= f.object.variant_id %>">RS.<%= f.object.per_qty_price * f.object.qty %></strong>
    </div> 
    <div class="col-sm-1 col-xs-4">
      <%= f.hidden_field :_destroy,:class => "" %>
      <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
    </div>  
  </div> 
</fieldset>    