
<% if @param.present? %>
  <%= search_form_for(@search,:url => support_orders_path,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
    <span style="display:none" class= "for_count">
      <%= count %> 
    </span> 
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => support_orders_path,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#all_orders" role="tab" data-toggle="tab">All Orders</a></li>
  <li><a href="#up" role="tab" data-toggle="tab">UP</a></li>
  <li><a href="#wh" role="tab" data-toggle="tab">WH</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="all_orders">
    <% if @orders.present? %>    
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-2 text-primary">Order Number</div>
            <div class="col-sm-2 col-xs-2 text-primary">User</div>
            <div class="col-sm-2 col-xs-2 text-primary">Payment Mode</div>
            <div class="col-sm-2 col-xs-2 text-primary">Payment Status</div>
            <div class="col-sm-1 col-xs-1 text-primary">Order Status</div>
            <div class="col-sm-2 col-xs-2 text-primary">Order Cost</div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @orders.each do |order| %>
            <div class="row hoverd">
              <div class="col-sm-2 col-xs-2">
                <%= link_to order.order_number, support_order_path(order) %>
              </div>
              <div class="col-sm-2 col-xs-2"><%= order.user.email%>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.payment_mode %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.payment_status %>
              </div>
              <div class="col-sm-1 col-xs-1">
                <%= order.status %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.order_cost %>
              </div>
            </div>          
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="up">
    <% if @up_order.present? %>    
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-2 text-primary">Order Number</div>
            <div class="col-sm-2 col-xs-2 text-primary">User</div>
            <div class="col-sm-2 col-xs-2 text-primary">Payment Mode</div>
            <div class="col-sm-2 col-xs-2 text-primary">Payment Status</div>
            <div class="col-sm-1 col-xs-1 text-primary">Order Status</div>
            <div class="col-sm-2 col-xs-2 text-primary">Order Cost</div>
            <div class="col-sm-1 col-xs-1 text-primary">Edit</div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @up_order.each do |order| %>
            <div class="row hoverd">
              <div class="col-sm-2 col-xs-2">
                <%= link_to order.order_number, support_order_path(order) %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.user.email %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.payment_mode %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.payment_status %>
              </div>
              <div class="col-sm-1 col-xs-1">
                <%= order.status %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.order_cost %>
              </div>
              <div class="col-sm-1 col-xs-1">
                <% if check_link(edit_support_order_path(order)) %>
                  <%= link_to '', edit_support_order_path(order),:class => "glyphicon glyphicon-pencil text-success" %>
                <% end %>
              </div>
            </div>          
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="wh">
    <% if @wh_order.present? %>    
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-2 col-xs-2 text-primary">Order Number</div>
            <div class="col-sm-2 col-xs-2 text-primary">User</div>
            <div class="col-sm-2 col-xs-2 text-primary">Payment Mode</div>
            <div class="col-sm-2 col-xs-2 text-primary">Payment Status</div>
            <div class="col-sm-1 col-xs-1 text-primary">Order Status</div>
            <div class="col-sm-2 col-xs-2 text-primary">Order Cost</div>
            <div class="col-sm-1 col-xs-1 text-primary"></div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @wh_order.each do |order| %>
            <div class="row hoverd">
              <div class="col-sm-2 col-xs-2">
                <%= link_to order.order_number, support_order_path(order) %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.user.email %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.payment_mode %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.payment_status %>
              </div>
              <div class="col-sm-1 col-xs-1">
                <%= order.status %>
              </div>
              <div class="col-sm-2 col-xs-2">
                <%= order.order_cost %>
              </div>
              <div class="col-sm-1 col-xs-1">
            </div></div>          
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>