<br/>
<strong class="text-center">CREATE SHIPPING ADDRESS</strong>
  <%= form_for(@new_shipping_address ,:url => user_shipping_addresses_path(@order.user_id),:remote => true,:html => {:id => 'order_ship_form' }) do |f| %>
	<%= f.hidden_field :order_id, :value => @order.id %>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-6">
		<%= f.label :name, "Name",:class => "control-label form-margin" %>

	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.text_field :name,:class => "form-control form-width" %>
		<span id="ship_name_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.label :name, "Door Number",:class => "control-label form-margin" %>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.text_field :add_line1,:class => "form-control form-width" %>
		<span id="ship_add1_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<br />
	<div class="row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.label :country, "Country",:class => "control-label form-margin" %>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form-control form-width country1 coun" } %>
		<span id="ship_country_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.label :state, "State",:class => "control-label form-margin",:style => "display:none;" %>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.grouped_collection_select :state, Admin::Country.order(:name), :states , :name , :name, :name, { :prompt => "Select State" }, { :class => "form-control form-width state1 stat form-margin",:style => "display:none;" } %>
		<span id="ship_state_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.label :add_line2, "District, City",:class => "form-margin control-label",:style => "display:none;" %>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.grouped_collection_select :add_line2, Admin::State.order(:name), :district_cities , :name , :name, :name, { :prompt => "Select City" }, { :class => "form-control form-width1 city1  form-margin dist1",:style => "display:none;" } %>
		<span id="ship_add2_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
	    <%= f.label :pincode, "Pin Code",:class => "control-label col-sm-12 form-margin",:style => "display:none;" %>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.grouped_collection_select :pincode, Admin::DistrictCity.order(:name), :pincodes , :name , :pincode, :pincode, { :prompt => "Select Pincode" }, { :class => "form-control form-width1 code1 form-margin",:style => "display:none;" } %>
		<span id="ship_pin_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
		<%= f.label :phone, "Contact Number",:class => "control-label form-margin" %>
	  </div>
	</div>
	<div class=  "row">
	  <div class = "col-sm-9 col-xs-9">
	    <%= f.text_field :phone,:class => "form-control form-width phone1" %>
	    <span id="ship_phone_error" class="error_list" style="display:none;"></span>
	  </div>
	</div>
	<br />
	<div class=  "row">
	  <div class = "col-sm-3 col-xs-3"></div>
	  <div class = "col-sm-6 col-xs-6">
	    <div class="actions"> 
	      <%= f.submit "Save Address", :class => "btn btn-primary" %>
	    </div>
	  </div>
	</div>
<% end %>
<br/>
