<% if @up_order.present? %> 
<div class=" table-responsive">
<div class="table-header">
        UNPROCESSED ORDERS LIST
      </div>   
  <table id="up_orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>User</th>
          <th>Payment Mode</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>Order Cost</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @up_order.each do |order| %>
        <tr>
          <td>
            <%= link_to order.order_number, support_order_path(order),:remote => true %>
          </td>
          <td>
            <%= order.user.email %>
          </td>
          <td>
            <%= order.payment_mode %>
          </td>
          <td>
            <%= order.payment_status %>
          </td>
          <td>
            <%= order.status %>
          </td>
          <td><%= order.order_cost %></td>
          <td><%= order.created_at.strftime("%I:%M %p %d %b %Y") %></td>
          <td> <%= link_to '', edit_support_order_path(order),:class => "glyphicon glyphicon-pencil text-success",:remote => true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>   
    </div>   
<% end %>


<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#up_orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>