<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-pencil-square-o"> &nbsp;
      <%= link_to "Orders", support_orders_path,:remote => true %>
    </li>
    <li>
       <%= link_to @order.order_number, support_order_path( @order),:remote => true %>
    </li>
    <li class="active">Edit Order</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

  
<% if @order.status == "up" %>            
  <div class="normal_form">
    <div class="col-sm-12 col-xs-12 order_form">
      <div class="row">  
        <%= render partial: "order_form" %>
      </div>
    </div>  
    </br/>  
    <div class="col-sm-4 col-xs-12 ship_form">
      <%= render partial: "ship_form" %>
    </div>   
  <% else %>
    <div class="text-muted text-center" style="margin-top:10%">Sorry You Cannot Edit This Order</div>  
  <% end %>
</div>
<div class="preview_form">
</div>
     
              