<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-pencil-square-o"> &nbsp;</i>Orders</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
 
<div class="col-xs-12 col-sm-12">
  <div class="searchable_content2">

      <br />
      
      <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#all_orders" role="tab" data-toggle="tab">All Orders</a></li>
        <li><a href="#up" role="tab" data-toggle="tab">UNPROCESSED ORDER</a></li>
        <li><a href="#wh" role="tab" data-toggle="tab">WAREHOUSE ASSIGNED ORDER</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="all_orders">
          <% if @orders.present? %>
            <div class=" table-responsive">
            <div class="table-header">
            ORDERS LIST
          </div>   
             <table id="orders_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Order Number</th>
                  <th>User</th>
                  <th>Payment Mode</th>
                  <th>Payment Status</th>
                  <th>Order Status</th>
                  <th>Order Cost</th>
                  <th>Created At</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                <tr>
                  <td>
                    <%= link_to order.order_number, support_order_path(order),:remote => true %>
                  </td>
                  <td>
                    <%= order.user.email %>
                  </td>
                  <td>
                    <%= order.payment_mode %>
                  </td>
                  <td>
                    <%= order.payment_status %>
                  </td>
                  <td>
                    <%= order.status %>
                  </td>
                  <td><%= order.order_cost %></td>
                  <td><%= order.created_at.strftime("%I:%M %p %d %b %Y") %></td>
                  <td> <%= link_to '', edit_support_order_path(order),:class => "glyphicon glyphicon-pencil text-success",:remote => true %></td>
                </tr>
                <% end %>
              </tbody>
            </table>  
            </div>    
          <% end %>
        </div>
        <div class="tab-pane up_orders" id="up">
          <%= render "up_orders" %>
        </div>
        <div class="tab-pane wh_orders" id="wh">
          <%= render "wh_orders" %>
        </div>
      </div>
  </div> 
</div>

<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>

 
<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#orders_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>