<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><%= link_to "Orders", support_orders_path,:remote => true %></li>
    <li class="active"> <%= @order.order_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <% if @order.cancel.nil? %>
      <% if @order.check_support_cancel_order_status %>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#order_myModal">Cancel</button>
      <% end %>
    <% else %>
      <strong class = "text-danger fs14" >Order Cancelled</strong>
    <% end %>
      <%= link_to "Edit Order", edit_support_order_path(@order), :class => "btn btn-success btn-sm",:remote => true %>
      <% if @order.order_revocations.first.present? %>
        <%= link_to "Order Revocation", support_order_order_revocation_index_path(@order), :class => "btn btn-success btn-sm",:remote => true %>
      <% end %>
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <br />
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#order_tab" role="tab" data-toggle="tab">Order</a></li>
    <li role="presentation"><a href="#consignment_tab" role="tab" data-toggle="tab">Consignments</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="order_tab">
      <%= render partial: "order_list" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="consignment_tab">
      <%= render partial: "consignment_list" %>
    </div>
  </div>


 </div>

 
<style>
.left-detail-sec {
border: 1px solid #CCC;
width: 67%;
}
.fl {
float: left;
}
.step-sec {
background-color: #ecebeb;
height: 45px;
padding-left: 46px;
}
.mb10 {
margin-bottom: 10px;
}
.step-sec div.active {
background-color: #FFF;
color: #ef8d2c;
cursor: text;
}
.bg-f0f0 {
background: #f0f0f0;
}
.step-sec div {
color: #a19f9f;
float: left;
font: bold 14px/25px arial;
padding: 10px 0 10px 10px;
position: relative;
width: 31%;
}
.mt10 {
margin-top: 10px;
}
.order-summary table {
border-collapse: collapse;
width: 100%;
margin: 0px 7px 0;
}
.full-width {
float: left;
width: 100%;
}
.shipping-left {
margin: 0 0 10px 3px;
width: 45%;
}
.pl10 {
padding-left: 10px;
}

.pr10 {
padding-right: 10px;
}
.fl {
float: left;
}
.address {
word-wrap: break-word;
}
.shipping-right {
width: 54%;
}
.pb25 {
padding-bottom: 25px;
}
.fr {
float: right;
}
.shipping-right input.save {
border: 0 none;
height: 32px;
margin: 10px 0 0 98px;
width: 147px;
color: #fff;
font-weight: normal;
}
.right-order-sec {
width: 32%;
}
.fr {
float: right;
}
.order-summary {
padding: 0;
}
.shipping-order {
border-bottom: 1px solid #d3d3d3;
box-shadow: 0 2px 4px 0 #eaeaea;
-moz-box-shadow: 0 2px 4px 0 #eaeaea;
-webkit-box-shadow: 0 2px 4px 0 #eaeaea;
}
.clrfix {
display: block;
}
.p3{
  padding:3px;
}
.mb15 {
margin-bottom: 15px;
}

.shipping-head {
line-height: 24px;
}
.ml7 {
margin-left: 7px;
}
.pb5 {
padding-bottom: 5px;
}
.pt5 {
padding-top: 5px;
}
.ml7 {
margin-left: 7px;
}
.mb5 {
margin-bottom: 5px;
}
.mt5 {
margin-top: 5px;
}
.fs18 {
font-size: 18px;
}
.f-bold {
font-weight: bold;
}
.fl {
float: left;
}

.btn-common:hover {
border: 1px solid #de6823;
background-color: #eb7c00;
box-shadow: 1px 1px 2px rgba(50,50,50,0.2);
background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#eb7c00),to(#ffa000));
background-image: -webkit-linear-gradient(top,#ffa000,#eb7c00);
background-image: -moz-linear-gradient(top,#ffa000,#eb7c00);
background-image: -ms-linear-gradient(top,#ffa000,#eb7c00);
background-image: -o-linear-gradient(top,#ffa000,#eb7c00);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffa000',EndColorStr='#eb7c00');
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
.btn-common1{
background-color: #333;
color:white;
}
.btn-common {
border: 1px solid #eb7f23;
background-color: #fa8e1f;
border-radius: 3px;
box-shadow: 1px 1px 2px rgba(50,50,50,0.2);
font: bold 14px/16px arial;
outline: 0;
background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f27d1d),to(#fac392));
background-image: -webkit-linear-gradient(top,#fac392,#f27d1d);
background-image: -moz-linear-gradient(top,#fac392,#f27d1d);
background-image: -ms-linear-gradient(top,#fac392,#f27d1d);
background-image: -o-linear-gradient(top,#fac392,#f27d1d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fac392',EndColorStr='#f27d1d');
}
.footer_hover :hover{
  background:none !important;
  color:#333;
}
.footer_padd > a:hover{
  text-decoration:none;
  color:#e74847;
}
.footer_li > li:hover{
  background:#fff !important;
}
.social_hover:hover{
  background:#000 !important;
  opacity:0.7%;
}
.social_hover > a:hover{
  text-decoration: none;
  cursor:pointer;
  color:#666666 !important;
  background:#000 !important;
}





.idealforms-field-width{width:619.3333333333334px}
form.idealforms{zoom:1;line-height:1.5;}
form.idealforms:before,form.idealforms:after{content:"";display:table}
form.idealforms:after{clear:both}
form.idealforms *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
form.idealforms .field{position:relative;float:left;clear:both;margin:.35em 0}
form.idealforms label.main,form.idealforms .field > input,form.idealforms select,form.idealforms button,form.idealforms textarea,form.idealforms .field .group{float:left}
form.idealforms label.main{width:120px;margin-top:.55em}
form.idealforms input,form.idealforms textarea,form.idealforms select,form.idealforms .field .group{margin:0;padding:0;border:0;outline:0;width:290px;padding:.55em;border:1px solid #999;outline:0;-webkit-border-radius:3.01px;border-radius:3.01px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.15);box-shadow:inset 0 1px 2px rgba(0,0,0,0.15)}
form.idealforms input{-webkit-transition:background 0.3s ease-in-out;-moz-transition:background 0.3s ease-in-out;-o-transition:background 0.3s ease-in-out;-ms-transition:background 0.3s ease-in-out;transition:background 0.3s ease-in-out}
form.idealforms textarea{width:435px}
form.idealforms select,form.idealforms button{color:#444;background:#eee;background:-webkit-linear-gradient(#fff, #ddd);background:-moz-linear-gradient(#fff, #ddd);background:-o-linear-gradient(#fff, #ddd);background:-ms-linear-gradient(#fff, #ddd);background:linear-gradient(#fff, #ddd);border:1px solid #aaa;border-bottom-color:#919191;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);box-shadow:0 1px 2px rgba(0,0,0,0.15);-webkit-border-radius:3.01px;border-radius:3.01px;padding:.55em 1.5em;cursor:pointer;}
form.idealforms select:hover,form.idealforms button:hover{background:-webkit-linear-gradient(#fff, #eaeaea);background:-moz-linear-gradient(#fff, #eaeaea);background:-o-linear-gradient(#fff, #eaeaea);background:-ms-linear-gradient(#fff, #eaeaea);background:linear-gradient(#fff, #eaeaea)}
form.idealforms select:active,form.idealforms button:active,form.idealforms select:active:focus,form.idealforms button:active:focus{color:#444;background:#eee;background:-webkit-linear-gradient(#fff, #ddd);background:-moz-linear-gradient(#fff, #ddd);background:-o-linear-gradient(#fff, #ddd);background:-ms-linear-gradient(#fff, #ddd);background:linear-gradient(#fff, #ddd);border:1px solid #aaa;border-bottom-color:#919191;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);box-shadow:0 1px 2px rgba(0,0,0,0.15);-webkit-border-radius:3.01px;border-radius:3.01px;background:#ddd}
form.idealforms select:focus,form.idealforms button:focus{outline:none;border-color:#3f9dcc;-webkit-box-shadow:0 0 1px #3f9dcc;box-shadow:0 0 1px #3f9dcc}
form.idealforms button{width:auto}
form.idealforms select{padding:.55em;}
form.idealforms select:focus{border:1px solid #444}
form.idealforms input[type="file"]{padding:0}
form.idealforms .field .group{position:relative;padding:1.25em;-webkit-box-shadow:none;box-shadow:none;}
form.idealforms .field .group label{float:left;clear:both;padding:.15em 0;}
form.idealforms .field .group input,form.idealforms .field .group label{margin:0}
form.idealforms .field .group input{width:auto;margin-right:.5em;-webkit-box-shadow:none;box-shadow:none}
form.idealforms .field .group label{margin-right:1em;}
form.idealforms .field .group label:last-of-type{margin:0}
form.idealforms .field.valid input,form.idealforms .field.valid select,form.idealforms .field.valid textarea,form.idealforms .field.valid .group{color:#18445a;background:#edf7fc;border-color:#3f9dcc}
form.idealforms .field.invalid input,form.idealforms .field.invalid select,form.idealforms .field.invalid textarea,form.idealforms .field.invalid .group{color:#430e08;background:#ffeded;border-color:#cc2a18}
form.idealforms .field.valid .group,form.idealforms .field.invalid .group,form.idealforms .field.valid textarea,form.idealforms .field.invalid textarea,form.idealforms .field.valid select,form.idealforms .field.invalid select{color:inherit;background:none}
form.idealforms .field.valid select,form.idealforms .field.invalid select{background:-webkit-linear-gradient(#fff, #ddd);background:-moz-linear-gradient(#fff, #ddd);background:-o-linear-gradient(#fff, #ddd);background:-ms-linear-gradient(#fff, #ddd);background:linear-gradient(#fff, #ddd)}
form.idealforms .field .icon{position:absolute;width:16px;height:16px;top:50%;left:100%;margin-top:-8px;margin-left:8px;background:url("../img/validation.png") -16px 0 no-repeat;cursor:pointer}
form.idealforms .field.invalid .icon{background-position:-16px 0}
form.idealforms .field.valid .icon{background-position:0 0;cursor:default}
form.idealforms .field.invalid .group input,form.idealforms .field.valid .group input{border:0;outline:0;-webkit-box-shadow:none;box-shadow:none}
form.idealforms .field.ajax input{color:#463a09;background:#faf9e8;border-color:#cfaa19}
form.idealforms .field.ajax .icon{background:url("../img/loading.gif")}
form.idealforms .error{display:none;position:absolute;z-index:1;left:100%;top:50%;padding:1em 1.5em;width:193.33333333333334px;margin-left:40px;background:#285d85;background:-webkit-linear-gradient(#285d85, #3070a0);background:-moz-linear-gradient(#285d85, #3070a0);background:-o-linear-gradient(#285d85, #3070a0);background:-ms-linear-gradient(#285d85, #3070a0);background:linear-gradient(#285d85, #3070a0);color:#fff;font-size:85%;font-weight:bold;text-shadow:0 1px 0 rgba(0,0,0,0.3);line-height:1.35;border:1px solid #1c425e;-webkit-border-radius:0 3.01px 3.01px 3.01px;border-radius:0 3.01px 3.01px 3.01px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15);box-shadow:0 1px 1px rgba(0,0,0,0.15);}
form.idealforms .error:after{content:"";position:absolute;z-index:-1;top:-1px;left:-.7em;border-width:.7em;border-style:solid;border-color:transparent;border-top-color:#285d85}
form.idealforms .idealforms-field-checkbox .icon,form.idealforms .idealforms-field-radio .icon,form.idealforms .idealforms-field-textarea .icon{top:8px;margin-top:0}
form.idealforms .idealforms-field-checkbox .error,form.idealforms .idealforms-field-radio .error,form.idealforms .idealforms-field-textarea .error{top:1.25em}
form.idealforms.adaptive .field{float:none;max-width:290px;zoom:1}
form.idealforms.adaptive .field:before,form.idealforms.adaptive .field:after{content:"";display:table}
form.idealforms.adaptive .field:after{clear:both}
form.idealforms.adaptive label.main{display:block;float:none;width:auto;padding-bottom:.5em}
form.idealforms.adaptive input,form.idealforms.adaptive textarea,form.idealforms.adaptive select,form.idealforms.adaptive .field .group{width:100%}
form.idealforms.adaptive .field .icon{top:0;margin-top:3.2em}
form.idealforms.adaptive .error{position:relative;float:left;clear:both;width:100%;left:0;margin-left:0;margin-top:3px;-webkit-border-radius:3.01px;border-radius:3.01px;}
form.idealforms.adaptive .error:after{top:2px;left:50%;margin-top:-1.4em;margin-left:-.35em;border-color:transparent;border-bottom-color:#285d85}
form.idealforms.adaptive .error.hidden{position:absolute;visibility:hidden}
form.idealforms.adaptive .idealforms-field-checkbox .error,form.idealforms.adaptive .idealforms-field-radio .error,form.idealforms.adaptive .idealforms-field-textarea .error{top:0}
.idealsteps-container *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.idealsteps-step{display:none;zoom:1}
.idealsteps-step:before,.idealsteps-step:after{content:"";display:table}
.idealsteps-step:after{clear:both}
.idealsteps-nav{color:#444;background:#eee;background:-webkit-linear-gradient(#fff, #ddd);background:-moz-linear-gradient(#fff, #ddd);background:-o-linear-gradient(#fff, #ddd);background:-ms-linear-gradient(#fff, #ddd);background:linear-gradient(#fff, #ddd);border:1px solid #aaa;border-bottom-color:#919191;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);box-shadow:0 1px 2px rgba(0,0,0,0.15);-webkit-border-radius:3.01px;border-radius:3.01px;overflow:hidden;margin-bottom:2em;}
.idealsteps-nav ul{margin:0;padding:0;border:0;outline:0;list-style:none}
.idealsteps-nav li{float:left}
.idealsteps-nav a{position:relative;float:left;padding:0 1.5em 0 2.75em;height:3.5em;line-height:3.5em;text-decoration:none;color:#5e5e5e;background:#ddd;-webkit-transition:padding 0.2s ease-in-out;-moz-transition:padding 0.2s ease-in-out;-o-transition:padding 0.2s ease-in-out;-ms-transition:padding 0.2s ease-in-out;transition:padding 0.2s ease-in-out;}
.idealsteps-nav a:focus{outline:0}
.idealsteps-nav a:hover{background:#eaeaea;}
.idealsteps-nav a:hover:after{border-left-color:#eaeaea}
.idealsteps-nav a:after,.idealsteps-nav a:before{content:"";position:absolute;z-index:1;top:0;right:-2em;margin-right:0;margin-top:-.125em;border-width:2em 1em;border-style:solid;border-color:transparent;border-left-color:#ddd}
.idealsteps-nav a:before{margin-right:-1px;border-left-color:#aaa}
.idealsteps-nav li:first-child a{padding-left:1.75em;-webkit-border-top-left-radius:3.01px;border-top-left-radius:3.01px;-webkit-border-bottom-left-radius:3.01px;border-bottom-left-radius:3.01px;}
.idealsteps-nav li.idealsteps-step-active a{padding-right:3.5em;background:#fff;color:#3f9dcc;font-weight:bold;cursor:default;}
.idealsteps-nav li.idealsteps-step-active a:after{border-left-color:#fff}
.idealsteps-nav li.idealsteps-step-active .counter{opacity:1;-ms-filter:none;filter:none}
.idealsteps-nav .counter{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);position:absolute;top:50%;right:1em;height:1.5em;width:1.5em;margin-top:-.75em;line-height:1.5 !important;text-align:center;color:#cc2a18;border:1px solid #cc2a18;-webkit-border-radius:10em;border-radius:10em;-webkit-transition:opacity 0.2s ease-in-out;-moz-transition:opacity 0.2s ease-in-out;-o-transition:opacity 0.2s ease-in-out;-ms-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out;}
.idealsteps-nav .counter.zero{color:#3f9dcc;border-color:#3f9dcc}
form.idealforms .ideal-radiocheck-label{display:inline-block;padding:.25em 0 !important;cursor:pointer;}
form.idealforms .ideal-radiocheck-label input{float:left}
form.idealforms .ideal-check,form.idealforms .ideal-radio{float:left;margin-right:10px !important;width:20px;height:20px;background:url("../img/radiocheck.png") 0 0}
form.idealforms .ideal-check.focus{background-position:-20px 0}
form.idealforms .ideal-check.checked{background-position:-40px 0}
form.idealforms .ideal-check.checked.focus{background-position:-60px 0}
form.idealforms .ideal-radio{background-position:0 bottom}
form.idealforms .ideal-radio.focus{background-position:-20px bottom}
form.idealforms .ideal-radio.checked{background-position:-40px bottom}
form.idealforms .ideal-radio.checked.focus{background-position:-60px bottom}
form.idealforms .ideal-file-wrap{float:left}
form.idealforms .ideal-file-filename{float:left;width:204px;height:100%;-webkit-border-radius:0;border-radius:0;-webkit-border-top-left-radius:3.01px;border-top-left-radius:3.01px;-webkit-border-bottom-left-radius:3.01px;border-bottom-left-radius:3.01px;}
form.idealforms .ideal-file-upload{color:#444;background:#eee;background:-webkit-linear-gradient(#fff, #ddd);background:-moz-linear-gradient(#fff, #ddd);background:-o-linear-gradient(#fff, #ddd);background:-ms-linear-gradient(#fff, #ddd);background:linear-gradient(#fff, #ddd);border:1px solid #aaa;border-bottom-color:#919191;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);box-shadow:0 1px 2px rgba(0,0,0,0.15);-webkit-border-radius:3.01px;border-radius:3.01px;padding:.55em 1.5em;cursor:pointer;overflow:visible;position:relative;float:right;left:-1px;width:87px;padding-left:0;padding-right:0;text-align:center;-webkit-border-radius:0;border-radius:0;-webkit-border-top-right-radius:3.01px;border-top-right-radius:3.01px;-webkit-border-bottom-right-radius:3.01px;border-bottom-right-radius:3.01px;}
form.idealforms .ideal-file-upload:hover{background:-webkit-linear-gradient(#fff, #eaeaea);background:-moz-linear-gradient(#fff, #eaeaea);background:-o-linear-gradient(#fff, #eaeaea);background:-ms-linear-gradient(#fff, #eaeaea);background:linear-gradient(#fff, #eaeaea)}
form.idealforms .ideal-file-upload:active,form.idealforms .ideal-file-upload:active:focus{color:#444;background:#eee;background:-webkit-linear-gradient(#fff, #ddd);background:-moz-linear-gradient(#fff, #ddd);background:-o-linear-gradient(#fff, #ddd);background:-ms-linear-gradient(#fff, #ddd);background:linear-gradient(#fff, #ddd);border:1px solid #aaa;border-bottom-color:#919191;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);box-shadow:0 1px 2px rgba(0,0,0,0.15);-webkit-border-radius:3.01px;border-radius:3.01px;background:#ddd}
form.idealforms .ideal-file-upload:focus{outline:none;border-color:#3f9dcc;-webkit-box-shadow:0 0 1px #3f9dcc;box-shadow:0 0 1px #3f9dcc}
form.idealforms.adaptive .ideal-file-wrap{width:100%}
form.idealforms.adaptive .ideal-file-filename{width:70%}
form.idealforms.adaptive .ideal-file-upload{width:30%}
.ideal-file-upload.ie{line-height:1.15}
.idealforms input.datepicker.open{border-bottom-color:transparent;-webkit-border-radius:0;border-radius:0;-webkit-border-top-left-radius:3.01px;border-top-left-radius:3.01px;-webkit-border-top-right-radius:3.01px;border-top-right-radius:3.01px;}
.ui-datepicker{display:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:290px;margin-top:-2px;padding:.75em;background:#fff;border:1px solid #999;-webkit-border-bottom-left-radius:3.01px;border-bottom-left-radius:3.01px;-webkit-border-bottom-right-radius:3.01px;border-bottom-right-radius:3.01px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2)}
.ui-datepicker-header{position:relative;padding:.2em 0;margin-bottom:.75em;font-weight:bold;}
.ui-datepicker-header .ui-datepicker-title{text-align:center}
.ui-datepicker-header .ui-datepicker-prev,.ui-datepicker-header .ui-datepicker-next{text-indent:-9999px;width:16px;height:16px;position:absolute;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:url("../img/datepicker.png") 0 0;}
.ui-datepicker-header .ui-datepicker-prev:active,.ui-datepicker-header .ui-datepicker-next:active{margin-top:1px}
.ui-datepicker-header .ui-datepicker-next{background-position:-16px 0}
.ui-datepicker-header .ui-datepicker-prev{left:8px}
.ui-datepicker-header .ui-datepicker-next{right:8px}
.ui-datepicker-calendar{width:100%;border-collapse:collapse;table-layout:fixed;}
.ui-datepicker-calendar td{padding:.25em 0;text-align:center}
.ui-datepicker-calendar a{display:block;text-decoration:none;color:#808080;}
.ui-datepicker-calendar a:hover{color:#3f9dcc;font-weight:bold}
.ui-datepicker-calendar .ui-datepicker-today a{margin:0 .25em;background:#eee;-webkit-border-radius:3.01px;border-radius:3.01px}
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
  text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


audio,
canvas,
video {
    display: inline-block;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden],
template {
    display: none;
}


html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}


body {
    margin: 0;
}


a {
    background: transparent;
}


a:focus {
    outline: thin dotted;
}


a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


abbr[title] {
    border-bottom: 1px dotted;
}


b,
strong {
    font-weight: bold;
}


dfn {
    font-style: italic;
}


hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}


mark {
    background: #ff0;
    color: #000;
}


code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}


pre {
    white-space: pre-wrap;
}


q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}


small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}



img {
    border: 0;
}


svg:not(:root) {
    overflow: hidden;
}



figure {
    margin: 0;
}





legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}



button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}



button[disabled],
html input[disabled] {
    cursor: default;
}


input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.btn{
  background:#fff;
  color:#000 !important;
}
.btn:hover{
  color:#fff !important;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-open .modal {
/* overflow-x: hidden; */
/* overflow-y: auto; */
}
.modal {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1050;
display: none;
overflow: hidden;
-webkit-overflow-scrolling: touch;
outline: 0;
}
.fade {
/* opacity: 0; */
/* -webkit-transition: opacity .15s linear; */
-o-transition: opacity .15s linear;
/* transition: opacity .15s linear; */
}

</style>