<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="fa fa-ticket"></i>&nbsp;&nbsp;Tickets</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end -->  
 
</div><br/>

<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
<div class="row">
<div class="col-xs-12 col-sm-12">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#general_ticket" role="tab" data-toggle="tab">General Tickets</a></li>
    <li><a href="#order_ticket" role="tab" data-toggle="tab">Order Tickets</a></li>
    <li><a href="#voucher_ticket" role="tab" data-toggle="tab">Voucher Tickets</a></li>
    <li><a href="#task_assigned_ticket" role="tab" data-toggle="tab">Task Assigned Tickets</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="general_ticket">
      <% if @general_tickets.present? %>
          <div class="table-responsive">
          <table id="orders_general_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Task Number</th>
                 <th>Ticket Number</th>
                  <th>Assigned By</th>
                  <th>Reason</th>
                  <th>Priority</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
               <% @general_tickets.each do |task_ticket| %>
                <tr>
                  <td>
                     <%= link_to task_ticket.task_number, support_ticket_task_path(task_ticket),:remote => true %>
                  </td>
                  <td>
                     <%= task_ticket.ticket.ticket_number %>
                  </td>
                  <td>
                    <%= User.find(task_ticket.assigned_by).email %>
                  </td>
                  <td>
                     <%= task_ticket.ticket.reason %>
                  </td>
                  <td>
                    <% if task_ticket.priority == "high" %>
                      <span class="label label-danger">&nbsp&nbsp&nbspHigh&nbsp&nbsp&nbsp</span>
                    <% elsif task_ticket.priority == "medium" %>
                      <span class="label label-warning">&nbsp&nbsp&nbspMedium&nbsp&nbsp&nbsp</span>
                    <% else %>
                      <span class="label label-info">&nbsp&nbsp&nbspLow&nbsp&nbsp&nbsp</span>
                    <% end %>
                  </td>
                   <td>
                     <%= task_ticket.status %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>  
            </div>
            <% else %>
               <div class="row text-center">
                   <br/>NO TICKETS
               </div>
            <% end %>
    </div>
    <div class="tab-pane" id="order_ticket">
      <% if @order_tickets.present? %>
          <table id="orders_ticket_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
          <thead>
            <tr>
              <th>Task Number</th>
             <th>Ticket Number</th>
              <th>Assigned By</th>
              <th>Reason</th>
              <th>Priority</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
           <% @order_tickets.each do |task_ticket| %>
            <tr>
              <td>
                 <%= link_to task_ticket.task_number, support_ticket_task_path(task_ticket),:remote => true %>
              </td>
              <td>
                 <%= task_ticket.ticket.ticket_number %>
              </td>
              <td>
                <%= User.find(task_ticket.assigned_by).email %>
              </td>
              <td>
                 <%= task_ticket.ticket.reason %>
              </td>
              <td>
                <% if task_ticket.priority == "high" %>
                  <span class="label label-danger">&nbsp&nbsp&nbspHigh&nbsp&nbsp&nbsp</span>
                <% elsif task_ticket.priority == "medium" %>
                  <span class="label label-warning">&nbsp&nbsp&nbspMedium&nbsp&nbsp&nbsp</span>
                <% else %>
                  <span class="label label-info">&nbsp&nbsp&nbspLow&nbsp&nbsp&nbsp</span>
                <% end %>
              </td>
               <td>
                 <%= task_ticket.status %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>  
       <% else %>
           <div class="row text-center">
               <br/>NO TICKETS
           </div>
        <% end %> 
    </div>
    <div class="tab-pane" id="voucher_ticket">
      <% if @voucher_tickets.present? %>
          <table id="orders_voucher_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Task Number</th>
                 <th>Ticket Number</th>
                  <th>Assigned By</th>
                  <th>Reason</th>
                  <th>Priority</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @voucher_tickets.each do |task_ticket| %>
                <tr>
                  <td>
                     <%= link_to task_ticket.task_number, support_ticket_task_path(task_ticket),:remote => true %>
                  </td>
                  <td>
                     <%= task_ticket.ticket.ticket_number %>
                  </td>
                  <td>
                    <%= User.find(task_ticket.assigned_by).email %>
                  </td>
                  <td>
                     <%= task_ticket.ticket.reason %>
                  </td>
                  <td>
                    <% if task_ticket.priority == "high" %>
                      <span class="label label-danger">&nbsp&nbsp&nbspHigh&nbsp&nbsp&nbsp</span>
                    <% elsif task_ticket.priority == "medium" %>
                      <span class="label label-warning">&nbsp&nbsp&nbspMedium&nbsp&nbsp&nbsp</span>
                    <% else %>
                      <span class="label label-info">&nbsp&nbsp&nbspLow&nbsp&nbsp&nbsp</span>
                    <% end %>
                  </td>
                   <td>
                     <%= task_ticket.status %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>  
            <% else %>
               <div class="row text-center">
                   <br/>NO TICKETS
               </div>
            <% end %> 
    </div>
    <div class="tab-pane" id="task_assigned_ticket">
  <% if @task_assigned_tickets.present? %>
          <table id="orders_task_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Task Number</th>
                 <th>Ticket Number</th>
                  <th>Assigned By</th>
                  <th>Assigned To</th>
                  <th>Reason</th>
                  <th>Priority</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @task_assigned_tickets.each do |task_ticket| %>
                <tr>
                  <td>
                     <%= link_to task_ticket.task_number, support_ticket_task_path(task_ticket),:remote => true %>
                  </td>
                  <td>
                     <%= task_ticket.ticket.ticket_number %>
                  </td>
                  <td>
                    <%= User.find(task_ticket.assigned_by).email %>
                  </td>
                  <td>
                   <%= User.find(task_ticket.tasks.first.assigned_to).email %>
                  </td>
                  <td>
                     <%= task_ticket.ticket.reason %>
                  </td>
                  <td>
                    <% if task_ticket.priority == "high" %>
                      <span class="label label-danger">&nbsp&nbsp&nbspHigh&nbsp&nbsp&nbsp</span>
                    <% elsif task_ticket.priority == "medium" %>
                      <span class="label label-warning">&nbsp&nbsp&nbspMedium&nbsp&nbsp&nbsp</span>
                    <% else %>
                      <span class="label label-info">&nbsp&nbsp&nbspLow&nbsp&nbsp&nbsp</span>
                    <% end %>
                  </td>
                   <td>
                     <%= task_ticket.status %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>  
            <% else %>
               <div class="row text-center">
                   <br/>NO TICKETS
               </div>
            <% end %> 
    </div>
  </div>
</div>
</div>
</div>