<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-ticket"></i>&nbsp;&nbsp;<%= link_to "Tickets" , support_tickets_path, :remote => true%></li>
    <li class="active"><%= @support_ticket_task.ticket_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <% if @support_ticket_task.status == "up" %>
      <%= form_for(@support_ticket_task,:remote => true) do |f| %>
        <%= f.hidden_field :status,:value => "inprogress" %>
        <%= f.submit "CLICK TO PROCED",:class => "btn btn-primary btn-sm" %>
      <% end %>
    <% elsif  @support_ticket_task.status == "inprogress" %>
      <span class="btn btn-success btn-sm">IN PROGRESS</span>
    <% elsif  @support_ticket_task.status == "completed" %>
      <span class="btn btn-success btn-sm">COMPLETED</span>
    <% end %>
  </div>
  <!-- button panel end --> 
 
</div>
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
<div class="row">
    <div class="col-xs-12 col-sm-12">
       <div class = "">
        <div class="col-sm-7 col-xs-12"> 
          <div class="widget-box widget-color-blue">
              <div class="widget-header">
                <h5 class="widget-title bigger lighter">TICKET DETAILS</h5>
              </div>
               <div class="widget-body">
                  <div class="widget-main">
            <div class="row info-borders">
              <div class="col-sm-3 text-info"><strong>Ticket Number</strong></div>
              <div class="col-sm-9"><%= @support_ticket_task.ticket_number %></div>
            </div><br/>
            <div class="row info-borders">
              <div class="col-sm-3 text-info"><strong>Subject</strong></div>
              <div class="col-sm-9"><%= @support_ticket_task.subject %></div>
            </div><br/>
            <div class="row info-borders">
              <div class="col-sm-3 text-info"><strong>Status</strong></div>
              <div class="col-sm-9"><%= @support_ticket_task.status %></div>
            </div><br/>
            <div class="row info-borders">
              <div class="col-sm-3 text-info"><strong>User</strong></div>
              <div class="col-sm-9">
              <% if @support_ticket_task.user_id.present? %>
                <%= @support_ticket_task.user.email %>
              <% else %>
                <%=  @support_ticket_task.email %>
              <% end %></div>
            </div><br/>
            <div class="row info-borders">
              <div class="col-sm-3 text-info"><strong>Ticket Content</strong></div>
              <div class="col-sm-9"><%= @support_ticket_task.body %></div>
            </div><br/>
            </div>
          </div>
        </div></div>
        <div class="col-sm-5 col-xs-12"> 
        <% if @support_ticket_task.status != "up" %>
          <div class ="row">
            <% if @new_ticket_reply.present? && @support_ticket_task.ticket_tasks.first.nil? %>
            <%= form_for(@new_ticket_reply) do |f| %>
              <div class="widget-box widget-color-green">
                  <div class="widget-header">
                    <h5 class="widget-title bigger lighter">REPLY</h5>
                  </div>

                  <div class="widget-body">
                    <div class="widget-main">
                      <div class="row info-borders">
                          <div class="col-sm-1 text-info">
                          </div>
                          <div class="col-sm-10 text-info">
                            <%= f.hidden_field :ticket_id,:value => @support_ticket_task.id %>
                            <div class="row text-info"><strong>From</strong><br/>
                              <%= f.text_field :from_email,:class => "form-control reply_from_email" %>
                              <span id="reply_from_email_error1" class="error_list" style="display:none;"></span>
                            </div><br/>
                            <div class="row text-info"><strong>To</strong><br/>
                              <% if @support_ticket_task.user_id.present? %>
                                <%= f.text_field :to_email,:value => @support_ticket_task.user.email,:class => "form-control reply_to_email" %>
                              <% else %>
                                <%= f.text_field :to_email,:value => @support_ticket_task.email,:class => "form-control reply_to_email" %>
                              <% end %>
                              <span id="reply_to_email_error1" class="error_list" style="display:none;"></span>
                            </div><br/>
                            <div class="row text-info"><strong>Body</strong><br/>
                              <%= f.text_area :body,:class => "form-control reply_body" %>
                              <span id="reply_body_error1" class="error_list" style="display:none;"></span>
                            </div><br/>
                            <div class="row text-info">
                              <%= f.submit "REPLY",:class => "btn-success btn "%>
                            </div>
                          </div>
                        </div><br/><br/>
                    </div>
                  </div>
            </div>
            <% end %><br/><br/>
          <% elsif @support_ticket_task.ticket_tasks.first.nil? && @ticket_reply.present? %>
            <div class="widget-box widget-color-green">
                <div class="widget-header">
                  <h5 class="widget-title bigger lighter">REPLY</h5>
                </div>
                 <div class="widget-body">
                    <div class="widget-main">
                        <div class="row info-borders">
                          <div class="col-sm-3 text-info"><strong>From</strong></div>
                          <div class="col-sm-9"><%= @ticket_reply.from_email %></div>
                        </div><br/>
                        <div class="row info-borders">
                          <div class="col-sm-3 text-info"><strong>To</strong></div>
                          <div class="col-sm-9"><%= @ticket_reply.to_email %></div>
                        </div><br/>
                        <div class="row info-borders">
                          <div class="col-sm-3 text-info"><strong>Content</strong></div>
                          <div class="col-sm-9"><%= @ticket_reply.body %></div>
                        </div><br/>
                      </div>
                </div>
            </div>
          <% end %>
          </div>
          <% if @ticket_reply.nil? && @support_ticket_task.ticket_tasks.first.nil? %>
             <div class="widget-box widget-color-blue">
                <div class="widget-header">
                  <h5 class="widget-title bigger lighter">ASSIGN TASK</h5>
                </div>
                 <div class="widget-body">
                    <div class="widget-main">
                        <%= form_for(Support::TicketTask.new) do |f| %>
                          <%= f.hidden_field :ticket_id,:value => @support_ticket_task.id %>
                          <%= f.hidden_field :assigned_by,:value => current_user.id %>
                          <%= f.hidden_field :status,:value => "up" %>
                          <%= f.hidden_field :status,:value => "up" %>
                          <div class="row">
                            <div class="col-sm-8 text-info">
                              <%= f.collection_select :assigned_to, @assigned_user, :id, "combined_value" ,{:prompt => "User"},:class => "form-control assigned_to" %>
                              <span id="assigned_to_error1" class="error_list" style="display:none;width:130px;"></span>
                            </div>
                            <div class="col-sm-4 text-info">
                              <%= f.select :priority, options_for_select(["High", "Medium", "Low"]),{ :prompt => 'Set Priority' }, :class => "form-control priority" %> 
                              <span id="priority_error1" class="error_list" style="display:none;width:130px;"></span>
                            </div>
                          </div><br/><br/>
                          <div class="row text-center">
                            <%= f.submit "ASSIGN",:class => "btn btn-primary" %>
                          </div>
                        <% end %>
                        </div>
                   </div>
            </div>
          <% elsif @support_ticket_task.ticket_tasks.first.present?  %>
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                  <h5 class="widget-title bigger lighter">TASK ASSIGNED</h5>
                </div>
                 <div class="widget-body">
                <div class="widget-main">
                  <div class="row borders">
                    <div class="col-sm-3 text-success">
                      <strong>Assigned To</strong>
                    </div>
                    <div class="col-sm-8">
                      <%= User.find(@support_ticket_task.ticket_tasks.first.assigned_to).email %>
                    </div>
                  </div><br/>
                  <div class="row borders">
                    <div class="col-sm-3 text-success">
                      <strong>Priority</strong>
                    </div>
                    <div class="col-sm-8">
                      <%= @support_ticket_task.ticket_tasks.first.priority %>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          <% end %>
        <% end %>
      </div> 

      </div>
      </div>
    </div>
</div>