
<% if @param.present? %>
  <%= search_form_for(@search,:url => admin_warehouse_dashboard_assigned_pickup_consignments_path(@warehouse),:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
    <span style="display:none" class= "for_count">
      <%= count %> 
    </span> 
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => admin_warehouse_dashboard_assigned_pickup_consignments_path(@warehouse),:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#all" role="tab" data-toggle="tab">All Pickup Consignments</a></li>
      <li><a href="#unconform" role="tab" data-toggle="tab">Task UnAssigned Pickup Consignments</a></li>
      <li><a href="#task" role="tab" data-toggle="tab">Task Assigned Pickup Consignments</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="all"><br/><br/>
        <% if @pickup_consignment.present? %>    
          <div class="panel panel-default">
            <div class=" panel-heading"> 
              <div class="row">
                <div class="col-sm-3 col-xs-3 text-info bold">Pickup Consignment Number <br />(Consignment Cost)</div>
                <div class="col-sm-2 col-xs-2 text-info bold">Order Number</div>
                <div class="col-sm-2 col-xs-2 text-info bold">Created_At</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Task Assigned</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Confirmed</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Dispatched</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Delivery Status</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Bussiness Status</div>
              </div>
            </div>
            <div class="panel-body top_space">
              <% @pickup_consignment.each do |pickup_consignment| %>
                <div class="row hoverd">
                  <div class="col-sm-3 col-xs-3">
                    <%= pickup_consignment.pickup_consignment_number %>( Rs. - <%= pickup_consignment.consignment_cost %> )
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <%= pickup_consignment.consignment.order.order_number %>
                  </div>
                  <div class="col-sm-2 col-xs-2">
                    <%= pickup_consignment.created_at.strftime("%d %b %Y") %>
                  </div>
                  <div class="col-sm-1 col-xs-1">
                    <% if pickup_consignment.pickup_tasks.present? %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    <% if pickup_consignment.received == true %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    <% if pickup_consignment.check_for_delivery_status_visibility == true %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                    
                  </div> 
                  <div class="col-sm-1 col-xs-1">
                   
                  </div>                  
                </div>          
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="unconform"><br/>
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
          <% if @pickup_consignment.present? %>
            <div class="panel panel-default">
              <div class=" panel-heading"> 
                <div class="row">
                  <div class="col-sm-3 col-xs-3 text-info bold">Pickup Consignment Number (Consignment Cost)</div>
                  <div class="col-sm-3 col-xs-3 text-info bold">Created_At</div>
                  <div class="col-sm-3 col-xs-3 text-info bold">Order Number</div>
                  <div class="col-sm-3 col-xs-3 text-info bold">Pickup Consignment Status</div>
                </div>
              </div>
              <% flag1 = 0 %>
              <%= form_for(@admin_pickup_task,:url => admin_warehouse_dashboard_pickup_tasks_path(@warehouse),:html => {:id => 'move_to_package_form' }) do |f| %>
                <% if @pickup_consignment.present? %>    
                  <div class="panel-body top_space"><br/>
                    <% @pickup_consignment.each do |pickup_consignment| %>
                      <% if pickup_consignment.pickup_tasks.first.nil? %>
                        <% flag1 = 1 %>
                        <%= f.fields_for :pickup_tasks_pickup_consignments do |builder| %>
                            <div class="row hoverd">
                              <div class="col-sm-3 col-xs-3">
                                <%= pickup_consignment.pickup_consignment_number %> (RS. - <%= pickup_consignment.consignment_cost %>)
                              </div>
                              <div class="col-sm-3 col-xs-3">
                                <%= pickup_consignment.created_at.strftime("%d %b %Y") %>
                              </div>
                              <div class="col-sm-3 col-xs-3">
                                <%= pickup_consignment.consignment.order.order_number %>
                              </div>
                              
                              <div class="col-sm-3 col-xs-3">
                                <%= builder.hidden_field :_pickup_consignment_id,:value => pickup_consignment.id %>
                                <%= builder.check_box :received %>
                              </div>
                            </div>         
                        <% end %>
                      <% end %>
                    <% end %>
                  </div> 
                <% end %>
                <% if flag1 == 1 %>
                  <div class="row">
                    <div class="col-sm-8 col-xs-1"></div>
                    <div class="col-sm-2 col-xs-1">
                    <%= f.submit "Create Delegate" ,:class => "btn btn-primary btn-xs"%>
                    </div>
                  </div><br/>
                <% end %>
              <% end %>
            </div>
          <% end %>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="task"><br/>
        <% if @pickup_consignment.present? %>    
          <div class="panel panel-default">
            <div class=" panel-heading"> 
              <div class="row">
                <div class="col-sm-2 col-xs-2 text-info bold">Pickup Consignment Number <br />(Consignment Cost)</div>
                <div class="col-sm-2 col-xs-2 text-info bold">Order Number</div>
                <div class="col-sm-2 col-xs-2 text-info bold">Created_At</div>
                <div class="col-sm-2 col-xs-2 text-info bold">Task Number</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Confirmed</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Dispatched</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Delivery Status</div>
                <div class="col-sm-1 col-xs-1 text-info bold">Bussiness Status</div>
            </div>
          </div>
            <div class="panel-body top_space">
              <% @pickup_consignment.each do |pickup_consignment| %>
                <% if pickup_consignment.pickup_tasks.present? %>
                  <div class="row hoverd">
                    <div class="col-sm-2 col-xs-2"> 
                      <%= link_to pickup_consignment.pickup_consignment_number, admin_warehouse_dashboard_pickup_task_pickup_consignment_show_path_path(@warehouse, pickup_consignment.pickup_tasks.first,pickup_consignment),:remote => true %><br />( Rs. - <%= pickup_consignment.consignment_cost %> )
                    </div>
                    <div class="col-sm-2 col-xs-2">
                      <%= pickup_consignment.consignment.order.order_number %>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                      <%= pickup_consignment.created_at.strftime("%d %b %Y") %>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                      <%= link_to pickup_consignment.pickup_tasks.first.task_number, admin_warehouse_dashboard_pickup_task_path(@warehouse,pickup_consignment.pickup_tasks.first),:remote => true %>
                    </div> 
                    <div class="col-sm-1 col-xs-1">
                      <% if pickup_consignment.received == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                    </div> 
                    <div class="col-sm-1 col-xs-1">
                      <% if pickup_consignment.check_for_delivery_status_visibility == true%>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                    </div> 
                    <div class="col-sm-1 col-xs-1">
                      
                    </div> 
                    <div class="col-sm-1 col-xs-1">
                      <% if pickup_consignment.pickup_tasks.present? %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                    </div>                  
                
                  </div>  
                <% end %>        
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>