
<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <%= link_to "Home", root_path %>
    </li>
    <li><%= link_to "PickUp Task", admin_warehouse_dashboard_pickup_tasks_path(@warehouse),:remote => true %></li>
    <li><%= link_to @admin_pickup_task.task_number, admin_warehouse_dashboard_pickup_task_path(@warehouse,@admin_pickup_task),:remote => true  %></li>
    <li class="active"><%= @pickup_consignment.pickup_consignment_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

 
<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <% if @pickup_consignment.received == false %>
    <%= render "consignment_regulation" %>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="col-sm-6 col-xs-6">
        <div class="row"> 
          <div class="panel panel-info">
            <div class="panel-heading text-center">
                <strong>ORDER DETAILS</strong> 
              </div>
            <div class="panel-body top_space">
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Order Number</strong></div>
                  <div class="col-sm-9"><%= @order.order_number %></div>
                </div>                    
              </div>
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Paymet Mode</strong></div>
                  <div class="col-sm-9"><%= @order.payment_mode %></div>
                </div>
              </div>
              <div class="row info-borders hoverd">  
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Payment Status</strong></div>
                  <div class="col-sm-9"><%= @order.payment_status %></div>
                </div>
              </div>
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Order Cost</strong></div>
                  <div class="col-sm-9"><%= @order.order_cost %></div>
                </div>
              </div>
              <div class="row info-borders hoverd"> 
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Order Status</strong></div>
                  <div class="col-sm-9"><%= @order.status %></div>
                </div>
              </div>
              <div class="row info-borders hoverd">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Shipping Address</strong></div>
                  <div class="col-sm-9">
                  <%= @order.shipping_address.name %><br/>
                  <%= @order.shipping_address.add_line1 %>,
                      <%= @order.shipping_address.add_line2 %><br/>
                      <%= @order.shipping_address.state %>,
                      <%= @order.shipping_address.country %>-
                      <%= @order.shipping_address.c_code %><br/>
                  <%= @order.shipping_address.pincode %><br/>
                  <%= @order.shipping_address.phone %>
                  </div>
                </div>
              </div>
              <div class="row info-borders hoverd"> 
                <div class="col-sm-12">
                  <div class="col-sm-3 text-info"><strong>Location</strong></div>
                  <div class="col-sm-9"><%= @order.location %><% if @order.ip.present? %>(<%= @order.ip %>)<% end %></div> 
                </div>
              </div>
            </div>
          </div>
        </div><br/>
      </div>
      <div class="col-sm-6 col-xs-6">
        <div class="col-sm-12 col-xs-12">
          <div class="row"> 
          </div>
          <div class = "row">
            <div class="panel panel-info">
              <div class="panel-heading text-center">
                  <strong>Consignment Details</strong> 
                </div>
              <div class="panel-body top_space">
                <div class="row info-borders hoverd">
                  <div class="col-sm-12">
                    <div class="col-sm-6 text-info"><strong>ConsignMent Cost</strong></div>
                    <div class="col-sm-6"><%= @pickup_consignment.consignment_cost %></div> 
                  </div>
                </div>
                <div class="row info-borders hoverd">
                  <div class="col-sm-12">
                    <div class="col-sm-6 text-info"><strong>ConsignMent Conform</strong></div>
                    <div class="col-sm-6"><%= @pickup_consignment.received %></div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @order = @pickup_consignment.consignment.order %>
  <% if @invoice = @pickup_consignment.pickup_consignment_invoices.first.present? %>
    <% @invoice = @pickup_consignment.pickup_consignment_invoices.first %>
    <div class="row">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <strong>PICKUP CONSIGNMENT ITEMS</strong>
        </div>
        <div class="panel-body">
          <div class="row text-center text-success borders">
            <div class="col-sm-2 col-xs-12"><strong>Variant</strong></div>
            <div class="col-sm-1 col-xs-12"><strong>Qty</strong></div>
            <div class="col-sm-2 col-xs-12"><strong>Shipping Plan</strong></div>
            <div class="col-sm-2 col-xs-12"><strong>Purchase Cost</strong></div>
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-2 col-xs-12"></div>
          </div><br/>
          <% a=1 %>
          <% @pickup_consignment.pickup_consignment_items.each do |pickup_consignment_item| %>
            <% @variant = Admin::Variant.find(pickup_consignment_item.variant_id) %>
            <% @shipping = @pickup_consignment.consignment.order.shipping_cost %>
            <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
            <div class="row text-center borders">
              <div class="col-sm-2 col-xs-12"><%= @variant.name %></div>
              <div class="col-sm-1 col-xs-12"><%= pickup_consignment_item.qty %></div>
              <div class="col-sm-2 col-xs-12">
              </div>
              <div class="col-sm-2 col-xs-12">RS. <%= pickup_consignment_item.price %><br/>
                <span class="text-muted">
                  Selling Price: <%= selling_price %><br/>
                  Shipping Cost: <%= @shipping %><br/>
                  Tax: <%= pickup_consignment_item.price - (@shipping + selling_price) %></span>
              </div>
              <% if @pickup_consignment.logistic_id.present? %>
              <div class="col-sm-2 col-xs-12">                    
                <select class="form-control change12" id="er">
                  <option value="one" class= "one<%= a%>">Pending<%= a%></option>
                  <option value="two" class ="two<%= a%>">Received<%= a%></option>
                  <option value="three" class="three<%= a%>">NotReceived<%= a%></option>
                </select>                  
              </div>
              <div class="col-sm-1 col-xs-12">
                <% if pickup_consignment_item.received == true %>
                  <strong class="text-success fs14 pend<%= a%>"> Received</strong>
                <% elsif pickup_consignment_item.received == false %>
                  <strong class="text-success fs14 pend<%= a%>">Not Received</strong>
                  <% else %>
                  <strong class="text-success fs14 pend<%= a%>">Pending</strong>
                <% end %>
              </div>
              <div class ="col-sm-1 col-xs-12">
                <div class="Received<%= a%> re">
                  <%= form_for pickup_consignment_item do |f| %>
                    <%= f.hidden_field :received ,:value => true %>
                    <%= f.submit "Received",:class => "btn btn-primary btn-sm" %>
                  <% end %>
                </div>
                <div class="NotReceived<%= a%> nrecived">
                  <%= form_for pickup_consignment_item do |f| %>
                    <%= f.hidden_field :received ,:value => false %>
                    <%= f.submit "Not Received",:class => "btn btn-primary btn-sm" %>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div><br/>
            <% a+=1 %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
$( document ).ready(function() {
$(".nrecived").hide();
$(".re").hide();
$(document).on('change', '.change12', function(e) {
var class_name = this.options[e.target.selectedIndex].text; 
alert(class_name)  
var q = class_name.substr(class_name.length - 1); 
var result = class_name.slice(0,-1)
    
if(result == "NotReceived"){
  $('.NotReceived' + q).show();
  $('.Received' + q).hide();
  $('.pend' + q).hide();
} 
else if(result == "Received"){
   $('.Received' + q).show();
   $('.NotReceived' + q).hide();
   $('.pend' + q).hide();
}
else{
  $('.Received' + q).hide();
   $('.NotReceived' + q).hide();
   $('.pend' + q).show();
}
});
});
</script>