<%= form_for(@admin_consignment_item_revocation) do |f| %>
  <% if @admin_consignment_item_revocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_consignment_item_revocation.errors.count, "error") %> prohibited this admin_consignment_item_revocation from being saved:</h2>

      <ul>
      <% @admin_consignment_item_revocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consignment_revocation_id %><br>
    <%= f.number_field :consignment_revocation_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br>
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :per_qty_price %><br>
    <%= f.text_field :per_qty_price %>
  </div>
  <div class="field">
    <%= f.label :compensate %><br>
    <%= f.text_field :compensate %>
  </div>
  <div class="field">
    <%= f.label :revocation_mode %><br>
    <%= f.text_field :revocation_mode %>
  </div>
  <div class="field">
    <%= f.label :bank_account_id %><br>
    <%= f.number_field :bank_account_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
