<h1>Listing admin_consignment_item_revocations</h1>

<table>
  <thead>
    <tr>
      <th>Consignment revocation</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Variant</th>
      <th>Per qty price</th>
      <th>Compensate</th>
      <th>Revocation mode</th>
      <th>Bank account</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_consignment_item_revocations.each do |admin_consignment_item_revocation| %>
      <tr>
        <td><%= admin_consignment_item_revocation.consignment_revocation_id %></td>
        <td><%= admin_consignment_item_revocation.price %></td>
        <td><%= admin_consignment_item_revocation.qty %></td>
        <td><%= admin_consignment_item_revocation.variant_id %></td>
        <td><%= admin_consignment_item_revocation.per_qty_price %></td>
        <td><%= admin_consignment_item_revocation.compensate %></td>
        <td><%= admin_consignment_item_revocation.revocation_mode %></td>
        <td><%= admin_consignment_item_revocation.bank_account_id %></td>
        <td><%= admin_consignment_item_revocation.status %></td>
        <td><%= link_to 'Show', admin_consignment_item_revocation %></td>
        <td><%= link_to 'Edit', edit_admin_consignment_item_revocation_path(admin_consignment_item_revocation) %></td>
        <td><%= link_to 'Destroy', admin_consignment_item_revocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consignment item revocation', new_admin_consignment_item_revocation_path %>
