<p id="notice"><%= notice %></p>

<p>
  <strong>Consignment revocation:</strong>
  <%= @admin_consignment_item_revocation.consignment_revocation_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_consignment_item_revocation.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @admin_consignment_item_revocation.qty %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @admin_consignment_item_revocation.variant_id %>
</p>

<p>
  <strong>Per qty price:</strong>
  <%= @admin_consignment_item_revocation.per_qty_price %>
</p>

<p>
  <strong>Compensate:</strong>
  <%= @admin_consignment_item_revocation.compensate %>
</p>

<p>
  <strong>Revocation mode:</strong>
  <%= @admin_consignment_item_revocation.revocation_mode %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @admin_consignment_item_revocation.bank_account_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_consignment_item_revocation.status %>
</p>

<%= link_to 'Edit', edit_admin_consignment_item_revocation_path(@admin_consignment_item_revocation) %> |
<%= link_to 'Back', admin_consignment_item_revocations_path %>
