<h1>Listing admin_order_revocation_items</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Order revocation</th>
      <th>Qty</th>
      <th>Variant</th>
      <th>Per qty price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_order_revocation_items.each do |admin_order_revocation_item| %>
      <tr>
        <td><%= admin_order_revocation_item.price %></td>
        <td><%= admin_order_revocation_item.order_revocation_id %></td>
        <td><%= admin_order_revocation_item.qty %></td>
        <td><%= admin_order_revocation_item.variant_id %></td>
        <td><%= admin_order_revocation_item.per_qty_price %></td>
        <td><%= link_to 'Show', admin_order_revocation_item %></td>
        <td><%= link_to 'Edit', edit_admin_order_revocation_item_path(admin_order_revocation_item) %></td>
        <td><%= link_to 'Destroy', admin_order_revocation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order revocation item', new_admin_order_revocation_item_path %>
