<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @admin_order_revocation_item.price %>
</p>

<p>
  <strong>Order revocation:</strong>
  <%= @admin_order_revocation_item.order_revocation_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @admin_order_revocation_item.qty %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @admin_order_revocation_item.variant_id %>
</p>

<p>
  <strong>Per qty price:</strong>
  <%= @admin_order_revocation_item.per_qty_price %>
</p>

<%= link_to 'Edit', edit_admin_order_revocation_item_path(@admin_order_revocation_item) %> |
<%= link_to 'Back', admin_order_revocation_items_path %>
