<%= form_for(@admin_product_question, :html => {:id => 'product_question_form'}) do |f| %>
  <% if @admin_product_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_product_question.errors.count, "error") %> prohibited this admin_product_question from being saved:</h2>
      <ul>
      <% @admin_product_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br/>
  <div class="fields form-inline">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <%= f.label :question, "Question" %>
      </div>
      <div class="col-sm-6 col-xs-12">
        <%= f.text_field :question,:class => "form-control product_question" %>
      </div>
    </div>
    <span id="product_question_error" class="error_list col-sm-10 col-sm-offset-2" style="display:none;"></span><br/>
  <div class="actions">
    <%= f.submit 'Create', :class => "btn btn-primary" %>
  </div>
<% end %>
