<div class="row">
  <div class="col-xs-12 col-sm-2 left">
    <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
    <div class="border">   
	  <div class="pull-right">
	  </div><br/>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <% if check_link(admin_product_questions_path) %>
            <li><%= link_to "Product Questions", admin_product_questions_path %></li>
          <% end %>
          <% if check_link(admin_product_question) %>
            <li><%= link_to @admin_product_question.question.capitalize, @admin_product_question %></li>
          <% end %>
          <li class="active">Edit Product Questions</li>
        </ol>
      </div>
    </div>
    </div>
    <%= render 'form' %>
  </div>
</div>
