<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
      <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
    <div class="border">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="col-xs-12 col-sm-8">
          <h3>Listing Product Questions</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 margin">
          <div class="pull-right"> 
            <% if check_link(new_admin_product_question_path) %>               
              <%= link_to 'Create Product Question', new_admin_product_question_path , :class => "btn btn-primary btn-sm"%>
            <% end %>   
          </div>
        </div>
      </div>
    </div>
     <br/>
    <div class="panel panel-default">
      <div class=" panel-heading">
        <div class="row">
          <div class="col-sm-8 col-xs-8 text-primary">Product question</div>          
          <div class="col-sm-4 col-xs-4 text-primary">Edit</div>          
        </div>
      </div>
      <div class="panel-body">
        <% @admin_product_questions.each do |admin_product_question| %>
          <div class="row hoverd">
            <div class="col-sm-8 col-xs-8"><%= link_to_if(check_link(admin_product_question),admin_product_question.question, admin_product_question) %></div>
            <div class="col-sm-4 col-xs-4">
            <% if check_link(edit_admin_product_question_path(admin_product_question)) %>   
              <%= link_to '', edit_admin_product_question_path(admin_product_question),:class => "glyphicon glyphicon-pencil text-success" %>
            <% end %>
            </div>                    
          </div>          
        <% end %>
      </div>
    </div>
  </div>  
</div>

