<div class="row">
	<div class="col-xs-12 col-sm-2 left">
    	<%= render partial: "layouts/shared/admin_sidebar" %>
	</div>
	<div class="col-xs-12 col-sm-10 top50">
    <%= render partial: "layouts/shared/flash_msg" %>  
	  <div class="border"><br/>
      <div class="pull-right">
      <% if check_link(edit_admin_product_question_path(@admin_product_question)) %>  
        <%= link_to 'Edit Products Questions', edit_admin_product_question_path(@admin_product_question), :class => "btn btn-primary btn-sm" %> 
      <% end %>
      <% if check_link(admin_product_question_path(@admin_product_question)) %> 
		    <%= link_to ' Delete', @admin_product_question, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash btn btn-danger btn-sm gly" %>
      <% end %>
		  </div> 
		  <div class="row">
        <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <% if check_link(admin_product_questions_path) %>
            <li><%= link_to "Product Questions", admin_product_questions_path %></li>
          <% end %>
          <li class="active"><%= @admin_product_question.question.capitalize %></li>
        </ol>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <strong>Product Question</strong>
      </div>
      <div class="col-sm-6 col-xs-6">
        <%= @admin_product_question.question %>
      </div>
    </div>
  </div>
</div>