<%= render partial: "layouts/shared/flash_msg" %>  
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <%= link_to "Shipments", admin_orders_path,:remote => true %>
    </li>
    <li class="active"><%= @shipment.consignment_number %></li>
  </ul>
  <div class="nav-search" id="nav-search">
  </div>
</div>  


<div class="page-content"> 

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
 
<div class="searchable_content2" >  
  <div class="row"> 
       <div class="table-header">ORDER DETAILS</div>
        <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Order Number</th>
            <th>Order Cost</th>
            <th>Paymet Mode</th>
            <th>Paymet Status</th>
            <th>Order Status</th>
            <th>Location</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @order.order_number %>
            </td>
            <td>
              <%= @order.order_cost %>
            </td>
            <td>
            <%= @order.payment_mode %>
            </td>            <td>
             <%= @order.payment_status %>
            </td>
            <td><%= @order.status %></td>
            <td><%= @order.location %><% if @order.ip.present? %>(<%= @order.ip %>)<% end %></td>
            <td><%= @order.shipping_address.name %><br/>
            <%= @order.shipping_address.add_line1 %>,
            <%= @order.shipping_address.add_line2 %><br/>
            <%= @order.shipping_address.state %>,
            <%= @order.shipping_address.country %>-
            <%= @order.shipping_address.c_code %><br/>
            <%= @order.shipping_address.pincode %><br/>
            <%= @order.shipping_address.phone %></td>
          </tr>
        </tbody>
      </table>
  </div><br/>
  <div class="row"> 
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <div class="row">
          <div class="col-sm-2"><strong>ITEM</strong></div>
          <div class="col-sm-2"><strong>QTY</strong></div>
          <div class="col-sm-2"><strong>PRICE</strong></div>
          <div class="col-sm-2"><strong>SUBTOTAL</strong></div>
        </div> 
      </div>
      <div class="panel-body text-center"><br/>
        <% @consignment_items.each do |consignment_item|%>
          <% variant = Admin::Variant.find(consignment_item.variant_id)%>
          <% product = Admin::Product.find(variant.product_id) %>
          <div class="row">
            <div class="col-sm-2"><%= variant.name %></div>
            <div class="col-sm-2"><%= consignment_item.qty %></div>
            <div class="col-sm-2"><%= consignment_item.per_qty_price %></div>
            <div class="col-sm-2"><%= consignment_item.price %></div>
          </div><br/>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>










 