
<div class="row">
  <div class="col-xs-12 col-sm-12">
      <div class="table-responsive">
      <% if @admin_category.products.present? %>
        <% if @admin_category.products.first.present? %>
          <div class="table-header">
            List of Products Under <%= @admin_category.name %>
          </div>
          <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer" style="padding-top:2px;">
            <table id="brands_table12" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Visibility</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @admin_category.products.each do |product| %>
                  <tr>
                    <td>
                      <%= product.name %>
                    </td>
                    <td>
                      <% if product.visibility == false %>
                        <span class="label arrowed-in-right arrowed label-warning ">Invisibe</span>
                      <% else %>
                        <span class="label arrowed-in-right arrowed label-danger ">Visibe</span>
                      <% end %>
                    </td>
                    <td>
                      <div class="action-buttons">
                        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, remove_product_from_category_admin_categories_path(:id => @admin_category.id,:product_id => product.id), data: { confirm: 'Are you sure?' },:remote => true,:class => "delete_button_color" %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 
        <% end %>
      <% else %>
      <br/><br/><br/><br/>
      <% end %><br/><br/>
      </div>
  </div>
</div>
