<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title heading-label-color" id="myModalLabel">Edit  <%= @admin_category.name %> Category</h4>
</div>
<!-- modal header end -->

  <!-- form start -->
  <%= form_for(@admin_category,:html => {:id => 'new_category_form',:class => 'validate_this_form '},:remote => true) do |f| %>
    <div class="modal-body category_modal_body">
      <% if @admin_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>
          <ul>
          <% @admin_category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>  
      <div class="fields">
        <span id="tagvalue" style="display:none;">1</span>
        <span id="propertytagvalue" style="display:none;">1</span>
        <span id="loopvalue" style="display:none;">1</span>
        <span id="product_error1" class="error_list" style="display:none;"></span><br />
        <div class="row borders">
          <div class="col-sm-12 col-xs-12">
            <div class="form-group form_group_admin_category_name">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Name</label>
              <div class="col-xs-12 col-sm-8">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :name,:class => "blue_textbox width-100 validate_this",:data => {validate_msg: "Enter the name"} %>
                </span>
                <div class="help-block" id="admin_category_name_error1"> </div>
              </div>
            </div>
            <div class="form-group form_group_admin_category_description">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Description</label>
              <div class="col-xs-12 col-sm-8">
                <span class="block input-icon input-icon-right">
                  <%= f.text_area :description,:class => "blue_textbox width-100 validate_this" %>
                </span>
                <div class="help-block" id="admin_category_description_error1"> </div>
              </div>
            </div>
            <div class="form-group">
               <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Parent</label>
              <div class="col-sm-8 col-xs-12">
                <div class="col-sm-2 col-xs-12">
                <label>
                  <% if f.object.parent_id.nil? %>
                    <%= check_box_tag 'admin_category_parent_category', 'yes', true,:class=>"ace" %>   <% else %>
                    <%= f.check_box :parent_category,:class=>"ace" %>
                  <% end %>
                  <span class="lbl label-color checklabel"></span>
                </label> 
                </div>
                <div class="col-sm-10 col-xs-12">
                  <%= f.hidden_field :selected_tab, :value => "all_cat_tab" %>
                  <%= f.collection_select :parent_id, @list_children_categories, :id, "combined_value",{:prompt => "Select"},:class => "form-control blue_textbox" %><br/>
                </div>
              </div>
            </div>
          </div>
        </div><br/>
        <div class="row borders">
          <div class="col-sm-12 col-xs-12">
            <div class="form-group form_group_admin_category_page_title">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Page Title</label>
              <div class="col-sm-8 col-xs-12">
                <span class="block input-icon input-icon-right">
                <%= f.text_field :page_title,:class => "form-control blue_textbox validate_this",:data => {validate_max_length: 60,validate_presence: false} %></span>
                <div class="help-block " id="admin_category_page_title_error1"> </div>
              </div>
            </div>
            <div class="form-group form_group_admin_category_meta_description">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Meta Description</label>
              <div class="col-sm-8 col-xs-12">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :meta_description,:class => "form-control blue_textbox validate_this",:data => {validate_max_length: 160,validate_presence: false}  %>
                </span>
                <div class="help-block" id="admin_category_meta_description_error1"> </div>
              </div>
            </div><br/>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="form-group ">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Visibility</label>
              <div class="col-sm-8 col-xs-12">
                <div class="col-sm-2 col-xs-12"> 
                  <label>
                    <%= f.check_box :status,:class=>"ace ace-switch ace-switch-4" %>
                    <span class="lbl labelonoff"></span>
                  </label>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <% pub_time = f.object.pub_time.present? ? f.object.pub_time.localtime.strftime("%Y-%m-%d   %I:%M")  : "" %>
                  <%= f.text_field :pub_time,:class => "blue_textbox for_pub_time",:value => pub_time %>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Update", :class => "btn btn-primary pull-right btn-sm" %>
    </div>
  <% end %>
  <!-- form end -->




<script>
  $(function(){
    $('#admin_category_pub_time').appendDtpicker({
      "closeButton": false,
      "autodateOnStart": false
    });
  });
  $("#admin_category_parent_category").click(function(){
    if($(this).is(':checked')){
      $("#admin_category_parent_id").hide();
      $("#admin_category_parent_id").val('');
    }
    else{
      $("#admin_category_parent_id").show();
    }
  });

  $("#admin_category_status").click(function(){
    if($(this).is(':checked')){
      $(".for_pub_time_row").hide();
      $(".for_pub_time").val('');
    }
    else{
      $(".for_pub_time_row").show();
    }
  });

</script>