<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title heading-label-color" id="myModalLabel">Create New Category</h4>
</div>
<!-- modal header end -->
  
  <!-- form start -->
  <%= form_for(@admin_category,:html => {:id => 'new_category_form',:class => 'newcategory_form'},:remote => true) do |f| %>
    <div class="modal-body category_modal_body">
      <% if @admin_category.errors.any? %>
        <div id="new_error_explanation">
          <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>
          <ul>
          <% @admin_category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="fields">
        <span id="tagvalue" style="display:none;">1</span> 
        <span id="propertytagvalue" style="display:none;">1</span>
        <span id="loopvalue" style="display:none;">1</span>
        <span id="product_error1" class="error_list" style="display:none;"></span><br />
        <div class="row borders">
          <div class="col-sm-12 col-xs-12"> 
            <div class="form-group form_group_name">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Name</label>
              <div class="col-xs-12 col-sm-8">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :name,:class => "blue_textbox width-100" %>
                </span>
                <div class="help-block" id="category_name_error1"> </div>
              </div>
            </div>
            <div class="form-group form_group_desc">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Description</label>
              <div class="col-xs-12 col-sm-8">
                <span class="block input-icon input-icon-right">
                  <%= f.text_area :description,:class => "blue_textbox width-100" %>
                </span>
                <div class="help-block" id="category_descrption_error1"> </div>
              </div>
            </div>
            <div class="form-group">
               <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Parent</label>
              <div class="col-sm-8 col-xs-12">
                <div class="col-sm-2 col-xs-12">
                <label>
                  <%= f.check_box :parent_category,:class=>"ace" %>
                  <span class="lbl label-color checklabel"></span>
                </label> 
                </div>
                <div class="col-sm-10 col-xs-12">
                  <%= f.hidden_field :selected_tab, :value => "all_cat_tab" %>
                  <%= f.collection_select :parent_id, @list_children_categories, :id, "combined_value",{:prompt => "Select"},:class => "form-control blue_textbox" %><br/>
                </div>
              </div>
            </div>
          </div>
        </div><br/>
        <div class="row borders">
          <div class="col-sm-12 col-xs-12">
            <div class="form-group form_group_page_title">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Page Title</label>
              <div class="col-sm-8 col-xs-12">
                <span class="block input-icon input-icon-right">
                <%= f.text_field :page_title,:class => "form-control blue_textbox",:maxlength => "60" %></span>
                <div class="help-block " id="category_page_title_error1"> </div>
              </div>
            </div>
            <div class="form-group form_group_meta_desc">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Meta Description</label>
              <div class="col-sm-8 col-xs-12">
                <span class="block input-icon input-icon-right">
                  <%= f.text_field :meta_description,:class => "form-control blue_textbox",:maxlength => "160" %>
                </span>
                <div class="help-block" id="category_meta_desc_error1"> </div>
              </div>
            </div>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="form-group ">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right label-color">Visibility</label>
              <div class="col-sm-8 col-xs-12">
                <div class="col-sm-2 col-xs-12"> 
                  <label>
                    <%= f.check_box :status,:class=>"ace ace-switch ace-switch-4" %>
                    <span class="lbl labelonoff"></span>
                  </label>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <%= f.text_field :pub_time,:class => "blue_textbox for_pub_time",:placeholder => "Schedule Visibility Time" %>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Save", :class => "btn btn-success pull-right btn-sm" %>
    </div>
  <% end %>
<!-- form end -->



<script>

  $('#admin_category_name').blur(function() {
    if($(this).val() == ""){
      $(this).removeClass("blue_textbox");
      $("#name_success_icon").remove(); 
      $(this).after('<i class="ace-icon fa fa-times-circle" id ="name_error_icon"></i>');
      $(".form_group_name").removeClass("has-success");
      $(".form_group_name").addClass("has-error");
      $("#category_name_error1").html("Enter Category Name!"); 
    }
    else{
      $(this).removeClass("blue_textbox");
      $(".form_group_name").removeClass("has-error");
      $(".form_group_name").addClass("has-success");
      $("#name_error_icon").remove();   
      $(this).after('<i class="ace-icon fa fa-check-circle" id ="name_success_icon"></i>');
      $("#category_name_error1").html(" "); 
    }
  });
  $('#admin_category_description').blur(function() {
    if($(this).val() == ""){
      $(this).removeClass("blue_textbox");
      $("#desc_success_icon").remove(); 
      $(this).after('<i class="ace-icon fa fa-times-circle" id ="desc_error_icon"></i>');
      $(".form_group_desc").removeClass("has-success");
      $(".form_group_desc").addClass("has-error");
      $("#category_descrption_error1").html("Enter Description!"); 
    }
    else{
      $(this).removeClass("blue_textbox");
      $(".form_group_desc").removeClass("has-error");
      $(".form_group_desc").addClass("has-success");
      $("#desc_error_icon").remove();   
      $(this).after('<i class="ace-icon fa fa-check-circle" id ="desc_success_icon"></i>');
      $("#category_desc_error1").html(" "); 
    }
  });

  $('#admin_category_page_title').blur(function() {
    if($(this).val().length > 60){
      $(this).removeClass("blue_textbox");
      $("#page_title_success_icon").remove(); 
      $(this).after('<i class="ace-icon fa fa-times-circle" id ="page_title_error_icon"></i>');
      $(".form_group_page_title").removeClass("has-success");
      $(".form_group_page_title").addClass("has-error");
      $("#category_page_title_error1").html("Should not exceed 60 characters"); 
    }
    else{
      $(this).removeClass("blue_textbox");
      $(".form_group_page_title").removeClass("has-error");
      $(".form_group_page_title").addClass("has-success");
      $("#page_title_error_icon").remove();   
      $(this).after('<i class="ace-icon fa fa-check-circle" id ="page_title_success_icon"></i>');
      $("#category_page_title_error1").html(" "); 
    }
  });
  
  $('#admin_category_meta_description').blur(function() {
    if($(this).val().length > 160){
      $(this).removeClass("blue_textbox");
      $("#page_title_success_icon").remove(); 
      $(this).after('<i class="ace-icon fa fa-times-circle" id ="meta_description_error_icon"></i>');
      $(".form_group_meta_desc").removeClass("has-success");
      $(".form_group_meta_desc").addClass("has-error");
      $("#category_meta_desc_error1").html("Should not exceed 160 characters"); 
    }
    else{
      $(this).removeClass("blue_textbox");
      $(".form_group_meta_desc").removeClass("has-error");
      $(".form_group_meta_desc").addClass("has-success");
      $("#page_title_error_icon").remove();   
      $(this).after('<i class="ace-icon fa fa-check-circle" id ="meta_description_success_icon"></i>');
      $("#category_meta_desc_error1").html(" "); 
    }
  });

  $("#admin_category_parent_category").click(function(){
    if($(this).is(':checked')){
      $("#admin_category_parent_id").hide();
      $("#admin_category_parent_id").val('');
    }
    else{
      $("#admin_category_parent_id").show();
    }
  });

  $("#admin_category_status").click(function(){
    if($(this).is(':checked')){
      $(".for_pub_time").hide();
      $(".for_pub_time").val('');
    }
    else{
      $(".for_pub_time").show();
    }
  });
  

  $("#new_category_form").submit(function(){  
    var admin_category_parent_ids=$("#admin_category_parent_id").val();
    var admin_category_names=$("#admin_category_name").val();
    var admin_category_descriptions=$("#admin_category_description").val();
    $("#category_name_error1").html("");
    $("#category_descrption_error1").html("");
    var a=1;
    var b=1;
    var c=1;
    if(admin_category_names==""){
      b=0;
      $("#admin_category_name").removeClass("blue_textbox");
      $("#name_success_icon").remove(); 
      $("#admin_category_name").after('<i class="ace-icon fa fa-times-circle" id ="name_error_icon"></i>');
      $(".form_group_name").removeClass("has-success");
      $(".form_group_name").addClass("has-error");
      $("#category_name_error1").html("Enter Category Name!"); 
    }
    else{
      $(this).removeClass("blue_textbox");
      $(".form_group_name").removeClass("has-error");
      $(".form_group_name").addClass("has-success");
      $("#name_error_icon").remove();   
      $(this).after('<i class="ace-icon fa fa-check-circle" id ="name_success_icon"></i>');
      $("#category_name_error1").html(" "); 
    }
    if(admin_category_descriptions==""){
      $("#admin_category_description").removeClass("blue_textbox");
      $("#desc_success_icon").remove(); 
      $("#admin_category_description").after('<i class="ace-icon fa fa-times-circle" id ="desc_error_icon"></i>');
      $(".form_group_desc").removeClass("has-success");
      $(".form_group_desc").addClass("has-error");
      $("#category_descrption_error1").html("Enter Description!"); 
      c=0;
    }
    else{
      $("#admin_category_description").removeClass("blue_textbox");
      $(".form_group_desc").removeClass("has-error");
      $(".form_group_desc").addClass("has-success");
      $("#desc_error_icon").remove();   
      $("#admin_category_description").after('<i class="ace-icon fa fa-check-circle" id ="desc_success_icon"></i>');
      $("#category_desc_error1").html(" "); 
    }
    if($('#admin_category_meta_description').val().length > 160){
      $('#admin_category_meta_description').removeClass("blue_textbox");
      $("#page_title_success_icon").remove(); 
      $('#admin_category_meta_description').after('<i class="ace-icon fa fa-times-circle" id ="meta_description_error_icon"></i>');
      $(".form_group_meta_desc").removeClass("has-success");
      $(".form_group_meta_desc").addClass("has-error");
      $("#category_meta_desc_error1").html("Should not exceed 160 characters"); 
    }
    else{
      $('#admin_category_meta_description').removeClass("blue_textbox");
      $(".form_group_meta_desc").removeClass("has-error");
      $(".form_group_meta_desc").addClass("has-success");
      $("#page_title_error_icon").remove();   
      $('#admin_category_meta_description').after('<i class="ace-icon fa fa-check-circle" id ="meta_description_success_icon"></i>');
      $("#category_meta_desc_error1").html(" "); 
    }
    if($('#admin_category_page_title').val().length > 60){
      $('#admin_category_page_title').removeClass("blue_textbox");
      $("#page_title_success_icon").remove(); 
      $('#admin_category_page_title').after('<i class="ace-icon fa fa-times-circle" id ="page_title_error_icon"></i>');
      $(".form_group_page_title").removeClass("has-success");
      $(".form_group_page_title").addClass("has-error");
      $("#category_page_title_error1").html("Should not exceed 60 characters"); 
    }
    else{
      $('#admin_category_page_title').removeClass("blue_textbox");
      $(".form_group_page_title").removeClass("has-error");
      $(".form_group_page_title").addClass("has-success");
      $("#page_title_error_icon").remove();   
      $('#admin_category_page_title').after('<i class="ace-icon fa fa-check-circle" id ="page_title_success_icon"></i>');
      $("#category_desc_error1").html(" "); 
    }
    if( b==1 && c==1){
      return true;
    }
    else{
      return false;
    }
  });
</script>



<script type="text/javascript">
  $(function(){
    $('#admin_category_pub_time').appendDtpicker({
      "closeButton": false,
      "autodateOnStart": false
    });
  });
</script>