<% a = 0 %>
    <% b = 0 %>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#homes" role="tab" data-toggle="tab">All Categories</a></li>
      <li><a href="#inactive" role="tab" data-toggle="tab">Inactive Category</a></li>
      <li><a href="#parent-category" role="tab" data-toggle="tab">Sort Category</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="homes">       
        <br /><br />
        <% if @admin_categories.present? %> 
          <ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
            <% @admin_categories.roots.each do |category| %>
              <%= content_tag_for :li, category do %>               
                <span class="sortname"><%= link_to h(category.name), category, :target => "_blank" %></span>
                <% if category.children.present? %>
                  <span class="admin_category_<%= category.id %>  sort_child">Children</span>               
                    <% if check_link(admin_category_path(category)) %>
                      <% if category.children.present? %>

                      <% else %>
                        <%= link_to '', category, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash glyphicon text-danger pull-right" %>
                      <% end %>
                    <% end %>            
                  
                    <% if check_link(edit_admin_category_path(category)) %>
                      <%= link_to '', edit_admin_category_path(category),:class => "glyphicon glyphicon-pencil text-success pull-right padright10" %>
                    <% end %>
                  
                  <ul id="child-cats" class="child-cats admin_category_<%= category.id %>" data-update-url="<%= sort_admin_categories_path %>">
                    <% category.children.each do |child| %>
                      <%= content_tag_for :li, child do %>
                       
                        <span class="sortname"><%= link_to h(child.name), child, :target => "_blank"%></span>
                        <% if child.children.present? %>
                          <span class="admin_category_<%= child.id %> pull_right sort_grand_child">Grand Children</span>
                         <% end %>
                            <% if check_link(admin_category_path(child)) %>
                              <% if child.children.present? %>

                              <% else %>
                                <%= link_to '', category, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash glyphicon text-danger pull-right" %>
                              <% end %>
                            <% end %>
                      
                            <% if check_link(edit_admin_category_path(child)) %>
                              <%= link_to '', edit_admin_category_path(child),:class => "glyphicon glyphicon-pencil text-success pull-right padright10" %>
                            <% end %>
                       
                          <ul id="g_child-catss" class="g_child-catss admin_category_<%= child.id %>" data-update-url="<%= sort_admin_categories_path %>">
                            <% child.descendants.each do |g_child| %>
                              <%= content_tag_for :li, g_child do %>
                                
                                <%= link_to h(g_child.name), g_child, :target => "_blank" %>
                                <% if check_link(admin_category_path(g_child)) %>                             
                                <%= link_to '', category, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash glyphicon text-danger pull-right" %>                             
                            <% end %>
                      
                            <% if check_link(edit_admin_category_path(g_child)) %>
                              <%= link_to '', edit_admin_category_path(g_child),:class => "glyphicon glyphicon-pencil text-success pull-right padright10" %>
                            <% end %>
                              <% end %>
                            <% end %>
                          </ul>                   
                        <% end %>
                     
                    <% end %>
                  </ul>                   
                <% end %>
              <% end %>
            <% end %>
          </ul>   
        <% end  %>
       
      </div>
      <div class="tab-pane fade in" id="inactive">
        <div class="col-xs-12 col-sm-12"><br/>
        <% if @categories_false.present? %>    
          <div class="panel panel-default">            
            <div class="panel-body">
              <% @categories_false.each do |category| %>
                <div class="row">
                  <div class="col-sm-3 col-xs-3"><%= link_to_if(check_link(admin_category_path(category)),category.name, category )%>&nbsp&nbsp
                  </div>
                  <div class="col-sm-3 col-xs-3">
                    <%= button_to "Make Active", admin_category_make_active_path(category.id), :method => :get,:class => "btn btn-primary btn-sm" %>
                  </div>
                </div><br/>
              <% end %>
            </div>
          </div>
        <% end %>
        <br/>
        </div> 
      </div>
      <div class="tab-pane" id="parent-category">
        <% if @admin_parents.present? %> 
          <ul id="parent-catsss" data-update-url="<%= sort_admin_categories_path %>">
            <% @admin_parents.sort_by(&:sort_order).each do |parent| %>
              <%= content_tag_for :li, parent do %>
                <span class="handle glyphicon glyphicon-sort"></span>
                <span class="sortname"><%= link_to h(parent.name), parent, :target => "_blank" %></span>
                <% if parent.children.present? %>
                  <span class="admin_category_<%= parent.id %>  sort_child">Sort Child</span>
                  <ul id="child-cats" class="child-cats admin_category_<%= parent.id %>" data-update-url="<%= sort_admin_categories_path %>">
                    <% parent.children.sort_by(&:sort_order).each do |child| %>
                      <%= content_tag_for :li, child do %>
                        <span class="handles glyphicon glyphicon-sort"></span>
                        <span class="sortname"><%= link_to h(child.name), child, :target => "_blank"%></span>
                        <% if child.children.present? %>
                          <span class="admin_category_<%= child.id %> pull_right sort_grand_child">Sort Child</span>
                          <ul id="g_child-catss" class="g_child-catss admin_category_<%= child.id %>" data-update-url="<%= sort_admin_categories_path %>">
                            <% child.descendants.sort_by(&:sort_order).each do |g_child| %>
                              <%= content_tag_for :li, g_child do %>
                                <span class="handles11 glyphicon glyphicon-sort"></span>
                                <%= link_to h(g_child.name), g_child, :target => "_blank" %>
                              <% end %>
                            <% end %>
                          </ul>                   
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>                   
                <% end %>
              <% end %>
            <% end %>
          </ul>   
        <%end  %>
      </div>      
    </div>