<% @general = Admin::General.first %>
<% @n = @general ? @general.category_level : 3 %>
<!-- flash start --> 
    <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->
<div class="modal-body category_modal_body" style="min-height:350px;background:#fff;">
  <h2>Description</h2>
  <p><%= @admin_category.description %></p>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="widget-box">
        <div class="widget-header widget-header-flat">
          <h4 class="widget-title smaller">
            Category Details
          </h4>
        </div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="row">
              <div class="col-xs-12">

                <div class="col-sm-4" style="padding-left: 0px;">Visibility
                </div>
                <div class="col-sm-8">
                  <% if @admin_category.status == true %>
                    <span class="label arrowed-in-right arrowed    label-danger">Visible</span>
                  <% else %>
                    <span class="label arrowed-in-right arrowed    label-warning">Hidden</span>
                  <% end %>
                </div>
                <br /> <br />

                <div class="col-sm-4" style="padding-left: 0px;">Status
                </div>
                <div class="col-sm-8">
                  <% if @admin_category.active == true  %>
                    <span class="label arrowed-in-right arrowed    label-danger">Visible</span>
                  <% else %>
                    <span class="label arrowed-in-right arrowed    label-warning">Hidden</span>
                  <% end %>
                </div>
                 <br /> <br />
                <div class="col-sm-4" style="padding-left: 0px;">Publish Time
                </div>
                <div class="col-sm-8">
                  <% if @admin_category.pub_time.present? %>
                    <span class="label label-info arrowed-in-right arrowed hidden-sm hidden-xs" data-toggle="tooltip" data-placement="right" title="Published at <%= @admin_category.pub_time.strftime("%I:%M %p") %> on <%= @admin_category.pub_time.strftime("%d %b %Y")  %>">Scheduled to publish</span>
                    <i class="ace-icon hidden-lg hidden-md text-info glyphicon glyphicon-time bigger-120" data-toggle="tooltip" data-placement="top" title="Published at <%= @admin_category.pub_time.strftime("%I:%M %p") %> on <%= @admin_category.pub_time.strftime("%d %b %Y")  %>" style = "margin-left:10px;" ></i>
                  <% end %>
                </div>
                 <br /> <br />

                <% if @admin_category.ancestors.size >= @n %>
                  <div class="col-sm-4" style="padding-left: 0px;">Publish Time
                  </div>
                  <div class="col-sm-8">
                  <span class="label arrowed-in-right hidden-sm hidden-xs arrowed label-grey ">Level Exceeded</span>
                  <i class="ace-icon hidden-lg hidden-md text-default fa fa-bullhorn  bigger-120" data-toggle="tooltip" data-placement="top" title="Level Exceeded" style = "margin-left:10px;"></i>
                  </div>
                <% end %>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="widget-box">
            <div class="widget-header widget-header-flat">
              <h4 class="widget-title smaller">SEO Details</h4>
            </div>

            <div class="widget-body">
              <div class="widget-main">
                <dl id="dt-list-1">
                  <dt style="color:#1a0dab;font-size:18px;font-weight:normal;"><%= @admin_category.page_title %></dt>
                  <dd><%= @admin_category.meta_description %></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="space-6"></div>
    </div>
  </div>
  <hr>
  <br />
    <div class="all_children">
      <%= render "all_children" %>
    </div>
</div>
  

  <script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#brands_table12').dataTable({
    "iDisplayLength": 25,
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>