<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-sitemap"></i>&nbsp;&nbsp;Categories</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right" style="margin-right:7px;">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Create Category', new_admin_category_path  , :class => "",:style => "color:#fff;",:remote => true %> 
    </span>
  </div>
  <!-- button panel end --> 
 
</div> 

<% @general = Admin::General.first %>
<% @n = @general ? @general.category_level : 3 %>

<div class="page-content">

  <!-- flash start --> 
  <%= render partial: "layouts/shared/flash_msg" %> 
  <!-- flash end -->

  <!-- Searchable_content_start end -->
  <div class="row"> <br/> 
    <div class="searchable_content1">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <span class="for_fullscreen1" style="display:none;">for fullscreen</span>
        <% a = 0 %>
        <% b = 0 %>
        <% if @admin_categories.present? %>
          <!-- tab start -->

          <!-- tab control panel start -->
          <ul class="nav nav-tabs cat_tablist" role="tablist" id="myTab">
            <li class="active" id="all_cat_tab" ><a href="#all"  role="tab" data-toggle="tab">All Categories</a></li>
            <li class="" id="current_cat_tab"><a href="#homes"  role="tab" data-toggle="tab">Present Listing Categories</a></li>
            <li id="all_general_cat_tab"><a href="#parent-category"  role="tab" data-toggle="tab">Sort Category</a></li>
          </ul>
          <!-- tab control panel end -->

          <!-- tab content panel start -->
          <div class="tab-content">

            <!-- all category panel start -->
            <div class="tab-pane active" id="all"> 
              
              <div class="table-header">List of Categories</div>
              <div id="" class="dataTables_wrapper form-inline no-footer">
                <table id="categories_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" role="grid" aria-describedby="dynamic-table_info">
                  <thead>
                    <tr>
                      <th>Category Name</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admin_categories.each do |category| %>
                      <tr>
                        <td>
                          <% if category.ancestors.present? %>
                            <% if category.parent.present? %>
                              <% if category.parent.parent.present? %>
                                <%= category.parent.parent.name %>
                                <ul id="tree1" class="tree tree-selectable" role="tree">
                                  <li class="tree-branch tree-open" role="treeitem" aria-expanded="true">  
                                    <div class="tree-branch-header">          
                                      <span class="tree-branch-name">           
                                        <i class="icon-folder ace-icon tree-minus"></i>          
                                        <span class="tree-label"><%= category.parent.name %></span>          
                                      </span>       
                                    </div>    
                                    <ul class="tree-branch-children" role="group">
                                      <li class="tree-branch tree-open" role="treeitem" aria-expanded="true">   <div class="tree-branch-header">          
                                          <span class="tree-branch-name">           
                                            <i class="icon-folder ace-icon tree-minus"></i>          
                                            <span class="tree-label"><%= link_to category.name, category,:remote => true %></span>          
                                          </span>       
                                        </div>                  
                                      </li>
                                    </ul>                   
                                  </li>
                                </ul>
                              <% else %>
                                <%= category.parent.name %>
                                <ul id="tree1" class="tree tree-selectable" role="tree">
                                  <li class="tree-branch tree-open" role="treeitem" aria-expanded="true">  
                                    <div class="tree-branch-header">          
                                      <span class="tree-branch-name">           
                                        <i class="icon-folder ace-icon tree-minus"></i>          
                                        <span class="tree-label"><%= link_to category.name, category,:remote => true %></span>          
                                      </span>       
                                    </div>    
                                  </li>
                                </ul>
                              <% end %>
                            <% else %>
                            <% end %>
                          <% else %>
                            <%= link_to category.name, category,:remote => true %>
                          <% end %>
                        </td>
                        <td>
                          <% unless category.status == true %>
                            <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-warning">Hidden</span>
                            <i class="ace-icon hidden-lg hidden-md  text-warning glyphicon glyphicon-off" data-toggle="tooltip" data-placement="top" title="Hidden" style = "margin-left:10px;" ></i>
                          <% end %>
                          <% unless category.active == true %>
                            <span class="label arrowed-in-right hidden-xs hidden-sm arrowed    label-danger">Inactive</span>
                            <i class="ace-icon hidden-lg hidden-md text-danger fa fa-ban  bigger-120" data-toggle="tooltip" data-placement="top" title="Inactive" style = "margin-left:10px;"></i>
                          <% end %>
                          <% if category.ancestors.size >= @n %>
                            <span class="label arrowed-in-right hidden-sm hidden-xs arrowed label-grey ">Level Exceeded</span>
                            <i class="ace-icon hidden-lg hidden-md text-default fa fa-bullhorn  bigger-120" data-toggle="tooltip" data-placement="top" title="Level Exceeded" style = "margin-left:10px;"></i>
                          <% end %>
                          <% if category.pub_time.present? %>
                            <span class="label label-info arrowed-in-right arrowed hidden-sm hidden-xs" data-toggle="tooltip" data-placement="right" title="Published at <%= category.pub_time.strftime("%I:%M %p") %> on <%= category.pub_time.strftime("%d %b %Y")  %>">Scheduled to publish</span>
                            <i class="ace-icon hidden-lg hidden-md text-info glyphicon glyphicon-time bigger-120" data-toggle="tooltip" data-placement="top" title="Published at <%= category.pub_time.strftime("%I:%M %p") %> on <%= category.pub_time.strftime("%d %b %Y")  %>" style = "margin-left:10px;" ></i>
                          <% end %>
                        </td>
                        <td> 
                          <div class=" action-buttons">
                            <%= link_to ' ', edit_admin_category_path(category),:class => "glyphicon glyphicon-pencil edit_button_color",:remote => true %>
                            <% if category.for_delete %>
                              <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color",:remote => true  %>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>      
            </div>
            <!-- all category panel end -->

            <!-- Current category panel start -->
            <div class="tab-pane" id="homes">  <br/>  
              <% if @admin_categories.present? %> 
                <% if @admin_categories.where(:status => true,:active => true).roots.first.present? %>
                  <ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>" class="aligned-ul">
                    <% @admin_categories.where(:status => true,:active => true).roots.limit(3).sort_by(&:sort_order).each do |category| %>
                      <%= content_tag_for :li, category do %>               
                        <span class="sortname"><%= link_to h(category.name), category, :target => "_blank",:remote => true %></span>
                        <% if category.children.where(:status => true,:active => true).present? %>
                          <span class="admin_category_<%= category.id %>  sort_child plus_border pull-right"><i class="ace-icon fa bigger-120 green plus_border_icon fa-plus-circle"></i></span>               
                          <% unless category.children.present? %>
                            <%= link_to '', category, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash glyphicon text-danger pull-right",:remote => true %>
                          <% end %>
                          <ul id="child-cats" class="aligned-ul child-cats admin_category_<%= category.id %>" data-update-url="<%= sort_admin_categories_path %>">
                            <% category.check_header_limit.sort_by(&:sort_order).each do |child| %>
                              <%= content_tag_for :li, child do %>
                                <span class="sortname"><%= link_to h(child.name), child, :target => "_blank",:remote => true %></span>
                                <% if child.children.where(:status => true,:active => true).present? %>
                                  <span class="admin_category_<%= child.id %> pull-right plus_border sort_grand_child"> <i class="ace-icon fa bigger-120 green plus_border_icon fa-plus-circle"></i></span>
                                <% end %>
                                <ul id="g_child-catss" class="aligned-ul g_child-catss admin_category_<%= child.id %>" data-update-url="<%= sort_admin_categories_path %>">
                                  <% child.check_header_limit.sort_by(&:sort_order).each do |g_child| %>
                                    <%= content_tag_for :li, g_child do %>
                                      <%= link_to h(g_child.name), g_child,:remote => true %>
                                    <% end %>
                                  <% end %>
                                </ul>                   
                              <% end %>
                            <% end %>
                          </ul>                   
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul><br/>
                <% else %>
                  <div class="row">
                    <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
                    </div>
                    <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
                    <h3> No Active Category </h3>
                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
                    </div>
                    <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
                    </div>
                  </div>
                <% end %> 
              <% end  %>
            </div>
            <!-- current category panel end -->

            <!-- sort category panel start -->
            <div class="tab-pane" id="parent-category">
              <% if @admin_parents.present? %> <br/>

                <!-- category parent ul start -->
                <ul id="parent-catsss" data-update-url="<%= sort_admin_categories_path %>" class= "aligned-ul action-buttons">
                  <% @admin_parents.sort_by(&:sort_order).each do |parent| %>
                    <%= content_tag_for :li, parent do %>
                      <i class=" handle ace-icon fa fa-arrows"></i>
                      <span class="sortname"><%= link_to h(parent.name), parent, :remote => true %></span>
                      <% if parent.children.present? %>
                        <span class="admin_category_<%= parent.id %> pull-right sort_child plus_border" >
                        <i class="ace-icon fa bigger-120 green plus_border_icon fa-plus-circle" style=""></i></span>
                      <% else %>
                        <span class="admin_category_<%= parent.id %> pull-right  sort_child plus_border" >
                        <i class="ace-icon bigger-120 plus_border_icon fa fa-plus-circle" ></i></span>
                      <% end %>
                      <% if parent.for_delete %>
                        <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, parent, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color pull-right",:remote => true,:style => "margin-right: 10px;"  %>
                      <% end %>
                      <%= link_to ' ', edit_admin_category_path(parent),:class => "glyphicon glyphicon-pencil edit_button_color pull-right",:remote => true,:style => "margin-left: 10px;margin-right: 10px;" %>
                      <% if parent.pub_time.present? %>
                        <span class="label hidden-xs hidden-sm label-info arrowed-in-right arrowed pull-right" data-toggle="tooltip" data-placement="right" title="Published at  <%= parent.pub_time.strftime("%I:%M %p") %> on <%= parent.pub_time.strftime("%d %b %Y") %>">Scheduled to publish</span>
                        <i class="ace-icon hidden-lg hidden-md text-info pull-right glyphicon glyphicon-time bigger-120" data-toggle="tooltip" data-placement="top" title="Published at <%= parent.pub_time.strftime("%I:%M %p") %> on <%= parent.pub_time.strftime("%d %b %Y") %>" style = "margin-left:10px;" ></i>
                      <% end %>
                      <% unless parent.status == true %>
                        <span class="label hidden-sm hidden-xs   arrowed-in-right arrowed label-warning pull-right" style="">
                        Hidden</span>
                        <i class="ace-icon hidden-lg hidden-md  text-warning pull-right glyphicon glyphicon-off" data-toggle="tooltip" data-placement="top" title="Hidden" style = "margin-left:10px;" ></i>
                      <% end %>
                      <% unless parent.active== true %>
                        <span class="label hidden-sm hidden-xs label-danger arrowed-in-right arrowed pull-right">
                          Inactive
                        </span>
                        <i class="ace-icon hidden-lg hidden-md text-danger pull-right fa fa-ban  bigger-120" data-toggle="tooltip" data-placement="top" title="Inactive" style = "margin-left:10px;"></i>
                      <% end %>

                      <!-- category children ul start -->
                      <% if parent.children.present? %>
                        <ul id="child-cats" class="aligned-ul child-cats admin_category_<%= parent.id %>" data-update-url="<%= sort_admin_categories_path %>" >
                          
                          <% parent.children.sort_by(&:sort_order).each do |child| %>
                            <%= content_tag_for :li, child do %>
                              <i class=" handles ace-icon fa fa-arrows"></i>
                              <span class="sortname"><%= link_to h(child.name), child, :remote => true%></span>
                              <% if child.children.present? %>
                                <span class="admin_category_<%= child.id %> pull-right sort_grand_child plus_border" ><i class="ace-icon fa bigger-120 green plus_border_icon fa-plus-circle "></i></span>
                              <% else %>
                                <span class="admin_category_<%= child.id %> pull-right sort_grand_child plus_border"><i class="ace-icon fa fa-plus-circle bigger-120  plus_border_icon"></i></span>
                              <% end %>
                              <% if child.for_delete %>
                                <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, child, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color pull-right",:remote => true,:style => "margin-right: 10px;"  %>
                              <% end %>
                              <%= link_to ' ', edit_admin_category_path(child),:class => "glyphicon glyphicon-pencil edit_button_color pull-right",:remote => true,:style => "margin-left: 10px;margin-right: 10px;" %>
                              <% if child.pub_time.present? %>
                                <span class="label hidden-xs hidden-sm label-info arrowed-in-right arrowed pull-right" data-toggle="tooltip" data-placement="right" title="Published at  <%= child.pub_time.strftime("%I:%M %p")  %> on <%= child.pub_time.strftime("%d %b %Y") %>">Scheduled to publish</span>
                                <i class="ace-icon hidden-lg hidden-md text-info pull-right glyphicon glyphicon-time bigger-120" data-toggle="tooltip" data-placement="top" title="Published at <%= child.pub_time.strftime("%I:%M %p")  %> on <%= child.pub_time.strftime("%d %b %Y") %>" style = "margin-left:10px;" ></i>
                              <% end %>
                              <% unless child.status == true %>
                                <span class="label hidden-sm hidden-xs    arrowed-in-right arrowed label-warning pull-right" style="">
                                Hidden</span>
                                <i class="ace-icon hidden-lg hidden-md  text-warning pull-right glyphicon glyphicon-off" data-toggle="tooltip" data-placement="top" title="Hidden" style = "margin-left:10px;" ></i>
                              <% end %>
                              <% unless child.active== true %>
                                <span class="label hidden-sm hidden-xs arrowed-in-right arrowed label-danger pull-right">Inactive
                                </span>
                                <i class="ace-icon hidden-lg hidden-md text-danger pull-right fa fa-ban  bigger-120" data-toggle="tooltip" data-placement="top" title="Inactive" style = "margin-left:10px;"></i>
                              <% end %>
                              <% if child.ancestors.size >= @n %>
                                <span class="label hidden-xs label-grey pull-right arrowed-in-right arrowed">Level Exceeded</span>
                                <i class="ace-icon hidden-lg hidden-md text-default pull-right fa fa-bullhorn  bigger-120" data-toggle="tooltip" data-placement="top" title="Level Exceeded" style = "margin-left:10px;"></i>
                              <% end %>

                              <!-- category grand children ul start -->
                              <% if child.children.present? %>
                                <ul id="g_child-catss" class="g_child-catss aligned-ul admin_category_<%= child.id %>" data-update-url="<%= sort_admin_categories_path %>">
                                  <% child.descendants.sort_by(&:sort_order).each do |g_child| %>
                                    <%= content_tag_for :li, g_child do %>
                                      <i class="handles11 ace-icon fa fa-arrows"></i>
                                      <%= link_to h(g_child.name), g_child, :remote => true %>
                                      <% if child.for_delete %>
                                        <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, g_child, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete_button_color pull-right",:remote => true,:style => "margin-left: 10px;"  %>
                                      <% end %>
                                      <%= link_to ' ', edit_admin_category_path(g_child),:class => "glyphicon glyphicon-pencil edit_button_color pull-right",:remote => true,:style => "margin-left: 10px;" %>

                                      <% if g_child.pub_time.present? %>
                                        <span class="label hidden-xs hidden-sm label-info arrowed-in-right arrowed pull-right" data-toggle="tooltip" data-placement="right" title="Published at  <%= g_child.pub_time.strftime("%I:%M %p") %> on <%= g_child.pub_time.strftime("%d %b %Y") %>">Scheduled to publish</span>
                                        <i class="ace-icon hidden-lg hidden-md text-info pull-right glyphicon glyphicon-time bigger-120" data-toggle="tooltip" data-placement="top" title="Published at <%= g_child.pub_time.strftime("%I:%M %p") %> on <%= g_child.pub_time.strftime("%d %b %Y") %>" style = "margin-left:10px;" ></i>
                                      <% end %>
                                      <% unless g_child.status == true %>
                                        <span class="label   hidden-xs hidden-sm label-warning pull-right arrowed-in-right arrowed" style="">
                                        Hidden</span>
                                        <i class="ace-icon hidden-lg hidden-md  text-warning pull-right glyphicon glyphicon-off" data-toggle="tooltip" data-placement="top" title="Hidden" style = "margin-left:10px;" ></i>
                                      <% end %>
                                      <% unless g_child.active== true %>
                                        <span class="label hidden-xs hidden-sm arrowed-in-right arrowed label-danger pull-right">Inactive
                                        </span>
                                        <i class="ace-icon hidden-lg hidden-md text-danger pull-right fa fa-ban  bigger-120" data-toggle="tooltip" data-placement="top" title="Inactive" style = "margin-left:10px;"></i>
                                      <% end %>
                                      <% if g_child.ancestors.size >= @n %>
                                        <span class="label hidden-xs hidden-sm label-grey pull-right arrowed-in-right arrowed">Level Exceeded</span>
                                        <i class="ace-icon hidden-lg hidden-md text-default pull-right fa fa-bullhorn  bigger-120" data-toggle="tooltip" data-placement="top" title="Level Exceeded" style = "margin-left:10px;"></i>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </ul>                   
                              <% end %>
                              <!-- category grand children ul end -->

                            <% end %>
                          <% end %>

                        </ul>                   
                      <% end %>
                      <!-- category parent ul end -->

                    <% end %>
                  <% end %>
                </ul><br/>
                <!-- category parent ul end -->

              <% end %>
            </div>  
            <!-- sort category panel end -->

          </div>
          <!-- tab content panel end -->
        <% else %>
          <div class="row">
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
            <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8 text-center">
            <h3> No Category </h3>
            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br /><br />
            <span class="markthis btn btn-xs btn-success create_button">
              <span class="glyphicon-plus bigger-110"></span>
              <%= link_to 'Create Category', new_admin_category_path  , :class => "",:style => "color:#fff;",:remote => true %> 
            </span>
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-2 col-md-2">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Searchable content end -->
  
</div>
  
<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="width: 100%;">
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#categories_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    "iDisplayLength": 25,
    sPaginationType: "full_numbers"
  });
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$(".for_fullscreen1").click(function(){
  $(".widget-modal-box").addClass("fullscreen2");
  $("body").addClass('modal-open');
  $(".widget-modal-box").show();
  if(($(".modal-backdrop").length == 0) && !($(".widget-modal-box").hasClass("fullscreen"))){
    $("body").append('<div class="modal-backdrop fade in"></div>');
  }
});

</script>


