<h1>Listing admin_country_pincodes</h1>

<table>
  <thead>
    <tr>
      <th>Plan country</th>
      <th>Pincode</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_country_pincodes.each do |admin_country_pincode| %>
      <tr>
        <td><%= admin_country_pincode.plan_country_id %></td>
        <td><%= admin_country_pincode.pincode %></td>
        <td><%= admin_country_pincode.availability %></td>
        <td><%= link_to 'Show', admin_country_pincode %></td>
        <td><%= link_to 'Edit', edit_admin_country_pincode_path(admin_country_pincode) %></td>
        <td><%= link_to 'Destroy', admin_country_pincode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country pincode', new_admin_country_pincode_path %>
