<p id="notice"><%= notice %></p>

<p>
  <strong>Plan country:</strong>
  <%= @admin_country_pincode.plan_country_id %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @admin_country_pincode.pincode %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @admin_country_pincode.availability %>
</p>

<%= link_to 'Edit', edit_admin_country_pincode_path(@admin_country_pincode) %> |
<%= link_to 'Back', admin_country_pincodes_path %>
