<span class="markthis btn btn-xs btn-success create_button">
  <span class="glyphicon-plus bigger-110"></span>
  <%= link_to 'Add New Variant', new_admin_product_variant_path(@product)  , :class => "",:style => "color:#fff;",:remote => true %> 
</span>
<% unless @product.inventories.present? %>   
  <span class="markthis btn btn-xs btn-danger create_button">
    <span class="ace-icon fa fa-bolt bigger-"></span>
    <%= link_to ' Delete', @product, method: :delete, data: { confirm: 'Are you sure?' },:style => "color:#fff;",:remote => true %>
  </span>
<% end %>

