<%= form_for(@product, :url => admin_product_path(@product), :html => {:id => 'new_product',:class => 'newproduct_form11 validate_this_form'},:remote => true) do |f| %>
  <div class="form-group  row borders">
    <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Return Due</label>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <span class="block input-icon input-icon-right">
        <%= f.number_field :return_due,:class => "blue_textbox width-100",:min => 0 ,:max => 30 %>
      </span>
    </div>
    <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
  </div>
  <div class="form-group  row borders" style="margin-bottom: 8px;">
    <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Based on</label>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <span class="block input-icon input-icon-right">
        <%= f.select :based_on, options_for_select([["Weight", "w"], ["Price", "p"]]),{:promt => "select"},{:class => "form-control width-100 blue_textbox"} %>
      </span>
    </div>
    <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
  </div>
  <div class="form-group row " style="margin-bottom:0px;">
    <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Visibility</label>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <span class="block input-icon input-icon-right" style ="margin-left: 14px;margin-left: 14px;padding-bottom: 2px;margin-bottom: 0px;">
        <label>
          <%= f.check_box :visibility,:class=>"ace ace-switch ace-switch-4" %>
          <span class="lbl labelonoff"></span>
        </label>
      </span>
    </div>
    <div class="help-block col-xs-12 col-sm-3 col-md-3 " id="" style ="margin-top: -7px;
margin-bottom: -59px;padding-bottom: 0px;"> 
      <%= f.submit "Update", :class => "btn btn-sm btn-primary pull-right" %>
    </div>
  </div>
<% end %>

<script>
$(".settings_edit").hide();
</script>