 

<%= tinymce_assets %> 
<%= tinymce %>
<%= form_for(@product,:html => {:id => 'new_product',:class => ' newproduct_form11 validate_this_form'}) do |f| %> 
  <% if @product.errors.any? %>
    <div id="new_error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul> 
    </div>
  <% end %>
  <div class="fields">
    <span id="tagvalue" style="display:none;">1</span>
    <span id="loopvalue" style="display:none;">1</span>
    <span class="propertyvalue1" style="display:none;">1</span>
    <div class="row ">
      <div class="col-sm-12 col-xs-12">
        <div class="form-group form_group_admin_product_name row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Name*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.text_field :name,:class => "blue_textbox width-100 validate_this" %>
            </span>
          </div>
          <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_name_error1"> </div>
        </div>
        <div class="form-group form_group_admin_product_description row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Description*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right tinymce_border">
              <%= f.text_area :description,:class => "tinymce validate_this" %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block" id="admin_product_description_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_type_tokens row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Type*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.text_field :type_tokens,:class => " blue_textbox validate_this "  %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
          <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
          <div class="help-block " id="admin_product_type_tokens_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_brand_id row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Brand</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.collection_select :brand_id, Admin::Brand.all, :id, :name,{:prompt => "Select"},:class => " form-control width-100  blue_textbox" %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block" id="admin_product_brand_id_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_ship_invent row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Inventory Policy*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.select :ship_invent, options_for_select([["Don't Track Inventory", false], ["Track Inventory", true]]),{},{:class => "form-control width-100 validate_this blue_textbox"} %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block " id="admin_product_ship_invent_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_type_tokens row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color"></label>
          <div class="col-xs-12 col-sm-8 col-md-8 stock_exist">
            <span class="block input-icon input-icon-right ">
              <label>
                <%= f.check_box :unavail_purchase,:class=>"ace" %>
                <span class="lbl label-color"> Allow users to purchase this item, even if it is no longer in stock.</span>
              </label>
            </span>
          </div>
          <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_type_tokens_error1"> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-xs-12">
       
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-xs-12">
        <div class="actions pull-right">
          <%= f.submit "Save", :class => "btn btn-success btn-sm" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>
<style>
#mceu_28{
  border-right: 1px solid #9E9E9E !important;
}
</style>


<script>
$(".stock_exist").hide();
$("#admin_product_ship_invent").change(function(){
  if($(this).val() == "false"){
    $(".stock_exist").hide();
    $("#admin_product_unavail_purchase").prop('checked', false);
  }
  else{
    $(".stock_exist").show();
  }
});
$(function () {
  $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });
})
</script>