
<table id="logistics_table22" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
  <thead>
    <tr>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @active_visible_false.each do |product| %>
      <% if product.return_due.present? %>
        <tr>
          <td>
            <% if product.images.present? %>
              <div class="img-rounded">
                <%= image_tag "loading.gif", "data-original" => product.images.first.avatar.url, :class =>"class1 lazy img-responsive img-thumbnail", :style => "width:180px;height:140px;"  %>
              </div>
            <% end %>
          </td>
          <td>
            <% if product.activate_product %>                  
              <%= link_to_if(check_link(admin_product_path(product)),product.name, admin_product_path(product),:remote => true) %><br />  
            <% else %>
              <%= link_to_if(check_link(admin_product_path(product)),product.name, admin_product_path(product),:style => "color:red") %><br />             
            <% end %>
            <small>Brand_Name : <%= product.brand.present? ? product.brand.name : "Unbranded" %><br /></small>
            <div class="col-sm-6 col-xs-12">No.Of Variants : <%= product.variants.count %><br /><br />
            </div>
            <div class="col-sm-6 col-xs-12">
              <% if product.availability_plan.present? %>
                <p class="color_green glyphicon glyphicon-plane" data-toggle="tooltip" data-placement="left" title="Shipping Plan"></p>
              <% else %>
                <p class="color_red glyphicon glyphicon-plane" data-toggle="tooltip" data-placement="left" title="Shipping Plan"></p>            
              <% end %>
              <% if product.tax_plans.present? || product.tax_violate %>
                <p class="color_green glyphicon glyphicon-usd" data-toggle="tooltip" data-placement="left" title="Tax Plan"></p>            
              <% else %>
                <p class="color_red glyphicon glyphicon-usd" data-toggle="tooltip" data-placement="left" title="Tax Plan"></p>       
              <% end %>
              <% if product.categories.present? %>
                <p class="color_green glyphicon glyphicon-th-list" data-toggle="tooltip" data-placement="left" title="Category"></p>   
              <% else %>
                 <p class="color_red glyphicon glyphicon-th-list" data-toggle="tooltip" data-placement="left" title="Category"></p>
              <% end %>
              <% if product.return_due.present? %>
              &nbsp;&nbsp;
                <p class="color_green glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="left" title="Return Duration Days - <%= product.return_due %>"></p>   
              <% else %>
              &nbsp;&nbsp;
                 <p class="color_red glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="left" title="Return Duration Days Not Assign"></p>
              <% end %><br /><br />
            </div>
            <%  if product.variants.present? %>
              <% product.variants.each do |variant|%>
                <div class= "col-sm-6 col-xs-6">
                <%= variant.name %>                      
                </div>
                <div class= "col-sm-6 col-xs-6">              
                <% if selling_prices_check(product) || product.unavail_purchase == true %>
                  <p class="color_green glyphicon glyphicon-inbox" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= balance_qty(variant) %>"></p>
                <% else %>
                  <p class="color_red glyphicon glyphicon-inbox" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= balance_qty(variant) %>"></p>
                <% end %>
                <% if selling_prices_check(product) %>
                  <p class="color_green glyphicon glyphicon-gbp" data-toggle="tooltip" data-placement="left" title="selling price"></p>
                <% else %>
                  <p class="color_red glyphicon glyphicon-gbp" data-toggle="tooltip" data-placement="left" title="selling price"></p>
                <% end %>
                <% if product.visibility == true %>
                  <p class="color_green glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="Visibility"></p>
                <% else %>
                 <p class="color_red glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="Visibility"></p>
                <% end %>
                <br /><br />
                </div>        
              <% end %>
            <% else %>
              <div class= "col-sm-6 col-xs-6">
              </div>
              <div class= "col-sm-6 col-xs-6">  
                <p class="color_red glyphicon glyphicon-inbox" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= '1' %>"></p> 
                <p class="color_red glyphicon glyphicon-gbp" data-toggle="tooltip" data-placement="left" title="selling price"></p>
                <p class="color_red glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="Visibility"></p>
              </div>
            <% end %>
          </td>
          <td>
            <% product.categories.select(:name).each do |product_category| %>
               <%= product_category.name %>
             <% end %>
          </td>
          <td>
            <% product.types.select(:name).each do |type| %>
              <%= type.name %>
            <% end %>
          </td>
          
          <td>
            <span class="markthis">
              <%= link_to '', edit_admin_product_path(product),:class => "glyphicon glyphicon-pencil text-success",:remote => true %>
            </span>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<script>
$("img.lazy").lazyload();
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [0,4],
      "bSortable": false
    }
  ];
  var dataTable = $('#logistics_table22').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>


      
   
