<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title"> Add Inventory</h4>
  </div>
  <div class="modal-body">  
  <%= form_for(@inventory, :url => admin_product_variant_inventories_path(@product,@variant),:remote => true, :html => {:id => 'inventory_form' }) do |f| %>       
      <div class="fields">  
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <%= f.hidden_field :warehouse_id, value: @admin_inventory.warehouse_id, :class => "form-control width2" %><br/>
            <span id="warehouse_error1" class="error_list1" style="display:none;"></span>
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <%= f.hidden_field :parent_id, value: @admin_inventory.id, :class => "form-control width2" %><br/>
            <span id="warehouse_error1" class="error_list1" style="display:none;"></span>
          </div>
        </div>  
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <%= f.hidden_field :vendor_id, value: @admin_inventory.vendor_id, :class => "form-control width2" %><br/>
            <span id="vendor_error1" class="error_list1" style="display:none;"></span>
          </div>
        </div>      
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <%= f.hidden_field :expiry_date, value: @admin_inventory.expiry_date, :class => "form-control width2" %>
            <span id="expirydate_error1" class="error_list" style="display:none;"></span>
            <br/>
          </div>
        </div>               
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :qty, "Quantity",:class => "label_space" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.number_field :qty, value: @admin_regulation.qty, :in=> 1..1000,:class => "form-control width2" %><br/>
            <span id="quantity_error1" class="error_list" style="display:none;"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :purchase_price, "Purchase Price" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.number_field :purchase_price, value: @admin_inventory.purchase_price, :min=> 1,:class => "form-control width2" %>
            <span id="purchase_error1" class="error_list" style="display:none;"></span>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :selling_price, "Selling Price" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.number_field :selling_price, value: @admin_inventory.selling_price, :min=> 1,:class => "form-control width2" %>
            <span id="purchase_error1" class="error_list" style="display:none;"></span>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.hidden_field :regulation, :value => @admin_regulation.reason%>
          </div>
        </div>
      <div class="actions">
        
      </div>  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Add Inventory", :class => "btn btn-primary"%>
  <% end %>
</div>
