<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title"> Add Inventory</h4>
  </div>
  <div class="modal-body">  
  <%= form_for(@admin_inventory, :url => admin_product_variant_inventories_path(@product,@admin_variant),:remote => true,:html => {:id => 'inventory_form' }) do |f| %>       
      <div class="fields">
        <div class="row">
          <div class="col-xs-12 col-sm-3 label_space">
            <%= f.label :warehouse_id, "Warehouse" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.collection_select :warehouse_id, Admin::Warehouse.all, :id, :name,{:prompt => "Select Warehouse" },:class => "form-control width2" %>
            <span id="warehouse_error1" class="error_list1" style="display:none;"></span><br/>
          </div>
        </div>  
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :vendor_id, "Vendor",:class => "label_space" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.collection_select :vendor_id, Admin::Vendor.all, :id, :name,{ :prompt => "Select Vendor" },:class => "form-control width2" %>
            <span id="vendor_error1" class="error_list1" style="display:none;"></span><br/>
          </div>
        </div>                    
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :qty, "Quantity",:class => "label_space" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.number_field :qty,:in=> 1..1000,:class => "form-control width2" %>
            <span id="quantity_error1" class="error_list" style="display:none;"></span><br/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :purchase_price, "Purchase Price" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.number_field :purchase_price,:min=> 1,:class => "form-control width2" %>
            <span id="purchase_error1" class="error_list" style="display:none;"></span>
            <br/>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :expiry_date, "Expiry Date" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.date_field :expiry_date,:class => "form-control width2" %>
            <span id="expirydate_error1" class="error_list" style="display:none;"></span>
            <br/>
          </div>
        </div>
      <div class="actions">
        
      </div>  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Add Inventory", :class => "btn btn-primary"%>
  <% end %>
</div>
