<div class="row">
  <div class="col-sm-12 col-xs-12">   
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row text-center"> 
          <div class="col-sm-1 col-xs-12"><strong>VARIENT</strong></div>
          <div class="col-sm-2 col-xs-12"><strong>BARCODE</strong></div>
          <div class="col-sm-1 col-xs-12"><strong>VISIBILITY</strong></div>
          <div class="col-sm-1 col-xs-12"><strong>IMAGES</strong></div>
          <div class="col-sm-2 col-xs-12"></div>
          <div class="col-sm-2 col-xs-12"></div>
           <div class="col-sm-2 col-xs-12"></div>
          <div class="col-sm-1 col-xs-12"></div>
        </div>
      </div>
      <div class="panel-body">
        <% a = 0 %>
        <% b = 0 %>
        <% c = 0 %>
        <% d = 0 %> 
        <ul id="sort_variant" class = "sort_variant" data-update-url="<%= sort_admin_product_variants_path(@product) %>" >
        <% @variants.each do |variant| %>
          <%= content_tag_for(:li, variant) do %>
            <div class="row borders"> 
              <div class="col-sm-1 col-xs-12 text-center">
                <i class="handles ace-icon fa fa-arrows"></i>
                <%= link_to_if(check_link(admin_product_variant_path(@product,variant)),variant.name, admin_product_variant_path(@product,variant)) %>
              </div>
              <div class="col-sm-2 col-xs-12 text-center">
              <%= variant.sku %><br/>
              <%= variant.bar_code %></div>
              <div class="col-sm-1 col-xs-12 text-center">
                <% if variant.visible == true %>
                  <%= "Visible" %>
                <% else %>
                  <% "Hidden" %>
                <% end %>
              </div>
              <div class="col-sm-1 col-xs-12 text-center"> 
                <div class="right">          
                  <% variant.images.each do |variant_image| %>
                    <div class="img-rounded">
                      <%= image_tag variant_image.avatar.url,:class => "img-responsive variant_image", :style => "height:80px;" %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-2 col-xs-12">
                <% if variant.inventories.present? %>            
                  <span id="variant_inventory<%= a %>" class="variant_inventory glyphicon glyphicon-chevron-down text-success"> Inventory</span>
                <% end %>
              </div>
                <div class="col-sm-2 col-xs-12">
                  <% if variant.product_properties.present? %>
                    <div id="variant_property<%= a %>" class="variant_property glyphicon glyphicon-chevron-down text-warning"> Property</div>
                  <% end %>
                </div>
                <div class="col-sm-1 col-xs-12">
                  <% if variant.product_properties.present? %>
                    <div id="wh_property<%= a %>" class="wh_property glyphicon glyphicon-chevron-down text-warning"> WH</div>
                  <% end %>
                </div>
               
                <div class="col-sm-2 col-xs-12">
                  <%= link_to 'Add Inventory', admin_product_variant_path(@product,variant) , remote: true , class: "btn btn-info btn-xs" %></div>
             </div><br/>
              <% if variant.title.present? %>
                 <div class="row info-borders">                    
                    <div class="col-sm-12 col-xs-6 text-info">
                      <strong><h4>SEO Attributes</h4></strong>
                    </div>
                  </div><br/>
                  <div class="row info-borders">
                    <div class="col-sm-3 col-xs-6 text-info">
                      <strong>Product Title </strong>
                    </div>
                    <div class="col-sm-9 col-xs-6">
                      <%= variant.title %>
                    </div>
                  </div><br/><br/>
                <% end %>
                <% if variant.meta_desc.present? %>
                  <div class="row info-borders">
                    <div class="col-sm-3 col-xs-6 text-info">
                      <strong>Product Meta Description </strong>
                    </div>
                    <div class="col-sm-9 col-xs-6">
                      <%= variant.meta_desc %>
                    </div>
                  </div><br/><br/>
                <% end %>
          <% if variant.product_properties.present? %>
            <div id="variant_property_show<%= a %>" style="display:none;">
              <div class="col-sm-8 col-xs-12">
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-5 col-xs-3"><strong>QUESTION</strong>
                      </div>
                      <div class="col-sm-5 col-xs-3"><strong>ANSWER</strong>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <% variant.product_properties.each do |product_property| %>
                      <div class="row borders">
                        <div class="col-sm-5 col-xs-3">
                        </div>
                        <div class="col-sm-5 col-xs-3"><%= product_property.answer %>
                        </div>
                      </div><br/>
                      <% b += 1 %>
                    <% end %>
                  </div>
                </div>
              </div><br/>
            </div>
          <% end %>
          <% if variant.product_properties.present? %>
            <div id="wh_property_show<%= a %>" style="display:none;">
              <div class="col-sm-8 col-xs-12">
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-5 col-xs-3"><strong>WareHouse Name</strong>
                      </div>
                      <div class="col-sm-5 col-xs-3"><strong>Balance Qty</strong>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <% warehouse_bal_qty(variant).each do |warehouse_bal_qty| %>
                      <div class="row borders">
                        <div class="col-sm-5 col-xs-3">
                          <%= warehouse_bal_qty.first %>
                        </div>
                        <div class="col-sm-5 col-xs-3">
                          <%= warehouse_bal_qty.last %>
                        </div>
                      </div><br/>
                    <% end %>
                  </div>
                </div>
              </div><br/>
            </div>
          <% end %>
          <div class="col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <% if variant.inventories.present? %> 
                  <div id="variant_inventory_show<%= a %>" style="display:none;">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="row text-center">
                          <div class="col-sm-1 col-xs-2"><strong>WAREHOUSE</strong></div>
                          <div class="col-sm-2 col-xs-2"><strong>VENDOR</strong></div>
                          <div class="col-sm-1 col-xs-2"><strong>QUANTITY</strong></div>
                          <div class="col-sm-2 col-xs-2"><strong>PURCHASE PRICE</strong></div>
                          <div class="col-sm-2 col-xs-2"><strong>SELLING PRICE</strong></div>
                          <div class="col-sm-2 col-xs-2"></div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <% variant.inventories.each do |inventorys| %>  
                          <div class="row borders text-center">
                            <div class="col-sm-1 col-xs-2">
                              <%= inventorys.warehouse.name %>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                              <%= inventorys.vendor.name %>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                              <%= best_in_place inventorys, :balance_qty, :path => admin_product_variant_inventory_path(@product,variant,inventorys) %>
                            </div>
                            <div class="co l-sm-2 col-xs-2">
                              <%= best_in_place inventorys, :purchase_price, :path => admin_product_variant_inventory_path(@product,variant,inventorys) %>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                              <%= best_in_place inventorys, :selling_price, :path => admin_product_variant_inventory_path(@product,variant,inventorys) %>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                              <% if inventorys.regulations.present? %>
                                <div id="variant_inventory_regulation<%= a %><%= c %>" class="variant_inventory_regulation glyphicon glyphicon-chevron-down text-danger"> Regulation</div>
                              <% end %>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                              <%= link_to 'Add Regulation', admin_product_variant_inventory_path(@product,variant,inventorys) , remote: true , class: "btn btn-success btn-xs" %>
                            </div>
                          </div><br/>
                          <% if inventorys.regulations.present? %>
                            <div id="variant_inventory_regulation_show<%= a %><%= c %>" style="display:none;">
                            <div class="row borders">
                              <div class="col-sm-2 col-xs-12">
                              </div>
                              <div class="col-sm-8 col-xs-12">
                                <div class="panel panel-danger">
                                  <div class="panel-heading">
                                    <div class="row">
                                      <div class="col-sm-3 col-xs-3"><strong>QUANTITY</strong>
                                      </div>
                                      <div class="col-sm-3 col-xs-3"><strong>REASON</strong>
                                      </div>
                                      <div class="col-sm-3 col-xs-3"><strong>NOTES</strong>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel-body">
                                    <% inventorys.regulations.each do |regulation| %>
                                      <div class="row borders">
                                        <div class="col-sm-3 col-xs-3"><%= best_in_place regulation,:qty, :path => admin_product_variant_inventory_regulation_path(@product,variant,inventorys,regulation) %>
                                        </div>
                                        <div class="col-sm-3 col-xs-3"><%= best_in_place regulation,:reason, :path => admin_product_variant_inventory_regulation_path(@product,variant,inventorys,regulation) %>
                                        </div>
                                        <div class="col-sm-3 col-xs-3"><%= best_in_place regulation,:note, :path => admin_product_variant_inventory_regulation_path(@product,variant,inventorys,regulation) %>
                                        </div>
                                        <%= link_to_if(regulation.reason== "c", "Revert to Inventory", admin_product_variant_inventory_regulation_path(@product,variant,inventorys, regulation), remote: true , class: "btn btn-success btn-xs")%> 
                                      </div><br/> 
                                    <% end %>
                                  </div>
                                </div><br/>
                              </div><br/>
                              <% d += 1%>
                              </div><br/>
                            </div>
                          <% end %>
                          <% c += 1%>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>                 
            </div><br/>
          </div>
          <% a += 1 %>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
 $('.right').cycle({ 
      fx:      'scrollRight', 
      next:   '.right', 
      timeout:  0, 
      easing:  'easeInOutBack' 
  });
</script>