<%= form_for @admin_category_product, :url => admin_child_products_path, :remote => "true",:html => {:id => 'child_products_form'}  do |f| %>
  <div class="fields">
    <%= f.hidden_field :product_id, value: @product.id %>
    <div class="col-sm-6 col-xs-12">
    <%= f.collection_select :category_id, @trace_product_category, :id, "combined_value",{:prompt => "Select Category"},:class => "form-control" %></br>
    <span id="shipping_cate_error" class="error_list" style="display:none;"></span>
    </div>
  </div>
  <div class="col-sm-2 col-xs-8">
    <%= f.submit "Allocate Category", :class => "btn btn-info btn-sm prod_category" %>
  </div>
<% end %>  
  