<% @product.categories.each do |category| %>
<span class="list_cat"><span class="applied_filter" style="width:15%">
<%= category.name %>
<%=link_to "",admin_child_product_path(category.id , :product_id => @product.id), :method => :delete, :class => "delete", :confirm => "Are you sure ?",:class => "text-info glyphicon glyphicon-remove"  %>
 </span></span>
<% end %>
