<fieldset class="bg-info">
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-info glyphicon-remove" %>  <br/> 
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <%= f.label :type_id, "Type Name" %>
      <%= f.collection_select :type_id, Admin::Type.all, :id, :name,{:prompt => "Select Question"}, :class =>"form-control" %>
    </div>
    <div class="col-sm-3 col-xs-12">
			(Or)<label> Create New Product Type</label><br/>
			<%= f.text_field :new_product_type, :class =>"form-control type1" %>
		</div>
	</div><br/>
</fieldset><br/>