<br/>
<div class="row">
  <div class="col-sm-1 col-xs-6">
  Invisible</div><div class="col-sm-1 col-xs-6"><div class="bg-warning to_display"></div></div>
  <div class="col-sm-1 col-xs-6">Inactive</div><div class="col-sm-1 col-xs-6"><div class="ui-state-highlight to_display"></div></div>
</div>
  <br/>
<div class="tabbable">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#all-product" role="tab" data-toggle="tab">Sort All Products</a></li>
    <li><a href="#trend-product" role="tab" data-toggle="tab">Sort Trending Products</a></li>
    <li><a href="#latest-product" role="tab" data-toggle="tab">Sort Latest Products</a></li>
    <li><a href="#offer-product" role="tab" data-toggle="tab">Sort Offer Products</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="all-product">
      <%= render "sort_all_products" %>
    </div>
    <div class="tab-pane" id="trend-product">
      <%= render "sort_trend_products" %>
    </div>
    <div class="tab-pane" id="latest-product">
      <%= render "sort_latest_products" %>
    </div>
    <div class="tab-pane" id="offer-product">
      <%= render "sort_offer_products" %>
    </div>
  </div>
</div>