<div class="panel panel-default">
  <div class=" panel-heading">
    <div class="row">
      <div class="col-sm-2 col-xs-2 text-primary">Product Image</div>          
      <div class="col-sm-4 col-xs-4 text-primary">Product Name</div>
      <div class="col-sm-1 col-xs-1 text-primary">Category</div>
      <div class="col-sm-3 col-xs-3 text-primary">Description</div>          
      <div class="col-sm-1 col-xs-1 text-primary">Type</div>
      <div class="col-sm-1 col-xs-1 text-primary">Edit</div>          
    </div>
  </div>
  <div class="panel-body top_space">
    <% @active_products.each do |product| %>
      <div class="row hoverd">
        <div class="col-sm-2 col-xs-2">
          <% if product.images.present? %>
            <div class="img-rounded">
              <%= image_tag product.images.first.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:180px;height:140px;" %>
            </div>
          <% end %>
        </div>         
        <div class="col-sm-4 col-xs-4">
            <% if product.activate_product %>                  
              <%= link_to_if(check_link(admin_product_path(product)),product.name, admin_product_path(product)) %><br />  
            <% else %>
              <%= link_to_if(check_link(admin_product_path(product)),product.name, admin_product_path(product),:style => "color:red") %><br />             
            <% end %>
            <small>Brand_Name : <%= product.brand.name %><br /></small>
            <div class="col-sm-6 col-xs-12">No.Of Variants : <%= product.variants.count %><br /><br />
            </div>
            <div class="col-sm-6 col-xs-12">
              <% if product.shipping_plans.present? %>
                <p class="color_green glyphicon glyphicon-plane" data-toggle="tooltip" data-placement="left" title="Shipping Plan"></p>
              <% else %>
                <p class="color_red glyphicon glyphicon-plane" data-toggle="tooltip" data-placement="left" title="Shipping Plan"></p>            
              <% end %>
              <% if product.tax_plans.present? %>
                <p class="color_green glyphicon glyphicon-usd" data-toggle="tooltip" data-placement="left" title="Tax Plan"></p>            
              <% else %>
                <p class="color_red glyphicon glyphicon-usd" data-toggle="tooltip" data-placement="left" title="Tax Plan"></p>       
              <% end %>
              <% if product.categories.present? %>
                <p class="color_green glyphicon glyphicon-th-list" data-toggle="tooltip" data-placement="left" title="Category"></p>   
              <% else %>
                 <p class="color_red glyphicon glyphicon-th-list" data-toggle="tooltip" data-placement="left" title="Category"></p>
              <% end %>
              <% if product.return_due.present? %>
              &nbsp;&nbsp;
                <p class="color_green glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="left" title="Return Duration Days - <%= product.return_due %>"></p>   
              <% else %>
              &nbsp;&nbsp;
                 <p class="color_red glyphicon glyphicon-retweet" data-toggle="tooltip" data-placement="left" title="Return Duration Days Not Assign"></p>
              <% end %><br /><br />
            </div>
            <%  if product.variants.present? %>
              <% product.variants.each do |variant|%>
                <div class= "col-sm-6 col-xs-6">
                  <%= variant.name %>                      
                  </div>
                  <div class= "col-sm-6 col-xs-6">              
                  <% if selling_prices_check(product) || product.unavail_purchase == true %>
                    <p class="color_green glyphicon glyphicon-inbox" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= variant.find_balance_qty %>"></p>
                  <% else %>
                    <p class="color_red glyphicon glyphicon-inbox" data-toggle="tooltip" data-placement="left" title="inventory-balance-qty-<%= variant.find_balance_qty %>"></p>
                  <% end %>
                  <% if selling_prices_check(product) %>
                    <p class="color_green glyphicon glyphicon-gbp" data-toggle="tooltip" data-placement="left" title="selling price"></p>
                  <% else %>
                    <p class="color_red glyphicon glyphicon-gbp" data-toggle="tooltip" data-placement="left" title="selling price"></p>
                  <% end %>
                  <% if product.visibility == true %>
                    <p class="color_green glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="Visibility"></p>
                  <% else %>
                   <p class="color_red glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="Visibility"></p>
                  <% end %>
                  <br /><br />
                  </div>        
              <% end %>
            <% else %>
            <div class= "col-sm-6 col-xs-6">
               
            </div>
            <div class= "col-sm-6 col-xs-6">  
              <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="inventory">4</button> 
              <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="selling price">5</button> 
              <button type="button" class="btn btn-xs color_red" data-toggle="tooltip" data-placement="left" title="Visibility">6</button>
            </div>
            <% end %>    
        </div>
        <div class="col-sm-1 col-xs-1">
           <% product.categories.each do |product_category| %>
             <%= product_category.name %>
           <% end %>
        </div>
       
        <div class="col-sm-3 col-xs-3">
          <%= product.description.html_safe %>
        </div>         
        <div class="col-sm-1 col-xs-1">
          <% product.types.each do |type| %>
           <%= type.name %>
          <% end %>
        </div>
        <div class="col-sm-1 col-xs-1 markthis">
          <%= link_to '', edit_admin_product_path(product),:class => "glyphicon glyphicon-pencil text-success",:remote => true %>
        </div> 
      </div>          
    <% end %>
  </div>
</div> 