<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title"> Add Regulation</h4>
</div>
<div class="modal-body" id="myModalLabel">  
  <%= form_for @admin_regulation, :url => admin_product_variant_inventory_regulations_path(@product,@variant,@admin_inventory),:remote => true,:html => {:id => 'new_regulation_form' } do |f| %>
      <div class="fields">
        <div class="row">
          <div class="col-xs-12 col-sm-3 label_space">
            <%= f.label :qty, "Qty" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.number_field :qty, :value => @admin_inventory.qty, :class => "form-control" %>
            <span id="qty_error" class="error_list1" style="display:none;"></span><br/>
          </div>
        </div>  
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <%= f.label :reason, "Give Reason" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.select :reason, options_for_select(["Damage", "Return to vendor", "Expired", "Stolen", "Credit Note"]),{ :prompt => 'Select' }, :class => "form-control" %>
            <span id="reason_error" class="error_list1" style="display:none;"></span>
            <br/>
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12 col-sm-3 label_space">
            <%= f.label :note, "Notes" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.text_field :note, :class => "form-control"%>
            <span id="note_error" class="error_list1" style="display:none;"></span><br/>
          </div>
        </div>                   
      </div>
      
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Add Regulation", :class => "btn btn-primary"%>
  <% end %>
</div>
  </div>
</div>