<% if @param.present? %>
  <%= search_form_for(@search,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <div class="row">
      <span class= "col-sm-6">
        <% count=0 %>
        <% flag=0 %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c,as: flag %>
        <% flag+=1 %>
        <% end %>
        <span style="display:none" class= "for_hide">
          <%= flag %> 
        </span>
        <%= f.condition_fields do |c| %>
          <%= render "search_params", f: c, like: count %>
          <% count+=1 %>
        <% end %>
       <span style="display:none" class= "for_count">
          <%= count %> 
      </span> 
      </span>
      <span class= "col-sm-4"><%= f.submit "Search",:class => "btn btn-success btn-sm" %></span>
    </div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class="row">
            <span class= "hide_form col-sm-6">
            <% flag=0 %>
            <%= f.condition_fields do |c| %>
              <%= render "condition_fields", f: c, as: flag %>
              <% flag+=1 %>
            <% end %>
            </span>
            <span class="col-sm-4">
            <%= f.submit "Search",:class => "btn btn-success btn-sm"  %></span>
            <p class= "qwer"></p>
          </div>
  <% end %>
<% end %>
<br /><br />
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#homes" role="tab" data-toggle="tab">All Products</a></li>
  <li><a href="#invisible"  class = "products_tab products_tab1" data-url= "<%= admin_products_path %>" data-content = "invisible" role="tab" data-toggle="tab">Invisible Products</a></li>
  <li><a href="#visible" class = "products_tab products_tab1" data-url= "<%= admin_products_path %>" data-content = "visible" role="tab" data-toggle="tab">Visible Products</a></li>
  <li><a href="#active" class = "products_tab products_tab1" data-url= "<%= admin_products_path %>" data-content = "active" role="tab" data-toggle="tab">Active Products</a></li>
  <li><a href="#inactive" class = "products_tab products_tab1" data-url= "<%= admin_products_path %>" data-content = "inactive" role="tab" data-toggle="tab">InActive Products</a></li>
  <li><a href="#parent-category" class = "products_tab products_tab1" data-url= "<%= admin_products_path %>" data-content = "category" role="tab" data-toggle="tab">Sort Promotional Category</a></li>
  <li><a href="#promotional-product"  class = "products_tab products_tab1" data-url= "<%= admin_products_path %>" data-content = "promotional" role="tab" data-toggle="tab">Sort Products</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="homes">
    <%= render "all_product_index" %> 
  </div>
  <div class="tab-pane" id="parent-category"> 
    <div class="row text-center" style="height:300px;"><%= image_tag 'preload.gif', :style => "border:none !important;" %></div>
  </div>
  <div class="tab-pane " id="promotional-product">
    <div class="row text-center" style="height:300px;"><%= image_tag 'preload.gif', :style => "border:none !important;" %></div>
  </div>
  <div class="tab-pane" id="invisible">
     <div class="row text-center" style="height:300px;"><%= image_tag 'preload.gif', :style => "border:none !important;" %></div>
  </div>
  <div class="tab-pane" id="visible">  
    <div class="row text-center" style="height:300px;"><%= image_tag 'preload.gif', :style => "border:none !important;" %></div>    
  </div>  
  <div class="tab-pane" id="active"> 
    <div class="row text-center" style="height:300px;"><%= image_tag 'preload.gif', :style => "border:none !important;" %></div>                
  </div>
  <div class="tab-pane" id="inactive">
    <div class="row text-center" style="height:300px;"><%= image_tag 'preload.gif', :style => "border:none !important;" %></div>                
  </div>
</div>
<script> 
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>
