<div class="form-group  row borders">
  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Return Due</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <span class="block input-icon input-icon-right">
      <% if @product.return_due.present? %>
       <%=  @product.return_due %> days
      <% else %>
        <span style="color:#f89406;">Not Yet Fixed</span>
      <% end %>
    </span>
  </div>
  <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
</div>
<div class="form-group  row borders" style="margin-bottom: 8px;">
  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Based on</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <span class="block input-icon input-icon-right">
      <% if @product.based_on.present? %>
        <%= @product.based_on == "w" ? "Weight" : "Price" %>
      <% else %>
        <span style="color:#f89406;">Not Yet Fixed</span>
      <% end %>
    </span>
  </div>
  <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
</div>
<div class="form-group row " style="margin-bottom:0px;">
  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Visibility</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <span class="block input-icon input-icon-right" style="margin-left:-5px;">
      <label>
        <input name="switch-field-1" class="ace ace-switch ace-switch-4" <%= @product.visibility ? "checked" : "" %> type="checkbox" disabled="disabled">
        <span class="lbl"></span>
      </label>
    </span>
  </div>
  <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
</div>
</div>

<script>
$(".settings_edit").show();
</script>