<%= form_for(@product, :url => admin_product_path(@product), :html => {:id => 'new_product',:class => 'newproduct_form11 validate_this_form'},:remote => true) do |f| %>
  <div class="fields">
    <div class="col-sm-6 col-xs-12">
    <%= f.collection_select :availability_plan_id, @trace_availability_plan, :id, :name,{:prompt => "Select Availability Plan"},:class => "form-control " %></br>

    <span id="shipping_plan_error" class="error_list" style="display:none;"></span>
    </div>
  </div>
  <div class="col-sm-2 col-xs-8">
    <%= f.submit "Allocate plan", :class => "btn btn-info btn-sm ship_plan_allocate" %>
  </div>
<% end %>