<ul id="parent-catss1" class = "sort_trends" data-update-url="<%= sort_admin_products_path %>" >
	<% Admin::Product.select(:name,:visibility,:status, :id, :sort_order).sort_by(&:sort_order).each do |product| %>
	  <% if product.visibility == false %>
	    <%= content_tag_for(:li, product, :class => "bg-warning") do %>
	      <i class="ace-icon fa fa-arrows handle"></i>
	      <%= product.name %>
	    <% end %>
	  <% elsif product.status == true %>
	    <%= content_tag_for(:li, product) do %>
	      <i class="ace-icon fa fa-arrows handle"></i>
	      <%= product.name %> 
	    <% end %>
	  <% else %>
	    <%= content_tag_for(:li, product, :class => "ui-state-highlight") do %>
	      <i class="ace-icon fa fa-arrows handle"></i>
	      <%= product.name %>
	    <% end %>
	  <% end %>
	<% end %>
</ul>
	        



<style>

#parent-catsss .handle,#parent-cats .handle,#child-cats .handles,#g_child-cats .handles1,.child-cats .handles,.g_child-catss .handles11,#parent-cats1 .handle1,#chid_sort .child_handle, #parent-catss1 .handle{
  font-size: 12px;
  color: #777;
  cursor: move;
  width: 20px;
  cursor: move;
}
#parent-catsss li,#parent-cats li,#child-cats li,#g_child-cats li,#parent-cats1 li, #child_sort li,#parent-catss1 li{
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin:5px;
}
</style>