<% @generals = Admin::General.first %>
<br/><br/>
<% if @admin_parents.present? %> 
  <% @admin_parents.where(:status => true).sort_by(&:promotional_sort).each do |parent| %>
    <% if @generals.category_level > 1 %> 
	    <% if parent.children.present? %> 
	      <% parent.children.where(:status => true).sort_by(&:promotional_sort).each do |child| %>
	        <% if @generals.category_level > 2 %> 
		        <% if child.children.present? %>
			      <% child.children.where(:status => true).sort_by(&:promotional_sort).each do |g_child| %>
			        <% if g_child.products.where(:promote => 'l').present? %>
			          <strong><%= parent.name %> > <%= child.name %> > <%= g_child.name %></strong> 
			          <ul id="parent-catss1" class = " parent-catss1 sort_trends" data-update-url="<%= promotion_sort_admin_products_path %>" >
			            <% g_child.products.where(:promote => 'l').sort_by(&:promotional_sort).each do |product| %>
			              <% if  product.visibility == false %>
			                <%= content_tag_for(:li, product, :class => "bg-warning") do %>
			                  <i class="ace-icon fa fa-arrows handle"></i>
				              <%= product.name %>
				              <span class="promotion_update pull-right">
						            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
						          </span>
				            <% end %>
			              <% elsif product.status == true %>
			                <%= content_tag_for(:li, product) do %>
			                  <i class="ace-icon fa fa-arrows handle"></i>
				              <span class="handle glyphicon glyphicon-sort"></span>
				              <%= product.name %>
				              <span class="promotion_update pull-right">
					            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
					          </span>
				            <% end %>
			              <% else %>
			                <%= content_tag_for(:li, product, :class => "ui-state-highlight") do %>
			                  <i class="ace-icon fa fa-arrows handle"></i>
				              <%= product.name %>
				              <span class="promotion_update pull-right">
					            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
					          </span>
				            <% end %>
			              <% end %>
			            <% end %>
			          </ul>
			        <% end %>
			      <% end %>
			    <% end %>
			  <% else %>
			    <% if child.products.where(:promote => 'l').present? %> 
				    <strong><%= parent.name %> > <%= child.name %></strong> 
	          <ul id="parent-catss1" class = " parent-catss1 sort_trends" data-update-url="<%= promotion_sort_admin_products_path %>" >
	            <% child.products.where(:promote => 'l').sort_by(&:promotional_sort).each do |product| %>
	              <% if  product.visibility == false %>
	                <%= content_tag_for(:li, product, :class => "bg-warning") do %>
			          <i class="ace-icon fa fa-arrows handle"></i>
		              <%= product.name %>
		              <span class="promotion_update pull-right">
				            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
				          </span>
		            <% end %>
	              <% elsif product.status == true %>
	                <%= content_tag_for(:li, product) do %>
			          <i class="ace-icon fa fa-arrows handle"></i>
		              <%= product.name %>
		              <span class="promotion_update pull-right">
			            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
			          </span>
		            <% end %>
	              <% else %>
	                <%= content_tag_for(:li, product, :class => "ui-state-highlight") do %>
			          <i class="ace-icon fa fa-arrows handle"></i>
		              <%= product.name %>
		              <span class="promotion_update pull-right">
			            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
			          </span>
		            <% end %>
	              <% end %>
	            <% end %>
	          </ul>
	        <% end %>
			  <% end %>
	      <% end %>
	    <% end %>
	  <% else %>
	    <% if parent.products.where(:promote => 'l').present? %>
        <strong><%= parent.name %></strong> 
        <ul id="parent-catss1" class = " parent-catss1 sort_trends" data-update-url="<%= promotion_sort_admin_products_path %>" >
          <% parent.products.where(:promote => 'l').sort_by(&:promotional_sort).each do |product| %>
            <% if  product.visibility == false %>
              <%= content_tag_for(:li, product, :class => "bg-warning") do %>
			  <i class="ace-icon fa fa-arrows handle"></i>
              <%= product.name %>
              <span class="promotion_update pull-right">
		            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
		          </span>
            <% end %>
            <% elsif product.status == true %>
              <%= content_tag_for(:li, product) do %>
			  <i class="ace-icon fa fa-arrows handle"></i>
              <%= product.name %>
              <span class="promotion_update pull-right">
	            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
	          </span>
            <% end %>
            <% else %>
              <%= content_tag_for(:li, product, :class => "ui-state-highlight") do %>
			  <i class="ace-icon fa fa-arrows handle"></i>
              <%= product.name %>
              <span class="promotion_update pull-right">
	            <%= best_in_place product, :promote, type: :select, :collection => [ ['','Select'],['t','Trends'],['o','Offers'],['l','Latest']], data: { confirm: 'Are you sure?',id: product.id } %>
	          </span>
            <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
	  <% end %>
  <% end %>
<% end %> 