<span class="for_fullscreen1" style="display:none;">for fullscreen</span>
<br/></br></br>
<% if @admin_parents.present? %> 
  <ul id="parent-cats" data-update-url="<%= promotion_sort_admin_categories_path %>">
    <% @admin_parents.where(:status => true).sort_by(&:promotional_sort).each do |parent| %>
      <%= content_tag_for :li, parent do %>
        <span class="handle glyphicon glyphicon-sort"></span>
        <span class="sortname"><%= parent.name %></span>
        <% if parent.children.present? %>
          <span class="admin_category_<%= parent.id %>  sort_child">Sort Child</span>
          <ul id="child-cats_product" class="child-cats admin_category_<%= parent.id %>" data-update-url="<%= promotion_sort_admin_categories_path %>">
            <% parent.children.where(:status => true).sort_by(&:promotional_sort).each do |child| %>
              <%= content_tag_for :li, child do %>
                <span class="handles glyphicon glyphicon-sort"></span>
                <span class="sortname"><%= link_to h(child.name), child,:remote => true %></span>
                <% if child.children.present? %>
                  <span class="admin_category_<%= child.id %> pull_right sort_grand_child">Sort Child</span>
                  <ul id="g_child-catss_product" class="g_child-catss admin_category_<%= child.id %>" data-update-url="<%= promotion_sort_admin_categories_path %>">
                    <% child.children.where(:status => true).sort_by(&:promotional_sort).each do |g_child| %>
                      <%= content_tag_for :li, g_child do %>
                        <span class="handles11 glyphicon glyphicon-sort"></span>
                        <span class="sortname"><%= link_to h(g_child.name), g_child,:remote => true %></span>
                      <% end %>
                    <% end %>
                  </ul>                   
                <% end %>
              <% end %>
            <% end %>
          </ul>                   
        <% end %>
      <% end %>
    <% end %>
  </ul>   
<% end %>

<script>

$(".for_fullscreen1").click(function(){
  $(".widget-modal-box").addClass("fullscreen2");
  $("body").addClass('modal-open');
  $(".widget-modal-box").show();
  if(($(".modal-backdrop").length == 0) && !($(".widget-modal-box").hasClass("fullscreen"))){
    $("body").append('<div class="modal-backdrop fade in"></div>');
  }
});

</script>