<%= form_for @products_tax_plans, :url => admin_products_tax_plans_path,:remote => "true",:html => {:id => 'product_tax_plan_form'}  do |f| %>
  <div class="fields">
    <%= f.hidden_field :product_id, value: @product.id %>
    <div class="col-sm-6 col-xs-12">
    <%= f.collection_select :tax_plan_id, @trace_product_tax, :id, :name,{:prompt => "Select Tax Plan"},:class => "form-control" %></br>
    <span id="tax_plan_error" class="error_list" style="display:none;"></span>
    </div>
  </div>
  <div class="col-sm-2 col-xs-6">
    <%= f.submit "Allocate Tax plan", :class => "btn btn-info btn-sm proc_tax" %>
  </div>
<% end %> 