<div class="form-group  row " style="margin-bottom: 8px;">
  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-danger">Free shipping</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <span class="block input-icon input-icon-right">
      <label>
        <input name="switch-field-1" class="ace ace-switch ace-switch-4" <%= @product.free_shipping ? "checked" : "" %> type="checkbox" disabled="disabled">
        <span class="lbl" style="margin-left:-3px;"></span>
      </label>
    </span>
    <span class="text-muted">Making "On" will violate the General Shipping Cost.</span>
  </div>
  <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
</div>
<div class="form-group  row " style="margin-bottom: 0px;border-top: 1px solid #e7f5f8;">
  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-danger">Tax</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <span class="block input-icon input-icon-right text-danger">
      <label>
        <input name="switch-field-1" class="ace ace-switch ace-switch-4" <%= @product.tax_violate ? "checked" : "" %> type="checkbox" disabled="disabled">
        <span class="lbl" style="margin-left:-3px;"></span>
      </label>
    </span>
    <span class="text-muted">Making "On" will violate the General Tax Plan.</span>
  </div>
  <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
</div>
<% if Admin::General.first.cod_preference != true %>
<div class="form-group  row " style="margin-bottom: 0px;border-top: 1px solid #e7f5f8;">
  <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-danger">COD</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <span class="block input-icon input-icon-right text-danger">
      <label>
        <input name="switch-field-1" class="ace ace-switch ace-switch-4" <%= @product.cod ? "checked" : "" %> type="checkbox" disabled="disabled">
        <span class="lbl" style="margin-left:-3px;"></span>
      </label>
    </span>
    <span class="text-muted">Making "On" will violate the General COD Policy.</span>
  </div>
  <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
</div>
<% end %>


<script>
$(".voilate_edit").show();
</script>