<%= form_for(@product, :url => admin_product_path(@product), :html => {:id => 'new_product',:class => 'newproduct_form11 validate_this_form'},:remote => true) do |f| %>
  <div class="form-group  row borders" style="margin-bottom: 8px;">
    <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-danger">Free Shipping</label>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <span class="block input-icon input-icon-right" style ="margin-left: 14px;margin-left: 14px;padding-bottom: 0px;margin-bottom: -33px;">
        <label>
          <%= f.check_box :free_shipping,:class=>"ace ace-switch ace-switch-4" %>
          <span class="lbl labelonoff"></span>
        </label>
      </span><br/><br/>
      <span class="text-muted">Making "On" will violate the General Shipping Cost.</span>
    </div>
    <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
  </div>
   <div class="form-group  row borders" style="margin-bottom: 8px;">
    <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-danger">Tax Free</label>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <span class="block input-icon input-icon-right" style ="margin-left: 14px;margin-left: 14px;padding-bottom: 0px;margin-bottom: -33px;">
        <label>
          <%= f.check_box :tax_violate,:class=>"ace ace-switch ace-switch-4" %>
          <span class="lbl labelonoff"></span>
        </label>
      </span><br/><br/>
      <span class="text-muted">Making "On" will violate the General Tax Plan.</span>
    </div>
    <div class="help-block col-xs-12 col-sm-1 col-md-1" id=""> </div>
  </div>
  <% if Admin::General.first.cod_preference != true %>
  <div class="form-group  row" style="margin-bottom: 0px;">
    <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-danger">COD</label>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <span class="block input-icon input-icon-right" style ="margin-left: 14px;margin-left: 14px;padding-bottom: 0px;margin-bottom: -33px;">
        <label>
          <%= f.check_box :cod,:class=>"ace ace-switch ace-switch-4" %>
          <span class="lbl labelonoff"></span>
        </label>
      </span>
    </div>
    <div class="help-block col-xs-12 col-sm-3 col-md-3" id="" style ="margin-top: -7px;
margin-bottom: -59px;padding-bottom: 0px;"> 
      <%= f.submit "Update", :class => "btn btn-sm btn-danger pull-right" %>
    </div><br/><br/>
    <span class="col-xs-12 col-sm-3 col-md-3"></span>
    <span class="text-muted col-xs-12 col-sm-8 col-md-8">Making "On" will violate the General COD Policy.</span>
  </div>
  <% else %><br/>
     <div class="form-group  row" style="margin-bottom: 10px;">
        <div class="help-block col-xs-12 col-sm-3 col-md-3" id="" style ="margin-top: -7px;
margin-bottom: -59px;padding-bottom: 0px;"> 
      <%= f.submit "Update", :class => "btn btn-sm btn-danger pull-right" %>
    </div><br/>
     </div>
  <% end %>
<% end %>



<script>
$(".voilate_edit").hide();
</script>