<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li><%= link_to '<i class="ace-icon fa fa-archive" style="color:#616060"></i> Products'.html_safe, admin_products_path,:remote => true,:class => "for_page_load" %></li>
    <li><%= link_to @product.name , admin_product_path(@product),:remote => true,:class => "for_page_load" %></li>
    <li class="active">Edit Products</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start --> 
  <div class="pull-right">
    
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">

  <div class="page-header">
    <h4>
      Edit Product
    </h4>
  </div>

	<!-- flash start --> 
	<div class="flash_message_panel">
	  <%= render partial: "layouts/shared/flash_msg" %> 
	</div>
	<!-- flash end -->

	<%= tinymce_assets %>
	<%= tinymce %>	 
	  <%= form_for(@product, :url => admin_product_path(@product), :html => {:id => 'new_product',:class => 'newproduct_form11 validate_this_form'}) do |f| %>
		  <% if @product.errors.any? %>
		    <div id="new_error_explanation">
		      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
		      <ul>
		      <% @product.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <div class="fields">
			<span id="tagvalue" style="display:none;">1</span>
      <span id="propertytagvalue" style="display:none;">1</span>
      <span id="loopvalue" style="display:none;">1</span>
			<span id="product_error1" class="error_list" style="display:none;"></span><br />
			<div class="row ">
			  <div class="col-sm-12 col-xs-12">
        <div class="form-group form_group_admin_product_name row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Name*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.text_field :name,:class => "blue_textbox width-100 validate_this" %>
            </span>
          </div>
          <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_name_error1"> </div>
        </div>
        <div class="form-group form_group_admin_product_description row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Description*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.text_area :description,:class => "tinymce blue_textbox width-100 validate_this" %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block" id="admin_product_description_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_type_tokens row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Type*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.text_field :type_tokens, data:{load: @product.types},:class => "tinymce blue_textbox width-100 validate_this" %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block" id="admin_product_type_tokens_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_brand_id row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Brand</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.collection_select :brand_id, Admin::Brand.all, :id, :name,{:prompt => "Select"},:class => " form-control width-100  blue_textbox" %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block" id="admin_product_brand_id_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_ship_invent row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color">Inventory Policy*</label>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <span class="block input-icon input-icon-right">
              <%= f.select :ship_invent, options_for_select([["Don't Track Inventory", false], ["Track Inventory", true]]),{},{:class => "form-control width-100 validate_this blue_textbox"} %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <span class="help-button help-button-new" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="More details." title="" data-original-title="Popover on hover">?</span>
            <div class="help-block" id="admin_product_ship_invent_error1"> </div>
          </div>
        </div>
        <div class="form-group form_group_admin_product_type_tokens row">
          <label for="inputError" class="col-xs-12 col-sm-2 col-md-2 control-label no-padding-right label-color"></label>
          <div class="col-xs-12 col-sm-8 col-md-8 stock_exist">
            <span class="block input-icon input-icon-right">
              <label>
                <%= f.check_box :unavail_purchase,:class=>"ace" %>
                <span class="lbl label-color"> Allow users to purchase this item, even if it is no longer in stock.</span>
              </label>
            </span>
          </div>
          <div class="help-block col-xs-12 col-sm-2 col-md-2" id="admin_product_type_tokens_error1"> </div>
        </div>
      </div>
		</div>
	    <div class="row">
	      <div class="col-sm-10 col-xs-12">
	        <div class="actions pull-right">
	          <%= f.submit "Update", :class => "btn btn-primary btn-sm" %>
	        </div>
	      </div>
	    </div>
	  <% end %>
  </div>
</div>

<% if @product.ship_invent == false %>
 <script>
    $(".stock_exist").hide();
 </script>
<% end %>

<script>
$("#admin_product_ship_invent").change(function(){
  if($(this).val() == "false"){
    $(".stock_exist").hide();
    $("#admin_product_unavail_purchase").prop('checked', false);
  }
  else{
    $(".stock_exist").show();
  }
});
$(function () {
  $('[data-toggle="popover"]').popover({
    trigger:'hover'
  });
})
</script>