<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-archive"></i> Products</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <span class="markthis btn btn-xs btn-success create_button">
      <span class="glyphicon-plus bigger-110"></span>
      <%= link_to 'Create New Product', new_admin_product_path  , :class => "for_page_load",:style => "color:#fff;",:remote => true %> 
    </span>
  </div> 
  <!-- button panel end --> 
 
</div>

<div class="page-content">
 
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->

  <div class="searchable_content2">
    <%= render "search_content"%> 
  </div>  
</div>


  