<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="markthis"><%= link_to '<i class="ace-icon fa fa-archive" style="color:#616060"></i> Products'.html_safe, admin_products_path,:remote => true,:class => "for_page_load" %></li>
    <li class="active"><%= @product.name %></li>
  </ul><!-- breadcrumb end --> 

  <!-- button panel start -->
  <div class="pull-right check_inventory">
    <%= render partial: "check_inventory" %>
  </div>
  <!-- button panel end --> 
 
</div> 

<div class="page-content">
  
  <!-- flash start --> 
  <div class="flash_message_panel">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end --> 

  <div class="widget-box  transparent ui-sortable-handle" style="width:100.7%">
    <div class="widget-header">
      <h5 class="widget-title bigger lighter">
        <%= @product.name %>  <%= @product.brand.present? ? "<span style='color:black'>( #{@product.brand.name} )</span>".html_safe : "" %>
      </h5>
      <div class="widget-toolbar no-border">

        <% if @product.status == true %>
          <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-success">Active</span>
        <% else %>
          <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-warning">InActive</span>
        <% end %>
        <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_product_path(@product),:remote => true, :data => { action:"reload" } %>
        <a data-action="collapse" class="widget_minimize" style="cursor:pointer;">
          <i class="ace-icon fa fa-chevron-up"></i>
        </a>
      </div>
    </div>

    <div class="widget-body widget_minimize_body">
      <div class="widget-main widget-main padding-6 no-padding-left no-padding-right" >
        <%= @product.description.html_safe %><br/>
        <% @product.types.each do |type| %>
          <span class="applied_filter" style="width:15%">
          <%= type.name %>
         </span>
        <% end %><br/><br/>
        <span class="label label-purple arrowed-in-right"><%= @product.ship_invent ? "Track Inventory" : "Don't Track Inventory" %></span>
        <% if @product.unavail_purchase %>
          <span class=""><i class="ace-icon fa fa-lock"></i> Allow users to purchase this item, even if it is no longer in stock.</span>
        <% else %>
          <span class=""><i class="ace-icon fa fa-unlock"></i> Dont'Allow users to purchase this item, even if it is no longer in stock.</span>
        <% end %>
      </div>
    </div>
  </div>
<!-- Configurations panel --><br/>

  <div class="col-sm-6 col-xs-12">
    <div class="row">
      <div class="widget-box widget-color-blue2 ui-sortable-handle">
        <div class="widget-header">
          <h5 class="widget-title bigger lighter">
            Settings
          </h5>
          <div class="widget-toolbar settings_edit" style="margin-top:10px;">
            <%= link_to '<i class="ace-icon fa fa-pencil"></i>'.html_safe, edit_admin_product_path(@product,:for_configure => "true"), :remote => true ,:data => { action:"settings" } %>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main for_product_config_form" style="background:white;padding-bottom:0px;">
            <%= render "settings" %>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="widget-box widget-color-blue2 ui-sortable-handle">
        <div class="widget-header">
          <h5 class="widget-title bigger lighter">
            Configurations
          </h5>
        </div>

        <div class="widget-body">
          <div class="widget-main" style="background:white;padding-bottom:0px;">
            <div class="row">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Category</label>
              <div class="col-sm-7 col-md-7 col-xs-12 trace_products_view">
                <%= render "product_category_view" %>
              </div>
              <div class="col-sm-2 col-md-2 col-xs-12">
                <span class="add_cat text-primary pull-right"><i class="fa fa-plus-circle "></i>
                </span>
              </div><br/>
              <span class="list_cat_notice col-sm-12 col-md-12 col-xs-12"></span>
            </div>
            <div class="row add_cat_show" style="display:none">
              <div class="col-sm-12">
                <div class="panel panel-info box-bor">
                  <div class="panel-body trace_product_category">
                    <%= render "product_category" %>
                  </div>
                </div>
              </div>
            </div><div class = "row borders"></div><br/>
            <div class="row ">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Tax Plan</label>
              <div class="col-sm-7 col-md-7 col-xs-12 list_tax_plan">
                <%= @product.tax_plans.map{|type| type.name }.join(",") %>
              </div>
              <div class="col-sm-2 col-md-2 col-xs-12">
                <span class="add_tax_plan text-primary pull-right" id="add_tax_plan_show" style="<%= @product.tax_violate ? 'display:none' : ' ' %>"><i class="fa fa-plus-circle "></i></span>
              </div><br/>
              <span class="list_tax_plan_notice"></span>
            </div>
            <div class="row add_tax_plan_show" style="display:none">
              <div class="col-sm-12">
                <div class="panel panel-info box-bor">
                  <div class="panel-body trace_tax_plan">
                    <%= render "tax_plan" %>
                  </div>
                </div>
              </div>
            </div><div class = "row borders"></div><br/>

            <div class="row">
              <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right text-primary">Availability</label>
              <div class="col-sm-7 col-md-7 col-xs-12 list_ship_plan"><%= @product.availability_plan.present? ? @product.availability_plan.name : "" %>
              </div>
              <div class="col-sm-2 col-md-2 col-xs-12">
                <span class="add_ship_plan text-primary pull-right" id="add_ship_plan_show"><i class="fa fa-plus-circle "></i></span>
              </div><br/>
              <span class="list_ship_plan_notice"></span>
            </div>
            <div class="row add_ship_plan_show" style="display:none">
              <div class="col-sm-12">
                <div class="panel panel-info box-bor">
                  <div class="panel-body trace_shipping_plan">
                    <%= render "shipping_plan" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="widget-box widget-color-red3 ui-sortable-handle">
        <div class="widget-header">
          <h5 class="widget-title bigger lighter">
            Voilate
          </h5>
          <div class="widget-toolbar voilate_edit" style="margin-top:10px;">
            <%= link_to '<i class="ace-icon fa fa-pencil"></i>'.html_safe, edit_admin_product_path(@product,:for_voilate => "true"), :remote => true ,:data => { action:"settings" } %>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main for_voilate_form" style="background:white;padding-bottom:0px;">
            <%= render "voilate" %>
          </div>
        </div>
      </div><br/>
  </div>
</div>

    <!-- Configuration panel end -->
  <div class="col-sm-6 col-xs-12" style="padding-right:0px;"><% @varaint_flag = 1 %>
    <% if @variants.present? %>
      <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2 sort_variant"  data-update-url="<%= sort_admin_product_variants_path(@product) %>">
      <% @variants.sort_by(&:sort_order).each do |variant| %>
        <%= content_tag_for(:div, variant, :class => "panel panel-default") do %>
          <div class="panel-heading">
            <a href="#faq-1-<%= @varaint_flag %>" data-parent="#faq-list-1" data-toggle="collapse" class="for_collapse_arrow accordion-toggle collapsed " aria-expanded="false" style="<%= variant.status != true ? 'color:red' : '' %>">
              <i class="pull-right ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
              <i class="ace-icon fa fa-arrows handles" style="margin-right:10px;"></i><%= variant.sku %>(<%= truncate(variant.name, :length => 20)  %>)
              <% if variant.visible == true %>
                  <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-success pull-right" style="margin-top:-3px;">Visible</span>
                <% else %>
                  <span class="label arrowed-in-right arrowed    hidden-sm hidden-xs label-warning pull-right"  style="margin-top:-3px;">Hidden</span>
                <% end %>
                <% if variant.status == true %>
                  <span class="label arrowed-in-right arrowed  hidden-sm hidden-xs label-success pull-right"  style="margin-top:-3px;">Active</span>
                <% else %>
                  <span class="label arrowed-in-right arrowed hidden-sm hidden-xs label-warning pull-right"  style="margin-top:-3px;">InActive</span>
                <% end %>
            </a>
          </div>

          <div class="panel-collapse collapse" id="faq-1-<%= @varaint_flag %>" aria-expanded="false" style="height: 0px;">
            <div class="panel-body" style="background:#F8FAFC;">
              <div class="right-<%= @varaint_flag %>" style="height:100px;">
                  <span class="img-rounded">
                    <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url,:class => "img-responsive variant_image", :style => "height:80px;" %>
                  </span><span style="padding-left:30%;display:block !important;"><%= variant.name %> - QTY <%= variant.find_balance_qty %></span><br/><span style="padding-left:30%;padding-top:20px;display:block !important;"><%= Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').present? ? "₹ #{Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first.selling_price}" :  "" %></span>
              </div>
              <div class="pull-right">
              <%= link_to '<i class="ace-icon fa fa-pencil blue bigger-125"></i>'.html_safe, edit_admin_product_variant_path(@product,variant),:remote => true  %>
              <%= link_to '<i class="ace-icon fa fa-search-plus bigger-130 green"></i>'.html_safe, admin_product_variant_path(@product,variant),:remote => true  %>
              <% unless variant.inventories.present? %>
                <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130 orange"></i>'.html_safe, delete_admin_product_variant_path(@product,variant),:remote => true  %>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% @varaint_flag += 1 %>
      <% end %></div>
    <% else %>
      <span class="text-muted">No variants exist for this product click the link above to add new variant</span>
    <% end %>
    <span class="for_variant_flag_val" style="display:none"><%= @varaint_flag %></span>
  </div>
</div>

<div class="modal fade" id="addinventory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="myModalLabel">
    </div>
  </div>
</div>
       

<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="">
      
    </div>
  </div>
</div>
<!-- Modal Window End-->

<script>
$(document).ready(function(){
  $(".hide_search").hide();
  $(".for_collapse_arrow").click(function(){
    if($(this).hasClass("collapsed")){
      $(".for_collapse_arrow").children().removeClass("fa-chevron-down")
      $(".for_collapse_arrow").children().removeClass("fa-chevron-left")
      $(".for_collapse_arrow > .pull-right").addClass("fa fa-chevron-left")
      $(this).children().first(":first").removeClass("fa fa-chevron-left")
      $(this).children().first(":first").addClass("fa fa-chevron-down")
    }
    else{
      $(this).children().first(":first").removeClass("fa fa-chevron-down")
      $(this).children().first(":first").addClass("fa fa-chevron-left")
    }
  });

 var variant_val = parseInt($(".for_variant_flag_val").text())
 //alert(variant_val)
 for(i=1;i<variant_val;i++){
 $('.right-' + i).cycle({ 
      fx:      'scrollRight', 
      next:   '.right-'+i, 
      timeout:  0, 
      easing:  'easeInOutBack' 
  });
 }
});

$(".widget_minimize").click(function(){
  $(".widget_minimize_body").toggle();
  $(this).children().first(":first").toggleClass("fa-chevron-up")
  $(this).children().first(":first").toggleClass("fa-chevron-down")
});


jQuery(function() {
  return $('.sort_variant').sortable({
    axis: 'y',
    handle: '.handles',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});  
</script>

