<div class="field<%= as %>" id ="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select  %>
  <% end %>
  <%= f.predicate_select %>
	  <%= f.value_fields do |v| %>
	  <%= v.text_field :value,:class => "search_text_box" %>
  <% end %>
</div>
<br />