<%= render partial: "layouts/shared/flash_msg" %> 
<div class="border">
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <h3>Wishlist</h3>
    </div> 
    <div class="col-sm-7 col-xs-12">      
    </div>  
  </div>
</div><br/>
<div class="row">
  <div class="col-xs-12 col-sm-12">    
    <div class="searchable_content1">
    <div class="col-sm-12">
      <% if @param.present? %>
        <%= search_form_for(@search,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
          <% count=0 %>
          <% flag=0 %>
          <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c,as: flag %>
          <% flag+=1 %>
          <% end %>
          <span style="display:none" class= "for_hide">
            <%= flag %> 
          </span>
          <%= f.condition_fields do |c| %>
            <%= render "search_params", f: c, like: count %>
            <% count+=1 %>
          <% end %>
         <span style="display:none" class= "for_count">
            <%= count %> 
        </span> 
        <div class="actions"><%= f.submit "Search" %></div>
        <% end %><br/>
      <% else %>
        <%= search_form_for(@search,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
            <div class= "hide_form">
            <% flag=0 %>
            <%= f.condition_fields do |c| %>
              <%= render "condition_fields", f: c, as: flag %>
              <% flag+=1 %>
            <% end %>
            </div>
          <p class= "qwer"></p>
          <div class="actions"><%= f.submit "Search" %></div>
        <% end %><br />
      <% end %>
    </div><br /><br />
      <div class="col-xs-12 col-sm-12 ">
        <div class="panel panel-default">
          <div class=" panel-heading">
            <div class="row">
              <div class="col-sm-5 col-xs-5 text-info bold">User</div>
              <div class="col-sm-6 col-xs-6 text-info bold">WishList Items</div>
              <div class="col-sm-1 col-xs-1 text-info bold"></div>
            </div>
          </div>
          <div class="panel-body top_space">
            <% @wishlists.each do |wishlist| %>
              <div class="row borders12"> 
                <div class="col-sm-2 col-xs-2"><%= link_to wishlist.user.email, admin_wishlist_path(wishlist),:remote => true %></div> 
                <div class="col-sm-10 rb1">
                  <% wishlist.wishlist_items.each do |wishlist_item| %>
                  <% variant = Admin::Variant.find(wishlist_item.variant_id) %>
						      <% product = Admin::Product.find(variant.product_id) %>
						        <div class="row borders qtys">
						        <div class="col-sm-3">
						          <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "thumbnail", :style => "width:120px;height:100px;" %>
						        </div>
						        <div class="col-sm-3">
						          <h5 class="text-muted">
						          <strong>
						            <%= link_to variant.name.capitalize, section_product_show_path(product.categories.first.id,product),:class => "remove_item" %>
						          </strong></h5>
						        </div>
						        <div class="col-sm-3">
						          <strong>
						          </strong><br/>
						          <div class="text-muted"> 
						            <% @selling_price = Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first %> 
						            Selling Price: <%= @selling_price.selling_price %> 
						          </div>
						        </div>
						        <div class="col-sm-1">
						          <strong>
						          </strong>
						        </div>
						      </div><br/>
						      <% end %>
                </div>  
              </div>          
            <% end %>
          </div>
        </div>
        <%= paginate @wishlists %>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });
});
</script>