<%= form_for(@pincode, :url =>admin_country_state_district_city_pincodes_path(@country, @state,@district_city), :html => {:id => 'new_pincode'},:remote => true) do |f| %>
  <% if @pincode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pincode.errors.count, "error") %> prohibited this pincode from being saved:</h2>
      <ul>
      <% @pincode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode,:class => "form-control width1",:id => "pincode"  %>
    <span id="pincode_name_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="actions">
    <%= f.submit "Create Pincode", :class => "btn btn-success" %>
  </div>
<% end %>