<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right">				
  </div>
	<div class="row">
    <div class="col-sm-6 col-xs-12">
    	<ol class="breadcrumb">
        <li><%= link_to @country.name, admin_country_path(@country),:remote => true %></li>
        <li><%= link_to @state.name , admin_country_state_path(@country,@state),:remote => true %></li>
        <li><%= link_to @district_city.name, admin_country_state_district_city_path(@country,@state,@district_city),:remote => true %></li>
	      <li class="active">Edit Pincode </li>
	    </ol>
    </div>
  </div> 
</div><br />
<div class="col-xs-12 col-sm-6">
	<%= form_for(@pincode, :url =>admin_country_state_district_city_pincode_path(@country, @state,@district_city, @pincode),:remote => true) do |f| %>
	  <% if @pincode.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@pincode.errors.count, "error") %> prohibited this pincode from being saved:</h2>
        <ul>
	      <% @pincode.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
    <div class="field">
	    <%= f.label :pincode %><br>
	    <%= f.text_field :pincode,:class => "form-control",:id => "pincode"  %>
	  </div><br/>
	  <div class="actions">
	    <%= f.submit "Create Pincode", :class => "btn btn-primary" %>
	  </div>
	<% end %><br/><br/>	
</div>
