<h1>Listing pincodes</h1>

<table>
  <thead>
    <tr>
      <th>District city</th>
      <th>Pincode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pincodes.each do |pincode| %>
      <tr>
        <td><%= pincode.district_city_id %></td>
        <td><%= pincode.pincode %></td>
        <td><%= link_to 'Show', pincode %></td>
        <td><%= link_to 'Edit', edit_admin_pincode_path(pincode) %></td>
        <td><%= link_to 'Destroy', pincode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="col-xs-12 col-sm-6"> 
    <h2>Import States</h2>
    <%= form_tag import_admin_pincodes_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>      
  </div>
<%= link_to 'New Pincode', new_pincode_path %>
