<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="pull-right">
    <%= link_to 'Edit Pincode', edit_admin_country_state_district_city_pincode_path(@country ,@state, @district_city,@pincode),:class => "btn btn-primary btn-sm",:remote => true %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb"> 
	      <li class="markthis"><%= link_to @country.name, admin_country_path(@country),:remote => true %></li>
	      <li class="markthis"><%= link_to @state.name , admin_country_state_path(@country,@state),:remote => true %></li>
	      <li class="markthis"><%= link_to @district_city.name, admin_country_state_district_city_path(@country,@state,@district_city),:remote => true %></li>
	      <li class="active"><%=  @pincode.pincode %></li>
	    </ol>
	  </div>
	</div>
</div>
<div class="">
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <strong>Country</strong>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= @country.name %>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <strong>State</strong>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= @state.name %>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <strong>District</strong>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= @district_city.name %>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <strong>Pincode</strong>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= @pincode.pincode %>
    </div>
  </div><br/>
</div>
	
