$site_color:rgb(223, 89, 37);

$header_bg_color:rgb(250, 240, 240) !important;
.text-center {
  text-align: center;
}

*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}



// =============================================================================
//  Mixins and Variables
// =============================================================================

$blue: #7B2A2A;;
$gray: #EEE;

@mixin ul-nostyle {
  list-style: none;
  padding: 0;
  margin: 0;
}


@mixin hover-style($color) {
  &:hover {
    background: lighten($color, 3%);
  }
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

// =============================================================================
//  Classes
// =============================================================================

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: $blue;
}

.dropdown123 {
  a {
    text-decoration: none;
  }

  [data-toggle="dropdown123"] {
    position: relative;
    display: block;
    color: white;
    background: $blue;
    double-shadow:#2980B9;
    @include hover-style($blue);
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
    padding: 10px;

  }
  .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: #fff;
    top: 14px;
    right: 10px;

    &.open {
      transform:rotate(-180deg);
      transition:transform .6s;
    }
    &.close {
      transform:rotate(0deg);
      transition:transform .6s;
    }

    &:before {
      content: '\25BC';
    }
  }

  .dropdown123-menu {
    max-height: 0;
    overflow: hidden;
    @include ul-nostyle;

    li {
      padding: 0;

      a {
        display: block;
        color: darken($gray, 50%);
        background: $gray;
        double-shadow:$gray;
        hover-style:$gray;
        text-shadow:0 -1px 0 rgba(255,255,255,0.3);
        padding: 10px 10px;
      }
    }
  }

  .show, .hide {
    transform-origin:50%, 0%;
  }

  .show {
    display: block;
    max-height: 9999px;
    transform:scaleY(1);
    animation:showAnimation .5s ease-in-out;
    transition:max-height 1s ease-in-out;
  }

  .hide {
    max-height: 0;
    transform:scaleY(0);
    animation:hideAnimation .4s ease-out;
    transition:max-height .6s ease-out;
  }
}
