
@import "final_object";
.menu_header12{  
  background: $theme_color;
  top: 5px;
  color:#000 !important;
}
.mb100{
  
  background:$body_background_color;
}
.btn-common1{
  background:#000;
}
.navbar-default {
  background-color: $admin_header_color;
  border-color: #e7e7e7;
}
.video-head-box {
  padding: 16px 40px 16px 30px;
  border-radius: 5px 5px 0 0;
  border: 1px solid $border_color;
}
.txt-up {
text-transform: uppercase;
}

.cart_color{
  background:$header_cart_bg !important;
  border:none !important;
}
.favourite{
  background-image: url(../close.gif);
  background-repeat: no-repeat;
  width: 100px;
  padding-top: 16px;
  padding-right: 105px;
  float: right;
  margin-top: -23px;
  margin-right: 600px;
}
.footer_padd{
  padding:0px;
}
.cart_color:hover{
  background:$theme_color !important;
  border:none !important;
}
.video-head-box1 {
  padding: 16px 40px 16px 30px;
  border-bottom: 1px solid $border_color;
  border-right: 1px solid $border_color;
  border-left: 1px solid $border_color;
}
.full-border {
  border: 1px solid $border_color;
  margin: 4px;
}
.skyblue li a.color1:hover{
 
  color: #deff5a;
}
.jscarousal-vertical-back, .jscarousal-vertical-forward
{
  width: 100%;
  height: 30px;
  background: $theme_color;
  color: White;
  position: relative;
  cursor: pointer;
  z-index:100;
}

.wrap{
  width:80%;
  margin:0 auto;
  -moz-transition:all .2s linear;
  -webkit-transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -ms-transition:all .2s linear;
}
.header-top{
  background:$header_bg_color;
}
.logo{
  float:left;
  margin-right: 46.5%;
}

.header-bottom{
  background:$theme_color;
  padding: 5px 0;
}
.bottom-menu {
  float: right;
}
.bottom-menu ul li {
  display: inline-block;
}
.bottom-menu ul li a {
  color: #fff;
  display: block;
  margin: 0px 10px;
  font-size: 1em;
}
.h_nav h4 {
  border-bottom:1px solid rgb(236, 236, 236) !important;
  font-size: 1.1em !important;
  color: #000 !important;
  line-height: 1.8em !important;
  text-transform:capitalize  !important;
  margin-bottom: 4% !important;
}
.h_nav h4 a{
  font-size: 1.1em !important;
  color: #000 !important;
  line-height: 1.8em !important;
  text-transform:capitalize  !important;
  margin-bottom: 4% !important;
}
.h_nav h4 a:hover{
  text-decoration: none!important;
}
.h_nav h4 a.top{
  margin-top: 12% !important;
}
.h_nav ul li{
  display: block !important;
}
.h_nav ul li a{
  display:block !important;
  font-size: 0.9125em !important;
  color:#565656 !important;
  text-transform:capitalize !important;
  line-height:2em !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
.h_nav ul li a:hover{
  color:#00405d;
  text-decoration:underline;
}
/**** Slider *****/
.col_1_of_single1:first-child {
    margin-left: 0px;
}
.span_1_of_single1 {
    width: 28.6%;
}
.col_1_of_single1 {
    display: block;
    float: left;
    margin: 1% 0px 1% 3.6%;
}
.borders-top{
  border-top:1px solid $border_color;
  border-bottom:1px solid $border_color;
}
.border-left{
  border-left:1px solid $border_color;
  border-right:1px solid $border_color;
}
.filter_title {
  font-size: 1.083em;
  line-height: 1.333em;
  color: #fff;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  text-transform: uppercase;
  background-color: $theme_color;
  padding: 4px 10px 2px 10px;
  clear: both;
  cursor: pointer;
}
.span_1_of_single1 {
    width: 28.9%;
    border: 1px solid #DDD;
}
.span_2_of_single1 {
    width: 20.7%;
    border: 1px solid #DDD;
}
.view1 {
    overflow: hidden;
    position: relative;
}
.top_box {
    padding: 3%;
}
h3.m_1 {
    color: #555;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
}
p.m_2 {
    color: #999;
    font-size: 0.8125em;
}
.grid_img {
    text-align: center;
}
.top_box .css3 img {
    transition-duration: 0.5s;
}
.view-fifth1 img {
    transition: all 0.3s ease-in-out 0s;
}
.view1 .mask1, .view1 .content {
    top: 120px;
    left: 80px;
}
.view-fifth1 .mask1 {
    transform: translateX(-300px);
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    }
.view1 .mask1, .view1 .content {
    position: absolute;
    overflow: hidden;
    top: 218px;
    left: 90px;
}
.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: none repeat scroll 0% 0% #000;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.9em;
}
.price {
    color: #555;
    font-size: 1.2em;
    font-weight: 700;
}
.top_box{
  padding:3%;
}
.list{
  float: left;
  background: #08080B;
  width: 50%;
  padding: 0.5% 0;
  text-align: center;
}
ul.list li img{
  vertical-align:middle;
  float: left;
  margin: 0 0px 0 18%;
} 
.top_box .css3 img {
  -webkit-transition-duration: 0.5s;
  /* Webkit: Animation duration; */
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.top_box:hover .css3 img{
  -webkit-transform: scale(0.9);
  /* Webkit: Scale up image to 1.2x original size; */
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  opacity: 1;
}
.view {
   overflow: hidden;
   position: relative;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 130px;
   left: 130px;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view1{
   overflow: hidden;
   position: relative;
}
.view1 .mask1,.view1 .content {
   position: absolute;
   overflow: hidden;
   top:200px;
   left:90px;
}
.mask1:hover{
  text-decoration: none;
}
.nav-tabs > li.qwe.active > a,
.nav-tabs > li.qwe.active > a:hover,
.nav-tabs > li.qwe.active > a:focus {
  font-size:14px;
  color: #555;
  cursor: default;
  background-color: #fff;
  border-top: 3px solid $theme_color;
  border-bottom-color: transparent;
}

.tab_design{
  padding: 37px 15px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  min-height: 320px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 2px #eee;
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: $theme_color;
   color: #fff !important;
   text-transform: uppercase;
    font-size:0.9em;
}
.info:hover {
   background:$header_bg_color;
}
.view-fifth1 img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth1 .mask1 {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth1:hover .mask1 {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
} 
.margin_bottom{
  margin-bottom:10px;
}             
@mixin two($pro,$color){
  #{$pro}:$color; 
}
@mixin four($pro,$width,$type,$color){
  #{$pro}:$width $type $color;  
}
@mixin five($pro,$top,$right,$bottom,$left){
  #{$pro}:$top $right $bottom $left;  
}
.border-top{
  border-top:1px solid #000;
  padding:10px;
  font-weight:bold;
  font-size:14px;
}
@mixin flash{
  @include two(width,116%);
  @include two(height,10%);
  @include two(font-size,11px);
  @include two(border-radius,0px);
  @include two(padding,5px);
  @include two(color,green);
  @include five(margin,20px,0px,0px,-13px); 
} 
.modal-footer.resize_footer{
  @include two(margin-top,3px);
  @include two(text-align,right);
  @include four(border-top,1px,dotted,$border_color);
  @include two(background,#e8e6e6);
  @include two(padding,1px);
}
.btn-xs.model-close{
  @include two(background,#cecdcd);
  @include two(color,#555);
}
.col-sm-1.divide{
  @include two(background-size,30px);
  @include two(margin-left,-34px);  
}
.modal-content.border{
  @include four(border,10px,solid,rgba(51,51,51,0.3));
  @include two(border-radius,0px);
}

.error_list{
  @include two(color,rgb(214, 4, 4)); 
  width:210px;
}
.error_list1{
  @include two(color,rgb(214, 4, 4)); 
  width:210px;
  margin-top:9px;
}
.label_space{
  margin-top:9px;
}
#forget-pwd{
  @include two(font-size,13px); 
  @include two(cursor,pointer);
}
.usersidebar{
  @include two(border-radius,0px);
  @include two(width,100%);
  @include two(height,600px); 
  border-color:none;
  color:#848484;
}
.usersidebar > button > a{
 color:#848484;
 text-decoration:none;
}
.usersidebar > button:hover{
 color:#848484;
 text-decoration:none;
 @include two(background,#222222);
 }
.usersidebar > button:first-child > a{
color:#fff;  
}
pull-right > small > a:first-child{
  border-right:none;
}
.sidebar{
  @include two(border-radius,0px);
  @include two(height,600px);
}
.btn.btn-default.color1{
  @extend .btn.btn-default.color;
  @include two(border-right-radius, 0px);
  @include two(border-right-color,#000);
}
.btn.btn-default.color{
  @include two(height,37px);
  @include two(color,#96a7b6);
  @include two(text-align,left);
  @include two(border-radius,0px);
  @include two(background,#222222); 
  @include two(padding,8px);
  @include two(text-decoration,none);
}
.btn.btn-default.color > a{
  @extend .btn.btn-default.color;   
}
.btn.btn-default.color > a:hover,.btn.btn-default.color:hover{
  @include two(background,#272c30);
  @include two(text-decoration,none);
}
.btn.btn-default.color.selected,.btn.btn-default.color.selected > a{  
  @include two(background,#272c30);  
}
.btn.myaccount_color1.selected1,.btn.myaccount_color1.selected1 > a{  
  @include two(background,#222222);  
}
.col-xs-12.col-sm-2.left{
  @include two(padding-left,0px);  
}
.admin_height{
   min-height:640px;
   background: #f5f5f5;
   border-right: 1px solid #b06338;
   }
.form-control.width2{
  @include two(width,40%);  
}
.dropdown-menu.side{
  @include two(width,100%);
  @include two(min-width,100%);
  @include two(background,#f5f5f5);
  @include two(border-radius,0px);
  display:none;
}
.dropdown-menu.side > li > a:hover{ 
  @include two(background,#ddd);
}
.border{
  @include four(border-bottom,1px,solid,#222);
  @include two(width,100%);  
}
.border_space{
  @include four(border-bottom,1px,solid,#ECECEC);
  @include two(width,100%);
  padding-top:1%;
  padding-bottom:1.5%;  
}
#password_flash > .container_flash > .alert.alert-success{
  @include flash;
  @include two(background,#cfc);
  @include four(border,1px,solid,green);  
}
#signin_flash > .container_flash > .alert.alert-info, #signup_flash > .container_flash > .alert.alert-info , #password_flash > .container-fluid > .alert.alert-info{
  @include flash;
  @include two(background,#fce7e7);
  @include four(border,1px,solid,#b00); 
}
.col-sm-7.divide{
  @include four(border-right,1px,dotted,#ccc);  
}
.space{
  @include two(margin-right,10px);
}
.hoverd1{
  padding:6px;
}
.general_head{
  font-size: 14px;
  text-align: center;
  padding: 16px;
  text-transform: uppercase;
}
.hoverd:hover{
  @include two(background,#f5f5f5);
}
.hoverd1:hover{
  @include two(background,#f5f5f5);
  padding:6px;
}

.row.hoverd{
  @include two(height,auto);
  @include two(padding-top,10px);
  @include two(padding-bottom,10px);
}

.linkedin_margin{
  @include two(margin-left,10px); 
}
.divider_margin{
  @include two(margin-top,125px);
}
.left-border{
  @include four(border-right,1px,dotted,#666);
  @include two(padding-right,10px); 
}
.header_bg{
  @include two(background,$header_bg_color);
  @include two(color,#b6cbda);
  
}
.header_bg1{
  @include two(background,$header_bg_color);
  @include two(color,#b6cbda);
  border-bottom: 1px solid #f2f2f2;
  padding:4px 2px 0px 2px;
}
.personal_desc{
  @include two(background,$personal_desc_bg_color);
  @include two(color,#666);
  font-weight:bold;  
  padding:15px;
}

.footer_bg1{
  @include two(background,$footer_bg_color);
  @include two(color,$header_font_color);
  font-weight:bold  ;  
  padding:10px;
}
.submit_color{
  @include two(background,$header_cart_bg);
  @include two(color,#fff);
  font-weight:bold !important;
}
.submit_color:hover{
  @include two(background,#cee1f0);
  @include two(color,#fff);
  font-weight:bold;
}
.footer_bg2{
  @include two(background,#1b1b1b);
  @include two(color,#b6cbda); 
  padding:10px;
}
.head_color{    
  @include two(color,#333);
  @include two(padding-top,2px);
  @include two(padding-left,13px);  
}
.head_color:hover{
  @include two(color,#6e953c);
  @include two(text-decoration,none);
  @include two(cursor,pointer);
  @include two(color,#6e953c);
}
.pull-right > small > ul{
  @include two(margin-bottom,0px);
}
.dropdown.pull-right{
  @include two(list-style-type,none);
}
.site-panel{
  @include two(min-height,622px);
}
.dropdown-menu .sub-menu.head-menu {
  @include two(left,100%);
  @include two(position,absolute);
  @include two(top,0);
  @include two(visibility,hidden);
  @include two(margin-top,-1px);
}
.dropdown-li:hover .dropdown-menu.header-menu {
  @include two(visibility,visible);
}
.dropdown:hover .dropdown-menu.header-menu {
  @include two(display,block);
}
.dropdown-menu.header-menu{
  @include two(margin-top,0px);  
}
.form-control.width1{
  @include two(width,50%);  
}
.form-control.width10{
  @include two(width,90%);  
}
.form-control.width{
  @include two(width,25%);  
}
.footer-bottom{
  background-color: $theme_color;
  color: #edeeef;
  text-align:center;
}
.footer-bottom1{
  background-color: $theme_color;
  color: #edeeef;
  text-align:center;
  padding-left:0px !important;
  padding-right:0px !important;
}
.breadcrumb.a{
  background:none;
  padding:0px;
  margin-bottom:2px;
  font-size:12px;
  color: #333;
}
.breadcrumb.height{
  height:32px;
}
.btn.btn-default.myaccount_color{
  background:#3f3f3f;
  color:#fff;
  border-radius:0px;
  width:100%;
  font-size: 16px;
  font-weight: bold;
  height:32px;
  text-align:left;
  border-color:#005387;
}
.btn.myaccount_color1{
  color:#848484;
  border-radius:0px;
  width:100%;  
  height:28px;
  background-color:#fff;
  border-color: none;
  text-align:left;
  cursor:pointer;
  padding:0px 0px 0px 10px;
  @include two(text-decoration,none);
}

#error_explanation{
  background-color: #FCF6DF;
  border: 1px solid #fecd07;
  border-right: 40px solid #fecd07;
  width: 380px;
  border-radius:4px; 
}
.change_error_explanation#error_explanation{
  background-color: #FCF6DF;
  border: 1px solid #fecd07;
  border-right: 12px solid #fecd07;
  width: 100%;
  border-radius:4px; 
}
.error_lists{
  border-radius: 4px;
  height: 33px;
  width: 49%;
  margin-bottom: 17px;  
  padding: 5px 0px 18px 20px;
  color: rgb(214, 4, 4); 
}
.change_error_explanation.error_lists{
  border-radius: 4px;
  height: 33px;
  width: 49%;
  margin-bottom: 17px;  
  padding: 5px 0px 18px 20px;
  color: rgb(214, 4, 4); 
}
#error_explanation > ul > li{
  width:100%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin:10px;
}
.change_error_explanation#error_explanation > ul > li{
  width:107%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin-top:5px;
  margin-left:-23px;
}
#error_explanation > h2{
  display:none;
}
.border h3{
  color:#666;
}
.open1{
  
  color:#fff !important;
  margin-right:-4px;
  margin-left:-4px;
}

.liwidth,.liwidth > a {
  width:100%;
  color:#96a7b6;
  padding-top:4px !important;
  padding-bottom:4px !important;
}
.liwidth,.nav.navbar-nav.color{  
  @include two(color,#96a7b6);
  @include two(text-align,left);
  @include two(border-radius,0px);
  @include two(background,#31373d); 
  @include two(padding,0px);
  @include two(text-decoration,none);
}
.dropdown.liwidth{  
  margin:0px;
  height:36px;
  color: #96a7b6;
  text-align: left;
  border-radius: 0px;
  background: #222222;
  padding: 8px;
  text-decoration: none;
}
li > span > a{
  color: #96a7b6;
  font-weight:normal;
}
.navbar-default .navbar-nav > li > a{
   color: #96a7b6;
}
.selected.liwidth{
  font-weight:bold;
}
.btn-sm.gly{
  font-family: 'Glyphicons Halflings';
}
.col-xs-12.col-sm-6.margin,.col-xs-12.col-sm-2.margin,.col-xs-12.col-sm-4.margin{  
  margin-top:14px;
}
.form-inline > .form-width{
  width:40% !important;
}
.form-inline > .form-width1{
  width:90% !important;
}
.form-width1{
  width:90% !important;
}
.dropdown.wide{
  width:100%;
}
.color.wide{
  width:100%;
}
.breadcrumb.breadcrumb-width{
  width:50%
}
.form-margin{
  margin-top:20px;
}
.panel-body.top_space{
  padding-top:0px;
  padding-bottom:0px;
}
.modal-content.border{
  width:100% !important;
}
.modal-content.border.modal_window_increase_width{
  width:125% !important;
}

.modal-content.border.modal_window_increase_width2{
  width: 190% !important;
  left: -45%;
}
.bank_check_box, .bank_check_box1{
  left:0px !important;
}
.red{
  background-image: url(../close.gif);
  background-repeat: no-repeat;
  width: 100px;
  padding-top: 16px;
  padding-right: 105px;
  float: right;
  margin-top: -23px;
  margin-right: 600px;
}
.red1{
  background-image: url(../tick1.png);
  background-repeat: no-repeat;
  width: 100px;
  padding-top: 16px;
  padding-right: 105px;
  float: right;
  margin-top: -23px;
  margin-right: 600px;
}
.chosen-container.chosen-container-single{
  margin-top:20px;
  width:100% !important;
}
.row > .fields > .col-xs-12.col-sm-9 >ul.token-input-list-facebook{
  width:40%;
}
.borders{
  border-bottom:1px solid $border_color;
}

.borders12{
  border-bottom:1px solid #ECECEC;
  padding:10px;
}
.border12{
  
  padding:10px;
}
.info-borders{
  border-bottom:1px solid $border_color;
}

.city-border{
  border: 1px solid grey;
  background-color: rgb(242, 243, 243);
}
.decorate{
  text-decoration:underline;
  cursor:pointer;
}

.bold{
  font-weight: bold;
}
ul.token-input-list-facebook {
  width: 100% !important;
  border-radius: 3px !important;
}
.add_fields,.add_ship_plan,.add_tax_plan,.add_cat,.assign_warehouse{
  padding: 5px;
  border-width: 3px;
  text-decoration: none;
  background-color: #abbac3!important;
  border-color: 1px solid #abbac3;
  padding: 6px 12px;
  font-weight: 400;
  text-align: center;
  color: #FFF!important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.add_fields:hover,.add_ship_plan:hover,.add_tax_plan:hover,.add_cat:hover,.assign_warehouse:hover{
  text-decoration: none;
  background-color: #ECEBEB;
  cursor: pointer;
  background-color: #8b9aa3!important;
  border-color: #abbac3;
  border-width: 3px;
}
.variant_property,.variant_inventory,.variant_inventory_regulation,.add_ship_plan,.add_tax_plan,.add_cat{
  cursor: pointer;
}
.yes-btn{
  height:40px;
  border:1px solid #555;
  width:50%;
  margin:30px;
}
.yes-btn:before{
  content:"\2b";
  font-family:"Glyphicons Halflings";
  line-height:1;
  margin:10px;
  display:inline-block;
  }
body{
  font-size:12px !important;
  
}
.box-bor{
  z-index: 9999;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 30px 60px rgba(71, 70, 70, 0.05) !important;
  background-color: #E7F5F8 !important;
}
.variant_image{
  width:80px;
  border:none;
  height:80px;
  margin-left:30px;
  padding-bottom:8px;
}
#menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  margin: 0;
  padding: 0;
  float: left;
}
#menu li a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  border: solid black 1px;
  color: black;
  background-color: #AEBBE2;
}
#menu li a:hover {
  color: white;
  background-color: #4A63B8;
}
#submenu {
  float: left;
  list-style: none;
  border: solid black 1px;
  padding: 15px 14px;
  margin: 24px 0;
  margin-bottom: 50px;
  margin-right: 20px;
}
.tab-pane1 {
  position: absolute;
  z-index: 1060;
  left: 10%;
  top:10%;
  min-width: 70%;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid $border_color;
  border: 1px solid $border_color;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.widths {
  width:100px;
}
.sub_link{
  color:#565656;
  text-decoration:none;
  padding-left:20px;
}
.sub_link:hover{
  color:#565656;
  text-decoration:none;
}
.super_link{
  color:#565656;
  text-decoration:none;
}
.super_link:hover{
  color:#565656;
  text-decoration:none;
}
.super-li{
  margin-right:80px;
}
.two_line_menu{
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  
}
.nav.navbar-nav.color.wide > li:hover{
  background-color: #222222 !important;
  color:#96a7b6;
}
.nav.navbar-nav.color.wide > li > a:hover{
  background-color: #222222 !important;
  text-decoration:none;
  color:#96a7b6;
}
.nav.navbar-nav.color.wide > small >.backg{
  
  padding: 20px 10px;
  background-color: #050505 !important;
  color:white !important;
  width:100%;
}
.nav.navbar-nav.color.wide > small >.backg > a{
  color:white !important;
}
.css_menu_two_line {
  width:100%;
} 
.two_line_menu {
  position: relative;
  margin-bottom: 40px;
  splay: block;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #444546;
  display:block;
} 
.two_line_menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding:10px 10px 10px 10px;
}
.two_line_menu li ul li a {
  padding:3px !important;
  padding-right:80px !important;
  color:#686060;
} 
.two_line_menu li:hover a {
  background-color: rgba(253,253,253,0.98);
  text-decoration: none;
}
.two_line_menu > li:hover >a {
  color:black;
  border-bottom:4px solid #f58b00 !important;
}
.two_line_menu li ul{
  -webkit-padding-start: 0px;
  padding-top:20px;
  padding-left:5px;
  padding-bottom:15px;
  z-index: 1000;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid $border_color;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px $border_color;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  
}
.two_line_menu li { 
  display: inline-block; 
 
}
.two_line_menu > li{
  
  -webkit-margin-start: -2px;
  -webkit-margin-end: -2px;
}
.two_line_menu li ul li {
  
  display: inline-block;
  top:0px !important;
  vertical-align: top;
  color:red; 
}
.two_line_menu li ul { display: none; }
 
.two_line_menu li:hover ul {  
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgba(253,253,253,0.98);
  top: 38px;
  opacity:1;
}
.two_line_menu li ul li div div a:hover{
  border:1px solid yellow;
} 
.two_line_menu li ul li:hover a { color: #333; }
.two_line_menu li ul li div div a {
  white-space: nowrap;
  text-overflow: ellipsis;
  
  padding:3px !important;
  color:rgb(143, 142, 142) !important;
  padding-left:10px !important;
  text-transform: capitalize !important;
}
.heights{
  height:36px;
}
.two_line_menu li ul li:nth-child(odd){
    
}
.inside-element{
  display: block;
  text-decoration: none;
  color: #697071;
  line-height: 20px;
  font-size: 12px;
  
}
.bread > a{
  text-decoration: underline;
  color: black !important;
  font-size:11px;
}
.bread{
  font-size:11px;
}
.bread > a:hover{
  text-decoration: none;
  color: $site_color !important;
  font-size:11px;
}
.product_hover{
  border:1px solid white;
}
.product_hover:hover{
  border:1px solid $site_color;
}
.pro_name{
  font: bold 12px/14px arial;
  color:#473939;
}
.pro_desc{
  color:#999;
}
.main_head{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:50px;
  padding-right:50px;
  background-color:black;
  color:white;

}
.tag{
  position: absolute;
  bottom: 0;
  color: red;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 60px 30px;
  opacity: .7;
  filter: alpha(opactiy=70);
  -ms-filter: "alpha(opacity=70)";
  -moz-opacity: .7;
  -khtml-opacity: .7;
}
.product_hover_padding{
  padding-left:20px;
  padding-bottom:2px;
  padding-top:2px;
}
.product_hover_padding1{
  padding-left:15px;
  padding-bottom:2px;
  padding-top:2px;
}
.product_hover_padding a{
  color:#999;
}
.product_hover_padding a:hover{
  color:black;
  text-decoration: none;
}
.second_level{
  padding-left:10px;
}
.second_level_name:hover{
  border:2px solid $site_color;
}
.second_level_name{
  padding:15px;
  border:2px solid white;
}
.second_level_name > a, .second_level_name > a:hover{
  color:black;
  text-decoration:none;
}
.labels{
  color:#6E953C;
}
.second_level_show{
  padding-left:40px;
  padding-bottom:5px;
  color:#777;
}
.second_level_show a{
  color:#777;
}
.second_level_show a:hover{
  text-decoration:none;
  color:#999;
}
.list_main_cat{
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;
}
.price_size{
  font-size:20px;
}
.borders1{
  border-bottom:1px solid black;
}
a.variant_images > img{
  height:114px;
}

.mi-slider {
  position: relative;
  margin-top: 30px;
  height: 490px;
}

.mi-slider ul {
  list-style-type: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 140px;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}

.no-js .mi-slider ul {
  position: relative;
  left: auto;
  bottom: auto;
  margin: 0;
  overflow: visible;
}

.mi-slider ul.mi-current {
  pointer-events: auto;
}

.mi-slider ul li {
  display: inline-block;
  padding: 20px;
  width: 20%;
  max-width: 300px;
  -webkit-transform: translateX(600%);
  transform: translateX(600%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.no-js .mi-slider ul li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mi-slider ul li a,
.mi-slider ul li img {
  display: block;
  margin: 0 auto;
}

.mi-slider ul li a {
  outline: none;
  cursor: pointer;
}

.mi-slider ul li img {
  max-width: 100%;
  border: none;
}

.mi-slider ul li h4 {
  display: inline-block;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 10px 0;
}

.mi-slider ul li:hover {
  opacity: 0.7;
} 

.mi-slider nav {
  position: relative;
  top: 400px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-top: 5px solid #333;
}

.no-js nav {
  display: none;
}

.mi-slider nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 40px 30px 30px 34px;
  position: relative;
  color: #888;
  outline: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
  color: #000;
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
  content: '';
  position: absolute;
  top: -5px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
  border-color: transparent;
  border-top-color: #fff;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
  border-color: transparent;
  border-top-color: #333;
  border-width: 27px;
  left: 50%;
  margin-left: -27px;
}

/* Move classes and animations */

.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
  -webkit-animation: scaleUp 350ms ease-in-out both;
  animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}

.mi-slider ul:first-child li:first-child {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.mi-slider ul:first-child li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.mi-slider ul:first-child li:nth-child(3) {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

.mi-slider ul:first-child li:nth-child(4) {
  -webkit-animation-delay: 360ms;
  animation-delay: 360ms;
}

/* moveFromRight */

.mi-slider ul.mi-moveFromRight li {
  -webkit-animation: moveFromRight 350ms ease-in-out both;
  animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.mi-slider ul.mi-moveFromLeft li {
  -webkit-animation: moveFromLeft 350ms ease-in-out both;
  animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.mi-slider ul.mi-moveToRight li {
  -webkit-animation: moveToRight 350ms ease-in-out both;
  animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.mi-slider ul.mi-moveToLeft li {
  -webkit-animation: moveToLeft 350ms ease-in-out both;
  animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}

@keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}

.mi-slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){
  .mi-slider nav {
    max-width: 90%;
  }
  .mi-slider nav a {
    font-size: 12px;
    padding: 40px 10px 30px 14px;
  }
}

@media screen and (max-width: 740px){
  .mi-slider {
    height: 300px;
  }
  .mi-slider nav {
    top: 220px;
  }
}

@media screen and (max-width: 490px){ 
  .mi-slider {
    text-align: center;
    height: auto;
  }

  .mi-slider ul {
    position: relative;
    display: inline;
    bottom: auto;
    pointer-events: auto;
  }

  .mi-slider ul li {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    padding: 10px 3px;
    min-width: 140px;
  }

  .mi-slider nav {
    display: none;
  }
}
.hide{
  display:block;
}
.get_rate{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $border_color -moz-use-text-color $border_color $border_color;
  border-image: none;
  border-radius: 2px 0 0 2px;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  box-shadow: 0 3px 3px #e8e8e8 inset;
  height: 31px;
  line-height: 19px;
  outline: 0 none;
  width: 125px;
}
.get_rate_button{
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(center top , #fff, #ebebeb);
  border: 1px solid #bbbbb7;
  border-radius: 0 2px 2px 0;
  height: 31px;
  margin-left: -2px;
  width: 60px;
}
#gal1 img{
  border:1px solid $border_color;
} 

#zoom_03{
  border: 2px solid $border_color;
}
.modal-dialog.cart_dialog{
  width:70% !important;
}
.cart_borders{
  border-bottom: 2px solid green;
}
.cart_row{
  border-bottom: 1px dashed $border_color;
}
.cart-summary-sec {
  width: 100%;
  border: 1px solid $border_color;
  box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
  -moz-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
  -webkit-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
}
.cart-summary-sec .summary-head {
    box-shadow: 0 5px 4px -2px #eaeaea;
    padding: 15px 0 14px;
}
.txt-center {
    text-align: center;
}
.b-bottom-cc {
    border-bottom: 1px solid $border_color;
}
.fs14 {
    font-size: 14px;
}
.txt-up {
    text-transform: uppercase;
}
.f-bold {
    font-weight: bold;
}
.quantity{
  padding:5px;
  border:1px solid $border_color;
}
.best_in_place_border{
  padding:5px;
  border:1px solid #428bca;
  border-radius: 5px;
}
#parent-catsss .handle,#parent-cats .handle,#child-cats .handles,#g_child-cats .handles1,.child-cats .handles,.g_child-catss .handles11,#parent-cats1 .handle1,#chid_sort .child_handle, #parent-catss1 .handle{
  font-size: 12px;
  color: #777;
  cursor: move;
  width: 20px;
  cursor: move;
}
#parent-catsss li,#parent-cats li,#child-cats li,#g_child-cats li,#parent-cats1 li, #child_sort li,#parent-catss1 li{
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin:5px;
}
.section_center{
  margin-left:50%;
  text-transform: uppercase;
  color:#444546;
}
.section_center1{
  text-transform: uppercase;
  color:#444546;
}
#parent li,#parent-cats liss{
  list-style: none;
  padding: 10px;
  width:100%;
  margin:5px;
  background:#fff;
  box-shadow: 0 0 12px 0 #3F3737;
}
#child li{
  list-style: none;
  padding: 10px;
  width:90%;
  margin:5px;
  background:#FAE9E9;
  box-shadow: 0 0 12px 0 #fff;
  color:#444546;
}
#g_child li{
  list-style: none;
  background:#EBD5D0;
  width:80%; 
  margin:5px;
  padding: 10px;
  box-shadow: 0 0 1px 0 #3F3737;
}

.color_red{
  color:#EEA1A1;
}
.color_green{
  color:rgba(34, 11, 92, 0.44);
}
.sort_child, .sort_grand_child,sort_grand_child1,.sort_grand_child2,sort_grand_child3{
  margin-left:80%;
  color: #777;
  cursor:pointer;
}
.log_parent{
  cursor:pointer;
}
.sort_pickup_consignment{
  color: #777;
  cursor:pointer;
}
.sortname{
  width:40%;
}
.ui-state-highlight{
  background:rgb(247, 222, 214);
}
.sort_variant .handles{
  color: #777;
  cursor: move;
}
.sort_variant li{
  list-style: none;
}
.parent_background{
  background:#000;
  text-align:center;
  font-size:16px;
  margin-bottom: 10px;
}
.child_background{
  background:#000;
  margin:2px;
  padding:2px;
  text-align:center;
}
.gchild_background{
  background:#555;
}
.carouselh-header{
  width:758px;
  background:#3f3f3f;
  margin-left:15px;
}
.row-margin {
  margin-left:3px !important;
}
.box{
  padding: 2px 8px;
  margin-bottom: 10px;
  margin-right: 5px;
  box-shadow: 0 0 12px 0 $theme_color;
  }
.shipping-font{
  font-size: 12px;
  
}
.out_of_stock{
  height: 100%;
  width: 177px;
  position: absolute;
  top: 0;
  left: -1px;
  opacity: .6;
  -ms-filter: "alpha(opacity=60)";
  filter: alpha(opacity=60);
  background: #fff;
  margin: 0 1%;
  display: block;
}
.out_of_stock_span{
  position: absolute;
  top: 147px;
  font-weight: bolder;
  font-size: 15px;
  background: red;
  padding: 3px;
  border-radius: 4px;
}
.to_display{
width: 20px;
height: 13px;
border: 1px solid black;
}
.wrong{
  box-shadow: 5px 7px 4px -2px #eaeaea;
}
.qty_error{
  cursor:pointer;
}
.hide_paginate{
  display:none;
}
.shipping_update > .row > .col-sm-10 > .panel:hover{
  cursor:pointer;
  background:#E0E0E0 !important;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;

}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
  border-left: 4px solid $header_bg_color;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.back_cart1{
  padding: 10px 15px;
  cursor:pointer;
  text-decoration: none;
  color:#333333;

}

.back_cart1:hover{
  padding: 10px 15px;
  cursor:pointer;
  text-decoration: none;
  color:#fff;
  background:$theme_color;
}
.mr2{
  margin-right:2px;
}
.right-order-sec1{
  width: 85%
}
.back_cart{
  background-color:#000;
}
.ship_form,.order_form{
  border: 1px solid #6E953C;
  -webkit-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
  -moz-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
}
.padd{
  padding-left:15px;
}
.panel-default > .panel-heading.site-head {
color: #333;
background-color: $theme_color;

color:white;
}
.panel-default.site-head{
  border: 1px solid #ccc;
  -webkit-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
  -moz-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
}
.show-border{
 
  margin: 10px 0px;
}
.site-font{
  font-size:12px;
}
.full_borders{
  border:1px solid #ECECEC;
  padding:3px;
  margin:3px;
}
.mar50{
  margin-top:50px;
}
.order_borders{
  border:1px solid #ECECEC;
  padding:10px;
  margin:3px;
  font-weight:bold;
  background:#3f3f3f;
  color:#fff;
}
.orders_borders{
  padding:10px;
  margin:3px;
}
.order_border12{
  border:1px solid #ECECEC;
  padding:3px;
  margin:3px;
  font-weight:bold;
  text-align:center;
  background:#3f3f3f;
  color:#fff;
}
.lb1{
  border-right:1px solid #ECECEC;
}
.rb1{
  border-left:1px solid #ECECEC;
}

.qwe{
  color:#473939;
}
.slider-header{
  webkit-box-shadow: 10px 0 6px -13px #000,-1px 0 5px -4px #000;
    border: 1px solid whitesmoke;
    background: $theme_color;
}

.contin{
  padding:8px;
}
.contin > a,.contin > a:hover,.contin > div{
  color:#666666;
  cursor:pointer;
}
.remove_item,.remove_item:hover{
  color:#666666;
}
.quantity.qtys,.thumbnail.qtys{
  border: 1px solid $site_color;
}
.borders.qtys{
  
}
.order_bottom{
  padding: 10px 0px;
  bottom: 1px;
  top: 90%;
  width: 86%;
  opacity: 1px;
  background-color: white;
}
.pad4{
  padding: 4px !important;
}
.warning-light{
  background:#FDFBF0;
}
.padding-bot{
  height: 100px;
  padding: 12px;
  width: 130%;
  padding-top:6px;
}
.border_bottom_dot{
  border-bottom:1px dotted $border_color;
}
.success-green{
  background:rgb(234, 250, 234) !important;
}
.danger-red{
  background:rgb(253, 224, 224) !important;
}
.buttonPrevious.buttonDisabled,.buttonNext.buttonDisabled{
  display:none !important;
}
.panel-green {
  border-color: #5cb85c !important;
}
.huge {
font-size: 40px;
}
.huge1 {
font-size: 100px;
padding:23px;
color:#e4eaee;
}
.panel-green .panel-heading {
border-color: #5cb85c !important;
color: #fff;
background-color: #5cb85c !important;
}
.panel-green a {
  color: #5cb85c;
}
.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f !important;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}
.dashborad_red{
  border-radius: 0px !important;
  background-color: #d9534f;
  border:1px solid red !important;
}
.dashborad_green{
  border-radius: 0px !important;
  background-color: #5cb85c !important;
  border:1px solid green !important;
}
.scroll_div{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 335px;
}
.store_color{
  font-size:19px;
  color:#fff !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: none !important;
}
.mt16{
  margin-top:16px;
}
.errorBox {
  background-color: #ffffdd;
  border: 1px solid #ffd700;
  color: red;
  display: none;
  float: left;
  font: 12px Verdana,Arial,Helvetica,sans-serif;
  margin: 4px 0 0 5px;
  width: 100%;
  padding: 5px;
  position: relative;
}
.successBox {
  background-color: #D9FDCD;
  border: 1px solid green;
  color: green;
  display: none;
  float: left;
  font: 12px Verdana,Arial,Helvetica,sans-serif;
  margin: 4px 0 0 5px;
  width: 100%;
  padding: 5px;
  position: relative;
}
.width100{
  width:100%; 
}
.position{
  position:fixed;
  top:50px; 
  width:16%; 
} 
.add_order_items_field > .add_fields{
  display:none; 
}
.pad10{
  height:36px;
  padding-top:10px !important;
}
.pad_left{
  padding-left:10px;
}
.my-container.order-details {
font-size: 13px;
}
.my-container {
word-break: normal;
}
.my-container {
word-break: break-word;
font-size: 13px;
max-width: 980px;
margin: 0 auto;
padding: 8px;
}

.my-container.order-details .sidebar1, .my-container.order-details .content {
display: inline-table;
}
.my-container.order-details .sidebar1 {
display: none;
}
@media (min-width: 750px){
.sidebar1 {
width: 22%;
}
}
@media (min-width: 650px){
.sidebar1 {
width: 100%;
}
}
@media (min-width: 480px){
.sidebar1 {
width: 100%;
display: inline-table;
vertical-align: top;
background-color: #fff;
bottom:10px;
}
.sidebar1 {
display: block;

min-height: 0;
}
.sidebar1 .welcome-header {
padding-top: 0;
padding-bottom: 20px;
padding-left: 8px;
}
.sidebar1 .welcome-header {
background-color: #ffffff;
padding-top: 5px;
}
}
.sidebar1 .welcome-header .myntra-icon {
height: 55px;
width: 58px;
display: inline-block;
padding-left: 8px;
background-position: -589px 0;
}
@media (min-width: 480px){
.sidebar1 .welcome-header .mobile {
display: none;
}
.sidebar1 .welcome-header .mobile {
display: inline-block;
padding-top: 12px;
vertical-align: top;
}
}
@media (min-width: 480px){
.sidebar1 .welcome-header .desktop {
display: inline-block;
padding-top: 10px;
vertical-align: top;
padding-left: 5px;
}
.sidebar1 .welcome-header .desktop {
display: none;
padding-top: 10px;
vertical-align: top;
padding-left: 5px;
}

.sidebar1 .options {
border: 1px solid $border_color;
padding-left: 0;
list-style-type: none;
margin: 0;
}
.sidebar1 .options {
padding-left: 0;
list-style-type: none;
margin: 0;
padding-top: 0;
}
.sidebar1 .options .overview, .sidebar1 .options .orders, .sidebar1 .options .credits, .sidebar .options .sharing, .sidebar .options .account, .sidebar .options .logout {
border-bottom: 1px solid $border_color;
padding-left:20px;
padding-right: 0;
}
.sidebar1 .options .privilege, .sidebar .options .orders, .sidebar .options .address, .sidebar .options .sharing {
padding-bottom: 0;
}
.sidebar1 .options .orders li, .sidebar .options .coupons li, .sidebar .options .cashback li, .sidebar .options .privilege li, .sidebar .options .profile li, .sidebar .options .cards li, .sidebar .options .address li, .sidebar .options .sharing li {
border: 0;
}

.sidebar1 .options li {

margin: 0;
border-radius: 5px;
}
.sidebar1 .options li a.selected {
font-weight: 500;
color: #444546;
}
.sidebar1 .options li a.selected .orders-icon {
background-position: -223px 0;
}
.sidebar1 .options li a .icon.orders-icon {
background-position: -251px 0;
}
.sidebar1 .options li a .icon {
height: 20px;
width: 20px;
padding-left: 0;
display: inline-block;
vertical-align: bottom;
background: url(http://myntra.myntassets.com/myx/images/mymyntra-sprite.14c5beac8ba8bd235f6992f88d85d9aac481e97e.png) no-repeat top left;
}
.sidebar1 .options li a {
display: block;
font-size: 12px;
color: #697071;
text-decoration: none;
position: relative;
padding: 10px 15px;
}
.sidebar1 .options li a .info1 {
position: relative;
padding-left: 10px;
}
Inherited from a.selected
.sidebar1 .options li a.selected {
font-weight: 500;
color: #444546;
}
.sidebar1 .options li a {
padding: 7px;
}


}

.my-container {
word-break: normal;
}
.my-container {
word-break: break-word;
font-size: 13px;
max-width: 980px;
margin: 0 auto;
padding: 8px;
}
.warp1{
  width:95%;
  margin-bottom: 60px;
}
.sidebar .welcome-header .raness_logo {
height: 55px;
width: 58px;
display: inline-block;

padding-left: 8px;
background-position: -589px 0;
}
.my-container .content h3.page-name {
color: $theme_color;
text-align: left;
padding: 18.5px;
padding-left: 13px;
font-weight: 500;
font-size: 32px;
}

.my-container .content {
display: block;
color: #697071;
}
.text_profile{
display: block;
font-size: 12px !important;
color: #697071;
text-decoration: none;
position: relative;
padding: 2px !important;
}
.profile_head{
  color: #697071;font-weight:bold;
}
.form_field_profile{
  max-width: 440px;
position: relative;
margin-top: 5px;
height: 35px;
border-style: solid;
border-width: 1.5px;
border-color: #d6d6d6;
font-size: 14px;
color: #697071;
padding-left: 10px;
width: 40%;
}
.form_field_profile1{
  max-width: 440px;
position: relative;
margin-top: 5px;
height: 35px;
border-style: solid;
border-width: 1.5px;
border-color: #d6d6d6;
font-size: 14px;
color: #697071;
padding-left: 10px;
width: 100%;
}
.user_button{
  text-align: left;
display: inline-block;
text-transform: uppercase;
color: #31aeea;
text-align: center;
font-size: 13px;
font-weight: 500;
height: 30px;
line-height: 34px;
padding-bottom:34px;
padding-right:20px;
padding-left:20px;
vertical-align: middle;
cursor: pointer;
margin: 20px auto;
-webkit-appearance: none;
border-radius: 3px;
border: 1px solid #ccc;
}
.wrap2{
  width:100%;
}
.thumbelina {
    list-style:none;
    padding:0px;
    margin:0px;
    position:absolute;
    white-space:nowrap;
    
}

/* Style for the list items that surround the thumbnails */
.thumbelina li {
   padding:5px;
   line-height: 0px;
   margin:0px;
   width:100%;
}

/* Add a border to the thumbnails. */
.thumbelina li img {
    
}

/* Hover effect for the images */
.thumbelina li img:hover {
   opacity: 0.8;
/* -webkit-transform: scale(1.03, 1.03); */
-moz-transform: scale(1.03, 1.03);
-ms-transform: scale(1.03, 1.03);
-o-transform: scale(1.03, 1.03);
transform: scale(1.03, 1.03);
}
.thumbelina-but {
    position:absolute;
    background-color: $header_bg_color;
    border:1px solid #aaa;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    z-index: 1;
    cursor:pointer;   
    
    /* Font related items for the symbols used on buttons */
    /* Obviously not needed if you're just using images */
    color:#888;
    text-align:center;
    vertical-align:middle;
    font-size:14px;
    font-weight: bold;
    font-family:monospace;
}

/* Hover style for active button */    
.thumbelina-but:hover {
    color:#fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

/* Disabled style when button is not active due to extents being reached. */
/* You could do other things e.g. make buttons dissapear completely. */
.thumbelina-but.disabled,
.thumbelina-but.disabled:hover {
    background-color: $theme_color;
    color: #ccc;
    cursor:default;
    box-shadow:none;
}

/* Horizontal buttons. */
.thumbelina-but.horiz {
    width: 20px;
    height: 119px;
    line-height: 119px;
    top:-1px;

}
/* Left edge button. */
.thumbelina-but.horiz.left {
    left:-22px;
    border-radius: 5px 0px 0px 5px;
}
/* Right edge button */
.thumbelina-but.horiz.right {
    right:-22px;
    border-radius: 0px 5px 5px 0px;
}

/* Vertical buttons. */  
.thumbelina-but.vert {
    left:-1px;
    height: 20px;
    line-height: 20px;
    width:100%;
}

/* Top edge button. */
.thumbelina-but.vert.top {
    top:-22px;
    border-radius: 5px 5px 0px 0px;
}

/* Bottom edge button. */
.thumbelina-but.vert.bottom {
    bottom:-22px;
    border-radius: 0px 0px 5px 5px;
}
      #slider3 {
                position:relative;
                margin-top:30px;
                
                height:300px;
                border-left:1px solid #aaa;
                border-right:1px solid #aaa;
                margin-bottom:40px;
            } 