$user_panel_background_color:#000;
$user_panel_sidebar_background_color:#fff;
.user_background_color{
  background:$user_panel_background_color;
  color:#fff !important;
}
.user_side_bar_background_color{
  background:$user_panel_background_color;
}