
<div class="block block-account">
  <div class="block-title">My Account</div>
  <div class="block-content">
    <ul>
      <li><%= link_to "     Overview", user_account_path(current_user),:remote => true, :class => "glyphicon glyphicon-th #{("user_sidebar_selected" if current_page?(user_account_path(current_user)))} info1 load user_sidebar_class" %> </li>
    </ul>
  </div> <!--block-content-->
  <div class="block-title">Orders</div>
  <div class="block-content">
    <ul>
      <li><%= link_to "     Orders", user_orders_path(current_user), :remote => true,:id => "ajax_url", :class => "glyphicon glyphicon-list-alt #{("user_sidebar_selected" if current_page?(user_orders_path(current_user)) || controller_name == 'orders' )} info1 load user_sidebar_class" %> </li>
    </ul>
  </div> <!--block-content-->
  <div class="block-title">Credits</div>
  <div class="block-content">
    <ul>
      <li><%= link_to "     Vouchers", user_vouchers_path(current_user), :remote => true, :class => "glyphicon glyphicon-file #{("user_sidebar_selected" if current_page?(user_vouchers_path(current_user)))} info1 load user_sidebar_class" %> </li>
      <li><%= link_to "     WishLists", user_wishlists_path(current_user), :remote => true, :class => "glyphicon glyphicon-heart #{("user_sidebar_selected" if current_page?(user_wishlists_path(current_user)))} info1 load user_sidebar_class" %></li>
    </ul>
  </div> <!--block-content-->
  <div class="block-title">Accounts</div>
  <div class="block-content">
    <ul>
      <li class="mobile-apps markthis">
        <% unless current_user.profile.present? %> 
          <%= link_to "     Profile",  new_user_profile_path(current_user),:remote => true, :class => "glyphicon glyphicon-user #{("user_sidebar_selected" if current_page?(new_user_profile_path(current_user)))} info1 user_sidebar_class" %> 
        <% else %>
        <%= link_to "     Profile",  edit_user_profile_path(current_user, current_user.profile),:remote => true, :class => "glyphicon glyphicon-user #{("user_sidebar_selected " if current_page?(edit_user_profile_path(current_user, current_user.profile)))} info1 load user_sidebar_class" %>
        <% end %>
      </li>
      <li class="mobile-apps markthis">
        <%= link_to "     Change Password",  edit_user_registration_path,:remote => true, :class => "glyphicon glyphicon-lock #{("user_sidebar_selected" if current_page?(edit_user_registration_path))} info1 load user_sidebar_class" %> 
      </li>
      <li class="mobile-apps markthis">
        <%= link_to "     Addresses",  user_address_path(current_user), :remote => true, :class => "glyphicon glyphicon-book #{("user_sidebar_selected" if current_page?(user_address_path(current_user)))} info1 load user_sidebar_class" %> 
      </li>
    </ul>
  </div> <!--block-content-->
</div>


<style>
.block-account .block-content li{
  border-bottom:none;
}
.block-account .block-content li:before {
content: none !important;
}
.block-account .block-content li a{
  border-bottom:none !important;
  text-decoration: none;
}
</style>
<script>
jQuery( document ).ready(function() {
  jQuery( ".load" ).click(function() {
    jQuery(".profile_show2").html('<%= image_tag "load.gif" , :style=> "margin-top: 250px;margin-left: 350px;" %>'); 
    jQuery(".profile_show2").delay(9000);
    jQuery(".load").removeClass("user_sidebar_selected");
    jQuery(this).addClass("user_sidebar_selected");
  });
});
</script>