<div class=" table-responsive">
      <% if @consignment.present? %>     
          <table id="assigned_consignments_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Consignment Number <br />(Consignment Cost)</th>
                  <th>Order Number</th>
                  <th>Created_At</th>
                  <th>Task Number</th>
                  <th>Confirmed</th>
                  <th>Dispatched</th>
                  <th>Delivery Status</th>
                  <th>Bussiness Status</th>
                </tr>
              </thead>
              <tbody>
                <% @task_assigned_consignment.each do |consignment| %>
                  <% if consignment.package_tasks.present? %>
                <tr>
                  <td>
                     <%= link_to consignment.consignment_number, admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse, consignment.package_tasks.first,consignment) %><br />( Rs. - <%= consignment.consignment_cost %> )
                  </td>
                  <td>
                    <%= consignment.order.order_number %>
                  </td>
                  <td>
                     <%= consignment.created_at.strftime("%I:%M %p %d %b %Y") %>
                  </td>
                  <td>
                       <%= link_to consignment.package_tasks.first.task_number, admin_warehouse_dashboard_package_task_path(@warehouse,consignment.package_tasks.first) %>
                  </td>
                  <td>
                      <% if consignment.conform == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                  <td>
                     <% if consignment.check_for_delivery_status_visibility == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                   <td>
                     <% if consignment.delivery_status == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% elsif consignment.delivery_status == false %>
                        <span class = "glyphicon glyphicon-remove color_red"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                  <td>
                    <% if consignment.check_for_policy_status == true %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table> 
            <% else %>
               <div class="row text-center">
                   <br/>NO CONSIGNMENTS
               </div>
            <% end %>
      </div>


<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#assigned_consignments_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>
