<div class="field<%= as %>" id ="field">
  <%= f.attribute_fields do |a| %>
     <%= a.attribute_select associations: [:categories, :types, :brand, :tax_plans, :inventories, :warehouses, :vendors]  %>
  <% end %>
  <%= f.predicate_select({only: [:cont,:eq]}) %>
	  <%= f.value_fields do |v| %>
	  <%= v.text_field :value,:class => "search_text_box" %>
  <% end %>
  
</div>
<br />