<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading text-center">
      <div class="row">
        <div class="col-sm-2"><strong>ITEM</strong></div>
        <div class="col-sm-1"><strong>QTY</strong></div>
        <div class="col-sm-2"><strong>PRICE</strong></div>
        <div class="col-sm-2"><strong>SUBTOTAL</strong></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><strong>QTY</strong></div>
        <div class="col-sm-2"></div>
      </div> 
    </div>
    <div class="panel-body text-center"><br/>
      <% @consignment_items.each do |consignment_item|%>
        <% variant = Admin::Variant.find(consignment_item.variant_id)%>
        <% product = Admin::Product.find(variant.product_id) %>
        <div class="row">
          <% if consignment_item.regulations.first.nil? %>
            <div class="col-sm-1">
              <%= link_to '', consignment_item, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger" %>
            </div>
          <% end %>
          <div class="col-sm-2"><%= variant.name %></div>
          <div class="col-sm-1"><%= consignment_item.qty %></div>
          <div class="col-sm-2"><%= consignment_item.per_qty_price %></div>
          <div class="col-sm-1"><%= consignment_item.price %></div>
          <% sum_regulation_qty = 0 %>
          <% if consignment_item.regulations.first.present? %>
            <% consignment_item.regulations.each do |regulation| %>
              <%= form_for regulation, :url => admin_product_variant_inventory_regulation_path(product,variant,regulation.inventory_id,regulation),:html => {:id => 'new_order_regulation_form' ,:class => "new_order_regulation_form_#{consignment_item.id} new_order_regulation_form "} do |f| %>
                <% sum_regulation_qty += regulation.qty.to_i %>
                </div>
                <br/><div class="row">
                <div class="col-sm-2">
                  <%= f.hidden_field :consignment_item_id,:value => consignment_item.id.to_i %>
                  <%= f.hidden_field :task_id,:value => @admin_package_task.id %>
                  <%= f.hidden_field :reason,:value => "Order" %>
                  <%= f.hidden_field :note,:value => "Order" %>
                  <% regulation.inventory_id %>
                  <strong><%= "#{regulation.inventory.balance_qty} QTY / #{regulation.inventory.selling_price}"  %></strong>
                </div>
                <div class="col-sm-1">
                  <%= f.number_field :qty ,:min=> 1 ,:max => order_regulation_max_qty(regulation,consignment_item) ,:class => "form-control" %>
                </div> 
                <div class="col-sm-2">
                  <%= f.submit "Update Regulation",:class => "btn btn-success btn-xs" %>
                </div>
              <% end %>
            <% end %> <br/>
            <% if consignment_item.qty > sum_regulation_qty %>
              </div><br/><div class="row">
              <% if inventory_regulation_lookup(variant,@warehouse,consignment_item).first.present? %>
                <%= form_for @admin_regulation, :url => admin_product_variant_inventory_regulations_path(product,variant,1),:html => {:id => 'new_order_regulation_form' ,:class => "new_order_regulation_form_#{consignment_item.id} new_order_regulation_form "} do |f| %>
                  <span class="order_regulation_required_qty_<%= consignment_item.id %>" style="display:none;">
                    <% remaining_qty = consignment_item.qty - sum_regulation_qty %>
                    <%= remaining_qty %> 
                  </span>
                  <div class="row">
                    <div class="col-sm-2">
                      <%= f.hidden_field :consignment_item_id,:value => consignment_item.id.to_i %>
                      <%= f.hidden_field :task_id,:value => @admin_package_task.id %>
                      <%= f.hidden_field :reason,:value => "Order" %>
                      <%= f.hidden_field :note,:value => "Order" %>
                      <%= f.collection_select :inventory_id, inventory_regulation_lookup(variant,@warehouse,consignment_item), :id, :combined_qty_price,{:prompt => "Select" },:class => "form-control order_regulation",:id => "order_regulation_inventory_#{consignment_item.id}",:data => { :variant => variant.id ,:product => product.id,:consignment => consignment_item.id }  %>
                    </div>
                    <div class="col-sm-1"><%= f.number_field :qty ,:min=> 1 ,:max => consignment_item.qty ,:class => "form-control",:id => "order_regulation_qty_#{consignment_item.id}" %></div>
                    <div class="col-sm-2">
                      <%= f.submit "Create Regulation",:class => "btn btn-success btn-xs" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <%= form_for @admin_regulation, :url => admin_product_variant_inventory_regulations_path(product,variant,1),:html => {:id => 'new_order_regulation_form' ,:class => "new_order_regulation_form_#{consignment_item.id} new_order_regulation_form "} do |f| %>
              <span class="order_regulation_required_qty_<%= consignment_item.id %>" style="display:none;">
                <%= consignment_item.qty %> 
              </span>
              <div class="col-sm-2">
                <%= f.hidden_field :consignment_item_id,:value => consignment_item.id.to_i %>
                <%= f.hidden_field :task_id,:value => @admin_package_task.id %>
                <%= f.hidden_field :reason,:value => "Order" %>
                <%= f.hidden_field :note,:value => "Order" %>
                <%= f.collection_select :inventory_id, inventory_lookup(variant,@warehouse), :id, :combined_qty_price,{:prompt => "Select" },:class => "form-control order_regulation",:id => "order_regulation_inventory_#{consignment_item.id}",:data => { :variant => variant.id ,:product => product.id,:consignment => consignment_item.id }  %>
              </div>
              <div class="col-sm-1"><%= f.number_field :qty ,:min=> 1 ,:max => consignment_item.qty ,:class => "form-control",:id => "order_regulation_qty_#{consignment_item.id}" %></div>
              <div class="col-sm-2">
                <%= f.submit "Create Regulation",:class => "btn btn-success btn-xs" %>
              </div>
            <% end %>
          <% end %>
        </div><br/>
      <% end %>
    </div>
  </div> 
</div>