<% if @consignment.conform == false %>
  <div class="table-header">ORDER ITEMS</div>
          <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>ITEM</th>
            <th>QTY</th>
            <th>PRICE</th>
            <th>SUBTOTAL</th>
          </tr>
        </thead>
        <tbody>
          <% @consignment_items.each do |consignment_item|%>
           <% variant = Admin::Variant.find(consignment_item.variant_id)%>
           <% product = Admin::Product.find(variant.product_id) %>
          <tr>
            <td>
             <%= variant.name %>
            </td>
            <td>
               <%= consignment_item.qty %>
            </td>
            <td>
              <%= consignment_item.per_qty_price %>
            </td>            
            <td>
             <%= consignment_item.price %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
<% else %>
     <div class="table-header">ORDER ITEMS</div>
          <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>ITEM</th>
            <th>QTY</th>
            <th>PRICE</th>
            <th>SUBTOTAL</th>
            <th>REGULATION</th>
          </tr>
        </thead>
        <tbody>
          <% @consignment_items.each do |consignment_item|%>
           <% variant = Admin::Variant.find(consignment_item.variant_id)%>
           <% product = Admin::Product.find(variant.product_id) %>
          <tr>
            <td>
             <%= variant.name %>
            </td>
            <td>
               <%= consignment_item.qty %>
            </td>
            <td>
              <%= consignment_item.per_qty_price %>
            </td>            
            <td>
             <%= consignment_item.price %>
            </td>
            <td>
               <table class="table table-striped table-bordered">
                 <% if consignment_item.regulations.first.present? %>
                    <% consignment_item.regulations.each do |regulation| %>
                       <tr>
                       <td><%= "#{regulation.inventory.balance_qty} QTY / #{regulation.inventory.selling_price}"  %></td>
                       <td><%= regulation.qty %></td>
                       </tr>
                    <% end %>
                <% end %>
              </table>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
<% end %>


