
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#all" role="tab" data-toggle="tab">ALL CONSIGNMENTS</a></li>
  <li><a href="#unconform" role="tab" data-toggle="tab">TASK UNASSIGNED CONSIGNMENTS</a></li>
  <li><a href="#task" role="tab" data-toggle="tab">TASK ASSIGNED CONSIGNMENTS</a></li>
  <li><a href="#replacement" role="tab" data-toggle="tab">REPLACEMENT CONSIGNMENTS</a></li>
</ul>
    <div class="tab-content">
      <div class="tab-pane active all_consignments" id="all"><br/><br/>
        <%= render "all_consignments"%>
      </div>
      <div class="tab-pane" id="unconform"><br/>
        <div class="row">
          <div class="col-sm-1">
          </div> 
          <div class="col-sm-10">
          <% if @consignment.where(:conform => false).first.present? %>
            <div class="panel panel-default">
              <div class=" panel-heading"> 
                <div class="row">
                  <div class="col-sm-3 col-xs-3 text-info bold">Consignment Number (Consignment Cost)</div>
                  <div class="col-sm-3 col-xs-3 text-info bold">Created_At</div>
                  <div class="col-sm-3 col-xs-3 text-info bold">Order Number</div>
                  <div class="col-sm-3 col-xs-3 text-info bold">Consignment Status</div>
                </div>
              </div>
              <% flag1 = 0 %>
              <%= form_for(@admin_package_task,:url => admin_warehouse_dashboard_package_tasks_path(@warehouse),:remote => true,:html => {:id => 'move_to_package_form' }) do |f| %>
                <% if @consignment.present? %>    
                  <div class="panel-body top_space"><br/>
                    <% @task_unassigned_consignment.where(:conform => false).each do |consignment| %>
                      <% if consignment.package_tasks.first.nil? %>
                        <% flag1 = 1 %>
                        <%= f.fields_for :package_tasks_consignments do |builder| %>
                            <div class="row hoverd">
                              <div class="col-sm-3 col-xs-3">
                                <%= consignment.consignment_number %> (RS. - <%= consignment.consignment_cost %>)
                              </div>
                              <div class="col-sm-3 col-xs-3">
                                <%= consignment.created_at.strftime("%I:%M %p %d %b %Y") %>
                              </div>
                              <div class="col-sm-3 col-xs-3">
                              <%if consignment.order.present? %>
                                <%= consignment.order.order_number %>
                                <% end %>
                              </div>
                              
                              <div class="col-sm-3 col-xs-3">
                                <%= builder.hidden_field :_consignment_id,:value => consignment.id %>
                                <div class="checkbox1">
                                  <label>
                                    <%= builder.check_box :conform,:class=>"ace" %>
                                    <span class="lbl label-color"></span>
                                  </label>
                                </div>
                              </div>
                            </div>         
                        <% end %>
                      <% end %><br/>
                      
                    <% end %>
                     <% if flag1 == 1 %>
                        <div class="row hoverd">
                            <div class="col-sm-3 col-xs-3">
                                 <strong>Contact Person</strong>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                 <%= f.text_field :contact_person,:class => ""%>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                 <strong>Closing  Time</strong>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                 <%= f.time_field :closing_time,:class => ""%>
                            </div>
                        </div>
                    <% end %>
                  </div> 
                <% end %>
                <% if flag1 == 1 %>
                  <div class="row">
                    <div class="col-sm-8 col-xs-1"></div>
                    <div class="col-sm-2 col-xs-1">
                    <%= f.submit "Create Delegate" ,:class => "btn btn-primary btn-xs"%>
                    </div>
                  </div><br/>
                <% end %>
              <% end %>
            </div>
          <% end %>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </div>
      <div class="tab-pane assigned_consignments" id="task"><br/>
        <%= render "assigned_consignments"%>
      </div>
       <div class="tab-pane" id="replacement"><br/>
         <div class=" table-responsive">
       <% if @replacement_consignments.present? %>       
          <table id="replacement_consignments_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable table-responsive">
              <thead>
                <tr>
                  <th>Consignment Number <br />(Consignment Cost)</th>
                  <th>Order Number</th>
                  <th>Created_At</th>
                  <th>Task Assigned</th>
                  <th>Confirmed</th>
                  <th>Dispatched</th>
                  <th>Delivery Status</th>
                  <th>Bussiness Status</th>
                </tr>
              </thead>
              <tbody>
                <% @replacement_consignments.each do |consignment| %>
                <% if consignment.package_tasks.present? %>
                <tr>
                  <td>
                     <%= link_to consignment.consignment_number, admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse, consignment.package_tasks.first,consignment) %><br />( Rs. - <%= consignment.consignment_cost %> )
                  </td>
                  <td>
                    <%= consignment.order.order_number %>
                  </td>
                  <td>
                     <%= consignment.created_at.strftime("%I:%M %p %d %b %Y") %>
                  </td>
                  <td>
                     <% if consignment.package_tasks.present? %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                  <td>
                      <% if consignment.conform == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                  <td>
                     <% if consignment.check_for_delivery_status_visibility == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                   <td>
                     <% if consignment.delivery_status == true %>
                        <span class = "glyphicon glyphicon-ok color_green"></span>
                      <% elsif consignment.delivery_status == false %>
                        <span class = "glyphicon glyphicon-remove color_red"></span>
                      <% else %>
                        <span class = "glyphicon glyphicon-play-circle "></span>
                      <% end %>
                  </td>
                  <td>
                    <% if consignment.check_for_policy_status == true %>
                      <span class = "glyphicon glyphicon-ok color_green"></span>
                    <% else %>
                      <span class = "glyphicon glyphicon-play-circle "></span>
                    <% end %>
                  </td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table> 
            <% else %>
               <div class="row text-center">
                   <br/>NO REPLACEMENT CONSIGNMENTS<br/>
               </div>
            <% end %>
      </div>
      </div>
    </div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});


jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#replacement_consignments_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>