<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <%= link_to "Home", root_path %>
    </li>
    <li class="markthis"><%= link_to "Package Task", admin_warehouse_dashboard_package_tasks_path(@warehouse) %></li>
    <li class="markthis"><%= link_to @admin_package_task.task_number, admin_warehouse_dashboard_package_task_path(@warehouse,@admin_package_task) %></li>
    <li class="markthis"><%= link_to @consignment.consignment_number, admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse,@admin_package_task,@consignment) %></li>
    <li class="active">Consignment Logs</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>
 
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
 
    <div class="col-xs-12 col-sm-12">
    <h3>Consignment Number - <%= @consignment.consignment_number %></h3>
    <% if @consignment_logs.present? %>
      <ul id="parent-cats" data-update-url="<%= sort_admin_categories_path %>">
        <% @consignment_logs.reverse.each_with_index  do |consignment_log, n| %> 
          <% unless n == @consignment_logs.size-1  %>
            <% @consignment_logs_previous = @consignment_logs.reverse[n+1] %>
          <% else %>
            <% @consignment_logs_previous = '' %>
          <% end %>
          <%= content_tag_for :li, consignment_log do %>              
            <span class="sortname">
              <% if consignment_log.cancel.present? %>
                Cancelled <%= consignment_log.updated_at %>
              <% else %>
                Updated <%= consignment_log.updated_at %>
              <% end %>
            </span>
            <span class="admin_category_<%= consignment_log.id %>  sort_child pull-right glyphicon glyphicon-chevron-down" style =" margin-left:67%;"></span>             
              <ul id="child-cats" class="child-cats admin_category_<%= consignment_log.id %>" data-update-url="<%= sort_admin_categories_path %>">                
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10"><br />
                      <table class="table">           
                        <tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1" style="font-size:10px;">
                          <th class="">Consignment Cost</th>
                          <th class="">Confirmation</th>
                          <th class="">Delivery Status</th>
                          <th class="">Updated By</th>
                        </tr>                        
                        <tr class="bp1">
                          <td >
                            
                            <div class="col-sm-12 ">  
                              <div class="row">
                              <div class="col-sm-9">
                                <% if @consignment_logs_previous.present? %>
                                  <% if @consignment_logs_previous.consignment_cost == consignment_log.consignment_cost %>
                                    <div class="c999">
                                  <% else %>
                                    <div class="c999 text-danger">
                                  <% end %>
                                <% else %>
                                  <div class="c999">
                                <% end %>
                                  <strong><%= consignment_log.consignment_cost %></strong>
                                </div>                                          
                              </div>
                            </div></div>     
                          </td>
                          </td>
                          <td class="border_none">
                             <% if @consignment_logs_previous.present? %>
                              <% if @consignment_logs_previous.confirm == consignment_log.confirm %>
                                <div class="c999">
                              <% else %>
                                <div class="c999 text-danger">
                              <% end %>
                            <% else %>
                              <div class="c999">
                            <% end %>
                            <strong><% if consignment_log.confirm == true %>
                              CONFIRMED
                              <% else %>
                                NOT YET CONFIRMED
                              <% end %></strong>        
                          </td>
                          <td>
                            <strong>
                            <% if consignment_log.delivery_status == true %>
                              DELIVERED
                            <% elsif consignment_log.delivery_status == false %>
                              NOT DELIVERED
                            <% end %></strong></td>
                          <td class="border_none">
                            <% if consignment_log.updated_by.present? %>
                              Email - <strong><% updated_by = User.find(consignment_log.updated_by) %>
                              <%= updated_by.email %></strong>
                            <br />
                              Role - <%= updated_by.permission.role.name %>
                            <% end %>
                          </td>
                        </tr> 
                        <tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1" style="font-size:10px;">
                          <th></th>
                          <th></th>
                          <th class="txt-up c666 f-bold fs11 pt6 pb6 text-success log_parent" id = "order_log_<%= consignment_log.id %>">
                             CONSIGNMENT ITEMS <span class="glyphicon glyphicon-chevron-down"></span>
                          </th>
                          <th></th>
                        </tr><table class =" table order_item_log_child" id="order_item_log_<%= consignment_log.id %>">
                        <tr class="txt-up c666 f-bold fs11 pt6 pb6 bp1" style="font-size:10px;" >
                          <th class="txt-up c666 f-bold fs11 pt6 pb6" style="font-size:10px;">variant</th>
                          <th class="txt-up c666 f-bold fs11 pt6 pb6" style="font-size:10px;">Qty</th>
                          <th class="txt-up c666 f-bold fs11 pt6 pb6" style="font-size:10px;">Price
                          </th>
                          <th class="txt-up c666 f-bold fs11 pt6 pb6" style="font-size:10px;">Reason</th>
                        </tr>
                        <% consignment_log.consignment_item_logs.each  do |consignment_item_log| %> 
                          <% variant = Admin::Variant.find(consignment_item_log.variant_id) %>
                          <% if @consignment_logs_previous.present? %>
                            <% consignment_item_log_previous = @consignment_logs_previous.consignment_item_logs.where(:variant_id => consignment_item_log.variant_id).first %>
                          <% end %>
                          <% if consignment_item_log_previous.present? %>
                            <tr class="bp1">
                          <% elsif @consignment_logs_previous.present? %>
                            <tr class="bp1 bg-success text-success">
                          <% else %>
                            <tr class="bp1">
                          <% end %>
                            <td >
                              <%= image_tag variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "thumbnail", :style => "width:80px;height:60px;" %><strong>
                              <%= variant.name %></strong>
                            </td>
                            <% if consignment_item_log_previous.present? %>
                              <% if consignment_item_log_previous.qty == consignment_item_log.qty %>
                                <td>
                              <% else %>
                                <td class="text-danger">
                              <% end %>
                            <% else %>
                              <td>
                            <% end %>
                              <strong>
                              <%= consignment_item_log.qty %></strong>
                            </td>
                            <td>
                            <% if consignment_item_log_previous.present? %>
                              <% if consignment_item_log_previous.per_qty_price == consignment_item_log.per_qty_price %>
                                <div class="row">
                              <% else %>
                                <div class=" row text-danger">
                              <% end %>
                            <% else %>
                              <div class="row">
                            <% end %>
                              <strong><span class="text-muted">Per Quantity Price: </span><%= consignment_item_log.per_qty_price %></strong>
                            </div>
                              <% if consignment_item_log_previous.present? %>
                                <% if consignment_item_log_previous.price == consignment_item_log.price %>
                                  <div class="row">
                                <% else %>
                                  <div class=" row text-danger">
                                <% end %>
                              <% else %>
                                <div class="row">
                              <% end %>
                              <strong><span class="text-muted">Price: </span><%= consignment_item_log.price %></strong>
                              </div>
                            </td>
                            <td>
                              <strong><%= consignment_item_log.reason %></strong>
                            </td>
                          </tr>
                        <% end %></table>
                          <% if consignment_log.cancel.present? %>
                          <% if params[:cancel].nil? %>
                          <tr  class="bp1">
                            <th class="txt-up c666 f-bold fs11 pt6 pb6 bp1">Cancel</th>
                            <th class=""><%= consignment_log.cancel %> </th>                      
                          </tr>
                          <tr class="bp1">
                            <td class="txt-up c666 f-bold fs11 pt6 pb6 bp1">
                              Remarks   
                            </td>
                            <td class="border_none">
                              <%= consignment_log.remarks %>
                            </td>                           
                          </tr>
                          <% end %>   
                          <% end %>                      
                      </table>
                    </div>
                    <div class="col-sm-1">
                    </div>
                  </div>
                </div>
              </ul>                   
          <% end %>  
        <% end %>
      </ul> 
    <% else %>
       Consignment logs unavailable
    <% end %>      
    </div>
    </div>