<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="pull-right">
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <% if check_link(admin_warehouse_dashboard_consignments_path(@warehouse)) %>
          <li><%= link_to "Consignments", admin_warehouse_dashboard_consignments_path(@warehouse) %></li>
        <% end %>
        <% if check_link(admin_warehouse_dashboard_consignment_path(@warehouse,@consignment)) %>
          <li><%= link_to @consignment.consignment_number, admin_warehouse_dashboard_consignment_path(@warehouse,@consignment) %></li>
        <% end %>
        <li class="active">Edit Consignment</li>
      </ol>
    </div>
  </div>
</div><br/>
<% if @consignment.package_tasks.first.nil? %>
  <div class="row">
    <div class="col-sm-2"><strong>VARIANT</strong></div>
    <div class="col-sm-2"><strong>QUANTITY</strong></div>
    <div class="col-sm-2"><strong>PER QUANTITY PRICE</strong></div>
    <div class="col-sm-2"><strong>PRICE</strong></div>
    <div class="col-sm-2"><strong>EDIT</strong></div>
  </div><br/>
    <%= form_for(@consignment ,:url => admin_warehouse_dashboard_consignment_path(@warehouse, @consignment),:html => {:id => 'edit_consignment_form'}) do |f| %>
      <%= f.fields_for :consignment_items do |builder| %>
        <% variant = Admin::Variant.find(builder.object.variant_id)%>
        <% product = Admin::Product.find(variant.product_id) %>
        <fieldset>
          <div class="row">
            <div class="col-sm-2"><%= variant.name %></div>
            <div class="col-sm-2"><%= builder.object.qty %></div>
            <div class="col-sm-2"><%= builder.object.per_qty_price %></div>
            <div class="col-sm-2"><%= builder.object.price %></div>
            <div class="col-sm-2">
              <%= builder.hidden_field :_destroy,:class => "" %>
              <%= link_to "  ", '#', class: "remove_fields glyphicon text-warning glyphicon-trash" %>
            </div>
          </div><br/>
        </fieldset>
      <% end %><br/>
      <div class="row"><%= f.submit "UPDATE" ,:class => "btn btn-primary btn-sm"%></div>
    <% end %>
<% else %>
  <strong>Sorry You Cant Edit This Consignment</strong>
<% end %>
 