<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li><i class="ace-icon fa fa-home home-icon"></i>&nbsp;&nbsp;<%= link_to "Package Task", admin_warehouse_dashboard_package_tasks_path(@warehouse),:remote => true %></li>
    <li><%= link_to @admin_package_task.task_number, admin_warehouse_dashboard_package_task_path(@warehouse,@admin_package_task),:remote => true %></li>
    <li class="active"><%= @consignment.consignment_number %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <% if @consignment.cancel.nil? %>   
      <% if @consignment.check_for_consignment_confirmation == true && @consignment.conform == false %>
        <%= link_to "Conform Consignment", admin_warehouse_dashboard_consignment_path(@warehouse,@consignment,:conform => true), :method => :patch, :class => "btn btn-success btn-sm" %>
      <% elsif @consignment.conform == true %>
        <strong class="text-success fs14">Consignment Confirmed</strong>
        <%= link_to 'Consignment Logs', admin_warehouse_dashboard_package_task_consignment_logs_path(@warehouse,@admin_package_task,@consignment), :class => "btn btn-primary btn-sm" %>  
      <% end %>  
    <% else %>
      <strong class="text-danger fs14">Consignment Cancelled</strong>
    <% end %> 
  </div>
  <!-- button panel end --> 
 
</div>
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
  <% if @consignment.cancel.nil? %>
    <% if @consignment.conform == false %>
      <%= render "consignment_regulation" %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="col-sm-6 col-xs-6">
        <div class="row"> 
        <% if @order.present? %>
          <div class="table-header">ORDER DETAILS</div>
        <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Order Number</th>
            <th>Order Cost</th>
            <th>Paymet Mode</th>
            <th>Paymet Status</th>
            <th>Order Status</th>
            <th>Location</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @order.order_number %>
            </td>
            <td>
              <%= @order.order_cost %>
            </td>
            <td>
            <%= @order.payment_mode %>
            </td>            <td>
             <%= @order.payment_status %>
            </td>
            <td><%= @order.status %></td>
            <td><%= @order.location %><% if @order.ip.present? %>(<%= @order.ip %>)<% end %></td>
            <td><%= @order.shipping_address.name %><br/>
            <%= @order.shipping_address.add_line1 %>,
            <%= @order.shipping_address.add_line2 %><br/>
            <%= @order.shipping_address.state %>,
            <%= @order.shipping_address.country %>-
            <%= @order.shipping_address.c_code %><br/>
            <%= @order.shipping_address.pincode %><br/>
            <%= @order.shipping_address.phone %></td>
          </tr>
        </tbody>
      </table>
      <% else %>
        <div class="table-header">ORDER DETAILS</div>
        <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Replacement Number</th>
            <th>Replacement Cost</th>
            <th>Created By</th>
            <th>Replacement Status</th>
            <th>Shipping Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <%= @replacement_revocation.replacement_revocation_number %>
            </td>
            <td>
              <%= @replacement_revocation.revocation_cost %>
            </td>
            <td>
            <%= @replacement_revocation.created_by %>
            </td>            <td>
             <%= @replacement_revocation.status %>
            </td>
            <td><%= @replacement_revocation.shipping_address.name %><br/>
                  <%= @replacement_revocation.shipping_address.add_line1 %>,
                      <%= @replacement_revocation.shipping_address.add_line2 %><br/>
                      <%= @replacement_revocation.shipping_address.state %>,
                      <%= @replacement_revocation.shipping_address.country %>-
                      <%= @replacement_revocation.shipping_address.c_code %><br/>
                  <%= @replacement_revocation.shipping_address.pincode %><br/>
                  <%= @replacement_revocation.shipping_address.phone %></td>
          </tr>
        </tbody>
      </table>
      <% end %>

        </div><br/>
         <div class="row">
            <div class="table-header">CONSIGNMENT INFORMATION</div>
          <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Consignment Cost</th>
            <th>Created At</th>
            <th>Logistics</th>
            <th>Consignment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=  @consignment.consignment_cost %>
            </td>
            <td>
              <%=  @consignment.created_at.strftime("%I:%M %p %d %b %Y") %>
            </td>
            <td>
              <%=  @consignment.logistic.present? ?  @consignment.logistic.name  : '-'%>
            </td>            
            <td>
             <%=  @consignment.conform == true ? "Confirmed" : "Not Confirmed" %>
            </td>
          </tr>
        </tbody>
      </table>
        </div><br/>
          <% if @consignment.cancel.nil? %>
    <% if @consignment.conform == true && @consignment.logistic.present? %>
    <% if  @consignment.logistic.name == "Blue Dart" %>
      <div class="row">
           <div class="table-header">BLUE DART SHIPMENT INFORMATION</div>
          <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
        <thead>
        <tr><strong></strong>
        </tr>
          <tr>
            <th>Logistics</th>
            <th>Pickup Date</th>
            <th>Pickup Status</th>
            <th>Token Number</th>
            <th>Tracking Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
             <%=  @consignment.logistic.name %>
            </td>
            <td>
              <%=  @consignment.pickup_date.strftime("%I:%M %p %d %b %Y") %>
            </td>
            <td>
              <% if @consignment.pickup_status == true %>
                  Picked
               <% elsif @consignment.pickup_status == false %>
                 Cancelled
               <% else %>
                 Not Picked
               <% end %>
            </td>            
            <td>
             <%=  @consignment.token_no %>
            </td>
            <td>
              <%=  @consignment.awb_no %>
            </td>
          </tr>
        </tbody>
      </table><br/>
      </div>
      <% end %>
    <% end %>
  <% end %>
      </div>
      <div class="col-sm-6 col-xs-6">
        <div class="col-sm-12 col-xs-12">
          <div class="row"> 
            <%= render "regulation_list" %>
          </div>
        </div>
      </div>
    </div>
    <% if @order.present? %>
    <% @order = @consignment.order %>
    <% if @invoice = @consignment.invoices.first.present? %>
      <% @invoice = @consignment.invoices.first %>

      
        <div class="col-sm-12 col-xs-12">
        <div class="printable" id="ele2">
          <table class="table table-striped">
            <tr><strong>INVOICE</strong></tr>
            <tr>
              <td><strong>Invoice Number</strong></td>
              <td style="margin-left:100px;"><%= @invoice.invoice_number %></td>
            </tr>
            <tr>
              <td><strong>Order Number</strong></td>
              <td><%= @order.order_number %></td>
            </tr>
            <tr>
              <td><strong>Payment Mode</strong></td>
              <td><%= @order.payment_mode %></td>
            </tr>
            <tr>
              <td><strong>Consignment Number</strong></td>
              <td><%= @consignment.consignment_number %></td>
            </tr>
            <tr>
              <td><strong>Consignment Cost</strong></td>
              <td><%= @consignment.consignment_cost %></td>
            </tr>
            <tr>
              <td><strong>Invoice Cost</strong></td>
              <td><%= @consignment.invoice_cost %></td>
            </tr>
            <tr>
              <td><strong>Dispatch From</strong></td>
              <td>
                <% @warehouse.addresses.each do |address| %>
                  <%= address.add_line1 %>,<br />
                  <%= address.add_line2 %>,
                  <%= address.state %>,<br />
                  <%= address.country %>-
                  <%= address.c_code %>,<br />
                  <%= address.phone %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Shipping Address</strong></td>
              <td>
                <%= @order.shipping_address.name %><br/>
                <%= @order.shipping_address.add_line1 %>,
                <%= @order.shipping_address.add_line2 %><br/>
                <%= @order.shipping_address.state %>,
                <%= @order.shipping_address.country %>-
                <%= @order.shipping_address.c_code %><br/>
                <%= @order.shipping_address.pincode %><br/>
                <%= @order.shipping_address.phone %>
              </td>
            </tr>
            <tr>
              <tr>
                <td><strong>ITEM</strong>
                </td>
                <td><strong>QTY</strong>
                </td>
                <td><strong>PRICE</strong>
                </td>
                <td><strong>SUBTOTAL</strong>
                </td>
              </tr>
                <% @consignment.consignment_items.each do |consignment_item|%>
                    <% variant = Admin::Variant.find(consignment_item.variant_id)%>
                    <% product = Admin::Product.find(variant.product_id) %>
                    <tr>
                      <td><%= variant.name %></td>
                      <td><%= consignment_item.qty %></td>
                      <td><%= consignment_item.per_qty_price %></td>
                      <td><%= consignment_item.price %></td>
                    </tr>
                  <% end %>
            </tr>
          </table>
          <button class="print-link btn btn-sm primary" onclick="PrintElem('#ele2')"> Print this </button>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if @invoice = @consignment.invoices.first.present? %>
      <% @invoice = @consignment.invoices.first %>
       <div class="col-sm-12 col-xs-12">
        <div class="printable" id="ele2">
          <table class="table table-striped">
            <tr><strong>INVOICE</strong></tr>
            <tr>
              <td><strong>Invoice Number</strong></td>
              <td style="margin-left:100px;" colspan="3"><%= @invoice.invoice_number %></td>
            </tr>
            <tr>
              <td><strong>Replacement Order Number</strong></td>
              <td colspan="3"><%= @replacement_revocation.replacement_revocation_number %></td>
            </tr>
            <tr>
              <td><strong>Payment Mode</strong></td>
              <td colspan="3">PAID</td>
            </tr>
            <tr>
              <td><strong>Consignment Number</strong></td>
              <td colspan="3"><%= @consignment.consignment_number %></td>
            </tr>
            <tr>
              <td><strong>Consignment Cost</strong></td>
              <td colspan="3"><%= @consignment.consignment_cost %></td>
            </tr>
            <tr>
              <td><strong>Invoice Cost</strong></td>
              <td colspan="3"><%= @consignment.invoice_cost %></td>
            </tr>
            <tr>
              <td><strong>Dispatch From</strong></td>
              <td colspan="3">
                <% @warehouse.addresses.each do |address| %>
                  <%= address.add_line1 %>,<br />
                  <%= address.add_line2 %>,
                  <%= address.state %>,<br />
                  <%= address.country %>-
                  <%= address.c_code %>,<br />
                  <%= address.phone %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Shipping Address</strong></td>
              <td colspan="3">
                <%= @replacement_revocation.shipping_address.name %><br/>
                <%= @replacement_revocation.shipping_address.add_line1 %>,
                <%= @replacement_revocation.shipping_address.add_line2 %><br/>
                <%= @replacement_revocation.shipping_address.state %>,
                <%= @replacement_revocation.shipping_address.country %>-
                <%= @replacement_revocation.shipping_address.c_code %><br/>
                <%= @replacement_revocation.shipping_address.pincode %><br/>
                <%= @replacement_revocation.shipping_address.phone %>
              </td>
            </tr>
            <tr>
              <tr>
                <td><strong>ITEM</strong>
                </td>
                <td><strong>QTY</strong>
                </td>
                <td><strong>PRICE</strong>
                </td>
                <td><strong>SUBTOTAL</strong>
                </td>
              </tr>
              <tr>
                <% @consignment.consignment_items.each do |consignment_item|%>
                    <% variant = Admin::Variant.find(consignment_item.variant_id)%>
                    <% product = Admin::Product.find(variant.product_id) %>
                    
                      <td><%= variant.name %></td>
                      <td><%= consignment_item.qty %></td>
                      <td><%= consignment_item.per_qty_price %></td>
                      <td><%= consignment_item.price %></td>
                    
                  <% end %>
              </tr>
            </tr>
          </table>
          <button class="print-link btn btn-sm primary" onclick="PrintElem('#ele2')"> Print this </button>
        </div>
      </div>  
    <% end %>
  <% end %>
</div>
</div>

<script type="text/javascript">
function PrintElem(elem)
{
  Popup($(elem).html());
}
function Popup(data) 
{
  var mywindow = window.open('', 'my div', 'height=800,width=1200');
  mywindow.document.write('<html><head><title>Print Items</title>');
  //mywindow.document.write('<link rel="stylesheet" href="../assets/stylesheets/vendor/bootstrap.css" type="text/css" />');
  mywindow.document.write('</head><body >');
  mywindow.document.write(data);
  mywindow.document.write('</body></html>');
  mywindow.print();
  mywindow.close();
  return true;
}
</script>