<!-- Home Page Slider Start -->
<script type='text/javascript'>
  jQuery(document).ready(function(){
  jQuery('#rev_slider_4').show().revolution({
  dottedOverlay: 'none',
  delay: 5000,
  startwidth: 1920,
  startheight: 650,

  hideThumbs: 200,
  thumbWidth: 200,
  thumbHeight: 50,
  thumbAmount: 2,

  navigationType: 'thumb',
  navigationArrows: 'solo',
  navigationStyle: 'round',

  touchenabled: 'on',
  onHoverStop: 'on',

  swipe_velocity: 0.7,
  swipe_min_touches: 1,
  swipe_max_touches: 1,
  drag_block_vertical: false,

  spinner: 'spinner0',
  keyboardNavigation: 'off',

  navigationHAlign: 'center',
  navigationVAlign: 'bottom',
  navigationHOffset: 0,
  navigationVOffset: 20,

  soloArrowLeftHalign: 'left',
  soloArrowLeftValign: 'center',
  soloArrowLeftHOffset: 20,
  soloArrowLeftVOffset: 0,

  soloArrowRightHalign: 'right',
  soloArrowRightValign: 'center',
  soloArrowRightHOffset: 20,
  soloArrowRightVOffset: 0,

  shadow: 0,
  fullWidth: 'on',
  fullScreen: 'off',

  stopLoop: 'off',
  stopAfterLoops: -1,
  stopAtSlide: -1,

  shuffle: 'off',

  autoHeight: 'off',
  forceFullWidth: 'on',
  fullScreenAlignForce: 'off',
  minFullScreenHeight: 0,
  hideNavDelayOnMobile: 1500,

  hideThumbsOnMobile: 'off',
  hideBulletsOnMobile: 'off',
  hideArrowsOnMobile: 'off',
  hideThumbsUnderResolution: 0,

  hideSliderAtLimit: 0,
  hideCaptionAtLimit: 0,
  hideAllCaptionAtLilmit: 0,
  startWithSlide: 0
  });
  });
var tpj=jQuery;
tpj.noConflict();
</script>
<div id="magik-slideshow" class="magik-slideshow">
  <div id="rev_slider_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev_slider_4" class="rev_slider fullwidthabanner">
      <ul class="slider_height" style="width:100%;height:100%;overflow:hidden;">
        <% if @slider_images.present? %>
          <% @slider_images.sort_by(&:sort_order).each do |slider_image| %>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" style="overflow-y:hidden">

              <img src="<%= slider_image.avatar.url %>" alt="" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" />
              <div class="info">
                <div class="tp-caption ExtraLargeTitle sft  tp-resizeme hidden-xs " style="color:black !important;width:40%;font-size:14px !important;left:59% !important;z-index: 2; max-width: auto; max-height: auto;" data-x="860" data-y="60" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"><%= slider_image.alt_text %></div>
                <div class="tp-caption line" style="left:60% !important;z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;" data-x="860" data-y="120" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">&nbsp;</div>
                <div class="tp-caption LargeTitle sfl  tp-resizeme " style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;left:60% !important;" data-x="860" data-y="140" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"><%= slider_image.title %>
                </div>
                <div class="tp-caption Title sft  tp-resizeme " style="left: 642.307692px !important;z-index: 4; max-width: 100% !important; max-height: auto;left:64% !important;max-width:33% !important;padding-left:80px !important;" data-x="860" data-y="220" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"><%= slider_image.description %>
                </div>
                <div class="tp-caption sfb  tp-resizeme  start" style="left:60% !important;z-index: 4; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 12px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 8px; left: 583.1875px; top: 223.78125px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 33.90625, 0, 1); -webkit-transform: none;" data-x="860" data-y="330" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"><a class="buy-btn" href="<%= slider_image.link %>" style="-webkit-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, background-position 0.3s ease-in-out 0s; transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, background-position 0.3s ease-in-out 0s; min-height: 0px; min-width: 0px; line-height: 15px; border-width: 0px; margin: 0px 6.78125px 0px 3.390625px; padding: 7px 31px; letter-spacing: 0px; font-size: 20px;">View More</a></div>
              </div>
            </li>

          <% end %>
        <% else %>  
          <li data-transition="random" data-slotamount="7" data-masterspeed="1000"><img src="../assets/slider.png" alt="" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" />
              <div class="info">
                <div class="tp-caption ExtraLargeTitle sft  tp-resizeme " style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;" data-x="860" data-y="60" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">Sample Alt Text</div>
                <div class="tp-caption line" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;" data-x="860" data-y="120" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">&nbsp;</div>
                <div class="tp-caption LargeTitle sfl  tp-resizeme " style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;" data-x="860" data-y="140" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">Sample Title
                </div>
                <div class="tp-caption Title sft  tp-resizeme " style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;" data-x="860" data-y="220" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">Sample Description
                </div>
                <div class="tp-caption sfb  tp-resizeme  start" style="z-index: 4; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 12px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 8px; left: 583.1875px; top: 223.78125px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 33.90625, 0, 1); -webkit-transform: none;" data-x="860" data-y="330" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"><a class="buy-btn" href="#" style="-webkit-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, background-position 0.3s ease-in-out 0s; transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s, background-position 0.3s ease-in-out 0s; min-height: 0px; min-width: 0px; line-height: 15px; border-width: 0px; margin: 0px 6.78125px 0px 3.390625px; padding: 7px 31px; letter-spacing: 0px; font-size: 20px;">View More</a></div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div> 
<!-- End Home Page Slider -->

<!-- Home Page IndeX_Box Start -->
<div class="top-banner-section wow bounceInUp animated animated" style="visibility: visible;">
  <div class="container hidden-xs">
    <div class="row">
      <% if @index_box_images.present? %>
        <% @n = 1 %>
        <% @index_box_images.take(4).sort_by(&:sort_order).each do |slider_image| %>
          <% unless (@n % 2 == 0) %>
            <div class="col-lg-3 col-sm-3 col-xs-6">
              <a class="col add-banner1" href="<%= slider_image.link %>">
              <%= image_tag slider_image.avatar.url(:large)%>
                <div class="top-b-text" style="margin-top: -178px;color:#fff;">
                  <strong style="color:#fff"><%= slider_image.title %></strong> <%= slider_image.alt_text %>
                </div>
              </a>
            </div>
          <% else %>
            <div class="col-lg-3 col-sm-3 col-xs-6">
              <a class="col add-banner1"  href="<%= slider_image.link %>">
              <%= image_tag slider_image.avatar.url(:large)%>
                <div class="" style="margin-top: -118px;text-align:center;color:#fff;">
                  <strong><%= slider_image.title %></strong> <%= slider_image.alt_text %>
                </div>
              </a>
            </div>
          <% end %>
          <% @n +=1 %>
        <% end %> 
        <% count = 4 %>
        <% default = count - @index_box_images.take(4).length %>
        <% default.times do %>
          <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="col free-shipping">
                <strong>Image Title</strong> Image Alt Text
            </div>
          </div>
        <% end %> 
      <% else %>  
        
          <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="col free-shipping">
                <strong>Image Title</strong> Image Alt Text
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="col free-shipping">
                <strong>Image Title</strong> Image Alt Text
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="col free-shipping">
                <strong>Image Title</strong> Image Alt Text
            </div>
          </div>
          <div class="col-lg-3 col-sm-3 col-xs-6">
            <div class="col free-shipping">
                <strong>Image Title</strong> Image Alt Text
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Home Page IndeX_Box Start -->


<!-- Start Trend Product -->
<div class="main-col">
  <div class="std">
    <div class="container">
      <div class="row">
        <div class="product-grid-view">
          <div class="col-md-12">
            <div class="home-tabs wow bounceInUp animated animated" style="visibility: visible;">
              <div class="producttabs">
                <div id="magik_producttabs1" class="magik-producttabs">
                  <div class="magik-pdt-container">
                    <div class="magik-pdt-nav">
                      <div class="new_title center">
                        <h2>Trending Products</h2>
                      </div>
                    </div>
                    <div class="magik-pdt-content wide-5">
                      <div class="pdt-content is-loaded pdt_best_sales tab-content-actived">
                        <ul class="pdt-list products-grid-home zoomOut play">
                          <% @flag1 = 0  %>
                          <% if @trending_products.present? %>
                            <% @trending_products.take(4).each do |trend_product| %>
                              <% variant= trend_product.variants.order(sort_order: :asc).first %>
                              <% @section = trend_product.categories.first.id %>
                              <% image=variant.images.order(sort_order: :asc).first %>
                              <% @selling_price = Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first.selling_price %>
                              <li class="item item-animate <%= @flag1 == 0 ? 'marginclass' : '' %>" style="">
                                <div class="item-inner">
                                  <div class="item-img">
                                     <div class="item-img-info">
                                       <a class="product-image" href="<%= section_product_show_path(@section,trend_product) %>" title="<%= trend_product.name %>">
                                       <%= image_tag image.avatar.url(:medium)%>
                                       </a>
                                      <div class="new-label new-top-left">
                                          Trend
                                      </div>
                                       <div class="item-box-hover">
                                         <div class="box-inner">
                                          <!-- BEGIN ACTIONS -->
                                        <div class="actions"> 
                                          <div class="add_cart"> 
                                            <% if variant.find_balance_qty.to_i != 0 || trend_product.unavail_purchase == true %>
                                              <% if @cart.present? %>
                                                <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => trend_product.id, :variant_id => variant.id,:selling_price =>@selling_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>          
                                              <% else %>
                                                <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => trend_product.id, :variant_id => variant.id,:selling_price => @selling_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>
                                              <% end %>
                                            <% end %>
                                          </div> <!--add-to-cart-->      
                                          
                                          <span class=" product-detail-bnt">
                                            <span class="wishlist wishlist_view ">
                                              <% if current_user.present? %>
                                                <% if current_user.check_for_wishlist_item_presence(variant.id) %>
                                                  <%= form_for(Wishlist.new) do |f| %>
                                                    <%= f.hidden_field :section,:value => @section  %>
                                                    <%= f.hidden_field :user_id,:value => current_user.id  %>
                                                    <%= f.hidden_field :test,:value => "test"  %>
                                                    <%= f.hidden_field :variant_id,:value => variant.id %>
                                                    <br />
                                                    <button type="submit" class="link-wishlist" title="Add to Wishlist" ></button>
                                                  <% end %>
                                                  
                                                <% else %>
                                                  <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
                                                <% end %>
                                              <% else %>
                                                <a class="link-wishlist button" style="cursor:pointer;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
                                              <% end %>
                                            </span>
                                            <a href="<%= section_product_show_path(@section,trend_product) %>" class="button detail-bnt" title="View" style="padding:8px 12px;" ><span>Views</span></a>
                                          </span> <!--add-to-links-->
                                        </div> <!--actions-->
                                         </div> <!--box-inner-->
                                       </div> <!--item-box-hover-->
                                     </div> <!--item-img-info-->
                                  </div> <!--item-img-->
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title">
                                         <a href="<%= section_product_show_path(@section,trend_product) %>" title="<%= trend_product.name %>"> <%= trend_product.name %>  </a>
                                      </div> <!--item-title-->
                                      <div class="item-content">      
                                        <div class="item-price">
                                          <div class="price-block">
                                            <div class="price-box">
                                              <span class="regular-price" id="product-price-2">
                                                <span class="price"> ₹ <%= '%.2f' % trend_product.inventories.first.selling_price %></span>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!--item-content-->
                                    </div><!--info-inner-->
                                  </div><!--item-info-->       
                                </div> <!--item-inner-->
                              </li> <!--item item-animate wide-first--><% @flag1 += 1  %>
                            <% end %>
                            <% count = 4 %>
                            <% default = count - @trending_products.take(4).length%>
                            <% default.times do %>
                            <li class="item item-animate <%= @flag2 == 0 ? 'marginclass' : '' %>" style="-webkit-animation-delay:0ms;-moz-animation-delay:0ms;-o-animation-delay:0ms;animation-delay:0ms;">
                                <div class="item-inner">
                                  <div class="item-img">
                                     <div class="item-img-info">
                                       <a class="product-image" href="#" title="">
                                       <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
                                       </a>
                                       <div class="new-label new-top-left"> New </div>
                                       <div class="item-box-hover">
                                         <div class="box-inner">
                                           <div class="actions">
                                             <div class="add_cart">
                                                <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                                             </div> <!--add_cart-->  
                                              
                                              <div class="product-detail-bnt">
                                                 <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
                                              </div> <!--product-detail-bnt-->
                                             
                                           </div> <!--actions-->
                                         </div> <!--box-inner-->
                                       </div> <!--item-box-hover-->
                                     </div> <!--item-img-info-->
                                  </div> <!--item-img-->
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title">
                                         <a href="" title=""> Product Name </a>
                                      </div> <!--item-title-->
                                      <div class="item-content">      
                                        <div class="item-price">
                                          <div class="price-block">
                                            <div class="price-box">
                                              <span class="regular-price" id="product-price-2">
                                                <span class="price">Price</span>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!--item-content-->
                                    </div><!--info-inner-->
                                  </div><!--item-info-->       
                                </div> <!--item-inner-->
                            </li> <!--item item-animate wide-first-->
                            <% @flag1 += 1 %>
                            <% end %>
                          <% else %>
                            <% @flag11 = 1  %>
                            <% 4.times do %>
                            <li class="item item-animate <%= @flag11 == 0 ? 'marginclass' : '' %>" style="-webkit-animation-delay:0ms;-moz-animation-delay:0ms;-o-animation-delay:0ms;animation-delay:0ms;">
                                <div class="item-inner">
                                  <div class="item-img">
                                     <div class="item-img-info">
                                       <a class="product-image" href="#" title="">
                                       <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
                                       </a>
                                       <div class="new-label new-top-left"> New </div>
                                       <div class="item-box-hover">
                                         <div class="box-inner">
                                           <div class="actions">
                                             <div class="add_cart">
                                                <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                                             </div> <!--add_cart-->  
                                              
                                              <div class="product-detail-bnt">
                                                 <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
                                              </div> <!--product-detail-bnt-->
                                             
                                           </div> <!--actions-->
                                         </div> <!--box-inner-->
                                       </div> <!--item-box-hover-->
                                     </div> <!--item-img-info-->
                                  </div> <!--item-img-->
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title">
                                         <a href="" title=""> Product Name </a>
                                      </div> <!--item-title-->
                                      <div class="item-content">      
                                        <div class="item-price">
                                          <div class="price-block">
                                            <div class="price-box">
                                              <span class="regular-price" id="product-price-2">
                                                <span class="price">Price</span>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!--item-content-->
                                    </div><!--info-inner-->
                                  </div><!--item-info-->       
                                </div> <!--item-inner-->
                            </li> <!--item item-animate wide-first-->
                            <% @flag11 += 1 %>
                            <% end %>
                          <% end %>
                        </ul>
                      </div> <!--pdt-content pdt_new_arrivals is-loaded-->
                     <!-- Endif collection -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Trend Product -->

<div class="offer-slider wow animated parallax parallax-2 animated" style="visibility: visible;">
  <div class="container">
        <ul class="bxslider" style="width: 645%; position: relative; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transform: translate3d(-4572px, 0px, 0px);">
          <% if @bxsilder_images.present? %>
            <% @bxsilder_images.sort_by(&:sort_order).each do |slider_image| %>
                <li style="float: left; list-style: none; width: 1140px; margin-right: 3px;" class="bx-clone">
                  <h2><%= slider_image.alt_text %></h2>
                  <h1><%= slider_image.title %></h1>
                  <p><%= slider_image.description %></p>
                </li>
            <% end %>
          <% else %>
             <li style="float: left; list-style: none; width: 1140px; margin-right: 3px;" class="bx-clone">
                <h2>New launch</h2>
                <h1>Designer dresses on sale</h1>
                <p>Ranees - This is a name synonymous with selections of salwars and sarees full of suave and style!! Ranees brings together, an exclusive collection of ethnic Indian wear... with a wide range of varieties for you to choose from! Shop with us to get the comfort of buying online, and the exclusivity of the Indian Shops!</p>
              </li>
              <li style="float: left; list-style: none; width: 1140px; margin-right: 3px;">
              <h2>Hello hotness!</h2>
              <h1>Summer collection</h1>
              <p>Ranees - This is a name synonymous with selections of salwars and sarees full of suave and style!! Ranees brings together, an exclusive collection of ethnic Indian wear... with a wide range of varieties for you to choose from! Shop with us to get the comfort of buying online, and the exclusivity of the Indian Shops!</p>
              </li>
              <li style="float: left; list-style: none; width: 1140px; margin-right: 3px;">
              <h2>New launch</h2>
              <h1>Designer dresses on sale</h1>
              <p>Ranees - This is a name synonymous with selections of salwars and sarees full of suave and style!! Ranees brings together, an exclusive collection of ethnic Indian wear... with a wide range of varieties for you to choose from! Shop with us to get the comfort of buying online, and the exclusivity of the Indian Shops!</p>
              </li>
          <% end %>
        </ul>
  </div>
</div>



<!-- Start Trend Product -->
<div class="main-col">
  <div class="std">
    <div class="container">
      <div class="row">
        <div class="product-grid-view">
          <div class="col-md-12">
            <div class="home-tabs wow bounceInUp animated animated" style="visibility: visible;">
              <div class="producttabs">
                <div id="magik_producttabs1" class="magik-producttabs">
                  <div class="magik-pdt-container">
                    <div class="magik-pdt-nav">
                      <div class="new_title center">
                        <h2>New Products</h2>
                      </div>
                    </div><% @flag = 0 %>
                    <div class="magik-pdt-content wide-5">
                      <div class="pdt-content is-loaded pdt_best_sales tab-content-actived">
                        <ul class="pdt-list products-grid-home zoomOut play">
                          <% if @latest_products.present? %>
                            <% @latest_products.take(4).each do |trend_product| %>
                              <% variant= trend_product.variants.order(sort_order: :asc).first %>
                              <% @section = trend_product.categories.first.id %>
                              <% image=variant.images.order(sort_order: :asc).first %>
                              <% @selling_price = Admin::Inventory.where(:variant_id => variant.id).order('selling_price DESC').first.selling_price %>
                              <li class="item item-animate <%= @flag == 0 ? 'marginclass' : '' %>" style="-webkit-animation-delay:0ms;-moz-animation-delay:0ms;-o-animation-delay:0ms;animation-delay:0ms;" >
                                <div class="item-inner">
                                  <div class="item-img">
                                     <div class="item-img-info">
                                       <a class="product-image" href="<%= section_product_show_path(@section,trend_product) %>" title="<%= trend_product.name %>">
                                       <%= image_tag image.avatar.url(:medium)  %>
                                       </a>
                                       <div class="new-label new-top-left"> New </div>
                                       <div class="item-box-hover">
                                         <div class="box-inner">
                                           <!-- BEGIN ACTIONS -->
                                        <div class="actions"> 
                                          <div class="add_cart"> 
                                            <% if variant.find_balance_qty.to_i != 0 || trend_product.unavail_purchase == true %>
                                              <% if @cart.present? %>
                                                <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => trend_product.id, :variant_id => variant.id,:selling_price =>@selling_price,:actual_price => @selling_price), :method => 'POST', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>          
                                              <% else %>
                                                <%= link_to '<span class="hidden-xs">Add To Cart</span>'.html_safe, carts_path(CartItem.new, :pid => trend_product.id, :variant_id => variant.id,:selling_price => @selling_price,:actual_price => @selling_price), :method => 'post', :class =>" button btn-cart",:style=>"padding:8px 12px;" %>
                                              <% end %>
                                            <% end %>
                                          </div> <!--add-to-cart-->      
                                          
                                          <span class=" product-detail-bnt">
                                            <span class="wishlist wishlist_view ">
                                              <% if current_user.present? %>
                                                <% if current_user.check_for_wishlist_item_presence(variant.id) %>
                                                  <%= form_for(Wishlist.new) do |f| %>
                                                    <%= f.hidden_field :section,:value => @section  %>
                                                    <%= f.hidden_field :user_id,:value => current_user.id  %>
                                                    <%= f.hidden_field :test,:value => "test"  %>
                                                    <%= f.hidden_field :variant_id,:value => variant.id %>
                                                    <br />
                                                    <button type="submit" class="link-wishlist" title="Add to Wishlist" ></button>
                                                  <% end %>
                                                  
                                                <% else %>
                                                  <a class="link-wishlist exist button" style="cursor:pointer;color:#2ecc71;" title="Add To Wishlist"><span class="hidden-xs">Added To Wishlist</span></a>
                                                <% end %>
                                              <% else %>
                                                <a class="link-wishlist button" style="cursor:pointer;" title="Add To Wishlist"><span class="hidden-xs" onclick="window.location='<%= user_session_path %>'">Add To Wishlist</span></a>
                                              <% end %>
                                            </span>
                                            <a href="<%= section_product_show_path(@section,trend_product) %>" class="button detail-bnt" title="View" style="padding:8px 12px;" ><span>Views</span></a>
                                          </span> <!--add-to-links-->
                                        </div> <!--actions-->
                                         </div> <!--box-inner-->
                                       </div> <!--item-box-hover-->
                                     </div> <!--item-img-info-->
                                  </div> <!--item-img-->
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title">
                                         <a href="<%= section_product_show_path(@section,trend_product) %>" title="<%= trend_product.name %>"> <%= trend_product.name %>  </a>
                                      </div> <!--item-title-->
                                      <div class="item-content">      
                                        <div class="item-price">
                                          <div class="price-block">
                                            <div class="price-box">
                                              <span class="regular-price" id="product-price-2"> 
                                                <span class="price">₹  <%= '%.2f' % trend_product.inventories.first.selling_price %></span>
                                              </span> 
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!--item-content-->
                                    </div><!--info-inner-->
                                  </div><!--item-info-->       
                                </div> <!--item-inner-->
                              </li> <!--item item-animate wide-first--><% @flag += 1 %>
                            <% end %>
                            <% count = 4 %>
                            <% default = count - @latest_products.take(4).length %>
                            <% default.times do %>
                            <li class="item item-animate <%= @flag2 == 0 ? 'marginclass' : '' %>" style="-webkit-animation-delay:0ms;-moz-animation-delay:0ms;-o-animation-delay:0ms;animation-delay:0ms;">
                                <div class="item-inner">
                                  <div class="item-img">
                                     <div class="item-img-info">
                                       <a class="product-image" href="#" title="">
                                       <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;"  %>
                                       </a>
                                       <div class="new-label new-top-left"> New </div>
                                       <div class="item-box-hover">
                                         <div class="box-inner">
                                           <div class="actions">
                                             <div class="add_cart">
                                                <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                                             </div> <!--add_cart-->  
                                              
                                              <div class="product-detail-bnt">
                                                 <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>view</span></a>
                                              </div> <!--product-detail-bnt-->
                                              
                                           </div> <!--actions-->
                                         </div> <!--box-inner-->
                                       </div> <!--item-box-hover-->
                                     </div> <!--item-img-info-->
                                  </div> <!--item-img-->
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title">
                                         <a href="" title=""> Product Name </a>
                                      </div> <!--item-title-->
                                      <div class="item-content">      
                                        <div class="item-price">
                                          <div class="price-block">
                                            <div class="price-box">
                                              <span class="regular-price" id="product-price-2">
                                                <span class="price">Price</span>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!--item-content-->
                                    </div><!--info-inner-->
                                  </div><!--item-info-->       
                                </div> <!--item-inner-->
                            </li> <!--item item-animate wide-first-->
                            <% @flag2 += 1 %>
                            <% end %>
                          <% else %>
                          <% @flag2 = 0 %>
                            <% 4.times do %>
                            <li class="item item-animate <%= @flag2 == 0 ? 'marginclass' : '' %>" style="-webkit-animation-delay:0ms;-moz-animation-delay:0ms;-o-animation-delay:0ms;animation-delay:0ms;">
                                <div class="item-inner">
                                  <div class="item-img">
                                     <div class="item-img-info">
                                       <a class="product-image" href="#" title="">
                                       <%= image_tag "trend_product.png", :class =>"img-responsive", :style => "width:268px;height:268;" %>
                                       </a>
                                       <div class="new-label new-top-left"> New </div>
                                       <div class="item-box-hover">
                                         <div class="box-inner">
                                           <div class="actions">
                                             <div class="add_cart">
                                                <button type="button" title="Add to Cart" class="button btn-cart" ><span>Add to Cart</span></button>
                                             </div> <!--add_cart-->  
                                              
                                              <div class="product-detail-bnt">
                                                 <a href="" title="quickview" class="button detail-bnt" data-fancybox-type="ajax"><span>quickview</span></a>
                                              </div> <!--product-detail-bnt-->
                                             
                                           </div> <!--actions-->
                                         </div> <!--box-inner-->
                                       </div> <!--item-box-hover-->
                                     </div> <!--item-img-info-->
                                  </div> <!--item-img-->
                                  <div class="item-info">
                                    <div class="info-inner">
                                      <div class="item-title">
                                         <a href="" title=""> Product Name </a>
                                      </div> <!--item-title-->
                                      <div class="item-content">      
                                        <div class="item-price">
                                          <div class="price-block">
                                            <div class="price-box">
                                              <span class="regular-price" id="product-price-2">
                                                <span class="price">Price</span>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div> <!--item-content-->
                                    </div><!--info-inner-->
                                  </div><!--item-info-->       
                                </div> <!--item-inner-->
                            </li> <!--item item-animate wide-first-->
                            <% @flag2 += 1 %>
                            <% end %>
                          <% end %>
                        </ul>
                      </div> <!--pdt-content pdt_new_arrivals is-loaded-->
                     <!-- Endif collection -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Trend Product -->



<style>


@media (min-width: 0px) and (max-width: 768px){
  .marginclass{
 
}
.slider_height{
  height:275px;
}
.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container{
  height:30% !important;
}
}

@media (min-width: 768px) { 
.marginclass{
  margin-left:0px !important;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .marginclass{
  margin-left:0px !important;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .marginclass{
  margin-left:0px !important;
}

}

</style>
 <style>
      .item-box-hover .box-inner .actions .add_cart a.button.btn-cart:before {
          content: "";
          font-family: "FontAwesome";
          font-size: 15px;
      }
      .item-box-hover .box-inner .product-detail-bnt a.button.detail-bnt:before{
        content: "\f002";
        font-family: 'FontAwesome';
        font-size: 15px;
      }
      </style>