<h1>Listing admin_sms_notifications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_sms_notifications.each do |admin_sms_notification| %>
      <tr>
        <td><%= link_to 'Show', admin_sms_notification %></td>
        <td><%= link_to 'Edit', edit_admin_sms_notification_path(admin_sms_notification) %></td>
        <td><%= link_to 'Destroy', admin_sms_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sms notification', new_admin_sms_notification_path %>
