<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-comments-o "></i>&nbsp;&nbsp;Sms Notification</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<!-- flash start --> 
<div class="flash_message_panel" style="height: 70px;padding-top:2px">
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

<%= render 'form' %><br />	 	

<div class="modal fade" id="modal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content " id = "modal24_id">
      
    </div>
  </div>
</div>