<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb"> 
    <li class="active"><i class="ace-icon fa fa-comments-o "></i>&nbsp;&nbsp;SMS Notification</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to 'Edit Notifications', edit_admin_sms_notification_path(@admin_sms_notification), :class => "btn btn-primary btn-xs for_page_load",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

	<!-- flash start --> 
	<div class="flash_message_panel" >
	  <%= render partial: "layouts/shared/flash_msg" %> 
	</div>
	<!-- flash end -->
       <div class="table-header bigger lighter cursive-font">Sms Notification List
       </div>
       <div class="table-responsive">
	<table id="simple-table" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
			  <th>Notification List</th>
			  <th>Status</th>
			  <th>Content</th>
			</tr>
		</thead>
		<tbody>
		<tr>
		<td>For Order Create</td>
		<td>
			<% if @admin_sms_notification.order_create == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_order_create.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_order_create, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Replacement Order</td>
		<td>
			<% if @admin_sms_notification.replacement_order == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_replacement_order.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_replacement_order, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Partial Refund</td>
		<td>
			<% if @admin_sms_notification.partial_refund == true %>
		  	<span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_partial_refund.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_partial_refund, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Post-Delivery Cancel</td>
		<td>
			<% if @admin_sms_notification.post_deli_cancel == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_post_deli_cancel.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_post_deli_cancel, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Tracking Updated</td>
		<td>
			<% if @admin_sms_notification.tracking_updated == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_tracking_updated.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_tracking_updated, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Order Success</td>
		<td>
			<% if @admin_sms_notification.order_success == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_order_success.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_order_success, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Order Failed</td>
		<td>
			<% if @admin_sms_notification.order_failed == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_order_failed.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_order_failed, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Pre-Delivery Cancel</td>
		<td>
			<% if @admin_sms_notification.pre_deli_cancel == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_pre_deli_cancel.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_pre_deli_cancel, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Refund Completed</td>
		<td>
			<% if @admin_sms_notification.refund_complete == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_refund_complete.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_refund_complete, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		<tr>
		<td>For Background Jobs Update</td>
		<td>
			<% if @admin_sms_notification.back_jobs == true %>
		    <span class="text-success glyphicon glyphicon-ok"></span>
		  <% else %>
		    <span class="text-danger glyphicon glyphicon-remove"></span>
		  <% end %>
		</td>
		<td>
		  <% if @admin_sms_notification.content_for_back_jobs.present?  %>
		  	<%= sanitize(@admin_sms_notification.content_for_back_jobs, :tags=>[]).truncate(40, :separator => " ").html_safe %>
		  <% else %>
		  	nil
		  <% end %>
		</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>