                                      <% child.images.sort_by(&:parent_image_sort).each do |image| %>
                                        <%= content_tag_for :li, image do %>
                                        <div class="row">
                                          <div class="col-sm-12 col-xs-12">
                                          
                                             <div class="col-sm-4 col-sm-4">
                                             <span class="child_handle glyphicon glyphicon-sort"></span>
                                              <%= image_tag image.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:100px;height:80px;padding:5px;" %>
                                             </div>
                                             <div class="col-sm-4 col-sm-4">
                                             <%= image.link_url %>
                                             </div>
                                             <div class="col-sm-4 col-sm-4">
                                             <%= image.type_of_image %>
                                             </div>
                                             <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                              <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                          </div>
                                        </div> 
                                        <% end %>
                                      <% end %>