<%= form_for(@admin_image) do |f| %>
  <% if @admin_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_image.errors.count, "error") %> prohibited this admin_image from being saved:</h2>

      <ul>
      <% @admin_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
<div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Upload Image </strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <%= f.file_field :avatar %>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Alt_Text</strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <%= f.text_field :alt_text, :class =>"form-control" %>
                          </div>
                        </div><br />
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Link To URL</strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <%= f.text_field :link_url, :class =>"form-control" %>
                          </div>
                        </div><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
