<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Child Image</h4>
                  </div>
                  <div class="modal-body">
                  <%= form_for(Admin::Image.new,:html => {:id => 'images_form' }) do |f| %>
                  <div class ="row">
                    <div class="col-sm-12 col-xs-12">
                      <div class="col-sm-2 col-xs-2">
                      </div>
                      <div class="col-sm-8 col-xs-8">
                      <%= @cat_id %>
                        <%= f.hidden_field :category_id,:value => @cat_id %>                        
                        
                          <%= f.hidden_field :parent_image_sort,:value => "0" %>
                        
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Upload Image </strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <%= f.file_field :avatar %>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Type of Image </strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                           <%= f.select :type_of_image, options_for_select([["Slider"], ["Collection"], ["Title"]]),{},{:class => "form-control width2"} %>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Alt_Text</strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <%= f.text_field :alt_text, :class =>"form-control" %>
                          </div>
                        </div><br />
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            <strong>Link To URL</strong>
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <%= f.text_field :link_url, :class =>"form-control" %>
                          </div>
                        </div><br />
                        <div class="row">
                          <div class="col-sm-4 col-xs-2">
                            
                          </div>
                          <div class="col-sm-8 col-xs-2">
                            <div class="actions">
                              <%= f.submit "Save", :class => "btn btn-primary" %>
                            </div>
                          </div>
                        </div>
                        
                        <br />
                      </div>
                      <div class="col-sm-2 col-xs-2">
                      </div>
                    </div>
                  </div>
                    
                    
                                         <% end %>
                  </div>