<div class="row">
  <div class="col-xs-12 col-sm-2 left">
    	<%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
		<%= render partial: "layouts/shared/flash_msg" %>    
	<div class="border"><br/>   
	  <div class="pull-right">
	  </div>
	  <div class="row">
        <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">         
            <li><%= link_to "Images", admin_images_path %></li> 
             <li><%= link_to "Image_show", @admin_image %></li>
          <li class="active">Edit Image</li>
        </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
      <br />
	    <%= form_for(@admin_image) do |f| %>
			  <% if @admin_image.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@admin_image.errors.count, "error") %> prohibited this admin_image from being saved:</h2>

			      <ul>
			      <% @admin_image.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>  
			<div class="row">
              <div class="col-sm-4 col-xs-2">
                <strong>Upload Image </strong>
              </div>
              <div class="col-sm-8 col-xs-2">
                <%= f.file_field :avatar %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4 col-xs-2">
                <strong>Alt_Text</strong>
              </div>
              <div class="col-sm-8 col-xs-2">
                <%= f.text_field :alt_text, :class =>"form-control" %>
              </div>
            </div><br />
            <div class="row">
              <div class="col-sm-4 col-xs-2">
                <strong>Link To URL</strong>
              </div>
              <div class="col-sm-8 col-xs-2">
                <%= f.text_field :link_url, :class =>"form-control" %>
              </div>
            </div><br />
		  <div class="actions">
		     <%= f.submit "Update Image", :class => "btn btn-success" %>
		  </div>
		<% end %>

      </div>
	</div>
  </div>
</div>



