<div class="breadcrumbs" id="breadcrumbs">
    <!-- breadcrumb start -->
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <%= link_to "Home", root_path %>
      </li>
      <li class="active">Images</li>
    </ul><!-- breadcrumb end -->
    <!-- button panel start -->
    <div class="pull-right">
    </div>
    <!-- button panel end --> 
  </div><br/>


<div class="page-content">
   <!-- flash start --> 
  <div class="flash_message_panel" style="height: 70px;padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Variant Images</a></li>
            <li role="presentation"><a href="#Others" aria-controls="profile" role="tab" data-toggle="tab">Banner Images</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home" style="padding-left:10px;">
              <br />
              <% @product_images.each do |admin_image| %>
                <%= image_tag admin_image.avatar.url(:thumb),:class => "img-responsive img-thumbnail", :style => "margin:5px;" %>         
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="Others" style="padding-left:10px;">
                <br /><br />
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#general" aria-controls="profile" role="tab" data-toggle="tab">General Images</a></li>
                <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Parent Category Images</a></li>
                <li role="presentation"><a href="#child" aria-controls="profile" role="tab" data-toggle="tab">Child Category Images</a></li>                
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="child" style="padding-left:10px;"><br /><br />
                  <ul id="parent-catsss" data-update-url="<%= sort_admin_categories_path %>">
                    <% @com_parents= for_parent_limit %>
                    <% @child_coms = for_child_limit %> 
                    <% @admin_parents.sort_by(&:sort_order).each do |parent| %>
                      <% @com_parents.sort_by(&:sort_order).each do |com_parent| %>
                        <%= content_tag_for :li, parent do %>
                          <% if com_parent.id == parent.id %>                          
                            <span class="sortname"><%= link_to h(parent.name), parent, :target => "_blank" %></span>
                          <% else %>
                             <span class="sortname" ><%= link_to h(parent.name), parent, :target => "_blank",:style => "color:#000;" %></span>
                          <% end %>                            
                          <% if parent.children.present? %>
                            <span class="admin_category_<%= parent.id %>  sort_child" style="margin-left:77%">View Child</span>
                            <ul id="child-cats" class="child-cats admin_category_<%= parent.id %>" data-update-url="<%= sort_admin_categories_path %>">
                              <% parent.children.sort_by(&:sort_order).each do |child| %>
                                <%= content_tag_for :li, child do %>
                                    <span class="sortname"><%= link_to h(child.name), child, :target => "_blank"%></span>
                                  <%= link_to 'create', new_admin_image_path(:category_id => child.id),:class => "btn btn-default btn-xs text-success pull-right",:remote => true %>
                                  <% if child.images.present? %>
                                  <div class="row">
                                    <div class="col-sm-4">
                                      <span class="admin_category3_<%= child.id %> sort_grand_child3" style="margin-left:0%;color: #777;cursor: pointer;">Title Image</span>
                                    </div>
                                    <div class="col-sm-4">
                                      <span class="admin_category1_<%= child.id %> sort_grand_child1" style="color: #777;cursor: pointer;">Collection Image</span>
                                    </div>
                                    <div class="col-sm-4">
                                      <span class="admin_category2_<%= child.id %> sort_grand_child2" style="margin-left:0%;color: #777;cursor: pointer;">Slider Image</span>
                                    </div>
                                  </div>
                                    <ul id="child_sort" class="child_sort3 admin_category3_<%= child.id %>" data-update-url="<%= parent_image_sort_admin_images_path %>">


                                          <% child.images.where(:type_of_image => "Title").sort_by(&:parent_image_sort).each do |image| %>
                                            <%= content_tag_for :li, image do %>
                                            <div class="row">
                                              <div class="col-sm-12 col-xs-12">
                                              
                                                 <div class="col-sm-4 col-sm-4">
                                                 <span class="child_handle glyphicon glyphicon-sort"></span>
                                                  <%= image_tag image.avatar.url(:thumb),:class => "img-responsive img-thumbnail" %>
                                                 </div>
                                                 <div class="col-sm-4 col-sm-4">
                                                 <%= image.link_url %>
                                                 </div>
                                                 <div class="col-sm-4 col-sm-4">
                                                 <%= image.type_of_image %>
                                                 </div>
                                                 <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                                  <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                              </div>
                                            </div>     
                                              
                                            <% end %>
                                          <% end %>
                                    </ul>
                                    <ul id="child_sort" class="child_sort1 admin_category1_<%= child.id %>" data-update-url="<%= parent_image_sort_admin_images_path %>">
                                          <% child.images.where(:type_of_image => "Collection").sort_by(&:parent_image_sort).each do |image| %>
                                            <%= content_tag_for :li, image do %>
                                            <div class="row">
                                              <div class="col-sm-12 col-xs-12">
                                              
                                                 <div class="col-sm-4 col-sm-4">
                                                 <span class="child_handle glyphicon glyphicon-sort"></span>
                                                  <%= image_tag image.avatar.url(:thumb),:class => "img-responsive img-thumbnail" %>
                                                 </div>
                                                 <div class="col-sm-4 col-sm-4">
                                                 <%= image.link_url %>
                                                 </div>
                                                 <div class="col-sm-4 col-sm-4">
                                                 <%= image.type_of_image %>
                                                 </div>
                                                 <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                                  <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                              </div>
                                            </div>     
                                              
                                            <% end %>
                                          <% end %>
                                    </ul> 
                                    <ul id="child_sort" class="child_sort2 admin_category2_<%= child.id %>" data-update-url="<%= parent_image_sort_admin_images_path %>">


                                          <% child.images.where(:type_of_image => "Slider").sort_by(&:parent_image_sort).each do |image| %>
                                            <%= content_tag_for :li, image do %>
                                            <div class="row">
                                              <div class="col-sm-12 col-xs-12">
                                              
                                                 <div class="col-sm-4 col-sm-4">
                                                 <span class="child_handle glyphicon glyphicon-sort"></span>
                                                  <%= image_tag image.avatar.url(:thumb),:class => "img-responsive img-thumbnail" %>
                                                 </div>
                                                 <div class="col-sm-4 col-sm-4">
                                                 <%= image.link_url %>
                                                 </div>
                                                 <div class="col-sm-4 col-sm-4">
                                                 <%= image.type_of_image %>
                                                 </div>
                                                 <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                                  <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                              </div>
                                            </div>     
                                              
                                            <% end %>
                                          <% end %>
                                    </ul>                                                      
                                  <% end %>
                                <% end %>
                              
                              <% end %>
                            </ul>                   
                          <% end %>
                        <% end %>
                      <% end %>
                      <% end %>
                    </ul>   
                  </div>
                  <div role="tabpanel" class="tab-pane " id="category" style="padding-left:10px;">
                  <br /><br />
                   <% if @admin_parents.present? %> 
                    <ul id="parent-catsss" data-update-url="<%= parent_image_sort_admin_images_path %>">
                      <% @admin_parents.sort_by(&:sort_order).each do |parent| %>
                      <% @com_parents.sort_by(&:sort_order).each do |com_parent| %>
                        <%= content_tag_for :li, parent do %>
                          <span class="handle "></span>
                          <% if com_parent.id == parent.id %>
                            <span class="sortname"><%= link_to h(parent.name), parent, :target => "_blank" %></span>
                          <% else %>
                            <span class="sortname" ><%= link_to h(parent.name), parent, :target => "_blank",:style => "color:#000;" %></span>
                          <% end %>
                          <%= link_to 'create', new_admin_image_path(:category_id => parent.id, :check_id => "check"),:class => "btn btn-default btn-xs text-success pull-right",:remote => true %>
                          <% if parent.images.present? %>
                            <div class="row">
                              <div class="col-sm-4">
                                <span class="admin_category4_<%= parent.id %> sort_grand_child4" style="margin-left:0%;color: #777;cursor: pointer;">Title Image</span>
                              </div>
                              <div class="col-sm-4">
                                <span class="admin_category5_<%= parent.id %> sort_grand_child5" style="color: #777;cursor: pointer;">Collection Image</span>
                              </div>
                              <div class="col-sm-4">
                                <span class="admin_category6_<%= parent.id %> sort_grand_child6" style="margin-left:0%;color: #777;cursor: pointer;">Slider Image</span>
                              </div>
                            </div>
                            
                            <ul id="child_sort" class="child_sort4 admin_category4_<%= parent.id %>" data-update-url="<%= parent_image_sort_admin_images_path %>">
                              <% parent.images.where(:type_of_image => "Title").sort_by(&:parent_image_sort).each do |image| %>
                                <%= content_tag_for :li, image do %>
                                  <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                      <div class="col-sm-4 col-sm-4">
                                        <span class="child_handle glyphicon glyphicon-sort"></span>
                                        <%= image_tag image.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:100px;height:80px;padding:5px;" %>
                                      </div>
                                      <div class="col-sm-4 col-sm-4">
                                        <%= image.link_url %>
                                      </div>
                                      <div class="col-sm-4 col-sm-4">
                                        <%= image.type_of_image %>
                                      </div>
                                      <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                      <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                    </div>
                                  </div>     
                                <% end %>
                              <% end %>
                            </ul>
                            <ul id="child_sort" class="child_sort5 admin_category5_<%= parent.id %>" data-update-url="<%= parent_image_sort_admin_images_path %>">
                              <% parent.images.where(:type_of_image => "Collection").sort_by(&:parent_image_sort).each do |image| %>
                                <%= content_tag_for :li, image do %>
                                  <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                      <div class="col-sm-4 col-sm-4">
                                        <span class="child_handle glyphicon glyphicon-sort"></span>
                                        <%= image_tag image.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:100px;height:80px;padding:5px;" %>
                                      </div>
                                      <div class="col-sm-4 col-sm-4">
                                        <%= image.link_url %>
                                      </div>
                                      <div class="col-sm-4 col-sm-4">
                                        <%= image.type_of_image %>
                                      </div>
                                      <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                      <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                    </div>
                                  </div>     
                                <% end %>
                              <% end %>
                            </ul> 
                            <ul id="child_sort" class="child_sort6 admin_category6_<%= parent.id %>" data-update-url="<%= parent_image_sort_admin_images_path %>">
                              <% parent.images.where(:type_of_image => "Slider").sort_by(&:parent_image_sort).each do |image| %>
                                <%= content_tag_for :li, image do %>
                                  <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                      <div class="col-sm-4 col-sm-4">
                                        <span class="child_handle glyphicon glyphicon-sort"></span>
                                          <%= image_tag image.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:100px;height:80px;padding:5px;" %>
                                      </div>
                                      <div class="col-sm-4 col-sm-4">
                                        <%= image.link_url %>
                                      </div>
                                      <div class="col-sm-4 col-sm-4">
                                        <%= image.type_of_image %>
                                      </div>
                                      <%= link_to '', edit_admin_image_path(image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                      <%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                                    </div>
                                  </div>     
                                <% end %>
                              <% end %>
                            </ul>                   
                          <% end %>
                        <% end %>
                      <% end %><% end %>
                    </ul>   
                  <%end  %>
                  </div>
                  <div role="tabpanel" class="tab-pane active" id="general" style="padding-left:10px;">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal" style="margin:10px;">
                    Banner Image Create
                    </button>         
                    <br />
                    <br/></br></br>
                    <% if @other_types.present? %> 
                      <ul id="parent-cats1" data-update-url="<%= banner_sort_admin_images_path %>">
                        <% @other_types.sort_by(&:banner_sort).each do |admin_image| %>
                          <%= content_tag_for :li, admin_image do %>
                            <div class="row">
                              <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-4 col-sm-4">
                                  <span class="handle1 glyphicon glyphicon-sort"></span>
                                  <%= image_tag admin_image.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:100px;height:80px;padding:5px;" %>
                                </div>
                                <div class="col-sm-4 col-sm-4">
                                  <%= admin_image.link_url %>
                                </div>
                                <div class="col-sm-4 col-sm-4">
                                  <%= admin_image.type_of_image %>
                                </div>
                                <%= link_to '', edit_admin_image_path(admin_image), :class => "glyphicon glyphicon-pencil text-success pull-right", :style => "padding:10px;" %>
                                <%= link_to '', admin_image, method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger pull-right", :style => "padding:10px;" %>  
                              </div>
                            </div> 
                          <% end %>
                        <% end %>
                      </ul>   
                    <% end %>           
                  </div>
                </div>            
            </div>
          </div>
        </div>        
      </div>     
    </div>
  </div>  
</div>




  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Banner Image</h4>
        </div>
        <div class="modal-body">
        <%= form_for(Admin::Image.new,:html => {:id => 'images_form' }) do |f| %>
        <div class ="row">
          <div class="col-sm-12 col-xs-12">
            <div class="col-sm-2 col-xs-2">
            </div>
            <div class="col-sm-8 col-xs-8">
              <%= f.hidden_field :type_of_image,:value => "Banner" %>
              <%= f.hidden_field :banner_sort,:value => "0" %>
              <div class="row">
                <div class="col-sm-4 col-xs-2">
                  <strong>Upload Image </strong>
                </div>
                <div class="col-sm-8 col-xs-2">
                  <%= f.file_field :avatar %>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-4 col-xs-2">
                  <strong>Alt_Text</strong>
                </div>
                <div class="col-sm-8 col-xs-2">
                  <%= f.text_field :alt_text, :class =>"form-control" %>
                </div>
              </div><br />
              <div class="row">
                <div class="col-sm-4 col-xs-2">
                  <strong>Link To URL</strong>
                </div>
                <div class="col-sm-8 col-xs-2">
                  <%= f.text_field :link_url, :class =>"form-control" %>
                </div>
              </div><br />
              <div class="row">
                <div class="col-sm-4 col-xs-2">
                  
                </div>
                <div class="col-sm-8 col-xs-2">
                  <div class="actions">
                    <%= f.submit "Save", :class => "btn btn-primary" %>
                  </div>
                </div>
              </div>
              
              <br />
            </div>
            <div class="col-sm-2 col-xs-2">
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
         

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border modal_window_increase_width2 support_consignment_cancel">
    </div>
  </div>
</div>


<script>
jQuery(function() {
  return $('#parent-cats1').sortable({
    axis: 'y',
    handle: '.handle1',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});

jQuery(function() {
  return $('#child-cats').sortable({
    axis: 'y',
    handle: '.handles',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});

jQuery(function() {
  return $('#child_sort').sortable({
    axis: 'y',
    handle: '.child_handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});

</script> 