<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_admin_image_path(@admin_image) %> |
<%= link_to 'Back', admin_images_path %>
<div class="row">
  <div class="col-xs-12 col-sm-2 left">
    	<%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <div class="col-xs-12 col-sm-10 top50">
		<%= render partial: "layouts/shared/flash_msg" %>    
	<div class="border"> 
	  <div class="pull-right">
	  </div>
	  <div class="row">
        <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">         
            <li><%= link_to "Images", admin_images_path %></li>
          <li class="active">Image show</li>
        </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
      <br />
     		<div class="row">
              <div class="col-sm-4 col-xs-2">
                <strong>Image</strong>
              </div>
              <div class="col-sm-8 col-xs-2">
                <%= image_tag @admin_image.avatar.url,:class => "img-responsive img-thumbnail", :style => "width:100px;height:80px;padding:5px;" %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4 col-xs-2">
                <strong>Alt_Text</strong>
              </div>
              <div class="col-sm-8 col-xs-2">
                <%= @admin_image.alt_text %>
              </div>
            </div><br />
            <div class="row">
              <div class="col-sm-4 col-xs-2">
                <strong>Link To URL</strong>
              </div>
              <div class="col-sm-8 col-xs-2">
               <%= @admin_image.link_url %>
              </div>
            </div><br />
		 

      </div>
	</div>
  </div>
</div>
