<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border" style="margin-top: 0px;">
  <div class="pull-right">
    <%= link_to ' Delete', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon-trash btn btn-danger btn-sm gly pull-right",:remote => true %>
  </div>  
  <ul class="breadcrumb">
    <li class="markthis"><%= link_to "Users", admin_users_path,:remote => true %></li>
    <li class="markthis"><%= link_to @user.email, admin_user_path(@user),:remote => true %></li>
    <li class="active">Edit User</li>
  </ul>    
</div><br/> 
<br/>