<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon glyphicon glyphicon-user"></i>&nbsp;&nbsp;Users</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

  <!-- flash start --> 
  <div class="flash_message_panel" >
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
           
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content2">
        <div class="table-header bigger lighter cursive-font">
          Users List
        </div>
        <div class="table-responsive">
        <table id="users_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email Id</th>
              <th>Default Address</th>
              <th>Role</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.profile.present? %>
                  <strong><%= user.profile.f_name.capitalize %></strong><br/>
                  <em><%= user.profile.gender %></em>
                  <i class="icon-search"></i>
                  <br/>
                  <em><%= user.profile.m_number %></em>
                <% else %>
                    -
                <% end %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <address>
                  <% if user.addresses.first.present? %>
                    <%= user.addresses.first.add_line1 %>,<br/>
                    <%= user.addresses.first.add_line2 %>
                    <%= user.addresses.first.state %>,<br/>
                    <%= user.addresses.first.country %>-
                    <%= user.addresses.first.c_code %><br />
                    <abbr title="Phone">Phone No&nbsp;:</abbr>&nbsp;<%= user.addresses.first.phone %>
                  <% else %>
                    -
                  <% end %>
                </address>
              </td>
              <td>
                <% if user.permission.role.name == 'sa' %>
                    Super Admin
                  <% elsif user.permission.role.name == 'u' %>
                    User
                  <% else %>
                    <%= user.permission.role.name %>
                  <% end %>
              </td>
              <td class="">
                <div class=" action-buttons">
                         <%= link_to '', admin_user_path(user),:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                          <%= link_to '', edit_admin_user_path(user),:class => "glyphicon glyphicon-pencil edit_button_color",:remote => true %>
                        </div>
              </td>
             
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div><br/> 

</div>
  
<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#users_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>