<div class="warp2">
  <div class="welcome-header">
    <h3 class="page-name">My Orders</h3>
    <br/><br />
  </div> 
  <% @orders.each do |order| %>
  <div class="sidebar1">          
    <div class="options">            
      <div class="overview" style="padding-left:0px;">
        <div class="mobile-apps" style = "font-size:14px;">              
          <div class="row">
            <div class="col-sm-12 col-xs-12">

              <div class="col-sm-4 col-xs-4" >
                <h5 style="padding:5px;color:#666666;">Order No. <%= link_to order.order_number, user_order_path(current_user.id, order), remote: true %> </h5>
              </div>
              <div class="col-sm-5 col-xs-4">
                <h6 style="padding:5px;color:#adaeaf;">Placed On. <%= order.created_at.to_date %> / Rs. <%= order.order_cost %></h6>
              </div>
              <div class="col-sm-3 col-xs-4">
                <span id="order_id_<%= order.id %> " class="order_id_order_item glyphicon glyphicon-chevron-down pull-right" style="margin-top:10px;color:#adaeaf;"></span>
              </div>              
            </div>
            <br />
            <div class="order_item_hide" id="order_id_<%= order.id %>">
            <br /><br />
              <% order.order_items.each do |order_item| %>
                <% @variant = Admin::Variant.find(order_item.variant_id) %>
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                    <div class="border_bottom_dot">
                    
                    <div class="col-sm-4 col-xs-4">
                    <br />
                      <%= image_tag @variant.images.first.avatar.url(:thumb),:class => "img-responsive variant_image" %>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                    <br />
                        <h6 style="padding:0px 0px 0px 5px;color:#adaeaf;"><%= @variant.name %></h6>
                        <h6 style="padding:0px 0px 0px 5px;color:#adaeaf;">Qty - <%= order_item.qty %></h6>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                    <br />
                      <h5 style="padding:5px;color:#666666;">Rs. <%= order_item.price %></h5>
                    </div>
                    </div>
                  </div>
                </div><br />
                
              <% end %>
              <div class="row" >
                  <div class="col-sm-12 col-xs-12" >
                  <div class="border_bottom_dot">
                    <div class="col-sm-4 col-xs-4 ">
                      
                    </div>
                    <div class="col-sm-4 col-xs-4 ">
                        <h5 class="pull-right" style="padding:6px;color:#666666;">Total</h5>
                    </div>
                    <div class="col-sm-4 col-xs-4 " >
                      <h5 class="pull-left" style="padding:5px;color:#666666;">Rs. <%= order.order_cost %></h5> 
                    </div>
                    </div>
                  </div>
              </div><br />
            </div>
          </div>
        </div>      
      </div>
    </div>  
  </div>
  <br />        
  <% end %>      
</div>
<script>
$( document ).ready(function() {
  $(".order_item_hide").hide();
    $(".order_id_order_item").click(function(){
    clat = $(this).attr('id').split(' ');
    $('#' + clat[0]).toggle();
  });
});
</script>