<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="markthis"><i class="ace-icon glyphicon glyphicon-user" style="color:#616060"></i>&nbsp;&nbsp;<%= link_to 'Users'.html_safe, admin_users_path,:remote => true %></li>
    <li class="active"><%= @user.email %></li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<div class="page-content">
  <!-- flash start --> 
  <div class="flash_message_panel" style="height: 70px;padding-top:2px">
    <%= render partial: "layouts/shared/flash_msg" %> 
  </div>
  <!-- flash end -->
   
  <% if @user.profile.present? %>
    <div class="profile-user-info profile-user-info-striped">
      <div class="profile-info-row">
        <div class="profile-info-name">First Name</div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="username"><%= @user.profile.f_name %></span>

          <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' },:remote => true,:class => " text-danger pull-right" %>
          <%= link_to '<i class="ace-icon fa fa-search-plus bigger-130"></i>'.html_safe, admin_user_orders_path(@user),:class => "pull-right" %>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Last Name </div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="country"><%= @user.profile.l_name %></span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Gender </div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="age"><%= @user.profile.gender == "f" ? "Female" : "Male" %></span>
        </div>
      </div>
      

      <div class="profile-info-row">
        <div class="profile-info-name"> Role </div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="about">
            <% if @user.permission.role.name == 'sa' %>
              Super Admin
            <% elsif @user.permission.role.name == 'u' %>
              User
            <% else %>
              <%= @user.permission.role.name %>
            <% end %></span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Joined </div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="signup">2010/06/20</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Mobile Number </div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="login"><%= @user.profile.m_number %></span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> Address </div>

        <div class="profile-info-value">
          <span class="editable editable-click" id="login">
            <% if @user.addresses.present? %>
              <% @user.addresses.each do |address| %>
                <address>
                <%= address.add_line1 %>,<br/>
                <%= address.add_line2 %>
                <%= address.state %>,<br/>
                <%= address.country %>-
                <%= address.c_code %><br />
                <abbr title="Phone">Phone No&nbsp;:</abbr>&nbsp;<%= address.phone %>
                </address><br/>
              <% end %>
            <% end %></span>
        </div>
      </div>
    </div>
   
  <% end %>
  <br >
  <% if @user.vouchers.present? %>
  <div class="table-responsive">
    <table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
      <thead>
        <tr>
          <th>Voucher Number</th>
          <th>Notes</th>
          <th>Voucher Cost</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Created_date</th>
        </tr>
      </thead>
      <tbody>
        <% @user.vouchers.each do |voucher| %>
        <tr>
          <td>
            <%=voucher.id %>
          </td>
          <td>
            <% if voucher.refund_revocation_id.present? %>
              Refund Revocation 
            <% else %>
              Replacement Revocation 
            <% end %>
          </td>
          <td>
            <%= voucher.voucher_amount %>
          <td>
           <%= voucher.credit %>
          </td>
          <td>
           <%= voucher.debit %>
          </td>
          <td><%= voucher.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table></div>
  <% end %>

  <div class="panel panel-default">
    <div class=" panel-heading">
      <div class="row">
        <div class="col-sm-2 col-xs-1  text-info bold">Transaction ID</div>
        <div class="col-sm-2 col-xs-4 text-info bold">Mode</div>
        <div class="col-sm-2 col-xs-2  text-info bold">Status</div>
        
        <div class="col-sm-2 hidden-xs text-info bold">Added on </div>
        <div class="col-sm-2 hidden-xs text-info bold">Name on Card</div>
      </div>
    </div>
    <div class="panel-body top_space">
      <% if @failure_transactions.present? %>
        <div class="row hoverd">
          <% @failure_transactions.each do | failure_transaction | %>
            <div class="col-sm-2 col-xs-1 "><%=failure_transaction.txnid %></div>
            <div class="col-sm-2 col-xs-1 "><%=failure_transaction.mode %></div>
            <div class="col-sm-2 col-xs-2"><%= failure_transaction.status %></div>
            <div class="col-sm-2 hidden-xs"><%= failure_transaction.addedon.strftime('%b %e, %l:%M %p') %></div>
            <div class="col-sm-2 hidden-xs"><%= failure_transaction.name_on_card %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>