<%= form_for(@admin_shipping_weight) do |f| %>
  <% if @admin_shipping_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_weight.errors.count, "error") %> prohibited this admin_shipping_weight from being saved:</h2>

      <ul>
      <% @admin_shipping_weight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :range %><br>
    <%= f.text_field :range %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :shipping_policy_id %><br>
    <%= f.number_field :shipping_policy_id %>
  </div>
  <div class="field">
    <%= f.label :shipping_specific_country_id %><br>
    <%= f.number_field :shipping_specific_country_id %>
  </div>
  <div class="field">
    <%= f.label :shipping_specific_pincode_id %><br>
    <%= f.number_field :shipping_specific_pincode_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
