<p id="notice"><%= notice %></p>

<p>
  <strong>Range:</strong>
  <%= @admin_shipping_weight.range %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @admin_shipping_weight.cost %>
</p>

<p>
  <strong>Shipping policy:</strong>
  <%= @admin_shipping_weight.shipping_policy_id %>
</p>

<p>
  <strong>Shipping specific country:</strong>
  <%= @admin_shipping_weight.shipping_specific_country_id %>
</p>

<p>
  <strong>Shipping specific pincode:</strong>
  <%= @admin_shipping_weight.shipping_specific_pincode_id %>
</p>

<%= link_to 'Edit', edit_admin_shipping_weight_path(@admin_shipping_weight) %> |
<%= link_to 'Back', admin_shipping_weights_path %>
