
<% if @param.present? %>
  <%= search_form_for(@search,:url => support_users_path,:remote => true,:html => {:id => 'search_form_for1',:class => 'search_form_for1'}) do |f| %>
    <% count=0 %>
    <% flag=0 %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c,as: flag %>
    <% flag+=1 %>
    <% end %>
    <span style="display:none" class= "for_hide">
      <%= flag %> 
    </span>
    <%= f.condition_fields do |c| %>
      <%= render "search_params", f: c, like: count %>
      <% count+=1 %>
    <% end %>
    <span style="display:none" class= "for_count">
      <%= count %> 
    </span> 
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %><br/>
<% else %>
  <%= search_form_for(@search,:url => support_users_path,:remote => true,:html => {:id => 'search_form_for',:class => 'search_form_for'}) do |f| %>
      <div class= "hide_form">
      <% flag=0 %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c, as: flag %>
        <% flag+=1 %>
      <% end %>
      </div>
    <p class= "qwer"></p>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
<% end %>

<br />
<br />
 <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-3 col-xs-3 text-info bold">Name</div>
            <div class="col-sm-3 col-xs-3 text-info bold">Email Id</div>
            <div class="col-sm-3 col-xs-3 text-info bold">Default Address</div>
            <div class="col-sm-2 col-xs-2 text-info bold">Role</div>
            <div class="col-sm-1 col-xs-1 text-info bold">Edit</div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @users.each do |user| %>
            <div class="row hoverd">
              <div class="col-sm-3 col-xs-3">
                <% if user.profile.present? %>
                  <strong><%= user.profile.f_name.capitalize %></strong><br/>
                  <em><%= user.profile.gender %></em>
                  <i class="icon-search"></i>
                  <br/>
                  <em><%= user.profile.m_number %></em>
                <% end %>
              </div>
              <div class="col-sm-3 col-xs-3"><%= link_to_if(check_link(support_user_path(user)),user.email, support_user_path(user)) %>&nbsp&nbsp</div>
              <div class="col-sm-3 col-xs-3">
                <address>
                  <% if user.addresses.first.present? %>
                    <%= user.addresses.first.add_line1 %>,<br/>
                    <%= user.addresses.first.add_line2 %>
                    <%= user.addresses.first.state %>,<br/>
                    <%= user.addresses.first.country %>-
                    <%= user.addresses.first.c_code %><br />
                    <abbr title="Phone">Phone No&nbsp;:</abbr>&nbsp;<%= user.addresses.first.phone %>
                  <% end %>
                </address>
              </div>
              <div class="col-sm-2 col-xs-2"><%= user.permission.role.name %></div>
              <div class="col-sm-1 col-xs-1">
              <% if check_link(edit_admin_user_path(user)) %>
                <%= link_to '', edit_admin_user_path(user),:class => "glyphicon glyphicon-pencil text-success" %>
              <% end %>
              </div>       
            </div>          
          <% end %>
        </div>
      </div>
    <script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>