<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Your Address</h4>
      </div>
      <div class="modal-body">
        
        <%= form_for(@shipping_address ,:url => user_shipping_address_path(current_user.id,@shipping_address)) do |f| %>
          <%= f.hidden_field :useraddress, :value => "shipaddress" %>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :name, "Name",:class => "profile_head control-label form-margin" %> 
                </div> 
                <div class="col-sm-6 col-xs-6">
                  <%= f.text_field :name,:class => " form_field_profile1 form-margin" %> 
                </div> 
              </div>
            </div><br />
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :name, "Door Number",:class => "profile_head control-label form-margin" %>    
                </div>
                <div class="col-sm-6 col-xs-6">
                  <%= f.text_field :add_line1,:class => "form_field_profile1 form-margin" %>
                </div>    
              </div>
            </div>
              <br />
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :country, "Country",:class => "profile_head control-label form-margin" %></div> 
                <div class="col-sm-6 col-xs-6">
                  <%= f.collection_select :country, Admin::Country.order(:name), :name, :name, { :prompt => "Select Country" }, { :class => "form_field_profile1 country1 coun" } %>
                </div>
              </div>
            </div>   <br />
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :state, "State",:class => "profile_head control-label form-margin",:style => "display:none;" %>  
                </div> 
                <div class="col-sm-6 col-xs-6">
                  <%= f.grouped_collection_select :state, Admin::Country.order(:name), :states , :name , :name, :name, { :prompt => "Select State" }, { :class => "form_field_profile1 state1 stat form-margin",:style => "display:none;" } %>
                </div>
              </div>
            </div><br />
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :add_line2, "District, City",:class => "profile_head form-margin control-label",:style => "display:none;" %>    
                  </div>
                <div class="col-sm-6 col-xs-6">  
                  <%= f.grouped_collection_select :add_line2, Admin::State.order(:name), :district_cities , :name , :name, :name, { :prompt => "Select City" }, { :class => "form_field_profile1 city1  form-margin dist1",:style => "display:none;" } %> 
                  </div>
              </div>
            </div> <br /> 
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :pincode, "Pin Code",:class => "profile_head control-label col-sm-12 form-margin",:style => "display:none;" %>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <%= f.grouped_collection_select :pincode, Admin::DistrictCity.order(:name), :pincodes , :name , :pincode, :pincode, { :prompt => "Select Pincode" }, { :class => "form_field_profile1 code1 form-margin",:style => "display:none;" } %>
                    </div>
              </div>
            </div> <br /> 
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 col-xs-6">
                  <%= f.label :phone, "Contact Number",:class => "profile_head control-label form-margin" %>    
                </div>
                <div class="col-sm-6 col-xs-6">  
                  <%= f.text_field :phone,:class => "form_field_profile1 phone1 form-margin" %>  
                </div>
              </div>
            </div><br />
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="col-sm-6 col-xs-6">  
                  </div>
                  <div class="col-sm-6 col-xs-6">  
                    <div class="actions"> 
                      <%= f.submit "Save Address", :class => "btn btn-default" %>
                    </div>
                  </div>
                </div>
              </div>
              <br /><br />

        <% end %>
      </div>      
    </div>