<h1>Listing shipping_addresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Add line1</th>
      <th>Add line2</th>
      <th></th>
      <th>State</th>
      <th>Country</th>
      <th>C code</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_addresses.each do |shipping_address| %>
      <tr>
        <td><%= shipping_address.user_id %></td>
        <td><%= shipping_address.name %></td>
        <td><%= shipping_address.add_line1 %></td>
        <td><%= shipping_address.add_line2 %></td>
        <td><%= shipping_address. %></td>
        <td><%= shipping_address.state %></td>
        <td><%= shipping_address.country %></td>
        <td><%= shipping_address.c_code %></td>
        <td><%= shipping_address.phone %></td>
        <td><%= link_to 'Show', user_shipping_address_path(@user) %></td>
        <td><%= link_to 'Edit', edit_user_shipping_address_path(@user,@shipping_address) %></td>
        <td><%= link_to 'Destroy', shipping_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping address', new_user_shipping_address_path(@user) %>
