<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shipping_address.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shipping_address.name %>
</p>

<p>
  <strong>Add line1:</strong>
  <%= @shipping_address.add_line1 %>
</p>

<p>
  <strong>Add line2:</strong>
  <%= @shipping_address.add_line2 %>
</p>

<p>
  <strong>:</strong>
  <%= @shipping_address. %>
</p>

<p>
  <strong>State:</strong>
  <%= @shipping_address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @shipping_address.country %>
</p>

<p>
  <strong>C code:</strong>
  <%= @shipping_address.c_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shipping_address.phone %>
</p>

<%= link_to 'Edit', edit_user_shipping_address_path(@user,@shipping_address) %> |
<%= link_to 'Back', user_shipping_addresses_path(@user) %>
