<%= form_for(@admin_shipping_state ,:url => admin_shipping_plan_shipping_country_shipping_state_path(@admin_shipping_plan,@admin_shipping_country,@admin_shipping_state),:remote => true,:html => {:id => 'shipping_state_form' } ) do |f| %>
  <% if @admin_shipping_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_state.errors.count, "error") %> prohibited this admin_shipping_state from being saved:</h2>
      <ul>
        <% @admin_shipping_state.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Add City For <%= @admin_shipping_state.state.name %></h4>
  </div>
  <div class="modal-body" >
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <%= f.label :shipping_state_id, "State" %>
      </div>
      <div class="col-sm-6 col-xs-12">
       <%= @admin_shipping_state.state.name %>
      </div>
    </div><br/><br/>
    <div class="row">      
    </div> <br/>    
    <% if @filter_cities.present? %>
      <%= f.collection_select :district_city_id, @filter_cities , :id, :name,{:prompt => "Select City"}, :class =>"form-control shipping_state1"  %>
    <% else %>
      <div class="row text-center"> 
        No Other Cities To Add
      </div>
    <% end %>    
    <span id="flag_val" style="display:none;"></span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= f.submit "Add Cost", :class => "btn btn-primary"%>
<% end %>
</div>