<%= form_for(@admin_shipping_state ,:url => admin_shipping_plan_shipping_country_shipping_states_path(@admin_shipping_plan,@admin_shipping_country),:remote => true,:html => {:id => 'shipping_state' } ) do |f| %>
  <% if @admin_shipping_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_shipping_state.errors.count, "error") %> prohibited this admin_shipping_state from being saved:</h2>
      <ul>
        <% @admin_shipping_state.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title label-color" id="myModalLabel">Add State For <%= @admin_shipping_country.country.name %></h4>
  </div>
  <div class="modal-body">
    <% if @filter_results.present? %>
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <%= f.label :country_id, "Country",:class => "label-color" %>
        </div>
        <div class="col-sm-5 col-xs-12">
          <%= f.collection_select :state_id, @filter_results , :id, :name,{:prompt => "Select State"}, :class =>"form-control shipping_state1 blue_textbox"  %>
          <span id="shipping_state1" class="error_list" style="display:none;"></span>
        </div>
      </div>
    <% else %>
      <div class="row text-center label-color">
        No Other States To Add
      </div> 
    <% end %>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= f.submit "Add State", :class => "btn btn-primary"%>
<% end %>
</div>