<%= form_for @state, :url => admin_country_states_path(@country), :html => {:id => 'new_state'},:remote => true do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>
      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class => "form-control width1",:id => "statename" %>
    <span id="state_name_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="field">
    <%= f.label :state_code %><br>
    <%= f.text_field :state_code, :class => "form-control width1",:id => "statecode" %>
    <span id="state_code_error" class="error_list" style="display:none;"></span>
  </div><br/>
  <div class="actions">
    <%= f.submit "Create State" , :class => "btn btn-success"%>
  </div>
<% end %>
