<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right markthis">					
		<%= link_to 'Show State', admin_country_state_path(@country, @state), :class => "btn btn-primary ",:remote => true %>
  </div>
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <li class="markthis"><%= link_to @country.name, admin_country_path(@country),:remote => true %></li>
        <li class="markthis"><%= link_to 'states', admin_country_states_path(@country),:remote => true %></li>     
        <li class="active">Edit State</li>
      </ol>
    </div>
  </div> 
</div><br />
<div class="row">
  <div class="col-xs-12 col-sm-6">
		<%= form_for @state, :url => admin_country_states_path(@country),:remote => true do |f| %>
		  <% if @state.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>
		      <ul>
		      <% @state.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <div class="field">
		    <%= f.label :name %><br>
		    <%= f.text_field :name,:class => "form-control width1",:id => "statename" %>
		  </div><br/>
		  <div class="field">
		    <%= f.label :state_code %><br>
		    <%= f.text_field :state_code,:class => "form-control width1",:id => "statecode" %>
		  </div><br/>
		  <div class="actions">
		    <%= f.submit "Create State" , :class => "btn btn-success"%>
		  </div>
		<% end %><br/><br/>	
  </div>	
</div>
	