<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <ol class="breadcrumb">
        <li class="markthis"><%= link_to @country.name, admin_country_path(@country),:remote => true %></li>
        <li class="active">State</li>
      </ol>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= search_form_for(@search,:url => admin_country_states_path(@country),:html => {:id => 'search_form_for',:class => 'search_form_for'},:remote => true)  do |f| %><br/>
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="col-sm-10 col-xs-12">               
              <%= f.text_field :name_eq_any,:class => "form-control", :placeholder => "State Name" %>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">              
            <%= f.submit "Search" , :id => "search1_form",:class => "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3 col-xs-12"><br/>
      <div class="pull-right">
        <%= link_to 'Add New State', new_admin_country_state_path(@country) , :class => "btn btn-success",:remote => true %>
      </div>
    </div>
  </div>
</div><br/>
<div class ="row">
  <div class="col-xs-12 col-sm-8">    
    <div class="panel panel-default">
      <div class=" panel-heading">
        <div class="row">
          <div class="col-sm-5 col-xs-5 text-primary">State Name</div>
          <div class="col-sm-6 col-xs-6 text-primary">ISO</div>
          <div class="col-sm-1 col-xs-1 text-primary">Edit</div>
        </div>
      </div>
      <div class="panel-body top_space">
        <% @states.each do |state| %>
          <div class="row hoverd">
            <div class="col-sm-5 col-xs-5"><%= link_to_if(check_link(admin_country_state_path(@country, state)),state.name, admin_country_state_path(@country, state),:remote => true) %></div>
            <div class="col-sm-6 col-xs-6"><%= state.state_code %></div>
            <div class="col-sm-1 col-xs-1">
              <%= link_to '', edit_admin_country_state_path(@country, state) , :class => "glyphicon glyphicon-pencil text-success",:remote => true %>
            </div>       
          </div>          
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  </div>
</div>
  