<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
	<div class="pull-right">				
  </div>
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
	  		<li class="markthis"><%= link_to @country.name, admin_country_path(@country),:remote => true %></li>
	  		<li class="markthis"><%= link_to 'List States', admin_country_states_path(@country),:remote => true %></li>
  			<li class="active">New State</li>
      </ol>
    </div>
  </div> 
</div><br />
<div class ="row">
  <div class="col-xs-12 col-sm-6">
    <%= render 'form' %><br/><br/>	
  </div>	
</div>
	
