
  <%= render partial: "layouts/shared/flash_msg" %>  
  <div class="border"><br/>
    <div class="pull-right">
      <%= link_to "Add New District", new_admin_country_state_district_city_path(@country,@state) , :class => "btn btn-success",:remote => true %>
      <%= link_to 'Edit State', edit_admin_country_state_path(@country, @state), :class => "btn btn-primary ",:remote => true %>
      <%= link_to ' Delete', admin_country_state_path(@country, @state), method: :delete, data: { confirm: 'Are you sure?' },:class => " btn btn-danger gly",:remote => true %>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li class="markthis"><%= link_to @country.name, admin_country_states_path(@country),:remote => true %></li> 
          <li class="markthis"><%= link_to 'states', admin_country_states_path(@country),:remote => true %></li>
          <li class="active"><%= @state.name.capitalize %>(<%= @state.state_code %>)</li>
        </ol>
      </div>
    </div>
  </div><br/>
  <div class="">
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <strong>Country</strong>
      </div>
      <div class="col-sm-6 col-xs-6">
        <%= @country.name %>
      </div>
    </div><br/>
  </div>
  <% if @district_cities.present? %>
    <div class ="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class=" panel-heading">
          <div class="row">
            <div class="col-sm-5 col-xs-5 text-info bold">District Name</div>
            <div class="col-sm-5 col-xs-5 text-info bold">District Code</div>
            <div class="col-sm-1 col-xs-1 text-info bold">Delete</div>
            <div class="col-sm-1 col-xs-1 text-info bold">Edit</div>
          </div>
        </div>
        <div class="panel-body top_space">
          <% @district_cities.each do |district_city| %>
            <div class="row hoverd">
              <div class="col-sm-5 col-xs-5"><%= link_to district_city.name, admin_country_state_district_city_path(@country, @state, district_city),:remote => true %></div>
              <div class="col-sm-5 col-xs-5"><%= district_city.district_code %></div>
              <div class="col-sm-1 col-xs-1 markthis">
                <%= link_to '', admin_country_state_district_city_path(@country, @state, district_city), method: :delete, data: { confirm: 'Are you sure?' },:class => "glyphicon glyphicon-trash text-danger",:remote => true %>
              </div>
              <div class="col-sm-1 col-xs-1 markthis">
                <%= link_to '', edit_admin_country_state_district_city_path(@country, @state, district_city),:class => "glyphicon glyphicon-pencil text-success",:remote => true %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %><br/><br/>
        <span class="text-muted">no district is there to display.
         click this link to add district <%= link_to "Add New Disrtict", new_admin_country_state_district_city_path(@country,@state),:remote => true %>
        </span>
      <% end %>
    </div> 
  </div>`
</div>
	