<% @order.cart_items.each do |cart_item| %>
	<% @variant = Admin::Variant.find(cart_item.variant_id) %>
  <div class="row text-center">
	<div class="col-sm-4 col-xs-12"><%= @variant.name %></div>
	<div class="col-sm-1 col-xs-12"><%= cart_item.qty %></div>
    <% if cart_item.consignment.present? %>
      <% @consignment = cart_item.consignment %>
    <% end %>
   	<%= form_for @consignment,:remote => true do |f| %>
	  <%= f.hidden_field :order_id, :value => @order.id %>
	  <%= f.hidden_field :cart_value, :value => cart_item.id %>
	  <div class="col-sm-3 col-xs-12">
	    <%= f.collection_select :warehouse_id, warehouse_lookup(cart_item), :warehouse_id, :full_name,{:prompt => "Select"},:class => "form-control" %>
	  </div>
      <div class="col-sm-2 col-xs-12">
	    <%= f.submit "Assign Warehouse",:class => "btn btn-info btn-sm" %>
	  </div>        
	<% end %>           
  </div><br/>         
<% end %>    