 <%= form_for @order, :url => user_order_path(@order.user_id, @order), :html => {:id => 'order_shippment_form', :remote => "true", :class => "order_warehouse_edit"}  do |f| %>
  <div class="fields">
    <div class="col-sm-6 col-xs-6">
    <%= f.collection_select :warehouse_id, Admin::Warehouse.all, :id, :full_name,{:prompt => "Select Warehouse"},:class => "form-control" %></br>
    <span id="order_warehouse_error" class="error_list" style="display:none;"></span>
    </div>
  </div>
  <div class="col-sm-2 col-xs-8">
    <%= f.submit "Assign Warehouse", :class => "btn btn-info btn-sm order_warehouse_bt" %>
  </div>
<% end %> 
