<!-- warp start -->
<div class="warp2">
 <!-- header breadcrum Start -->
  <div class="page-title">
    <h2>My Orders</h2>
  </div>
  <!-- header breadcrum end -->
  <% unless @orders.present? %>
  <div class="sidebar1">
    <div class="options">
      <div class="overview" style="padding:0px;">
        <div class="mobile-apps"><br />
          <!-- wishlist start -->
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5 text-center">
                    <i class="glyphicon glyphicon-list-alt huge1"></i>
                    <br />
                  </div>
                  <div class="col-sm-7 col-xs-12 col-md-7  col-lg-7">
                    <br />
                    <h4 class="c666 f-bold  pt6 pb6">You Have 0 Orders In Your Account</h4>
                    <br />
                    <p style = "font-size:12px;" class="c666 f-bold pt6 pb6">You can view all the orders placed so far with your credentials, including undelivered and incomplete orders.</p>
                  </div>
                </div>
              </div>
          <!-- wishlist end --> 
        </div>
      </div>  
    </div>  
  </div> 
  <% else %>
  <% end %>
  <!-- order details start -->
  <% if @orders.present? %>
  <table class="data-table" id="my-orders-table">
    <colgroup>
      <col width="">
      <col width="">
      <col>
      <col width="1">
      <col width="1">
      <col width="20%">
    </colgroup>
    <thead>
      <tr class="first last" >
        <th class="c666 f-bold fs11 pt6 pb6">Order No </th>
        <th class=" c666 f-bold fs11 pt6 pb6">Date</th>
        <th class=" c666 f-bold fs11 pt6 pb6">Ship To</th>
        <th class="c666 f-bold fs11 pt6 pb6"><span class="nobr">Order Total</span></th>
        <th class="c666 f-bold fs11 pt6 pb6"><span class="nobr">Order Status</span></th>
        <th class="c666 f-bold fs11 pt6 pb6"><span class="nobr">Payment Mode</span></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      
        <% @orders.each do |order| %>
          <tr class="first last odd">
            <td class="  fs11 pt6 pb6"><%= order.order_number %></td>
            <td class=" fs11 pt6 pb6"><span class="nobr"><%= order.created_at.strftime("%d/%b/%Y") %></span></td>
            <td class="fs11 pt6 pb6"><%= order.shipping_address.name %></td>
            <td class="c666 f-bold  fs11 pt6 pb6"><span class="">₹ <%=  '%.2f' % order.order_cost %> </span></td>
            <td class=" fs11 pt6 pb6">
              <em>
                <% if order.status == "up" %>
                  UnProcessed 
                <% elsif order.status == "wh" %>
                  WareHouse Assigned
                <% else %>  
                  Partially Assigned
                <% end %>
              </em>
            </td>
             <td class="fs11 pt6 pb6"><em><% if order.payment_mode == "COD" %> COD <% else %> Online <% end %></em></td>
            <td class="a-center last">
              <span class="nobr">
                <%= link_to "View Details  <small style='font-size:9px;''> >></small>".html_safe, user_order_path(current_user.id, order), remote: true, :style => "color:#2ecc71;" ,:class => "txt-up c666 f-bold fs11 pt6 pb6"%>
              </span>
            </td>
          </tr>
        <% end %> 
    </tbody>
  </table>
  <% end %>    
  <!-- order details end -->
</div>  

<style>

.btn{
  background:#fff;
  color:#000;
}
.btn:hover{
  color:#fff !important;
}
</style>