<%= form_for @order, :url => user_order_path(@order.user_id, @order) do |f| %>
  <div class="row">
    <div class="col-sm-5 col-xs-6">
      <%= f.label :pay_val, "Payment Confirmation"%>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= f.radio_button :pay_val, 'true' %> 
      <%= label :pay_val, 'Approve' %>
      <%= f.radio_button :pay_val, 'false' %>
      <%= label :pay_val, 'Cancel' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-xs-6">
      <%= f.label :cal_conf, "Call Confirmation"%>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= f.radio_button :cal_conf, 'true' %> 
      <%= label :cal_conf, 'Approve' %>
      <%= f.radio_button :cal_conf, 'false' %>
      <%= label :cal_conf, 'Cancel' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-xs-6">
      <%= f.label :prev_rec, "Previous Order History" %>
    </div>
    <div class="col-sm-6 col-xs-6">
      <%= f.radio_button :prev_rec, 'true' %> 
      <%= label :prev_rec, 'Approve' %>
      <%= f.radio_button :prev_rec, 'false' %>
      <%= label :prev_rec, 'Cancel' %>
    </div>
  </div>
  <div class="fields">
    <%= f.hidden_field :present_user, :value => current_user.id.to_i %>
  </div>
  <div class="actions">
    <%= f.submit "Update Order",:class => "btn btn-info btn-sm"%>
  </div>
<% end %>