<div class="table-header">User Details(<%= @order.user.email %>)</div>
<table id="simple-table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Status</th>
        <th>Payment Mode</th>
        <th>Order Cost</th>
        <th>Payment Status</th>
      </tr>
    </thead>
    <tbody>
      <% @order.user.orders.each do |user_order| %>
      <tr>
        <td>
          <%= user_order.order_number %>
        </td>
        <td>
          <%= user_order.status %>
        </td>
        <td>
         <%= user_order.payment_mode %>
        </td>
        <td><%= user_order.order_cost %>
        </td>
        <td><%= user_order.payment_status%></td>
      </tr>
      <% end %>
    </tbody>
  </table>





