<div class="row">  
  <div class="col-xs-12 col-sm-2 left">
    <%= render partial: "layouts/shared/admin_sidebar" %>
  </div>
  <span class="order_id" style="display:none;"><%= admin_order_show_path( @order) %></span>
  <div class="col-xs-12 col-sm-10">
    <div class="border"><br/>
      <div class="pull-right">
	    <% if check_link(admin_order_logs_path(@order.id)) %>  
	      <%= link_to 'Order Logs', admin_order_logs_path, :order_id => @order.id, :class => "btn btn-primary btn-sm" %> 
	    <% end %>
	  </div> 
      <div class="pull-right">
	    <% if check_link(edit_user_order_path(@order.user_id, @order)) %>  
	      <%= link_to 'Edit Orders', admin_order_edit_path(@order), :class => "btn btn-primary btn-sm" %> 
	    <% end %>
	  </div> 
	  <div class="row">
        <div class="col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <% if check_link(admin_order_index_path) %>  
            <li><%= link_to "Orders", admin_order_index_path %></li>
          <% end %>
          <li class="active"><%= @order.order_number %></li>
        </ol>
        </div>
      </div>
    </div> 
    <br/>
    <% if @order.pay_val.nil? || @order.pay_val == false %>
      <span class="current_stage" style="display:none">0</span>
    <% elsif @order.cal_conf.nil? || @order.prev_rec.nil? || @order.cal_conf == false || @order.prev_rec == false %>
      <span class="current_stage" style="display:none">1</span>
    <% else %>
      <span class="current_stage" style="display:none">2</span>
    <% end %>
    <div class="col-sm-7 col-xs-12"> 
	    <div class="panel panel-info">
	      <div class="panel-heading text-center">
            <strong>ORDER DETAILS</strong>
          </div>
	      <div class="panel-body"><br/>
			<div class="row info-borders">
				<div class="col-sm-3 text-info"><strong>Order Number</strong></div>
				<div class="col-sm-9"><%= @order.order_number %></div>
			</div><br/>
			<div class="row info-borders">
				<div class="col-sm-3 text-info"><strong>Paymet Mode</strong></div>
				<div class="col-sm-9"><%= @order.payment_mode %></div>
			</div><br/>
			<div class="row info-borders">
				<div class="col-sm-3 text-info"><strong>Payment Status</strong></div>
				<div class="col-sm-9"><%= @order.payment_status %></div>
			</div><br/>
			<div class="row info-borders">
				<div class="col-sm-3 text-info"><strong>Order Cost</strong></div>
				<div class="col-sm-9"><%= @order.order_cost %></div>
			</div><br/>
			<div class="row info-borders">
				<div class="col-sm-3 text-info"><strong>Order Status</strong></div>
				<div class="col-sm-9"><%= @order.status %></div>
			</div><br/>
			<div class="row info-borders">
				<div class="col-sm-3 text-info"><strong>Location</strong></div>
				<div class="col-sm-9"><%= @order.location %><% if @order.ip.present? %>(<%= @order.ip %>)<% end %></div>
			</div><br/>
			<div class="row info-borders">
			  <div class="col-sm-3 text-info"><strong>Shipping Address</strong></div>
			  <div class="col-sm-9">
				<%= @order.shipping_address.name %><br/>
				<%= @order.shipping_address.add_line1 %>,
		        <%= @order.shipping_address.add_line2 %><br/>
		        <%= @order.shipping_address.state %>,
		        <%= @order.shipping_address.country %>-
		        <%= @order.shipping_address.c_code %><br/>
				<%= @order.shipping_address.pincode %><br/>
				<%= @order.shipping_address.phone %>
			  </div>
			</div>
		  </div>
		</div>
	    <div class="rejection_reason">
        <!-- Tabs -->
  		  <div id="wizard" class="swMain">
  			<ul>
  				<li>
  				  <a href="#step-1">
                <span class="stepNumber">1</span>
                <span class="stepDesc">
                   Payment Confirmation<br />
                   <small></small>
                </span></a></li>
  				<li><a href="#step-2">
                <span class="stepNumber">2</span>
                <span class="stepDesc">
                   User Verification<br />
                   <small></small>
                </span>
            </a></li>
  				<li><a href="#step-3">
                <span class="stepNumber">3</span>
                <span class="stepDesc">
                   Assigning Warehouse<br />
                   <small></small>
                </span>
             </a></li>
  			</ul>
          <%= form_for @order, :url => user_order_path(@order.user_id, @order),:remote =>true,:class => "edit_order_confirmation"  do |f| %>
            <%= f.hidden_field :present_user, :value => current_user.id.to_i %>
		    <input type='hidden' name="issubmit" value="1">
	  			<div id="step-1">	
		            <h2 class="StepTitle st text-info">Step 1: Payment Confirmation</h2><br/><br/>
		            <div class="row">
					  <div class="col-sm-5 col-xs-6">
					    <%= f.label :pay_val, "Payment Confirmation"%>
					  </div>
					  <div class="col-sm-6 col-xs-6">
					    <%= f.radio_button :pay_val, 'true' %> 
					    <%= label :pay_val, 'Approve' %>
					    <%= f.radio_button :pay_val, 'false' %>
					    <%= label :pay_val, 'Cancel' %><br/>
					    <span id="msg_username"></span>
					  <% if @order.pay_val == false %>
					    <% pay_val_reason_val = @order.order_logs.where(:order_attribute => "pay_val",:attr_value => "false" ).order('created_at DESC').first.rejection_reason.reason %>
	                    <div class="pay_val_reason"   >
	                  <% else %>
	                    <% pay_val_reason_val = "" %>
	                    <div class="pay_val_reason" style = "display:none">
	                  <% end %>
					      <%= f.label :pay_val_reason, "Reason" %>
					      <%= f.text_field :pay_val_reason,:class => "form-control",:value => pay_val_reason_val %>
					    </div>
					    <span id="msg_reason1"></span>
					  </div>
					</div>          			
	            </div>
	        </div>
	  			<div id="step-2">
	            <h2 class="StepTitle st text-info">Step 2: User Verification</h2>	<br/><br/>
	            <div class="row">
				    <div class="col-sm-4 col-xs-6">
				      <%= f.label :cal_conf, "Call Confirmation"%>
				    </div>
				    <div class="col-sm-7 col-xs-6">
				      <%= f.radio_button :cal_conf, 'true',:class => "cal_conf_class" %> 
				      <%= label :cal_conf, 'Approve' %>
				      <%= f.radio_button :cal_conf, 'false',:class => "cal_conf_class" %>
				      <%= label :cal_conf, 'Cancel' %><br/>
				      <span id="msg_firstname"></span>
				      <% if @order.cal_conf == false %>
					    <% cal_conf_reason_val = @order.order_logs.where(:order_attribute => "cal_conf",:attr_value => "false" ).order('created_at DESC').first.rejection_reason.reason %>
	                    <div class="cal_conf_reason" >
	                  <% else %>
	                    <% cal_conf_reason_val = "" %>
	                    <div class="cal_conf_reason" style = "display:none">
	                  <% end %>
                        <%= f.label :cal_conf_reason, "Reason" %>
				        <%= f.text_field :cal_conf_reason,:class => "form-control",:value =>cal_conf_reason_val  %>
				      </div><br/>
				      <span id="msg_reason2"></span>
				    </div>
				  </div><br/>
				  <div class="row">
				    <div class="col-sm-4 col-xs-6">
				      <%= f.label :prev_rec, "Previous Order History" %>
				    </div>
				    <div class="col-sm-7 col-xs-6">
				      <%= f.radio_button :prev_rec, 'true' %> 
				      <%= label :prev_rec, 'Approve' %>
				      <%= f.radio_button :prev_rec, 'false' %>
				      <%= label :prev_rec, 'Cancel' %><br/>
				      <span id="msg_gender"></span>
				      <% if @order.prev_rec == false %>
					    <% prev_rec_reason_val = @order.order_logs.where(:order_attribute => "prev_rec",:attr_value => "false" ).order('created_at DESC').first.rejection_reason.reason %>
	                    <div class="prev_rec_reason" >
	                  <% else %>
	                    <% prev_rec_reason_val = "" %>
	                    <div class="prev_rec_reason" style = "display:none">
	                  <% end %>
				        <%= f.label :prev_rec_reason, "Reason" %>
				        <%= f.text_field :prev_rec_reason,:class => "form-control",:value =>prev_rec_reason_val  %>
				      </div><br/>
				      <span id="msg_reason3"></span>
				    </div>
				  </div>
	        </div>  
	      <% end %>                     
	  		<div id="step-3">
	          <h2 class="StepTitle text-info">Step 3: Assigning Warehouse</h2><br/>
			  <div class="row consignment_warehouse">
				<%= render partial: "consignment_warehouse" %>
			  </div>	               				          
	        </div>
	  	  </div>
		<!-- End SmartWizard Content -->  		
	    </div>
    </div>
    <div class="col-sm-5 col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <strong>ORDER ITEMS</strong>
        </div>
        <div class="panel-body">
          <div class="row text-center text-success borders">
            <div class="col-sm-2 col-xs-12"><strong>Variant</strong></div>
            <div class="col-sm-2 col-xs-12"><strong>Qty</strong></div>
            <div class="col-sm-2 col-xs-12"><strong>Shipping Plan</strong></div>
            <div class="col-sm-6 col-xs-12"><strong>Purchase Cost</strong></div>
          </div><br/>
          <% @order.cart_items.each do |cart_item| %>
            <% @variant = Admin::Variant.find(cart_item.variant_id) %>
            <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
            <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
            <div class="row text-center borders">
              <div class="col-sm-2 col-xs-12"><%= @variant.name %></div>
              <div class="col-sm-2 col-xs-12"><%= cart_item.qty %></div>
              <div class="col-sm-2 col-xs-12">
                <%= @variant.product.shipping_plans.first.name %>
              </div>
              <div class="col-sm-6 col-xs-12">RS. <%= cart_item.price %><br/>
                <span class="text-muted">
                  Selling Price: <%= selling_price %><br/>
                  Shipping Cost: <%= @shipping.cost %><br/>
                  Tax: <%= cart_item.price - (@shipping.cost + selling_price) %></span>
              </div>
            </div><br/>
          <% end %>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="table-header">User Details(<%= @order.user.email %>)</div>
        <div class="panel-body user_details"><br/>
		  
        </div>
      </div>
    </div>
</div>
 <script>
 $(document).ready(function(){

 	var current_stage = parseInt($(".current_stage").text());
    $('#wizard').smartWizard({transitionEffect:'slideleft',onLeaveStep:leaveAStepCallback,selected: current_stage });
      function leaveAStepCallback(obj){
        var step_num= obj.attr('rel');
        return validateSteps(step_num);
      }
      if (current_stage == 2){
	      $(".stepContainer").css("height","300px");
	      $(".stepContainer").css("display","block");
      }
		});
  setTimeout(function() {
 	var url = $(".order_id").text();
    $.ajax({
      url: url,
      data: {},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    });
  }, 1000);
 </script>