<table class="table table-striped">
  <tr><strong>INVOICE</strong></tr>
  <tr>
    <td><strong>Invoice Number</strong></td>
    <td style="margin-left:100px;"><%= @invoice.invoice_number %></td>
  </tr>
  <tr>
    <td><strong>Order Number</strong></td>
    <td><%= @order.order_number %></td>
  </tr>
  <tr>
    <td><strong>Payment Mode</strong></td>
    <td><%= @order.payment_mode %></td>
  </tr>
  <tr>
    <td><strong>Consignment Number</strong></td>
    <td><%= @consignment.consignment_number %></td>
  </tr>
  <tr>
    <td><strong>Consignment Cost</strong></td>
    <td><%= @consignment.consignment_cost %></td>
  </tr>
  <tr>
    <td><strong>Invoice Cost</strong></td>
    <td><%= @consignment.invoice_cost %></td>
  </tr>
  <tr>
    <td><strong>Dispatch From</strong></td>
    <td>
      <% @warehouse.addresses.each do |address| %>
        <%= address.add_line1 %>,<br />
        <%= address.add_line2 %>,
        <%= address.state %>,<br />
        <%= address.country %>-
        <%= address.c_code %>,<br />
        <%= address.phone %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Shipping Address</strong></td>
    <td>
      <%= @order.shipping_address.name %><br/>
      <%= @order.shipping_address.add_line1 %>,
      <%= @order.shipping_address.add_line2 %><br/>
      <%= @order.shipping_address.state %>,
      <%= @order.shipping_address.country %>-
      <%= @order.shipping_address.c_code %><br/>
      <%= @order.shipping_address.pincode %><br/>
      <%= @order.shipping_address.phone %>
    </td>
  </tr>
  <tr>
    <tr>
      <td><strong>ITEM</strong>
      </td>
      <td><strong>QTY</strong>
      </td>
      <td><strong>PRICE</strong>
      </td>
      <td><strong>SUBTOTAL</strong>
      </td>
    </tr>
    <tr>
      <% @consignment.consignment_items.each do |consignment_item|%>
          <% variant = Admin::Variant.find(consignment_item.variant_id)%>
          <% product = Admin::Product.find(variant.product_id) %>
          
            <td><%= variant.name %></td>
            <td><%= consignment_item.qty %></td>
            <td><%= consignment_item.per_qty_price %></td>
            <td><%= consignment_item.price %></td>
          
        <% end %>
    </tr>
  </tr>
</table>