<div class="row">          
	<div class="col-xs-12 col-sm-2 left">
		<%= render partial: "layouts/shared/admin_sidebar" %>
	</div>
	<div class="col-xs-12 col-sm-10">
	  <div class="border"><br/>   
	    <div class="pull-right">     
	    </div>
	    <div class="row">
	      <div class="col-sm-6 col-xs-12">
	        <ol class="breadcrumb">
	          <% if check_link(admin_order_index_path) %>  
	            <li><%= link_to "Orders", admin_order_index_path %></li>
	          <% end %>
	          <% if check_link(admin_order_show_path( @order)) %>
	          <li><%= link_to @order.order_number, admin_order_show_path( @order) %></li>
	          <% end %>
	          <li class="active">Edit Orders</li>
	        </ol>
	      </div> 
	    </div>    
	  </div><br/>                                  
	  <div class="col-sm-8 col-xs-12 order_form">
	    <%= render partial: "order_form" %>
	  </div>   
	  <div class="col-sm-4 col-xs-12 ship_form">
	    <%= render partial: "ship_form" %>
	  </div>     
	</div>                                                          
</div>                      

   