$ = jQuery.noConflict();
$(".profile_show2").html('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/orders/order_index_show")) %>'); 
window.history.pushState('<%= escape_javascript (render(:partial => "#{$client_name}_standard_view/orders/order_index_show")) %>', "Title", "<%= user_orders_path(current_user) %>");


window.onpopstate =  function(event) { 
  $(".profile_show2").html(event.state);
}