<div class = "row"><br />
      <div class="col-sm-12">
        <div class="full_borders">         
          <div class="order_borders text-center">
            <% if @order.cancel.nil? %> 
              Order confirmed
            <% else %> 
              Cancelled Order
            <% end %>
            <% if @order.status == 'up'%>
              <a class="order_cancel pull-right" data-toggle="modal" data-target="#myModal">Cancel</a>
            <% end %>
          </div>         
          <div class="orders_borders">
            <div class="row"><br />
              <div class="col-sm-3 col-xs-3  text-center">
                <%= @order.order_number %><br /><br />
                <%= @order.created_at %><br /><br />
                <%= @order.user.email %><br /><br />                    
              </div>     
              <div class="col-sm-3 col-xs-3 lb1 rb1 text-center"> 
                <p class ="order_border12">Shipping Address</p>
                <%= @order.shipping_address.name %><br />
                <%= @order.shipping_address.add_line1 %><br />
                <%= @order.shipping_address.add_line2 %> - <%= @order.shipping_address.pincode %><br />
                <%= @order.shipping_address.state %> ,<%= @order.shipping_address.country %>
                <%= @order.shipping_address.c_code %><br />
                <%= @order.shipping_address.phone %><br /><br />                   
              </div>                
              <div class="col-sm-6 col-xs-6">
                <div class = "row">
                  <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                      <div class="row borders12">
                        <div class="col-sm-8">
                          PayMent Type 
                        </div>
                        <div class="col-sm-4">
                          <%= @order.payment_mode %>
                        </div>
                      </div>
                      <div class="row borders12">
                        <div class="col-sm-8">
                          PayMent Status
                        </div>
                        <div class="col-sm-4">
                          <%= @order.payment_status %><br />
                        </div>
                      </div>
                      <div class="row border12">
                        <div class="col-sm-8">
                          Order Type
                        </div>
                        <div class="col-sm-4">
                          <%= @order.status %>
                        </div>
                      </div>
                      <div class = "row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-5 col-xs-6 order_border12 ">
                          Total Cost - <%= @order.order_cost %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                   
              </div>     
            </div>          
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content border modal_window_increase_width">
          <div class="modal-header padbottom46">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">CANCEL ORDER NO. <span class="order_no_val"><%= @order.order_number %></span></h4><br />
            <h6 class="modal-title pull-left">PLACE ON <%= @order.created_at %></h5>
            <h6 class="modal-title pull-right">TOTAL:<span class="order_cost_val"> RS <%= @order.order_cost %></span></h5> 
          </div>
          <div class="modal-body">
            <% if @order.payment_mode == "COD" %>
              <%= form_for @order, :url => user_order_path(@order.user_id, @order),:html => {:id => 'order_update_form12',:class => "idealforms" } do |f| %>  
                <%= f.hidden_field :user_order_cancel, :value => "qwe" %>           
                  <div class="field">
                    <%= f.label :cancel,"REASON FOR CANCELLATION *"  %>
                    <%= f.text_field :cancel,:class => "form-control" %>
                    <span id="order_update_cancel_error" class="error_list" style="display:none;"></span>
                  </div><br />
                  <div class="field">
                    <%= f.label :remarks, "REMARKS NOTES *" %>
                    <%= f.text_area :remarks, :class => "form-control" %>   
                    <span id="order_update_remarks_error" class="error_list" style="display:none;"></span>        
                  </div><br />
                  <% if @order.check_user_cancel_order_status %>
                    <div class="actions">
                      <div class="col-sm-3"><%= f.submit "Cancel Order", :class => "btn btn-primary" %></div>
                    </div>
                  <% else %>
                    <h6 class="modal-title" style="color:#FF0606;font-weight:bold;">You Can't Cancel This Order Because Warehouse Assigned If You Need To Cancel Means Contact Our Customer Support 8056436326</h5>
                  <% end %>
              <% end %>
            <% else %>
            <div class="content">
            <div class="idealsteps-container">
            <nav class="idealsteps-nav"></nav>
            <%= form_for @order, :url => user_order_path(@order.user_id, @order),:html => {:id => 'order_update_form12',:class => "idealforms" } do |f| %> 
            
              <div class="idealsteps-wrap"> 

              <!-- Step 1 -->

              <section class="idealsteps-step">
              <%= f.hidden_field :user_order_cancel, :value => "qwe" %>           
              <div class="field">
                <%= f.label :cancel,"REASON FOR CANCELLATION *" %>
                <%= f.text_field :cancel,:class => "form-control" %>
                <span id="order_update_cancel_error" class="error_list" style="display:none;"></span>
              </div><br />
              <div class="field">
                <%= f.label :remarks, "REMARKS NOTES *" %>
                <%= f.text_area :remarks, :class => "form-control" %>   
                <span id="order_update_remarks_error" class="error_list" style="display:none;"></span>        
              </div><br />
              <%= f.fields_for :order_revocations do |builder| %>
                <div class="field">
                  <%= builder.hidden_field :bank_account_id,:class => "org_bank_account_id" %>
                  <%= builder.hidden_field :revocation_cost,:value => @order.order_cost %>
                  <%= builder.label :revocation_mode, "Refund Mode" %>
                  <%= builder.select :revocation_mode, options_for_select(["Vocher", "Cash Back"]),{ :prompt => 'Select' }, :class => "form-control compensate_class" %> 
                  <span id="order_update_remarks_error" class="error_list" style="display:none;"></span>        
                </div><br /> 
              <% end %>
              <div class="field buttons">
              <label class="main">&nbsp;</label>
              <button type="button" class="next">Next &raquo;</button>
              </div>
              </section>

              <!-- Step 2 -->

              <section class="idealsteps-step">   
              <div class="row">
                <div class="col-sm-6 col-xs-12" style="overflow-y: scroll;overflow-x: hidden; width: 50%; height: 335px;">
                  <% @order.user.bank_accounts.each do |bank_account| %>
                    <div class="panel panel-default">
                      <div class="panel-body" >
                        <div class="col-sm-1">
                          <%= check_box("bank_account", bank_account.id,:class => "bank_check_box") %>
                        </div>
                        <div class="col-sm-10 text-center"><strong><%= bank_account.name %></strong></div><br/><br/>
                        <div class="col-sm-5"><strong>Account No.</strong></div><div class="col-sm-7"><%= bank_account.num %></div><br/>
                        <div class="col-sm-5"><strong>IFSC Code</strong></div><div class="col-sm-7"><%= bank_account.ifsc_code %></div><br/>
                        <div class="col-sm-5"><strong>Bank Code</strong></div><div class="col-sm-7"><%= bank_account.bank_code %></div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-sm-6 col-xs-12">
                <%= f.fields_for :bank_accounts do |builder1| %>
                  <div class="field">
                  <%= builder1.label :name, "Name" %>
                  <%= builder1.text_area :name, :class => "form-control" %> 
                  </div> 
                  <div class="field">
                  <%= builder1.label :Number, "Account Number" %>
                  <%= builder1.text_area :num, :class => "form-control" %>
                  </div> 
                  <div class="field">
                  <%= builder1.label :ifsc_code, "Ifsc Code" %>
                  <%= builder1.text_area :ifsc_code, :class => "form-control" %>
                  </div>
                  <div class="field">
                  <%= builder1.label :bank_code, "Bank Code" %>
                  <%= builder1.text_area :bank_code, :class => "form-control" %>
                  </div> 
                <% end %>
                </div>
              </div>
              <div class="field buttons">
              <label class="main">&nbsp;</label>
              <button type="button" class="prev">&laquo; Prev</button>
              <button type="button" class="next">Next &raquo;</button>
              </div>
              </section>

              <!-- Step 3 -->

              <section class="idealsteps-step">
              <div class="cancel_summary">
                
              </div>
              <div class="field buttons">
              <label class="main">&nbsp;</label>
              <button type="button" class="prev">&laquo; Prev</button>
              <div class="col-sm-5"><%= f.submit "Cancel Order", :class => "btn btn-primary btn-xs" %></div>
              </div>
              </section>
              </div>
              <span id="invalid"></span>
            <% end %>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                
              </div>
              <div class="col-sm-2">
              </div>
            </div>
            <% end %>
          </div>
          <div class="modal-footer resize_footer">
            <button type="button" class="btn-xs color" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><br/>
    <div class="fl order-detail-left">
      <p class="txt-up c666 f-bold fs11 pt6 pb6" id="qa-prdct-details-title">Order details
         <span class="delivery-confirm myaccount-sprite">conform</span>
         <span class="delivery-dispatch myaccount-sprite">dispatch</span>
         <span class="delivery-transit myaccount-sprite">in transit</span>
         <span class="delivery-transit ">delivery</span>
      </p>
      <ul class="product-list">
        <% if @order.check_consignment_confirmation %>
          <% @order.consignments.each do |consignment|%> 
            <li style="list-style-type: none;" class="hoverd"><div class=""><strong><%= consignment.consignment_number %></strong></div>
              <div class="fr order-delivery-status ml20">   
                <div class="status-circle-group ml20 mt10 ">
                  <span id="confirmation-1" att="1" class="confirmation status-circle  circle-green" title=""></span>
                  <% if consignment.conform == true %>
                    <span class="status-line line-green"></span>
                  <% else %>
                    <span class="status-line line-red"></span>
                  <% end %>
                  <span id="dispatch-1" att="1" class="dispatch status-circle status-circle1 circle-green"></span>
                  <% if consignment.logistic_id.present? %>
                    <span class="status-line status-line1 line-green"></span>
                  <% else %>
                    <span class="status-line line-red"></span>
                  <% end %>
                  <span id="intransit-1" att="1" class="intransit status-circle  status-circle2 circle-green"></span>
                  <% if consignment.delivery_status == true %>
                    <span class="status-line status-line2 line-green"></span>
                    <span id="delivered-1" att="1" class="delivered status-circle  status-circle3 circle-green"></span>
                  <% else %>
                    <span class="status-line status-line2 line-red"></span>
                    <span id="delivered-1" att="1" class="delivered status-circle  status-circle3 circle-red"></span>
                  <% end %>
                </div>
              </div>
              <% if consignment.check_for_return %>
                <%= link_to 'Return', new_admin_pickup_consignment_path(:consignment_id => consignment.id,:user_panel => current_user.id),:class => "btn btn-default btn-sm text-success",:remote => true %> 
              <% end %>
            </li>
            <% consignment.consignment_items.each do |consignment_item| %>
              <li style="height:130px;list-style-type: none;" class="hoverd">
                <div class="fl">
                  <% @variant = Admin::Variant.find(consignment_item.variant_id) %>
                  <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
                  <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:150px;" %>
                    </div>
                    <div class="col-sm-6">
                      <div class="c999">
                        <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
                      </div><br/>
                      <span class="fl ml10 c999">Quantity      &nbsp</span>
                      <span class="c222 ml5 f-bold fl l-hght10"> <%= consignment_item.qty %></span>
                      <br /><br /><br />
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 pull-right">
                  <span class="f-bold c666 f-bold fs11 pt6 pb6">Rs. <%= consignment_item.price %></span>
                </div>
                <div class="col-sm-2 pull-right">
                  
                </div>
              </li>
            <% end %>
            <li style="height:130px;list-style-type: none;">
              <div clas="row">
                <div class="col-sm-6">
                  <% if consignment.logistic_id.present? %>
                    <div class="row c666 f-bold fs11 pt6 pb6">Logistics:  <span><%= consignment.logistic.name %></span></div>
                    <div class="row c666 f-bold fs11 pt6 pb6">Tracking No: <span><%= consignment.tracking %></span></div>
                  <% end %>
                </div>
                <div class="col-sm-5 ">
                  <div class="row pull-right c666 f-bold fs11 pt6 pb6">
                    <%= consignment.consignment_number %>  
                    <span class="fs14">Total:  <%=consignment.consignment_cost %></span>
                  </div>
                  <div class="row"></div>
                </div>
              </div>
            </li>
            <% if consignment.pickup_consignments.first.present? %>
                <li style="list-style-type: none;" class="hoverd"><div class="text-center text-primary fs14"><strong>PickUp Consignment</strong></div>
                </li>
                <% consignment.pickup_consignments.each do |pickup_consignment| %>
                  <li style="list-style-type: none;height:30px;" class="hoverd">
                  <div class="row text-primary fs14"> <div class="col-sm-5"><strong><%= pickup_consignment.pickup_consignment_number %></strong></div> <div class="col-sm-5"><strong>Total : <%= pickup_consignment.consignment_cost %></strong></div></div>
                  </li>
                  <% pickup_consignment.pickup_consignment_items.each do |pickup_consignment_item| %>
                  <li style="height:130px;list-style-type: none;" class="hoverd">
                    <div class="fl">
                      <% @variant = Admin::Variant.find(pickup_consignment_item.variant_id) %>
                      <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
                      <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                      <div class="col-sm-12">
                        <div class="col-sm-4">
                          <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:150px;" %>
                        </div>
                        <div class="col-sm-6">
                          <div class="c999">
                            <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
                          </div>
                          <span class="fl ml10 c999">Quantity   -   </span>
                          <span class="c222 ml5 f-bold fl l-hght10"> <%= pickup_consignment_item.qty %></span>
                          <br /><br /><br />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5 pull-right">
                      <span class="f-bold c666 f-bold fs11 pt6 pb6">Rs. <%= pickup_consignment_item.price %></span>
                    </div>
                  </li> 
                  <% end %>
                <% end %>
              <% end %>
              <% if consignment.refund_revocations.first.present? %>
                <li style="list-style-type: none;" class="hoverd"><div class="text-center text-warning fs14"><strong>Return Revocation</strong></div>
                </li>
                <% consignment.refund_revocations.each do |refund_revocation| %>
                  <li style="list-style-type: none;height:30px;" class="hoverd">
                  <div class="row text-warning fs14"> <div class="col-sm-5"><strong><%= refund_revocation.refund_revocation_number %></strong></div> <div class="col-sm-5"><strong>Total : <%= refund_revocation.revocation_cost %></strong></div></div>
                  </li>
                  <% refund_revocation.refund_revocation_items.each do |refund_revocation_item| %>
                  <li style="height:130px;list-style-type: none;" class="hoverd">
                    <div class="fl">
                      <% @variant = Admin::Variant.find(refund_revocation_item.variant_id) %>
                      <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
                      <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                      <div class="col-sm-12">
                        <div class="col-sm-4">
                          <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:150px;" %>
                        </div>
                        <div class="col-sm-6">
                          <div class="c999">
                            <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
                          </div>
                          <span class="fl ml10 c999">Quantity   -   </span>
                          <span class="c222 ml5 f-bold fl l-hght10"> <%= refund_revocation_item.qty %></span>
                          <br /><br /><br />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5 pull-right">
                      <span class="f-bold c666 f-bold fs11 pt6 pb6">Rs. <%= refund_revocation_item.price %></span>
                    </div>
                  </li> 
                  <% end %>
                <% end %>
              <% end %>
              <% if consignment.replacement_revocations.first.present? %>
                <li style="list-style-type: none;" class="hoverd"><div class="text-center text-info fs14"><strong>Replacement Revocation</strong></div>
                </li>
                <% consignment.replacement_revocations.each do |replacement_revocation| %>
                  <li style="list-style-type: none;height:30px;" class="hoverd">
                  <div class="row text-info fs14"> <div class="col-sm-5"><strong><%= replacement_revocation.replacement_revocation_number %></strong></div> <div class="col-sm-5"><strong>Total : <%= replacement_revocation.revocation_cost %></strong></div><div class="col-sm-2"><% if replacement_revocation.status == "cancel"%><span class="text-danger">CANCELLED</span><% end %></div></div>
                  </li>
                  <% replacement_revocation.replacement_revocation_items.each do |replacement_revocation_item| %>
                  <li style="height:130px;list-style-type: none;" class="hoverd">
                    <div class="fl">
                      <% @variant = Admin::Variant.find(replacement_revocation_item.variant_id) %>
                      <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
                      <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                      <div class="col-sm-12">
                        <div class="col-sm-4">
                          <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:150px;" %>
                        </div>
                        <div class="col-sm-6">
                          <div class="c999">
                            <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
                          </div>
                          <span class="fl ml10 c999">Quantity   -   </span>
                          <span class="c222 ml5 f-bold fl l-hght10"> <%= replacement_revocation_item.qty %></span>
                          <br /><br /><br />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5 pull-right">
                      <span class="f-bold c666 f-bold fs11 pt6 pb6">Rs. <%= replacement_revocation_item.price %></span>
                    </div>
                  </li> 
                  <% end %>
                <% end %>
              <% end %>
          <% end %>

        <% else %>
          <li style="list-style-type: none;" class="hoverd"><div class=""><strong><%= @order.order_number %></strong></div>
              <div class="fr order-delivery-status ml20">   
                <div class="status-circle-group ml20 mt10 ">
                  <span id="confirmation-1" att="1" class="confirmation status-circle  circle-green" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." ></span>
                  <% if @order.pay_val == true && @order.cal_conf == true && @order.prev_rec == true %>
                    <span class="status-line line-green"></span>
                    <span id="dispatch-1" att="1" class="dispatch status-circle status-circle1 circle-green"></span>
                  <% else %>
                    <span class="status-line line-red"></span>
                    <span id="dispatch-1" att="1" class="dispatch status-circle status-circle1 circle-red"></span>
                  <% end %>
                  <% if @order.status == "wh" %>
                    <span class="status-line status-line1 line-green"></span>
                    <span id="intransit-1" att="1" class="intransit status-circle  status-circle2 circle-green"></span>
                  <% else %>
                    <span class="status-line status-line1 line-red"></span>
                    <span id="intransit-1" att="1" class="intransit status-circle  status-circle2 circle-red"></span>
                  <% end %>
                  <% if @order.status == "wh" %>
                    <span class="status-line status-line2 line-green"></span>
                    <span id="delivered-1" att="1" class="delivered status-circle  status-circle3 circle-green"></span>
                  <% else %>
                    <span class="status-line status-line2 line-red"></span>
                    <span id="delivered-1" att="1" class="delivered status-circle  status-circle3 circle-red"></span>
                  <% end %>
                </div>
              </div>
            </li>
          <% @order.order_items.each do |order_item| %>
            <li style="height:130px;list-style-type: none;" class="hoverd">
              <div class="fl">
                <% @variant = Admin::Variant.find(order_item.variant_id) %>
                <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
                <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:150px;" %>
                  </div>
                  <div class="col-sm-8">
                    <div class="c999">
                      <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
                    </div>
                    <span class="fl ml10 c999">Quantity   -   </span>
                    <span class="c222 ml5 f-bold fl l-hght10"> <%= order_item.qty %></span>
                    <br /><br /><br />
                  </div>
                </div>
              </div><br/>
              <div class="col-sm-5 pull-right">
                <span class="f-bold c666 f-bold fs11 pt6 pb6">Rs. <%= order_item.price %></span>
              </div>
            </li>
          <% end %>
        <% end %>
        <% if @deleted_items_id.present? %>
          <li style="list-style-type: none;" class="hoverd"><div class="text-center text-danger fs14"><strong>Cancelled Items</strong></div>
          </li>
          <% @deleted_items_id.each do |deleted_item_id| %>
            <li style="height:130px;list-style-type: none;" class="hoverd">
              <div class="fl">
                <% deleted_item = @order_log.order_item_logs.find_by_variant_id(deleted_item_id) %>
                <% @variant = Admin::Variant.find(deleted_item.variant_id) %>
                <% @shipping = Admin::Product.shipping_cost(@order.shipping_address.pincode, @variant.product, @variant) %>
                <% selling_price = Admin::Inventory.where(:variant_id => @variant.id).order('selling_price DESC').first.selling_price %>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <%= image_tag @variant.images.first.avatar.url,:class => "img-responsive variant_image", :style => "height:100px;width:150px;" %>
                  </div>
                  <div class="col-sm-6">
                    <div class="c999">
                      <span class="f-bold fs14 d-block l-hght14 ml10"><%= @variant.name %></span>
                    </div>
                    <span class="fl ml10 c999">Quantity   -   </span>
                    <span class="c222 ml5 f-bold fl l-hght10"> <%= deleted_item.qty %></span>
                    <br /><br /><br />
                  </div>
                </div>
              </div>
              <div class="col-sm-5 pull-right">
                <span class="f-bold c666 f-bold fs11 pt6 pb6">Rs. <%= deleted_item.price %></span>
              </div>
            </li> 
          <% end %>
        <% end %>
      </ul>
    </div><br/>




    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border modal_window_increase_width support_consignment_cancel">
      
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="popover"]').popover({
    trigger: "hover"
  });
})
</script>