<%= form_for(@admin_resend_task) do |f| %>
  <% if @admin_resend_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_resend_task.errors.count, "error") %> prohibited this admin_resend_task from being saved:</h2>

      <ul>
      <% @admin_resend_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_number %><br>
    <%= f.text_field :task_number %>
  </div>
  <div class="field">
    <%= f.label :warehouse_id %><br>
    <%= f.number_field :warehouse_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
