<div class=" panel-heading"> 
  <div class="row">
    <div class="col-sm-2 col-xs-2 text-info bold">Consignment Number</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Created At</div>
    <div class="col-sm-1 col-xs-1 text-info bold">Confirmation</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Shipping Company</div>
    <div class="col-sm-2 col-xs-2 text-info bold">Tracking Number</div>
    <div class="col-sm-2 col-xs-2 text-info bold">
      Delivery Status
    </div>
    <div class="col-sm-1 col-xs-1 text-info bold"></div>
  </div>
</div>
<div class="panel-body top_space">
  <% @admin_resend_task.consignments.each do |consignment| %>
    <div class="row hoverd">
      <div class="col-sm-2 col-xs-2">
        <%= link_to consignment.consignment_number, admin_warehouse_dashboard_resend_task_consignment_show_path(@warehouse,@admin_resend_task,consignment),:remote => true %>&nbsp &nbsp  (<%= consignment.consignment_cost %>)
      </div>
      <div class="col-sm-2 col-xs-2">
        <%= consignment.created_at %>
      </div>
      <div class="col-sm-1 col-xs-1">
        <% if consignment.conform == true %>
          <span class = "text-success glyphicon glyphicon-ok"></span>
        <% else %>
          <%= link_to '', admin_warehouse_dashboard_package_task_task_consignment_show_path(@warehouse,@admin_resend_task,consignment),:class => "text-danger glyphicon glyphicon-remove" %>
        <% end %>
      </div>
      <%= form_for(consignment ,:url => admin_warehouse_dashboard_consignment_path(@warehouse, consignment),:html => {:class => 'package_task_dispatch'},:remote => true) do |f| %>
        <div class="col-sm-2 col-xs-2">
          <% if consignment.conform == true %>
            <%= f.collection_select :logistic_id, Admin::Logistic.all, :id, :name,{ :prompt => "Select Logistic" },:class => "form-control edit_admin_logistics_#{consignment.id}" %>
            <span id="edit_admin_logistics_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
          <% else %>
            <%= f.collection_select :logistic_id, Admin::Logistic.all, :id, :name,{ :prompt => "Select Logistic" },:class => "form-control edit_admin_logistics_#{consignment.id}" , :disabled => "disabled" %>
            <span id="edit_admin_logistics_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-1">
          <%= f.text_field :tracking,:class => "form-control edit_admin_tracking_#{consignment.id}",:type => "text", :disabled => !consignment.conform %>
          <span id="edit_admin_tracking_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
        </div>
        <div class="col-sm-2 col-xs-2">
              <%= f.radio_button :delivery_status, 'true',:class => "edit_admin_delivery_true_#{consignment.id}",:disabled => !consignment.check_for_delivery_status_visibility %>&nbsp&nbsp&nbsp<strong>Delivered</strong><br/>
              <%= f.date_field :delivery_date,:class => "form-control edit_admin_delivery_date_#{consignment.id}",:style => "width:107%;display:none;" %>
              <span id="edit_admin_delivery_date_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>

            <%= f.radio_button :delivery_status, 'false',:disabled => !consignment.check_for_delivery_status_visibility,:class => "edit_admin_delivery_false_#{consignment.id}" %>

            &nbsp&nbsp&nbsp<strong>Failed</strong><br/>
            <%= f.text_field :reason,:class => "form-control edit_admin_delivery_reason_#{consignment.id}",:style => "width:150%;display:none;" %>
            <span id="edit_admin_delivery_reason_error_<%= consignment.id %>" class="error_list" style="display:none;"></span><br/>
        </div>
        <div class="col-sm-1 col-xs-2">
          <%= f.submit "UPDATE",:disabled => !consignment.conform ,:class => "btn btn-primary btn-xs"%>
        </div>
      <% end %>
    </div>          
  <% end %>
</div>