<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <i class="ace-icon fa fa-ticket"></i>
    <li class="active">Resend Tasks</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
  </div>
  <!-- button panel end --> 
 
</div>

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div><br/>
<!-- flash end -->

<div class="col-sm-12 col-xs-12">
  <div class="searchable_content2">
    <br />
     <% if @admin_resend_tasks.first.present? %>
          <div class="panel panel-default">
            <div class=" panel-heading">
              <div class="row ">
                <div class="col-sm-12 col-xs-12">
                  <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-2 col-xs-2 text-info bold">
                      Task Number                                           
                    </div>
                    <div class="col-sm-10">                         
                      <div class="col-sm-2 col-xs-2 text-info bold">Consignment Number</div>
                      <div class="col-sm-2 col-xs-2 text-info bold">Order Number</div>
                      <div class="col-sm-2 col-xs-2 text-info bold">Created_At</div>
                      <div class="col-sm-1 col-xs-1 text-info bold">Confirmed</div>
                      <div class="col-sm-1 col-xs-1 text-info bold">Dispatched</div>
                      <div class="col-sm-1 col-xs-1 text-info bold">Delivery Status</div>
                      <div class="col-sm-1 col-xs-1 text-info bold">Bussiness Status</div>
                      <div class="col-sm-2 col-xs-1 text-info bold">Delete</div>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body top_space">
              <% @admin_resend_tasks.each do |admin_resend_task|  %>
                <div class="row borders12">
                  <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-xs-12 orders_borders ">
                      <div class="col-sm-2">
                        <%= link_to admin_resend_task.task_number, admin_warehouse_dashboard_resend_task_path(@warehouse,admin_resend_task),:remote => true %>                          
                      </div>
                      <div class="col-sm-10 rb1">
                        <% admin_resend_task.consignments.each do|consignment|%>
                          <div class="row borders12">  
                          <div class="col-sm-2 col-xs-2">
                            <%= link_to consignment.consignment_number, admin_warehouse_dashboard_resend_task_consignment_show_path(@warehouse,admin_resend_task,consignment),:remote => true  %><br />( Rs. - <%= consignment.consignment_cost %> )
                          </div>
                          <div class="col-sm-2 col-xs-2">
                            <%= consignment.order.order_number %>
                          </div>
                          <div class="col-sm-2 col-xs-2">
                            <%= consignment.created_at %>
                          </div>              
                          <div class="col-sm-1 col-xs-1">
                            <% if consignment.conform == true %>
                              <span class = "glyphicon glyphicon-ok color_green"></span>
                            <% else %>
                              <span class = "glyphicon glyphicon-play-circle "></span>
                            <% end %>
                          </div> 
                          <div class="col-sm-1 col-xs-1">
                            <% if consignment.check_for_delivery_status_visibility == true %>
                              <span class = "glyphicon glyphicon-ok color_green"></span>
                            <% else %>
                              <span class = "glyphicon glyphicon-play-circle "></span>
                            <% end %>
                          </div> 
                          <div class="col-sm-1 col-xs-1">
                            <% if consignment.delivery_status == true %>
                              <span class = "glyphicon glyphicon-ok color_green"></span>
                            <% elsif consignment.delivery_status == false %>
                              <span class = "glyphicon glyphicon-remove color_red" data-toggle="tooltip" data-placement="left" title="<%= consignment.reason %>"></span>
                            <% else %>
                              <span class = "glyphicon glyphicon-play-circle "></span>
                            <% end %>
                          </div> 
                          <div class="col-sm-1 col-xs-1">
                            <% if consignment.resend_tasks.present? %>
                              <span class = "glyphicon glyphicon-ok color_green"></span>
                            <% else %>
                              <span class = "glyphicon glyphicon-play-circle "></span>
                            <% end %>
                          </div>
                          <div class="col-sm-2 col-xs-1">
                            
                          </div>          
                        </div>                  
                        <% end %>   
                      </div>
                    </div>
                  </div>
                </div>              
              <% end %>
            </div>
          </div>
        <% else %>
           <div class="row text-center"><strong>Sorry No Tasks To Display</strong></div>
        <% end %>
  </div> 
</div>





<script>
$(document).ready(function(){
  $('.qwer').click(function(){
    var a = $(".hide_form").count();
  })
  var a = $(".for_hide").html();
  for(i=0;i<a-1;i++){
    $(".field" + i).hide();
  }
  var b = $(".for_count").html();
  b=b-1
  $(".fieldqw" + b).hide();
  $('#search_form_for1').on('click', '.remove_fields', function(event) {
    var to_remove = $(this).closest('#fieldqw').attr('class').replace("qw","");
    $("." + to_remove).remove();
    $(this).closest('#fieldqw').remove();
    $('#search_form_for1').submit();
    return event.preventDefault();
  });

  $('.search_text_box').keypress(function(event){
    var code = e.keyCode || e.which;
    if(code == 13) {
      $('.search_submit_button').click();
    }
  });

});
</script>