<%= render partial: "layouts/shared/flash_msg" %>  
<div class="border"><br/>
  <div class="pull-right">
    <button class="print-link1 btn btn-primary" onclick="PrintElem1('#ele3')"> Print </button> 
    <%= link_to ' Delete', delete_admin_warehouse_dashboard_resend_task_path(@warehouse,@admin_resend_task), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger gly",:remote => true %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <ol class="breadcrumb">
        <li><%= link_to "Resend Tasks", admin_warehouse_dashboard_resend_tasks_path(@warehouse),:remote => true %></li>
        <li class="active"><%= @admin_resend_task.task_number %></li>
      </ol>
    </div>
  </div>
</div><br/>
<div class="panel panel-default load_package_tasks">
  <%= render "load_resend_task_show" %>
</div>
<div class="print_hide">
  <div class="print_task" id ="ele3">   
    <div class="col-sm-12 text-info bold">Task Number   -   <%= @admin_resend_task.task_number %></div>
    <br /><br />
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td class = "text-info bold">S_Number</td>
            <td  class = "text-info bold">Consignment_Number</td>
            <td  class = "text-info bold">Order_Number</td>
            <td  class = "text-info bold">Confirmed</td>
            <td  class = "text-info bold">Packed</td>
            <td  class = "text-info bold">Logistic</td>
            <td  class = "text-info bold">Tracking_No</td>
            <td  class = "text-info bold">Delivery Status</td>
          </tr>
        </thead>
        <tbody>
        <% a = 1%>
          <% @admin_resend_task.consignments.each do |consignment| %>
            <tr>
              <td><%= a %></td>
              <td><%= consignment.consignment_number %></td>
              <td><%= consignment.order.order_number %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% a+=1 %>         
          <% end %>
        </tbody>
      </table>
    </div>      
  </div>
</div>
  

   

<script type="text/javascript">

    function PrintElem1(elem)
    {
        $(".print_hide").hide();
        Popup($(elem).html());
    }

    function Popup(data) 
    {
        $(".print_hide").hide();
        var mywindow = window.open('', 'my div', 'height=800,width=1200');
        mywindow.document.write('<html><head><title>my div</title>');
        //mywindow.document.write('<link rel="stylesheet" href="boostrap.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>
