<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">CREATE NEW TAX PLAN</h4>
</div>
<!-- modal header end -->

<!-- form start -->
<%= form_for(@admin_tax_plan,:remote => true) do |f| %>
  <div class="modal-body category_modal_body">
    <% if @admin_tax_plan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin_tax_plan.errors.count, "error") %> prohibited this admin_tax_plan from being saved:</h2>

        <ul>
        <% @admin_tax_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :name, "Tax Plan Name",:class => "label-color" %>
      </div>
      <div class="col-sm-5 col-xs-6">
        <%= f.text_field :name, :class =>"form-control blue_textbox" %>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :formula, "Based on criteria",:class => "label-color" %>
      </div>
      <div class="col-sm-5 col-xs-6">
        <%= f.select :formula, options_for_select(["VAT", "Inequalities", "Indicies"],"Select Criteria"),{}, :class =>"form-control blue_textbox" %>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="margin-bottom:-11px;">
    <%= f.submit "Add New Tax",:class => "btn btn-sm btn-success" %>
  </div>
<% end %>
<!-- form end -->