<div class="col-sm-12 col-xs-12">
<% country_count = 1 %> 
<% @country_flag = 1%>
  <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
    <% @admin_tax_countries.each do |admin_tax_country| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#faq-1-<%= @country_flag%>" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
            <% if admin_tax_country.tax_states.present? %>
              <i class="pull-right ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
            <% end %>
            <i class="ace-icon fa fa-user bigger-130"></i>&nbsp; 
              <%= admin_tax_country.country.name %>
          </a>
          <%= link_to '   ', admin_tax_plan_tax_country_path(@admin_tax_plan, admin_tax_country) , remote: true , class: "glyphicon glyphicon-wrench   label-color pull-right", "data-toggle" => "tooltip", "data-placement" => "left" ,:title => "Config Price and COD",:style => "margin-top: -26px;margin-right: 45px;" %>
          <%= link_to '', admin_tax_plan_tax_country_path(@admin_tax_plan, admin_tax_country), :class => "glyphicon glyphicon-trash tdnone label-color pull-right", method: :delete, data: { confirm: 'Are you sure?You want to remove the country' },:style => "margin-top: -26px;margin-right: 65px;",:remote => true  %>
        </div>
        <% if admin_tax_country.tax_states.present? %>
        <div class="panel-collapse collapse" id="faq-1-<%= @country_flag %>" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="widget-box widget-color-blue">
              <div class="widget-header">
                <h5 class="widget-title bigger lighter">Tax Package</h5>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                  <ul class="list-unstyled spaced2">
                    <% admin_tax_country.tax_states.each do |admin_tax_state| %>
                      <li><span style="padding-left:10%;">
                        <% if admin_tax_state.status == true %>
                          <i class="ace-icon fa fa-check green"></i>
                        <% else %>
                          <i class="ace-icon fa fa-times text-danger"></i>
                        <% end %>
                        <%= admin_tax_state.state.name %> </span> <span class="label-color pull-right" style="padding-right:10%">
                        <% if admin_tax_state.status == true %>
                         <%= admin_tax_state.tax %>
                        <% else %>
                          tax disabled 
                        <% end %></span>
                      </li>      
                    <% end %>
                  </ul><hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div><% @country_flag += 1 %>
    <% end %>
  </div> 
</div>