<fieldset class="bg-warning center">
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/> 
  <div class="row">
    <div class="col-sm-3 col-xs-12">
	  <%= f.label :country_id, "Country" %><br />
	  <%= f.collection_select :country_id, Admin::Country.all, :id, :name,{:prompt => "Select Country"}, :class =>"form-control question1"  %>
	  <%= f.fields_for :tax_states do |builder| %>
        <%= render 'tax_state_fields', :f => builder %>
      <% end %>
    </div>
  <span id="answer_error1" class="error_list" style="display:none;"></span>
</fieldset><br/>