<fieldset class="bg-warning center">
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/> 
	  <%= f.label :state_id, "State" %><br />
	  <%= f.collection_select :state_id, Admin::State.all, :id, :name,{:prompt => "Select State"}, :class =>"form-control question1"  %>
	  <%= f.fields_for :tax_cities do |builder| %>
        <%= render 'tax_city_fields', :f => builder %>
      <% end %>
  <span id="answer_error1" class="error_list" style="display:none;"></span>
</fieldset><br/>