<fieldset class="bg-warning center">
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/>
	  <%= f.label :city_id, "City" %><br />
	  <%= f.collection_select :city_id, Admin::DistrictCity.all, :id, :name,{:prompt => "Select City"}, :class =>"form-control question1"  %>
	  <%= f.fields_for :tax_values do |builder| %>
        <%= render 'tax_value_fields', :f => builder %>
      <% end %>
  <span id="answer_error1" class="error_list" style="display:none;"></span>
</fieldset><br/>