<fieldset class="bg-warning center">
  <%= f.hidden_field :_destroy,:class => "count_destroy1" %>
  <%= link_to "  ", '#', class: "remove_fields pull-right glyphicon text-warning glyphicon-remove" %>  <br/> 
	  <%= f.label :pincode, "Pincode" %><br />
	  <%= f.collection_select :pincode, Admin::Pincode.all, :id, :pincode,{:prompt => "Select Pincode"}, :class =>"form-control question1"  %>
	  <%= f.label :tax, "Tax" %><br />
	  <%= f.text_field :tax, :class =>"form-control question1"  %>
  <span id="answer_error1" class="error_list" style="display:none;"></span>
</fieldset><br/>