<!-- modal header start -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title label-color" id="myModalLabel">CREATE NEW TAX PLAN</h4>
</div>
<!-- modal header end -->

<!-- form start -->
<%= form_for(@admin_tax_plan,:remote => true) do |f| %>
  <div class="modal-body category_modal_body">
    <% if @admin_tax_plan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin_tax_plan.errors.count, "error") %> prohibited this admin_tax_plan from being saved:</h2>

        <ul>
        <% @admin_tax_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :name, "Tax Plan Name",:class => "label-color" %>
      </div>
      <div class="col-sm-5 col-xs-6">
        <%= f.text_field :name, :class =>"form-control blue_textbox" %>
      </div>
      <div class="col-sm-4 col-xs-12">
           <span id="admin_tax_plan_name_error" class="error_list" style="display:none;"></span>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :formula, "Based on criteria",:class => "label-color" %>
      </div>
      <div class="col-sm-5 col-xs-6">
        <%= f.select :formula, options_for_select(["VAT", "Inequalities", "Indicies"],"Select Criteria"),{}, :class =>"form-control blue_textbox" %>
      </div>
      <div class="col-sm-4 col-xs-12">
           <span id="admin_tax_plan_formula_error" class="error_list" style="display:none;"></span>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :all_country, "All country",:class => "label-color" %>
      </div>
      <div class="col-sm-2 col-xs-2">
         <span class="block input-icon input-icon-right" style ="margin-left: 14px;margin-left: 14px;padding-bottom: 0px;margin-bottom: -33px;">
          <label>
            <%= f.check_box :all_country,:class=>"ace ace-switch ace-switch-4 checkboxs10" %>
            <span class="lbl labelonoff"></span>
          </label>
        </span>
      </div>
    </div><br/>
    <div class="row all_country_box">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :all_country_tax, "All country tax",:class => "label-color" %>
      </div>
      <div class="col-sm-5 col-xs-6">
      <%= f.text_field :all_country_tax, :class =>"form-control blue_textbox all_country_tax_val",:placeholder => "all country tax"  %>
       </div>
       <div class="col-sm-4 col-xs-12">
           <span id="admin_tax_plan_all_country_tax_error" class="error_list" style="display:none;"></span>
      </div>
    </div><br/>
    <div class="row rest_of_the_country_box">
      <div class="col-sm-3 col-xs-6">
        <%= f.label :rest_of_the_country_tax, "Rest of the country tax",:class => "label-color" %>
      </div>
      <div class="col-sm-5 col-xs-6">
      <%= f.text_field :rest_of_the_country_tax, :class =>"form-control blue_textbox rest_of_the_country_val",:placeholder => "rest of the country tax"  %>
       </div>
       <div class="col-sm-4 col-xs-12">
           <span id="admin_tax_plan_rest_of_the_country_tax_error" class="error_list" style="display:none;"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="margin-bottom:-11px;">
    <%= f.submit "Update Tax",:class => "btn btn-sm btn-success" %>
  </div>
<% end %>
<!-- form end -->
<% if @admin_tax_plan.all_country %>
  <script>
     $(".rest_of_the_country_box").hide();
  </script>
<% else %>
  <script>
     $(".all_country_box").hide();
  </script>
<% end %>

<script>
$(".edit_admin_tax_plan").submit(function(){
   var a=1; 
   var plan_name = $("#admin_tax_plan_name").val();
   var plan_formula = $("#admin_tax_plan_formula").val();
   var all_country_tax = $("#admin_tax_plan_all_country_tax").val();
   var rest_of_the_country_tax = $("#admin_tax_plan_rest_of_the_country_tax").val();
   $("#admin_tax_plan_rest_of_the_country_tax_error").css("display","none");
   $("#admin_tax_plan_all_country_tax_error").css("display","none");
   $("#admin_tax_plan_formula_error").css("display","none");
   $("#admin_tax_plan_name_error").css("display","none");
   if(plan_name == ""){
     $("#admin_tax_plan_name_error").css("display","block");
     $("#admin_tax_plan_name_error").html("Required field");
     a = 0;
   }
   if(plan_formula == ""){
     $("#admin_tax_plan_formula_error").css("display","block");
     $("#admin_tax_plan_formula_error").html("Required field");
     a = 0;
   }
   if($("#admin_tax_plan_all_country").is(':checked')){
     if(all_country_tax == ""){
         $("#admin_tax_plan_all_country_tax_error").css("display","block");
         $("#admin_tax_plan_all_country_tax_error").html("Required field");
         a = 0;
     }
   }
   else{
     if(rest_of_the_country_tax == ""){
        $("#admin_tax_plan_rest_of_the_country_tax_error").css("display","block");
        $("#admin_tax_plan_rest_of_the_country_tax_error").html("Required field")
        a = 0;
     }
   }
   if(a==1){
     return true;
   }
   else{
     return false;
   }
});

$(".checkboxs10").click(function(){ 
   if($(this).is(':checked')){
     $(".all_country_box").show();
     $(".rest_of_the_country_box").hide();
     $(".rest_of_the_country_val").val(0);
   }
   else{
     $(".all_country_box").hide();
     $(".rest_of_the_country_box").show();
     $(".all_country_tax_val").val(0);
   }
 });
</script>