<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li class="active"><i class="ace-icon fa fa-money"></i>&nbsp;&nbsp;Tax Plans</li>
  </ul><!-- breadcrumb end -->

  <!-- button panel start -->
  <div class="pull-right">
    <%= link_to 'Add New Tax', new_admin_tax_plan_path , :class => "btn btn-sm btn-success",:remote => true %>
  </div>
  <!-- button panel end --> 
 
</div><br/>

<div class="page-content">

<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->
  <div class = "row">
    <div class="col-sm-12 col-xs-12">
      <div class="searchable_content1">
        <% if @admin_tax_plans.present? %>
          <div class="table-header bigger lighter cursive-font">
            TAX PLAN LIST
          </div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div class="table-responsive">
            <table id="tax_plans_table" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Formula</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @admin_tax_plans.each do |admin_tax_plan| %>
                <tr>
                  <td>
                   <%= admin_tax_plan.name %>
                  </td>
                  <td>
                    <%= admin_tax_plan.formula %>
                  </td>
                  <td>
                    <%= link_to '', admin_tax_plan,:class => "markthis for_page_load glyphicon glyphicon-eye-open show_button_color",:remote => true %>
                    <%= link_to '', edit_admin_tax_plan_path(admin_tax_plan),:class => "markthis glyphicon glyphicon-pencil edit_button_color",:remote => true %>
                    <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130"></i>'.html_safe, admin_tax_plan, method: :delete, data: { confirm: 'Are you sure?' },:class => "markthis delete_button_color",:remote => true  %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
          </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>


<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="width: 100%;margin-left: 0%;">
      
    </div>
  </div>
</div>
<!-- Modal Window End-->


<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#tax_plans_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>

