<div class="breadcrumbs" id="breadcrumbs">

  <!-- breadcrumb start -->
  <ul class="breadcrumb">
    <li><i class="ace-icon fa fa-money home-icon"></i>&nbsp;&nbsp;<%= link_to "Tax", admin_tax_plans_path,:remote => true %></li>
    <li class="active"><%= @admin_tax_plan.name %></li>
  </ul><!-- breadcrumb end -->
 
  <!-- button panel start -->
  <div class="pull-right">
    <% if @admin_tax_plan.all_country != true %>
    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal8">
      Add a country
    </button>
   <% end %>
  </div>
  <!-- button panel end --> 
 
</div><br/>
<div class="page-content">
<!-- flash start --> 
<div class="flash_message_panel" >
  <%= render partial: "layouts/shared/flash_msg" %> 
</div>
<!-- flash end -->

  <!-- Tax Countries Start-->
  <div class="col-xs-12 col-sm-12">
  	<div class="row">
  	    <div class="list_tax_cities">
      		<div class="col-sm-12 col-xs-12">
            <% country_count = 1 %> 
            <% @country_flag = 1%>
              <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                <% @admin_tax_countries.each do |admin_tax_country| %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a href="#faq-1-<%= @country_flag%>" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
                        <% if admin_tax_country.tax_states.present? %>
                          <i class="pull-right ace-icon fa fa-chevron-left" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>
                        <% end %>
                        <i class="ace-icon fa fa-user bigger-130"></i>&nbsp; 
                          <%= admin_tax_country.country.name %>
                      </a>

                        <%= link_to '   ', admin_tax_plan_tax_country_path(@admin_tax_plan, admin_tax_country) , remote: true , class: "glyphicon glyphicon-wrench   label-color pull-right", "data-toggle" => "tooltip", "data-placement" => "left" ,:title => "Config Price and COD",:style => "margin-top: -26px;margin-right: 45px;" %>
                        <%= link_to '', admin_tax_plan_tax_country_path(@admin_tax_plan, admin_tax_country), :class => "glyphicon glyphicon-trash tdnone label-color pull-right", method: :delete, data: { confirm: 'Are you sure?You want to remove the country' },:style => "margin-top: -26px;margin-right: 65px;",:remote => true   %>
                    </div>
                    <% if admin_tax_country.tax_states.present? %>
                    <div class="panel-collapse collapse" id="faq-1-<%= @country_flag %>" aria-expanded="false" style="height: 0px;">
                      <div class="panel-body">
                        <div class="widget-box widget-color-blue">
                          <div class="widget-header">
                            <h5 class="widget-title bigger lighter">Tax Package</h5>
                          </div>
                          <div class="widget-body">
                            <div class="widget-main">
                              <ul class="list-unstyled spaced2">
                                <% admin_tax_country.tax_states.each do |admin_tax_state| %>
                                  <li><span style="padding-left:10%;">
                                    <% if admin_tax_state.status == true %>
                                      <i class="ace-icon fa fa-check green"></i>
                                    <% else %>
                                      <i class="ace-icon fa fa-times text-danger"></i>
                                    <% end %>
                                    <%= admin_tax_state.state.name %> </span> <span class="label-color pull-right" style="padding-right:10%">
                                    <% if admin_tax_state.status == true %>
                                     <%= admin_tax_state.tax %>
                                    <% else %>
                                      tax disabled 
                                    <% end %></span>
                                  </li>      
                                <% end %>
                              </ul><hr>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div><% @country_flag += 1 %>
                <% end %>
              </div> 
            </div> 
    		</div>
      </div>
  </div>  
</div>
  <!-- Tax Countries end -->


<!-- Modal Window Start-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content myModal8_id" style="width: 140%;margin-left: -20%;">
    <!-- modal header start -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title label-color" id="myModalLabel">CREATE NEW COUNTRY</h4>
      </div>
      <!-- modal header end -->
      <%= form_for(@admin_tax_country, :url => admin_tax_plan_tax_countries_path(@admin_tax_plan),:remote => true ,:html => {:id => 'tax_plan_form' }) do |f| %>
        <div class="modal-body category_modal_body">
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              <%= f.label :country_id, "Country" %>
            </div>
            <div class="col-sm-6 col-xs-12">
              <%= f.collection_select :country_id, @filter_countries_results , :id, :name,{:prompt => "Select Country"}, :class =>"form-control shipping_country1"  %>
              <span id="tax_country1" class="error_list" style="display:none;"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add Country", :class => "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal Window End-->


<div class="modal fade" id="taxplanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Add A Country</h4>
    </div>
    <div class="modal-body">
    <%= form_for(@admin_tax_country, :url => admin_tax_plan_tax_countries_path(@admin_tax_plan),:remote => true ,:html => {:id => 'tax_plan_form' }) do |f| %>
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <%= f.label :country_id, "Country" %>
        </div>
        <div class="col-sm-6 col-xs-12">
          <%= f.collection_select :country_id, @filter_countries_results , :id, :name,{:prompt => "Select Country"}, :class =>"form-control shipping_country1"  %>
          <span id="tax_country1" class="error_list" style="display:none;"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Add Country", :class => "btn btn-primary"%>
    <% end %>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="taxplanstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="taxplanstate_id" style="width: 140%;margin-left: -20%;">
    </div>
  </div>
</div>