<p id="notice"><%= notice %></p>

<p>
  <strong>Range:</strong>
  <%= @admin_price_range.range %>
</p>

<%= link_to 'Edit', edit_admin_price_range_path(@admin_price_range) %> |
<%= link_to 'Back', admin_price_ranges_path %>
