$('#addinventory').modal('show')
$('#myModalLabel').html("<%= escape_javascript(render 'admin/products/warehouse_inventory_form') %>");

$('#inventory_form21').submit(function() {
     
    var vendor=$("#admin_inventory_vendor_id").val();
    var product=$("#admin_inventory_product_id").val();
    var qty=$("#admin_inventory_qty").val();
    var price=$("#admin_inventory_purchase_price").val();
    var expiry=$("#admin_inventory_expiry_date").val();    
    var a=1;
    var b=1;
    var c=1;
    var d=1;
    var e=1;
    var f=1;
    
    $("#vendor_error1").css("display","block");
    $("#product_error1").css("display","block");
    $("#quantity_error1").css("display","block");
    $("#purchase_error1").css("display","block");
    $("#expirydate_error1").css("display","block");
    $("#warehouse_error1").html("");
    $("#vendor_error1").html("");
    $("#product_error1").html("");
    $("#quantity_error1").html("");
    $("#purchase_error1").html("");
    $("#expirydate_error1").html("");
    
    if(vendor==""){
    $("#vendor_error1").css("display","block");
    $("#vendor_error1").html("Select Vendor");
    b=0;
    } 
    if(product==""){
    $("#product_error1").css("display","block");
    $("#product_error1").html("Select Product");
    c=0;
    } 
    if(qty==""){
    $("#quantity_error1").css("display","block");
    $("#quantity_error1").html("Enter Quantity");
    d=0;
    } 
    if(price==""){
    $("#purchase_error1").css("display","block");
    $("#purchase_error1").html("Enter Purchase Price");
    e=0;
    }
    if(expiry==""){
    $("#expirydate_error1").css("display","block");
    $("#expirydate_error1").html("Enter Expiry Date");
    f=0;
    }  
    if( b==1 && c==1 && d==1 && e==1 && f==1){
    return true;
    }
    else{
    return false;
    }

  });
checklink();