$('#addinventory').modal('show')
$('#myModalLabel').html("<%= escape_javascript(render 'admin/products/regulation_form') %>");

   
  $("#new_regulation_form").submit(function(){
  var reg_qty=$("#admin_regulation_qty").val();
  var reg_reason=$("#admin_regulation_reason").val();
  var reg_note=$("#admin_regulation_note").val();
  $("#qty_error").css("display","block");
  $("#qty_error").html("");
  $("#note_error").css("display","block");
  $("#note_error").html("");
  $("#reason_error").css("display","block");
  $("#reason_error").html("");
  var a=1;
  var b=1;
  var c=1;
  if(reg_qty==""){
    $("#qty_error").css("display","block");
    $("#qty_error").html("Enter The Quantity");
    a=0;
  }
  if(reg_reason==""){
    $("#reason_error").css("display","block");
    $("#reason_error").html("Enter The Reason");
    b=0;
  }
  if(reg_note==""){
    $("#note_error").css("display","block");
    $("#note_error").html("Enter The Note");
    b=0;
  }
  if(a==1 && b==1){
    return true;
  }
  else{
    return false;
  }
  }); 
checklink();