 if($('#flash').length > 0) {
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");  
  $('#addinventory').modal('hide');  
  $('.modal-backdrop').remove();
}
else {
  $('.trace_product_category').html("<%= escape_javascript(render 'admin/products/product_category') %>");
  $('.check_inventory').html("<%= escape_javascript(render 'admin/products/check_inventory') %>");
  $('.list_tax_plan_notice').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('.add_tax_plan_show').hide();  
  $('.list_tax_plan').html("<%= @product.tax_plans.map{|type| type.name }.join(",") %>"); 
  $('#add_ship_plan_show').html('<i class="fa fa-plus-circle"></i>');
}
checklink(); 