 if($('#flash').length > 0) {
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");  
}
else {
  $('.trace_product_category').html("<%= escape_javascript(render 'admin/products/product_category') %>");
  $('.trace_products_view').html("<%= escape_javascript(render 'admin/products/product_category_view') %>");
  $('.check_inventory').html("<%= escape_javascript(render 'admin/products/check_inventory') %>");
  $('.list_cat_notice').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('.add_cat_show').hide();    
  $('#add_ship_plan_show').html('<i class="fa fa-plus-circle"></i>');
}
checklink();