 if($('#flash').length > 0) {
 	alert("hi");
} 
else {
  $('.trace_shipping_plan').html("<%= escape_javascript(render 'admin/products/shipping_plan') %>");
  $('.check_inventory').html("<%= escape_javascript(render 'admin/products/check_inventory') %>");
  $('.list_ship_plan_notice').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('.add_ship_plan_show').hide();  
  $('.list_ship_plan').html("<%= @product.shipping_plans.map{|type| type.name }.join(",") %>");
}
checklink();