//$('#myModal8').modal('show')
//$('.myModal8_id').html("<%= escape_javascript(render 'admin/categories/show') %>");
$('.for_fullscreen1').click();
$('.widget-modal-title').html("<%= @admin_category.name %>");
$('.reload-refresh').replaceWith( '<a class="reload-refresh" data-remote="true" data-action="reload" href="<%= admin_category_path(@admin_category) %>" ><i class="ace-icon fa fa-refresh"></i></a> ' );
$('.widget-body-modal-content').html("<div class='row text-center' style='height:500px;padding-top:10%'><img alt='Loading1' src='/assets/preload.gif' style='border:none !important;'></div>");
//$('.widget-body-modal-content').html("<%= escape_javascript(render 'admin/categories/show') %>"); 
$("#admin_category_selected_tab").val($("ul.cat_tablist li.active").attr('id'));


setTimeout(function(){ 
  $('.widget-body-modal-content').html("<%= escape_javascript(render 'admin/categories/show') %>"); 
 }, 2000);