
$('.for_fullscreen1').click();
$('.widget-modal-title').html("<%= @admin_inventory.variant.name %>");
$('.reload-refresh').replaceWith( '<a class="reload-refresh" data-remote="true" data-action="reload" href="<%= admin_product_variant_inventory_path(@product,@variant,@admin_inventory,:admin_variant => 1) %>" ><i class="ace-icon fa fa-refresh"></i></a> ' );
$('.widget-body-modal-content').html("<div class='row text-center' style='height:500px;padding-top:10%'><img alt='Loading1' src='/assets/preload.gif' style='border:none !important;'></div>");
$("#admin_category_selected_tab").val($("ul.cat_tablist li.active").attr('id'));


setTimeout(function(){ 
  $('.widget-body-modal-content').html("<%= escape_javascript(render 'admin/inventories/variants_show') %>"); 
 }, 2000);