//alert("hi");
var anchors = document.links; 
var i = anchors.length; 
var blocklist_url = $("#blocklist_url").html();
var blocklist_length = <%= @block_lists.length %>
if(blocklist_length > 0){
  while (i--){
    var a = anchors[i];
    var path = a.href; 
    var path1 = a.href; 
    path2 = path1.replace("http://ranees.in","");
    var to_hide = $('a[href="'+path2+'"]')
    $.ajax({
      url: blocklist_url,
      data: {"url" : path },
      type: 'GET',
      dataType:'json',
      success: function(data) {
        <% @block_lists.each do |block_list| %>
          var con_name = "<%= block_list.con_name %>" 
          var met_name = "<%= block_list.met_name %>"
          var flag = 0; 
          var flag1 = 0;
          var pathname = "";
          $.each(data, function(index, element) {
          	if(index == "controller") {
  	          if(element == con_name){
                    flag = 1
  	          }
  	        }
  	        else if(index == "action") { 
                if(element == met_name){
                  flag1 = 1
  		          }
  	        }
  	        else if(index == "path") { 
                path_name = element
  	        }
          });
          if(flag == 1 && flag1 == 1){
            path_name1 = path_name.replace("http://ranees.in","");
            $('a[href="'+path_name1+'"]').closest('.markthis').remove();
            if($(".support_dropdown_markthis li").length < 1){
              $(".support_dropdown_markthis_link").remove();
            }
            if($(".admin_dropdown_markthis li").length < 1){
              $(".admin_dropdown_markthis_link").remove();
            }
          }
  	    <% end %>
      
      },
      error: function(data, event, status, xhr) {
        
      }
    });
  }
}

