jQuery("#captcha").val("");
jQuery(".simple_captcha_refresh_button > a").trigger("click");
jQuery('.captcha_failure_msg').html("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
jQuery('.order_submit_button').prop('disabled', false);
checklink();