
jQuery('.cart_show_page').html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/show") %>'); 
jQuery(".header_load").html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/header_load") %>');
jQuery(".header_cart").html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/cart") %>');
jQuery(".cart_list_summary").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/cart_list") %>');
jQuery('.best_in_place').best_in_place();
jQuery(".qty_error").popover({
  placement:'top'
});
jQuery('.quantity .best_in_place').bind("ajax:success", function(data, status, xhr){ 
	var url = $(this).data('urls');
	var view = $(this).data('view');
	var obj = jQuery.parseJSON( status );
    if(obj.message != '')
    {
      //alert( obj.message );
    }
	return jQuery.ajax({
	  url: '../../' + url,
	  data: {'view':view},
	  type: 'GET',
	  success: function(data, event, status, xhr) {
	  	//return alert(data);
	  },
	  error: function(data, event, status, xhr) {
	  }
  });  
});
checklink();