$( ".load-preload-class" ).fadeOut( "slow", function() {});
<% flash.discard(:notice) %>
<% flash.discard(:error) %>
<% flash.discard(:alert) %>
$('.modal-backdrop').remove();
var old_url1 = window.location.pathname.split('/')[1];  
var old_url2 = window.location.pathname.split('/')[2];
$(".container_content").html("<%= escape_javascript(render :template => @render_file) %>");
var check_same_url = window.location.pathname;
var check_same_url1 = "<%= request.path %>"
if(check_same_url != check_same_url1){
  window.history.pushState("<%= escape_javascript(render :template => @render_file) %>", null, "<%= @render_path %>" );
}
<% if @selected_tab.present? %>  
  $("#<%= @selected_tab %> > a").click();
<% end %>

<% if @current_tab.present? %>  
  var current_tab_val = parseInt("<%= @current_tab_val %>");    
   for(p=1;p <= 3;p++) {  
    alert(".tabfield"+ p);
    $(".tabfield"+ p).click();
  }
  $(".tabfield4").click(); 
<% end %> 
var new_url1 = "<%= request.path.split('/')[1] %>"
var new_url2 = "<%= request.path.split('/')[2] %>"
<% @new_url1 =  request.path.split('/')[1].to_s %>
<% @new_url2 =  request.path.split('/')[2].to_s %>
<% if @new_url1 == "support" %>
  <% @sidebar = 'layouts/shared/admin/support_sidebar' %>
<% elsif @new_url1 == "admin" &&  (@new_url2 == "warehouse_dashboard") %>
  <% @sidebar = 'layouts/shared/admin/warehouse_dashboard_sidebar' %>
<% elsif @new_url1 == "admin" &&  @new_url2 != "warehouse_dashboard" %>
  <% @sidebar = 'layouts/shared/admin/admin_sidebar' %>
<% end %>
if (old_url1 == new_url1){
  if(old_url2 == "warehouse_dashboard" || new_url2 == "warehouse_dashboard"){
    if (old_url2 != new_url2){
      $(".main_header_render").html("<%= escape_javascript(render :partial => 'layouts/shared/admin/admin_header') %>");
      $(".sidebar_render").html("<%= escape_javascript(render :partial => @sidebar) %>");
    }
  }
}
else{
  $(".main_header_render").html("<%= escape_javascript(render :partial => 'layouts/shared/admin/admin_header') %>");
  $(".sidebar_render").html("<%= escape_javascript(render :partial => @sidebar) %>");
}

$('.for_page_load').click(function(){
  $('.page-content').html("<div class='row text-center' style='height:200px;padding-top:20%'><img alt='Loading1' src='/assets/preload.gif' style='border:none !important;'></div>");
  $('.page-content').html("<div class='row text-center' style='height:200px;padding-top:20%'><img alt='Loading1' src='/assets/preload.gif' style='border:none !important;'></div>");
});

$('.admin_sidebar_link').click(function(){
    if($(window).width() < 740 ){
      $(".for_responsive_sidebar").removeClass("display");
    }
    $('.page-content').html("<div class='row text-center' style='height:200px;padding-top:20%'><img alt='Loading1' src='/assets/preload.gif' style='border:none !important;'></div>");
    $('.page-content').html("<div class='row text-center' style='height:200px;padding-top:20%'><img alt='Loading1' src='/assets/preload.gif' style='border:none !important;'></div>");
    $(".admin_sidebar_link").removeClass("open1");
    $(this).addClass("open1");
  });

/* products */

$(".product_question1_tokens").each(function(){
    var el = $(this);
    el.tokenInput(el.data("url"), { 
      crossDomain: false,
      theme: "facebook",
      propertyToSearch: "question",
      prePopulate: el.data("load"),
      preventDuplicates: true,
      tokenLimit: 1,
    });
  });
  var tokenOptions = {
  theme: 'facebook',
  propertyToSearch: "name",
  searchingText: null,
  hintText: null,
  noResultsText: null,
  allowFreeTagging: true,
  searchDelay: 100,
  tokenValue: 'id',
  prePopulate: $('#admin_product_type_tokens').data('load')
  };
  var tokenOptions1 = {
  theme: 'facebook',
  propertyToSearch: "name",
  searchingText: null,
  hintText: null,
  noResultsText: null,
  allowFreeTagging: true,
  searchDelay: 100,
  tokenLimit: 1,
  tokenValue: 'id',
  prePopulate: $('#admin_product_brand_tokens').data('load')
  };
  var tokenOptions2 = {
  theme: 'facebook',
  propertyToSearch: "question",
  searchingText: null,
  hintText: null,
  noResultsText: null,
  allowFreeTagging: true,
  tokenValue: 'id', 
  searchDelay: 100,
  tokenLimit: 1,
  prePopulate: $('.product_question1_tokens').data('load')
  };
  var tokenOptions3 = {
  theme: 'facebook',
  propertyToSearch: "answer",
  searchingText: null,
  hintText: null,
  noResultsText: null,
  allowFreeTagging: true,
  tokenValue: 'id', 
  searchDelay: 100,
  tokenLimit: 1,
  prePopulate: $('.product_answer1_tokens').data('load')
  };
  $("#admin_product_brand_tokens").tokenInput("/admin/brands/new",
    tokenOptions1 );
  $("#admin_product_type_tokens").tokenInput("/admin/types/new",
    tokenOptions );

  $('#new_product').on('click', '.add_fields', function(event) { 
    var app = $(this).html();
    var questionvalue =parseInt($("#questionvalue").text());
    var questionvalue1 = questionvalue + 1;
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    var count =parseInt($("#tagvalue").text());
    var flag =parseInt($("#tagvalue1").text());
    var propertytagvalue =parseInt($("#propertyvalue1").text());
    var count1 = count + 1;
    var flag1 = flag + 1;
    var propertyclass = "add_property" + questionvalue;
    var proquestion1 = "proquestion1" + flag1; 
    var proanswer1 = "proanswer1" + flag1;   
    var barcode = "barcode" + count1;
    var variant = "variant" + count1;
    var meta_title = "meta_title" + count1;
    var meta_desc = "meta_desc" + count1;
    var sku = "sku" + count1;
    var propertyvalue = "propertyvalue" + count1;
    var propertyclass = "propertyclass" + count1;
    var counting =parseInt($("#tagvalue").text());
    var product_variant_meta_title_error = "product_variant_meta_title_error" + count1;
    var product_variant_meta_desc_error = "product_variant_meta_desc_error" + count1;
    var product_variant_barcode_error = "product_variant_barcode_error" + count1;
    var product_variant_sku_error = "product_variant_sku_error" + count1;
    var product_variant_name_error = "product_variant_name_error" + count1; 
    var questions_error1 = "questions_error1" + flag1;
    var answers_error1 = "answers_error1" + flag1;   
    var altquestion = "alt_question" + count1;
    var questionerror = "question_error" + count1;
    var answererror = "answer_error" + count1;
    var citygroup = "city-group" + count1;
    var destroyname = "count_destroys" + count1;
    if(app == "Add Variant"){     
      appclass = "add_variant";      
      $("."+ appclass).append($(this).data('fields').replace(regexp, time).replace("propertyclass1", propertyclass).replace("barcode1", barcode).replace("variant1", variant).replace("meta_title1", meta_title).replace("meta_desc1", meta_desc).replace("sku1", sku).replace("product_variant_name_error1", product_variant_name_error).replace("product_variant_meta_title_error1", product_variant_meta_title_error).replace("product_variant_meta_desc_error1", product_variant_meta_desc_error).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("count_destroys1", destroyname));
      $("#tagvalue").html(count1);
    } 
    else if(app == "Add Properties"){
      propertytagvalue1 = propertytagvalue + 1;
      $("#propertyvalue1").html(propertytagvalue1);
      var question = "question" + propertytagvalue1; 
      var answer = "answer" + propertytagvalue1;
      //alert(propertytagvalue1);
      var answer_error1 = "product_answer_error" + propertytagvalue1;
      var question_error1 = "product_question_error" + propertytagvalue1;  
      $(this).before($(this).data('fields').replace(regexp, time).replace("barcode1", barcode).replace("sku1", sku).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("question1", question).replace("answer1", answer).replace("product_question_error1", question_error1).replace("product_answer_error1", answer_error1).replace("answers_error11", answers_error1).replace("questions_error11", questions_error1)); 
      $(".product_question" + propertytagvalue1 + "_tokens").tokenInput("/admin/product_questions/new",
    tokenOptions2 );
    }
    else{
      $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });
  $('#new_product').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });

  $(".add_tax_plan").click(function(){
    if($(this).children().hasClass("fa-plus-circle")){
      $(this).children().first(":first").removeClass("fa-plus-circle");
      $(this).children().first(":first").addClass("fa-minus-circle");
    }
    else if($(this).children().hasClass("fa-minus-circle")){
      $(this).children().first(":first").removeClass("fa-minus-circle");
      $(this).children().first(":first").addClass("fa-plus-circle");
    }
    $(".add_tax_plan_show").fadeToggle( 700, "swing" );
  });
  $(".add_ship_plan").click(function(){
    if($(this).children().hasClass("fa-plus-circle")){
      $(this).children().first(":first").removeClass("fa-plus-circle");
      $(this).children().first(":first").addClass("fa-minus-circle");
    }
    else if($(this).children().hasClass("fa-minus-circle")){
      $(this).children().first(":first").removeClass("fa-minus-circle");
      $(this).children().first(":first").addClass("fa-plus-circle");
    }
    $(".add_ship_plan_show").fadeToggle( 700, "swing" );
  });
  $(".add_cat").click(function(){
    if($(this).children().hasClass("fa-plus-circle")){
      $(this).children().first(":first").removeClass("fa-plus-circle");
      $(this).children().first(":first").addClass("fa-minus-circle");
    }
    else if($(this).children().hasClass("fa-minus-circle")){
      $(this).children().first(":first").removeClass("fa-minus-circle");
      $(this).children().first(":first").addClass("fa-plus-circle");
    }
    $(".add_cat_show").fadeToggle( 700, "swing" );
  });

  
  $(".variant_property").click(function(){
    $("#" + $(this).attr('id').replace('property','property_show')).fadeToggle( 700, "swing" );
    $( ".variant_property" ).toggleClass( 'glyphicon-chevron-up', 'glyphicon-chevron-down' );
    $( ".variant_property" ).toggleClass( 'glyphicon-chevron-down', 'glyphicon-chevron-up' );
  });
  $(".wh_property").click(function(){
    $("#" + $(this).attr('id').replace('property','property_show')).fadeToggle( 700, "swing" );
    $( ".wh_property" ).toggleClass( 'glyphicon-chevron-up', 'glyphicon-chevron-down' );
    $( ".wh_property" ).toggleClass( 'glyphicon-chevron-down', 'glyphicon-chevron-up' );
  });
  $(".variant_inventory").click(function(){
    $("#" + $(this).attr('id').replace('inventory','inventory_show')).fadeToggle( 700, "swing" );
    substr = $(this).attr('class').split(" ");
    for (i = 0; i < substr.length; ++i) {
      if (substr[i] == "glyphicon-chevron-down"){
        $( ".variant_inventory" ).removeClass( 'glyphicon-chevron-down');
        $( ".variant_inventory" ).addClass('glyphicon-chevron-up' );
      }
      else if (substr[i] == "glyphicon-chevron-up"){
        $( ".country_states_costs" ).removeClass('glyphicon-chevron-up' );
        $( ".country_states_costs" ).addClass( 'glyphicon-chevron-down');
      }
    }   
  });
  $(".variant_inventory_regulation").click(function(){ 
    $("#" + $(this).attr('id').replace('regulation','regulation_show')).fadeToggle( 700, "swing" );
    if($(this).hasClass("glyphicon-chevron-down")){
      $(this).removeClass( 'glyphicon-chevron-down');
      $(this).addClass( 'glyphicon-chevron-up');
    }
    else{
      $(this).removeClass( 'glyphicon-chevron-up');
      $(this).addClass( 'glyphicon-chevron-down');
    }
  });
  $(".assign_warehouse").click(function(){
    $(".assign_warehouse_show").fadeToggle( 700, "swing" );
  });
/* roles */
$("body").css("overflow-y","scroll");
var extract;

$('.invent .best_in_place').bind("ajax:success", function(data, status, xhr){ 
    var url = $(this).data('urls');
    var view = "view"
    return $.ajax({
      url: '../../../../' + url,
      data: {'view':view},
      type: 'GET',
      success: function(data, event, status, xhr) {
        //return alert("hi");
      },
      error: function(data, event, status, xhr) {
        
      }
    }); 
  });

$('.best_in_place').best_in_place();
$("#new_permission").submit(function() {  
  var permission_email=$("#permission_email").val();
  var role = $(".roles_val option:selected").val();
  var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
  $("#email_perror").css("display","block");
  $("#email_perror").html("");
  $("#role_perror").css("display","block");
  $("#role_perror").html("");
  var a=1;
  var b=1;
  if(permission_email==''){
  $("#email_perror").css("display","block");
  $("#email_perror").html("enter your email id");
  a=0;
  }
  else if (!(testEmail.test(permission_email))){
  $("#email_perror").css("display","block");
  $("#email_perror").html("enter a valid email id"); 
  a=0;
  }
  if(role==''){
  $("#role_perror").css("display","block");
  $("#role_perror").html("select the role");
  b=0;
  }
  if(a==1 && b==1){
    return true;
  }
  else{
    return false;
  }
});

$(".products_tab").click(function(){ 
    var url = $(this).data('url');
    var tab_data = $(this).data('content');
    $.ajax({
      url: url,
      data: {'products_tab':tab_data},
      type: 'GET',
      success: function(data, event, status, xhr) {
        
      },
      error: function(data, event, status, xhr) {
        
      }
    });
    $(".products_tab1").removeClass("products_tab");
  });
  
  
$('#general_form').on('click', '.add_fields', function(event) {
    var app = $(this).html();   
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');   
    if(app == "Add Images"){      
      appclass = "add_images";      
      $(this).before($(this).data('fields').replace(regexp, time));       
    }     
    else{
     $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });
   $('#general_form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });
   $('#search_form_for').on('click', '.remove_fields', function(event) {
    $(this).closest('#field').remove()
    return event.preventDefault();
  }); 
  
$('#newrole').on('click', '.add_fields', function(event) {
  var regexp, time;
  time = new Date().getTime();
  regexp = new RegExp($(this).data('id'), 'g');
  var count =parseInt($("#flagvalue").text());
  var count1 = count + 1;
  var methodname = "count_met" + count1
  var classname = "count" + count1;
  var destroyname = "count_destroy" + count1;
  var errorname = "control_error" + count1;
  $("#flagvalue").html(count1);
  $(this).before($(this).data('fields').replace(regexp, time).replace("count1", classname).replace("count_met1", methodname).replace("control_error1", errorname).replace("count_destroy1", destroyname));
  return event.preventDefault();
});



$('#newrole').on('click', '.remove_fields', function(event) {
  $(this).prev('input[type=hidden]').val('1');
  $(this).closest('fieldset').hide();
  return event.preventDefault();
});
$('form').on('click', '.controller_name', function(event) {
  var controller, ids, met_ids;
  ids = $(this).attr('id');
  controller = $(this).val();
  if(controller==''){
    $(".met_field").css("display","none");
  }
  var i =parseInt($("#flagvalue").text());
  check=[];
  for(p=2;p<i;p++){
   if($(".count"+p).val() == controller)
    {
      check.push($(".count_met"+p).val());
    }
  }
  met_ids = ids.replace("con_name", "met_name");
  var urli = $("#urlsd").text();
  return $.ajax({
    url: urli,
    data: {act : controller,check : check},
    type: 'GET',
    success: function(data, event, status, xhr) {
      var data1;
      data1 = extract(data);
      $(".met_field").css("display","block");
      return $("#" + met_ids).html(data1);
    },
    error: function(data, event, status, xhr) {
      //return alert(data);
      $(".met_field").css("display","none");
    }
  });
});

$("#newrole").submit(function() {  
  var rolename=$("#name").val();
  var roledesc=$("#description").val();
  var a=1;
  var b=1;
  var c=1;
  var d=1;
  var i =parseInt($("#flagvalue").text());  
  $("#name_error").css("display","block");
  $("#control_error").css("display","block");
  $("#description_error").css("display","block");
  $("#name_error").html("");
  $("#control_error").html("");
  $("#description_error").html(""); 
  for(p=2;p<=i;p++){
    if($(".count_destroy"+p).val() != 1){
      if($(".count"+p).val() == ''){
        $("#control_error" + p).css("display","block");
        $("#control_error" + p).html("Select the Controller");
        c=0;
      }
      else if($(".count_met"+p).val() == '') {
        $("#control_error" + p).css("display","block");
        $("#control_error" + p).html("Select the Method Name");
        d=0;
      }
      else{
        $("#control_error" + p ).html("");
      }
    }
  }
  if(rolename==''){
  $("#name_error").css("display","block");
  $("#name_error").html("Enter Role Name");
  a=0;
  }
  else if((rolename=='sa')||(rolename=='u')||(rolename=='pr')){
  $("#name_error").css("display","block");
  $("#name_error").html("Don't Have Permission");
  a=0;
  }
  if(roledesc==""){
  $("#description_error").css("display","block");
  $("#description_error").html("Enter Role Description");
  b=0;
  }
  if(a==1 && b==1 && c==1 && d==1){
  return true;
  }
  else{
  return false;
  }
});
extract = function(variable) {
  var key, output;
  output = "<option value=''>Select</option>";
  for (key in variable) {
    window[key] = variable[key];
    output += "<option value=\"" + variable[key] + "\">" + variable[key] + "</option>";
  }
  return output;
};


$("#brand_form1").submit(function() {
  $("#brandname_error1").html("");
  $("#branddesc_error1").html("");
  var a=1;
  var b=1;
  var brandname=$("#brandname").val();
  var branddesc=$("#branddesc").val();
  if(brandname==''){
    $("#brandname_error1").css("display","block");
    $("#brandname_error1").html("Enter Brand Name");
    a=0;
  }
  if(branddesc==''){
    $("#branddesc_error1").css("display","block");
    $("#branddesc_error1").html("Enter Brand Description");
    b=0;
  }
  if(a==1 && b==1 ){
    return true;
  }
  else{
    return false;
  }
});
  
  $("#admin_warehouse_addresses_attributes_0_country").chosen();
  $("#admin_vendor_addresses_attributes_0_country").chosen();
  $("#admin_inventory_warehouse_id").chosen();
  $("#admin_inventory_vendor_id").chosen();
  $("#admin_inventory_product_id").chosen();
  $("#admin_inventory_variant_id").chosen();

 

  $('#brand_form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    var count =parseInt($("#tagvalue").text());
    var count1 = count + 1;
    var doorno = "doorno" + count1;
    var doorerror = "door_error" + count1;
    var city = "city" + count1;
    var cityerror = "city_error" + count1;
    var citygroup = "city-group" + count1;
    var state = "state" + count1;
    var stateerror = "state_error" + count1;
    var stategroup = "state-group" + count1;
    var country = "country" + count1;
    var countryerror = "country_error" + count1;
    var countrygroup = "country-group" + count1;
    var phone = "phone" + count1;
    var phoneerror = "phone_error" + count1;
    var code = "code" + count1;
    var codeerror = "code_error" + count1;
    var pincodegroup = "pincode-group" + count1;
    var destroyname = "count_destroy" + count1;
    $("#tagvalue").html(count1);
    $(this).before($(this).data('fields').replace(regexp, time).replace("country-group1", countrygroup).replace("state-group1", stategroup).replace("city-group1", citygroup).replace("pincode-group1", pincodegroup).replace("phone_error1", phoneerror).replace("state_error1", stateerror).replace("code_error1", codeerror).replace("door_error1", doorerror).replace("state_error1", stateerror).replace("country_error1", countryerror).replace("city_error1", cityerror).replace("doorno1", doorno).replace("city1", city).replace("state1", state).replace("country1", country).replace("phone1", phone).replace("code1", code).replace("count_destroy1", destroyname).replace("count_destroy1", destroyname));
    $("." + country).chosen();
    return event.preventDefault();
  });
  $('#brand_form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });
  $("#brand_form").submit(function() {
    var i =parseInt($("#tagvalue").text());
    var loop =parseInt($("#loopvalue").text());
    var vendorname=$("#vendorname").val();
    var alphaNumeric = /^[0-9]{6,10}$/;
    var alphaNumeric1 = /^[0-9]{10,21}$/;   
    var a=1;
    var b=1;
    var c=1;
    var d=1;
    var e=1;
    var f=1;
    var g=1;
    var h=1;
    var z=1;
    $("#vendorname_error").css("display","block");
    $("#vendorname_error").html("");
    for(p=loop;p<=i;p++){
      var pint = $(".code"+p).val();
      var mobt = $(".phone"+p).val();
      $("#country_error" + p ).html("");
      $("#state_error" + p ).html("");
      $("#city_error" + p ).html("");
      $("#code_error" + p ).html("");
      if($(".count_destroy"+p).val() != 1){
        if($(".country"+p).val() == '') {
          $("#country_error" + p).css("display","block");
          $("#country_error" + p).html("Enter Country Name");
          e=0;
        }
        else if($(".state"+p).val() == '') {
          $("#state_error" + p).css("display","block");
          $("#state_error" + p).html("Enter State Name");
          h=0;
        }
        else if($(".city"+p).val() == '') {
          $("#city_error" + p).css("display","block");
          $("#city_error" + p).html("Enter City Name");
          d=0;
        }
        else if($(".code"+p).val() == '') {
          $("#code_error" + p).css("display","block");
          $("#code_error" + p).html("Enter PinCode");
          f=0;
        }
        if($(".doorno"+p).val() == ''){
          $("#door_error" + p).css("display","block");
          $("#door_error" + p).html("Enter Street Address");
          c=0;
        }
        else
        {
          $("#door_error" + p ).html(""); 
        }
        if($(".phone"+p).val() == '') {
          $("#phone_error" + p).css("display","block");
          $("#phone_error" + p).html("Enter Contact Number");
          g=0;
        }
        else if((!alphaNumeric1.test(mobt))){
          $("#phone_error" + p).css("display","block");
          $("#phone_error" + p).html("Enter The Valid Mobile Number");
          g=0;
        } 
        else{
          $("#phone_error" + p ).html("");
        }        
      }
    }
    if(vendorname==''){
      $("#vendorname_error1").css("display","block");
      $("#vendorname_error1").html("Enter Vendor Name");
      a=0;
    }
    if(a==1 && b==1 && c==1 && d==1 && e==1 && f==1 && g==1 && h==1 ){
      return true;
    }
    else{
      return false;
    } 
  });

$('.order_item_log_child').hide();
$(".log_parent").click(function(){
  clat = $(this).attr('id');
  clat1 = clat.replace('log','item_log');
  $('#' + clat1).toggle();
});
$('.child-cats').hide();
$('.g_child-catss').hide();
$('.child_sort1').hide();
$('.child_sort2').hide();
$('.child_sort3').hide();
$('.child_sort4').hide();
$('.child_sort5').hide();
$('.child_sort6').hide();
$(".sort_pickup_consignment").click(function(){
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();
  });
  $(".sort_child").click(function(){
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle(); 
    clat_icon = $(this).children().attr('class').split(' ');
    if(clat_icon[5] == "fa-plus-circle"){
      $(this).children().removeClass("fa-plus-circle");
      $(this).children().addClass("fa-minus-circle")
    }
    else{
      $(this).children().removeClass("fa-minus-circle");
      $(this).children().addClass("fa-plus-circle");
    }
  });
  
  $(".sort_grand_child1").click(function(){
    $('.child_sort2').hide();
    $('.child_sort3').hide();
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();

  });
  $(".sort_grand_child2").click(function(){
    $('.child_sort1').hide();
    $('.child_sort3').hide();
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();
  });
  $(".sort_grand_child3").click(function(){
    $('.child_sort1').hide();
    $('.child_sort2').hide();
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();
  });



  $(".sort_grand_child4").click(function(){
    $('.child_sort5').hide();
    $('.child_sort6').hide();
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();

  });
  $(".sort_grand_child5").click(function(){
    $('.child_sort4').hide();
    $('.child_sort6').hide();
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();
  });
  $(".sort_grand_child6").click(function(){
    $('.child_sort4').hide();
    $('.child_sort5').hide();
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();
  });


  $(".sort_grand_child").click(function(){
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();
    clat_icon = $(this).children().attr('class').split(' ');
    if(clat_icon[5] == "fa-plus-circle"){
      $(this).children().removeClass("fa-plus-circle");
      $(this).children().addClass("fa-minus-circle")
    }
    else{
      $(this).children().removeClass("fa-minus-circle");
      $(this).children().addClass("fa-plus-circle");
    }
  });
  $(".sort_grand_child_product").click(function(){
    clat = $(this).attr('class').split(' ');
    $(this).hide();
    $('.' + clat[0]).toggle();

  });

  $('#parent-images-cats').sortable({
    handle: '.handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });

  $('#parent-catsss').sortable({
    axis: 'y',
    handle: '.handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });

  $('#parent-cats').sortable({
    axis: 'y',
    handle: '.handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });

  $('.g_child-catss').sortable({
    axis: 'y',
    handle: '.handles11',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });

  $('.child-cats').sortable({
    axis: 'y',
    handle: '.handles',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });


window.onpopstate = function(e) {
  $.get(document.location.href);
}


$( window ).scroll(function() {
  //alert($(".main-content-inner").scrollTop())
  if($("body").scrollTop() > 0){
    if(!$(".btn-scroll-up").hasClass("display")){
      $(".btn-scroll-up").addClass("display");
    }
  }
  else{
    $(".btn-scroll-up").removeClass("display");
  }
});



$(".validate_this_form").submit(function(){ 
    var error = true; 
    $(".validate_this_form :input.validate_this").each(function(){
      if($(this).triggeringfunction()){
        if($(this).attr("data-error") == "exist"){
          error = false;
        }
      }
    });
    if(error){
      $(".form-for-loading").html("<span class='text-muted'>Please wait the varaints is getting uploaded</span>  <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>")
    }
    return error;
  });

  $(".validate_this").blur(function() {
    var current_field_id = $(this).attr("id");
    var validate_presence = true;
    var validate_msg;
    var validate_length = false;
    var validate_min_length_error;
    var validate_ajax = false;
    var validate_ajax_url;
    var validate_ajax_except;


    if($(this).data('validate-presence') == false){
      validate_presence = $(this).data('validate-presence');
    }
    if($(this).data('validate-min-length') || $(this).data('validate-max-length')){
      validate_length = true;
      if($(this).data('validate-min-length')){
        validate_min_length_val = $(this).data('validate-min-length');
      }
      if($(this).data('validate-max-length')){
        validate_max_length_val = $(this).data('validate-max-length');
      }
    }
    if($(this).data('validate-msg')){
      validate_msg = $(this).data('validate-msg');
    }
    else{
      validate_msg = "Should not be nil"
    }
    if($(this).data('validate-ajax-url')){
      validate_ajax_url = $(this).data('validate-ajax-url');
      validate_ajax = true;
    }

    if($(this).data('validate-ajax-except')){
      validate_ajax_except = $(this).data('validate-ajax-except');
    }

    var current_field_success_icon_class = current_field_id + "_success_icon"
    var current_field_error_icon_class = current_field_id + "_error_icon"
    var current_field_form_group_class = "form_group_" + current_field_id
    var current_field_error_class = current_field_id + "_error1" 

    if(validate_presence == true){
      if($(this).val() == ""){
        $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        $(this).removeData("errors");
        $(this).data("errors", "existjfvfvvhvh"); 
      }
      else{
        if(validate_length == true){
          return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          $this = $(this);
          var current_field_val = $(this).val();
          if(validate_ajax){
            $.ajax({
              url: validate_ajax_url,
              data: {'fieldValue': current_field_val,'validate_ajax_except': validate_ajax_except},
              type: 'GET',
              dataType:'json',
              success: function(data) {
                $.each(data, function(index, element) {
                  if (index == "brand_exist"){
                    if(element == false){
                      validate_msg = "name already exist"
                      $this.errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
                    }
                    else{
                      $this.successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
                    }
                  }
                })
              }
            });
          }
          else{
            $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
          }
        }
      }
    }
    else{
      if(validate_length == true){
        return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
      }
    }
  });

  (function( $ ){
    $.fn.validatelenghtfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        var validate_min_length_error = false;
        var validate_max_length_error = false;
        if($(this).data('validate-min-length')){
          if($(this).val().length < $(this).data('validate-min-length')){
            validate_min_length_error = true
          }
          else{
            validate_min_length_error = false
          }
        }
        if($(this).data('validate-max-length')){
          if($(this).val().length > $(this).data('validate-max-length')){
            validate_max_length_error = true
          }
          else{
            validate_max_length_error = false
          }
        }
        if(validate_min_length_error == false && validate_max_length_error == false){
          $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          if(validate_min_length_error == true){
            validate_msg = "Should be atleast " + $(this).data('validate-min-length') + " characters"
          }
          else{
            validate_msg = "Should not exceed " + $(this).data('validate-max-length') + " characters"
          }
          $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        }
        return this;
    }; 
    $.fn.successfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        $(this).removeClass("blue_textbox");
        $("." + current_field_form_group_class).removeClass("has-error");
        $("." + current_field_form_group_class).addClass("has-success");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove();   
        $(this).after('<i class="ace-icon fa fa-check-circle" id ="' + current_field_success_icon_class + '"></i>');
        $("#" + current_field_error_class).html(" "); 
        $(this).removeData("error");
        $(this).attr("data-error","notexist");
        return "notexist";
    }; 
    $.fn.errorfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg) {
        $(this).removeClass("blue_textbox");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove(); 
        $(this).after('<i class="ace-icon fa fa-times-circle" id ="' + current_field_error_icon_class + '"></i>');
        $("." + current_field_form_group_class).removeClass("has-success");
        $("." + current_field_form_group_class).addClass("has-error");
        $("#" + current_field_error_class).html(validate_msg); 
        $(this).removeData("error");
        $(this).attr("data-error","exist");
        return "exist";
    }; 
    $.fn.triggeringfunction = function(){
      //alert($(this).trigger("blur").data("errors"));
      return $(this).trigger("blur");
    };
  })( jQuery );

  

   
    $('.edit_admin_variant').on('click', '.add_fields', function(event) { 
    var app = $(this).html();
    var questionvalue =parseInt($("#questionvalue").text());
    var questionvalue1 = questionvalue + 1;
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    var count =parseInt($("#tagvalue").text());
    var flag =parseInt($("#tagvalue1").text());
    var propertytagvalue =parseInt($("#propertyvalue1").text());
    var count1 = count + 1;
    var flag1 = flag + 1;
    alert(flag1);
    var propertyclass = "add_property" + questionvalue;
    var proquestion1 = "proquestion1" + flag1; 
    var proanswer1 = "proanswer1" + flag1;   
    var barcode = "barcode" + count1;
    var variant = "variant" + count1;
    var meta_title = "meta_title" + count1;
    var meta_desc = "meta_desc" + count1;
    var sku = "sku" + count1;
    var propertyvalue = "propertyvalue" + count1;
    var propertyclass = "propertyclass" + count1;
    var counting =parseInt($("#tagvalue").text());
    var product_variant_meta_title_error = "product_variant_meta_title_error" + count1;
    var product_variant_meta_desc_error = "product_variant_meta_desc_error" + count1;
    var product_variant_barcode_error = "product_variant_barcode_error" + count1;
    var product_variant_sku_error = "product_variant_sku_error" + count1;
    var product_variant_name_error = "product_variant_name_error" + count1; 
    var questions_error1 = "questions_error1" + flag1;
    var answers_error1 = "answers_error1" + flag1;   
    var altquestion = "alt_question" + count1;
    var questionerror = "question_error" + count1;
    var answererror = "answer_error" + count1;
    var citygroup = "city-group" + count1;
    var destroyname = "count_destroys" + count1;
    if(app == "Add Variant"){     
      appclass = "add_variant";      
      $("."+ appclass).append($(this).data('fields').replace(regexp, time).replace("propertyclass1", propertyclass).replace("barcode1", barcode).replace("variant1", variant).replace("meta_title1", meta_title).replace("meta_desc1", meta_desc).replace("sku1", sku).replace("product_variant_name_error1", product_variant_name_error).replace("product_variant_meta_title_error1", product_variant_meta_title_error).replace("product_variant_meta_desc_error1", product_variant_meta_desc_error).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("count_destroys1", destroyname));
      $("#tagvalue").html(count1);
    } 
    else if(app == "Add Properties"){
      propertytagvalue1 = propertytagvalue + 1;
      $("#propertyvalue1").html(propertytagvalue1);
      var question = "question" + propertytagvalue1; 
      var answer = "answer" + propertytagvalue1;
      //alert(propertytagvalue1);
      var answer_error1 = "product_answer_error" + propertytagvalue1;
      var question_error1 = "product_question_error" + propertytagvalue1;  
      $(this).before($(this).data('fields').replace(regexp, time).replace("barcode1", barcode).replace("sku1", sku).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("question1", question).replace("answer1", answer).replace("product_question_error1", question_error1).replace("product_answer_error1", answer_error1).replace("answers_error11", answers_error1).replace("questions_error11", questions_error1)); 
      $(".product_question" + propertytagvalue1 + "_tokens").tokenInput("/admin/product_questions/new",
    tokenOptions2 );
    }
    else{
      $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });

  
  $('.edit_admin_variant').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });

    $('.new_admin_variant').on('click', '.add_fields', function(event) { 
    var app = $(this).html();
    var questionvalue =parseInt($("#questionvalue").text());
    var questionvalue1 = questionvalue + 1;
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    var count =parseInt($("#tagvalue").text());
    var flag =parseInt($("#tagvalue1").text());
    var propertytagvalue =parseInt($("#propertyvalue1").text());
    var count1 = count + 1;
    var flag1 = flag + 1;
    var propertyclass = "add_property" + questionvalue;
    var proquestion1 = "proquestion1" + flag1; 
    var proanswer1 = "proanswer1" + flag1;   
    var barcode = "barcode" + count1;
    var variant = "variant" + count1;
    var meta_title = "meta_title" + count1;
    var meta_desc = "meta_desc" + count1;
    var sku = "sku" + count1;
    var propertyvalue = "propertyvalue" + count1;
    var propertyclass = "propertyclass" + count1;
    var counting =parseInt($("#tagvalue").text());
    var product_variant_meta_title_error = "product_variant_meta_title_error" + count1;
    var product_variant_meta_desc_error = "product_variant_meta_desc_error" + count1;
    var product_variant_barcode_error = "product_variant_barcode_error" + count1;
    var product_variant_sku_error = "product_variant_sku_error" + count1;
    var product_variant_name_error = "product_variant_name_error" + count1; 
    var questions_error1 = "questions_error1" + flag1;
    var answers_error1 = "answers_error1" + flag1;   
    var altquestion = "alt_question" + count1;
    var questionerror = "question_error" + count1;
    var answererror = "answer_error" + count1;
    var citygroup = "city-group" + count1;
    var destroyname = "count_destroys" + count1;
    if(app == "Add Variant"){     
      appclass = "add_variant";      
      $("."+ appclass).append($(this).data('fields').replace(regexp, time).replace("propertyclass1", propertyclass).replace("barcode1", barcode).replace("variant1", variant).replace("meta_title1", meta_title).replace("meta_desc1", meta_desc).replace("sku1", sku).replace("product_variant_name_error1", product_variant_name_error).replace("product_variant_meta_title_error1", product_variant_meta_title_error).replace("product_variant_meta_desc_error1", product_variant_meta_desc_error).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("count_destroys1", destroyname));
      $("#tagvalue").html(count1);
    } 
    else if(app == "Add Properties"){
      propertytagvalue1 = propertytagvalue + 1;
      $("#propertyvalue1").html(propertytagvalue1);
      var question = "question" + propertytagvalue1; 
      var answer = "answer" + propertytagvalue1;
      //alert(propertytagvalue1);
      var answer_error1 = "product_answer_error" + propertytagvalue1;
      var question_error1 = "product_question_error" + propertytagvalue1;  
      $(this).before($(this).data('fields').replace(regexp, time).replace("barcode1", barcode).replace("sku1", sku).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("question1", question).replace("answer1", answer).replace("product_question_error1", question_error1).replace("product_answer_error1", answer_error1).replace("answers_error11", answers_error1).replace("questions_error11", questions_error1)); 
      $(".product_question" + propertytagvalue1 + "_tokens").tokenInput("/admin/product_questions/new",
    tokenOptions2 );
    }
    else{
      $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });
  $('.new_admin_variant').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });