$('#myModal8').modal('show');
$('.myModal8_id').html("<%= escape_javascript(render :template =>  @render_file) %>"); 
$("#admin_category_selected_tab").val($("ul.cat_tablist li.active").attr('id'));
$(".product_question1_tokens").each(function(){
    var el = $(this);
    el.tokenInput(el.data("url"), { 
      crossDomain: false,
      theme: "facebook",
      propertyToSearch: "question",
      prePopulate: el.data("load"),
      preventDuplicates: true,
      tokenLimit: 1,
    });
  });
$(".validate_this_form").submit(function(){ 
    //alert("yes");
    var error = true; 
    $(".validate_this_form :input.validate_this").each(function(){
      if($(this).triggeringfunction()){
        if($(this).attr("data-error") == "exist"){
          error = false;
        }
      }
    });
    return error;
  });

  $(".validate_this").blur(function() {
    var current_field_id = $(this).attr("id");
    var validate_presence = true;
    var validate_msg;
    var validate_length = false;
    var validate_min_length_error;
    var validate_ajax = false;
    var validate_ajax_url;
    var validate_ajax_except;


    if($(this).data('validate-presence') == false){
      validate_presence = $(this).data('validate-presence');
    }
    if($(this).data('validate-min-length') || $(this).data('validate-max-length')){
      validate_length = true;
      if($(this).data('validate-min-length')){
        validate_min_length_val = $(this).data('validate-min-length');
      }
      if($(this).data('validate-max-length')){
        validate_max_length_val = $(this).data('validate-max-length');
      }
    }
    if($(this).data('validate-msg')){
      validate_msg = $(this).data('validate-msg');
    }
    else{
      validate_msg = "Should not be nil"
    }
    if($(this).data('validate-ajax-url')){
      validate_ajax_url = $(this).data('validate-ajax-url');
      validate_ajax = true;
    }

    if($(this).data('validate-ajax-except')){
      validate_ajax_except = $(this).data('validate-ajax-except');
    }

    var current_field_success_icon_class = current_field_id + "_success_icon"
    var current_field_error_icon_class = current_field_id + "_error_icon"
    var current_field_form_group_class = "form_group_" + current_field_id
    var current_field_error_class = current_field_id + "_error1" 

    if(validate_presence == true){
      if($(this).val() == ""){
        $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        $(this).removeData("errors");
        $(this).data("errors", "existjfvfvvhvh"); 
      }
      else{
        if(validate_length == true){
          return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          $this = $(this);
          var current_field_val = $(this).val();
          if(validate_ajax){
            $.ajax({
              url: validate_ajax_url,
              data: {'fieldValue': current_field_val,'validate_ajax_except': validate_ajax_except},
              type: 'GET',
              dataType:'json',
              success: function(data) {
                $.each(data, function(index, element) {
                  if (index == "brand_exist"){
                    if(element == false){
                      validate_msg = "name already exist"
                      $this.errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
                    }
                    else{
                      $this.successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
                    }
                  }
                })
              }
            });
          }
          else{
            $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
          }
        }
      }
    }
    else{
      if(validate_length == true){
        return $(this).validatelenghtfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
      }
    }
  });

  (function( $ ){
    $.fn.validatelenghtfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        var validate_min_length_error = false;
        var validate_max_length_error = false;
        if($(this).data('validate-min-length')){
          if($(this).val().length < $(this).data('validate-min-length')){
            validate_min_length_error = true
          }
          else{
            validate_min_length_error = false
          }
        }
        if($(this).data('validate-max-length')){
          if($(this).val().length > $(this).data('validate-max-length')){
            validate_max_length_error = true
          }
          else{
            validate_max_length_error = false
          }
        }
        if(validate_min_length_error == false && validate_max_length_error == false){
          $(this).successfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class);
        }
        else{
          if(validate_min_length_error == true){
            validate_msg = "Should be atleast " + $(this).data('validate-min-length') + " characters"
          }
          else{
            validate_msg = "Should not exceed " + $(this).data('validate-max-length') + " characters"
          }
          $(this).errorfunction(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg);
        }
        return this;
    }; 
    $.fn.successfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class) {
        $(this).removeClass("blue_textbox");
        $("." + current_field_form_group_class).removeClass("has-error");
        $("." + current_field_form_group_class).addClass("has-success");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove();   
        $(this).after('<i class="ace-icon fa fa-check-circle" id ="' + current_field_success_icon_class + '"></i>');
        $("#" + current_field_error_class).html(" "); 
        $(this).removeData("error");
        $(this).attr("data-error","notexist");
        return "notexist";
    }; 
    $.fn.errorfunction = function(current_field_form_group_class, current_field_error_icon_class, current_field_success_icon_class, current_field_error_class,validate_msg) {
        $(this).removeClass("blue_textbox");
        $("#" + current_field_success_icon_class).remove(); 
        $("#" + current_field_error_icon_class).remove(); 
        $(this).after('<i class="ace-icon fa fa-times-circle" id ="' + current_field_error_icon_class + '"></i>');
        $("." + current_field_form_group_class).removeClass("has-success");
        $("." + current_field_form_group_class).addClass("has-error");
        $("#" + current_field_error_class).html(validate_msg); 
        $(this).removeData("error");
        $(this).attr("data-error","exist");
        return "exist";
    }; 
    $.fn.triggeringfunction = function(){
      //alert($(this).trigger("blur").data("errors"));
      return $(this).trigger("blur");
    };
  })( jQuery );


    $('.new_admin_variant').on('click', '.add_fields', function(event) { 
    var app = $(this).html();
    var questionvalue =parseInt($("#questionvalue").text());
    var questionvalue1 = questionvalue + 1;
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    var count =parseInt($("#tagvalue").text());
    var flag =parseInt($("#tagvalue1").text());
    var propertytagvalue =parseInt($("#propertyvalue1").text());
    var count1 = count + 1;
    var flag1 = flag + 1;
    var propertyclass = "add_property" + questionvalue;
    var proquestion1 = "proquestion1" + flag1; 
    var proanswer1 = "proanswer1" + flag1;   
    var barcode = "barcode" + count1;
    var variant = "variant" + count1;
    var meta_title = "meta_title" + count1;
    var meta_desc = "meta_desc" + count1;
    var sku = "sku" + count1;
    var propertyvalue = "propertyvalue" + count1;
    var propertyclass = "propertyclass" + count1;
    var counting =parseInt($("#tagvalue").text());
    var product_variant_meta_title_error = "product_variant_meta_title_error" + count1;
    var product_variant_meta_desc_error = "product_variant_meta_desc_error" + count1;
    var product_variant_barcode_error = "product_variant_barcode_error" + count1;
    var product_variant_sku_error = "product_variant_sku_error" + count1;
    var product_variant_name_error = "product_variant_name_error" + count1; 
    var questions_error1 = "questions_error1" + flag1;
    var answers_error1 = "answers_error1" + flag1;   
    var altquestion = "alt_question" + count1;
    var questionerror = "question_error" + count1;
    var answererror = "answer_error" + count1;
    var citygroup = "city-group" + count1;
    var destroyname = "count_destroys" + count1;
    if(app == "Add Variant"){     
      appclass = "add_variant";      
      $("."+ appclass).append($(this).data('fields').replace(regexp, time).replace("propertyclass1", propertyclass).replace("barcode1", barcode).replace("variant1", variant).replace("meta_title1", meta_title).replace("meta_desc1", meta_desc).replace("sku1", sku).replace("product_variant_name_error1", product_variant_name_error).replace("product_variant_meta_title_error1", product_variant_meta_title_error).replace("product_variant_meta_desc_error1", product_variant_meta_desc_error).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("count_destroys1", destroyname));
      $("#tagvalue").html(count1);
    } 
    else if(app == "Add Properties"){
      propertytagvalue1 = propertytagvalue + 1;
      $("#propertyvalue1").html(propertytagvalue1);
      var question = "question" + propertytagvalue1; 
      var answer = "answer" + propertytagvalue1;
      //alert(propertytagvalue1);
      var answer_error1 = "product_answer_error" + propertytagvalue1;
      var question_error1 = "product_question_error" + propertytagvalue1;  
      $(this).before($(this).data('fields').replace(regexp, time).replace("barcode1", barcode).replace("sku1", sku).replace("product_variant_barcode_error1", product_variant_barcode_error).replace("product_variant_sku_error1", product_variant_sku_error).replace("question1", question).replace("answer1", answer).replace("product_question_error1", question_error1).replace("product_answer_error1", answer_error1).replace("answers_error11", answers_error1).replace("questions_error11", questions_error1)); 
      $(".product_question" + propertytagvalue1 + "_tokens").tokenInput("/admin/product_questions/new",
    tokenOptions2 );
    }
    else{
      $(this).before($(this).data('fields').replace(regexp, time)); 
    }
    return event.preventDefault();
  });
  $('.new_admin_variant').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });