jQuery.noConflict();
<% if @for_select == "country"%>
  jQuery(".state1").html(jQuery("<option></option>").attr("value", "").text("Select State"));
  <% @states.each do |state| %>
      jQuery(".state1").append(jQuery("<option></option>").attr("value", "<%= state.name %>").text("<%= state.name %>"));
  <% end %>
      jQuery(".state1").chosen();
      jQuery(".state1").trigger("chosen:updated");
<% elsif @for_select == "state" %>
   jQuery(".city1").html(jQuery("<option></option>").attr("value", "").text("Select City"));
   <% @district_cities.each do |city| %>
      jQuery(".city1").append(jQuery("<option></option>").attr("value", "<%= city.name %>").text("<%= city.name %>"));
  <% end %>
     jQuery(".city1").chosen();
      jQuery(".city1").trigger("chosen:updated");
<% elsif @for_select == "city" %>
   jQuery(".code1").html(jQuery("<option></option>").attr("value", "").text("Select Pincode"));
   <% @pincodes.each do |pincode| %>
      jQuery(".code1").append(jQuery("<option></option>").attr("value", "<%= pincode.pincode %>").text("<%= pincode.pincode %>"));
  <% end %>
      jQuery(".code1").chosen();
      jQuery(".code1").trigger("chosen:updated");
<% end %>