if($('#form_flashes').length > 0) {
  $('#form_flashes').remove();
  $('#password_flash').append("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
}
else {
  $('#password_flash').append("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
}
checklink();