if($('#form_flashes').length > 0) {
  $('#form_flashes').remove();
  $('#signin_flash').html("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
}
else {
  $('#signin_flash').html("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
}
checklink();
