if($('#flash').length > 0) {
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
}
else {
  window.location.replace("<%= session[:previous_url] %>");
}
checklink();