$(".add_fields").remove();
$(".add_order_pincodes_field").html("");
<%= fields_for(@admin_availability_plan,:html => {:id => 'order_shippment_form' }) do |f| %>
  <%= f.fields_for :plan_countries do |builder| %>
    <% unless builder.object.persisted? %>
      <% @country.pincodes.each do |pincode| %>
        <% @pincode = pincode %>
        <%= builder.fields_for :country_pincodes do |builder1| %>
          <% unless builder1.object.persisted? %>
            $(".add_order_pincodes_field").append("<%= escape_javascript(render  'country_pincode_fields', f: builder1, country_id: @pincode.id) %>");
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
$(".add_fields").trigger("click");
$(".add_fields").hide();

