<% unless @country.present? %>
  $(".add_fields").remove();
  $(".add_policy_shipping_weight").html("");
  $(".add_policy_shipping_price").html("");
  <%= fields_for(@admin_shipping_policy,:html => {:id => 'order_shippment_form' }) do |f| %>
    <% @shipping_weights.each do |shipping_weight| %>
      <%= f.fields_for :shipping_weights do |builder| %>
        <% unless builder.object.persisted? %>
          <% @shipping_weight = shipping_weight %>
          $(".add_policy_shipping_weight").append("<%= escape_javascript(render  'shipping_weight_fields', f: builder, country_id: @shipping_weight.id) %>");
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= fields_for(@admin_shipping_policy,:html => {:id => 'order_shippment_form' }) do |f| %>
    <% @shipping_prices.each do |shipping_price| %>
      <%= f.fields_for :shipping_prices do |builder| %>
        <% unless builder.object.persisted? %>
          <% @shipping_price = shipping_price %>
          $(".add_policy_shipping_price").append("<%= escape_javascript(render  'shipping_price_fields', f: builder, country_id: @shipping_price.id) %>");
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  $(".add_fields").trigger("click");
  $(".add_fields").hide();
<% else %>
  <% if @pincodes.present? %>
    $(".add_pincode_policy_shipping_weight").html("");
    $(".add_pincode_policy_shipping_price").html("");
    <%= fields_for(@admin_shipping_policy,:html => {:id => 'order_shippment_form' }) do |f| %>
      <%= f.fields_for :shipping_specific_countries do |builder| %>
        <% unless builder.object.persisted? %>
          <% @pincodes.each do |pincode| %>
            <% @pincode = pincode %>
            <%= builder.fields_for :shipping_specific_pincodes do |builder1| %>
              <% unless builder1.object.persisted? %>
                $(".add_pincode_policy_shipping_weight").append("<%= escape_javascript(render  'pincode_weight_fields', f: builder1, country_id: @pincode.id) %>");
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    $(".add_country_policy_shipping_weight").html("");
    $(".add_country_policy_shipping_price").html("");
    <%= fields_for(@admin_shipping_policy,:html => {:id => 'order_shippment_form' }) do |f| %>
      <%= f.fields_for :shipping_specific_countries do |builder| %>
        <% unless builder.object.persisted? %>
          <% @shipping_weights.each do |shipping_weight| %>
            <% @shipping_weight = shipping_weight %>
            <%= builder.fields_for :shipping_weights do |builder1| %>
              <% unless builder1.object.persisted? %>
                $(".add_country_policy_shipping_weight").append("<%= escape_javascript(render  'shipping_weight_fields', f: builder1, country_id: @shipping_weight.id) %>");
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= fields_for(@admin_shipping_policy,:html => {:id => 'order_shippment_form' }) do |f| %>
      <%= f.fields_for :shipping_specific_countries do |builder| %>
        <% unless builder.object.persisted? %>
          <% @shipping_prices.each do |shipping_price| %>
            <% @shipping_price = shipping_price %>
            <%= builder.fields_for :shipping_prices do |builder1| %>
              <% unless builder1.object.persisted? %>
                $(".add_country_policy_shipping_price").append("<%= escape_javascript(render  'shipping_price_fields', f: builder1, country_id: @shipping_price.id) %>");
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

