$(".render_get_rate").html("<%= escape_javascript (render(:partial => 'sections/get_rate')) %>"); 
$(".get_rate_show").show();
$(".get_rate_id").hide();
function show_rate(){
	$("#pin").val("");
	$(".get_rate_id").show();
	$(".get_rate_show").hide();
}
function show_rate1(){
  $("#pin").val("");
    $(".get_rate_id").hide();
    $(".get_rate_show").show();
}
checklink();