
$(".searchable_content2").html("<%= escape_javascript (render(:partial => 'search_content')) %>"); 

checklink();

$('#parent-category').html("<%= escape_javascript(render 'admin/products/sort_promotion_category_order.html.erb') %>");
$('#visible').html("<%= escape_javascript(render 'admin/products/visible_product.html.erb') %>");
$('#invisible').html("<%= escape_javascript(render 'admin/products/invisible_product.html.erb') %>");
$('#active').html("<%= escape_javascript(render 'admin/products/active_products.html.erb') %>");
$('#inactive').html("<%= escape_javascript(render 'admin/products/inactive_product.html.erb') %>");
$('#promotional-product').html("<%= escape_javascript(render 'admin/products/promotional_sort.html.erb') %>");

$('#parent-cats').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});
$('#parent-cats').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});
$('.child-cats').sortable({
  axis: 'y',
  handle: '.handles',
  update: function() {
    return $.post($(this).data('update-url'), $(this).sortable('serialize'));
  }
});
$('.g_child-catss').sortable({
  axis: 'y',
  handle: '.handles11',
  update: function() {
    return $.post($(this).data('update-url'), $(this).sortable('serialize'));
  }
});
$('.sort_trends').sortable({
  axis: 'y',
  handle: '.handle',
  update: function() {
    return $.post($(this).data('update-url'), $(this).sortable('serialize'));
  }
});