

if($('#flash').length > 0) {
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");  
  $('#addinventory').modal('hide');  
  $('.modal-backdrop').remove();
  $('.best_in_place').best_in_place();
}
else {
  $('#signin_flash').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('#addinventory').modal('hide');  
  $('.modal-backdrop').remove();
  $('.list_cities12').html("<%= escape_javascript(render 'admin/stocks/list_inventories1') %>");
  $('.best_in_place').best_in_place();
}
  $(".variant_property").click(function(){
    $("#" + $(this).attr('id').replace('property','property_show')).fadeToggle( 700, "swing" );
    $( ".variant_property" ).toggleClass( 'glyphicon-chevron-up', 'glyphicon-chevron-down' );
    $( ".variant_property" ).toggleClass( 'glyphicon-chevron-down', 'glyphicon-chevron-up' );
  });
  $(".variant_inventory").click(function(){
    $("#" + $(this).attr('id').replace('inventory','inventory_show')).fadeToggle( 700, "swing" );
    for (i = 0; i < substr.length; ++i) {
      if (substr[i] == "glyphicon-chevron-down"){
        $( ".variant_inventory" ).removeClass( 'glyphicon-chevron-down');
        $( ".variant_inventory" ).addClass('glyphicon-chevron-up' );
      }
      else if (substr[i] == "glyphicon-chevron-up"){
        $( ".country_states_costs" ).removeClass('glyphicon-chevron-up' );
        $( ".country_states_costs" ).addClass( 'glyphicon-chevron-down');
      }
    }   
  });
  $(".variant_inventory_regulation").click(function(){
    $("#" + $(this).attr('id').replace('regulation','regulation_show')).fadeToggle( 700, "swing" );
    $( ".variant_inventory_regulation" ).toggleClass( 'glyphicon-chevron-up', 'glyphicon-chevron-down' );
    $( ".variant_inventory_regulation" ).toggleClass( 'glyphicon-chevron-down', 'glyphicon-chevron-up' );
  });
checklink();