jQuery(".payment-progress-opcheckout-content").html("<dd>Payment Mode<span><strong>  <%= @payment_mode %></strong></span></dd>");
<% if @payment_mode == "COD" %>
  jQuery(".order_payment").html(" ");
  jQuery(".order_payment").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/cod") %>');
<% else %>
  jQuery(".order_payment").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/payment") %>');
<% end %>
jQuery(".shipping-method-progress-opcheckout-changelink").css("display","");
jQuery("#opc-payment").removeClass("active");
jQuery("#checkout-step-payment").css("display","none");
jQuery("#opc-review").addClass("active");
jQuery("#checkout-step-review").css("display","");
jQuery(".payment-progress-opcheckout-changelink").css("display","");