$(".ship_form").html("<%= escape_javascript(render 'admin/orders/ship_form') %>"); 
$(".order_form").html("<%= escape_javascript(render 'admin/orders/order_form') %>");
 var states,district,pincode,state_group,country_group,count,count1,i,loop,p;
  states = $(".state1").html();
  district = $(".city1").html();
  pincode = $(".code1").html();
  i =parseInt($("#tagvalue").text());
  loop =parseInt($("#loopvalue").text());
  var check_edit = $("#check_edit").text();
  if(check_edit == 'edit'){
    $(".country1").chosen();
    $(".state1").chosen();
    $(".city1").chosen();
    $(".code1").chosen();
  }
  $('form').on('change', '.coun', function(event){
    var country, escaped_country, options, ids;
    ids = $(this).attr('id');
    classes = $(this).attr('class');
    vids= "#" + ids;
    sids = ids.replace("country", "state");
    country = $( vids + " option:selected").text();
    escaped_country = country.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(states).filter("optgroup[label='" + escaped_country + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select State</option>");
      $('#' + sids ).append(options);
      $('#' + sids ).show();
      $('label[for="'+ sids +'"]').show();
      sids2 = sids;
      mids = sids2.replace("state", "add_line2");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
      $('#' + mids ).hide();
      nids = mids.replace("add_line2", "c_code");
      nids1 = nids + "_chosen";
      $('#' + nids1 ).hide();
      $('#' + nids ).hide();
      $('label[for="'+ nids +'"]').hide();
      $(".state-group1").show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } 
    else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).html("");
      $('#' + sids ).hide();
      $('label[for="'+ sids +'"]').hide();
      mids = sids.replace("state", "add_line2");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
      nids = mids.replace("add_line2", "c_code");
      nids1 = nids + "_chosen";
      $('#' + nids1 ).hide();
      $('#' + nids ).hide();
      $('label[for="'+ nids +'"]').hide();
    }
  });
  $('form').on('change', '.stat', function(event){
    var statess, escaped_state, options, ids;
    ids = $(this).attr('id');
    vids = "#" + ids;
    cid = ids;
    cids = cid.replace("state", "country");
    cids = "#" + cids;
    countriess = $( cids + " option:selected").text();
    escaped_countriess = countriess.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options1 = $(states).filter("optgroup[label='" + escaped_countriess + "']").html();
    sids = ids.replace("state", "add_line2");
    statess = $( vids + " option:selected").text();
    escaped_state = statess.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(district).filter("optgroup[label='" + escaped_state + "']").html();
    if (options) {
      //$(this).html(options1);
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids2 = sids; 
      mids = sids.replace("add_line2", "c_code");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).html("");
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
      mids = sids.replace("add_line2", "c_code");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
    }
  });
  $('form').on('change', '.dist', function(event){
    var dists, escaped_dist, options, ids;
    ids = $(this).attr('id');
    vids= "#" + ids;
    sids = ids.replace("add_line2", "c_code");
    dists = $( vids + " option:selected").text();
    escaped_dist = dists.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(pincode).filter("optgroup[label='" + escaped_dist + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).empty();
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
    }
  });
  $('form').on('change', '.dist', function(event){
    var dists, escaped_dist, options, ids;
    ids = $(this).attr('id');
    vids= "#" + ids;
    sids = ids.replace("add_line2", "c_code");
    dists = $( vids + " option:selected").text();
    escaped_dist = dists.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(pincode).filter("optgroup[label='" + escaped_dist + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).empty();
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
    }
  });
  $('form').on('change', '.dist1', function(event){
    var dists, escaped_dist, options, ids;
    ids = $(this).attr('id');
    vids= "#" + ids;
    sids = ids.replace("add_line2", "pincode");
    dists = $( vids + " option:selected").text();
    escaped_dist = dists.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(pincode).filter("optgroup[label='" + escaped_dist + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).empty();
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
    }
  });

$(".checkboxs1").click(function(){
   $(".checkboxs1").prop( "checked", false );
   $(this).prop( "checked", true );
  });
checklink();