$(".normal_form").fadeOut();
$(".preview_form").fadeIn();
$(".preview_form").html("<%= escape_javascript(render 'admin/orders/edit_preview_form') %>");
$(".update_preview_order").click(function(){
  $("#admin_order_for_check").remove();
  $("#order_shippment_form").submit();
});
$(".back_to_edit").click(function(){
  $(".normal_form").fadeIn();
  $(".preview_form").fadeOut();
});
checklink();