$('.first_step_flash_show_msg').html("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
$('.order_confirmt').html('<%= escape_javascript(render "admin/orders/order_confirmation") %>')
 
  $(".assign_warehouse").click(function(){
    $(".assign_warehouse_show").fadeToggle( 700, "swing" );
  });
  $("#admin_order_pay_val_false").click(function(){  
    $(".pay_val_reason").val("");
    $(".pay_val_reason").fadeIn( 700, "swing" );
  });
  $("#admin_order_pay_val_true").click(function(){
    $("#order_pay_val_reason").val("");
    $(".pay_val_reason").fadeOut( 700, "swing" );
  });
  $("#admin_order_cal_conf_false").click(function(){
    $("#order_cal_conf_reason").val("");
    $(".cal_conf_reason").fadeIn( 700, "swing" );
  });
  $("#admin_order_cal_conf_true").click(function(){
    $("#order_cal_conf_reason").val("");
    $(".cal_conf_reason").fadeOut( 700, "swing" );
  });
  $("#admin_order_prev_rec_false").click(function(){
    $("#order_prev_rec_reason").val("");
    $(".prev_rec_reason").fadeIn( 700, "swing" );
  });
  $("#admin_order_prev_rec_true").click(function(){
    $("#order_prev_rec_reason").val("");
    $(".prev_rec_reason").fadeOut( 700, "swing" );
  });


  
  $(':radio').mousedown(function(e){
    var $self = $(this);
    if( $self.is(':checked') ){
      var new_id = $self.attr('id');
      var new_ids = new_id.split('_');
      if(new_ids[4] == true ){
        var replce = new_id.replace('true','false')
      }
      else if(new_ids[4] == false){
        var replce = new_id.replace('false','true')
      } 
      var uncheck = function(){
        setTimeout(function(){$self.removeAttr('checked');},0);
        $("#" + replce).prop( "checked",true);
      };
      var unbind = function(){
        $self.unbind('mouseup',up);
        new_id = $self.attr('id');
        $("#" + replce).prop( "checked",true);
      };
      var up = function(){
        uncheck();
        unbind();
      };
      $self.bind('mouseup',up);
      $self.one('mouseout', unbind);
      $("#" + replce).prop( "checked",true);
    }
  });

  
  $("#step-1").css("display","none");
checklink();