$('.load_package_tasks').html("<%= escape_javascript(render 'admin/package_tasks/load_package_task_show') %>");

  $(".package_task_dispatch").submit(function(){
    var a = 1;
    var b = 1; 
    var c = 1;
    var id = $(this).attr('id');
    var logistic = id.replace('consignment','logistics');
    var tracking = id.replace('consignment','tracking');
    var delivery = id.replace('consignment','delivery_false');
    var delivery_reason = id.replace('consignment','delivery_reason');
    var logistic_error = id.replace('consignment','logistics_error');
    var tracking_error = id.replace('consignment','tracking_error');
    var delivery_reason_error = id.replace('consignment','delivery_reason_error');
    var _error = id.replace('consignment','tracking_error');
    $("#" + tracking_error).html("");
    $("#" + logistic_error).html("");
    $("#" + delivery_reason_error).html("");
    var logistic_val = $("." + logistic).val();
    var tracking_val = $("." + tracking).val();
    if(logistic_val == ""){
      $("#" + logistic_error).css("display","block");
      $("#" + logistic_error).html("Please Select The Logistics");
      a = 0;
    }
    if(tracking_val == ""){
      $("#" + tracking_error).css("display","block");
      $("#" + tracking_error).html("Please Enter Tracking Number");
      b = 0;
    }
    if($("." + delivery).is(':checked')){
      if($("."+ delivery_reason).val() == ""){
        $("#" + delivery_reason_error).css("display","block");
        $("#" + delivery_reason_error).html("Please Enter The Reason");
        c = 0;
      }
    }

    if(a==1 && b==1 && c==1){
      return true;
    }
    else{
      return false;
    }
  });


  
  $('.package_task_dispatch').on('click', '#admin_consignment_delivery_status_false', function(event) {
    var id =$(this).attr("class");
     var dates = id.replace('false','date');
    $("." + dates).css("display","none");
    var reason = id.replace('false','reason');
    $("." + reason).css("display","block");
  });
  $('.package_task_dispatch').on('click', '#admin_consignment_delivery_status_true', function(event) {
    var id =$(this).attr("class");
     var reason = id.replace('true','reason');
    $("." + reason).css("display","none");
    var dates = id.replace('true','date');
    $("." + dates).css("display","block");
  });
  checklink();