//$('#myModal8').modal('show')
//$('.myModal8_id').html("<%= escape_javascript(render 'admin/pages/show') %>");
$('.for_fullscreen1').click();
$('.widget-modal-title').html("<%= @admin_page.page_name %>");
$('.reload-refresh').replaceWith( '<a class="reload-refresh" data-remote="true" data-action="reload" href="<%= admin_pages_path(@admin_page) %>" ><i class="ace-icon fa fa-refresh"></i></a> ' );
$('.widget-body-modal-content').html("<%= escape_javascript(render 'admin/pages/show') %>"); 


 