jQuery(".vocher_deduct").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/voucher_deduct") %>');
jQuery("#checkout-step-payment-content").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/payment_information") %>');
jQuery(".payment-cont").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/payment") %>');
jQuery(".header_load").html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/header_load") %>');
jQuery(".header_cart").html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/cart") %>');
