$('.modal-backdrop').remove();
$('.load_address').html("<%= escape_javascript(render 'carts/load_address') %>");
$('.form_shipping').html("<%= escape_javascript(render 'carts/shipping_address_form') %>");
$('.load_address1').html("<%= escape_javascript(render 'users/load_address1') %>");
$('.form_shipping1').html("<%= escape_javascript(render 'users/shipping_address_form1') %>");
$('.next_step').html("<%= escape_javascript(render 'carts/payment_button') %>");
$(".payment-cont").html("<%= escape_javascript(render 'carts/payment') %>");
$(".next_level").css("display","block");
$('.order-summary').html("<%= escape_javascript(render 'carts/cart_order_summary') %>");
$(".checkboxs").prop( "checked", false );
<% if @shipping_address.present? %>
  $("#shipping_address_<%= @shipping_address.id %> > .row > div > .panel > .panel-body >.col-sm-1 > .checkboxs" ).prop( "checked", true );
<% else %>
  $("#shipping_address_<%= params[:shipping_address] %> > .checkboxs" ).prop( "checked", true );
<% end %>
$(".shipping_update").click(function(){
var shipping_address = $( this ).find( '.hidden_val' ).val();
var url = $(this).data('url');
$.ajax({
  url: url,
  data: {'shipping_address':shipping_address},
  type: 'PATCH',
  success: function(data, event, status, xhr) {
    $(".va-nav-next").click();
    //$(".checkboxs").prop( "checked", false );
    //$( this ).find( '.checkboxs' ).prop( "checked", true );
  },
  error: function(data, event, status, xhr) {
    
  }
});
});
$(".qty_error").popover({
  placement:'top'
});
  var states,district,pincode,state_group,country_group,count,count1,i,loop,p;
  states = $(".state1").html();
  district = $(".city1").html();
  pincode = $(".code1").html();
  i =parseInt($("#tagvalue").text());
  loop =parseInt($("#loopvalue").text());
  var check_edit = $("#check_edit").text();
  if(check_edit == 'edit'){
    $(".country1").chosen();
    $(".state1").chosen();
    $(".city1").chosen();
    $(".code1").chosen();
  }
  $('form').on('change', '.coun', function(event){
    var country, escaped_country, options, ids;
    ids = $(this).attr('id');
    classes = $(this).attr('class');
    vids= "#" + ids;
    sids = ids.replace("country", "state");
    country = $( vids + " option:selected").text();
    escaped_country = country.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(states).filter("optgroup[label='" + escaped_country + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select State</option>");
      $('#' + sids ).append(options);
      $('#' + sids ).show();
      $('label[for="'+ sids +'"]').show();
      sids2 = sids;
      mids = sids2.replace("state", "add_line2");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
      $('#' + mids ).hide();
      nids = mids.replace("add_line2", "c_code");
      nids1 = nids + "_chosen";
      $('#' + nids1 ).hide();
      $('#' + nids ).hide();
      $('label[for="'+ nids +'"]').hide();
      $(".state-group1").show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } 
    else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).html("");
      $('#' + sids ).hide();
      $('label[for="'+ sids +'"]').hide();
      mids = sids.replace("state", "add_line2");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
      nids = mids.replace("add_line2", "c_code");
      nids1 = nids + "_chosen";
      $('#' + nids1 ).hide();
      $('#' + nids ).hide();
      $('label[for="'+ nids +'"]').hide();
    }
  });
  $('form').on('change', '.stat', function(event){
    var statess, escaped_state, options, ids;
    ids = $(this).attr('id');
    vids = "#" + ids;
    cid = ids;
    cids = cid.replace("state", "country");
    cids = "#" + cids;
    countriess = $( cids + " option:selected").text();
    escaped_countriess = countriess.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options1 = $(states).filter("optgroup[label='" + escaped_countriess + "']").html();
    sids = ids.replace("state", "add_line2");
    statess = $( vids + " option:selected").text();
    escaped_state = statess.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(district).filter("optgroup[label='" + escaped_state + "']").html();
    if (options) {
      //$(this).html(options1);
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids2 = sids; 
      mids = sids.replace("add_line2", "c_code");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).html("");
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
      mids = sids.replace("add_line2", "c_code");
      mids1 = mids + "_chosen";
      $('#' + mids1 ).hide();
      $('#' + mids ).hide();
      $('label[for="'+ mids +'"]').hide();
    }
  });
  $('form').on('change', '.dist', function(event){
    var dists, escaped_dist, options, ids;
    ids = $(this).attr('id');
    vids= "#" + ids;
    sids = ids.replace("add_line2", "c_code");
    dists = $( vids + " option:selected").text();
    escaped_dist = dists.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(pincode).filter("optgroup[label='" + escaped_dist + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).empty();
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
    }
  });
  $('form').on('change', '.dist', function(event){
    var dists, escaped_dist, options, ids;
    ids = $(this).attr('id');
    vids= "#" + ids;
    sids = ids.replace("add_line2", "c_code");
    dists = $( vids + " option:selected").text();
    escaped_dist = dists.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(pincode).filter("optgroup[label='" + escaped_dist + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).empty();
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
    }
  });
  $('form').on('change', '.dist1', function(event){
    var dists, escaped_dist, options, ids;
    ids = $(this).attr('id');
    vids= "#" + ids;
    sids = ids.replace("add_line2", "pincode");
    dists = $( vids + " option:selected").text();
    escaped_dist = dists.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
    options = $(pincode).filter("optgroup[label='" + escaped_dist + "']").html();
    if (options) {
      $('#' + sids ).html("<option value='' selected>Select</option>");
      $('#' + sids ).append(options);
      $('#' + sids).show();
      $('label[for="'+ sids +'"]').show();
      sids1 = sids + "_chosen";
      $('#' + sids1 ).show();
      $('#' + sids ).chosen();
      $('#' + sids ).trigger("chosen:updated");
      $('#' + sids ).hide();
    } else {
      sids1 = sids + "_chosen";
      $('#' + sids1).hide();
      $('#' + sids ).empty();
      $('#' + sids).hide();
      $('label[for="'+ sids +'"]').hide();
    }
  });


$('.quantity .best_in_place').bind("ajax:success", function(data, status, xhr){ 
    var url = $(this).data('urls');
    var view = $(this).data('view');
    var obj = jQuery.parseJSON( status );
    if(obj.message != '')
    {
      alert( obj.message );
    }
    return $.ajax({
      url: '../' + url,
      data: {'view':view},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    }); 
});
checklink();