<% if @final_cost.class == String %>
  <% if @final_cost == "Available" %>
    $(".wizard-btn-next").show();
  <% else %>
    $(".wizard-btn-next").hide();
  <% end %>
 <% else %>
   $(".wizard-btn-next").hide();
<% end %>
$(".payment-cont").html("<%= escape_javascript(render 'carts/payment') %>");
$('.order-summary').html("<%= escape_javascript(render 'carts/cart_order_summary') %>");
checklink();