jQuery(".ship_rate_sum").html('<dd class="complete">Shipping<span class="price">  ₹   <%= "%.2f" % @total_shipping_cost %></span></dd><dd class="complete">Tax<span class="price">  ₹ <%= "%.2f" % @tax_price %></span></dd>');
jQuery(".shipping-method-progress-opcheckout-changelink").css("display","");
jQuery("#opc-shipping_method").removeClass("active");
jQuery("#checkout-step-shipping_method").css("display","none");
jQuery("#opc-payment").addClass("active");
jQuery("#checkout-step-payment").css("display","");
jQuery(".order_payment").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/payment") %>')