$('#parent-category').html("<%= escape_javascript(render 'admin/products/sort_promotion_category_order.html.erb') %>");

$('#parent-cats').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});
$('.child-cats').sortable({
  axis: 'y',
  handle: '.handles',
  update: function() {
    return $.post($(this).data('update-url'), $(this).sortable('serialize'));
  }
});
$('.g_child-catss').sortable({
  axis: 'y',
  handle: '.handles11',
  update: function() {
    return $.post($(this).data('update-url'), $(this).sortable('serialize'));
  }
});
$('.sort_trends').sortable({
  axis: 'y',
  handle: '.handle',
  update: function() {
    return $.post($(this).data('update-url'), $(this).sortable('serialize'));
  }
});