$('.searchable_content2').html("<%= escape_javascript(render 'admin/products/search_content.html.erb') %>");
$(".products_tab").click(function(){ 
    var url = $(this).data('url');
    var tab_data = $(this).data('content');

    var json = {};
    var q = $("#search_form_for1").serializeArray();
    q.push({ name: 'products_tab' , value: tab_data });
    $.each(q, function (i, field) {
    	if(field.value != '' && field.name != 'utf8'){
          json[field.name] = field.value || '';
        }
    });
    $.ajax({
      url: url,
      data: json,
      type: 'GET',
      success: function(data, event, status, xhr) {
        
      },
      error: function(data, event, status, xhr) {
        
      }
    });
    $(".products_tab1").removeClass("products_tab");
  });