<% if @product.tax_violate %>
  $(".add_tax_plan").css('display','none');
<% else %>
  $(".add_tax_plan").css('display','block');
<% end %>
$('.for_voilate_form').html("<%= escape_javascript(render 'admin/products/voilate') %>")