$('#promotional-product').html("<%= escape_javascript(render 'admin/products/promotional_sort.html.erb') %>");

$('#parent-catss1').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});
$('.parent-catss1').sortable({
axis: 'y',
handle: '.handle',
update: function() {
  return $.post($(this).data('update-url'), $(this).sortable('serialize'));
}
});