$(".payment-cont").html("<%= escape_javascript(render 'carts/payment') %>");
$(".header_load").html("<%= escape_javascript(render 'layouts/shared/header_load') %>");
$(".header_cart").html("<%= escape_javascript(render 'layouts/shared/cart') %>");
checklink(); 