jQuery('.mini-cart').html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/mini_cart") %>');

jQuery('#myModal1_id').html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/cart") %>');
jQuery(".header_load").html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/header_load") %>');
jQuery(".header_cart").html('<%= escape_javascript(render "layouts/shared/#{$client_name}_custom_shared_view/cart") %>');
jQuery(".qty_error").popover({
  placement:'top'
});
jQuery('.best_in_place').best_in_place();
jQuery('.quantity .best_in_place').bind("ajax:success", function(){ 
    var url = jQuery(this).data('urls');
    var view = jQuery(this).data('view');
    return jQuery.ajax({
      url: '../../' + url,
      data: {'view':view},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    }); 
});
checklink();