$(".admin_show").html("<%= escape_javascript(render 'admin/carts/refresh_admin_cart_show') %>");
$(".qty_error").popover({
  placement:'top'
});
$('.best_in_place').best_in_place();
$('.quantity .best_in_place').bind("ajax:success", function(){ 
    var url = $(this).data('urls');
    var view = $(this).data('view');
    return $.ajax({
      url: '../' + url,
      data: {'view':view},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    }); 
});
checklink();