$('.order_items_view').html("<%= escape_javascript(render 'admin/orders/order_items') %>");

$('.quantity .best_in_place').bind("ajax:success", function(data, status, xhr){ 
    var url = $(this).data('urls');
    var view = $(this).data('view');
    var obj = jQuery.parseJSON( status );
    if(obj.message != '')
    {
      alert( obj.message );
    }
    return $.ajax({
      url: '../' + url,
      data: {'view':view},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    }); 
});
checklink();