$('.order-summary').html("<%= escape_javascript(render 'carts/cart_order_summary') %>");
<% if @final_cost.class == String %>
  <% if @final_cost == "Available" %>
    $(".wizard-btn-next").show();
  <% else %>
    $(".wizard-btn-next").hide();
  <% end %>
 <% else %>
   $(".wizard-btn-next").hide();
<% end %>
$(".qty_error").popover({
  placement:'top'
});
$('.quantity .best_in_place').bind("ajax:success", function(data, status, xhr){ 
    var url = $(this).data('urls');
    var view = $(this).data('view');
    var obj = jQuery.parseJSON( status );
    if(obj.message != '')
    {
      alert( obj.message );
    }
    return $.ajax({
      url: '../' + url,
      data: {'view':view},
      type: 'GET',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
      }
    }); 
});
checklink();