$("#order_per_qty_price_<%= @new_variant.id %>").html("₹ <%= '%.2f' % @price %>");
$("#order_price_<%= @new_variant.id %>").html("₹ <%= '%.2f' %  @per_qty_price %>");
$("#order_image_<%= @new_variant.id %>").html('<%= image_tag @new_variant.images.sort_by(&:sort_order).first.avatar.url(:thumb),:class => "thumbnail", :style => "width:80px;height:60px;" %>');
checklink();