$(".add_fields").remove();
<%= fields_for(@order, :url => admin_order_path(@order),:html => {:id => 'order_shippment_form' }) do |f| %>
  $(".add_order_items_field").prepend("<%= escape_javascript(link_to_order_add_fields 'Add Order Items', f, @variant.id , :order_items) %>");
<% end %>
$(".add_fields").trigger("click");
 

$(document).on('click','.search_sku',function(){
  var sku = $(".sku_val").val();
  var url = $(this).data('url');
  if(sku != ""){
  	$.ajax({
	  url: url,
	  data: {'sku':sku},
	  type: 'GET',
	  success: function (data) { 
	  }
	}); 
  } 
});
jQuery(function() {
  $('.edit_admin_order').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
});
$(document).on('change','.order_varaint_change',function(){    
	var variant_id = $(this).attr("id");
	var variant_error = "error_" + variant_id; 
	var qty_id = variant_id.replace("variant","qty");
	var qty_error = "error_" + qty_id; 
	var price_id = variant_id.replace("variant","price");
	var urls = variant_id.replace("variant","url_for_check");
	var order_item_ids = variant_id.replace("variant","item_id"); 

    var url = $("#" + urls).html();
	var current_variant_id = $(this).val();
	var qty = $("#" + qty_id).val();
	var order_item_id = $("#" + order_item_ids).html();
	var shipping_id = $(".order_shipping_address_id_val").html(); 

	var new_variant_id = "order_variant_" + current_variant_id;
	var new_variant_error = "error_order_variant_" + current_variant_id;
	var new_qty_id = "order_qty_" + current_variant_id;
	var new_qty_error = "error_order_qty_" + current_variant_id;
	var new_price_id = "order_price_" + current_variant_id;
	var new_url = "order_url_for_check_" + current_variant_id;
	var new_order_item_id = "order_item_id_" + current_variant_id;
       
	$("#" + variant_id).attr("id",new_variant_id);
	$("#" + variant_error).attr("id",new_variant_error);
	$("#" + qty_id).attr("id",new_qty_id);
	$("#" + qty_error).attr("id",new_qty_error);
	$("#" + price_id).attr("id",new_price_id); 
	$("#" + urls).attr("id",new_url);
	$("#" + order_item_ids).attr("id",new_order_item_id);      
      
	$.ajax({
	  url: url,
	  data: {'id':order_item_id,'variant_id':current_variant_id,'qty':qty,'shipping_address_id':shipping_id,'active':'variant'},
	  type: 'GET',
	  dataType:'json',
	  success: function (data) { 
	    $.each(data, function(index, element) {
	    	if (element == "success")
	    	{
	    	  $("#" + new_variant_error).removeClass("errorBox");
	          $("#" + new_variant_error).addClass("successBox");
	        }
	    	else{ 
	    	  $("#" + new_variant_error).removeClass("successBox");
	    	  $("#" + new_variant_error).addClass("errorBox");
	    	}
	        $("#" + new_variant_error).html(element).fadeIn( 700, "swing" );
	    });
	  }
	});
});   
$(document).on('change','.order_quantity_change',function(){
	var qty_id = $(this).attr("id");
	var qty_error = "error_" + qty_id;   
	var variant_id = qty_id.replace("qty","variant");
	var variant_error = "error_" + variant_id;
	var price_id = variant_id.replace("variant","price");
	var urls = variant_id.replace("variant","url_for_check");
	var order_item_ids = variant_id.replace("variant","item_id");

	var url = $("#" + urls).html();
	var current_variant_id = $("#" + variant_id).val();
	var qty = $(this).val();
	var order_item_id = $("#" + order_item_ids).html();
	var shipping_id = $(".order_shipping_address_id_val").html();

	$.ajax({
	  url: url,
	  data: {'id':order_item_id,'variant_id':current_variant_id,'qty':qty,'shipping_address_id':shipping_id,'active':'qty'},
	  type: 'GET',
	  dataType:'json',
	  success: function (data) { 
        $.each(data, function(index, element) {
        	if (element == "success")
        	{
        	  $("#" + qty_error).removeClass("errorBox");
              $("#" + qty_error).addClass("successBox");
            }
        	else{
        	  $("#" + qty_error).removeClass("successBox");
        	  $("#" + qty_error).addClass("errorBox");
        	}
            $("#" + qty_error).html(element).fadeIn( 700, "swing" );
        });
      }
	});
});

jQuery(function() {
	$(".shipping_check").click(function(){
	  var values = $(this).val(); 
	  $("#admin_order_shipping_address_id").val(values);
	  $(".order_shipping_address_id_val").html(values);
	  $(".order_varaint_change").trigger("change");
	  $(".order_quantity_change").trigger("change"); 
	});
});
checklink();