$('.rejection_reason').html("<%= escape_javascript(render 'orders/rejection_reason') %>");
$(".add_pay_val").click(function(){
if($(this).is(':checked')){
  $(".add_pay_val_show").fadeOut( 700, "swing" );
  var url = $(this).data('url');
  if (url != ""){
    $.ajax({
      url: url,
      data: {},
      type: 'delete',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
        
      }
    });
  }
}
else{
$(".add_pay_val_show").fadeIn( 700, "swing" );
}
});
$(".add_cal_conf").click(function(){
if($(this).is(':checked')){
  $(".add_cal_conf_show").fadeOut( 700, "swing" );
  var url = $(this).data('url');
  if (url != ""){
    $.ajax({
      url: url,
      data: {},
      type: 'delete',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
        
      }
    });
  }
}
else{
$(".add_cal_conf_show").fadeIn( 700, "swing" );
}
});
$(".add_prev_rec").click(function(){
if($(this).is(':checked')){
  var url = $(this).data('url');
  if (url != ""){
    $.ajax({
      url: url,
      data: {},
      type: 'delete',
      success: function(data, event, status, xhr) {
      },
      error: function(data, event, status, xhr) {
        
      }
    });
  }
  $(".add_prev_rec_show").fadeOut( 700, "swing" );
}
else{
$(".add_prev_rec_show").fadeIn( 700, "swing" );
}
});
checklink();