$('#myModal10').modal('show')
$('#myModal10_id').html("<%= escape_javascript(render 'admin/shipping_states/form1') %>");
  $("#shipping_state").submit(function() {
    var a = 1;
    var state = $("#admin_shipping_state_state_id").val();
    if(state == ''){
      a = 0;
      $("#shipping_state1").css("display","block");
      $("#shipping_state1").html("Select State");
    }
    if(a==1){
      return true;
    }
    else{
      return false;
    }
  });
checklink();