if($('#flash').length > 0) { 
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");  
  $('#myModal').modal('hide');
  $('#myModal10').modal('hide');
  $('#myModal2').modal('hide');
  $('.modal-backdrop').remove(); 
}
else {
  $('#signin_flash').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('#myModal').modal('hide');
  $('#myModal10').modal('hide');
  $('#myModal2').modal('hide');
  $('#myModal3').modal('hide');
  $('.modal-backdrop').remove();
  $('.list_cities').html("<%= escape_javascript(render 'admin/shipping_plans/list_countries') %>");
}
$(".list_states_cities").hide();
$(".list_states_cities_costs").hide();
 $(".country_states_costs").click(function(){
    $("#" + $(this).attr('id').replace('cities','city_cost')).fadeToggle( 100, "swing" );
    substr = $(this).attr('class').split(" ");
    for (i = 0; i < substr.length; ++i) {
      if (substr[i] == "glyphicon-chevron-down"){
        $(this).removeClass( 'glyphicon-chevron-down');
        $(this).addClass('glyphicon-chevron-up' );
      }
      else if (substr[i] == "glyphicon-chevron-up"){
        $(this).removeClass('glyphicon-chevron-up' );
        $(this).addClass( 'glyphicon-chevron-down');
      }
    }
  });
   $(".country_states").click(function(){
    $("#" + $(this).attr('id').replace('states','states_city')).fadeToggle( 700, "swing" );
    substr = $(this).attr('class').split(" ");
    for (i = 0; i < substr.length; ++i) {
      if (substr[i] == "glyphicon-chevron-down"){
        $(this).removeClass( 'glyphicon-chevron-down');
        $(this).addClass('glyphicon-chevron-up' );
      }
      else if (substr[i] == "glyphicon-chevron-up"){
        $(this).removeClass('glyphicon-chevron-up' );
        $(this).addClass( 'glyphicon-chevron-down');
      }
    }
  });
checklink();