$('#myModal2').modal('show');
$('#myModal2_id').html("<%= escape_javascript(render 'admin/shipping_cities/form') %>");
$("#shipping_rate").keyup(function(){
  var cost = $("#shipping_rate").val();
  $(".cost1").val(cost);
});
$('#shipping_state_form').on('click', '.status', function(event) {
	var value = $(this).val();
  var id = $(this).attr('id');
  ids = id.replace("status", "cost");
  if (this.checked) {
    $('label[for="'+ ids +'"]').html('');
    $("#" + ids).show();
    $("#" + ids).css("display","block");
  }
  else{
  	$("#" + ids).val("");
    $("#" + ids).hide();
    $('label[for="'+ ids +'"]').css("display","block");
    $('label[for="'+ ids +'"]').show();
    $('label[for="'+ ids +'"]').html('shipping disabled');
  }
});

$("#shipping_state_form").submit(function() {
  count = $("#flag_val").text();
  var a = 1;
  for(i=0;i<=count;i++){
    status = $("#admin_shipping_state_shipping_cities_attributes_" + i + "_status").checked;
    cost = $("#admin_shipping_state_shipping_cities_attributes_" + i + "_cost").val();
    if(status)
    {
      if(cost == ''){
        $("#admin_shipping_state_shipping_cities_attributes_" + i + "_cost").val(0);
      }
    }
  }
  if(a==1){
    return true;
  }
  else{
    return false;
  }
  });
checklink();
