jQuery('.variant_view').html('<%= escape_javascript(render "#{$client_name}_custom_view/sections/variants_view") %>');
jQuery(".get_rate_id").hide();
jQuery('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();

