$('.modal-backdrop').remove();
if($('#flash').length > 0) {
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('#taxplanModal').modal('hide');
  $('#taxplanstate').modal('hide'); 
  $('#myModal8').modal('hide');  
  $('.modal-backdrop').remove();
}
else {
  $('#signin_flash').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('#taxplanModal').modal('hide');
  $('#taxplanstate').modal('hide');
  $('#myModal8').modal('hide');  
  $('.modal-backdrop').remove();
  $('.list_tax_cities').html("<%= escape_javascript(render 'admin/tax_plans/list_tax_countries') %>"); 
}
 $(".list_tax_states").hide();
  $(".country_states").click(function(){
    $("#" + $(this).attr('id').replace('states','states_city')).toggle();
  });
checklink();