$('#taxplanstate').modal('show'); 
$('#taxplanstate_id').html("<%= escape_javascript(render 'admin/tax_states/form') %>");

  $("#shipping_state").submit(function() {
    var a = 1;
    var state = $("#admin_shipping_state_state_id").val();
    if(state == ''){
      a = 0;
      $("#shipping_state1").css("display","block");
      $("#shipping_state1").html("Select State");
    }
    if(a==1){
      return true;
    }
    else{
      return false;
    }
  });
  $(".list_tax_states").hide();
  $(".country_states").click(function(){
    $("#" + $(this).attr('id').replace('states','states_city')).toggle();
  });
  
	$('#tax_state_form').on('click', '.status', function(event) {
		var value = $(this).val();
	  var id = $(this).attr('id');
	  ids = id.replace("status", "tax");
	  if (this.checked) {
	    $('label[for="'+ ids +'"]').html('');
	    $("#" + ids).show();
	    $("#" + ids).css("display","block");
	  }
	  else{
	  	$("#" + ids).val("");
	    $("#" + ids).hide();
	    $('label[for="'+ ids +'"]').css("display","block");
	    $('label[for="'+ ids +'"]').show();
	    $('label[for="'+ ids +'"]').html('tax disabled');
	  }
	});


$("#tax_state_form").submit(function() {
  count = $("#flag_val").text();
  var a = 1;
  for(i=0;i<=count;i++){
    status = $("#admin_tax_country_tax_states_attributes_" + i + "_status").checked;
    cost = $("#admin_tax_country_tax_states_attributes_" + i + "_tax").val();
    if(status)
    {
      if(cost == ''){
        $("#admin_tax_country_tax_states_attributes_" + i + "_tax").val(0);
      }
    }
  }
  if(a==1){
    return true;
  }
  else{
    return false;
  }
  });
checklink();