if($('#flash').length > 0) {
  $('#flash').remove();
  $('body').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('#taxplanstate').modal('hide');
  $('.modal-backdrop').remove();
}
else {
  $('#signin_flash').prepend("<%= escape_javascript (render(:partial => "layouts/shared/flash")) %>");
  $('#taxplanstate').modal('hide');
  $('.modal-backdrop').remove();
  $('.list_tax_states').html("<%= escape_javascript(render 'admin/tax_plans/list_tax_states') %>");
}
checklink();