$("#trend-product").html("<%= escape_javascript(render 'admin/products/sort_trend_products') %>");
$("#latest-product").html("<%= escape_javascript(render 'admin/products/sort_latest_products') %>");
$("#offer-product").html("<%= escape_javascript(render 'admin/products/sort_offer_products') %>");
$('.promotion_update .best_in_place').bind("ajax:success", function(){ 
  var url = $(this).data('urls');
  var view = $(this).data('id');
  return $.ajax({
	  url: '../admin/products/promotion_update',
	  data: {'product_id':view},
	  type: 'POST',
	  success: function(data, event, status, xhr) {
	    //return alert(data);
	  },
	  error: function(data, event, status, xhr) {
	    
	  }
  });
});
checklink();