jQuery(".billing-progress-opcheckout-complete").html('<address style="margin-top:0px;"><%= @shipping_address.name %><br><%= @shipping_address.add_line1 %>,<br><%= @shipping_address.add_line2 %><br><%= @shipping_address.state %>,  <%= @shipping_address.country %>, <%= @shipping_address.pincode %><br>T: <%= @shipping_address.phone %></address>')
jQuery("#checkout-shipping-method-load").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/apply_voucher") %>');
jQuery(".billing-progress-opcheckout-changelink").css("display","");
jQuery("#opc-billing").removeClass("active");
jQuery("#checkout-step-billing").css("display","none");
jQuery("#opc-shipping_method").addClass("active");
jQuery("#checkout-step-shipping_method").css("display","");
jQuery("#checkout-review-load").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/order_review") %>'); 
<% if @new_shipping_address_form.present? %>
jQuery(".address-select").append(jQuery("<option selected></option>").attr("value", "<%= @shipping_address.id %>").text("<%= @shipping_address.name %>,<%= @shipping_address.add_line1 %>,<%= @shipping_address.add_line2 %>,<%= @shipping_address.state %>,<%= @shipping_address.country %> <%= @shipping_address.pincode %> "));
jQuery(".shipping_form_name").val('');
 jQuery("#shipping_address_phone").val('');
  jQuery(".shipping_form_address").val('');
 jQuery(".shipping_country_select_box").val('');
 jQuery(".state1").val('');
 jQuery(".city1").val('');
 jQuery(".code1").val(''); 
jQuery("#billing-new-address-form").hide();
<% end %>
jQuery("#billing-please-wait").css("display", "none");