//alert("<%= @final_cost.class %>");
<% if @final_cost.class == Float || @final_cost.class == Fixnum %>
  jQuery(".result_val").html("<strong>Shipping cost <%= @total_extra_cost %></strong>");
  jQuery(".flag_pincode").val("0");
<% elsif @final_cost.class == String %>
  jQuery(".result_val").html("<strong>₹ <%= @total_extra_cost %></strong>");
  jQuery(".shopping-cart-table-total").html('<%= escape_javascript(render "#{$client_name}_standard_view/carts/cart_total") %>');
  jQuery(".flag_pincode").val("0");
<% else %>
  <% if @final_cost.first.class.name == "CartItem" %>
    jQuery('.cart_list_summary').html("<%= escape_javascript(render '#{$client_name}_standard_view/carts/cart_list') %>");
  <% else %>
     jQuery(".pincode-please-wait").css("display","none");
       jQuery(".postal_form_pincode").css("display","block");
       jQuery(".postal_label").html("Zip/Postal Code");
      jQuery(".flag_pincode").val("1").css("display","none");
  <% end %>
<% end %>     

 