<% if @final_cost.class == Float || @final_cost.class == Fixnum %>
  jQuery(".result_val").html("<strong>Shipping cost <%= @final_cost %></strong>");
  jQuery(".append_pincode").html("");
<% elsif @final_cost.class == String %>
  jQuery(".result_val").html("<strong><%= @final_cost %></strong>");
  jQuery(".append_pincode").html("");
<% else %>
  <% if @final_cost.first.class.name == "CartItem" %>
    jQuery('.cart_list_summary').html("<%= escape_javascript(render 'carts/cart') %>");
  <% else %>
    jQuery(".append_pincode").html('<%= escape_javascript collection_select(:pincode, :pincode, @final_cost, :pincode, :pincode)  %>');
  <% end %>
<% end %>