<% @path = request.path.split("/")[1].to_s %>
<% @path1 = request.path.split("/")[2].to_s %>
<% if (@path == "admin")  || (@path == "support") %> 
  <html>
    <head>
      <% if general.present? %> 
      <title>Ranees - <%= yield(:title )|| general.page_title.present? ? general.page_title  : 'Green Tea' %></title>   
      <meta name="description" content="<%= yield(:description) ||  general.meta_des.present? ? general.meta_des  : 'Ranees' %>"> 
      <% else %>
         <title>Ranees - <%= yield(:title )|| 'Ranees' %></title>   
         <meta name="description" content="<%= yield(:description) || 'Ranees' %>"> 
      <% end %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <% if general.present? %>
        <% if general.a_text.present? %>
          <script>
            <%= raw(general.a_text) %>
          </script>
        <% end %>
      <% end %>
      <%= yield(:head) %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= csrf_meta_tags %>
      <%= tinymce_assets %>
    </head>
    <body onunload="" class="no-skin">
      <!-- admin panel -->

        <!-- admin header -->
        <div class ="main_header_render">
          <%= render partial: "layouts/shared/admin/admin_header",:layout => false  %>
        </div>
        <!-- admin header end -->

        <div class="main-container" id="main-container">

          <!-- admin sidebar -->
            <div id="sidebar" class="sidebar responsive sidebar-fixed for_responsive_sidebar sidebar_render" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
              <% @path = request.path.split("/")[1].to_s %>
              <% @path1 = request.path.split("/")[2].to_s %>
              <% if @path == "admin" %>
                <% if @path1 == "warehouse_dashboard"%>
                  <%= render partial: "layouts/shared/admin/warehouse_dashboard_sidebar" %>
                <% else %>
                  <%= render partial: "layouts/shared/admin/admin_sidebar" %>
                <% end %>
              <% elsif @path== "support" %>
                <%= render partial: "layouts/shared/admin/support_sidebar" %>
              <% end %>
            </div> 
          <!-- admin sidebar end -->

          <div class="main-content">
            <div class="main-content-inner container_content">
              <%= yield %>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse ">
              <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
          </div>

          <!-- admin footer start -->
            <%= render partial: "layouts/shared/admin/admin_footer" %> 
          <!-- admin footer end -->
        </div>

      <!-- admin panel end -->
    </body>
    <!-- widget-modal-box start -->
      <div class="widget-box widget-modal-box ui-sortable-handle">
        <div class="widget-header">
          <h5 class="widget-title widget-modal-title">Default Widget Box</h5>

          <div class="widget-toolbar">
            <a  data-action="fullscreen" data-backdrop="true" class="orange2 for_fullscreen2" style="cursor:pointer">
              <i class="ace-icon fa fa-expand"></i>
            </a>
            <a href="#" data-action="reload" class="reload-refresh">
              <i class="ace-icon fa fa-refresh"></i>
            </a>
            <a  data-action="close" class="fullscreen_close" style = "cursor:pointer">
              <i class="ace-icon fa fa-times"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main widget-body-modal-content" style="background:white;">
          </div>
        </div>
      </div>  
    <!-- widget-modal-box start -->
  </html>
<% elsif (@path == "users") %>  
  <html>
    <head>
      <% if general.present? %> 
      <title>Ranees - <%= yield(:title )|| general.page_title.present? ? general.page_title  : 'Ranees' %></title>   
      <meta name="description" content="<%= yield(:description) ||  general.meta_des.present? ? general.meta_des  : 'Ranees' %>"> 
      <% else %>
         <title>Ranees - <%= yield(:title )|| 'Ranees' %></title>   
         <meta name="description" content="<%= yield(:description) || 'Ranees' %>"> 
      <% end %> 
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag 'user_panel', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ranees', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'user_panel', 'data-turbolinks-track' => true %>
      <% if general.present? %>
        <% if general.a_text.present? %>
          <script>
            <%= raw(general.a_text) %>
          </script>
        <% end %>
      <% end %>
      <%= yield(:head) %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= csrf_meta_tags %>
      <%= tinymce_assets %>
    </head>
    <body onunload="" class="no-skin">
      <!-- admin panel -->

        <!-- admin header -->
        <div class ="main_header_render">
          <%= render partial: "layouts/shared/#{$client_name}_custom_shared_view/header",:layout => false  %>
        </div>
        <!-- admin header end -->

        <div class="main-container" id="main-container">
          <div class="main-content">
            <div class="main-content-inner container_content user_background_color" >
              <div class="container" style ="padding:0px 30px;">
                <div class="row">
                  <style>
                  .alert {
                  margin-top: 20px;
                  padding: 9px;
                  margin-bottom: 20px;
                  border: 1px solid transparent;
                  /* border-radius: 4px; */
                  }
                  input[type="text"], input[type="password"], input[type="email"], textarea, select {
                    width:35%;
                    padding:7px;
                  }
                  </style>
                </div>    
              </div>   
              <%= yield %>
            </div>
            
          </div>
          
          <!-- admin footer start -->
            <%= render partial: "layouts/shared/#{$client_name}_custom_shared_view/footer" %> 
          <!-- admin footer end -->
        </div>

      <!-- admin panel end -->
    </body>
    <!-- widget-modal-box start -->
      <div class="widget-box widget-modal-box ui-sortable-handle">
        <div class="widget-header">
          <h5 class="widget-title widget-modal-title">Default Widget Box</h5>

          <div class="widget-toolbar">
            <a  data-action="fullscreen" data-backdrop="true" class="orange2 for_fullscreen2" style="cursor:pointer">
              <i class="ace-icon fa fa-expand"></i>
            </a>
            <a href="#" data-action="reload" class="reload-refresh">
              <i class="ace-icon fa fa-refresh"></i>
            </a>
            <a  data-action="close" class="fullscreen_close" style = "cursor:pointer">
              <i class="ace-icon fa fa-times"></i>
            </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main widget-body-modal-content" style="background:white;">
          </div>
        </div>
      </div>  
    <!-- widget-modal-box start -->
  </html>
    
      <script type="text/javascript">
        jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > 1){  
        jQuery('nav').addClass("sticky");
        }
        else{
        jQuery('nav').removeClass("sticky");
        }
        });
        </script>
<% else %>
  <html lang="en" class=" js no-touch localstorage">
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <% if general.present? %> 
      <title><%= $client_name %> - <%= yield(:title )|| general.page_title.present? ? general.page_title  : 'Ranees' %></title>   
      <meta name="description" content="<%= yield(:description) ||  general.meta_des.present? ? general.meta_des  : 'Ranees' %>"> 
      <% else %>
         <title><%= $client_name %> - <%= yield(:title )|| 'Green Tea' %></title>   
         <meta name="description" content="<%= yield(:description) || 'Ranees' %>"> 
      <% end %>
      

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
      <%= stylesheet_link_tag  'ranees', media: 'all', 'data-turbolinks-track' => true %>
      <% if controller_name == "sections" && action_name == "show" %>
          <%= javascript_include_tag 'prototype', 'data-turbolinks-track' => true %>
      <% else %>
      <%= javascript_include_tag $client_name, 'data-turbolinks-track' => true %>
      <% end %>
      <% if general.present? %>
        <% if general.a_text.present? %>
          <script>
            <%= raw(general.a_text) %>
          </script>
        <% end %>
      <% end %>
      <%= yield(:head) %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= csrf_meta_tags %>
      <%= tinymce_assets %>
      <script type="text/javascript">
        jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > 1){  
        jQuery('nav').addClass("sticky");
        }
        else{
        jQuery('nav').removeClass("sticky");
        }
        });
        </script>
    </head>
    <body class="  catalog-product-view catalog-product-view product-lango-t-shirt rtl">
       <%  if flash.present? %>
      <% if flash.first.present? %>
        <div style="padding-top:2px;margin: 0px auto; width: 650px; border: 4px solid #2ECC71;border-radius:3px;position: fixed;width: 55%;text-align: center;margin-left: 21%;top: 0px;z-index: 10000;background: white;height: 61px;"><a class="close" data-dismiss="alert" style="margin-top: -9px;margin-right: -5px;color: black;background: white;border: 1px solid #6E953C;opacity:1;">×</a>
        <%= render partial: "layouts/shared/flash", locals: {flash: flash} %></div>
      <% end %>
    <% end %>
      <div id="page">
        <%= render partial: "layouts/shared/#{$client_name}_custom_shared_view/header",:layout => false  %>    
        <%= yield %>
        <%= render partial: "layouts/shared/#{$client_name}_custom_shared_view/footer",:layout => false  %>
      </div>
    </body>

<% if  $client_name == "ranees" %>
    <div id="mobile-menu" style="left: -250px; width: 250px;">
      
    <ul class="mobile-menu">
      
      <li><div class="home"> <a href="<%= root_path %>"><i class="icon-home"></i>Home</a> </div></li>
     <% @sections.roots.limit(6).sort_by(&:sort_order).each do |section| %>
      <li class="level0 nav-2 level-top parent">
        <% if @n >1  %>
          <span class="expand icon-plus"></span>
        <% end %>
        <a href="<%= section_path(section) %>" class="level-top" style="padding-right: 55px;">
        <span><%= section.name %></span>
        </a>
        <% if @n > 1 %>
          <% if section.children.present? %>
              <% section.check_header_limit.sort_by(&:sort_order).each do |children_section|%>
                <ul class="level0" style="display: none;">
                  <li class="level1 nav-1-1 first parent">
                    <% if @n >2  %>
                    <span class="expand icon-plus"></span>
                    <% end %>
                    <a href="<%= section_path(children_section) %>" style="padding-right: 55px;" class="<%= @n >2 ? '' : 'level-top' %>">
                    <span><%= children_section.name %></span>
                    </a>
                    <% if @n > 2 %>
                      <% if children_section.children.present? %>
                        <ul class="level1" style="display: none;">
                        <% children_section.check_header_limit.sort_by(&:sort_order).each do |sub_children_section| %>
                          <li class="level2 nav-1-1-2">
                            <a href="<%= section_path(sub_children_section) %>" style="padding-right: 55px;">
                              <span><%= sub_children_section.name %></span>
                            </a>
                          </li>
                        <% end %>
                        </ul>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              <% end %>
          <% end %>
        <% end %>
      </li>
     <% end %>      

    </ul> <!--mobile-menu-->
      <div id="fancybox-tmp"></div>
      <div id="fancybox-loading"><div></div></div>
      <div id="fancybox-overlay"></div>
      <div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div>
    </div>
    <% end %>

      <style>
      .close_this_alert{
        display: none;
      }
      </style>
  </html>
<% end %>

<span style="display:none;" id="blocklist_url"><%= admin_for_blocklist_path %></span>
<span style="display:none;" id="check_login_url"><%= check_user_login_path %></span>




<script>
  jQuery(".widget-modal-box").hide();
</script>
<% if (user_signed_in?) &&  (@path == "admin")  || (@path == "support")%>
<script>
  $ = jQuery.noConflict(); 
  var check_login_url = jQuery("#check_login_url").html();
  setInterval(function(){ 
    jQuery.ajax({
      url: check_login_url,
      data: {},
      type: 'GET',
      dataType:'json',
      success: function(data) {
        jQuery.each(data, function(index, element) {
          if (index == "exist"){
            if(element == false){
              window.location.href = "<%= user_session_path %>";
            }
          }
        })
      }
    });
   }, 30 * 60 * 1000);

  $(function () {
    checklink();
  });
  function checklink(){
    var blocklist_url = $("#blocklist_url").html();
    $.ajax({
    url: blocklist_url,
    data: {},
    type: 'GET',
    success: function(data, event, status, xhr) {

    },
    error: function(data, event, status, xhr) {
    }
    });
  }
  $(".for_fullscreen2").click(function(){
    $(".widget-modal-box").toggleClass("fullscreen");
    if($(".modal-backdrop").length == 0) {
      $("body").append('<div class="modal-backdrop fade in"></div>');
      $("body").css("overflow-y","hidden");
    }
    else{      
      $(".modal-backdrop").remove();
    }
  }); 
  $(".fullscreen_close").click(function(){
    $(".widget-modal-box").removeClass("fullscreen");
    $(".widget-modal-box").hide();
    $(".widget-modal-box").removeClass("fullscreen2");
    $(".modal-backdrop").remove();
    $("body").css("overflow-y","scroll");
  });
</script> 
<% end %>
